atualiza_mensal-Gjp7J1Ts3s4URjIs.json
{"updatedAt":"2026-04-06T14:28:29.780Z","createdAt":"2026-04-06T14:04:24.202Z","id":"Gjp7J1Ts3s4URjIs","name":"atualiza_mensal","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"months"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-400,-16],"id":"d1a8f3a3-18f7-4224-a2a0-0ec3e5b6dab1","name":"Schedule Trigger"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"usuario_fornecedor","mode":"list","cachedResultName":"usuario_fornecedor"},"columns":{"mappingMode":"defineBelow","value":{"n_creditos":1,"id":"={{ $json.id }}"},"matchingColumns":["id"],"schema":[{"id":"cnpj","displayName":"cnpj","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"assinatura_ativa","displayName":"assinatura_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"data_limite_plano","displayName":"data_limite_plano","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cnpj_basico","displayName":"cnpj_basico","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cnpj_ordem","displayName":"cnpj_ordem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cnpj_dv","displayName":"cnpj_dv","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subscription_end","displayName":"subscription_end","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"plano_categoria","displayName":"plano_categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cadastro_incompleto","displayName":"cadastro_incompleto","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"senha_temporaria","displayName":"senha_temporaria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"token_completar_cadastro","displayName":"token_completar_cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"webhook_elite_enviado","displayName":"webhook_elite_enviado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"webhook_elite_enviado_em","displayName":"webhook_elite_enviado_em","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"n_acessos","displayName":"n_acessos","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"upgrade_status","displayName":"upgrade_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"n_creditos","displayName":"n_creditos","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"selo_exibicao","displayName":"selo_exibicao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"n_creditos_pagos","displayName":"n_creditos_pagos","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[128,-176],"id":"33741550-9d15-429a-80c5-5f6dce413910","name":"Update rows in a table","credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"usuario_fornecedor","mode":"list","cachedResultName":"usuario_fornecedor"},"returnAll":true,"where":{"values":[{"column":"plano_categoria","value":"standard"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-128,-176],"id":"11df1c09-de18-45e6-b1a4-1f7bfed2a08f","name":"Select rows from a table","credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"usuario_fornecedor","mode":"list","cachedResultName":"usuario_fornecedor"},"columns":{"mappingMode":"defineBelow","value":{"n_creditos":10,"id":"={{ $json.id }}"},"matchingColumns":["id"],"schema":[{"id":"cnpj","displayName":"cnpj","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"assinatura_ativa","displayName":"assinatura_ativa","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"data_limite_plano","displayName":"data_limite_plano","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cnpj_basico","displayName":"cnpj_basico","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cnpj_ordem","displayName":"cnpj_ordem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cnpj_dv","displayName":"cnpj_dv","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subscription_end","displayName":"subscription_end","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"plano_categoria","displayName":"plano_categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cadastro_incompleto","displayName":"cadastro_incompleto","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"senha_temporaria","displayName":"senha_temporaria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"token_completar_cadastro","displayName":"token_completar_cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"webhook_elite_enviado","displayName":"webhook_elite_enviado","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"webhook_elite_enviado_em","displayName":"webhook_elite_enviado_em","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"n_acessos","displayName":"n_acessos","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"upgrade_status","displayName":"upgrade_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"n_creditos","displayName":"n_creditos","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"selo_exibicao","displayName":"selo_exibicao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"n_creditos_pagos","displayName":"n_creditos_pagos","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[128,112],"id":"ac76b37d-9de5-40bd-86e9-9a190f090ea6","name":"Update rows in a table1","credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"usuario_fornecedor","mode":"list","cachedResultName":"usuario_fornecedor"},"returnAll":true,"where":{"values":[{"column":"plano_categoria","value":"PME"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-128,112],"id":"6dcd2797-4a36-4b4f-ae36-a94694a243ea","name":"Select rows from a table1","credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Select rows from a table","type":"main","index":0},{"node":"Select rows from a table1","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"Update rows in a table","type":"main","index":0}]]},"Select rows from a table1":{"main":[[{"node":"Update rows in a table1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eb80b6d5-1bac-4873-a8bd-2b128d290dd9","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-06T14:04:24.202Z","createdAt":"2026-04-06T14:04:24.202Z","role":"workflow:owner","workflowId":"Gjp7J1Ts3s4URjIs","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":null,"tags":[]}