banco_vetorial-P6zSLwbIFHJQEeqs.json
{"updatedAt":"2026-06-16T16:21:08.557Z","createdAt":"2026-06-15T19:10:51.144Z","id":"P6zSLwbIFHJQEeqs","name":"Banco_vetorial","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"createCollection","collectionName":"whatsapp_bf","vectors":"{ \"size\": 1536, \"distance\": \"Cosine\" }\n\n\n\n\n\n","onDiskPayload":true,"requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-1728,-896],"id":"a2d0327c-9203-4904-9f4f-af63a1353214","name":"Create Collection","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"operation":"deleteCollection","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-6-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-6-BM25"},"requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-1504,-896],"id":"e7aeff74-8be5-48e3-9f17-cac3ecc09c82","name":"Delete Collection","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"content":"## Criar/Deletar Colection\n","height":240,"width":448,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1760,-976],"id":"2b3a17aa-c350-41d2-936a-b568c363abf4","name":"Sticky Note2"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/points/insert","sendBody":true,"bodyParameters":{"parameters":[{"name":"collection","value":"={{ $json.collection }}"},{"name":"point","value":"={{ $json.points }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1136,-80],"id":"67f6e063-110b-460c-ac74-96afe4939153","name":"post_qdrant","retryOnFail":true},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.texto_para_vetorizar }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1552,-80],"id":"c35b6563-3f4d-409b-9d5c-02535530224e","name":"embedding","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1984,-80],"id":"2b845093-dc64-4cfb-bfb6-f7ca261e95b3","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"f326c69c-8b5a-4849-8e26-68068bda8610","name":"text","value":"[   {     \"texto_para_vetorizar\": \"qual o serviço que você está oferecendo ?\",     \"acao_mapeada\": \"A minha empresa trabalha com busca de fornecedores para demandas que compradores buscam em nossa plataforma. O cadastro é gratuito! Basta acessar https://buscafornecedor.com.br/fornecedores, clicar no botão 'login' e escolher o tipo de cadastro para se registrar. Qualquer dúvida pode perguntar!\",     \"intencao\": \"duvida_servico\",     \"status\": \"Responder\"   },   {     \"texto_para_vetorizar\": \"quantas empresas compradoras existem na sua base de dados ?\",     \"acao_mapeada\": \"A base atualizada que temos atualmente conta com cerca de 500.000 perfis de empresas. Mas apenas uma pequena parte é cadastrada, quase todos são perfis que criamos com informações publicas. Para assumir o controle do seu perfil gratuitamente, basta acessar https://buscafornecedor.com.br/fornecedores e clicar no botão 'login' para se registrar. Qualquer dúvida pode perguntar!\",     \"intencao\": \"duvida_base_dados\",     \"status\": \"Ignorar\"   },   {     \"texto_para_vetorizar\": \"o comprador também paga ou somente o fornecedor ?\",     \"acao_mapeada\": \"No momento existem planos apenas para fornecedores. A plataforma não participa diretamente das negociações, sendo focada apenas em fazer a indicação de contatos. O cadastro para fornecedores é gratuito. Basta acessar https://buscafornecedor.com.br/fornecedores, clicar no botão 'login' na tela e se registrar. Qualquer dúvida pode perguntar!\",     \"intencao\": \"duvida_quem_paga\",     \"status\": \"Responder\"   },   {     \"texto_para_vetorizar\": \"boa tarde. agradecemos a oferta, mas não vamos fazer a assinatura...\",     \"acao_mapeada\": \"Não estou recomendando a assinatura não! O cadastro pode ser gratuito mesmo e já te concede acesso ao perfil. Para realizar o cadastro gratuito, basta acessar https://buscafornecedor.com.br/fornecedores e clicar no botão 'login'. Qualquer dúvida pode perguntar!\",     \"intencao\": \"objecao_assinatura\",     \"status\": \"Ignorar\"   },   {     \"texto_para_vetorizar\": \"qual o custo?\",     \"acao_mapeada\": \"É gratuito! Só criar o cadastro e já é possível ver quantas pessoas te buscaram além de modificar o perfil da empresa. Acesse https://buscafornecedor.com.br/fornecedores, clique no botão 'login' e escolha o tipo de cadastro. Qualquer dúvida pode perguntar!\",     \"intencao\": \"objecao_preco\",     \"status\": \"Responder\"   },   {     \"texto_para_vetorizar\": \"só no fechamento tem custo?\",     \"acao_mapeada\": \"Não tem custo nenhum, nós apenas recomendamos fornecedores. A plataforma não participa diretamente das negociações. Para criar sua conta gratuitamente, acesse https://buscafornecedor.com.br/fornecedores e clique no botão 'login'. Qualquer dúvida pode perguntar!\",     \"intencao\": \"objecao_taxa_fechamento\",     \"status\": \"Ignorar\"   },   {     \"texto_para_vetorizar\": \"Entendo, mas consigo me cadastrar como forncedor/distribuidor ? ou apenas buscar fornecedores ?\",     \"acao_mapeada\": \"Consegue sim! Com um perfil cadastrado é possível customizar as informações da sua empresa e aparecer em mais buscas. O cadastro é gratuito, basta acessar https://buscafornecedor.com.br/fornecedores e clicar no botão 'login' para se registrar. Qualquer dúvida pode perguntar!\",     \"intencao\": \"duvida_funcionalidade\",     \"status\": \"Responder\"   },   {     \"texto_para_vetorizar\": \"Não consegui ler 100%. Mas, pode pegar informações no nosso site também.\",     \"acao_mapeada\": \"Sim, na verdade o perfil atual que temos de vocês foi feito com base no site mesmo! O cadastro é só para colocar esse perfil na mão de vocês! O processo é super rápido e gratuito, basta acessar https://buscafornecedor.com.br/fornecedores, clicar no botão 'login' e escolher o tipo de cadastro. Qualquer dúvida pode perguntar!\",     \"intencao\": \"falta_de_tempo_preguica\",     \"status\": \"Ignorar\"   } ]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1760,-80],"id":"d89121d9-5df1-4019-b014-98ce5fb980eb","name":"Edit Fields"},{"parameters":{"resource":"point","operation":"upsertPoints","collectionName":{"__rl":true,"value":"whatsapp_bf","mode":"list","cachedResultName":"whatsapp_bf"},"points":"={{ $json.points }}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-752,-320],"id":"c2c4a191-49bd-48ba-9d72-eca1a84702d8","name":"Upsert Points","executeOnce":false,"retryOnFail":false,"credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"bae36028-4f1c-485c-af47-bb1c934da77e","name":"points.vectors","value":"={{ $json.data[0].embedding }}","type":"array"},{"id":"01ab293d-d1e3-4110-9950-1d314b1a6b15","name":"points.payload.intencao","value":"={{ $('Edit Fields').item.json.intencao }}","type":"string"},{"id":"977b4034-9ebe-47dd-8bfc-e13f41fdec9e","name":"points.payload.status","value":"={{ $('Edit Fields').item.json.status }}","type":"string"},{"id":"e94df526-86ec-4396-8346-5ea0a2f26530","name":"points.payload.resposta","value":"={{ $('Edit Fields').item.json.acao_mapeada }}","type":"string"},{"id":"9b9c8078-ad3e-4224-a0fc-42d845191671","name":"points.payload.text","value":"={{ $('Edit Fields').item.json.texto_para_vetorizar }}","type":"string"},{"id":"2780df82-e125-4dc5-a759-7e349a183d04","name":"collection","value":"whatsapp_bf","type":"string"},{"id":"38ac09a5-038b-4ad1-ac3b-4c07512c8dad","name":"points.id","value":"={{ Math.floor(Math.random() * 1000000000000) }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1344,-80],"id":"60b007be-1028-42bd-9e98-06eced936971","name":"set_point"},{"parameters":{"fieldToSplitOut":"text","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1136,-320],"id":"8e551334-c6ce-45a4-8d04-509dea0eae66","name":"Split Out"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-944,-320],"id":"bf1a271b-0e1c-418e-82c7-0037ff26ab59","name":"Limit"},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"whatsapp_bf","mode":"list","cachedResultName":"whatsapp_bf"},"fieldName":"text","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-1376,-656],"id":"9aefa5f0-7f81-45a1-82f9-ed1d0a0eb4fc","name":"text","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"whatsapp_bf","mode":"list","cachedResultName":"whatsapp_bf"},"fieldName":"intencao","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-1984,-656],"id":"528e90d9-55dd-4e6d-853f-ba0ef0141beb","name":"intencao","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"whatsapp_bf","mode":"list","cachedResultName":"whatsapp_bf"},"fieldName":"status","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-1776,-656],"id":"7911e8c0-44c4-4ac0-a3e7-d39029d29da7","name":"status","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"whatsapp_bf","mode":"list","cachedResultName":"whatsapp_bf"},"fieldName":"resposta","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-1568,-656],"id":"7b16fbea-8244-4bfc-9742-8d4aeb71a43e","name":"resposta","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"hasOutputParser":true,"options":{"systemMessage":"=CONTEXTO E MISSÃO \n\nVocê é o \"Identificador\", o cérebro analítico do chatbot de prospecção do BuscaFornecedor.com.br no WhatsApp. Sua missão NÃO é conversar com o cliente. Sua missão é ler a mensagem recebida, buscar a intenção correta no banco de dados, avaliar o cenário e gerar um relatório estruturado para que o módulo \"Escritor\" (a persona Cláudia) saiba exatamente como redigir a resposta.\n\nFERRAMENTA OBRIGATÓRIA \nSempre que receber uma mensagem do usuário, você deve utilizar a ferramenta de busca semântica consultando o Qdrant Vector Store. Ao consultar o Qdrant, você receberá os chunks (exemplos de conversas passadas) mais parecidos com a mensagem atual. Analise os resultados retornados pelo banco para tomar sua decisão.\n\nDIRETRIZES DE CLASSIFICAÇÃO \nCom base nos resultados do Qdrant Vector Store, classifique a mensagem do usuário em uma das intenções mapeadas e defina o status da ação:\nStatus \"Responder\": Usado para interações humanas reais que exigem continuidade (ex: duvida_servico, duvida_quem_paga, objecao_preco, duvida_funcionalidade).\nStatus \"Ignorar\": Usado para travar o fluxo e não gerar resposta. Aplica-se a mensagens de assistentes virtuais, redirecionamentos de canal, envio de cardápios/catálogos (mensagem_automatica), ou quando o cliente se recusa por confusão com vendas (objecao_assinatura) para que um humano avalie.\n\nANÁLISE E JUSTIFICATIVA \nVocê deve gerar uma justificativa lógica explicando o motivo da classificação escolhida, citando o gatilho encontrado na frase do cliente.\n\nTAXA DE ACERTO (CONFIANÇA) \nAvalie a similaridade entre a mensagem atual do cliente e o exemplo retornado pelo Qdrant. Atribua uma taxa de acerto (de 0% a 100%) representando o seu nível de confiança de que a intenção real do cliente corresponde à intenção mapeada no banco.\nAcima de 85%: Correspondência quase exata.\nEntre 60% e 84%: Variação de palavras, mas mesmo sentido.\nAbaixo de 60%: Intenção dúbia. Se a taxa for muito baixa, oriente o Escritor a adotar uma postura de sondagem ou pedir para o cliente reformular.\n\nFORMATO DE SAÍDA OBRIGATÓRIO (JSON) \n\nGere a sua resposta estritamente no formato JSON abaixo, para que o sistema possa direcionar os dados ao módulo Escritor:\n{\n  \"intencao_identificada\": \"nome_da_intencao_(ex: objecao_preco)\",\n  \"status_da_acao\": \"Responder ou Ignorar\",\n  \"taxa_de_acerto\": \"XX%\",\n  \"justificativa\": \"Explique por que escolheu essa intenção, mencionando a palavra-chave ou contexto da mensagem original e do Qdrant.\",\n  \"acao_mapeada_qdrant\": \"Cole aqui a ação mapeada retornada pelo Qdrant Vector Store para esse caso.\",\n  \"diretriz_para_escritor\": \"Dê instruções curtas para a Cláudia redigir a resposta final (Ex: 'Esclareça que não tem custo e envie o link do Busca Fornecedor com o emoji 👉' ou 'Paralise o fluxo pois é um robô respondendo').\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-1056,368],"id":"66940366-3570-4394-8850-9fb17c974001","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1552,624],"id":"0d4c252d-8b1a-4c6d-a83f-a834aa1608ba","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1152,624],"id":"da90a9f7-5404-46f2-a344-931596c09126","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-1808,368],"id":"a526cdfb-9c58-45d6-900c-baf7eee9efd0","name":"When chat message received","webhookId":"eeb37c2f-6512-44be-9d2f-01f7598152f7"},{"parameters":{"jsonSchemaExample":"{\n  \"intencao_identificada\": \"nome_da_intencao_(ex: objecao_preco)\",\n  \"status_da_acao\": \"Responder ou Ignorar\",\n  \"taxa_de_acerto\": \"XX%\",\n  \"justificativa\": \"Explique por que escolheu essa intenção, mencionando a palavra-chave ou contexto da mensagem original e do Qdrant.\",\n  \"acao_mapeada_qdrant\": \"Cole aqui a ação mapeada retornada pelo Qdrant Vector Store para esse caso.\",\n  \"diretriz_para_escritor\": \"Dê instruções curtas para a Cláudia redigir a resposta final (Ex: 'Esclareça que não tem custo e envie o link do Busca Fornecedor com o emoji 👉' ou 'Paralise o fluxo pois é um robô respondendo').\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-800,624],"id":"3bed23fc-0c24-4856-8929-e3588dff7326","name":"Structured Output Parser"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.status_da_acao }}","rightValue":"Ignorar","operator":{"type":"string","operation":"equals"},"id":"d5e70b51-c10a-4f32-8037-b78639a02ec2"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignorar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"21862779-e0b1-45da-99b5-9337effa8800","leftValue":"={{ $json.output.status_da_acao }}","rightValue":"Responder","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Responder"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-656,368],"id":"a0cf002d-539d-4028-9177-726411a81281","name":"Switch"},{"parameters":{"hasOutputParser":true,"options":{"systemMessage":"=# CONTEXTO E PERSONA\nVocê é a Cláudia, especialista em relacionamento com fornecedores da plataforma BuscaFornecedor.com.br. Seu tom de voz é estritamente humano, prestativo, comercialmente inteligente, direto ao ponto e focado em negócios (B2B). Você fala pelo WhatsApp, portanto, use mensagens curtas, parágrafos espaçados e evite jargões excessivamente robóticos ou formais. Jamais envie \"paredões de texto\".\n\n# O PRODUTO (BUSCA FORNECEDOR)\n- O que é: Uma plataforma que usa Inteligência Artificial e cruzamento de dados para conectar compradores corporativos (grandes empresas) aos fornecedores ideais.\n- Para Compradores: É 100% gratuito. Eles entram, descrevem o escopo do que precisam e o sistema gera uma lista de fornecedores recomendados.\n- Perfis de Fornecedor: A plataforma cria perfis automáticos baseados nos sites das empresas. Por isso, as informações iniciais deles lá dentro podem estar limitadas. O fornecedor pode assumir esse perfil e customizá-lo gratuitamente.\n- Dashboard Gratuito: O fornecedor logado vê o volume de buscas em que a empresa dele foi indicada e quais nichos procuraram por ele.\n- Modelo de Negócio (Transparência): O cadastro e a visualização do dashboard são gratuitos. Para ter acesso aos dados de contato direto e detalhes específicos dos compradores, o fornecedor utiliza créditos ou planos (mencione isso apenas se questionado, de forma natural).\n\n# SEU OBJETIVO PRINCIPAL\nSanar dúvidas com total transparência e guiar o fornecedor para que ele clique no link e faça o cadastro/ativação da conta gratuita dele.\n\n# DIRETRIZES DE COMPORTAMENTO E TRATAMENTO DE RESPOSTAS\n\n1. Resposta Rápida e Alinhamento de Expectativa (Caso o cliente ache que VOCÊ é o comprador):\n   - Esclareça imediatamente que você é a plataforma que conecta as pontas. \n   - Mostre que os dados da oportunidade (endereço, escopo, contato do comprador) estão protegidos dentro do painel deles.\n   - Exemplo de linha de raciocínio: \"Prazer, sou a Cláudia. Nós somos a plataforma que centraliza essas demandas. O escopo e o contato do comprador ficam no nosso painel corporativo...\"\n\n2. Valorização do Cadastro Gratuito:\n   - Explique que o perfil deles já existe de forma automatizada (gerado pelo site deles) e que eles precisam \"reivindicar\" e ativar essa conta para não perderem as cotações que chegam do setor deles.\n   - Destaque que no dashboard gratuito eles já conseguem ver a movimentação do mercado deles.\n\n3. Transparência Antifrustração (Ganha-Crédito):\n   - Se o cliente perguntar se é pago ou como funciona para ver os clientes, seja direto: \"A ativação do seu perfil e o painel de monitoramento de buscas são gratuitos. Para liberar o contato direto de compradores específicos, a plataforma funciona com um sistema de créditos ou planos bem acessíveis. Mas o recebimento das demandas no seu painel é livre.\"\n\n4. Estrutura de Mensagem no WhatsApp:\n   - Sempre comece respondendo à dúvida direta do cliente.\n   - Explique o benefício em 2 ou 3 linhas.\n   - Termine com uma CTA (Chamada para Ação) clara e o link.\n   - Sempre use o emoji \"👉\" antes do link para guiar o clique.\n   - O link da plataforma que deve ser enviado é sempre: https://buscafornecedor.com.br/"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-320,384],"id":"6efca52d-28d5-4980-b115-4af47fad6693","name":"AI Agent1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"embedding":{"main":[[{"node":"set_point","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"embedding","type":"main","index":0}]]},"set_point":{"main":[[{"node":"post_qdrant","type":"main","index":0}]]},"Split Out":{"main":[[]]},"Limit":{"main":[[]]},"intencao":{"main":[[{"node":"status","type":"main","index":0}]]},"status":{"main":[[{"node":"resposta","type":"main","index":0}]]},"resposta":{"main":[[{"node":"text","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[],[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{},"pairedItem":{"item":0}}],"Split Out":[{"json":{"texto_para_vetorizar":"qual o serviço que você está oferecendo ?","acao_mapeada":"A minha empresa trabalha com busca de fornecedores para demandas que compradores buscam em nossa plataforma. O cadastro é gratuito! Basta acessar https://buscafornecedor.com.br/fornecedores, clicar no botão 'login' e escolher o tipo de cadastro para se registrar. Qualquer dúvida pode perguntar!","intencao":"duvida","status":"Responder"},"pairedItem":{"item":0}},{"json":{"texto_para_vetorizar":"quantas empresas compradoras existem na sua base de dados ?","acao_mapeada":"A base atualizada que temos atualmente conta com cerca de 500.000 perfis de empresas. Mas apenas uma pequena parte é cadastrada, quase todos são perfis que criamos com informações publicas. Para assumir o controle do seu perfil gratuitamente, basta acessar https://buscafornecedor.com.br/fornecedores e clicar no botão 'login' para se registrar. Qualquer dúvida pode perguntar!","intencao":"duvida","status":"Ignorar"},"pairedItem":{"item":0}},{"json":{"texto_para_vetorizar":"o comprador também paga ou somente o fornecedor ?","acao_mapeada":"No momento existem planos apenas para fornecedores. A plataforma não participa diretamente das negociações, sendo focada apenas em fazer a indicação de contatos. O cadastro para fornecedores é gratuito. Basta acessar https://buscafornecedor.com.br/fornecedores, clicar no botão 'login' na tela e se registrar. Qualquer dúvida pode perguntar!","intencao":"duvida","status":"Responder"},"pairedItem":{"item":0}},{"json":{"texto_para_vetorizar":"boa tarde. agradecemos a oferta, mas não vamos fazer a assinatura...","acao_mapeada":"Não estou recomendando a assinatura não! O cadastro pode ser gratuito mesmo e já te concede acesso ao perfil. Para realizar o cadastro gratuito, basta acessar https://buscafornecedor.com.br/fornecedores e clicar no botão 'login'. Qualquer dúvida pode perguntar!","intencao":"objecao","status":"Ignorar"},"pairedItem":{"item":0}},{"json":{"texto_para_vetorizar":"qual o custo?","acao_mapeada":"É gratuito! Só criar o cadastro e já é possível ver quantas pessoas te buscaram além de modificar o perfil da empresa. Acesse https://buscafornecedor.com.br/fornecedores, clique no botão 'login' e escolha o tipo de cadastro. Qualquer dúvida pode perguntar!","intencao":"objecao","status":"Responder"},"pairedItem":{"item":0}},{"json":{"texto_para_vetorizar":"só no fechamento tem custo?","acao_mapeada":"Não tem custo nenhum, nós apenas recomendamos fornecedores. A plataforma não participa diretamente das negociações. Para criar sua conta gratuitamente, acesse https://buscafornecedor.com.br/fornecedores e clique no botão 'login'. Qualquer dúvida pode perguntar!","intencao":"objecao","status":"Ignorar"},"pairedItem":{"item":0}},{"json":{"texto_para_vetorizar":"Entendo, mas consigo me cadastrar como forncedor/distribuidor ? ou apenas buscar fornecedores ?","acao_mapeada":"Consegue sim! Com um perfil cadastrado é possível customizar as informações da sua empresa e aparecer em mais buscas. O cadastro é gratuito, basta acessar https://buscafornecedor.com.br/fornecedores e clicar no botão 'login' para se registrar. Qualquer dúvida pode perguntar!","intencao":"duvida","status":"Responder"},"pairedItem":{"item":0}},{"json":{"texto_para_vetorizar":"Não consegui ler 100%. Mas, pode pegar informações no nosso site também.","acao_mapeada":"Sim, na verdade o perfil atual que temos de vocês foi feito com base no site mesmo! O cadastro é só para colocar esse perfil na mão de vocês! O processo é super rápido e gratuito, basta acessar https://buscafornecedor.com.br/fornecedores, clicar no botão 'login' e escolher o tipo de cadastro. Qualquer dúvida pode perguntar!","intencao":"objecao","status":"Ignorar"},"pairedItem":{"item":0}}],"Edit Fields":[{"json":{"texto_para_vetorizar":"Olá, bom dia! O que você quer? / Em que posso ajudar? / LINEAR SERVIÇOS!!! Em que posso ajudar? / Boa tarde","acao_mapeada":"Opa! Como estão as coisas? Eu sou do Busca Fornecedor. Apenas gostaria de indicar a criação de um perfil gratuito para a empresa de vocês, assim podemos indicar vocês em demandas futuras [2, 3]. Acesse https://buscafornecedor.com.br/ e clique no botão 'login' para se registrar [1]. Qualquer dúvida pode perguntar!","intencao":"saudacao_humana_direta","status":"Responder"}},{"json":{"texto_para_vetorizar":"Claro, estamos a disposição para novos clientes. / Temos sim. Mas, para cada medida uma quantidade mínima. / posso analisar o projeto e cotar","acao_mapeada":"Boa! Eu trabalho em um site que faz a indicação de fornecedores, o Busca Fornecedor [4]. A empresa de vocês foi consultada por alguns compradores no nosso site, por isso o contato [5, 6]. O cadastro é gratuito, basta acessar https://buscafornecedor.com.br/fornecedores e clicar em 'login' [1]. Qualquer dúvida pode me chamar aqui!","intencao":"capacidade_positiva","status":"Responder"}},{"json":{"texto_para_vetorizar":"qual o serviço que você está oferecendo ?","acao_mapeada":"A minha empresa trabalha com busca de fornecedores para demandas que compradores buscam em nossa plataforma [2]. O cadastro é gratuito! Basta acessar https://buscafornecedor.com.br/fornecedores, clicar no botão 'login' e escolher o tipo de cadastro para se registrar [1]. Qualquer dúvida pode perguntar!","intencao":"duvida_servico","status":"Responder"}},{"json":{"texto_para_vetorizar":"Legal, vou fazer o cadastro lá. / poderia me passar o link ? / to vendo aqui / vou pedir autorização pra diretoria pra cadastrar","acao_mapeada":"Aqui está o link: https://buscafornecedor.com.br/fornecedores [7, 8]. O processo é super rápido e gratuito, basta clicar no botão 'login' e escolher o tipo de cadastro para se registrar [1]. Qualquer dúvida pode perguntar!","intencao":"aceite_cadastro","status":"Responder"}},{"json":{"texto_para_vetorizar":"qual o custo?","acao_mapeada":"É gratuito! Só criar o cadastro e já é possível ver quantas pessoas te buscaram além de modificar o perfil da empresa [9]. Acesse https://buscafornecedor.com.br/fornecedores, clique no botão 'login' e escolha o tipo de cadastro [1]. Qualquer dúvida pode perguntar!","intencao":"objecao_preco","status":"Responder"}},{"json":{"texto_para_vetorizar":"só no fechamento tem custo? / o comprador também paga ou somente o fornecedor ?","acao_mapeada":"Não tem custo nenhum, nós apenas recomendamos fornecedores [10]. A plataforma não participa diretamente das negociações [1]. Para criar sua conta gratuitamente, acesse https://buscafornecedor.com.br/fornecedores e clique no botão 'login' [1]. Qualquer dúvida pode perguntar!","intencao":"objecao_taxa_fechamento","status":"Responder"}},{"json":{"texto_para_vetorizar":"Entendo, mas consigo me cadastrar como forncedor/distribuidor ? ou apenas buscar fornecedores ? / consigo limitar a área de atuação? / Conta criada, consigo saber quem me buscou ?","acao_mapeada":"Consegue sim! Com um perfil cadastrado é possível customizar as informações da sua empresa, aparecer em mais buscas e saber quem te buscou [6, 10, 11]. O cadastro é gratuito, basta acessar https://buscafornecedor.com.br/fornecedores e clicar no botão 'login' para se registrar [1]. Qualquer dúvida pode perguntar!","intencao":"duvida_funcionalidade","status":"Responder"}},{"json":{"texto_para_vetorizar":"quantas empresas compradoras existem na sua base de dados ?","acao_mapeada":"A base atualizada que temos atualmente conta com cerca de 500.000 perfis de empresas. Mas apenas uma pequena parte é cadastrada, quase todos são perfis que criamos com informações publicas [7]. Para assumir o controle do seu perfil gratuitamente, basta acessar https://buscafornecedor.com.br/fornecedores e clicar no botão 'login' para se registrar [1].","intencao":"duvida_base_dados","status":"Responder"}},{"json":{"texto_para_vetorizar":"Não consegui ler 100%. Mas, pode pegar informações no nosso site também.","acao_mapeada":"Sim, na verdade o perfil atual que temos de vocês foi feito com base no site mesmo! O cadastro é só para colocar esse perfil na mão de vocês [12]. O processo é super rápido e gratuito, basta acessar https://buscafornecedor.com.br/fornecedores, clicar no botão 'login' e escolher o tipo de cadastro [1].","intencao":"falta_de_tempo_preguica","status":"Responder"}},{"json":{"texto_para_vetorizar":"boa tarde. agradecemos a oferta, mas não vamos fazer a assinatura... / se não há valor a ser pago, tudo bem ...","acao_mapeada":"Não estou recomendando a assinatura não! O cadastro pode ser gratuito mesmo e já te concede acesso ao perfil [13]. Para realizar o cadastro gratuito, basta acessar https://buscafornecedor.com.br/fornecedores e clicar no botão 'login' [1].","intencao":"objecao_assinatura","status":"Ignorar"}}],"When chat message received":[{"json":{"sessionId":"2c86b34dfeb34517b826b0ced61046da","action":"sendMessage","chatInput":"Bom dia! O que voce quer?\n\n"},"pairedItem":{"item":0}}]},"versionId":"c0e885a5-d037-4ba6-973c-a4f3c4a684e6","activeVersionId":"c2d42997-11c2-4cd9-b6d8-1d7b50a3390d","triggerCount":1,"shared":[{"updatedAt":"2026-06-15T19:10:51.144Z","createdAt":"2026-06-15T19:10:51.144Z","role":"workflow:owner","workflowId":"P6zSLwbIFHJQEeqs","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-06-16T13:17:43.241Z","createdAt":"2026-06-16T13:16:21.894Z","versionId":"c2d42997-11c2-4cd9-b6d8-1d7b50a3390d","workflowId":"P6zSLwbIFHJQEeqs","nodes":[{"parameters":{"operation":"createCollection","collectionName":"whatsapp_bf","vectors":"{\n  \"mensagem\": { \"size\": 1536, \"distance\": \"Cosine\" }\n}\n\n\n\n\n\n","onDiskPayload":true,"requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-1744,-192],"id":"a2d0327c-9203-4904-9f4f-af63a1353214","name":"Create Collection","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"operation":"deleteCollection","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-6-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-6-BM25"},"requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-1520,-192],"id":"e7aeff74-8be5-48e3-9f17-cac3ecc09c82","name":"Delete Collection","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"content":"## Criar/Deletar Colection\n","height":272,"width":560,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1856,-272],"id":"2b3a17aa-c350-41d2-936a-b568c363abf4","name":"Sticky Note2"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/points/insert","sendBody":true,"bodyParameters":{"parameters":[{"name":"collection","value":"={{ $json.collection }}"},{"name":"point","value":"={{ $json.points }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-544,112],"id":"67f6e063-110b-460c-ac74-96afe4939153","name":"post_qdrant","retryOnFail":true},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.texto_para_vetorizar }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-992,112],"id":"c35b6563-3f4d-409b-9d5c-02535530224e","name":"embedding","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1616,112],"id":"2b845093-dc64-4cfb-bfb6-f7ca261e95b3","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"f326c69c-8b5a-4849-8e26-68068bda8610","name":"text","value":"[   {     \"texto_para_vetorizar\": \"qual o serviço que você está oferecendo ?\",     \"acao_mapeada\": \"A minha empresa trabalha com busca de fornecedores para demandas que compradores buscam em nossa plataforma. O cadastro é gratuito! Basta acessar https://buscafornecedor.com.br/fornecedores, clicar no botão 'login' e escolher o tipo de cadastro para se registrar. Qualquer dúvida pode perguntar!\",     \"intencao\": \"duvida_servico\",     \"status\": \"Responder\"   },   {     \"texto_para_vetorizar\": \"quantas empresas compradoras existem na sua base de dados ?\",     \"acao_mapeada\": \"A base atualizada que temos atualmente conta com cerca de 500.000 perfis de empresas. Mas apenas uma pequena parte é cadastrada, quase todos são perfis que criamos com informações publicas. Para assumir o controle do seu perfil gratuitamente, basta acessar https://buscafornecedor.com.br/fornecedores e clicar no botão 'login' para se registrar. Qualquer dúvida pode perguntar!\",     \"intencao\": \"duvida_base_dados\",     \"status\": \"Ignorar\"   },   {     \"texto_para_vetorizar\": \"o comprador também paga ou somente o fornecedor ?\",     \"acao_mapeada\": \"No momento existem planos apenas para fornecedores. A plataforma não participa diretamente das negociações, sendo focada apenas em fazer a indicação de contatos. O cadastro para fornecedores é gratuito. Basta acessar https://buscafornecedor.com.br/fornecedores, clicar no botão 'login' na tela e se registrar. Qualquer dúvida pode perguntar!\",     \"intencao\": \"duvida_quem_paga\",     \"status\": \"Responder\"   },   {     \"texto_para_vetorizar\": \"boa tarde. agradecemos a oferta, mas não vamos fazer a assinatura...\",     \"acao_mapeada\": \"Não estou recomendando a assinatura não! O cadastro pode ser gratuito mesmo e já te concede acesso ao perfil. Para realizar o cadastro gratuito, basta acessar https://buscafornecedor.com.br/fornecedores e clicar no botão 'login'. Qualquer dúvida pode perguntar!\",     \"intencao\": \"objecao_assinatura\",     \"status\": \"Ignorar\"   },   {     \"texto_para_vetorizar\": \"qual o custo?\",     \"acao_mapeada\": \"É gratuito! Só criar o cadastro e já é possível ver quantas pessoas te buscaram além de modificar o perfil da empresa. Acesse https://buscafornecedor.com.br/fornecedores, clique no botão 'login' e escolha o tipo de cadastro. Qualquer dúvida pode perguntar!\",     \"intencao\": \"objecao_preco\",     \"status\": \"Responder\"   },   {     \"texto_para_vetorizar\": \"só no fechamento tem custo?\",     \"acao_mapeada\": \"Não tem custo nenhum, nós apenas recomendamos fornecedores. A plataforma não participa diretamente das negociações. Para criar sua conta gratuitamente, acesse https://buscafornecedor.com.br/fornecedores e clique no botão 'login'. Qualquer dúvida pode perguntar!\",     \"intencao\": \"objecao_taxa_fechamento\",     \"status\": \"Ignorar\"   },   {     \"texto_para_vetorizar\": \"Entendo, mas consigo me cadastrar como forncedor/distribuidor ? ou apenas buscar fornecedores ?\",     \"acao_mapeada\": \"Consegue sim! Com um perfil cadastrado é possível customizar as informações da sua empresa e aparecer em mais buscas. O cadastro é gratuito, basta acessar https://buscafornecedor.com.br/fornecedores e clicar no botão 'login' para se registrar. Qualquer dúvida pode perguntar!\",     \"intencao\": \"duvida_funcionalidade\",     \"status\": \"Responder\"   },   {     \"texto_para_vetorizar\": \"Não consegui ler 100%. Mas, pode pegar informações no nosso site também.\",     \"acao_mapeada\": \"Sim, na verdade o perfil atual que temos de vocês foi feito com base no site mesmo! O cadastro é só para colocar esse perfil na mão de vocês! O processo é super rápido e gratuito, basta acessar https://buscafornecedor.com.br/fornecedores, clicar no botão 'login' e escolher o tipo de cadastro. Qualquer dúvida pode perguntar!\",     \"intencao\": \"falta_de_tempo_preguica\",     \"status\": \"Ignorar\"   } ]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1424,112],"id":"d89121d9-5df1-4019-b014-98ce5fb980eb","name":"Edit Fields"},{"parameters":{"resource":"point","operation":"upsertPoints","collectionName":{"__rl":true,"value":"whatsapp_bf","mode":"list","cachedResultName":"whatsapp_bf"},"points":"={{ $json.points }}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-736,-192],"id":"c2c4a191-49bd-48ba-9d72-eca1a84702d8","name":"Upsert Points","executeOnce":false,"retryOnFail":false,"credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"bae36028-4f1c-485c-af47-bb1c934da77e","name":"points.vectors.mensagem","value":"={{ $json.data[0].embedding }}","type":"array"},{"id":"01ab293d-d1e3-4110-9950-1d314b1a6b15","name":"points.payload.intencao","value":"={{ $('Edit Fields').item.json.text[0].intencao }}","type":"string"},{"id":"977b4034-9ebe-47dd-8bfc-e13f41fdec9e","name":"points.payload.status","value":"={{ $('Edit Fields').item.json.text[0].status }}","type":"string"},{"id":"e94df526-86ec-4396-8346-5ea0a2f26530","name":"points.payload.resposta","value":"={{ $('Edit Fields').item.json.text[0].acao_mapeada }}","type":"string"},{"id":"9b9c8078-ad3e-4224-a0fc-42d845191671","name":"points.payload.text","value":"={{ $('Edit Fields').item.json.text[0].texto_para_vetorizar }}","type":"string"},{"id":"2780df82-e125-4dc5-a759-7e349a183d04","name":"collection","value":"whatsapp_bf","type":"string"},{"id":"38ac09a5-038b-4ad1-ac3b-4c07512c8dad","name":"points.id","value":"={{ Math.floor(Math.random() * 1000000000000) }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-752,112],"id":"60b007be-1028-42bd-9e98-06eced936971","name":"set_point"},{"parameters":{"fieldToSplitOut":"text","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1216,112],"id":"8e551334-c6ce-45a4-8d04-509dea0eae66","name":"Split Out"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-960,-192],"id":"bf1a271b-0e1c-418e-82c7-0037ff26ab59","name":"Limit"},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"whatsapp_bf","mode":"list","cachedResultName":"whatsapp_bf"},"fieldName":"text","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-1216,-496],"id":"9aefa5f0-7f81-45a1-82f9-ed1d0a0eb4fc","name":"text","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"whatsapp_bf","mode":"list","cachedResultName":"whatsapp_bf"},"fieldName":"intencao","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-1824,-496],"id":"528e90d9-55dd-4e6d-853f-ba0ef0141beb","name":"intencao","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"whatsapp_bf","mode":"list","cachedResultName":"whatsapp_bf"},"fieldName":"status","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-1616,-496],"id":"7911e8c0-44c4-4ac0-a3e7-d39029d29da7","name":"status","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"whatsapp_bf","mode":"list","cachedResultName":"whatsapp_bf"},"fieldName":"resposta","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-1408,-496],"id":"7b16fbea-8244-4bfc-9742-8d4aeb71a43e","name":"resposta","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-1168,432],"id":"66940366-3570-4394-8850-9fb17c974001","name":"AI Agent"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Registro de conversas reais que ocorreram no whatsapp.","qdrantCollection":{"__rl":true,"value":"whatsapp_bf","mode":"list","cachedResultName":"whatsapp_bf"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[-1104,672],"id":"cef2d29e-3e17-44ce-9778-48aa499983dc","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"efUO7YQA32OaG6wj","name":"QdrantApi account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1104,800],"id":"0d4c252d-8b1a-4c6d-a83f-a834aa1608ba","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1248,640],"id":"da90a9f7-5404-46f2-a344-931596c09126","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-1376,432],"id":"a526cdfb-9c58-45d6-900c-baf7eee9efd0","name":"When chat message received","webhookId":"eeb37c2f-6512-44be-9d2f-01f7598152f7"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"embedding":{"main":[[{"node":"set_point","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"set_point":{"main":[[{"node":"post_qdrant","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"embedding","type":"main","index":0}]]},"Limit":{"main":[[]]},"intencao":{"main":[[{"node":"status","type":"main","index":0}]]},"status":{"main":[[{"node":"resposta","type":"main","index":0}]]},"resposta":{"main":[[{"node":"text","type":"main","index":0}]]},"Qdrant Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"authors":"ABC  advise","name":"Version c2d42997","description":"","autosaved":true},"tags":[]}