banco_vetorial-P6zSLwbIFHJQEeqs.json
{"updatedAt":"2026-06-15T21:40:17.245Z","createdAt":"2026-06-15T19:10:51.144Z","id":"P6zSLwbIFHJQEeqs","name":"Banco_vetorial","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"createCollection","collectionName":"whatsapp_bf","vectors":"{\n  \"mensagem\": { \"size\": 1536, \"distance\": \"Cosine\" }\n}\n\n\n\n\n\n","onDiskPayload":true,"requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-1744,-192],"id":"a2d0327c-9203-4904-9f4f-af63a1353214","name":"Create Collection","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"operation":"deleteCollection","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-6-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-6-BM25"},"requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-1520,-192],"id":"e7aeff74-8be5-48e3-9f17-cac3ecc09c82","name":"Delete Collection","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"content":"## Criar/Deletar Colection\n","height":272,"width":560,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1856,-272],"id":"2b3a17aa-c350-41d2-936a-b568c363abf4","name":"Sticky Note2"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/points/insert","sendBody":true,"bodyParameters":{"parameters":[{"name":"collection","value":"={{ $json.collection }}"},{"name":"point","value":"={{ $json.points }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-544,112],"id":"67f6e063-110b-460c-ac74-96afe4939153","name":"post_qdrant","retryOnFail":true},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.texto_para_vetorizar }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-992,112],"id":"c35b6563-3f4d-409b-9d5c-02535530224e","name":"embedding","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1808,112],"id":"2b845093-dc64-4cfb-bfb6-f7ca261e95b3","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"f326c69c-8b5a-4849-8e26-68068bda8610","name":"text","value":"[   {     \"texto_para_vetorizar\": \"qual o serviço que você está oferecendo ?\",     \"acao_mapeada\": \"A minha empresa trabalha com busca de fornecedores para demandas que compradores buscam em nossa plataforma. O cadastro é gratuito! Basta acessar https://buscafornecedor.com.br/fornecedores, clicar no botão 'login' e escolher o tipo de cadastro para se registrar. Qualquer dúvida pode perguntar!\",     \"intencao\": \"duvida_servico\",     \"status\": \"Responder\"   },   {     \"texto_para_vetorizar\": \"quantas empresas compradoras existem na sua base de dados ?\",     \"acao_mapeada\": \"A base atualizada que temos atualmente conta com cerca de 500.000 perfis de empresas. Mas apenas uma pequena parte é cadastrada, quase todos são perfis que criamos com informações publicas. Para assumir o controle do seu perfil gratuitamente, basta acessar https://buscafornecedor.com.br/fornecedores e clicar no botão 'login' para se registrar. Qualquer dúvida pode perguntar!\",     \"intencao\": \"duvida_base_dados\",     \"status\": \"Ignorar\"   },   {     \"texto_para_vetorizar\": \"o comprador também paga ou somente o fornecedor ?\",     \"acao_mapeada\": \"No momento existem planos apenas para fornecedores. A plataforma não participa diretamente das negociações, sendo focada apenas em fazer a indicação de contatos. O cadastro para fornecedores é gratuito. Basta acessar https://buscafornecedor.com.br/fornecedores, clicar no botão 'login' na tela e se registrar. Qualquer dúvida pode perguntar!\",     \"intencao\": \"duvida_quem_paga\",     \"status\": \"Responder\"   },   {     \"texto_para_vetorizar\": \"boa tarde. agradecemos a oferta, mas não vamos fazer a assinatura...\",     \"acao_mapeada\": \"Não estou recomendando a assinatura não! O cadastro pode ser gratuito mesmo e já te concede acesso ao perfil. Para realizar o cadastro gratuito, basta acessar https://buscafornecedor.com.br/fornecedores e clicar no botão 'login'. Qualquer dúvida pode perguntar!\",     \"intencao\": \"objecao_assinatura\",     \"status\": \"Ignorar\"   },   {     \"texto_para_vetorizar\": \"qual o custo?\",     \"acao_mapeada\": \"É gratuito! Só criar o cadastro e já é possível ver quantas pessoas te buscaram além de modificar o perfil da empresa. Acesse https://buscafornecedor.com.br/fornecedores, clique no botão 'login' e escolha o tipo de cadastro. Qualquer dúvida pode perguntar!\",     \"intencao\": \"objecao_preco\",     \"status\": \"Responder\"   },   {     \"texto_para_vetorizar\": \"só no fechamento tem custo?\",     \"acao_mapeada\": \"Não tem custo nenhum, nós apenas recomendamos fornecedores. A plataforma não participa diretamente das negociações. Para criar sua conta gratuitamente, acesse https://buscafornecedor.com.br/fornecedores e clique no botão 'login'. Qualquer dúvida pode perguntar!\",     \"intencao\": \"objecao_taxa_fechamento\",     \"status\": \"Ignorar\"   },   {     \"texto_para_vetorizar\": \"Entendo, mas consigo me cadastrar como forncedor/distribuidor ? ou apenas buscar fornecedores ?\",     \"acao_mapeada\": \"Consegue sim! Com um perfil cadastrado é possível customizar as informações da sua empresa e aparecer em mais buscas. O cadastro é gratuito, basta acessar https://buscafornecedor.com.br/fornecedores e clicar no botão 'login' para se registrar. Qualquer dúvida pode perguntar!\",     \"intencao\": \"duvida_funcionalidade\",     \"status\": \"Responder\"   },   {     \"texto_para_vetorizar\": \"Não consegui ler 100%. Mas, pode pegar informações no nosso site também.\",     \"acao_mapeada\": \"Sim, na verdade o perfil atual que temos de vocês foi feito com base no site mesmo! O cadastro é só para colocar esse perfil na mão de vocês! O processo é super rápido e gratuito, basta acessar https://buscafornecedor.com.br/fornecedores, clicar no botão 'login' e escolher o tipo de cadastro. Qualquer dúvida pode perguntar!\",     \"intencao\": \"falta_de_tempo_preguica\",     \"status\": \"Ignorar\"   } ]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1616,112],"id":"d89121d9-5df1-4019-b014-98ce5fb980eb","name":"Edit Fields"},{"parameters":{"resource":"point","operation":"upsertPoints","collectionName":{"__rl":true,"value":"whatsapp_bf","mode":"list","cachedResultName":"whatsapp_bf"},"points":"={{ $json.points }}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-304,144],"id":"c2c4a191-49bd-48ba-9d72-eca1a84702d8","name":"Upsert Points","executeOnce":false,"retryOnFail":false,"credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"bae36028-4f1c-485c-af47-bb1c934da77e","name":"points.vectors.mensagem","value":"={{ $json.data[0].embedding }}","type":"array"},{"id":"01ab293d-d1e3-4110-9950-1d314b1a6b15","name":"points.payload.intencao","value":"={{ $('Edit Fields').item.json.text[0].intencao }}","type":"string"},{"id":"977b4034-9ebe-47dd-8bfc-e13f41fdec9e","name":"points.payload.status","value":"={{ $('Edit Fields').item.json.text[0].status }}","type":"string"},{"id":"e94df526-86ec-4396-8346-5ea0a2f26530","name":"points.payload.resposta","value":"={{ $('Edit Fields').item.json.text[0].acao_mapeada }}","type":"string"},{"id":"9b9c8078-ad3e-4224-a0fc-42d845191671","name":"points.payload.text","value":"={{ $('Edit Fields').item.json.text[0].texto_para_vetorizar }}","type":"string"},{"id":"2780df82-e125-4dc5-a759-7e349a183d04","name":"collection","value":"whatsapp_bf","type":"string"},{"id":"38ac09a5-038b-4ad1-ac3b-4c07512c8dad","name":"points.id","value":"={{ Math.floor(Math.random() * 1000000000000) }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-752,112],"id":"60b007be-1028-42bd-9e98-06eced936971","name":"set_point"},{"parameters":{"fieldToSplitOut":"text","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1408,112],"id":"8e551334-c6ce-45a4-8d04-509dea0eae66","name":"Split Out"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1200,112],"id":"bf1a271b-0e1c-418e-82c7-0037ff26ab59","name":"Limit"},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"whatsapp_bf","mode":"list","cachedResultName":"whatsapp_bf"},"fieldName":"text","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-1216,-496],"id":"9aefa5f0-7f81-45a1-82f9-ed1d0a0eb4fc","name":"text","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"whatsapp_bf","mode":"list","cachedResultName":"whatsapp_bf"},"fieldName":"intencao","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-1824,-496],"id":"528e90d9-55dd-4e6d-853f-ba0ef0141beb","name":"intencao","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"whatsapp_bf","mode":"list","cachedResultName":"whatsapp_bf"},"fieldName":"status","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-1616,-496],"id":"7911e8c0-44c4-4ac0-a3e7-d39029d29da7","name":"status","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"whatsapp_bf","mode":"list","cachedResultName":"whatsapp_bf"},"fieldName":"resposta","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-1408,-496],"id":"7b16fbea-8244-4bfc-9742-8d4aeb71a43e","name":"resposta","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-1168,432],"id":"66940366-3570-4394-8850-9fb17c974001","name":"AI Agent"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Registro de conversas reais que ocorreram no whatsapp.","qdrantCollection":{"__rl":true,"value":"whatsapp_bf","mode":"list","cachedResultName":"whatsapp_bf"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[-976,640],"id":"cef2d29e-3e17-44ce-9778-48aa499983dc","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"efUO7YQA32OaG6wj","name":"QdrantApi account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1008,800],"id":"0d4c252d-8b1a-4c6d-a83f-a834aa1608ba","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1200,624],"id":"da90a9f7-5404-46f2-a344-931596c09126","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-1376,432],"id":"a526cdfb-9c58-45d6-900c-baf7eee9efd0","name":"When chat message received","webhookId":"eeb37c2f-6512-44be-9d2f-01f7598152f7"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"embedding":{"main":[[{"node":"set_point","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"set_point":{"main":[[{"node":"post_qdrant","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"embedding","type":"main","index":0}]]},"intencao":{"main":[[{"node":"status","type":"main","index":0}]]},"status":{"main":[[{"node":"resposta","type":"main","index":0}]]},"resposta":{"main":[[{"node":"text","type":"main","index":0}]]},"Qdrant Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Edit Fields":[{"json":{"text":[{"texto_para_vetorizar":"qual o serviço que você está oferecendo ?","acao_mapeada":"A minha empresa trabalha com busca de fornecedores para demandas que compradores buscam em nossa plataforma. O cadastro é gratuito! Basta acessar https://buscafornecedor.com.br/fornecedores, clicar no botão 'login' e escolher o tipo de cadastro para se registrar. Qualquer dúvida pode perguntar!","intencao":"duvida","status":"Responder"},{"texto_para_vetorizar":"quantas empresas compradoras existem na sua base de dados ?","acao_mapeada":"A base atualizada que temos atualmente conta com cerca de 500.000 perfis de empresas. Mas apenas uma pequena parte é cadastrada, quase todos são perfis que criamos com informações publicas. Para assumir o controle do seu perfil gratuitamente, basta acessar https://buscafornecedor.com.br/fornecedores e clicar no botão 'login' para se registrar. Qualquer dúvida pode perguntar!","intencao":"duvida","status":"Ignorar"},{"texto_para_vetorizar":"o comprador também paga ou somente o fornecedor ?","acao_mapeada":"No momento existem planos apenas para fornecedores. A plataforma não participa diretamente das negociações, sendo focada apenas em fazer a indicação de contatos. O cadastro para fornecedores é gratuito. Basta acessar https://buscafornecedor.com.br/fornecedores, clicar no botão 'login' na tela e se registrar. Qualquer dúvida pode perguntar!","intencao":"duvida","status":"Responder"},{"texto_para_vetorizar":"boa tarde. agradecemos a oferta, mas não vamos fazer a assinatura...","acao_mapeada":"Não estou recomendando a assinatura não! O cadastro pode ser gratuito mesmo e já te concede acesso ao perfil. Para realizar o cadastro gratuito, basta acessar https://buscafornecedor.com.br/fornecedores e clicar no botão 'login'. Qualquer dúvida pode perguntar!","intencao":"objecao","status":"Ignorar"},{"texto_para_vetorizar":"qual o custo?","acao_mapeada":"É gratuito! Só criar o cadastro e já é possível ver quantas pessoas te buscaram além de modificar o perfil da empresa. Acesse https://buscafornecedor.com.br/fornecedores, clique no botão 'login' e escolha o tipo de cadastro. Qualquer dúvida pode perguntar!","intencao":"objecao","status":"Responder"},{"texto_para_vetorizar":"só no fechamento tem custo?","acao_mapeada":"Não tem custo nenhum, nós apenas recomendamos fornecedores. A plataforma não participa diretamente das negociações. Para criar sua conta gratuitamente, acesse https://buscafornecedor.com.br/fornecedores e clique no botão 'login'. Qualquer dúvida pode perguntar!","intencao":"objecao","status":"Ignorar"},{"texto_para_vetorizar":"Entendo, mas consigo me cadastrar como forncedor/distribuidor ? ou apenas buscar fornecedores ?","acao_mapeada":"Consegue sim! Com um perfil cadastrado é possível customizar as informações da sua empresa e aparecer em mais buscas. O cadastro é gratuito, basta acessar https://buscafornecedor.com.br/fornecedores e clicar no botão 'login' para se registrar. Qualquer dúvida pode perguntar!","intencao":"duvida","status":"Responder"},{"texto_para_vetorizar":"Não consegui ler 100%. Mas, pode pegar informações no nosso site também.","acao_mapeada":"Sim, na verdade o perfil atual que temos de vocês foi feito com base no site mesmo! O cadastro é só para colocar esse perfil na mão de vocês! O processo é super rápido e gratuito, basta acessar https://buscafornecedor.com.br/fornecedores, clicar no botão 'login' e escolher o tipo de cadastro. Qualquer dúvida pode perguntar!","intencao":"objecao","status":"Ignorar"}]}}],"embedding":[{"json":{"object":"list","data":[{"object":"embedding","embedding":[-0.0254974365234375,0.0115966796875,0.030181884765625,0.01505279541015625,-0.01739501953125,-0.005580902099609375,-0.033905029296875,0.04473876953125,-0.0031604766845703125,-0.0148162841796875,0.058837890625,-0.0263824462890625,0.016143798828125,-0.044097900390625,0.0272064208984375,0.038818359375,-0.013671875,0.017547607421875,-0.01470184326171875,0.02471923828125,0.0022945404052734375,-0.00731658935546875,0.0096893310546875,-0.004604339599609375,0.031829833984375,-0.01276397705078125,-0.0205230712890625,-0.01375579833984375,0.0008258819580078125,-0.064208984375,0.031890869140625,-0.043792724609375,-0.01666259765625,-0.0001347064971923828,0.0272369384765625,0.0168304443359375,-0.0013360977172851562,0.0325927734375,0.032623291015625,0.0126800537109375,-0.0201263427734375,-0.0033550262451171875,0.046356201171875,0.0166168212890625,-0.004299163818359375,0.047882080078125,-0.052947998046875,-0.015777587890625,0.005031585693359375,0.00634765625,-0.00774383544921875,0.00879669189453125,0.00740814208984375,0.021697998046875,0.0281982421875,-0.0236663818359375,0.055023193359375,0.01074981689453125,-0.00579071044921875,0.01496124267578125,0.00647735595703125,-0.0137176513671875,0.0064697265625,0.0723876953125,-0.058349609375,0.0345458984375,-0.05548095703125,0.01470184326171875,-0.09619140625,0.01084136962890625,0.00927734375,0.0280303955078125,0.033721923828125,-0.06488037109375,0.0005221366882324219,-0.0098419189453125,-0.04400634765625,-0.036773681640625,-0.0113677978515625,-0.0024127960205078125,-0.048553466796875,0.020294189453125,0.0004024505615234375,0.0164947509765625,-0.053985595703125,-0.01459503173828125,-0.1002197265625,0.01096343994140625,-0.002628326416015625,0.02447509765625,-0.0140228271484375,0.024993896484375,-0.033416748046875,0.011932373046875,0.00754547119140625,-0.0147857666015625,0.026123046875,-0.032989501953125,0.016876220703125,0.020843505859375,0.032318115234375,-0.0196075439453125,0.0308380126953125,0.01641845703125,0.038421630859375,-0.043182373046875,-0.0198822021484375,0.00814056396484375,0.0147857666015625,-0.024688720703125,0.01116180419921875,-0.0046234130859375,0.0216217041015625,0.00027298927307128906,0.07574462890625,0.01702880859375,0.07049560546875,-0.0203399658203125,0.0139007568359375,-0.03973388671875,-0.018524169921875,0.005077362060546875,-0.01399993896484375,-0.0328369140625,0.0026187896728515625,0.003719329833984375,-0.03033447265625,0.0093231201171875,-0.0284271240234375,0.0143585205078125,0.00982666015625,-0.005420684814453125,0.02459716796875,-0.0284576416015625,-0.01837158203125,0.00936126708984375,-0.060211181640625,0.0262298583984375,-0.01434326171875,0.04443359375,0.06597900390625,-0.0020427703857421875,-0.007297515869140625,-0.003208160400390625,-0.0023250579833984375,-0.0654296875,-0.0263214111328125,-0.023651123046875,0.00568389892578125,-0.0103302001953125,-0.03466796875,-0.03582763671875,-0.0579833984375,0.03363037109375,-0.048126220703125,-0.0046539306640625,-0.00232696533203125,-0.0022029876708984375,-0.04034423828125,0.038238525390625,0.001865386962890625,-0.020721435546875,-0.0457763671875,-0.0027942657470703125,-0.0266571044921875,-0.0186004638671875,0.0130615234375,0.0251007080078125,-0.032073974609375,-0.0287933349609375,-0.023895263671875,0.0082244873046875,-0.04132080078125,0.05377197265625,0.0008692741394042969,0.0280303955078125,0.058685302734375,-0.0182647705078125,0.0128173828125,0.0013942718505859375,-0.0264739990234375,0.01528167724609375,-0.00019860267639160156,0.020050048828125,-0.00447845458984375,-0.009246826171875,-0.0237579345703125,0.0099639892578125,-0.02703857421875,0.040924072265625,-0.0153961181640625,0.0032558441162109375,0.0292205810546875,0.01087188720703125,0.0149993896484375,0.005401611328125,-0.01081085205078125,-0.00656890869140625,-0.06036376953125,0.028839111328125,-0.00086212158203125,-0.01812744140625,-0.0015974044799804688,-0.04595947265625,-0.0059356689453125,-0.0062408447265625,-0.028228759765625,-0.0284576416015625,-0.0013437271118164062,-0.005321502685546875,0.06561279296875,0.00583648681640625,0.0204925537109375,0.0338134765625,-0.004638671875,-0.033538818359375,-0.0247802734375,-0.0218505859375,0.0489501953125,-0.0008053779602050781,-0.020416259765625,-0.0189056396484375,0.0307464599609375,0.048492431640625,0.06829833984375,0.0279998779296875,0.007312774658203125,-0.053009033203125,-0.0172271728515625,-0.0299835205078125,0.0233917236328125,0.012481689453125,0.0157318115234375,0.04656982421875,-0.03277587890625,0.046844482421875,-0.008819580078125,0.024871826171875,0.032012939453125,-0.036102294921875,0.006839752197265625,-0.01043701171875,-0.0275421142578125,0.0219268798828125,0.002079010009765625,0.0108489990234375,-0.00438690185546875,-0.0728759765625,0.0080108642578125,0.01119232177734375,0.0401611328125,-0.0303802490234375,0.002124786376953125,-0.031585693359375,0.01149749755859375,0.01088714599609375,0.0347900390625,0.02716064453125,0.0577392578125,0.0103912353515625,0.003936767578125,-0.038848876953125,0.0087890625,-0.01004791259765625,0.03179931640625,-0.020843505859375,-0.0021305084228515625,-0.021087646484375,-0.016571044921875,0.031585693359375,-0.02703857421875,-0.0576171875,0.010284423828125,0.0435791015625,-0.040924072265625,0.049041748046875,0.01235198974609375,0.01297760009765625,0.0167236328125,0.0243072509765625,-0.0232086181640625,-0.0079193115234375,-0.030914306640625,-0.01461029052734375,-0.045806884765625,0.03692626953125,0.076904296875,-0.0428466796875,-0.01580810546875,0.0160980224609375,0.051910400390625,-0.016357421875,-0.0014600753784179688,-0.079345703125,0.04534912109375,-0.0306854248046875,0.0022125244140625,-0.0118865966796875,0.035736083984375,0.0074005126953125,0.0029144287109375,0.047943115234375,-0.0106964111328125,0.0119781494140625,-0.050384521484375,-0.0162353515625,0.03204345703125,0.051483154296875,0.016876220703125,-0.0675048828125,0.03314208984375,-0.003055572509765625,0.0001385211944580078,-0.016265869140625,-0.004756927490234375,-0.0281524658203125,0.0546875,-0.004344940185546875,-0.00543212890625,-0.05950927734375,0.0504150390625,-0.012603759765625,-0.0238189697265625,-0.0160064697265625,0.00024771690368652344,-0.001773834228515625,0.00957489013671875,0.003971099853515625,-0.01409912109375,-0.0163726806640625,0.01739501953125,-0.01145172119140625,0.0069122314453125,-0.007659912109375,0.025146484375,0.01666259765625,0.04150390625,-0.0048980712890625,0.001888275146484375,-0.026123046875,-0.02777099609375,-0.0423583984375,-0.042327880859375,0.0177001953125,0.005558013916015625,-0.006992340087890625,0.061126708984375,0.038421630859375,0.04534912109375,0.028961181640625,0.014862060546875,0.01331329345703125,-0.0090789794921875,-0.05169677734375,-0.00991058349609375,0.0184326171875,0.06390380859375,-0.024383544921875,-0.0288848876953125,0.005859375,-0.004802703857421875,0.0278167724609375,-0.0075836181640625,-0.0207977294921875,-0.007343292236328125,0.013671875,-0.0086669921875,-0.018310546875,0.0056304931640625,-0.0241851806640625,-0.0604248046875,0.04656982421875,0.018096923828125,0.01296234130859375,-0.035125732421875,-0.0640869140625,-0.01467132568359375,0.0181427001953125,0.03802490234375,-0.0281829833984375,0.014251708984375,0.001941680908203125,0.010589599609375,0.0127410888671875,0.02459716796875,0.048065185546875,-0.0081024169921875,0.0031375885009765625,0.00391387939453125,-0.004047393798828125,0.013641357421875,0.00455474853515625,0.000782012939453125,-0.037261962890625,0.007068634033203125,0.006389617919921875,0.00981903076171875,0.030364990234375,0.01061248779296875,-0.034210205078125,-0.0027790069580078125,-0.0181732177734375,0.041748046875,0.039947509765625,-0.056243896484375,0.0020542144775390625,-0.005706787109375,0.0236663818359375,-0.00011682510375976562,-0.040679931640625,0.028411865234375,-0.027740478515625,0.042205810546875,0.055450439453125,-0.025909423828125,-0.01995849609375,-0.0030574798583984375,0.01078033447265625,0.00994873046875,-0.007007598876953125,0.006816864013671875,0.007904052734375,0.026763916015625,-0.0177764892578125,0.023162841796875,-0.002513885498046875,-0.01214599609375,0.01436614990234375,-0.04815673828125,-0.06475830078125,0.0166015625,0.0190887451171875,0.0188751220703125,0.0159912109375,-0.0300750732421875,-0.0169677734375,-0.0196990966796875,0.007030487060546875,0.0200042724609375,-0.00543975830078125,0.00746917724609375,0.023590087890625,-0.0650634765625,-0.04595947265625,0.004436492919921875,-0.0149993896484375,0.033905029296875,0.051605224609375,-0.015472412109375,-0.0008726119995117188,0.0125885009765625,-0.0286865234375,-0.034637451171875,0.031280517578125,-0.044403076171875,-0.039337158203125,0.0018939971923828125,-0.004009246826171875,-0.00717926025390625,0.002292633056640625,0.01629638671875,0.00865936279296875,0.0121917724609375,0.0078582763671875,0.033599853515625,-0.003002166748046875,-0.0452880859375,-0.0016126632690429688,-0.00917816162109375,-0.05548095703125,0.0105438232421875,-0.0023555755615234375,0.03662109375,-0.005802154541015625,-0.041046142578125,0.019134521484375,-0.01180267333984375,0.018157958984375,-0.029998779296875,0.029327392578125,0.023773193359375,-0.0008282661437988281,-0.057586669921875,0.02069091796875,0.0079803466796875,0.036224365234375,-0.033233642578125,0.0191650390625,-0.01422882080078125,0.004688262939453125,0.027496337890625,0.03570556640625,0.0760498046875,-0.01268768310546875,0.0298004150390625,0.025787353515625,-0.02716064453125,-0.005046844482421875,-0.0413818359375,0.0247344970703125,-0.07305908203125,-0.01030731201171875,-0.043212890625,0.0156707763671875,0.06414794921875,-0.00823974609375,-0.022613525390625,-0.041290283203125,0.03515625,-0.024261474609375,0.01041412353515625,0.01476287841796875,-0.030792236328125,-0.01277923583984375,-0.02337646484375,-0.0186004638671875,-0.00609588623046875,0.049560546875,-0.00498199462890625,-0.032379150390625,-0.00919342041015625,0.00991058349609375,0.000028192996978759766,-0.03326416015625,0.0078125,-0.043548583984375,-0.048309326171875,-0.0545654296875,-0.011077880859375,-0.0291900634765625,0.0021762847900390625,-0.03594970703125,-0.0235748291015625,0.030792236328125,-0.015228271484375,0.008148193359375,-0.0224761962890625,0.01212310791015625,0.004375457763671875,-0.037200927734375,-0.006195068359375,0.04815673828125,0.0011167526245117188,0.0031299591064453125,0.0107879638671875,0.0132293701171875,-0.01204681396484375,-0.042938232421875,0.0245819091796875,0.0236358642578125,0.00009804964065551758,-0.0242156982421875,0.032684326171875,0.0022602081298828125,0.0009512901306152344,-0.00392913818359375,-0.0165252685546875,0.00482177734375,-0.0032558441162109375,-0.0116119384765625,-0.023956298828125,0.0227203369140625,-0.01560211181640625,-0.0011959075927734375,-0.02947998046875,-0.00606536865234375,-0.0029201507568359375,0.00371551513671875,-0.046051025390625,-0.010284423828125,-0.0302886962890625,0.020660400390625,-0.0196380615234375,0.0152435302734375,0.0193634033203125,0.053558349609375,-0.04193115234375,-0.021484375,-0.0260467529296875,-0.04718017578125,-0.004970550537109375,-0.00348663330078125,-0.0200347900390625,0.015655517578125,-0.039154052734375,-0.0293426513671875,0.00222015380859375,-0.0079803466796875,0.0187530517578125,0.0195159912109375,-0.0027370452880859375,0.007659912109375,0.0010595321655273438,-0.046844482421875,0.0218963623046875,-0.0142669677734375,-0.00328826904296875,0.008544921875,-0.01959228515625,-0.0294952392578125,0.00469970703125,0.0106964111328125,-0.003620147705078125,0.012725830078125,0.0102996826171875,-0.040283203125,-0.01184844970703125,-0.029632568359375,-0.0245819091796875,-0.014923095703125,0.01476287841796875,0.0004949569702148438,-0.0251007080078125,-0.031280517578125,0.0127410888671875,0.0042724609375,-0.0012569427490234375,-0.004337310791015625,-0.0187225341796875,-0.013275146484375,-0.00849151611328125,-0.0028400421142578125,-0.0025424957275390625,-0.0019216537475585938,0.036468505859375,0.0264739990234375,-0.0149993896484375,0.00600433349609375,0.011505126953125,-0.02764892578125,-0.016876220703125,0.01044464111328125,0.00817108154296875,0.0020904541015625,0.0076904296875,-0.02191162109375,0.0135650634765625,0.0078125,-0.01739501953125,-0.03509521484375,-0.0374755859375,0.001224517822265625,-0.02313232421875,-0.006305694580078125,0.0226898193359375,0.0198516845703125,0.00952911376953125,0.032012939453125,0.01641845703125,-0.0100555419921875,0.00716400146484375,-0.025970458984375,-0.043701171875,-0.056610107421875,0.006580352783203125,0.032012939453125,-0.0205841064453125,0.005199432373046875,0.00667572021484375,0.0294952392578125,-0.01556396484375,0.031982421875,-0.00685882568359375,0.01236724853515625,0.032440185546875,0.014404296875,0.0015420913696289062,-0.041748046875,-0.002529144287109375,0.03228759765625,-0.03546142578125,0.030914306640625,0.03607177734375,-0.01422882080078125,0.01019287109375,0.0229949951171875,0.009979248046875,-0.056976318359375,0.01078033447265625,-0.013946533203125,-0.0224151611328125,-0.01116180419921875,0.0074005126953125,0.001972198486328125,0.0088958740234375,0.0197906494140625,0.033172607421875,0.004276275634765625,-0.0279541015625,0.0352783203125,0.00592803955078125,0.02655029296875,0.04095458984375,-0.038421630859375,-0.01436614990234375,-0.01354217529296875,-0.037506103515625,0.0311279296875,0.031982421875,-0.087158203125,0.0081329345703125,-0.01119232177734375,-0.01064300537109375,0.014251708984375,-0.01849365234375,0.0011758804321289062,-0.0221099853515625,-0.017364501953125,0.01551055908203125,0.058746337890625,-0.009735107421875,0.0005288124084472656,0.0080108642578125,0.00035452842712402344,0.013580322265625,0.033599853515625,-0.0201263427734375,-0.0003154277801513672,-0.0035610198974609375,-0.017425537109375,-0.01528167724609375,0.042694091796875,-0.0215301513671875,-0.054931640625,-0.01506805419921875,0.0221405029296875,-0.0306854248046875,-0.0169677734375,-0.0217742919921875,-0.0260162353515625,0.000560760498046875,-0.004810333251953125,-0.006587982177734375,0.027801513671875,0.0077362060546875,-0.025848388671875,-0.00966644287109375,0.002826690673828125,-0.031463623046875,-0.039031982421875,0.059967041015625,-0.0010204315185546875,-0.0024662017822265625,0.00803375244140625,-0.004726409912109375,-0.01247406005859375,-0.004787445068359375,0.0188140869140625,-0.0100555419921875,0.00787353515625,0.01934814453125,0.00998687744140625,-0.00010186433792114258,0.0238494873046875,-0.0235137939453125,0.004352569580078125,0.034942626953125,-0.005428314208984375,0.01482391357421875,-0.0227203369140625,-0.00762176513671875,0.018829345703125,0.0290679931640625,0.0360107421875,0.020050048828125,-0.026885986328125,0.0159912109375,-0.0146636962890625,0.00514984130859375,-0.03179931640625,-0.00505828857421875,-0.0419921875,0.01690673828125,0.022369384765625,0.002841949462890625,0.0206451416015625,-0.033905029296875,0.006656646728515625,-0.009613037109375,0.0240325927734375,0.0692138671875,-0.015655517578125,0.01268768310546875,-0.03582763671875,-0.0191192626953125,-0.000537872314453125,0.03814697265625,0.01739501953125,0.0270538330078125,-0.045654296875,0.015716552734375,-0.02313232421875,-0.0404052734375,-0.010467529296875,0.006587982177734375,-0.0169219970703125,0.00791168212890625,0.0206451416015625,0.0014858245849609375,-0.00830841064453125,-0.0254974365234375,0.02471923828125,0.0285797119140625,0.0014972686767578125,-0.01067352294921875,0.008697509765625,-0.00519561767578125,0.017120361328125,0.0222320556640625,-0.0082855224609375,-0.01319122314453125,0.04296875,-0.0245513916015625,-0.0228118896484375,-0.005939483642578125,-0.040740966796875,0.001708984375,0.003604888916015625,-0.0206451416015625,0.017120361328125,0.0845947265625,-0.031707763671875,-0.004047393798828125,0.032379150390625,0.005840301513671875,0.0010309219360351562,-0.0086212158203125,0.01074981689453125,0.0063018798828125,0.0087127685546875,0.0207977294921875,-0.004520416259765625,0.007556915283203125,-0.0263214111328125,-0.006587982177734375,0.0083770751953125,-0.033905029296875,-0.0236358642578125,-0.041656494140625,-0.01139068603515625,0.05059814453125,0.0169525146484375,0.055328369140625,0.007640838623046875,-0.0129241943359375,-0.011383056640625,-0.023681640625,-0.018524169921875,-0.0004534721374511719,0.0105438232421875,-0.060272216796875,-0.004108428955078125,0.0242462158203125,0.00498199462890625,-0.0059356689453125,0.0019130706787109375,-0.024749755859375,-0.0372314453125,-0.0142059326171875,-0.01273345947265625,-0.03704833984375,0.038330078125,-0.00930023193359375,-0.0301361083984375,0.05804443359375,-0.006450653076171875,0.0285797119140625,0.0298309326171875,0.0200042724609375,-0.0182342529296875,0.004322052001953125,0.0250701904296875,-0.03277587890625,0.0010976791381835938,0.011383056640625,0.0338134765625,-0.04339599609375,-0.007152557373046875,-0.03460693359375,0.00881195068359375,0.00998687744140625,-0.01495361328125,-0.01837158203125,0.0300750732421875,-0.0095367431640625,0.00814056396484375,0.040069580078125,0.027801513671875,0.023651123046875,0.0222015380859375,-0.01190948486328125,0.04168701171875,0.0286407470703125,-0.04736328125,-0.03314208984375,0.0223388671875,-0.0012731552124023438,0.0223236083984375,-0.026153564453125,-0.0217742919921875,-0.0029449462890625,0.01261138916015625,-0.019866943359375,-0.04718017578125,0.01560211181640625,-0.0199127197265625,-0.017333984375,0.0236358642578125,0.0152587890625,-0.0022144317626953125,-0.013153076171875,-0.03955078125,-0.00820159912109375,-0.01503753662109375,0.017486572265625,0.01415252685546875,-0.0156402587890625,0.0228271484375,0.01168060302734375,-0.007518768310546875,0.002780914306640625,-0.04193115234375,-0.01739501953125,-0.007595062255859375,-0.02227783203125,0.015899658203125,-0.03094482421875,0.0146636962890625,0.0284576416015625,0.00489044189453125,0.0213165283203125,0.032470703125,-0.004505157470703125,-0.0016775131225585938,0.0167694091796875,-0.05401611328125,-0.00395965576171875,-0.005123138427734375,-0.0304107666015625,-0.02008056640625,0.0010404586791992188,0.02294921875,0.0146331787109375,-0.004230499267578125,0.049224853515625,-0.019622802734375,-0.019073486328125,0.0016117095947265625,0.0025768280029296875,-0.026458740234375,0.021636962890625,0.0302886962890625,0.00799560546875,-0.040191650390625,0.000873565673828125,-0.043792724609375,-0.0017385482788085938,-0.035430908203125,-0.01436614990234375,-0.0430908203125,-0.025909423828125,0.00371551513671875,0.0195159912109375,0.0310211181640625,0.0169219970703125,0.0443115234375,0.010528564453125,0.024993896484375,0.06964111328125,0.0083770751953125,-0.058074951171875,0.044281005859375,0.0019273757934570312,-0.01415252685546875,0.0198822021484375,0.018524169921875,0.0161895751953125,0.0029506683349609375,-0.01837158203125,0.0157318115234375,0.047027587890625,0.0159454345703125,0.044769287109375,-0.025177001953125,-0.03668212890625,0.0222015380859375,0.0227203369140625,0.008636474609375,-0.01369476318359375,0.00959014892578125,0.0225677490234375,0.0228118896484375,0.053466796875,-0.005420684814453125,0.01360321044921875,-0.005123138427734375,-0.0163421630859375,-0.06280517578125,-0.036773681640625,-0.0023975372314453125,0.017578125,-0.011962890625,-0.0215911865234375,-0.035308837890625,0.044769287109375,-0.0084075927734375,0.0198211669921875,-0.0019102096557617188,0.0245513916015625,-0.003604888916015625,-0.0124053955078125,0.011199951171875,-0.0273895263671875,-0.0025043487548828125,-0.0015668869018554688,-0.0101165771484375,0.00621795654296875,0.019378662109375,-0.01470184326171875,-0.014862060546875,0.0179443359375,0.0007424354553222656,-0.031951904296875,-0.00860595703125,0.0087127685546875,-0.03741455078125,0.039459228515625,-0.0222930908203125,0.0265350341796875,0.01070404052734375,-0.0217437744140625,-0.000682830810546875,-0.0300750732421875,0.02117919921875,-0.00896453857421875,0.00122833251953125,-0.00557708740234375,-0.04669189453125,0.031646728515625,0.0159149169921875,0.009002685546875,0.00446319580078125,0.014129638671875,0.01654052734375,0.01617431640625,0.007659912109375,-0.0082244873046875,-0.017791748046875,0.0016050338745117188,0.0008854866027832031,-0.0010461807250976562,-0.030517578125,-0.005176544189453125,-0.030487060546875,-0.0220794677734375,0.019561767578125,-0.0190582275390625,-0.018890380859375,-0.029296875,0.035186767578125,-0.037353515625,0.01047515869140625,-0.0086669921875,-0.01354217529296875,-0.005046844482421875,-0.012420654296875,-0.0268402099609375,0.02374267578125,-0.0555419921875,0.0032749176025390625,0.01873779296875,0.02410888671875,-0.0008764266967773438,0.015625,0.0260009765625,-0.0091094970703125,-0.0183258056640625,-0.05181884765625,-0.005828857421875,0.05316162109375,0.0198211669921875,0.010650634765625,-0.0423583984375,0.003795623779296875,0.0269622802734375,0.021026611328125,0.007488250732421875,0.0230255126953125,0.0347900390625,-0.0128173828125,0.01361846923828125,0.002716064453125,0.0015964508056640625,0.010955810546875,-0.0238800048828125,-0.00911712646484375,0.025238037109375,0.01470184326171875,0.044586181640625,0.01496124267578125,0.034820556640625,0.00202178955078125,0.01175689697265625,0.0004086494445800781,-0.0254364013671875,0.001964569091796875,0.00933837890625,0.0183868408203125,-0.007297515869140625,-0.00751495361328125,-0.00489044189453125,-0.0166473388671875,0.021240234375,-0.00873565673828125,0.0263519287109375,0.0186920166015625,-0.0272064208984375,0.0190277099609375,-0.020965576171875,-0.0028438568115234375,-0.0263824462890625,-0.0025691986083984375,-0.01168060302734375,-0.038177490234375,0.0035762786865234375,0.00739288330078125,-0.0009794235229492188,0.0055389404296875,0.006969451904296875,0.004596710205078125,0.03076171875,-0.024932861328125,0.048583984375,-0.0247039794921875,0.00788116455078125,-0.0178070068359375,0.006465911865234375,0.0114593505859375,-0.01104736328125,0.0165863037109375,0.0067138671875,-0.00482177734375,-0.01152801513671875,0.01239776611328125,0.0129241943359375,0.013427734375,-0.00421142578125,0.08917236328125,-0.0112457275390625,-0.0008368492126464844,-0.00772857666015625,0.017242431640625,0.0183258056640625,-0.020782470703125,0.0047760009765625,0.00482940673828125,0.0050811767578125,-0.027618408203125,0.003284454345703125,-0.00007349252700805664,-0.00878143310546875,0.03790283203125,0.01300811767578125,0.01386260986328125,-0.032684326171875,-0.0224609375,-0.02685546875,-0.01348114013671875,-0.0086517333984375,0.0201873779296875,0.01383209228515625,-0.022796630859375,-0.006656646728515625,-0.01383209228515625,0.003322601318359375,0.051300048828125,-0.028106689453125,0.01071929931640625,0.00582122802734375,0.03985595703125,-0.004913330078125,0.03912353515625,0.00740814208984375,-0.0253753662109375,-0.022247314453125,0.03387451171875,-0.0115203857421875,0.0035724639892578125,0.0206451416015625,0.0072479248046875,-0.01047515869140625,0.009307861328125,0.0294952392578125,-0.006046295166015625,0.0038013458251953125,0.0200653076171875,-0.027740478515625,-0.0238189697265625,0.01467132568359375,0.0133056640625,0.001922607421875,-0.00548553466796875,-0.036102294921875,0.0110015869140625,-0.0135650634765625,0.0479736328125,-0.0064239501953125,-0.004467010498046875,-0.003971099853515625,0.0118255615234375,0.0047149658203125,0.00479888916015625,0.058746337890625,-0.03729248046875,-0.003509521484375,0.0122833251953125,0.0009551048278808594,0.00905609130859375,0.013946533203125,-0.0281829833984375,-0.007411956787109375,-0.0174713134765625,0.0233001708984375,0.004665374755859375,0.01544952392578125,-0.0207061767578125,-0.04803466796875,0.018280029296875,0.0026874542236328125,0.019927978515625,-0.02825927734375,0.0023975372314453125,0.032257080078125,-0.050811767578125,0.0247650146484375,-0.0027408599853515625,0.0065765380859375,-0.021728515625,0.01033782958984375,0.00751495361328125,0.015960693359375,-0.03656005859375,0.032135009765625,-0.019775390625,0.004116058349609375,-0.01520538330078125,-0.006046295166015625,0.01436614990234375,-0.0258331298828125,-0.0341796875,0.0090179443359375,0.04022216796875,-0.04315185546875,-0.01529693603515625,-0.0168304443359375,0.0163421630859375,0.00087738037109375,0.025665283203125,-0.00284576416015625,-0.008758544921875,-0.0156707763671875,0.0037593841552734375,-0.01177978515625,0.0435791015625,0.0173187255859375,-0.0081024169921875,0.00289154052734375,0.034759521484375,0.0282745361328125,-0.00301361083984375,-0.009063720703125,-0.020660400390625,0.0189056396484375,0.024932861328125,0.003391265869140625,0.0035037994384765625,0.0213470458984375,0.003643035888671875,0.005840301513671875,-0.0210113525390625,0.013214111328125,0.0222930908203125,0.003017425537109375,0.003208160400390625,-0.0010347366333007812,0.0183868408203125,0.02886962890625,-0.03717041015625,-0.01363372802734375,0.00501251220703125,0.0037784576416015625,0.01097869873046875,0.01373291015625,-0.02410888671875,-0.006000518798828125,-0.0119171142578125,-0.0157928466796875,-0.01763916015625,0.04864501953125,-0.0028362274169921875,0.032135009765625,0.06365966796875,0.021026611328125,0.0023193359375,0.01264190673828125,-0.0307159423828125,-0.002773284912109375,-0.01325225830078125,0.0234222412109375,-0.032989501953125,-0.022705078125,0.04400634765625,0.020538330078125,-0.0006589889526367188,0.03729248046875,0.01214599609375,0.00861358642578125,0.00780487060546875,-0.0266571044921875,-0.019775390625,0.0145111083984375,-0.0068359375,-0.0200042724609375,-0.0286407470703125,-0.016204833984375,0.0067291259765625,-0.016815185546875,0.0293731689453125,-0.0005288124084472656,-0.039947509765625,0.03948974609375,-0.012115478515625,-0.019439697265625,-0.0246429443359375,-0.0078277587890625,0.00016295909881591797,-0.004241943359375,-0.00539398193359375,-0.034515380859375,0.004390716552734375,0.056610107421875,0.03936767578125,-0.0126495361328125,0.01409912109375,-0.02099609375,-0.03338623046875,0.023895263671875,-0.0011777877807617188,-0.032012939453125,0.005035400390625,0.013519287109375,0.01837158203125,-0.03192138671875,-0.015899658203125,0.00504302978515625,-0.01009368896484375,0.0189971923828125,0.0037384033203125,0.01409912109375,0.005283355712890625,0.01190948486328125,0.048797607421875,-0.004261016845703125,0.0203399658203125,0.043975830078125,-0.0026187896728515625,0.0003414154052734375,0.011016845703125,-0.0183258056640625,-0.0238494873046875,0.017974853515625,-0.0031681060791015625,0.02032470703125,0.0340576171875,-0.015655517578125,-0.023162841796875,-0.0009288787841796875,0.01398468017578125,-0.049957275390625,-0.00594329833984375,-0.0165863037109375,-0.0105133056640625,0.01371002197265625,-0.00766754150390625,0.019317626953125,-0.005405426025390625,0.005847930908203125,-0.00555419921875,0.008392333984375,-0.0009832382202148438,0.011383056640625,-0.01131439208984375,0.0217132568359375,-0.01849365234375,-0.004154205322265625,0.0007872581481933594,-0.0035991668701171875,0.01149749755859375,0.008514404296875,0.008209228515625,0.0092926025390625,-0.0179443359375,-0.013824462890625,0.000732421875,-0.0079803466796875,0.032806396484375,0.00701904296875,0.0260467529296875,-0.0064849853515625,0.0081939697265625,-0.046417236328125,-0.01617431640625,0.009613037109375,0.0229644775390625,0.0101470947265625,0.006778717041015625,-0.00197601318359375,-0.0182342529296875,-0.023284912109375,0.034942626953125,-0.0234222412109375,-0.044586181640625,0.0182037353515625,-0.028564453125,-0.0038013458251953125,0.0270538330078125,0.032440185546875,-0.0240325927734375,0.046234130859375,-0.0018835067749023438,-0.0277252197265625,0.033935546875,-0.005084991455078125,-0.005100250244140625,0.00492095947265625,-0.00832366943359375,-0.0031414031982421875,0.03851318359375,0.0152587890625,-0.00453948974609375,0.047698974609375,0.0109710693359375,0.0291900634765625,-0.024169921875,0.01125335693359375,-0.0025310516357421875,-0.038177490234375,0.0127410888671875,-0.0098876953125,0.0014181137084960938,0.005786895751953125,0.010955810546875,0.034423828125,0.0377197265625,-0.03619384765625,-0.01401519775390625,-0.0095977783203125,0.004741668701171875,0.01131439208984375,0.01071929931640625,-0.00789642333984375,0.0023174285888671875,0.006656646728515625,0.00904083251953125,-0.03253173828125,0.0276641845703125,0.0138702392578125,0.01073455810546875,0.01325225830078125,0.00791168212890625,0.033966064453125,0.0022754669189453125,0.0133056640625,0.024871826171875,-0.036407470703125,0.0253448486328125,0.0157928466796875,-0.02850341796875,-0.041015625,-0.0061187744140625,-0.001613616943359375,-0.0270843505859375,0.00539398193359375,-0.0153350830078125,0.0037860870361328125,0.008575439453125,0.021697998046875,-0.032501220703125,-0.028717041015625,0.01392364501953125,0.032318115234375,0.029296875,0.0198516845703125,-0.02630615234375,0.01497650146484375,0.037078857421875,0.012908935546875,-0.025909423828125,0.0157928466796875,0.0090179443359375,0.01763916015625,0.0166473388671875,0.01139068603515625,-0.0196685791015625,0.006481170654296875,-0.041534423828125,0.030975341796875,0.006561279296875,-0.041839599609375,-0.00360870361328125,0.036376953125,-0.0110626220703125,-0.0106964111328125,-0.040863037109375,0.03619384765625,-0.00370025634765625,0.01016998291015625,0.007671356201171875,-0.05792236328125,0.012786865234375,-0.043060302734375,0.0265350341796875,-0.0239715576171875,0.01371002197265625,0.018798828125,-0.0304107666015625,-0.02374267578125,0.00911712646484375,-0.0230560302734375,0.0258941650390625,0.00865936279296875,0.03369140625,-0.018157958984375,-0.007659912109375,-0.0195465087890625,0.006317138671875],"index":0}],"model":"text-embedding-3-small","usage":{"prompt_tokens":10,"total_tokens":10}},"pairedItem":{"item":0}}]},"versionId":"ef880d9d-e51f-4544-a37a-3ab451813745","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-06-15T19:10:51.144Z","createdAt":"2026-06-15T19:10:51.144Z","role":"workflow:owner","workflowId":"P6zSLwbIFHJQEeqs","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":null,"tags":[]}