busca-específica-znfO9PifGDyRPN5B.json
{"updatedAt":"2025-10-02T17:41:22.087Z","createdAt":"2025-10-02T13:44:11.515Z","id":"znfO9PifGDyRPN5B","name":"Busca-Específica","active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1168,-224],"id":"f2e60168-6954-47bf-87cf-364ae5f444ef","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"xRPy7yiYbCD62vRV","mode":"list","cachedResultUrl":"/workflow/xRPy7yiYbCD62vRV","cachedResultName":"Busca-Site"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-960,-224],"id":"06a21e4a-5245-461b-8b92-19b9a92eb129","name":"sub_busca_com_site"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c4d340a0-28a4-457a-8068-ff13365a3250","leftValue":"={{ $json.empresas }}","rightValue":0,"operator":{"type":"array","operation":"lengthEquals","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-752,96],"id":"abd9aa2e-adac-4ac7-8891-81a8c9d64ad6","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c3225356-af4f-404c-8e23-a081240cc523","leftValue":"={{ $json.empresas }}","rightValue":3,"operator":{"type":"array","operation":"lengthLte","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-560,-224],"id":"04efa160-390c-4c21-90a2-98bc78655b1c","name":"If1"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"empresas","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-752,-224],"id":"c0fc7761-c8a3-4098-8613-18afae309785","name":"Aggregate2"},{"parameters":{"workflowId":{"__rl":true,"value":"Sd487u8Pqgd9wfPU","mode":"list","cachedResultUrl":"/workflow/Sd487u8Pqgd9wfPU","cachedResultName":"Busca-Ampla"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-352,-320],"id":"922078a4-5f11-4116-8a00-ec25351c0c98","name":"sub_busca_ampla"},{"parameters":{"workflowId":{"__rl":true,"value":"Sd487u8Pqgd9wfPU","mode":"list","cachedResultUrl":"/workflow/Sd487u8Pqgd9wfPU","cachedResultName":"Busca-Ampla"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-912,32],"id":"483bfcca-c59c-4793-997b-9a018e417f37","name":"sub_busca_ampla1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"sub_busca_com_site","type":"main","index":0}]]},"If":{"main":[[],[]]},"Aggregate2":{"main":[[{"node":"If1","type":"main","index":0}]]},"sub_busca_com_site":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"If1":{"main":[[{"node":"sub_busca_ampla","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"63467599-d1e5-4314-b4b6-9683fee479ca","triggerCount":0,"shared":[{"updatedAt":"2025-10-02T13:44:11.515Z","createdAt":"2025-10-02T13:44:11.515Z","role":"workflow:owner","workflowId":"znfO9PifGDyRPN5B","projectId":"jk0yZKautC5L7CBp"}],"tags":[{"updatedAt":"2025-10-02T13:53:47.318Z","createdAt":"2025-10-02T13:53:47.318Z","id":"El7C2Bp08WUbNazn","name":"Subworkflow"}]}