busca-whatsapp-P5glDm8v5AZwgudn.json
{"updatedAt":"2026-05-06T16:55:17.887Z","createdAt":"2026-04-20T17:58:58.908Z","id":"P5glDm8v5AZwgudn","name":"Busca Whatsapp","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"id"},{"name":"query"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-3904,-240],"id":"d6d4d7a3-9833-4b62-8f03-1f5851c36559","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=ROLE\nVocê é um Especialista em Processamento de Linguagem Natural (NLP) focado em sistemas de compras e suprimentos (procurement). Sua função é decompor consultas de usuários para otimizar buscas vetoriais de fornecedores.\n\nTASK\nAnalise a QUERY do usuário e extraia as informações estruturadas seguindo estas regras:\n\ncidades_selecionadas: Identifique nomes de cidades brasileiras mencionadas na query. Normalize a grafia (capitalização correta, com acentos — ex: \"sao paulo\" → \"São Paulo\"; \"rib preto\" → \"Ribeirão Preto\" quando inequívoco). Retorne uma lista de strings. Se não houver, retorne uma lista vazia [].\n\nufs_selecionadas: Identifique estados brasileiros mencionados explicitamente (sigla ou nome por extenso). Converta nomes por extenso para a sigla de 2 letras (ex: \"São Paulo\" → \"SP\", \"Minas Gerais\" → \"MG\"). Se o usuário mencionar apenas uma cidade sem citar o estado, NÃO infira a UF — deixe a lista vazia. Retorne uma lista de strings. Se não houver, retorne uma lista vazia [].\n\ndescricao: Refine a intenção de busca do usuário para uma descrição clara e objetiva que será usada em um motor de busca vetorial. Mantenha a terminologia técnica do produto/serviço, mas remova saudações, palavras irrelevantes e também os nomes de cidades e estados já extraídos nos campos acima (a localização não deve poluir a busca vetorial semântica do produto).\n\nREGRAS DE DESAMBIGUAÇÃO\nSe uma palavra puder ser cidade OU outro substantivo (ex: \"Palmas\" pode ser capital do TO ou plural de palma), use o contexto para decidir. Em caso de dúvida real, não inclua na lista de cidades.\nSiglas de UF só devem ser reconhecidas quando aparecem isoladas, em maiúsculas, ou no padrão \"Cidade/UF\", \"Cidade - UF\", \"Cidade, UF\".\nNunca invente cidades ou UFs que não estejam textualmente (ou foneticamente) presentes na query.\nFORMAT\nRetorne estritamente um objeto JSON válido, sem explicações adicionais, sem blocos de código markdown, no seguinte formato exato:\n\n{ \"cidades_selecionadas\": [\"Cidade1\", \"Cidade2\"], \"ufs_selecionadas\": [\"UF1\", \"UF2\"], \"descricao\": \"string\" }\n\nEXEMPLOS\nQuery: \"Preciso de fornecedor de pneus XZR-245 em Campinas e Ribeirão Preto\" Saída: { \"cidades_selecionadas\": [\"Campinas\", \"Ribeirão Preto\"], \"ufs_selecionadas\": [], \"descricao\": \"Fornecedor de pneus modelo XZR-245\" }\n\nQuery: \"Bom dia! Procuro fabricante de embalagens plásticas em SP e MG\" Saída: { \"cidades_selecionadas\": [], \"ufs_selecionadas\": [\"SP\", \"MG\"], \"descricao\": \"Fabricante de embalagens plásticas\" }\n\nQuery: \"Quero distribuidor de parafusos em São Paulo - SP\" Saída: { \"cidades_selecionadas\": [\"São Paulo\"], \"ufs_selecionadas\": [\"SP\"], \"descricao\": \"Distribuidor de parafusos\" }\n\nQUERY DO USUÁRIO\n\"{{ $json.query }}\"","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-3664,-240],"id":"be4820c7-1907-4f42-acad-f3e5a3906d66","name":"Query-Model"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3728,-96],"id":"5310bbbb-4006-4ac4-97d1-d4d97d116b75","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## Busca Local","height":224,"width":1040,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[128,-160],"id":"60ee8bff-48a5-4466-b347-168ed3f95da0","name":"Sticky Note25"},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"get","tableId":"consultas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('set_data_busca').item.json.consultaId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4512,-256],"id":"a1649264-7612-4019-a254-20251288a0c9","name":"get_result","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"update","tableId":"consultas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resultados","fieldValue":"={{ $('Aggregate2').item.json.item }}"},{"fieldId":"status","fieldValue":"concluida"},{"fieldId":"uf","fieldValue":"={{ $json.uf }}"},{"fieldId":"municipio","fieldValue":"={{ $('set_data_busca').item.json.lista_municipio }}"},{"fieldId":"=execution_id","fieldValue":"={{ $execution.id }}"},{"fieldId":"v_produto","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.produto }}"},{"fieldId":"v_cliente","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.cliente }}"},{"fieldId":"v_servico","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.servico }}"},{"fieldId":"v_descricao","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.descricao }}"},{"fieldId":"v_publico","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.publico }}"},{"fieldId":"bm_25","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.bm25 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4720,-256],"id":"09ba8dc0-9dff-45d3-8b99-d5a9e69058ae","name":"Mostra resultado intermediário1","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"37b79ebe-4d88-4286-ad8f-71f98605e4ad","name":"result.item","value":"={{ $json.item }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,-96],"id":"2579fa1a-4df4-4e1b-af44-05120b6a03c4","name":"set_result"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[400,-96],"id":"f86ed398-a75c-459a-a04a-06a161cdd472","name":"Split Out4","alwaysOutputData":true},{"parameters":{"workflowId":{"__rl":true,"value":"ALYdM6dEmJdCNNRA","mode":"list","cachedResultUrl":"/workflow/ALYdM6dEmJdCNNRA","cachedResultName":"contador_aparições"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cnpj":"={{ $json.cnpj_basico }}","consultaId":"={{ $('set_data_busca').item.json.consultaId }}","notas":"={{ $json.nota }}"},"matchingColumns":[],"schema":[{"id":"cnpj","displayName":"cnpj","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"consultaId","displayName":"consultaId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"notas","displayName":"notas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3728,-560],"id":"29462a46-6462-41a2-90a0-1a8842c556d3","name":"Call 'contador_aparições'"},{"parameters":{"workflowId":{"__rl":true,"value":"bphbpiPPgMm5Mhsb","mode":"list","cachedResultUrl":"/workflow/bphbpiPPgMm5Mhsb","cachedResultName":"query_manager"},"workflowInputs":{"mappingMode":"defineBelow","value":{"consulta":"={{ $json.descricao }}"},"matchingColumns":["consulta"],"schema":[{"id":"consulta","displayName":"consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-64,-240],"id":"aee76f0c-6da8-4afc-8acc-e138339c5d1c","name":"Call 'query_manager'"},{"parameters":{"content":"## Banco de dados:\n- Soma 1 ao contador de aparições dos cnpjs listados\n- Insere os cnpjs listados na tabela de aparições","height":288,"width":608,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3280,-672],"id":"d848602c-1295-4f0a-9e29-e9a3e4b6f007","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"67239d33-a6aa-4f1c-9f96-984e97694c0d","name":"descricao","value":"={{ $json.parametros.descricao }}","type":"string"},{"id":"62dac054-7a4b-4b88-bb34-55c4e6a1c04f","name":"consultaId","value":"={{ $json.id }}","type":"string"},{"id":"d858c2d7-246d-4a7e-b250-739274c867da","name":"ufs","value":"={{ $json.uf }}","type":"array"},{"id":"8f882c9b-c4a7-46e5-9ad4-adb47c63be83","name":"lista_municipio","value":"={{ $('set_data_busca1').item.json.lista_municipio }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,-240],"id":"a65c2a31-afda-442b-9ed5-ad3843d44403","name":"set_data_busca"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search?rerank=1","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"servico\":[{{ $json.servico }}],\n    \"produto\":[{{ $json.produto }}],\n    \"descricao\":[{{ $json.descricao }}],\n    \"publico\":[{{ $json.publico }}],\n    \"cliente\":[{{ $json.cliente }}]\n  },\n  \"weights\": {\n    \"servico\": {{ $json.output.peso_servicos }},\n    \"descricao\": {{ $json.output.peso_descricao }},\n    \"publico\": {{ $json.output.peso_publico }},\n    \"cliente\": {{ $json.output.peso_clientes }},\n    \"produto\": {{ $json.output.peso_produtos }},\n    \"bm25\": {{ $json.output.peso_bm25 }}\n\n  },\n  \"filter\": {\n    \"modelo_negocio\": \"\",\n    \"cidade\":\"{{ $('set_data_busca').item.json.lista_municipio }}\",\n    \"uf\":\"{{ $('set_data_busca').item.json.ufs }}\"\n  },\n  \"filter_not\": {\n    \"descricao\": \"\"\n  },\n  \"limit_per_vector\": 20,\n  \"final_limit\": 15,\n  \"bm25_query\": \"{{ $json.bm25\n  .replace(/[^\\w\\s\\-.,]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n}}\",\n  \"rerank\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[176,-96],"id":"64840617-6f52-458d-bb40-7f3cde36d0e2","name":"Busca_Vetorial","retryOnFail":true,"maxTries":5},{"parameters":{"jsCode":"function safe(v) {\n  if (v === null || v === undefined) return \"\";\n  return String(v);\n}\n\nconst total = items.length;\n\nreturn items.map((item, index) => {\n  const j = item.json;\n  const payload = j.payload || {};\n\n  let nota = 100;\n\n  if (total > 1) {\n    nota = 100 - (25 * index) / (total - 1);\n  }\n\n  // Arredondamento + clamp\n  nota = Math.round(nota);\n  nota = Math.max(75, Math.min(100, nota));\n\n  return {\n    json: {\n      id: j.id || null,\n      score_final: j.score_final || 0,\n      nota: parseInt(nota),\n\n      cnpj: safe(payload.cnpj),\n      n_exibicoes: j.n_exibicoes || 0,\n      plano_categoria: j.plano_categoria || null,\n\n      full_profile: {\n        identidade: {\n          nome_empresa: safe(payload.nome_empresa),\n          modelo_negocio: safe(payload.modelo_negocio)\n        },\n        contato: {\n          url_site: safe(payload.site),\n          telefones: safe(payload.telefone),\n          emails: safe(payload.email)\n        }\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-96],"id":"05a4c834-af42-4961-871d-1fd1bcd80189","name":"Process_Profile"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search?rerank=1","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"servico\":[{{ $json.servico }}],\n    \"produto\":[{{ $json.produto }}],\n    \"descricao\":[{{ $json.descricao }}],\n    \"publico\":[{{ $json.publico }}],\n    \"cliente\":[{{ $json.cliente }}]\n  },\n  \"weights\": {\n    \"servico\": {{ $json.output.peso_servicos }},\n    \"descricao\": {{ $json.output.peso_descricao }},\n    \"publico\": {{ $json.output.peso_publico }},\n    \"cliente\": {{ $json.output.peso_clientes }},\n    \"produto\": {{ $json.output.peso_produtos }},\n    \"bm25\": {{ $json.output.peso_bm25 }}\n\n  },\n  \"filter\": {\n    \"modelo_negocio\": \"\",\n    \"cidade\":\"\",\n    \"uf\":\"\"\n  },\n  \"filter_not\": {\n    \"descricao\": \"\"\n  },\n  \"limit_per_vector\": 20,\n  \"final_limit\": 2,\n  \"bm25_query\": \"{{ $json.bm25\n  .replace(/[^\\w\\s\\-.,]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n}}\",\n  \"rerank\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[176,-352],"id":"3bd687d2-61d0-4512-bc50-8ae2368ef315","name":"Busca_Vetorial1","retryOnFail":true,"maxTries":5},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[400,-352],"id":"48ce04b3-d039-418e-8310-042ccb3b9790","name":"Split Out","alwaysOutputData":true},{"parameters":{"content":"## Busca Nacional","height":240,"width":1040},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[128,-416],"id":"9b68d891-25dd-4d21-b93e-ddc04e3a3deb","name":"Sticky Note1"},{"parameters":{"jsCode":"function safe(v) {\n  if (v === null || v === undefined) return \"\";\n  return String(v);\n}\n\n// 1. Ordenar resultados pelo score final (descendente)\nconst sorted = [...items].sort(\n  (a, b) => (b.json.score_final || 0) - (a.json.score_final || 0)\n);\n\n// 2. Identificar os extremos para a normalização (Min-Max)\nconst maxScore = sorted[0]?.json?.score_final || 0;\nconst minScore = sorted[sorted.length - 1]?.json?.score_final || 0;\n\nreturn sorted.map(item => {\n  const j = item.json;\n  const payload = j.payload || {};\n  const score = j.score_final || 0;\n\n  let nota = 75; // Piso padrão\n\n  // 3. Lógica de Interpolação Linear para o intervalo [75, 100]\n  if (maxScore > minScore) {\n    nota = 75 + (25 * (score - minScore)) / (maxScore - minScore);\n  } else if (maxScore > 0) {\n    nota = 100;\n  }\n\n  // 4. Conversão para INTEIRO e trava de segurança\n  nota = Math.round(nota); \n  nota = Math.max(75, Math.min(100, nota));\n\n  return {\n    json: {\n      id: j.id || null,\n      score_final: score,\n      nota: parseInt(nota),\n\n      cnpj: safe(payload.cnpj),\n      n_exibicoes: j.n_exibicoes || 0,\n      plano_categoria: j.plano_categoria || null,\n\n      full_profile: {\n        identidade: {\n          nome_empresa: safe(payload.nome_empresa),\n          modelo_negocio: safe(payload.modelo_negocio) // incluído aqui\n        },\n        contato: {\n          url_site: safe(payload.site),\n          telefones: safe(payload.telefone),\n          emails: safe(payload.email)\n        }\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-352],"id":"29266b78-9c69-4ae1-8833-1f387859916d","name":"Process_Profile1"},{"parameters":{"assignments":{"assignments":[{"id":"37b79ebe-4d88-4286-ad8f-71f98605e4ad","name":"result.item","value":"={{ $json.item }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,-352],"id":"c2f6fda9-9068-4825-b7cb-9edfdfa26036","name":"set_result1"},{"parameters":{"assignments":{"assignments":[{"id":"8c8e6e64-cc6b-4e81-b261-650dc9498ac5","name":"item.fornecedor_id","value":"={{ $json.id || null}}","type":"string"},{"id":"e885457b-46bf-4c87-bd33-8c40ffd2805d","name":"item.n_listagens","value":"={{ $json.n_exibicoes || 0 }}","type":"number"},{"id":"665347f5-2639-4bb0-b692-0531f600359b","name":"item.plano_categoria","value":"={{ $json.plano_categoria || null }}","type":"string"},{"id":"244003cf-9cb2-437b-bb1b-e89a4cfb661d","name":"item.razao_social","value":"={{ $json.full_profile.identidade.nome_empresa }}","type":"string"},{"id":"c123260f-217e-4549-8c69-7c6cae477cff","name":"item.site","value":"={{ $json.full_profile.contato.url_site }}","type":"string"},{"id":"7a6d26fa-9e0e-415f-8d22-b7cf1bce103f","name":"item.telefone","value":"={{ $json.full_profile.contato.telefones }}","type":"string"},{"id":"1b92249f-71a1-48dd-9158-622d960b7794","name":"item.email","value":"={{ $json.full_profile.contato.emails }}","type":"string"},{"id":"76e17746-f60a-4628-9b58-0199f219e612","name":"item.nota","value":"=100","type":"number"},{"id":"3ebb5849-177b-4fba-bf29-572446fba50e","name":"item.limite_listagens ","value":"={{    $json.plano_categoria      ? (         $json.plano_categoria.toLowerCase() === 'standard' ? 10 :         $json.plano_categoria.toLowerCase() === 'essencial' ? 25 :         $json.plano_categoria.toLowerCase() === 'profissional' ? 1000 :         $json.plano_categoria.toLowerCase() === 'elite' ? 1000000 :         10       )     : 10 }}","type":"string"},{"id":"bd7599ed-40ac-4859-a39d-b99209bd89e1","name":"item.consulta_id","value":"={{ $('set_data_busca').item.json.consultaId }}","type":"string"},{"id":"0c2092b3-9f01-4b46-ba92-ba0c123babaa","name":"item.cnpj_basico","value":"={{ $json.cnpj }}","type":"string"},{"id":"40c24aed-1a3e-4f4d-85eb-90a167a7fa4c","name":"item.escopo","value":"nacional","type":"string"},{"id":"ce339f5b-313b-4b91-8c17-453ed2adbcac","name":"item.modelo_negocio","value":"={{ $json.full_profile.identidade.modelo_negocio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,-352],"id":"17ab8ece-6a11-4509-83c8-4bd8828a1432","name":"set_national_result1"},{"parameters":{"assignments":{"assignments":[{"id":"8c8e6e64-cc6b-4e81-b261-650dc9498ac5","name":"item.fornecedor_id","value":"={{ $json.id || null}}","type":"string"},{"id":"e885457b-46bf-4c87-bd33-8c40ffd2805d","name":"item.n_listagens","value":"={{ $json.n_exibicoes || 0 }}","type":"number"},{"id":"665347f5-2639-4bb0-b692-0531f600359b","name":"item.plano_categoria","value":"={{ $json.plano_categoria || null }}","type":"string"},{"id":"244003cf-9cb2-437b-bb1b-e89a4cfb661d","name":"item.razao_social","value":"={{ $json.full_profile.identidade.nome_empresa }}","type":"string"},{"id":"c123260f-217e-4549-8c69-7c6cae477cff","name":"item.site","value":"={{ $json.full_profile.contato.url_site }}","type":"string"},{"id":"7a6d26fa-9e0e-415f-8d22-b7cf1bce103f","name":"item.telefone","value":"={{ $json.full_profile.contato.telefones }}","type":"string"},{"id":"1b92249f-71a1-48dd-9158-622d960b7794","name":"item.email","value":"={{ $json.full_profile.contato.emails }}","type":"string"},{"id":"76e17746-f60a-4628-9b58-0199f219e612","name":"item.nota","value":"={{ $json.nota }}","type":"number"},{"id":"3ebb5849-177b-4fba-bf29-572446fba50e","name":"item.limite_listagens ","value":"={{    $json.plano_categoria      ? (         $json.plano_categoria.toLowerCase() === 'standard' ? 10 :         $json.plano_categoria.toLowerCase() === 'essencial' ? 25 :         $json.plano_categoria.toLowerCase() === 'profissional' ? 1000 :         $json.plano_categoria.toLowerCase() === 'elite' ? 1000000 :         10       )     : 10 }}","type":"string"},{"id":"bd7599ed-40ac-4859-a39d-b99209bd89e1","name":"item.consulta_id","value":"={{ $('set_data_busca').item.json.consultaId }}","type":"string"},{"id":"0c2092b3-9f01-4b46-ba92-ba0c123babaa","name":"item.cnpj_basico","value":"={{ $json.cnpj }}","type":"string"},{"id":"a7b9e24b-b13d-4cbc-942f-fd358def7fff","name":"item.escopo","value":"local","type":"string"},{"id":"cf901bef-8ec4-421b-88de-b5d9fcbf0ed8","name":"item.modelo_negocio","value":"={{ $json.full_profile.identidade.modelo_negocio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,-96],"id":"0e04e89b-cc0e-4253-9e69-157e1b3da730","name":"set_local_result"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1216,-224],"id":"be4f13fd-3ce2-48fb-bdc1-f600ea933575","name":"Merge1"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"result.item.cnpj_basico","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[2928,-240],"id":"8e129a2b-0ded-4600-94ef-d04b3e8f4eea","name":"Remove Duplicates"},{"parameters":{"fieldToSplitOut":"result","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3328,-560],"id":"d38db894-22a1-4692-927b-b4f07e654ce2","name":"Split Out1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"cnpj_basico"},{"fieldToAggregate":"nota"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3536,-560],"id":"4fb298bf-59ed-4d62-924f-54810dfef27b","name":"Aggregate"},{"parameters":{"content":"## Banco de dados:\n- Insere os resultados no banco\n- Não insere resultados duplicados","height":288,"width":2196,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2832,-368],"id":"5e7febf1-2e08-426d-93fa-632122305d0f","name":"Sticky Note2"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"contador_aparicoes","mode":"list","cachedResultName":"contador_aparicoes"},"returnAll":true,"where":{"values":[{"column":"cnpj","value":"={{ $json.cnpj_basico }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1696,-352],"id":"a9f59b22-88e2-4355-a52b-3f0b38167b30","name":"Select rows from a table1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.n_aparicoes != null && $json.n_aparicoes !== '' \n    ? Number($json.n_aparicoes) \n    : null }}","rightValue":"={{ $json.limite_aparicoes != null && $json.limite_aparicoes !== '' \n    ? Number($json.n_aparicoes) \n    : null }}","operator":{"type":"number","operation":"gte"},"id":"004e984c-6051-43fa-ad61-08bc36bb095d"}],"combinator":"and"},"renameOutput":true,"outputKey":"Limite Atingido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"50075b48-4326-4758-b9a1-f8ead5138dba","leftValue":"={{ $json.n_aparicoes != null && $json.n_aparicoes !== '' \n    ? Number($json.n_aparicoes) \n    : null }}","rightValue":"={{ $json.limite_aparicoes != null && $json.limite_aparicoes !== '' \n    ? Number($json.n_aparicoes) \n    : null }}","operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pode ser Exibido"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1904,-352],"id":"82ff001a-7f5c-4912-bfa5-7c5295da25b0","name":"Switch","alwaysOutputData":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"cnpj"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2192,-368],"id":"73c69c2f-300d-4ed9-a16f-a6543d02b5a2","name":"Aggregate1","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2464,-240],"id":"481c13c4-fb76-4e9d-afff-6f8023cbabed","name":"Merge2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ae73dffc-2514-4418-8376-6529ffe767cb","leftValue":"={{ $('Aggregate1').item.json.cnpj }}","rightValue":"={{ $json.result.item.cnpj_basico }}","operator":{"type":"array","operation":"notContains","rightType":"any"}},{"id":"79c4522f-dccb-4715-840f-63aa00e08fc1","leftValue":"={{ $json.result.item.cnpj_basico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[2656,-240],"id":"2f7e553c-16c8-4eb1-9f10-b3d713f88c3e","name":"Filter"},{"parameters":{"content":"## Faz a contagem de aparições e filtra empresas que já atingiram seu limite","height":352,"width":1632,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1184,-416],"id":"1e94dd24-9a2b-4198-8cdf-745704390444","name":"Sticky Note27"},{"parameters":{"assignments":{"assignments":[{"id":"9f189585-b83b-4a73-9e00-809f462362d7","name":"cnpj_basico","value":"={{ $json.result.item.cnpj_basico }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1488,-352],"id":"f1d6293c-f9fc-40c0-872c-e30abdb2523e","name":"Edit Fields1","alwaysOutputData":true},{"parameters":{"jsonSchemaExample":"{ \n  \"cidades_selecionadas\": [\"Cidade1\", \"Cidade2\"],\n  \"ufs_selecionadas\": [\"UF1\", \"UF2\"], \n  \"descricao\": \"string\" \n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-3456,-96],"id":"07ad711c-c6df-43ea-b3bf-119bbc5d03a4","name":"Structured Output Parser"},{"parameters":{"action":"generate","dataPropertyName":"consulta_id"},"type":"n8n-nodes-base.crypto","typeVersion":2,"position":[-720,-240],"id":"6cba6f3f-9a90-4806-b2b2-017483e76914","name":"Crypto"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4096,-256],"id":"adc3a14f-8ec7-4ebd-a9d9-e3b23ca6540f","name":"Merge"},{"parameters":{"content":"### (Tool) Busca Whatsapp\n- Realiza uma busca simplificada, criando aparições e mostrando o resultado por mensagem\n\n\n","height":80,"width":304,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3968,-480],"id":"cb636ab3-078d-4026-8489-cbd39eacc0a4","name":"Sticky Note4"},{"parameters":{"schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"consultas","mode":"list","cachedResultName":"consultas"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.consulta_id }}","created_at":"={{ $now }}","parametros":"={\n  \"descricao\": \"{{ $('Query-Model').item.json.output.descricao }}\",\n  \"tipo_busca\": \"uf\",\n  \"cnpjs_existentes\": \"\",\n  \"ufs_selecionadas\": [{{ $('Query-Model').item.json.output.ufs_selecionadas }}]\n} ","status":"pending","comprador":"={{ $('When Executed by Another Workflow').item.json.id }}","execution_id":"={{ $execution.id }}","uf":"={{ $('Query-Model').item.json.output.ufs_selecionadas }}","origem":"whatsapp"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"parametros","displayName":"parametros","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"resultados","displayName":"resultados","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"comprador","displayName":"comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"v_produto","displayName":"v_produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"v_cliente","displayName":"v_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"v_servico","displayName":"v_servico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"v_descricao","displayName":"v_descricao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"v_publico","displayName":"v_publico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"bm_25","displayName":"bm_25","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"uf","displayName":"uf","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"municipio","displayName":"municipio","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true,"removed":true},{"id":"modelo_negocio","displayName":"modelo_negocio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fallback","displayName":"fallback","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-512,-240],"id":"f60326f2-1df9-4658-81cc-3fc08fef3bca","name":"insert-consulta","credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"content":"## Query-Model\n- Modela a query do usuário.\n- Cria o registro da consulta no banco.","height":448,"width":864,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3968,-384],"id":"70e44eb0-a43d-4ea2-95b8-e4b351c1f361","name":"Sticky Note26"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"df4e5915-07cc-4afb-99a3-2ff13636335c","leftValue":"={{ $json.output.cidades_selecionadas }}","rightValue":"city","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"busca_cidade"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output.ufs_selecionadas }}","rightValue":"=uf","operator":{"type":"array","operation":"notEmpty","singleValue":true},"id":"5ae05424-95d0-4255-9143-db06a0b77429"}],"combinator":"and"},"renameOutput":true,"outputKey":"busca_uf"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-2928,-208],"id":"ede048bb-e3da-47bd-970c-43028333a40a","name":"tipo_busca1"},{"parameters":{"fieldToSplitOut":"nearby_cities","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2448,-192],"id":"e338068f-9117-44a4-807f-3aa1cd6d7b95","name":"Split Out3","alwaysOutputData":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"descricao"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1584,-336],"id":"2f67adbf-3bd6-4068-b1c7-eae40aa13718","name":"Aggregate3","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"3b606833-d2df-4174-a8f3-8bd57c8fffcf","name":"cidades","value":"={{ $('Split Out3').item.json.name.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").replace(/~/g, \"\").toUpperCase() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2032,-336],"id":"e6e0e279-1eab-451d-922c-6ce72938aa17","name":"lista_cidades1"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"get","tableId":"municipio","filters":{"conditions":[{"keyName":"descricao","keyValue":"={{ $json.cidades }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1808,-336],"id":"da4bff56-b2c7-4071-aac0-84a4cf3c9d2f","name":"Get_codes1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1344,-224],"id":"bcb4e32a-6df6-45f5-aeee-55d0d00355b0","name":"Merge6"},{"parameters":{"jsCode":"// Pega todos os itens recebidos\nconst items = $input.all();\n\n// Extrai a UF (últimos 2 caracteres após o hífen)\nconst ufs = items\n  .map(item => {\n    const text = item.json.uf || item.json.cidade_origem || \"\";\n    const match = text.match(/([A-Z]{2})$/);\n    return match ? match[1] : null;\n  })\n  .filter(Boolean); // remove nulos\n\n// Remove duplicadas\nconst ufsUnicas = [...new Set(ufs)];\n\n// Retorna no formato original\nreturn [\n  {\n    json: {\n      ufs_unicas: ufsUnicas\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1808,-112],"id":"25a2c482-2710-489f-b652-986d0d4ec1ae","name":"set_ufs_unicas1"},{"parameters":{"content":"## API própria:\n- Encontra cidades dentro de um raio pré-definido","height":256,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2736,-304],"id":"12e53145-033c-42d2-b147-dfd330275787","name":"Sticky Note43"},{"parameters":{"url":"https://api-busca-cidades-buscafornecedor.up.railway.app/api/cities/nearby","sendQuery":true,"queryParameters":{"parameters":[{"name":"city_name","value":"={{ $json.output.cidades_selecionadas.first().replace(/\\s*-\\s*[A-Z]{2}$/, '') }}"},{"name":"radius_km","value":"=150"},{"name":"uf","value":"={{ $json.output.ufs_selecionadas }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2672,-192],"id":"2d441716-a918-4017-8ea8-2374cf0e1ac6","name":"acha_cidade1","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"content":"## Busca códigos para as cidades no supabase:","height":272,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1888,-448],"id":"ecfdd9e3-9233-4f35-8cd1-5d986ed1fd4e","name":"Sticky Note44"},{"parameters":{"maxItems":100},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2240,-192],"id":"2d5bb7fe-cf79-4bdc-be35-75b367898356","name":"Limit"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1120,-240],"id":"c415201b-b9e0-44f6-917c-483556195175","name":"Merge3"},{"parameters":{"assignments":{"assignments":[{"id":"67239d33-a6aa-4f1c-9f96-984e97694c0d","name":"descricao","value":"={{ $('Query-Model').item.json.output.descricao }}","type":"string"},{"id":"86485711-eb18-481b-9098-3f7f50f527ab","name":"ufs_selecionadas","value":"={{ $json.ufs_unicas || []}}","type":"array"},{"id":"e8d9155c-f07e-49cc-9b2d-5e56cd44e33d","name":"lista_municipio","value":"={{ $json.descricao || [] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-944,-240],"id":"f6635db8-1583-4ca5-af9c-d01107271447","name":"set_data_busca1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.cidades_selecionadas.append($json.output.ufs_selecionadas) }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true},"id":"71bb09dd-26c6-4441-a96a-520842f77619"}],"combinator":"and"},"renameOutput":true,"outputKey":"Indefinida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0c303924-1da1-4488-893e-375010173817","leftValue":"={{ $json.output.cidades_selecionadas.append($json.output.ufs_selecionadas) }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Definida"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-3264,-240],"id":"cdf8bebe-0308-442b-81c9-7c10a7ead481","name":"Localidade"},{"parameters":{"content":"## Api-Localidade\n- Identifica a localidade definida na busca\n- Define a área buscada com base em um raio padrão de 150km","height":528,"width":3200,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3088,-480],"id":"5495cbbf-c08f-4777-8554-97f11dc13c98","name":"Sticky Note28"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"result.item"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4288,-256],"id":"4780fcd0-cbe5-424f-ad51-9eb22594d60b","name":"Aggregate2"},{"parameters":{"assignments":{"assignments":[{"id":"14bb0497-6c03-4382-9eb9-87ea36a68be4","name":"resultados","value":"={{ $json.resultados }}","type":"array"},{"id":"a561a6f0-d865-4f34-9fec-c306cfaf211f","name":"parametros","value":"={{ $json.parametros }}","type":"object"},{"id":"1dba8678-449f-4adf-b5ce-53bf5664dc05","name":"id","value":"={{ $('When Executed by Another Workflow').item.json.id }}","type":"string"},{"id":"9540b2b2-08d5-4c5b-8146-e992172ac54d","name":"descricao","value":"={{ $json.parametros.descricao }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4928,-256],"id":"4848dbd2-dcb5-4036-b358-bc56a5f39f7c","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Query-Model","type":"main","index":0}]]},"Query-Model":{"main":[[{"node":"Localidade","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Query-Model","type":"ai_languageModel","index":0}]]},"get_result":{"main":[[{"node":"Mostra resultado intermediário1","type":"main","index":0}]]},"Mostra resultado intermediário1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"set_result":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Split Out4":{"main":[[{"node":"Process_Profile","type":"main","index":0}]]},"Call 'query_manager'":{"main":[[{"node":"Busca_Vetorial","type":"main","index":0},{"node":"Busca_Vetorial1","type":"main","index":0}]]},"set_data_busca":{"main":[[{"node":"Call 'query_manager'","type":"main","index":0}]]},"Busca_Vetorial":{"main":[[{"node":"Split Out4","type":"main","index":0}]]},"Process_Profile":{"main":[[{"node":"set_local_result","type":"main","index":0}]]},"Busca_Vetorial1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Process_Profile1","type":"main","index":0}]]},"Process_Profile1":{"main":[[{"node":"set_national_result1","type":"main","index":0}]]},"set_result1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"set_national_result1":{"main":[[{"node":"set_result1","type":"main","index":0}]]},"set_local_result":{"main":[[{"node":"set_result","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Edit Fields1","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"Remove Duplicates":{"main":[[{"node":"Split Out1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Split Out1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Call 'contador_aparições'","type":"main","index":0}]]},"Select rows from a table1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Select rows from a table1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Query-Model","type":"ai_outputParser","index":0}]]},"Crypto":{"main":[[{"node":"insert-consulta","type":"main","index":0}]]},"Call 'contador_aparições'":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"insert-consulta":{"main":[[{"node":"set_data_busca","type":"main","index":0}]]},"tipo_busca1":{"main":[[{"node":"acha_cidade1","type":"main","index":0}],[{"node":"Merge3","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"lista_cidades1":{"main":[[{"node":"Get_codes1","type":"main","index":0}]]},"Get_codes1":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"set_ufs_unicas1":{"main":[[{"node":"Merge6","type":"main","index":1}]]},"acha_cidade1":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Limit":{"main":[[{"node":"lista_cidades1","type":"main","index":0},{"node":"set_ufs_unicas1","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"set_data_busca1","type":"main","index":0}]]},"set_data_busca1":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Localidade":{"main":[[{"node":"Crypto","type":"main","index":0}],[{"node":"tipo_busca1","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"get_result","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"id":"c4a90fd9-3186-4a71-a542-b232e7a40b0c","query":"fornecedor de sal de cozinha no Rio de Janeiro"},"pairedItem":{"item":0}}],"acha_cidade1":[{"json":{"center_city":{"is_capital":true,"lat":-22.8766521182,"lon":-43.227875125,"municipio_id":"3304557","name":"Rio de Janeiro","population_2021":6775561,"uf":"RJ"},"nearby_cities":[{"distance_km":0,"is_capital":true,"lat":-22.8766521182,"lon":-43.227875125,"municipio_id":"3304557","name":"Rio de Janeiro","population_2021":6775561,"uf":"RJ"},{"distance_km":13.188,"is_capital":false,"lat":-22.7852532497,"lon":-43.3098880717,"municipio_id":"3301702","name":"Duque de Caxias","population_2021":929449,"uf":"RJ"},{"distance_km":15.731,"is_capital":false,"lat":-22.8964523851,"lon":-43.0758231673,"municipio_id":"3303302","name":"Niterói","population_2021":516981,"uf":"RJ"},{"distance_km":16.914,"is_capital":false,"lat":-22.8023308086,"lon":-43.371884603,"municipio_id":"3305109","name":"São João de Meriti","population_2021":473385,"uf":"RJ"},{"distance_km":20.71,"is_capital":false,"lat":-22.829547313,"lon":-43.032335062,"municipio_id":"3304904","name":"São Gonçalo","population_2021":1098357,"uf":"RJ"},{"distance_km":20.813,"is_capital":false,"lat":-22.8075142239,"lon":-43.4166099809,"municipio_id":"3303203","name":"Nilópolis","population_2021":162893,"uf":"RJ"},{"distance_km":21.569,"is_capital":false,"lat":-22.7645559675,"lon":-43.3996249708,"municipio_id":"3300456","name":"Belford Roxo","population_2021":515239,"uf":"RJ"},{"distance_km":23.908,"is_capital":false,"lat":-22.7680879226,"lon":-43.4292237631,"municipio_id":"3302858","name":"Mesquita","population_2021":177016,"uf":"RJ"},{"distance_km":26.242,"is_capital":false,"lat":-22.7598348263,"lon":-43.4503453299,"municipio_id":"3303500","name":"Nova Iguaçu","population_2021":825388,"uf":"RJ"},{"distance_km":31.323,"is_capital":false,"lat":-22.6543487574,"lon":-43.0402461327,"municipio_id":"3302502","name":"Magé","population_2021":247741,"uf":"RJ"},{"distance_km":37.981,"is_capital":false,"lat":-22.7174304901,"lon":-43.5556695471,"municipio_id":"3304144","name":"Queimados","population_2021":152311,"uf":"RJ"},{"distance_km":40.381,"is_capital":false,"lat":-22.7458630174,"lon":-42.8603434262,"municipio_id":"3301900","name":"Itaboraí","population_2021":244416,"uf":"RJ"},{"distance_km":41.032,"is_capital":false,"lat":-22.510598612,"lon":-43.1773365767,"municipio_id":"3303906","name":"Petrópolis","population_2021":307144,"uf":"RJ"},{"distance_km":42.038,"is_capital":false,"lat":-22.9169553374,"lon":-42.8198241148,"municipio_id":"3302700","name":"Maricá","population_2021":167668,"uf":"RJ"},{"distance_km":47.24,"is_capital":false,"lat":-22.5195957941,"lon":-42.9783297043,"municipio_id":"3301850","name":"Guapimirim","population_2021":62225,"uf":"RJ"},{"distance_km":50.712,"is_capital":false,"lat":-22.6448185711,"lon":-43.653785801,"municipio_id":"3302270","name":"Japeri","population_2021":106296,"uf":"RJ"},{"distance_km":50.811,"is_capital":false,"lat":-22.743011068,"lon":-43.7019252212,"municipio_id":"3305554","name":"Seropédica","population_2021":83841,"uf":"RJ"},{"distance_km":53.246,"is_capital":false,"lat":-22.4554266084,"lon":-43.4746761215,"municipio_id":"3302908","name":"Miguel Pereira","population_2021":25622,"uf":"RJ"},{"distance_km":53.888,"is_capital":false,"lat":-22.4274146332,"lon":-43.4248709167,"municipio_id":"3303856","name":"Paty do Alferes","population_2021":27942,"uf":"RJ"},{"distance_km":54.309,"is_capital":false,"lat":-22.7339374343,"lon":-42.7211719484,"municipio_id":"3305752","name":"Tanguá","population_2021":34898,"uf":"RJ"},{"distance_km":56.061,"is_capital":false,"lat":-22.8712507684,"lon":-43.7750406349,"municipio_id":"3302007","name":"Itaguaí","population_2021":136547,"uf":"RJ"},{"distance_km":57.612,"is_capital":false,"lat":-22.6097271621,"lon":-43.709384563,"municipio_id":"3303609","name":"Paracambi","population_2021":53093,"uf":"RJ"},{"distance_km":58.678,"is_capital":false,"lat":-22.4090049456,"lon":-42.9629567139,"municipio_id":"3305802","name":"Teresópolis","population_2021":185820,"uf":"RJ"},{"distance_km":59.301,"is_capital":false,"lat":-22.5436846647,"lon":-43.679476829,"municipio_id":"3301801","name":"Engenheiro Paulo de Frontin","population_2021":14138,"uf":"RJ"},{"distance_km":64.381,"is_capital":false,"lat":-22.7112715026,"lon":-42.6259978412,"municipio_id":"3304300","name":"Rio Bonito","population_2021":60930,"uf":"RJ"},{"distance_km":64.495,"is_capital":false,"lat":-22.5174226019,"lon":-43.7214868877,"municipio_id":"3302809","name":"Mendes","population_2021":18681,"uf":"RJ"},{"distance_km":68.6,"is_capital":false,"lat":-22.409007573,"lon":-43.6638740245,"municipio_id":"3306206","name":"Vassouras","population_2021":37262,"uf":"RJ"},{"distance_km":72.318,"is_capital":false,"lat":-22.2369120036,"lon":-43.1010698052,"municipio_id":"3300225","name":"Areal","population_2021":12763,"uf":"RJ"},{"distance_km":73.663,"is_capital":false,"lat":-22.4675708722,"lon":-42.6631643573,"municipio_id":"3300803","name":"Cachoeiras de Macacu","population_2021":59652,"uf":"RJ"},{"distance_km":74.167,"is_capital":false,"lat":-22.6287569098,"lon":-43.8993511858,"municipio_id":"3304003","name":"Piraí","population_2021":29802,"uf":"RJ"},{"distance_km":75.138,"is_capital":false,"lat":-22.931127416,"lon":-42.49669405,"municipio_id":"3305505","name":"Saquarema","population_2021":91938,"uf":"RJ"},{"distance_km":76.457,"is_capital":false,"lat":-22.4695962921,"lon":-43.8284524538,"municipio_id":"3300308","name":"Barra do Piraí","population_2021":101139,"uf":"RJ"},{"distance_km":79.72,"is_capital":false,"lat":-22.1619815422,"lon":-43.2895444648,"municipio_id":"3303708","name":"Paraíba do Sul","population_2021":44741,"uf":"RJ"},{"distance_km":83.826,"is_capital":false,"lat":-22.9617119412,"lon":-44.0411265454,"municipio_id":"3302601","name":"Mangaratiba","population_2021":45941,"uf":"RJ"},{"distance_km":84.436,"is_capital":false,"lat":-22.117448001,"lon":-43.2116094443,"municipio_id":"3306008","name":"Três Rios","population_2021":82468,"uf":"RJ"},{"distance_km":85.653,"is_capital":false,"lat":-22.2447194312,"lon":-43.7048436783,"municipio_id":"3306107","name":"Valença","population_2021":77202,"uf":"RJ"},{"distance_km":86.159,"is_capital":false,"lat":-22.1718622438,"lon":-43.5764329481,"municipio_id":"3304508","name":"Rio das Flores","population_2021":9401,"uf":"RJ"},{"distance_km":86.67,"is_capital":false,"lat":-22.1497395105,"lon":-42.9233683013,"municipio_id":"3305158","name":"São José do Vale do Rio Preto","population_2021":22032,"uf":"RJ"},{"distance_km":88.83,"is_capital":false,"lat":-22.5156739858,"lon":-44.000354557,"municipio_id":"3303955","name":"Pinheiral","population_2021":25563,"uf":"RJ"},{"distance_km":89.413,"is_capital":false,"lat":-22.6543301984,"lon":-42.3898259274,"municipio_id":"3305604","name":"Silva Jardim","population_2021":21775,"uf":"RJ"},{"distance_km":90.849,"is_capital":false,"lat":-22.8774383874,"lon":-42.3410960232,"municipio_id":"3300209","name":"Araruama","population_2021":136109,"uf":"RJ"},{"distance_km":93.776,"is_capital":false,"lat":-22.0333589384,"lon":-43.2172237156,"municipio_id":"3300951","name":"Comendador Levy Gasparian","population_2021":8590,"uf":"RJ"},{"distance_km":94.814,"is_capital":false,"lat":-22.731726834,"lon":-44.1394056377,"municipio_id":"3304409","name":"Rio Claro","population_2021":18677,"uf":"RJ"},{"distance_km":96.953,"is_capital":false,"lat":-22.2864614592,"lon":-42.532771263,"municipio_id":"3303401","name":"Nova Friburgo","population_2021":191664,"uf":"RJ"},{"distance_km":97.717,"is_capital":false,"lat":-22.5099676008,"lon":-44.0935218847,"municipio_id":"3306305","name":"Volta Redonda","population_2021":274925,"uf":"RJ"},{"distance_km":98.605,"is_capital":false,"lat":-22.0037126009,"lon":-43.0590388471,"municipio_id":"3116209","name":"Chiador","population_2021":2657,"uf":"MG"},{"distance_km":101.781,"is_capital":false,"lat":-21.9648567892,"lon":-43.3149558126,"municipio_id":"3167509","name":"Simão Pereira","population_2021":2621,"uf":"MG"},{"distance_km":103.137,"is_capital":false,"lat":-22.8390569837,"lon":-42.2221245423,"municipio_id":"3301876","name":"Iguaba Grande","population_2021":29344,"uf":"RJ"},{"distance_km":103.231,"is_capital":false,"lat":-21.9496920444,"lon":-43.1723178337,"municipio_id":"3158607","name":"Santana do Deserto","population_2021":3985,"uf":"MG"},{"distance_km":103.311,"is_capital":false,"lat":-21.9939558652,"lon":-42.9141753605,"municipio_id":"3305406","name":"Sapucaia","population_2021":18270,"uf":"RJ"},{"distance_km":103.655,"is_capital":false,"lat":-22.5453011339,"lon":-44.1724313737,"municipio_id":"3300407","name":"Barra Mansa","population_2021":185237,"uf":"RJ"},{"distance_km":104.818,"is_capital":false,"lat":-21.950131302,"lon":-43.4157207679,"municipio_id":"3106101","name":"Belmiro Braga","population_2021":3422,"uf":"MG"},{"distance_km":107.386,"is_capital":false,"lat":-22.0869222525,"lon":-43.8294656656,"municipio_id":"3155900","name":"Rio Preto","population_2021":5493,"uf":"MG"},{"distance_km":107.8,"is_capital":false,"lat":-22.0506694108,"lon":-42.6786255811,"municipio_id":"3305703","name":"Sumidouro","population_2021":15709,"uf":"RJ"},{"distance_km":112.385,"is_capital":false,"lat":-21.8694792711,"lon":-43.3191619888,"municipio_id":"3140803","name":"Matias Barbosa","population_2021":14626,"uf":"MG"},{"distance_km":112.76,"is_capital":false,"lat":-23.0091159353,"lon":-44.3196272623,"municipio_id":"3300100","name":"Angra dos Reis","population_2021":210171,"uf":"RJ"},{"distance_km":113.244,"is_capital":false,"lat":-21.9572670151,"lon":-43.7017741664,"municipio_id":"3157278","name":"Santa Bárbara do Monte Verde","population_2021":3212,"uf":"MG"},{"distance_km":113.931,"is_capital":false,"lat":-22.4795365026,"lon":-42.2042105444,"municipio_id":"3301306","name":"Casimiro de Abreu","population_2021":45864,"uf":"RJ"},{"distance_km":114.362,"is_capital":false,"lat":-22.6826159993,"lon":-44.323330129,"municipio_id":"3504909","name":"Bananal","population_2021":11039,"uf":"SP"},{"distance_km":114.526,"is_capital":false,"lat":-21.8668933766,"lon":-43.0084067544,"municipio_id":"3139805","name":"Mar de Espanha","population_2021":12985,"uf":"MG"},{"distance_km":115.288,"is_capital":false,"lat":-22.8372031948,"lon":-42.1035286702,"municipio_id":"3305208","name":"São Pedro da Aldeia","population_2021":107556,"uf":"RJ"},{"distance_km":115.773,"is_capital":false,"lat":-22.1533052283,"lon":-42.4172114823,"municipio_id":"3300506","name":"Bom Jardim","population_2021":27779,"uf":"RJ"},{"distance_km":116.086,"is_capital":false,"lat":-21.8369041285,"lon":-43.1262861746,"municipio_id":"3149507","name":"Pequeri","population_2021":3340,"uf":"MG"},{"distance_km":116.757,"is_capital":false,"lat":-22.0589060899,"lon":-42.5150976315,"municipio_id":"3301603","name":"Duas Barras","population_2021":11563,"uf":"RJ"},{"distance_km":118.201,"is_capital":false,"lat":-22.4099186617,"lon":-44.2627113016,"municipio_id":"3304128","name":"Quatis","population_2021":14562,"uf":"RJ"},{"distance_km":120.282,"is_capital":false,"lat":-22.4329484238,"lon":-44.296900735,"municipio_id":"3304110","name":"Porto Real","population_2021":20254,"uf":"RJ"},{"distance_km":120.789,"is_capital":false,"lat":-22.1484611222,"lon":-44.1004418544,"municipio_id":"3159308","name":"Santa Rita de Jacutinga","population_2021":4843,"uf":"MG"},{"distance_km":122.947,"is_capital":false,"lat":-21.8025169575,"lon":-42.9443320994,"municipio_id":"3165602","name":"Senador Cortes","population_2021":2001,"uf":"MG"},{"distance_km":123.023,"is_capital":false,"lat":-21.9293117801,"lon":-42.6097176407,"municipio_id":"3301207","name":"Carmo","population_2021":19161,"uf":"RJ"},{"distance_km":123.266,"is_capital":false,"lat":-22.9676382776,"lon":-42.0283359676,"municipio_id":"3300258","name":"Arraial do Cabo","population_2021":30827,"uf":"RJ"},{"distance_km":123.736,"is_capital":false,"lat":-22.8807646671,"lon":-42.0200748019,"municipio_id":"3300704","name":"Cabo Frio","population_2021":234077,"uf":"RJ"},{"distance_km":123.903,"is_capital":false,"lat":-21.8768037119,"lon":-42.6959466025,"municipio_id":"3101508","name":"Além Paraíba","population_2021":35438,"uf":"MG"},{"distance_km":124.686,"is_capital":false,"lat":-21.7609243087,"lon":-43.3488172725,"municipio_id":"3136702","name":"Juiz de Fora","population_2021":577532,"uf":"MG"},{"distance_km":126.988,"is_capital":false,"lat":-22.2089768784,"lon":-44.2310487921,"municipio_id":"3147808","name":"Passa-Vinte","population_2021":2024,"uf":"MG"},{"distance_km":127.101,"is_capital":false,"lat":-22.6747987233,"lon":-44.4481065568,"municipio_id":"3503158","name":"Arapeí","population_2021":2452,"uf":"SP"},{"distance_km":128.676,"is_capital":false,"lat":-21.7327203008,"lon":-43.0389524781,"municipio_id":"3128501","name":"Guarará","population_2021":3755,"uf":"MG"},{"distance_km":129.139,"is_capital":false,"lat":-21.8410955181,"lon":-43.796383224,"municipio_id":"3138609","name":"Lima Duarte","population_2021":16749,"uf":"MG"},{"distance_km":129.508,"is_capital":false,"lat":-21.722105121,"lon":-43.0620472621,"municipio_id":"3106903","name":"Bicas","population_2021":14612,"uf":"MG"},{"distance_km":129.648,"is_capital":false,"lat":-22.0277765631,"lon":-42.3630305379,"municipio_id":"3301504","name":"Cordeiro","population_2021":22152,"uf":"RJ"},{"distance_km":131.78,"is_capital":false,"lat":-21.7558281759,"lon":-42.8116372461,"municipio_id":"3160009","name":"Santo Antônio do Aventureiro","population_2021":3602,"uf":"MG"},{"distance_km":132.634,"is_capital":false,"lat":-22.4711835861,"lon":-44.4436134229,"municipio_id":"3304201","name":"Resende","population_2021":133244,"uf":"RJ"},{"distance_km":133.22,"is_capital":false,"lat":-21.9818398588,"lon":-42.365977599,"municipio_id":"3301108","name":"Cantagalo","population_2021":20163,"uf":"RJ"},{"distance_km":133.738,"is_capital":false,"lat":-21.8647729424,"lon":-43.9309268802,"municipio_id":"3145406","name":"Olaria","population_2021":1694,"uf":"MG"},{"distance_km":133.853,"is_capital":false,"lat":-21.6729132233,"lon":-43.2187700295,"municipio_id":"3115904","name":"Chácara","population_2021":3216,"uf":"MG"},{"distance_km":134.378,"is_capital":false,"lat":-21.692262751,"lon":-42.9683499275,"municipio_id":"3140209","name":"Maripá de Minas","population_2021":3000,"uf":"MG"},{"distance_km":137.989,"is_capital":false,"lat":-22.7577637929,"lon":-41.8877494681,"municipio_id":"3300233","name":"Armação dos Búzios","population_2021":35060,"uf":"RJ"},{"distance_km":138.108,"is_capital":false,"lat":-22.5239411858,"lon":-41.9369671272,"municipio_id":"3304524","name":"Rio das Ostras","population_2021":159529,"uf":"RJ"},{"distance_km":140.07,"is_capital":false,"lat":-21.6314596315,"lon":-43.0220685054,"municipio_id":"3156205","name":"Rochedo de Minas","population_2021":2335,"uf":"MG"},{"distance_km":140.253,"is_capital":false,"lat":-21.9902295051,"lon":-42.2570738797,"municipio_id":"3302452","name":"Macuco","population_2021":5646,"uf":"RJ"},{"distance_km":140.558,"is_capital":false,"lat":-21.7068071497,"lon":-43.7454590572,"municipio_id":"3149408","name":"Pedro Teixeira","population_2021":1804,"uf":"MG"},{"distance_km":140.815,"is_capital":false,"lat":-22.6464898966,"lon":-44.5783409613,"municipio_id":"3549607","name":"São José do Barreiro","population_2021":4141,"uf":"SP"},{"distance_km":141.811,"is_capital":false,"lat":-21.7707111492,"lon":-42.5412849474,"municipio_id":"3172103","name":"Volta Grande","population_2021":5270,"uf":"MG"},{"distance_km":143.108,"is_capital":false,"lat":-21.9458997849,"lon":-44.189374456,"municipio_id":"3107505","name":"Bom Jardim de Minas","population_2021":6444,"uf":"MG"},{"distance_km":143.307,"is_capital":false,"lat":-22.4970145997,"lon":-44.5627719942,"municipio_id":"3302254","name":"Itatiaia","population_2021":32312,"uf":"RJ"},{"distance_km":143.557,"is_capital":false,"lat":-22.1696084676,"lon":-44.3973057605,"municipio_id":"3107208","name":"Bocaina de Minas","population_2021":5088,"uf":"MG"},{"distance_km":144.641,"is_capital":false,"lat":-21.5764151525,"lon":-43.2688579711,"municipio_id":"3119609","name":"Coronel Pacheco","population_2021":3095,"uf":"MG"},{"distance_km":146.513,"is_capital":false,"lat":-22.0243587048,"lon":-44.3151409364,"municipio_id":"3138500","name":"Liberdade","population_2021":4994,"uf":"MG"},{"distance_km":146.755,"is_capital":false,"lat":-21.6075545063,"lon":-42.8364467678,"municipio_id":"3104403","name":"Argirita","population_2021":2681,"uf":"MG"},{"distance_km":148.917,"is_capital":false,"lat":-21.7422852764,"lon":-42.4583710299,"municipio_id":"3124609","name":"Estrela Dalva","population_2021":2308,"uf":"MG"},{"distance_km":149.519,"is_capital":false,"lat":-21.5324178277,"lon":-43.191482397,"municipio_id":"3127388","name":"Goianá","population_2021":4014,"uf":"MG"},{"distance_km":149.613,"is_capital":false,"lat":-21.9161042282,"lon":-44.2469542481,"municipio_id":"3103603","name":"Arantina","population_2021":2779,"uf":"MG"}],"radius_km":150,"total_found":101},"pairedItem":{"item":0}}],"Query-Model":[{"json":{"output":{"cidades_selecionadas":["Rio de Janeiro"],"ufs_selecionadas":[],"descricao":"Fornecedor de sal de cozinha"}},"pairedItem":{"item":0}}],"Get_codes1":[{"json":{"codigo":"6001","descricao":"RIO DE JANEIRO"},"pairedItem":{"item":0}},{"json":{"codigo":"5833","descricao":"DUQUE DE CAXIAS"},"pairedItem":{"item":1}},{"json":{"codigo":"5865","descricao":"NITEROI"},"pairedItem":{"item":2}},{"json":{"codigo":"5901","descricao":"SAO JOAO DE MERITI"},"pairedItem":{"item":3}},{"json":{"codigo":"5897","descricao":"SAO GONCALO"},"pairedItem":{"item":4}},{"json":{"codigo":"5863","descricao":"NILOPOLIS"},"pairedItem":{"item":5}},{"json":{"codigo":"2909","descricao":"BELFORD ROXO"},"pairedItem":{"item":6}},{"json":{"codigo":"1116","descricao":"MESQUITA"},"pairedItem":{"item":7}},{"json":{"codigo":"4833","descricao":"MESQUITA"},"pairedItem":{"item":7}},{"json":{"codigo":"5869","descricao":"NOVA IGUACU"},"pairedItem":{"item":8}},{"json":{"codigo":"5849","descricao":"MAGE"},"pairedItem":{"item":9}},{"json":{"codigo":"2911","descricao":"QUEIMADOS"},"pairedItem":{"item":10}},{"json":{"codigo":"5837","descricao":"ITABORAI"},"pairedItem":{"item":11}},{"json":{"codigo":"5877","descricao":"PETROPOLIS"},"pairedItem":{"item":12}},{"json":{"codigo":"5853","descricao":"MARICA"},"pairedItem":{"item":13}},{"json":{"codigo":"2907","descricao":"GUAPIMIRIM"},"pairedItem":{"item":14}},{"json":{"codigo":"2913","descricao":"JAPERI"},"pairedItem":{"item":15}},{"json":{"codigo":"0786","descricao":"SEROPEDICA"},"pairedItem":{"item":16}},{"json":{"codigo":"5857","descricao":"MIGUEL PEREIRA"},"pairedItem":{"item":17}},{"json":{"codigo":"6005","descricao":"PATY DO ALFERES"},"pairedItem":{"item":18}},{"json":{"codigo":"0788","descricao":"TANGUA"},"pairedItem":{"item":19}},{"json":{"codigo":"5839","descricao":"ITAGUAI"},"pairedItem":{"item":20}},{"json":{"codigo":"5871","descricao":"PARACAMBI"},"pairedItem":{"item":21}},{"json":{"codigo":"5915","descricao":"TERESOPOLIS"},"pairedItem":{"item":22}},{"json":{"codigo":"5835","descricao":"ENGENHEIRO PAULO DE FRONTIN"},"pairedItem":{"item":23}},{"json":{"codigo":"5885","descricao":"RIO BONITO"},"pairedItem":{"item":24}},{"json":{"codigo":"5855","descricao":"MENDES"},"pairedItem":{"item":25}},{"json":{"codigo":"5923","descricao":"VASSOURAS"},"pairedItem":{"item":26}},{"json":{"codigo":"2925","descricao":"AREAL"},"pairedItem":{"item":27}},{"json":{"codigo":"5815","descricao":"CACHOEIRAS DE MACACU"},"pairedItem":{"item":28}},{"json":{"codigo":"5879","descricao":"PIRAI"},"pairedItem":{"item":29}},{"json":{"codigo":"5909","descricao":"SAQUAREMA"},"pairedItem":{"item":30}},{"json":{"codigo":"5805","descricao":"BARRA DO PIRAI"},"pairedItem":{"item":31}},{"json":{"codigo":"5873","descricao":"PARAIBA DO SUL"},"pairedItem":{"item":32}},{"json":{"codigo":"5851","descricao":"MANGARATIBA"},"pairedItem":{"item":33}},{"json":{"codigo":"5919","descricao":"TRES RIOS"},"pairedItem":{"item":34}},{"json":{"codigo":"3957","descricao":"VALENCA"},"pairedItem":{"item":35}},{"json":{"codigo":"5921","descricao":"VALENCA"},"pairedItem":{"item":35}},{"json":{"codigo":"5889","descricao":"RIO DAS FLORES"},"pairedItem":{"item":36}},{"json":{"codigo":"6009","descricao":"SAO JOSE DO VALE DO RIO PRETO"},"pairedItem":{"item":37}},{"json":{"codigo":"0778","descricao":"PINHEIRAL"},"pairedItem":{"item":38}},{"json":{"codigo":"5911","descricao":"SILVA JARDIM"},"pairedItem":{"item":39}},{"json":{"codigo":"5803","descricao":"ARARUAMA"},"pairedItem":{"item":40}},{"json":{"codigo":"2927","descricao":"COMENDADOR LEVY GASPARIAN"},"pairedItem":{"item":41}},{"json":{"codigo":"5887","descricao":"RIO CLARO"},"pairedItem":{"item":42}},{"json":{"codigo":"6979","descricao":"RIO CLARO"},"pairedItem":{"item":42}},{"json":{"codigo":"5867","descricao":"NOVA FRIBURGO"},"pairedItem":{"item":43}},{"json":{"codigo":"5925","descricao":"VOLTA REDONDA"},"pairedItem":{"item":44}},{"json":{"codigo":"4323","descricao":"CHIADOR"},"pairedItem":{"item":45}},{"json":{"codigo":"5349","descricao":"SIMAO PEREIRA"},"pairedItem":{"item":46}},{"json":{"codigo":"0774","descricao":"IGUABA GRANDE"},"pairedItem":{"item":47}},{"json":{"codigo":"5171","descricao":"SANTANA DO DESERTO"},"pairedItem":{"item":48}},{"json":{"codigo":"0066","descricao":"SAPUCAIA"},"pairedItem":{"item":49}},{"json":{"codigo":"5907","descricao":"SAPUCAIA"},"pairedItem":{"item":49}},{"json":{"codigo":"5807","descricao":"BARRA MANSA"},"pairedItem":{"item":50}},{"json":{"codigo":"4121","descricao":"BELMIRO BRAGA"},"pairedItem":{"item":51}},{"json":{"codigo":"5117","descricao":"RIO PRETO"},"pairedItem":{"item":52}},{"json":{"codigo":"5913","descricao":"SUMIDOURO"},"pairedItem":{"item":53}},{"json":{"codigo":"4815","descricao":"MATIAS BARBOSA"},"pairedItem":{"item":54}},{"json":{"codigo":"5801","descricao":"ANGRA DOS REIS"},"pairedItem":{"item":55}},{"json":{"codigo":"0700","descricao":"SANTA BARBARA DO MONTE VERDE"},"pairedItem":{"item":56}},{"json":{"codigo":"5825","descricao":"CASIMIRO DE ABREU"},"pairedItem":{"item":57}},{"json":{"codigo":"6197","descricao":"BANANAL"},"pairedItem":{"item":58}},{"json":{"codigo":"4795","descricao":"MAR DE ESPANHA"},"pairedItem":{"item":59}},{"json":{"codigo":"5903","descricao":"SAO PEDRO DA ALDEIA"},"pairedItem":{"item":60}},{"json":{"codigo":"0955","descricao":"BOM JARDIM"},"pairedItem":{"item":61}},{"json":{"codigo":"2343","descricao":"BOM JARDIM"},"pairedItem":{"item":61}},{"json":{"codigo":"5809","descricao":"BOM JARDIM"},"pairedItem":{"item":61}},{"json":{"codigo":"4989","descricao":"PEQUERI"},"pairedItem":{"item":62}},{"json":{"codigo":"5831","descricao":"DUAS BARRAS"},"pairedItem":{"item":63}},{"json":{"codigo":"2923","descricao":"QUATIS"},"pairedItem":{"item":64}},{"json":{"codigo":"0780","descricao":"PORTO REAL"},"pairedItem":{"item":65}},{"json":{"codigo":"5185","descricao":"SANTA RITA DE JACUTINGA"},"pairedItem":{"item":66}},{"json":{"codigo":"5311","descricao":"SENADOR CORTES"},"pairedItem":{"item":67}},{"json":{"codigo":"5823","descricao":"CARMO"},"pairedItem":{"item":68}},{"json":{"codigo":"5927","descricao":"ARRAIAL DO CABO"},"pairedItem":{"item":69}},{"json":{"codigo":"5813","descricao":"CABO FRIO"},"pairedItem":{"item":70}},{"json":{"codigo":"4029","descricao":"ALEM PARAIBA"},"pairedItem":{"item":71}},{"json":{"codigo":"4733","descricao":"JUIZ DE FORA"},"pairedItem":{"item":72}},{"json":{"codigo":"2991","descricao":"ARAPEI"},"pairedItem":{"item":74}},{"json":{"codigo":"4569","descricao":"GUARARA"},"pairedItem":{"item":75}},{"json":{"codigo":"4771","descricao":"LIMA DUARTE"},"pairedItem":{"item":76}},{"json":{"codigo":"4137","descricao":"BICAS"},"pairedItem":{"item":77}},{"json":{"codigo":"5829","descricao":"CORDEIRO"},"pairedItem":{"item":78}},{"json":{"codigo":"5199","descricao":"SANTO ANTONIO DO AVENTUREIRO"},"pairedItem":{"item":79}},{"json":{"codigo":"5883","descricao":"RESENDE"},"pairedItem":{"item":80}},{"json":{"codigo":"0582","descricao":"CANTAGALO"},"pairedItem":{"item":81}},{"json":{"codigo":"5821","descricao":"CANTAGALO"},"pairedItem":{"item":81}},{"json":{"codigo":"8451","descricao":"CANTAGALO"},"pairedItem":{"item":81}},{"json":{"codigo":"4907","descricao":"OLARIA"},"pairedItem":{"item":82}},{"json":{"codigo":"4317","descricao":"CHACARA"},"pairedItem":{"item":83}},{"json":{"codigo":"4803","descricao":"MARIPA DE MINAS"},"pairedItem":{"item":84}},{"json":{"codigo":"0770","descricao":"ARMACAO DOS BUZIOS"},"pairedItem":{"item":85}},{"json":{"codigo":"2921","descricao":"RIO DAS OSTRAS"},"pairedItem":{"item":86}},{"json":{"codigo":"5123","descricao":"ROCHEDO DE MINAS"},"pairedItem":{"item":87}},{"json":{"codigo":"0776","descricao":"MACUCO"},"pairedItem":{"item":88}},{"json":{"codigo":"4987","descricao":"PEDRO TEIXEIRA"},"pairedItem":{"item":89}},{"json":{"codigo":"7093","descricao":"SAO JOSE DO BARREIRO"},"pairedItem":{"item":90}},{"json":{"codigo":"5443","descricao":"VOLTA GRANDE"},"pairedItem":{"item":91}},{"json":{"codigo":"4149","descricao":"BOM JARDIM DE MINAS"},"pairedItem":{"item":92}},{"json":{"codigo":"6003","descricao":"ITATIAIA"},"pairedItem":{"item":93}},{"json":{"codigo":"4143","descricao":"BOCAINA DE MINAS"},"pairedItem":{"item":94}},{"json":{"codigo":"4391","descricao":"CORONEL PACHECO"},"pairedItem":{"item":95}},{"json":{"codigo":"4769","descricao":"LIBERDADE"},"pairedItem":{"item":96}},{"json":{"codigo":"4087","descricao":"ARGIRITA"},"pairedItem":{"item":97}},{"json":{"codigo":"4491","descricao":"ESTRELA DALVA"},"pairedItem":{"item":98}},{"json":{"codigo":"0620","descricao":"GOIANA"},"pairedItem":{"item":99}},{"json":{"codigo":"2423","descricao":"GOIANA"},"pairedItem":{"item":99}}],"insert-consulta":[{"json":{"id":"adbdef30-b957-43ac-80e2-016ce6c612c6","created_at":"2026-05-06T14:47:03.860Z","parametros":{"descricao":"Fornecedor de sal de cozinha","tipo_busca":"uf","cnpjs_existentes":"","ufs_selecionadas":[]},"resultados":null,"status":"pending","comprador":"c4a90fd9-3186-4a71-a542-b232e7a40b0c","session_id":null,"execution_id":"424527","v_produto":null,"v_cliente":null,"v_servico":null,"v_descricao":null,"v_publico":null,"bm_25":null,"uf":[],"municipio":null,"modelo_negocio":null,"fallback":false},"pairedItem":{"item":0}}],"Call 'contador_aparições'":[{"json":{"cnpj_basico":["04171193","48206676","02586679","24055057","09361836","21419179","48085347","07701751","30927990","01208862","26553372","39864851","28675137","52562877","15026879","01027066","01481547"],"nota":[100,100,100,98,96,95,93,91,89,88,86,84,82,80,79,77,75],"cnpj":["04171193","48206676","02586679","24055057","09361836","21419179","48085347","07701751","30927990","01208862","26553372","39864851","28675137","52562877","15026879","01027066","01481547"],"consultaId":"adbdef30-b957-43ac-80e2-016ce6c612c6","notas":[100,100,100,98,96,95,93,91,89,88,86,84,82,80,79,77,75]},"pairedItem":{"item":0}}],"Select rows from a table1":[{"json":{"id":4420,"created_at":"2026-04-15T14:20:17.253Z","cnpj":"01208862","n_aparicoes":"1","limite_aparicoes":"999"},"pairedItem":{"item":9}}],"Busca_Vetorial":[{"json":{"results":[{"posicao":1,"id":"751785799","score_final":0.540201,"score_rrf":0.181818,"scores":{"publico":0,"produto":0.5756,"cliente":0.6197,"descricao":0.4585,"servico":0,"bm25":1},"paths":["A#1","B#1"],"in_both":true,"payload":{"modelo_negocio":"Distribuidor","nome_empresa":"Ki-tal Alimentos","cnpj":"02586679","cidade":"NOVA IGUACU","telefone":"(45) 2032-9239","site":"https://www.kital.com.br","endereco":"PR-182, km 320/321 - Biopark, Toledo - PR, 85922-500","email":"kital@kital.com.br","produto":"Fubá de Milho Farofa Tradicional Farofa Premium Farináceos Amendoim Branco Descascado Canjica Amarela Canjica Branca Canjiquinha Lentilha Cereais e Grãos Anis Estrelado Camomila Flor Chá para Chimarrão Erva Doce Açafrão (Curcuma) Alho desidratado Bicarbonato de Sódio Canela Casca Canela em Pó Condimentos e Especiarias Quiabo em Conserva Pepino em conserva Pimenta Biquinho em Conserva Palmito Pupunha Picado Palmito Pupunha Rodela Palmito Pupunha Inteiro Cebolinha em Conserva Cebolinha em Conserva ao Vinho Ovos de Codorna em Conserva Conservas Aveia em Flocos Granola Linhaça Marrom Aveia com Quinoa Linhaça Dourada Grão de bico Linha Natural Sal Grosso Puro Sal Refinado Iodado Sal grosso temperado com pimenta Sal grosso temperado sem pimenta Tempero completo sem pimenta Tempero completo com pimenta Linha de Sal Achocolatado Chokital Açúcar de Baunilha Coco Ralado com Açúcar Missanga Colorida Linha Confeitaria","servico":"","descricao":"Fundada em 1983 na cidade de Toledo, no Paraná, a Ki-tal Alimentos é uma empresa familiar com mais de 40 anos de história, atuando como indústria e distribuidora de alimentos. Com frota própria e um compromisso constante com a inovação, busca levar produtos de excelência à mesa dos paranaenses.","publico":"Indústrias de Alimento, Condomínios, Redes de Supermercado","cliente":"","uf":"RJ","certificacoes":"","premios":"","parcerias":"","estudos_caso":"","industria":"Indústria e Distribuidora de Alimentos","cobertura_geografica":"Oeste e Sudoeste do Paraná","linkedin":"","created_at":"2026-04-20T16:08:53.838Z","updated_at":"2026-04-20T16:08:53.838Z"}},{"posicao":2,"id":"1571494596","score_final":0.395092,"score_rrf":0.153846,"scores":{"publico":0,"produto":0.5134,"cliente":0.5646,"descricao":0.3962,"servico":0,"bm25":0.4667},"paths":["A#3","B#3"],"in_both":true,"payload":{"modelo_negocio":"Varejo","nome_empresa":"Armazém Canto Leve","cnpj":"24055057","cidade":"NOVA FRIBURGO","telefone":"","site":"https://armazemcantoleve.com.br","endereco":"","email":"","produto":"Hortifruti Açúcar Refinado União Açúcar Cristal Guarani Arroz Branco Pereira 1kg Café 3 Corações Extra Forte 500g Feijão Vermelho Pereira 1kg Pomarola Tradicional 340g Palmito Inteiro Golden 520g Sal Refinado Pereira 1kg Azeite Extra Virgem Borges 500ml Mercearia Bala de Gengibre, Mel e Própolis Mel Apiário Amigos da Terra 270g Mel Apiário Amigos da Terra Vidro 1l Ovo Caipira Granja Floresta Dúzia Salada Mix Sítio Cultivar Tomate Cereja Celeiro da Serra 70g Aveia em Flocos Terrazul 500g Farelo de Aveia Terrazul 500g Fubá Branco Moinho do Cônego 500g Shitake Cogumelos de Friburgo 200g Lich Kombucha Produtos Naturais Doce de Compota Sítio Quaresmeiras 290g Extrato de Própolis 30ml Mix de Cereais Vida verde Bananinha Tachão zero açúcar Granola WS 500g Pão Plus Vita Sem Açúcar 12 Grãos Bala de Banana Doceana zero açucar Produtos Zero Açúcar Bebidas Higiene Pessoal Água Sanitária Super Globo 2l Álcool 70% Líquido Montenegro Amaciante Comfort 500ml Desinfetante Pinho Bril 500ml Limpador Casa e Perfume Aromas Sabão em Pó Omo 800g Sabão em Pó Brilhante 800g Vassoura de Piassava Rossi Detergente Limpol Aromas Guardanapo Snob 24 x 22cm Material de Limpeza","servico":"Entrega Entrega de produtos selecionados na comodidade da residência do cliente.","descricao":"Praticidade, sabor e qualidade para uma vida saudável e leve. Entregamos no conforto de sua casa.","publico":"Famílias, consumidores finais","cliente":"","uf":"RJ","certificacoes":"","premios":"","parcerias":"","estudos_caso":"","industria":"Mercado","cobertura_geografica":"Local","linkedin":"","created_at":"2026-04-21T05:48:26.553Z","updated_at":"2026-04-21T05:48:26.553Z"}},{"posicao":3,"id":"1684875530","score_final":0.325137,"score_rrf":0.066667,"scores":{"publico":0,"produto":0.5444,"cliente":0,"descricao":0.5343,"servico":0,"bm25":0},"paths":["B#5"],"in_both":false,"payload":{"modelo_negocio":"Distribuidor","nome_empresa":"LH Souza Representações","cnpj":"09361836","cidade":"VOLTA REDONDA","telefone":"(19) 98163-7570","site":"https://lhsouza.com.br","endereco":"","email":"contato@lhsouza.com.br","produto":"Goma Xantana Sorbato de Potássio Sucralose Acesulfame K Citrato de Sódio Amido de Milho Amidos Modificados Fécula de Mandioca Polvilho Azedo Industrial Premix Pão de Queijo Xarope de Glucose Maltodextrina Ácido Cítrico Corante Caramelo Ingredientes Alimentícios","servico":"","descricao":"Somos especialistas em conectar soluções inovadoras à indústria de alimentos, oferecendo uma ampla linha de ingredientes e soluções confiáveis para empresas de médio e grande porte que buscam elevar a qualidade e a eficiência de seus processos.","publico":"Indústrias de Alimentos e Bebidas de Médio e Grande Porte","cliente":"","uf":"RJ","certificacoes":"","premios":"","parcerias":"","estudos_caso":"","industria":"Representação Comercial de Ingredientes Alimentícios","cobertura_geografica":"","linkedin":"","created_at":"2026-04-20T21:52:33.406Z","updated_at":"2026-04-20T21:52:33.406Z"}},{"posicao":4,"id":"980073738","score_final":0.262451,"score_rrf":0.045455,"scores":{"publico":0,"produto":0.4302,"cliente":0,"descricao":0,"servico":0,"bm25":0.3443},"paths":["A#12"],"in_both":false,"payload":{"modelo_negocio":"Fabricante","nome_empresa":"Usina Petribu S/A","cnpj":"21419179","cidade":"GOIANA","telefone":"(81) 3622-0311","site":"https://www.petribu.com.br/","endereco":"Rodovia Paulo Petribu - PE 53, s/n Zona Rural, Lagoa do Itaenga - PE, 55840-000","email":"","produto":"Açúcar Demerara Açúcar Salute Mascavo Açúcar Cristal Açúcar Triturado Açúcar Speciale Refinado Açúcar Speciale Confeiteiro Açúcar Etanol Anidro Carburante Etanol Hidratado Carburante Etanol Combustível Bioenergia Energia Elétrica Álcool 46° INPM 54GL Álcool 70° INPM Álcool Gel Acendedor 80° INPM Álcool 70° INPM Gel Álcool Saneante Dióxido de Carbono (CO₂) Gases","servico":"","descricao":"A Petribu é a mais antiga produtora de açúcar do mundo, desde 1729, referência de qualidade para os clientes com tradição, ética e inovação que atravessam gerações.","publico":"Indústrias de Alimento, Indústrias de Combustíveis, Companhias de Energia Elétrica","cliente":"","uf":"PE","certificacoes":"","premios":"PRÊMIO PRODUTIVIDADE COM MODERNIDADE","parcerias":"Microgeo Allterra","estudos_caso":"","industria":"Usina Sucroalcooleira","cobertura_geografica":"Nacional","linkedin":"","created_at":"2026-04-21T04:27:46.364Z","updated_at":"2026-04-21T04:27:46.364Z"}},{"posicao":5,"id":"19968813","score_final":0.379109,"score_rrf":0.071429,"scores":{"publico":0,"produto":0.4258,"cliente":0.5769,"descricao":0.4101,"servico":0.3897,"bm25":0.28},"paths":["A#4"],"in_both":false,"payload":{"modelo_negocio":"Prestador de Serviço","nome_empresa":"Arizona Agronegócios","cnpj":"48085347","cidade":"PETROPOLIS","telefone":"","site":"https://arizonaagronegocios.com.br","endereco":"","email":"","produto":"Arábica Robusta Café Cristal Refinado VHP Açúcar Milho em grão Milho Soja Feijão Farelos Demais","servico":"Intermediação Comercial Atuamos conectando produtores, cooperativas e indústrias com compradores nacionais e internacionais. Logística Integrada Coordenamos toda a cadeia logística, do campo ao porto, com rastreabilidade e segurança. Exportação Conectamos o agro brasileiro ao mundo, com segurança jurídica, cambial e operacional. Consultoria de Mercado Informações estratégicas, análises técnicas e inteligência comercial para melhores decisões.","descricao":"Especialistas em intermediação, logística e inteligência no mercado de commodities. Somos uma trading brasileira com foco em café, açúcar, milho e outras commodities, conectando produtores a compradores do mundo inteiro.","publico":"Produtores, Cooperativas, Indústrias, Compradores Nacionais e Internacionais","cliente":"","uf":"RJ","certificacoes":"","premios":"","parcerias":"","estudos_caso":"","industria":"Trading Agrícola","cobertura_geografica":"Global","linkedin":"","created_at":"2026-03-04T22:02:05.440Z","updated_at":"2026-03-04T22:02:05.440Z"}},{"posicao":6,"id":"944058978","score_final":0.470894,"score_rrf":0.166667,"scores":{"publico":0,"produto":0.5302,"cliente":0,"descricao":0.4719,"servico":0,"bm25":0.8077},"paths":["A#2","B#2"],"in_both":true,"payload":{"modelo_negocio":"Distribuidor","nome_empresa":"QBEX Química","cnpj":"07701751","cidade":"DUQUE DE CAXIAS","telefone":"(21) 4062-7311 +55 21 96589 9296","site":"https://qbexquimica.com.br","endereco":"Av. Carneiro de Campos 25b, Chácaras Rio-Petrópolis, Duque de Caxias – RJ","email":"comercial@qbexquimica.com.br","produto":"Álcool 99 e 96 Álcool Isopropílico Álcoois Aguarrás Corrosivos Óleo Mineral Técnico Óleo Mineral USP Óleos Barrilha Bicarbonato de Sódio Cloreto de Sódio Não Iodado Cloro Granulado Glicerina Hipoclorito de Sódio Isoparafina Lauril Pastilhas de Cloro 200 grs Querosene Querosene sem Odor Redutor de pH Sal Moído Não Iodado Soda Escama Solvente Ecológico Sulfato de Alumínio Outros","servico":"","descricao":"Comércio e Indústria de Produtos Químicos. Solicite uma cotação na QBEX!","publico":"Indústrias de diversos segmentos","cliente":"","uf":"RJ","certificacoes":"ISO 9001:2015","premios":"","parcerias":"","estudos_caso":"","industria":"Comércio e Indústria de Produtos Químicos","cobertura_geografica":"Nacional","linkedin":"","created_at":"2026-03-04T17:43:53.471Z","updated_at":"2026-03-06T04:02:06.720Z"}},{"posicao":7,"id":"19250351","score_final":0.281497,"score_rrf":0.071429,"scores":{"publico":0,"produto":0.5728,"cliente":0,"descricao":0,"servico":0,"bm25":0.1186},"paths":["B#4"],"in_both":false,"payload":{"modelo_negocio":"Distribuidor","nome_empresa":"Sumatex Produtos Químicos","cnpj":"30927990","cidade":"RIO DE JANEIRO","telefone":"(21) 3189-1957 (21) 3189-1950","site":"https://sumatex.com.br","endereco":"Av Brasil 20001 - Coelho Neto, RJ/RJ","email":"negocios@sumatex.com.br","produto":"Acetato de Amila Acetato de Etila Acetona Ácido Acético Ácido Bórico Ácido Cítrico Ácido Cítrico solução Ácido Clorídrico Ácido Crômico Ácido Fórmico Ácido Fosfórico Ácido Graxo Ácido Nítrico Ácido Oxálico Ácido Sulfônico Ácido Sulfúrico Álcool Anidro Álcool Etílico Anti-espumante Amônia Solução Benzina Bicarbonato de Sódio Bissulfito de Sódio Bissulfito Líquido Bórax Brancol Butilglicol Cal Hidratada Cal Virgem Carbonato de Cálcio Carbonato de Sódio Carbonato sódio Solução Cianeto de sódio Cianeto Potássio Cloreto Cálcio Cloreto de Amônio Cloreto Férrico Dietanotamina Estanato Estér Metílico Farelo de Soja Padrão Formol Estabilizado Formol Inibido Fosfato Trissódico Glicerina Branca Glicerina Loira Hexametafosfato de Sódio Hidrazina Hidrossulfito de Sódio Hidróxido de Sódio Hipoclorito de Sódio Lauril éter sulfato de sódio Metabissulfito de Sódio Metassilicato de Sódio Monoetanotamina Monoetileno Glicol Morfolina Nitrato de Cálcio Nitrato de Sódio Nitrito de Sódio Óleo de Mamona Óleo de Pinho Óleo Sufuricinado PAC - Policloreto de aluminio Percloretileno Peróxido de Hidrogênio Polímeros Potassa Cáustica Querosene Sal Grosso Sal Refinado Silicato de Sódio Soda Cáustica Escamas Soda Cáustica Liquida Sulfato de Alumínio Sulfato de Amônio Sulfato de Magnésio Sulfato de Sódio Sulfato de Zinco Sulfito de Sódio Tricloretileno Ureia Industrial Vaselina Líquida Insumos Químicos","servico":"Transporte de Produtos Químicos A Sumatex possui uma frota de veículos modernos, equipados com os melhores dispositivos de segurança, estando sempre preocupada com diversos aspectos de meio ambiente e segurança.","descricao":"A Sumatex é uma empresa de revenda e distribuição de insumos químicos. Sua operação é sustentada pela conduta ética e profissional com clientes, fornecedores, colaboradores, comunidades e demais partes interessadas.","publico":"Indústrias que utilizam insumos químicos","cliente":"","uf":"RJ","certificacoes":"ISO 9001 PRODIR","premios":"","parcerias":"","estudos_caso":"","industria":"Distribuidor de Produtos Químicos","cobertura_geografica":"Nacional","linkedin":"","created_at":"2026-03-04T20:11:28.656Z","updated_at":"2026-03-06T14:39:34.525Z"}},{"posicao":8,"id":"228932037","score_final":0.2424,"score_rrf":0.047619,"scores":{"publico":0,"produto":0.5387,"cliente":0,"descricao":0,"servico":0,"bm25":0},"paths":["B#11"],"in_both":false,"payload":{"modelo_negocio":"Distribuidor","nome_empresa":"Grupo Conexão Sul","cnpj":"01208862","cidade":"RIO DE JANEIRO","telefone":"(11) 2011-9905 (21) 3186-5664 (21) 3412-9666 (21) 2440-3220 (21) 99329-9074 (11) 2887-1015 (21) 97596-9458","site":"https://grupoconexaosul.com.br","endereco":"Rua dos Biólogos, 797 - Taquara - Rio de Janeiro - RJ","email":"contato@grupoconexaosul.com.br","produto":"Ácido Cítrico Benzoato de Sódio Corante Caramelo Ciclamato de Sódio Metabissulfito de Sódio Sorbato de Potássio Acessulfame K Ácido Ascórbico Ácido Lático Açúcar cristal Aspartame CMC Citrato de Sódio Goma Xantana Glucose em Pó Glucose Líquida Goma Guar Maltodextrina Sacarina Sódica Sucralose Ácido Fosfórico Amido de Milho Sais Edta Ácido Sórbico Açúcar Bicarbonato de Sódio Cacau em pó Fécula de mandioca Glúten Goma Arábica Gordura Vegetal Propionato de Sódio Carboximetilcelulose de Sódio (CMC) Corante caramelo Eritorbato de Sódio Fécula de Mandioca Fosfatos Glucose Pó Acessulfame-K Composto lácteo Cor. Caramelo Leite em Pó Int. Des. Mod. Soro de Leite Sorbato de potássio Glucose de Milho Pectina Cítrica Sorbitol Líquido Sorbitol pó Soro de Leite em Pó Pectina Polidextrose Sorbitol Gordura vegetal Soro de leite em pó Amido de milho Propionato de Cálcio Sais EDTA Ácido Fumárico Corantes Sintéticos Goma Xanatana Ácido lático Ácido Tartárico Composto Lácteo Sarina Sódica Soro de Leite em pó Ácido tartárico Cacau em Pó Carboximetilcelulose de sódio (CMC) Glucose líquida Soro de leite em Pó Sucralose Creatina Glucose de milho Sais de EDTA Sorbitol líquido Sorbitol Pó Ingredientes Químicos","servico":"Serviços de Excelência Focados nas necessidades peculiares de nossos clientes, oferecendo soluções rápidas e com o melhor custo.","descricao":"Fundada em 1996 no Rio de Janeiro por um ex-diretor de uma grande multinacional de ingredientes industriais. O Grupo Conexão atua no segmento de importação e distribuição de insumos químicos.","publico":"Indústria Alimentícia","cliente":"","uf":"RJ","certificacoes":"ISO 9001","premios":"","parcerias":"","estudos_caso":"","industria":"Importação e Distribuição de Insumos Químicos","cobertura_geografica":"Nacional","linkedin":"","created_at":"2026-03-04T16:44:42.257Z","updated_at":"2026-03-06T00:50:32.627Z"}},{"posicao":9,"id":"805376225","score_final":0.2444,"score_rrf":0.05,"scores":{"publico":0,"produto":0.5431,"cliente":0,"descricao":0,"servico":0,"bm25":0},"paths":["B#10"],"in_both":false,"payload":{"modelo_negocio":"Fabricante","nome_empresa":"Bonato","cnpj":"26553372","cidade":"RIO DE JANEIRO","telefone":"(44) 3438-8316","site":"https://www.bonatobicarbonatos.com.br","endereco":"Estrada Divisória Parte Ideal Lote 29 S/N - Bairro Juranda - São Carlos do Ivaí-PR","email":"","produto":"Bicarbonato de Sódio Multiuso Branqueador Bicarbonato de Sódio Alimentício Bicarbonato de Sódio","servico":"","descricao":"Bonato é uma marca ecológica que oferece soluções práticas e multifuncionais através do Bicarbonato de Sódio, disponível em versões multiuso, branqueador e alimentício.","publico":"Consumidores domésticos, indústria alimentícia","cliente":"CASA DELIZA LTDA CONDOR SUPER CENTER LTDA MOACYR DRUZIAN JUNIOR OURO AZUL DISTRIBUIDORA E IMPORTADORA DE PRODUTOS ALIM SUPERMERCADO GUGUY LTDA JURANDIR PEREIRA DA SILVA & CIA LTDA SJX COMERCIAL ATACADISTA DE MERCADORIAS LTDA CIDADE CANÇÃO (AMIGÃO) SUPERMERCADO JACOMAR LTDA","uf":"RJ","certificacoes":"Primeiro bicarbonato de produção sustentável do mundo Certificado pela ONU (MDL - mecanismo de desenvolvimento limpo)","premios":"","parcerias":"","estudos_caso":"","industria":"Fabricante de Bicarbonato de Sódio","cobertura_geografica":"Brasil","linkedin":"","created_at":"2026-03-04T19:39:25.862Z","updated_at":"2026-03-06T12:32:18.058Z"}},{"posicao":10,"id":"608176636","score_final":0.315247,"score_rrf":0.0625,"scores":{"publico":0,"produto":0.3837,"cliente":0,"descricao":0.4505,"servico":0,"bm25":0.375},"paths":["A#6"],"in_both":false,"payload":{"modelo_negocio":"Fabricante","nome_empresa":"Agrofoods","cnpj":"39864851","cidade":"RIO DE JANEIRO","telefone":"(11) 3149-6900 (16) 3820-9000 (18) 3269-9191","site":"https://www.agrofoods.ind.br/","endereco":"Rua Doutor Flaquer, 45 - Paraíso - São Paulo - SP - CEP 04006-010","email":"","produto":"Óleo de soja epoxidado Óleo de soja refinado hidrogenado (escamado, pulverizado e granel) Derivados de soja Multióleos Óleos Vegetais Farelo de soja Farelo de Soja Lecitina de soja Lecitina de Soja Tocoferol Tocoferol Gorduras vegetais Gorduras Vegetais Margarinas Margarinas","servico":"","descricao":"A Agrofoods é uma empresa focada no Agronegócio, especializada em esmagamento de grãos e produção de derivados, como óleos vegetais, farelos, margarinas, gorduras vegetais, lecitina, entre outros insumos e produtos de qualidade fornecidos para indústrias de alimentos e químicas.","publico":"Indústrias de Alimentos e Químicas","cliente":"","uf":"RJ","certificacoes":"","premios":"","parcerias":"","estudos_caso":"","industria":"Indústria de Alimentos","cobertura_geografica":"São Paulo","linkedin":"","created_at":"2026-04-21T11:57:46.361Z","updated_at":"2026-04-21T11:57:46.361Z"}},{"posicao":11,"id":"1000164871","score_final":0.369753,"score_rrf":0.066667,"scores":{"publico":0,"produto":0.4565,"cliente":0,"descricao":0.3776,"servico":0,"bm25":0.5385},"paths":["A#5"],"in_both":false,"payload":{"modelo_negocio":"Distribuidor","nome_empresa":"Portal Bebidas","cnpj":"28675137","cidade":"RIO DE JANEIRO","telefone":"(21) 2201-8151 (21) 2261-2000","site":"https://www.portalbebidas.com.br","endereco":"Rua General Belford, 415 – Rocha, RJ – CEP: 20961-000","email":"televendas@portalbebidas.com.br","produto":"Água Minalba Água Prata Água Mineral Heineken Ambev Cerveja Coca-Cola Refrigerante Saco de Lixo 0,9M 360L S.PESADO 130X150 C/50 Saco de Lixo 0,7M 240L S.PESADO 117X130 C/50 Saco de Lixo 0,6M 200L PESADO 90X110 C/100 Saco de Lixo 0,6M 1000L S.PESADO 75X90 C/100 Saco de Lixo 0,3M 60L LEVE 50X60 C/100 Saco de Lixo 0,3M 40L LEVE 50X50 C/100 Saco de Lixo Café em Pó Pilão Tradicional Torrado e Moído Almofada 500g Café em Pó Melitta Tradicional Torrado e Moído Almofada 500g Café em Pó Bom dia Tradicional Torrado e Moído Almofada 500g Açúcar Refinado Especial União Pacote 1kg Fardo com 10 pacotes Açúcar Cristal União Orgânico sachê 5g c/400 unidades Açúcar Refinado União Sachê 5g Caixa c/ 400 Unidades Adoçante Zero Cal Sacarina Liquido 100ml Adoçante líquido Sucralose 65ml União Leite Integral UHT Forti + Ninho 1 Litro TetraPack Coffee Break","servico":"","descricao":"A Portal Bebidas vai além das bebidas. Entregamos café, açúcar, adoçantes, descartáveis e até saco de lixo para bares, restaurantes, hotéis, eventos e escritórios. Com atendimento rápido, faturamento direto e suporte via WhatsApp.","publico":"Bares, Restaurantes, Hotéis, Eventos e Escritórios","cliente":"","uf":"RJ","certificacoes":"","premios":"","parcerias":"","estudos_caso":"","industria":"Distribuidora de Bebidas e Alimentos","cobertura_geografica":"Rio de Janeiro","linkedin":"","created_at":"2026-04-21T07:52:05.132Z","updated_at":"2026-04-21T07:52:05.132Z"}},{"posicao":12,"id":"873938596","score_final":0.304337,"score_rrf":0.058824,"scores":{"publico":0,"produto":0.4856,"cliente":0,"descricao":0.3984,"servico":0,"bm25":0.1304},"paths":["A#7"],"in_both":false,"payload":{"modelo_negocio":"Varejo","nome_empresa":"Forthe Lux","cnpj":"52562877","cidade":"NOVA IGUACU","telefone":"","site":"https://forthelux.com.br","endereco":"","email":"","produto":"Achocolatado 400g Açúcar Cristal 2kg Açúcar Demerara 1kg Açúcar Refinado Especial 1kg Água Sanitária 1lt Almondega ao Molho 420g Arroz Agulhinha 5kg Azeitona Verde 70g Biscoito Cream Cracker 400g Biscoito Maizena 400g Biscoito Recheado 120g Biscoito Rosca de Coco 400g Creme de Leite 200g Creme Dental 90g Detergente 500ml Extrato de Tomate 140g Tempo Completo 300g Suco em Pó 25g Seleta de Legumes 170g Sardinha Laje 130g Salsicha 180g Sal 1kg Sabonete 85g Sabão em Pó 800/850g Sabão em Barra 5 x 200g Refrigerante 2L Pate de Galinha 100g Papel Higiênico 4und Óleo de Soja 900ml Molho Tomate 340g Milho de Pipoca 500g Milho 170g Alimentos Creme Dental 90g Sabonete 85g Sabão em Pó 800/850g Sabão em Barra 5 x 200g Papel Higiênico 4und Higiene","servico":"Entrega Rápida As cestas são entregues no local indicado pelo cliente. Distribuição na Empresa Disponibilizamos veículos de nossa frota para fazer as entregas das cestas nas empresas parceiras. Porta a Porta Solicite que a cesta seja entregue na casa de seu colaborador, mediante a taxa.","descricao":"Temos como objetivo produzir cestas de qualidade a um preço justo. Buscando o aperfeiçoamento de todo processo, desde o primeiro contato, à entrega dos produtos. Para melhor atender nossos clientes, parceiros e amigos.","publico":"Empresas, Condomínios, Instituições","cliente":"","uf":"RJ","certificacoes":"","premios":"","parcerias":"","estudos_caso":"","industria":"Cestas de Alimentos","cobertura_geografica":"Nacional","linkedin":"","created_at":"2026-03-04T22:36:42.209Z","updated_at":"2026-03-04T22:36:42.209Z"}},{"posicao":13,"id":"713454922","score_final":0.30259,"score_rrf":0.055556,"scores":{"publico":0,"produto":0.4012,"cliente":0,"descricao":0.4302,"servico":0,"bm25":0.2877},"paths":["A#8"],"in_both":false,"payload":{"modelo_negocio":"Prestador de Serviço","nome_empresa":"Gula Delícia - Doces e Salgados Finos","cnpj":"15026879","cidade":"RIO DE JANEIRO","telefone":"(21) 4129-8087 (21) 3392-1223 (21) 99244-1189","site":"https://www.guladelicia.com.br","endereco":"","email":"","produto":"Aipim com Carne Seca Bolinha de Queijo Coxinha com Requeijão Croquete de Milho com Calabresa Delícia de Salsicha Kibe Salgados de Forno Salgados para Fritar Doces Tradicionais Doces Especiais","servico":"Atendimento a Clientes Aceitamos pedidos pelos telefones: (21) 4129-8087 / (21) 3392-1223 / (21) 99244-1189 (cel e zap)","descricao":"Há 25 anos atuamos no mercado de doces e salgados finos para diversos clientes no Estado do Rio de Janeiro com produtos que possuem uma bela apresentação e altíssima qualidade, proporcionando a satisfação total de todos nossos consumidores, atendendo com todo requinte aos mais exigentes e refinados paladares.","publico":"Casas de festas, buffets, eventos em geral","cliente":"","uf":"RJ","certificacoes":"","premios":"","parcerias":"","estudos_caso":"","industria":"Doces e Salgados","cobertura_geografica":"Estado do Rio de Janeiro","linkedin":"","created_at":"2026-04-21T01:33:56.961Z","updated_at":"2026-04-21T01:33:56.961Z"}},{"posicao":14,"id":"284380772","score_final":0.265438,"score_rrf":0.058824,"scores":{"publico":0,"produto":0.5899,"cliente":0,"descricao":0,"servico":0,"bm25":0},"paths":["B#7"],"in_both":false,"payload":{"modelo_negocio":"Distribuidor","nome_empresa":"Itaclean Produtos Químicos Ltda.","cnpj":"01027066","cidade":"NITEROI","telefone":"(21) 2609-1319 (21) 2609-9901","site":"https://www.itaclean.com.br/","endereco":"Av. Irene Lopes Sodré, 3.899 - Itaipu - Niterói - RJ","email":"[email protected]","produto":"Ácido Alquilsulfônico Ácido Ascórbico Ácido Cítrico Ácido Fosforico Alim. 85% Ácido Oxálico Ácidos Algicida de Manutenção Algicida de Choque Algicidas Amida Argila Expandida Benzoato de Sódio Borax Brancol Ciclamato de Sódio Citrato de Sódio Cloro Granulado (1kg, 2,5Kg, 10Kg e 50Kg) Hipoclorito de Sódio Kit Teste (P/ Piscinas) Lauril Eter Sulfato de Sódio Limpa Borda Metabissulfito de Sódio (Pó e Líquido) Metassilicato de Sódio Essência de Eucalipto (P/ Sauna) Floculante e Clarificante Clorocal - Hip. Cálcio Outros","servico":"","descricao":"A Itaclean iniciou suas atividades em 13 de maio de 1997 atuando inicialmente como revendedora e distribuidora de Hipoclorito de Sódio. Ampliou suas atividades para atender empresas nos segmentos têxteis, higiene e limpeza, indústria de alimentos, indústrias químicas, empresas de tratamento de água, hospitais, clubes, entre outros.","publico":"Indústrias alimentícias, Indústrias de bebidas, Indústrias têxteis, Tratamento de água, Limpeza e higiene, Autarquias, Outros químicos em geral","cliente":"","uf":"RJ","certificacoes":"","premios":"","parcerias":"Prefeitura de Niterói Secretaria de Meio Ambiente e Recursos Hidricos ONG Instituto Ambiental Brasil","estudos_caso":"","industria":"Distribuição de Produtos Químicos","cobertura_geografica":"Niterói - RJ","linkedin":"","created_at":"2026-04-20T15:04:31.476Z","updated_at":"2026-04-20T15:04:31.476Z"}},{"posicao":15,"id":"164497044","score_final":0.26538,"score_rrf":0.055556,"scores":{"publico":0,"produto":0.5897,"cliente":0,"descricao":0,"servico":0,"bm25":0},"paths":["B#8"],"in_both":false,"payload":{"modelo_negocio":"Distribuidor","nome_empresa":"Discloro Comércio e Indústria Eireli - EPP","cnpj":"01481547","cidade":"DUQUE DE CAXIAS","telefone":"(2777) 8900 (2676) 3343 (9) 7386 2892 (9) 6429 9505 (9) 7529 8360 (9) 8889-0604","site":"http://discloro.com.br/","endereco":"Estrada do Camboata, 120 - QD 15 - Lote 10K e 10L - Entrada complementar Chácara Rio-Petrópolis - Duque de Caxias - RJ - CEP: 25213-160","email":"comercial@discloro.com.br","produto":"Ácido Sulfônico 90% Amida 60% Barrilha Leve (Carbonato de Sódio) Base para Amaciante Base para Detergente Bicromato de Sódio Hidratado Brancol 30% Cloreto de Benzalcônico Corantes em pó para Amaciante, Desinfetante e Detergente Hipoclorito de Sódio (Cloro) Isobac IG (Substituto do Formol) Lauril Éter Sulfato de Sódio Renex 95% (Nonifenol) Soda Cáustica Escamas Rayon Sulfato de Alumínio em Pó Inseto de Ferro Produtos Químicos","servico":"","descricao":"Discloro é uma empresa que fornece produtos químicos como Ácido Sulfônico, Amida, Barrilha Leve, Base para Amaciante, Base para Detergente, Bicromato de Sódio Hidratado, Brancol, Cloreto de Benzalcônico, Corantes em pó, Hipoclorito de Sódio, Isobac IG, Lauril Éter Sulfato de Sódio, Renex, Soda Cáustica Escamas Rayon e Sulfato de Alumínio em Pó Inseto de Ferro.","publico":"","cliente":"","uf":"RJ","certificacoes":"","premios":"","parcerias":"","estudos_caso":"","industria":"Comércio e Indústria de Produtos Químicos","cobertura_geografica":"","linkedin":"","created_at":"2026-03-04T16:55:13.884Z","updated_at":"2026-03-06T00:43:10.427Z"}}],"rerank":{"enabled":true,"model":"gpt-4o-mini","tokens_used":5616,"pool_size":20,"query_used":"refinado iodado alimentcio iodao extrafino modo"}},"pairedItem":{"item":0}}],"Busca_Vetorial1":[{"json":{"results":[{"posicao":1,"id":"69871713","score_final":0.57592,"score_rrf":0.160256,"scores":{"publico":0,"produto":0.6296,"cliente":0,"descricao":0.6175,"servico":0,"bm25":1},"paths":["A#3","B#2"],"in_both":true,"payload":{"modelo_negocio":"Fabricante","nome_empresa":"Sal Garça Indústria Salineira","cnpj":"48206676","cidade":"GARCA","telefone":"(84) 3318-5599 (84) 9 8818-1811","site":"https://salgarca.com","endereco":"Avenida Industrial Dehuel Vieira Diniz - Santa Júlia - Mossoró, RN CEP: 59623-300","email":"","produto":"SAL REFINADO IODADO 0,8G SAL DE PARRILA GARÇA 1KG SAL CHURRASCO IODADO GARÇA 1KG SAL REFINADO EXTRA IODADO GARÇA 1KG SAL CHURRASCO 1KG SAL MARINHO 1KG SAL REFINADO EXTRA IODADO 1KG SAL MOÍDO MARINHO IODADO 1KG Mesa e Cozinha SAL TRITURADO 25KG SAL MOÍDO 25KG SAL REFINADO IODADO 25KG SAL GRANULADO 25KG SAL MICRONIZADO 25KG SAL REFINADO SEM IODO 25KG SAL CHURRASCO IODADO 25KG Indústria e Pecuária BIG BAG GARÇA 1000KG E 1200KG Big Bag","servico":"","descricao":"Com o objetivo de nos tornarmos referência em qualidade e produtividade entre as maiores empresas Produtoras de Sal Marinho do Brasil, nós atendemos de forma responsável o mercado consumidor de Sal Marinho, buscando a excelência na qualidade dos diversos tipos de sal que produzimos.","publico":"Indústria Alimentícia, Restaurante, Pecuária","cliente":"","uf":"SP","certificacoes":"","premios":"","parcerias":"","estudos_caso":"","industria":"Indústria Salineira","cobertura_geografica":"Nacional","linkedin":"","created_at":"2026-03-04T22:02:59.573Z","updated_at":"2026-03-04T22:02:59.573Z"}},{"posicao":2,"id":"1883767964","score_final":0.612998,"score_rrf":0.181818,"scores":{"publico":0,"produto":0.699,"cliente":0.5681,"descricao":0.7474,"servico":0,"bm25":0.875},"paths":["A#1","B#1"],"in_both":true,"payload":{"modelo_negocio":"Fabricante","nome_empresa":"FINOSAL","cnpj":"04171193","cidade":"MOSSORO","telefone":"(84) 3316-5152 (84) 99840-7369","site":"https://www.finosal.com.br","endereco":"Av. Industrial Dehuel Vieira Diniz, 5000 - Parque Industrial - Mossoró-RN - CEP: 59615-255","email":"vendas@finosal.com.br","produto":"SAL REFINADO FINOSAL +Sabor SAL PARA CHURRASCO PICANHA GRILL Sal para Consumo Humano SAL REFINADO FINOSAL IODADO SAL REFINADO FINOSAL NÃO IODADO SAL REFINADO FINOSAL EM BIG-BAG SAL MICRONIZADO FINOSAL SAL GRANULADO FINOSAL SAL EXTRA-FINO FINOSAL Sal para Consumo Industrial SAL MOÍDO FORTBOI e GARÇA Sal para Consumo Animal","servico":"","descricao":"Indústria Salineira que produz e comercializa sal para consumo humano, industrial e animal. Exporta sal a granel para diversos países.","publico":"Indústrias de Alimento, Indústrias Químicas, Condomínios, Bancos, Redes de Supermercado","cliente":"","uf":"RN","certificacoes":"","premios":"","parcerias":"","estudos_caso":"","industria":"Indústria Salineira","cobertura_geografica":"Nacional, Internacional","linkedin":"","created_at":"2026-04-20T17:32:58.575Z","updated_at":"2026-04-20T17:32:58.575Z"}}],"rerank":{"enabled":true,"model":"gpt-4o-mini","tokens_used":3083,"pool_size":20,"query_used":"refinado iodado alimentcio iodao extrafino modo"}},"pairedItem":{"item":0}}]},"versionId":"09bb3314-0919-40d6-b1e4-a1ee8b34dcc0","activeVersionId":"09bb3314-0919-40d6-b1e4-a1ee8b34dcc0","triggerCount":0,"shared":[{"updatedAt":"2026-04-20T17:58:58.908Z","createdAt":"2026-04-20T17:58:58.908Z","role":"workflow:owner","workflowId":"P5glDm8v5AZwgudn","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-05-06T16:55:21.777Z","createdAt":"2026-05-06T16:55:17.892Z","versionId":"09bb3314-0919-40d6-b1e4-a1ee8b34dcc0","workflowId":"P5glDm8v5AZwgudn","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"id"},{"name":"query"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-3904,-240],"id":"d6d4d7a3-9833-4b62-8f03-1f5851c36559","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=ROLE\nVocê é um Especialista em Processamento de Linguagem Natural (NLP) focado em sistemas de compras e suprimentos (procurement). Sua função é decompor consultas de usuários para otimizar buscas vetoriais de fornecedores.\n\nTASK\nAnalise a QUERY do usuário e extraia as informações estruturadas seguindo estas regras:\n\ncidades_selecionadas: Identifique nomes de cidades brasileiras mencionadas na query. Normalize a grafia (capitalização correta, com acentos — ex: \"sao paulo\" → \"São Paulo\"; \"rib preto\" → \"Ribeirão Preto\" quando inequívoco). Retorne uma lista de strings. Se não houver, retorne uma lista vazia [].\n\nufs_selecionadas: Identifique estados brasileiros mencionados explicitamente (sigla ou nome por extenso). Converta nomes por extenso para a sigla de 2 letras (ex: \"São Paulo\" → \"SP\", \"Minas Gerais\" → \"MG\"). Se o usuário mencionar apenas uma cidade sem citar o estado, NÃO infira a UF — deixe a lista vazia. Retorne uma lista de strings. Se não houver, retorne uma lista vazia [].\n\ndescricao: Refine a intenção de busca do usuário para uma descrição clara e objetiva que será usada em um motor de busca vetorial. Mantenha a terminologia técnica do produto/serviço, mas remova saudações, palavras irrelevantes e também os nomes de cidades e estados já extraídos nos campos acima (a localização não deve poluir a busca vetorial semântica do produto).\n\nREGRAS DE DESAMBIGUAÇÃO\nSe uma palavra puder ser cidade OU outro substantivo (ex: \"Palmas\" pode ser capital do TO ou plural de palma), use o contexto para decidir. Em caso de dúvida real, não inclua na lista de cidades.\nSiglas de UF só devem ser reconhecidas quando aparecem isoladas, em maiúsculas, ou no padrão \"Cidade/UF\", \"Cidade - UF\", \"Cidade, UF\".\nNunca invente cidades ou UFs que não estejam textualmente (ou foneticamente) presentes na query.\nFORMAT\nRetorne estritamente um objeto JSON válido, sem explicações adicionais, sem blocos de código markdown, no seguinte formato exato:\n\n{ \"cidades_selecionadas\": [\"Cidade1\", \"Cidade2\"], \"ufs_selecionadas\": [\"UF1\", \"UF2\"], \"descricao\": \"string\" }\n\nEXEMPLOS\nQuery: \"Preciso de fornecedor de pneus XZR-245 em Campinas e Ribeirão Preto\" Saída: { \"cidades_selecionadas\": [\"Campinas\", \"Ribeirão Preto\"], \"ufs_selecionadas\": [], \"descricao\": \"Fornecedor de pneus modelo XZR-245\" }\n\nQuery: \"Bom dia! Procuro fabricante de embalagens plásticas em SP e MG\" Saída: { \"cidades_selecionadas\": [], \"ufs_selecionadas\": [\"SP\", \"MG\"], \"descricao\": \"Fabricante de embalagens plásticas\" }\n\nQuery: \"Quero distribuidor de parafusos em São Paulo - SP\" Saída: { \"cidades_selecionadas\": [\"São Paulo\"], \"ufs_selecionadas\": [\"SP\"], \"descricao\": \"Distribuidor de parafusos\" }\n\nQUERY DO USUÁRIO\n\"{{ $json.query }}\"","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-3664,-240],"id":"be4820c7-1907-4f42-acad-f3e5a3906d66","name":"Query-Model"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3728,-96],"id":"5310bbbb-4006-4ac4-97d1-d4d97d116b75","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## Busca Local","height":224,"width":1040,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[128,-160],"id":"60ee8bff-48a5-4466-b347-168ed3f95da0","name":"Sticky Note25"},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"get","tableId":"consultas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('set_data_busca').item.json.consultaId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4512,-256],"id":"a1649264-7612-4019-a254-20251288a0c9","name":"get_result","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"update","tableId":"consultas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resultados","fieldValue":"={{ $('Aggregate2').item.json.item }}"},{"fieldId":"status","fieldValue":"concluida"},{"fieldId":"uf","fieldValue":"={{ $json.uf }}"},{"fieldId":"municipio","fieldValue":"={{ $('set_data_busca').item.json.lista_municipio }}"},{"fieldId":"=execution_id","fieldValue":"={{ $execution.id }}"},{"fieldId":"v_produto","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.produto }}"},{"fieldId":"v_cliente","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.cliente }}"},{"fieldId":"v_servico","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.servico }}"},{"fieldId":"v_descricao","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.descricao }}"},{"fieldId":"v_publico","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.publico }}"},{"fieldId":"bm_25","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.bm25 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4720,-256],"id":"09ba8dc0-9dff-45d3-8b99-d5a9e69058ae","name":"Mostra resultado intermediário1","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"37b79ebe-4d88-4286-ad8f-71f98605e4ad","name":"result.item","value":"={{ $json.item }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,-96],"id":"2579fa1a-4df4-4e1b-af44-05120b6a03c4","name":"set_result"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[400,-96],"id":"f86ed398-a75c-459a-a04a-06a161cdd472","name":"Split Out4","alwaysOutputData":true},{"parameters":{"workflowId":{"__rl":true,"value":"ALYdM6dEmJdCNNRA","mode":"list","cachedResultUrl":"/workflow/ALYdM6dEmJdCNNRA","cachedResultName":"contador_aparições"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cnpj":"={{ $json.cnpj_basico }}","consultaId":"={{ $('set_data_busca').item.json.consultaId }}","notas":"={{ $json.nota }}"},"matchingColumns":[],"schema":[{"id":"cnpj","displayName":"cnpj","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"consultaId","displayName":"consultaId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"notas","displayName":"notas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3728,-560],"id":"29462a46-6462-41a2-90a0-1a8842c556d3","name":"Call 'contador_aparições'"},{"parameters":{"workflowId":{"__rl":true,"value":"bphbpiPPgMm5Mhsb","mode":"list","cachedResultUrl":"/workflow/bphbpiPPgMm5Mhsb","cachedResultName":"query_manager"},"workflowInputs":{"mappingMode":"defineBelow","value":{"consulta":"={{ $json.descricao }}"},"matchingColumns":["consulta"],"schema":[{"id":"consulta","displayName":"consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-64,-240],"id":"aee76f0c-6da8-4afc-8acc-e138339c5d1c","name":"Call 'query_manager'"},{"parameters":{"content":"## Banco de dados:\n- Soma 1 ao contador de aparições dos cnpjs listados\n- Insere os cnpjs listados na tabela de aparições","height":288,"width":608,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3280,-672],"id":"d848602c-1295-4f0a-9e29-e9a3e4b6f007","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"67239d33-a6aa-4f1c-9f96-984e97694c0d","name":"descricao","value":"={{ $json.parametros.descricao }}","type":"string"},{"id":"62dac054-7a4b-4b88-bb34-55c4e6a1c04f","name":"consultaId","value":"={{ $json.id }}","type":"string"},{"id":"d858c2d7-246d-4a7e-b250-739274c867da","name":"ufs","value":"={{ $json.uf }}","type":"array"},{"id":"8f882c9b-c4a7-46e5-9ad4-adb47c63be83","name":"lista_municipio","value":"={{ $('set_data_busca1').item.json.lista_municipio }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,-240],"id":"a65c2a31-afda-442b-9ed5-ad3843d44403","name":"set_data_busca"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search?rerank=1","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"servico\":[{{ $json.servico }}],\n    \"produto\":[{{ $json.produto }}],\n    \"descricao\":[{{ $json.descricao }}],\n    \"publico\":[{{ $json.publico }}],\n    \"cliente\":[{{ $json.cliente }}]\n  },\n  \"weights\": {\n    \"servico\": {{ $json.output.peso_servicos }},\n    \"descricao\": {{ $json.output.peso_descricao }},\n    \"publico\": {{ $json.output.peso_publico }},\n    \"cliente\": {{ $json.output.peso_clientes }},\n    \"produto\": {{ $json.output.peso_produtos }},\n    \"bm25\": {{ $json.output.peso_bm25 }}\n\n  },\n  \"filter\": {\n    \"modelo_negocio\": \"\",\n    \"cidade\":\"{{ $('set_data_busca').item.json.lista_municipio }}\",\n    \"uf\":\"{{ $('set_data_busca').item.json.ufs }}\"\n  },\n  \"filter_not\": {\n    \"descricao\": \"\"\n  },\n  \"limit_per_vector\": 20,\n  \"final_limit\": 15,\n  \"bm25_query\": \"{{ $json.bm25\n  .replace(/[^\\w\\s\\-.,]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n}}\",\n  \"rerank\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[176,-96],"id":"64840617-6f52-458d-bb40-7f3cde36d0e2","name":"Busca_Vetorial","retryOnFail":true,"maxTries":5},{"parameters":{"jsCode":"function safe(v) {\n  if (v === null || v === undefined) return \"\";\n  return String(v);\n}\n\nconst total = items.length;\n\nreturn items.map((item, index) => {\n  const j = item.json;\n  const payload = j.payload || {};\n\n  let nota = 100;\n\n  if (total > 1) {\n    nota = 100 - (25 * index) / (total - 1);\n  }\n\n  // Arredondamento + clamp\n  nota = Math.round(nota);\n  nota = Math.max(75, Math.min(100, nota));\n\n  return {\n    json: {\n      id: j.id || null,\n      score_final: j.score_final || 0,\n      nota: parseInt(nota),\n\n      cnpj: safe(payload.cnpj),\n      n_exibicoes: j.n_exibicoes || 0,\n      plano_categoria: j.plano_categoria || null,\n\n      full_profile: {\n        identidade: {\n          nome_empresa: safe(payload.nome_empresa),\n          modelo_negocio: safe(payload.modelo_negocio)\n        },\n        contato: {\n          url_site: safe(payload.site),\n          telefones: safe(payload.telefone),\n          emails: safe(payload.email)\n        }\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-96],"id":"05a4c834-af42-4961-871d-1fd1bcd80189","name":"Process_Profile"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search?rerank=1","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"servico\":[{{ $json.servico }}],\n    \"produto\":[{{ $json.produto }}],\n    \"descricao\":[{{ $json.descricao }}],\n    \"publico\":[{{ $json.publico }}],\n    \"cliente\":[{{ $json.cliente }}]\n  },\n  \"weights\": {\n    \"servico\": {{ $json.output.peso_servicos }},\n    \"descricao\": {{ $json.output.peso_descricao }},\n    \"publico\": {{ $json.output.peso_publico }},\n    \"cliente\": {{ $json.output.peso_clientes }},\n    \"produto\": {{ $json.output.peso_produtos }},\n    \"bm25\": {{ $json.output.peso_bm25 }}\n\n  },\n  \"filter\": {\n    \"modelo_negocio\": \"\",\n    \"cidade\":\"\",\n    \"uf\":\"\"\n  },\n  \"filter_not\": {\n    \"descricao\": \"\"\n  },\n  \"limit_per_vector\": 20,\n  \"final_limit\": 2,\n  \"bm25_query\": \"{{ $json.bm25\n  .replace(/[^\\w\\s\\-.,]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n}}\",\n  \"rerank\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[176,-352],"id":"3bd687d2-61d0-4512-bc50-8ae2368ef315","name":"Busca_Vetorial1","retryOnFail":true,"maxTries":5},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[400,-352],"id":"48ce04b3-d039-418e-8310-042ccb3b9790","name":"Split Out","alwaysOutputData":true},{"parameters":{"content":"## Busca Nacional","height":240,"width":1040},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[128,-416],"id":"9b68d891-25dd-4d21-b93e-ddc04e3a3deb","name":"Sticky Note1"},{"parameters":{"jsCode":"function safe(v) {\n  if (v === null || v === undefined) return \"\";\n  return String(v);\n}\n\n// 1. Ordenar resultados pelo score final (descendente)\nconst sorted = [...items].sort(\n  (a, b) => (b.json.score_final || 0) - (a.json.score_final || 0)\n);\n\n// 2. Identificar os extremos para a normalização (Min-Max)\nconst maxScore = sorted[0]?.json?.score_final || 0;\nconst minScore = sorted[sorted.length - 1]?.json?.score_final || 0;\n\nreturn sorted.map(item => {\n  const j = item.json;\n  const payload = j.payload || {};\n  const score = j.score_final || 0;\n\n  let nota = 75; // Piso padrão\n\n  // 3. Lógica de Interpolação Linear para o intervalo [75, 100]\n  if (maxScore > minScore) {\n    nota = 75 + (25 * (score - minScore)) / (maxScore - minScore);\n  } else if (maxScore > 0) {\n    nota = 100;\n  }\n\n  // 4. Conversão para INTEIRO e trava de segurança\n  nota = Math.round(nota); \n  nota = Math.max(75, Math.min(100, nota));\n\n  return {\n    json: {\n      id: j.id || null,\n      score_final: score,\n      nota: parseInt(nota),\n\n      cnpj: safe(payload.cnpj),\n      n_exibicoes: j.n_exibicoes || 0,\n      plano_categoria: j.plano_categoria || null,\n\n      full_profile: {\n        identidade: {\n          nome_empresa: safe(payload.nome_empresa),\n          modelo_negocio: safe(payload.modelo_negocio) // incluído aqui\n        },\n        contato: {\n          url_site: safe(payload.site),\n          telefones: safe(payload.telefone),\n          emails: safe(payload.email)\n        }\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-352],"id":"29266b78-9c69-4ae1-8833-1f387859916d","name":"Process_Profile1"},{"parameters":{"assignments":{"assignments":[{"id":"37b79ebe-4d88-4286-ad8f-71f98605e4ad","name":"result.item","value":"={{ $json.item }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,-352],"id":"c2f6fda9-9068-4825-b7cb-9edfdfa26036","name":"set_result1"},{"parameters":{"assignments":{"assignments":[{"id":"8c8e6e64-cc6b-4e81-b261-650dc9498ac5","name":"item.fornecedor_id","value":"={{ $json.id || null}}","type":"string"},{"id":"e885457b-46bf-4c87-bd33-8c40ffd2805d","name":"item.n_listagens","value":"={{ $json.n_exibicoes || 0 }}","type":"number"},{"id":"665347f5-2639-4bb0-b692-0531f600359b","name":"item.plano_categoria","value":"={{ $json.plano_categoria || null }}","type":"string"},{"id":"244003cf-9cb2-437b-bb1b-e89a4cfb661d","name":"item.razao_social","value":"={{ $json.full_profile.identidade.nome_empresa }}","type":"string"},{"id":"c123260f-217e-4549-8c69-7c6cae477cff","name":"item.site","value":"={{ $json.full_profile.contato.url_site }}","type":"string"},{"id":"7a6d26fa-9e0e-415f-8d22-b7cf1bce103f","name":"item.telefone","value":"={{ $json.full_profile.contato.telefones }}","type":"string"},{"id":"1b92249f-71a1-48dd-9158-622d960b7794","name":"item.email","value":"={{ $json.full_profile.contato.emails }}","type":"string"},{"id":"76e17746-f60a-4628-9b58-0199f219e612","name":"item.nota","value":"=100","type":"number"},{"id":"3ebb5849-177b-4fba-bf29-572446fba50e","name":"item.limite_listagens ","value":"={{    $json.plano_categoria      ? (         $json.plano_categoria.toLowerCase() === 'standard' ? 10 :         $json.plano_categoria.toLowerCase() === 'essencial' ? 25 :         $json.plano_categoria.toLowerCase() === 'profissional' ? 1000 :         $json.plano_categoria.toLowerCase() === 'elite' ? 1000000 :         10       )     : 10 }}","type":"string"},{"id":"bd7599ed-40ac-4859-a39d-b99209bd89e1","name":"item.consulta_id","value":"={{ $('set_data_busca').item.json.consultaId }}","type":"string"},{"id":"0c2092b3-9f01-4b46-ba92-ba0c123babaa","name":"item.cnpj_basico","value":"={{ $json.cnpj }}","type":"string"},{"id":"40c24aed-1a3e-4f4d-85eb-90a167a7fa4c","name":"item.escopo","value":"nacional","type":"string"},{"id":"ce339f5b-313b-4b91-8c17-453ed2adbcac","name":"item.modelo_negocio","value":"={{ $json.full_profile.identidade.modelo_negocio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,-352],"id":"17ab8ece-6a11-4509-83c8-4bd8828a1432","name":"set_national_result1"},{"parameters":{"assignments":{"assignments":[{"id":"8c8e6e64-cc6b-4e81-b261-650dc9498ac5","name":"item.fornecedor_id","value":"={{ $json.id || null}}","type":"string"},{"id":"e885457b-46bf-4c87-bd33-8c40ffd2805d","name":"item.n_listagens","value":"={{ $json.n_exibicoes || 0 }}","type":"number"},{"id":"665347f5-2639-4bb0-b692-0531f600359b","name":"item.plano_categoria","value":"={{ $json.plano_categoria || null }}","type":"string"},{"id":"244003cf-9cb2-437b-bb1b-e89a4cfb661d","name":"item.razao_social","value":"={{ $json.full_profile.identidade.nome_empresa }}","type":"string"},{"id":"c123260f-217e-4549-8c69-7c6cae477cff","name":"item.site","value":"={{ $json.full_profile.contato.url_site }}","type":"string"},{"id":"7a6d26fa-9e0e-415f-8d22-b7cf1bce103f","name":"item.telefone","value":"={{ $json.full_profile.contato.telefones }}","type":"string"},{"id":"1b92249f-71a1-48dd-9158-622d960b7794","name":"item.email","value":"={{ $json.full_profile.contato.emails }}","type":"string"},{"id":"76e17746-f60a-4628-9b58-0199f219e612","name":"item.nota","value":"={{ $json.nota }}","type":"number"},{"id":"3ebb5849-177b-4fba-bf29-572446fba50e","name":"item.limite_listagens ","value":"={{    $json.plano_categoria      ? (         $json.plano_categoria.toLowerCase() === 'standard' ? 10 :         $json.plano_categoria.toLowerCase() === 'essencial' ? 25 :         $json.plano_categoria.toLowerCase() === 'profissional' ? 1000 :         $json.plano_categoria.toLowerCase() === 'elite' ? 1000000 :         10       )     : 10 }}","type":"string"},{"id":"bd7599ed-40ac-4859-a39d-b99209bd89e1","name":"item.consulta_id","value":"={{ $('set_data_busca').item.json.consultaId }}","type":"string"},{"id":"0c2092b3-9f01-4b46-ba92-ba0c123babaa","name":"item.cnpj_basico","value":"={{ $json.cnpj }}","type":"string"},{"id":"a7b9e24b-b13d-4cbc-942f-fd358def7fff","name":"item.escopo","value":"local","type":"string"},{"id":"cf901bef-8ec4-421b-88de-b5d9fcbf0ed8","name":"item.modelo_negocio","value":"={{ $json.full_profile.identidade.modelo_negocio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,-96],"id":"0e04e89b-cc0e-4253-9e69-157e1b3da730","name":"set_local_result"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1216,-224],"id":"be4f13fd-3ce2-48fb-bdc1-f600ea933575","name":"Merge1"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"result.item.cnpj_basico","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[2928,-240],"id":"8e129a2b-0ded-4600-94ef-d04b3e8f4eea","name":"Remove Duplicates"},{"parameters":{"fieldToSplitOut":"result","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3328,-560],"id":"d38db894-22a1-4692-927b-b4f07e654ce2","name":"Split Out1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"cnpj_basico"},{"fieldToAggregate":"nota"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3536,-560],"id":"4fb298bf-59ed-4d62-924f-54810dfef27b","name":"Aggregate"},{"parameters":{"content":"## Banco de dados:\n- Insere os resultados no banco\n- Não insere resultados duplicados","height":288,"width":2196,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2832,-368],"id":"5e7febf1-2e08-426d-93fa-632122305d0f","name":"Sticky Note2"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"contador_aparicoes","mode":"list","cachedResultName":"contador_aparicoes"},"returnAll":true,"where":{"values":[{"column":"cnpj","value":"={{ $json.cnpj_basico }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1696,-352],"id":"a9f59b22-88e2-4355-a52b-3f0b38167b30","name":"Select rows from a table1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.n_aparicoes != null && $json.n_aparicoes !== '' \n    ? Number($json.n_aparicoes) \n    : null }}","rightValue":"={{ $json.limite_aparicoes != null && $json.limite_aparicoes !== '' \n    ? Number($json.n_aparicoes) \n    : null }}","operator":{"type":"number","operation":"gte"},"id":"004e984c-6051-43fa-ad61-08bc36bb095d"}],"combinator":"and"},"renameOutput":true,"outputKey":"Limite Atingido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"50075b48-4326-4758-b9a1-f8ead5138dba","leftValue":"={{ $json.n_aparicoes != null && $json.n_aparicoes !== '' \n    ? Number($json.n_aparicoes) \n    : null }}","rightValue":"={{ $json.limite_aparicoes != null && $json.limite_aparicoes !== '' \n    ? Number($json.n_aparicoes) \n    : null }}","operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pode ser Exibido"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1904,-352],"id":"82ff001a-7f5c-4912-bfa5-7c5295da25b0","name":"Switch","alwaysOutputData":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"cnpj"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2192,-368],"id":"73c69c2f-300d-4ed9-a16f-a6543d02b5a2","name":"Aggregate1","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2464,-240],"id":"481c13c4-fb76-4e9d-afff-6f8023cbabed","name":"Merge2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ae73dffc-2514-4418-8376-6529ffe767cb","leftValue":"={{ $('Aggregate1').item.json.cnpj }}","rightValue":"={{ $json.result.item.cnpj_basico }}","operator":{"type":"array","operation":"notContains","rightType":"any"}},{"id":"79c4522f-dccb-4715-840f-63aa00e08fc1","leftValue":"={{ $json.result.item.cnpj_basico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[2656,-240],"id":"2f7e553c-16c8-4eb1-9f10-b3d713f88c3e","name":"Filter"},{"parameters":{"content":"## Faz a contagem de aparições e filtra empresas que já atingiram seu limite","height":352,"width":1632,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1184,-416],"id":"1e94dd24-9a2b-4198-8cdf-745704390444","name":"Sticky Note27"},{"parameters":{"assignments":{"assignments":[{"id":"9f189585-b83b-4a73-9e00-809f462362d7","name":"cnpj_basico","value":"={{ $json.result.item.cnpj_basico }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1488,-352],"id":"f1d6293c-f9fc-40c0-872c-e30abdb2523e","name":"Edit Fields1","alwaysOutputData":true},{"parameters":{"jsonSchemaExample":"{ \n  \"cidades_selecionadas\": [\"Cidade1\", \"Cidade2\"],\n  \"ufs_selecionadas\": [\"UF1\", \"UF2\"], \n  \"descricao\": \"string\" \n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-3456,-96],"id":"07ad711c-c6df-43ea-b3bf-119bbc5d03a4","name":"Structured Output Parser"},{"parameters":{"action":"generate","dataPropertyName":"consulta_id"},"type":"n8n-nodes-base.crypto","typeVersion":2,"position":[-720,-240],"id":"6cba6f3f-9a90-4806-b2b2-017483e76914","name":"Crypto"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4096,-256],"id":"adc3a14f-8ec7-4ebd-a9d9-e3b23ca6540f","name":"Merge"},{"parameters":{"content":"### (Tool) Busca Whatsapp\n- Realiza uma busca simplificada, criando aparições e mostrando o resultado por mensagem\n\n\n","height":80,"width":304,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3968,-480],"id":"cb636ab3-078d-4026-8489-cbd39eacc0a4","name":"Sticky Note4"},{"parameters":{"schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"consultas","mode":"list","cachedResultName":"consultas"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.consulta_id }}","created_at":"={{ $now }}","parametros":"={\n  \"descricao\": \"{{ $('Query-Model').item.json.output.descricao }}\",\n  \"tipo_busca\": \"uf\",\n  \"cnpjs_existentes\": \"\",\n  \"ufs_selecionadas\": [{{ $('Query-Model').item.json.output.ufs_selecionadas }}]\n} ","status":"pending","comprador":"={{ $('When Executed by Another Workflow').item.json.id }}","execution_id":"={{ $execution.id }}","uf":"={{ $('Query-Model').item.json.output.ufs_selecionadas }}","origem":"whatsapp"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"parametros","displayName":"parametros","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"resultados","displayName":"resultados","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"comprador","displayName":"comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"v_produto","displayName":"v_produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"v_cliente","displayName":"v_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"v_servico","displayName":"v_servico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"v_descricao","displayName":"v_descricao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"v_publico","displayName":"v_publico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"bm_25","displayName":"bm_25","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"uf","displayName":"uf","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"municipio","displayName":"municipio","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true,"removed":true},{"id":"modelo_negocio","displayName":"modelo_negocio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fallback","displayName":"fallback","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-512,-240],"id":"f60326f2-1df9-4658-81cc-3fc08fef3bca","name":"insert-consulta","credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"content":"## Query-Model\n- Modela a query do usuário.\n- Cria o registro da consulta no banco.","height":448,"width":864,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3968,-384],"id":"70e44eb0-a43d-4ea2-95b8-e4b351c1f361","name":"Sticky Note26"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"df4e5915-07cc-4afb-99a3-2ff13636335c","leftValue":"={{ $json.output.cidades_selecionadas }}","rightValue":"city","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"busca_cidade"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output.ufs_selecionadas }}","rightValue":"=uf","operator":{"type":"array","operation":"notEmpty","singleValue":true},"id":"5ae05424-95d0-4255-9143-db06a0b77429"}],"combinator":"and"},"renameOutput":true,"outputKey":"busca_uf"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-2928,-208],"id":"ede048bb-e3da-47bd-970c-43028333a40a","name":"tipo_busca1"},{"parameters":{"fieldToSplitOut":"nearby_cities","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2448,-192],"id":"e338068f-9117-44a4-807f-3aa1cd6d7b95","name":"Split Out3","alwaysOutputData":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"descricao"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1584,-336],"id":"2f67adbf-3bd6-4068-b1c7-eae40aa13718","name":"Aggregate3","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"3b606833-d2df-4174-a8f3-8bd57c8fffcf","name":"cidades","value":"={{ $('Split Out3').item.json.name.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").replace(/~/g, \"\").toUpperCase() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2032,-336],"id":"e6e0e279-1eab-451d-922c-6ce72938aa17","name":"lista_cidades1"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"get","tableId":"municipio","filters":{"conditions":[{"keyName":"descricao","keyValue":"={{ $json.cidades }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1808,-336],"id":"da4bff56-b2c7-4071-aac0-84a4cf3c9d2f","name":"Get_codes1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1344,-224],"id":"bcb4e32a-6df6-45f5-aeee-55d0d00355b0","name":"Merge6"},{"parameters":{"jsCode":"// Pega todos os itens recebidos\nconst items = $input.all();\n\n// Extrai a UF (últimos 2 caracteres após o hífen)\nconst ufs = items\n  .map(item => {\n    const text = item.json.uf || item.json.cidade_origem || \"\";\n    const match = text.match(/([A-Z]{2})$/);\n    return match ? match[1] : null;\n  })\n  .filter(Boolean); // remove nulos\n\n// Remove duplicadas\nconst ufsUnicas = [...new Set(ufs)];\n\n// Retorna no formato original\nreturn [\n  {\n    json: {\n      ufs_unicas: ufsUnicas\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1808,-112],"id":"25a2c482-2710-489f-b652-986d0d4ec1ae","name":"set_ufs_unicas1"},{"parameters":{"content":"## API própria:\n- Encontra cidades dentro de um raio pré-definido","height":256,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2736,-304],"id":"12e53145-033c-42d2-b147-dfd330275787","name":"Sticky Note43"},{"parameters":{"url":"https://api-busca-cidades-buscafornecedor.up.railway.app/api/cities/nearby","sendQuery":true,"queryParameters":{"parameters":[{"name":"city_name","value":"={{ $json.output.cidades_selecionadas.first().replace(/\\s*-\\s*[A-Z]{2}$/, '') }}"},{"name":"radius_km","value":"=150"},{"name":"uf","value":"={{ $json.output.ufs_selecionadas }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2672,-192],"id":"2d441716-a918-4017-8ea8-2374cf0e1ac6","name":"acha_cidade1","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"content":"## Busca códigos para as cidades no supabase:","height":272,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1888,-448],"id":"ecfdd9e3-9233-4f35-8cd1-5d986ed1fd4e","name":"Sticky Note44"},{"parameters":{"maxItems":100},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2240,-192],"id":"2d5bb7fe-cf79-4bdc-be35-75b367898356","name":"Limit"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1120,-240],"id":"c415201b-b9e0-44f6-917c-483556195175","name":"Merge3"},{"parameters":{"assignments":{"assignments":[{"id":"67239d33-a6aa-4f1c-9f96-984e97694c0d","name":"descricao","value":"={{ $('Query-Model').item.json.output.descricao }}","type":"string"},{"id":"86485711-eb18-481b-9098-3f7f50f527ab","name":"ufs_selecionadas","value":"={{ $json.ufs_unicas || []}}","type":"array"},{"id":"e8d9155c-f07e-49cc-9b2d-5e56cd44e33d","name":"lista_municipio","value":"={{ $json.descricao || [] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-944,-240],"id":"f6635db8-1583-4ca5-af9c-d01107271447","name":"set_data_busca1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.cidades_selecionadas.append($json.output.ufs_selecionadas) }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true},"id":"71bb09dd-26c6-4441-a96a-520842f77619"}],"combinator":"and"},"renameOutput":true,"outputKey":"Indefinida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0c303924-1da1-4488-893e-375010173817","leftValue":"={{ $json.output.cidades_selecionadas.append($json.output.ufs_selecionadas) }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Definida"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-3264,-240],"id":"cdf8bebe-0308-442b-81c9-7c10a7ead481","name":"Localidade"},{"parameters":{"content":"## Api-Localidade\n- Identifica a localidade definida na busca\n- Define a área buscada com base em um raio padrão de 150km","height":528,"width":3200,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3088,-480],"id":"5495cbbf-c08f-4777-8554-97f11dc13c98","name":"Sticky Note28"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"result.item"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4288,-256],"id":"4780fcd0-cbe5-424f-ad51-9eb22594d60b","name":"Aggregate2"},{"parameters":{"assignments":{"assignments":[{"id":"14bb0497-6c03-4382-9eb9-87ea36a68be4","name":"resultados","value":"={{ $json.resultados }}","type":"array"},{"id":"a561a6f0-d865-4f34-9fec-c306cfaf211f","name":"parametros","value":"={{ $json.parametros }}","type":"object"},{"id":"1dba8678-449f-4adf-b5ce-53bf5664dc05","name":"id","value":"={{ $('When Executed by Another Workflow').item.json.id }}","type":"string"},{"id":"9540b2b2-08d5-4c5b-8146-e992172ac54d","name":"descricao","value":"={{ $json.parametros.descricao }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4928,-256],"id":"4848dbd2-dcb5-4036-b358-bc56a5f39f7c","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Query-Model","type":"main","index":0}]]},"Query-Model":{"main":[[{"node":"Localidade","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Query-Model","type":"ai_languageModel","index":0}]]},"get_result":{"main":[[{"node":"Mostra resultado intermediário1","type":"main","index":0}]]},"Mostra resultado intermediário1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"set_result":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Split Out4":{"main":[[{"node":"Process_Profile","type":"main","index":0}]]},"Call 'query_manager'":{"main":[[{"node":"Busca_Vetorial","type":"main","index":0},{"node":"Busca_Vetorial1","type":"main","index":0}]]},"set_data_busca":{"main":[[{"node":"Call 'query_manager'","type":"main","index":0}]]},"Busca_Vetorial":{"main":[[{"node":"Split Out4","type":"main","index":0}]]},"Process_Profile":{"main":[[{"node":"set_local_result","type":"main","index":0}]]},"Busca_Vetorial1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Process_Profile1","type":"main","index":0}]]},"Process_Profile1":{"main":[[{"node":"set_national_result1","type":"main","index":0}]]},"set_result1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"set_national_result1":{"main":[[{"node":"set_result1","type":"main","index":0}]]},"set_local_result":{"main":[[{"node":"set_result","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Edit Fields1","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"Remove Duplicates":{"main":[[{"node":"Split Out1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Split Out1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Call 'contador_aparições'","type":"main","index":0}]]},"Select rows from a table1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Select rows from a table1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Query-Model","type":"ai_outputParser","index":0}]]},"Crypto":{"main":[[{"node":"insert-consulta","type":"main","index":0}]]},"Call 'contador_aparições'":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"insert-consulta":{"main":[[{"node":"set_data_busca","type":"main","index":0}]]},"tipo_busca1":{"main":[[{"node":"acha_cidade1","type":"main","index":0}],[{"node":"Merge3","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"lista_cidades1":{"main":[[{"node":"Get_codes1","type":"main","index":0}]]},"Get_codes1":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"set_ufs_unicas1":{"main":[[{"node":"Merge6","type":"main","index":1}]]},"acha_cidade1":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Limit":{"main":[[{"node":"lista_cidades1","type":"main","index":0},{"node":"set_ufs_unicas1","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"set_data_busca1","type":"main","index":0}]]},"set_data_busca1":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Localidade":{"main":[[{"node":"Crypto","type":"main","index":0}],[{"node":"tipo_busca1","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"get_result","type":"main","index":0}]]}},"authors":"ABC  advise","name":"Version 09bb3314","description":"","autosaved":true},"tags":[]}