busca_rápida-MCHwsbLgR65NiQx1.json
{"updatedAt":"2026-07-14T13:37:02.177Z","createdAt":"2026-07-13T17:44:22.000Z","id":"MCHwsbLgR65NiQx1","name":"Busca_Rápida","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Busca Rápida SMS","formDescription":"Cria uma busca e envia um SMS para quem fez a consulta","formFields":{"values":[{"fieldLabel":"Número"},{"fieldLabel":"Busca","fieldType":"textarea"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[32,-272],"id":"e44eb39b-764c-488a-9ff0-534100d5e564","name":"On form submission","webhookId":"0d6b9091-bbf5-430c-b401-165236e79ba8"},{"parameters":{"content":"## Envia menmsagem manualmente\n\n- Cria uma conta incompleta para o usuário.\n- Realiza uma busca, mostrando apenas 2 dos resultados retornados.\n\n\n","height":384,"width":1184,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-32,-448],"id":"1009573f-2afa-488e-aa2a-4faad691e8f0","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-224,-272],"id":"a9d62322-a3fa-42ee-b744-c54b891a228f","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"571b3304-c56b-4e00-84dc-95449b994f7d","name":"numero","value":"={{ $json['Número'] }}","type":"string"},{"id":"3dc9dd82-4769-4adc-b2f2-2d808e33b5f3","name":"busca","value":"={{ $json.Busca }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-272],"id":"75e31663-1e1f-44e0-9c4f-866026e57925","name":"Organiza as Entradas"},{"parameters":{"workflowId":{"__rl":true,"value":"poWyjVSBDzXQ46g8","mode":"list","cachedResultUrl":"/workflow/poWyjVSBDzXQ46g8","cachedResultName":"Enviar SMS (consulta)"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $json.telefone }}","url_create_acount":"={{ $json.url }}","consulta_id":"={{ $json.consulta_id }}","comprador_id":"={{ $json.comprador_id }}"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"url_create_acount","displayName":"url_create_acount","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"consulta_id","displayName":"consulta_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"comprador_id","displayName":"comprador_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[944,-272],"id":"b86da5b9-a57e-445c-9399-7edcacb10c0a","name":"Call 'Enviar SMS (consulta)'"},{"parameters":{"assignments":{"assignments":[{"id":"dfcdd70e-cdb2-4081-8c4d-ebfa9faf57e8","name":"telefone","value":"={{ $node[\"Organiza as Entradas\"].json.numero }}","type":"string"},{"id":"aa88d1b5-7fbd-45ad-8c14-92aa5b158e4e","name":"url","value":"={{ $node[\"Registrar Conta Whatsapp\"].json.completar_cadastro_url }}","type":"string"},{"id":"786dd146-005c-4bae-b874-ae1f09de8ded","name":"consulta_id","value":"={{ $json.id }}","type":"string"},{"id":"c677cc6f-350e-4b53-b96f-f08c590214d1","name":"comprador_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[752,-272],"id":"0ca4cae6-115d-434e-8945-6e3276dabd99","name":"Organiza as Entradas1"},{"parameters":{"workflowId":{"__rl":true,"value":"P5glDm8v5AZwgudn","mode":"list","cachedResultUrl":"/workflow/P5glDm8v5AZwgudn","cachedResultName":"Busca Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","query":"={{ $('Organiza as Entradas').item.json.busca }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[576,-272],"id":"f85458ba-542b-4ec9-89c7-22411ca93a62","name":"Buscar com um contato criado no whatsapp","alwaysOutputData":true},{"parameters":{"workflowId":{"__rl":true,"value":"dfzSiOV2FBfv6ZFs","mode":"list","cachedResultUrl":"/workflow/dfzSiOV2FBfv6ZFs","cachedResultName":"Registrar Conta Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero":"={{ $json.numero }}","nome":"={{ $json.nome }}"},"matchingColumns":[],"schema":[{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[400,-272],"id":"8bfd83f8-5689-456f-a6d2-3fdb81ab193d","name":"Registrar Conta Whatsapp"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[]]},"Organiza as Entradas":{"main":[[{"node":"Registrar Conta Whatsapp","type":"main","index":0}]]},"Organiza as Entradas1":{"main":[[{"node":"Call 'Enviar SMS (consulta)'","type":"main","index":0}]]},"Buscar com um contato criado no whatsapp":{"main":[[{"node":"Organiza as Entradas1","type":"main","index":0}]]},"Registrar Conta Whatsapp":{"main":[[{"node":"Buscar com um contato criado no whatsapp","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Organiza as Entradas","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"On form submission":[{"json":{"Número":"5511940849781","Busca":"Bom dia pessoal! \r\nTeria indicação de moveis de escritório em Recife?","submittedAt":"2026-07-14T10:12:27.218-03:00","formMode":"production"},"pairedItem":{"item":0}}]},"versionId":"84113716-b2f5-4ceb-b31d-c15950db875c","activeVersionId":"84113716-b2f5-4ceb-b31d-c15950db875c","triggerCount":1,"shared":[{"updatedAt":"2026-07-13T17:44:22.000Z","createdAt":"2026-07-13T17:44:22.000Z","role":"workflow:owner","workflowId":"MCHwsbLgR65NiQx1","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-07-14T14:05:26.032Z","createdAt":"2026-07-14T13:37:02.183Z","versionId":"84113716-b2f5-4ceb-b31d-c15950db875c","workflowId":"MCHwsbLgR65NiQx1","nodes":[{"parameters":{"formTitle":"Busca Rápida SMS","formDescription":"Cria uma busca e envia um SMS para quem fez a consulta","formFields":{"values":[{"fieldLabel":"Número"},{"fieldLabel":"Busca","fieldType":"textarea"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[32,-272],"id":"e44eb39b-764c-488a-9ff0-534100d5e564","name":"On form submission","webhookId":"0d6b9091-bbf5-430c-b401-165236e79ba8"},{"parameters":{"content":"## Envia menmsagem manualmente\n\n- Cria uma conta incompleta para o usuário.\n- Realiza uma busca, mostrando apenas 2 dos resultados retornados.\n\n\n","height":384,"width":1184,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-32,-448],"id":"1009573f-2afa-488e-aa2a-4faad691e8f0","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-224,-272],"id":"a9d62322-a3fa-42ee-b744-c54b891a228f","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"571b3304-c56b-4e00-84dc-95449b994f7d","name":"numero","value":"={{ $json['Número'] }}","type":"string"},{"id":"3dc9dd82-4769-4adc-b2f2-2d808e33b5f3","name":"busca","value":"={{ $json.Busca }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-272],"id":"75e31663-1e1f-44e0-9c4f-866026e57925","name":"Organiza as Entradas"},{"parameters":{"workflowId":{"__rl":true,"value":"poWyjVSBDzXQ46g8","mode":"list","cachedResultUrl":"/workflow/poWyjVSBDzXQ46g8","cachedResultName":"Enviar SMS (consulta)"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $json.telefone }}","url_create_acount":"={{ $json.url }}","consulta_id":"={{ $json.consulta_id }}","comprador_id":"={{ $json.comprador_id }}"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"url_create_acount","displayName":"url_create_acount","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"consulta_id","displayName":"consulta_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"comprador_id","displayName":"comprador_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[944,-272],"id":"b86da5b9-a57e-445c-9399-7edcacb10c0a","name":"Call 'Enviar SMS (consulta)'"},{"parameters":{"assignments":{"assignments":[{"id":"dfcdd70e-cdb2-4081-8c4d-ebfa9faf57e8","name":"telefone","value":"={{ $node[\"Organiza as Entradas\"].json.numero }}","type":"string"},{"id":"aa88d1b5-7fbd-45ad-8c14-92aa5b158e4e","name":"url","value":"={{ $node[\"Registrar Conta Whatsapp\"].json.completar_cadastro_url }}","type":"string"},{"id":"786dd146-005c-4bae-b874-ae1f09de8ded","name":"consulta_id","value":"={{ $json.id }}","type":"string"},{"id":"c677cc6f-350e-4b53-b96f-f08c590214d1","name":"comprador_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[752,-272],"id":"0ca4cae6-115d-434e-8945-6e3276dabd99","name":"Organiza as Entradas1"},{"parameters":{"workflowId":{"__rl":true,"value":"P5glDm8v5AZwgudn","mode":"list","cachedResultUrl":"/workflow/P5glDm8v5AZwgudn","cachedResultName":"Busca Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","query":"={{ $('Organiza as Entradas').item.json.busca }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[576,-272],"id":"f85458ba-542b-4ec9-89c7-22411ca93a62","name":"Buscar com um contato criado no whatsapp","alwaysOutputData":true},{"parameters":{"workflowId":{"__rl":true,"value":"dfzSiOV2FBfv6ZFs","mode":"list","cachedResultUrl":"/workflow/dfzSiOV2FBfv6ZFs","cachedResultName":"Registrar Conta Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero":"={{ $json.numero }}","nome":"={{ $json.nome }}"},"matchingColumns":[],"schema":[{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[400,-272],"id":"8bfd83f8-5689-456f-a6d2-3fdb81ab193d","name":"Registrar Conta Whatsapp"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[]]},"Organiza as Entradas":{"main":[[{"node":"Registrar Conta Whatsapp","type":"main","index":0}]]},"Organiza as Entradas1":{"main":[[{"node":"Call 'Enviar SMS (consulta)'","type":"main","index":0}]]},"Buscar com um contato criado no whatsapp":{"main":[[{"node":"Organiza as Entradas1","type":"main","index":0}]]},"Registrar Conta Whatsapp":{"main":[[{"node":"Buscar com um contato criado no whatsapp","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Organiza as Entradas","type":"main","index":0}]]}},"authors":"ABC  advise","name":"Version 84113716","description":"","autosaved":true},"tags":[]}