busca-whatsapp-P5glDm8v5AZwgudn.json
{"updatedAt":"2026-04-27T18:51:04.518Z","createdAt":"2026-04-20T17:58:58.908Z","id":"P5glDm8v5AZwgudn","name":"Busca Whatsapp","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-800,-624],"id":"ba0ef78e-8f1d-421b-812b-e4ea779c657a","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"eab5e01f-1945-4ce3-ab6a-167af2d952ce","name":"Telefone","value":"553599195960","type":"string"},{"id":"f58a9247-fef6-49ae-acb0-69f2c94456e1","name":"Nome","value":"TESTE-ZAP","type":"string"},{"id":"f66b7c23-f16b-451a-bc76-e6486dff6075","name":"Empresa","value":"TESTE","type":"string"},{"id":"6a34b92b-615b-416e-bbe5-ec720af5aaa5","name":"Fonte","value":"Whatsapp","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,-656],"id":"d00c18f7-858a-4105-a995-55d30b10dd17","name":"Edit Fields"},{"parameters":{"workflowInputs":{"values":[{"name":"id"},{"name":"query"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-592,-224],"id":"d6d4d7a3-9833-4b62-8f03-1f5851c36559","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=# ROLE\nVocê é um Especialista em Processamento de Linguagem Natural (NLP) focado em sistemas de compras e suprimentos (procurement). Sua função é decompor consultas de usuários para otimizar buscas vetoriais de fornecedores.\n\n# TASK\nAnalise a QUERY do usuário e extraia as informações estruturadas seguindo estas regras:\n1. **ufs_selecionadas**: Identifique estados brasileiros mencionados. Se o usuário escrever o nome por extenso (ex: \"São Paulo\"), converta para a sigla (SP). Retorne uma lista de strings. Se não houver, retorne uma lista vazia [].\n2. **descricao**: Refine a intenção de busca do usuário para uma descrição clara e objetiva que será usada em um motor de busca vetorial. Mantenha a terminologia técnica do produto, mas remova saudações ou palavras irrelevantes.\n\n# FORMAT\nRetorne estritamente um objeto JSON válido, sem explicações adicionais, no seguinte formato:\n{\n  \"ufs_selecionadas\": [\"UF1\", \"UF2\"],\n  \"descricao\": \"string\"\n}\n\n# QUERY DO USUÁRIO\n\"{{ $json.query }}\"","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-368,-224],"id":"be4820c7-1907-4f42-acad-f3e5a3906d66","name":"Query-Model"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-416,-48],"id":"5310bbbb-4006-4ac4-97d1-d4d97d116b75","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## Busca Local","height":224,"width":1040,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[416,-160],"id":"60ee8bff-48a5-4466-b347-168ed3f95da0","name":"Sticky Note25"},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"get","tableId":"consultas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Webhook').item.json.body.consultaId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3728,-256],"id":"a1649264-7612-4019-a254-20251288a0c9","name":"get_result","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"update","tableId":"consultas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.consultaId }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resultados","fieldValue":"={{ $('Aggregate2').item.json.result }}"},{"fieldId":"status","fieldValue":"concluida"},{"fieldId":"uf","fieldValue":"={{ $json.parametros.ufs_selecionadas }}"},{"fieldId":"municipio","fieldValue":"={{ $('set_data_busca').item.json.lista_municipio }}"},{"fieldId":"=execution_id","fieldValue":"={{ $execution.id }}"},{"fieldId":"v_produto","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.produto }}"},{"fieldId":"v_cliente","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.cliente }}"},{"fieldId":"v_servico","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.servico }}"},{"fieldId":"v_descricao","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.descricao }}"},{"fieldId":"v_publico","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.publico }}"},{"fieldId":"bm_25","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.bm25 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3920,-256],"id":"09ba8dc0-9dff-45d3-8b99-d5a9e69058ae","name":"Mostra resultado intermediário1","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"37b79ebe-4d88-4286-ad8f-71f98605e4ad","name":"result.item","value":"={{ $json.item }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1312,-96],"id":"2579fa1a-4df4-4e1b-af44-05120b6a03c4","name":"set_result"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"result"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3456,-256],"id":"ab461f6d-3fbd-4ded-adfe-379a83493d82","name":"Aggregate2"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[688,-96],"id":"f86ed398-a75c-459a-a04a-06a161cdd472","name":"Split Out4","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3034442b-d032-4908-bca5-c10d36945a1f","leftValue":"={{ $json.resultados.length }}","rightValue":4,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[4160,-256],"id":"bb40e32a-db73-4d89-bcd8-0586cc6f21e1","name":"If1"},{"parameters":{"workflowId":{"__rl":true,"value":"HJfvVSvFtu32bPhL","mode":"list","cachedResultUrl":"/workflow/HJfvVSvFtu32bPhL","cachedResultName":"fallback-vetor"},"workflowInputs":{"mappingMode":"defineBelow","value":{"consultaId":"={{ $json.id }}"},"matchingColumns":["consultaId"],"schema":[{"id":"consultaId","displayName":"consultaId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[4416,-272],"id":"5ad48e06-b41c-402e-8c4e-a47841b17336","name":"Call 'fallback-vetor'"},{"parameters":{"workflowId":{"__rl":true,"value":"ALYdM6dEmJdCNNRA","mode":"list","cachedResultUrl":"/workflow/ALYdM6dEmJdCNNRA","cachedResultName":"contador_aparições"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cnpj":"={{ $json.cnpj_basico }}","consultaId":"={{ $('set_data_busca').item.json.consultaId }}","notas":"={{ $json.nota }}"},"matchingColumns":[],"schema":[{"id":"cnpj","displayName":"cnpj","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"consultaId","displayName":"consultaId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"notas","displayName":"notas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[4272,96],"id":"29462a46-6462-41a2-90a0-1a8842c556d3","name":"Call 'contador_aparições'"},{"parameters":{"workflowId":{"__rl":true,"value":"bphbpiPPgMm5Mhsb","mode":"list","cachedResultUrl":"/workflow/bphbpiPPgMm5Mhsb","cachedResultName":"query_manager"},"workflowInputs":{"mappingMode":"defineBelow","value":{"consulta":"={{ $json.descricao }}"},"matchingColumns":["consulta"],"schema":[{"id":"consulta","displayName":"consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[192,-224],"id":"aee76f0c-6da8-4afc-8acc-e138339c5d1c","name":"Call 'query_manager'"},{"parameters":{"content":"## Banco de dados:\n- Soma 1 ao contador de aparições dos cnpjs listados\n- Insere os cnpjs listados na tabela de aparições","height":320,"width":656,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3824,-48],"id":"d848602c-1295-4f0a-9e29-e9a3e4b6f007","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"67239d33-a6aa-4f1c-9f96-984e97694c0d","name":"descricao","value":"={{ $json.output.descricao }}","type":"string"},{"id":"62dac054-7a4b-4b88-bb34-55c4e6a1c04f","name":"consultaId","value":"={{ $('When Executed by Another Workflow').item.json.id }}","type":"string"},{"id":"d858c2d7-246d-4a7e-b250-739274c867da","name":"ufs","value":"={{ $json.output.ufs_selecionadas }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,-224],"id":"a65c2a31-afda-442b-9ed5-ad3843d44403","name":"set_data_busca"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search?rerank=1","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"servico\":[{{ $json.servico }}],\n    \"produto\":[{{ $json.produto }}],\n    \"descricao\":[{{ $json.descricao }}],\n    \"publico\":[{{ $json.publico }}],\n    \"cliente\":[{{ $json.cliente }}]\n  },\n  \"weights\": {\n    \"servico\": {{ $json.output.peso_servicos }},\n    \"descricao\": {{ $json.output.peso_descricao }},\n    \"publico\": {{ $json.output.peso_publico }},\n    \"cliente\": {{ $json.output.peso_clientes }},\n    \"produto\": {{ $json.output.peso_produtos }},\n    \"bm25\": {{ $json.output.peso_bm25 }}\n\n  },\n  \"filter\": {\n    \"modelo_negocio\": \"\",\n    \"cidade\":\"{{ $('set_data_busca').item.json.lista_municipio || \" \" }}\",\n    \"uf\":\"{{ $('set_data_busca').item.json.ufs_selecionadas || \" \" }}\"\n  },\n  \"filter_not\": {\n    \"descricao\": \"\"\n  },\n  \"limit_per_vector\": 20,\n  \"final_limit\": 15,\n  \"bm25_query\": \"{{ $json.bm25\n  .replace(/[^\\w\\s\\-.,]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n}}\",\n  \"rerank\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[464,-96],"id":"64840617-6f52-458d-bb40-7f3cde36d0e2","name":"Busca_Vetorial","retryOnFail":true,"maxTries":5},{"parameters":{"jsCode":"function safe(v) {\n  if (v === null || v === undefined) return \"\";\n  return String(v);\n}\n\nconst total = items.length;\n\nreturn items.map((item, index) => {\n  const j = item.json;\n  const payload = j.payload || {};\n\n  let nota = 100;\n\n  if (total > 1) {\n    nota = 100 - (25 * index) / (total - 1);\n  }\n\n  // Arredondamento + clamp\n  nota = Math.round(nota);\n  nota = Math.max(75, Math.min(100, nota));\n\n  return {\n    json: {\n      id: j.id || null,\n      score_final: j.score_final || 0,\n      nota: parseInt(nota),\n\n      cnpj: safe(payload.cnpj),\n      n_exibicoes: j.n_exibicoes || 0,\n      plano_categoria: j.plano_categoria || null,\n\n      full_profile: {\n        identidade: {\n          nome_empresa: safe(payload.nome_empresa),\n          modelo_negocio: safe(payload.modelo_negocio)\n        },\n        contato: {\n          url_site: safe(payload.site),\n          telefones: safe(payload.telefone),\n          emails: safe(payload.email)\n        }\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,-96],"id":"05a4c834-af42-4961-871d-1fd1bcd80189","name":"Process_Profile"},{"parameters":{"content":"## Em caso de poucos resultados chama o cenário de fallback","height":320,"width":512,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4112,-400],"id":"c7c6e7d9-8691-4341-8684-a77c7801ce90","name":"Sticky Note26"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search?rerank=1","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"servico\":[{{ $json.servico }}],\n    \"produto\":[{{ $json.produto }}],\n    \"descricao\":[{{ $json.descricao }}],\n    \"publico\":[{{ $json.publico }}],\n    \"cliente\":[{{ $json.cliente }}]\n  },\n  \"weights\": {\n    \"servico\": {{ $json.output.peso_servicos }},\n    \"descricao\": {{ $json.output.peso_descricao }},\n    \"publico\": {{ $json.output.peso_publico }},\n    \"cliente\": {{ $json.output.peso_clientes }},\n    \"produto\": {{ $json.output.peso_produtos }},\n    \"bm25\": {{ $json.output.peso_bm25 }}\n\n  },\n  \"filter\": {\n    \"modelo_negocio\": \"\",\n    \"cidade\":\"\",\n    \"uf\":\"\"\n  },\n  \"filter_not\": {\n    \"descricao\": \"\"\n  },\n  \"limit_per_vector\": 20,\n  \"final_limit\": 2,\n  \"bm25_query\": \"{{ $json.bm25\n  .replace(/[^\\w\\s\\-.,]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n}}\",\n  \"rerank\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[464,-352],"id":"3bd687d2-61d0-4512-bc50-8ae2368ef315","name":"Busca_Vetorial1","retryOnFail":true,"maxTries":5},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[688,-352],"id":"48ce04b3-d039-418e-8310-042ccb3b9790","name":"Split Out","alwaysOutputData":true},{"parameters":{"content":"## Busca Nacional","height":240,"width":1040},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[416,-416],"id":"9b68d891-25dd-4d21-b93e-ddc04e3a3deb","name":"Sticky Note1"},{"parameters":{"jsCode":"function safe(v) {\n  if (v === null || v === undefined) return \"\";\n  return String(v);\n}\n\n// 1. Ordenar resultados pelo score final (descendente)\nconst sorted = [...items].sort(\n  (a, b) => (b.json.score_final || 0) - (a.json.score_final || 0)\n);\n\n// 2. Identificar os extremos para a normalização (Min-Max)\nconst maxScore = sorted[0]?.json?.score_final || 0;\nconst minScore = sorted[sorted.length - 1]?.json?.score_final || 0;\n\nreturn sorted.map(item => {\n  const j = item.json;\n  const payload = j.payload || {};\n  const score = j.score_final || 0;\n\n  let nota = 75; // Piso padrão\n\n  // 3. Lógica de Interpolação Linear para o intervalo [75, 100]\n  if (maxScore > minScore) {\n    nota = 75 + (25 * (score - minScore)) / (maxScore - minScore);\n  } else if (maxScore > 0) {\n    nota = 100;\n  }\n\n  // 4. Conversão para INTEIRO e trava de segurança\n  nota = Math.round(nota); \n  nota = Math.max(75, Math.min(100, nota));\n\n  return {\n    json: {\n      id: j.id || null,\n      score_final: score,\n      nota: parseInt(nota),\n\n      cnpj: safe(payload.cnpj),\n      n_exibicoes: j.n_exibicoes || 0,\n      plano_categoria: j.plano_categoria || null,\n\n      full_profile: {\n        identidade: {\n          nome_empresa: safe(payload.nome_empresa),\n          modelo_negocio: safe(payload.modelo_negocio) // incluído aqui\n        },\n        contato: {\n          url_site: safe(payload.site),\n          telefones: safe(payload.telefone),\n          emails: safe(payload.email)\n        }\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,-352],"id":"29266b78-9c69-4ae1-8833-1f387859916d","name":"Process_Profile1"},{"parameters":{"assignments":{"assignments":[{"id":"37b79ebe-4d88-4286-ad8f-71f98605e4ad","name":"result.item","value":"={{ $json.item }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1312,-352],"id":"c2f6fda9-9068-4825-b7cb-9edfdfa26036","name":"set_result1"},{"parameters":{"assignments":{"assignments":[{"id":"8c8e6e64-cc6b-4e81-b261-650dc9498ac5","name":"item.fornecedor_id","value":"={{ $json.id || null}}","type":"string"},{"id":"e885457b-46bf-4c87-bd33-8c40ffd2805d","name":"item.n_listagens","value":"={{ $json.n_exibicoes || 0 }}","type":"number"},{"id":"665347f5-2639-4bb0-b692-0531f600359b","name":"item.plano_categoria","value":"={{ $json.plano_categoria || null }}","type":"string"},{"id":"244003cf-9cb2-437b-bb1b-e89a4cfb661d","name":"item.razao_social","value":"={{ $json.full_profile.identidade.nome_empresa }}","type":"string"},{"id":"c123260f-217e-4549-8c69-7c6cae477cff","name":"item.site","value":"={{ $json.full_profile.contato.url_site }}","type":"string"},{"id":"7a6d26fa-9e0e-415f-8d22-b7cf1bce103f","name":"item.telefone","value":"={{ $json.full_profile.contato.telefones }}","type":"string"},{"id":"1b92249f-71a1-48dd-9158-622d960b7794","name":"item.email","value":"={{ $json.full_profile.contato.emails }}","type":"string"},{"id":"76e17746-f60a-4628-9b58-0199f219e612","name":"item.nota","value":"=100","type":"number"},{"id":"3ebb5849-177b-4fba-bf29-572446fba50e","name":"item.limite_listagens ","value":"={{    $json.plano_categoria      ? (         $json.plano_categoria.toLowerCase() === 'standard' ? 10 :         $json.plano_categoria.toLowerCase() === 'essencial' ? 25 :         $json.plano_categoria.toLowerCase() === 'profissional' ? 1000 :         $json.plano_categoria.toLowerCase() === 'elite' ? 1000000 :         10       )     : 10 }}","type":"string"},{"id":"bd7599ed-40ac-4859-a39d-b99209bd89e1","name":"item.consulta_id","value":"={{ $('Webhook').item.json.body.consultaId }}","type":"string"},{"id":"0c2092b3-9f01-4b46-ba92-ba0c123babaa","name":"item.cnpj_basico","value":"={{ $json.cnpj }}","type":"string"},{"id":"40c24aed-1a3e-4f4d-85eb-90a167a7fa4c","name":"item.escopo","value":"nacional","type":"string"},{"id":"ce339f5b-313b-4b91-8c17-453ed2adbcac","name":"item.modelo_negocio","value":"={{ $json.full_profile.identidade.modelo_negocio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,-352],"id":"17ab8ece-6a11-4509-83c8-4bd8828a1432","name":"set_national_result1"},{"parameters":{"assignments":{"assignments":[{"id":"8c8e6e64-cc6b-4e81-b261-650dc9498ac5","name":"item.fornecedor_id","value":"={{ $json.id || null}}","type":"string"},{"id":"e885457b-46bf-4c87-bd33-8c40ffd2805d","name":"item.n_listagens","value":"={{ $json.n_exibicoes || 0 }}","type":"number"},{"id":"665347f5-2639-4bb0-b692-0531f600359b","name":"item.plano_categoria","value":"={{ $json.plano_categoria || null }}","type":"string"},{"id":"244003cf-9cb2-437b-bb1b-e89a4cfb661d","name":"item.razao_social","value":"={{ $json.full_profile.identidade.nome_empresa }}","type":"string"},{"id":"c123260f-217e-4549-8c69-7c6cae477cff","name":"item.site","value":"={{ $json.full_profile.contato.url_site }}","type":"string"},{"id":"7a6d26fa-9e0e-415f-8d22-b7cf1bce103f","name":"item.telefone","value":"={{ $json.full_profile.contato.telefones }}","type":"string"},{"id":"1b92249f-71a1-48dd-9158-622d960b7794","name":"item.email","value":"={{ $json.full_profile.contato.emails }}","type":"string"},{"id":"76e17746-f60a-4628-9b58-0199f219e612","name":"item.nota","value":"={{ $json.nota }}","type":"number"},{"id":"3ebb5849-177b-4fba-bf29-572446fba50e","name":"item.limite_listagens ","value":"={{    $json.plano_categoria      ? (         $json.plano_categoria.toLowerCase() === 'standard' ? 10 :         $json.plano_categoria.toLowerCase() === 'essencial' ? 25 :         $json.plano_categoria.toLowerCase() === 'profissional' ? 1000 :         $json.plano_categoria.toLowerCase() === 'elite' ? 1000000 :         10       )     : 10 }}","type":"string"},{"id":"bd7599ed-40ac-4859-a39d-b99209bd89e1","name":"item.consulta_id","value":"={{ $('Webhook').item.json.body.consultaId }}","type":"string"},{"id":"0c2092b3-9f01-4b46-ba92-ba0c123babaa","name":"item.cnpj_basico","value":"={{ $json.cnpj }}","type":"string"},{"id":"a7b9e24b-b13d-4cbc-942f-fd358def7fff","name":"item.escopo","value":"local","type":"string"},{"id":"cf901bef-8ec4-421b-88de-b5d9fcbf0ed8","name":"item.modelo_negocio","value":"={{ $json.full_profile.identidade.modelo_negocio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,-96],"id":"0e04e89b-cc0e-4253-9e69-157e1b3da730","name":"set_local_result"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1504,-240],"id":"be4f13fd-3ce2-48fb-bdc1-f600ea933575","name":"Merge1"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"result.item.cnpj_basico","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[3216,-256],"id":"8e129a2b-0ded-4600-94ef-d04b3e8f4eea","name":"Remove Duplicates"},{"parameters":{"fieldToSplitOut":"result","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3872,96],"id":"d38db894-22a1-4692-927b-b4f07e654ce2","name":"Split Out1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"item.cnpj_basico"},{"fieldToAggregate":"item.nota"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4080,96],"id":"4fb298bf-59ed-4d62-924f-54810dfef27b","name":"Aggregate"},{"parameters":{"content":"## Banco de dados:\n- Insere os resultados no banco\n- Não insere resultados duplicados","height":320,"width":980,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3120,-400],"id":"5e7febf1-2e08-426d-93fa-632122305d0f","name":"Sticky Note2"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"contador_aparicoes","mode":"list","cachedResultName":"contador_aparicoes"},"returnAll":true,"where":{"values":[{"column":"cnpj","value":"={{ $json.cnpj_basico }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1984,-368],"id":"a9f59b22-88e2-4355-a52b-3f0b38167b30","name":"Select rows from a table1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.n_aparicoes != null && $json.n_aparicoes !== '' \n    ? Number($json.n_aparicoes) \n    : null }}","rightValue":"={{ $json.limite_aparicoes != null && $json.limite_aparicoes !== '' \n    ? Number($json.n_aparicoes) \n    : null }}","operator":{"type":"number","operation":"gte"},"id":"004e984c-6051-43fa-ad61-08bc36bb095d"}],"combinator":"and"},"renameOutput":true,"outputKey":"Limite Atingido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"50075b48-4326-4758-b9a1-f8ead5138dba","leftValue":"={{ $json.n_aparicoes != null && $json.n_aparicoes !== '' \n    ? Number($json.n_aparicoes) \n    : null }}","rightValue":"={{ $json.limite_aparicoes != null && $json.limite_aparicoes !== '' \n    ? Number($json.n_aparicoes) \n    : null }}","operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pode ser Exibido"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[2192,-368],"id":"82ff001a-7f5c-4912-bfa5-7c5295da25b0","name":"Switch","alwaysOutputData":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"cnpj"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2480,-384],"id":"73c69c2f-300d-4ed9-a16f-a6543d02b5a2","name":"Aggregate1","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2752,-256],"id":"481c13c4-fb76-4e9d-afff-6f8023cbabed","name":"Merge2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ae73dffc-2514-4418-8376-6529ffe767cb","leftValue":"={{ $('Aggregate1').item.json.cnpj }}","rightValue":"={{ $json.result.item.cnpj_basico }}","operator":{"type":"array","operation":"notContains","rightType":"any"}},{"id":"79c4522f-dccb-4715-840f-63aa00e08fc1","leftValue":"={{ $json.result.item.cnpj_basico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[2944,-256],"id":"2f7e553c-16c8-4eb1-9f10-b3d713f88c3e","name":"Filter"},{"parameters":{"content":"## Faz a contagem de aparições e filtra empresas que já atingiram seu limite","height":400,"width":1632,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1472,-480],"id":"1e94dd24-9a2b-4198-8cdf-745704390444","name":"Sticky Note27"},{"parameters":{"assignments":{"assignments":[{"id":"9f189585-b83b-4a73-9e00-809f462362d7","name":"cnpj_basico","value":"={{ $json.result.item.cnpj_basico }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1776,-368],"id":"f1d6293c-f9fc-40c0-872c-e30abdb2523e","name":"Edit Fields1","alwaysOutputData":true},{"parameters":{"jsonSchemaExample":"{\n  \"ufs_selecionadas\": [\"UF1\", \"UF2\"],\n  \"descricao\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-208,-32],"id":"07ad711c-c6df-43ea-b3bf-119bbc5d03a4","name":"Structured Output Parser"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"Query-Model","type":"main","index":0}]]},"Query-Model":{"main":[[{"node":"set_data_busca","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Query-Model","type":"ai_languageModel","index":0}]]},"get_result":{"main":[[{"node":"Mostra resultado intermediário1","type":"main","index":0}]]},"Mostra resultado intermediário1":{"main":[[{"node":"If1","type":"main","index":0}]]},"set_result":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Aggregate2":{"main":[[{"node":"get_result","type":"main","index":0},{"node":"Split Out1","type":"main","index":0}]]},"Split Out4":{"main":[[{"node":"Process_Profile","type":"main","index":0}]]},"If1":{"main":[[{"node":"Call 'fallback-vetor'","type":"main","index":0}]]},"Call 'query_manager'":{"main":[[{"node":"Busca_Vetorial","type":"main","index":0},{"node":"Busca_Vetorial1","type":"main","index":0}]]},"set_data_busca":{"main":[[{"node":"Call 'query_manager'","type":"main","index":0}]]},"Busca_Vetorial":{"main":[[{"node":"Split Out4","type":"main","index":0}]]},"Process_Profile":{"main":[[{"node":"set_local_result","type":"main","index":0}]]},"Busca_Vetorial1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Process_Profile1","type":"main","index":0}]]},"Process_Profile1":{"main":[[{"node":"set_national_result1","type":"main","index":0}]]},"set_result1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"set_national_result1":{"main":[[{"node":"set_result1","type":"main","index":0}]]},"set_local_result":{"main":[[{"node":"set_result","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Edit Fields1","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"Remove Duplicates":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Call 'contador_aparições'","type":"main","index":0}]]},"Select rows from a table1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Select rows from a table1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Query-Model","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"id":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","query":"Comprar chinelo havaiana na região sudeste"}}]},"versionId":"10627044-ca3b-4f56-a27f-dab3fd7a31bd","activeVersionId":"e93c3673-887b-4369-858a-e2e373039ab7","triggerCount":0,"shared":[{"updatedAt":"2026-04-20T17:58:58.908Z","createdAt":"2026-04-20T17:58:58.908Z","role":"workflow:owner","workflowId":"P5glDm8v5AZwgudn","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-04-24T21:09:16.649Z","createdAt":"2026-04-24T16:03:24.261Z","versionId":"e93c3673-887b-4369-858a-e2e373039ab7","workflowId":"P5glDm8v5AZwgudn","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-800,-624],"id":"ba0ef78e-8f1d-421b-812b-e4ea779c657a","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"eab5e01f-1945-4ce3-ab6a-167af2d952ce","name":"Telefone","value":"553599195960","type":"string"},{"id":"f58a9247-fef6-49ae-acb0-69f2c94456e1","name":"Nome","value":"TESTE-ZAP","type":"string"},{"id":"f66b7c23-f16b-451a-bc76-e6486dff6075","name":"Empresa","value":"TESTE","type":"string"},{"id":"6a34b92b-615b-416e-bbe5-ec720af5aaa5","name":"Fonte","value":"Whatsapp","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,-656],"id":"d00c18f7-858a-4105-a995-55d30b10dd17","name":"Edit Fields"},{"parameters":{"workflowInputs":{"values":[{"name":"id"},{"name":"query"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-704,-224],"id":"d6d4d7a3-9833-4b62-8f03-1f5851c36559","name":"When Executed by Another Workflow"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-480,-224],"id":"be4820c7-1907-4f42-acad-f3e5a3906d66","name":"Query-Model"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-624,-16],"id":"5310bbbb-4006-4ac4-97d1-d4d97d116b75","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c35915e6-ed98-448e-a3c0-a4a7334b4710","name":"query","value":"","type":"string"},{"id":"e180575b-6018-4e33-b773-119e1e8a92a3","name":"cidade","value":"","type":"string"},{"id":"636b4aa7-249c-4e69-9566-2653bb14e957","name":"uf","value":"","type":"string"},{"id":"e253bbc8-584c-438c-89ba-0ada1a548788","name":"modelo_negocio","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,-224],"id":"2f4f7060-b3d2-460f-ab83-548d1c01e2fa","name":"set_query"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"Query-Model","type":"main","index":0}]]},"Query-Model":{"main":[[{"node":"set_query","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Query-Model","type":"ai_languageModel","index":0}]]}},"authors":"ABC  advise","name":"Version e93c3673","description":"","autosaved":true},"tags":[]}