busca-whatsapp-P5glDm8v5AZwgudn.json
{"updatedAt":"2026-05-11T18:14:38.883Z","createdAt":"2026-04-20T17:58:58.908Z","id":"P5glDm8v5AZwgudn","name":"Busca Whatsapp","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"id"},{"name":"query"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-3904,-240],"id":"d6d4d7a3-9833-4b62-8f03-1f5851c36559","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=ROLE\nVocê é um Especialista em Processamento de Linguagem Natural (NLP) focado em sistemas de compras e suprimentos (procurement). Sua função é decompor consultas de usuários para otimizar buscas vetoriais de fornecedores.\n\nTASK\nAnalise a QUERY do usuário e extraia as informações estruturadas seguindo estas regras:\n\ncidades_selecionadas: Identifique nomes de cidades brasileiras mencionadas na query. Normalize a grafia (capitalização correta, com acentos — ex: \"sao paulo\" → \"São Paulo\"; \"rib preto\" → \"Ribeirão Preto\" quando inequívoco). Retorne uma lista de strings. Se não houver, retorne uma lista vazia [].\n\nufs_selecionadas: Identifique estados brasileiros mencionados explicitamente (sigla ou nome por extenso). Converta nomes por extenso para a sigla de 2 letras (ex: \"São Paulo\" → \"SP\", \"Minas Gerais\" → \"MG\"). Se o usuário mencionar apenas uma cidade sem citar o estado, NÃO infira a UF — deixe a lista vazia. Retorne uma lista de strings. Se não houver, retorne uma lista vazia [].\n\ndescricao: Refine a intenção de busca do usuário para uma descrição clara e objetiva que será usada em um motor de busca vetorial. Mantenha a terminologia técnica do produto/serviço, mas remova saudações, palavras irrelevantes e também os nomes de cidades e estados já extraídos nos campos acima (a localização não deve poluir a busca vetorial semântica do produto).\n\nREGRAS DE DESAMBIGUAÇÃO\nSe uma palavra puder ser cidade OU outro substantivo (ex: \"Palmas\" pode ser capital do TO ou plural de palma), use o contexto para decidir. Em caso de dúvida real, não inclua na lista de cidades.\nSiglas de UF só devem ser reconhecidas quando aparecem isoladas, em maiúsculas, ou no padrão \"Cidade/UF\", \"Cidade - UF\", \"Cidade, UF\".\nNunca invente cidades ou UFs que não estejam textualmente (ou foneticamente) presentes na query.\nFORMAT\nRetorne estritamente um objeto JSON válido, sem explicações adicionais, sem blocos de código markdown, no seguinte formato exato:\n\n{ \"cidades_selecionadas\": [\"Cidade1\", \"Cidade2\"], \"ufs_selecionadas\": [\"UF1\", \"UF2\"], \"descricao\": \"string\" }\n\nEXEMPLOS\nQuery: \"Preciso de fornecedor de pneus XZR-245 em Campinas e Ribeirão Preto\" Saída: { \"cidades_selecionadas\": [\"Campinas\", \"Ribeirão Preto\"], \"ufs_selecionadas\": [], \"descricao\": \"Fornecedor de pneus modelo XZR-245\" }\n\nQuery: \"Bom dia! Procuro fabricante de embalagens plásticas em SP e MG\" Saída: { \"cidades_selecionadas\": [], \"ufs_selecionadas\": [\"SP\", \"MG\"], \"descricao\": \"Fabricante de embalagens plásticas\" }\n\nQuery: \"Quero distribuidor de parafusos em São Paulo - SP\" Saída: { \"cidades_selecionadas\": [\"São Paulo\"], \"ufs_selecionadas\": [\"SP\"], \"descricao\": \"Distribuidor de parafusos\" }\n\nQUERY DO USUÁRIO\n\"{{ $json.query }}\"","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-3664,-240],"id":"be4820c7-1907-4f42-acad-f3e5a3906d66","name":"Query-Model"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3728,-96],"id":"5310bbbb-4006-4ac4-97d1-d4d97d116b75","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## Busca Local","height":224,"width":1040,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[128,-160],"id":"60ee8bff-48a5-4466-b347-168ed3f95da0","name":"Sticky Note25"},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"get","tableId":"consultas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('set_data_busca').item.json.consultaId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4512,-256],"id":"a1649264-7612-4019-a254-20251288a0c9","name":"get_result","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"update","tableId":"consultas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resultados","fieldValue":"={{ $('Aggregate2').item.json.item }}"},{"fieldId":"status","fieldValue":"concluida"},{"fieldId":"uf","fieldValue":"={{ $json.uf }}"},{"fieldId":"municipio","fieldValue":"={{ $('set_data_busca').item.json.lista_municipio }}"},{"fieldId":"=execution_id","fieldValue":"={{ $execution.id }}"},{"fieldId":"v_produto","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.produto }}"},{"fieldId":"v_cliente","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.cliente }}"},{"fieldId":"v_servico","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.servico }}"},{"fieldId":"v_descricao","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.descricao }}"},{"fieldId":"v_publico","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.publico }}"},{"fieldId":"bm_25","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.bm25 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4720,-256],"id":"09ba8dc0-9dff-45d3-8b99-d5a9e69058ae","name":"Mostra resultado intermediário1","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"37b79ebe-4d88-4286-ad8f-71f98605e4ad","name":"result.item","value":"={{ $json.item }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,-96],"id":"2579fa1a-4df4-4e1b-af44-05120b6a03c4","name":"set_result"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[400,-96],"id":"f86ed398-a75c-459a-a04a-06a161cdd472","name":"Split Out4","alwaysOutputData":true},{"parameters":{"workflowId":{"__rl":true,"value":"ALYdM6dEmJdCNNRA","mode":"list","cachedResultUrl":"/workflow/ALYdM6dEmJdCNNRA","cachedResultName":"contador_aparições"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cnpj":"={{ $json.cnpj_basico }}","consultaId":"={{ $('set_data_busca').item.json.consultaId }}","notas":"={{ $json.nota }}"},"matchingColumns":[],"schema":[{"id":"cnpj","displayName":"cnpj","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"consultaId","displayName":"consultaId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"notas","displayName":"notas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3728,-560],"id":"29462a46-6462-41a2-90a0-1a8842c556d3","name":"Call 'contador_aparições'"},{"parameters":{"workflowId":{"__rl":true,"value":"bphbpiPPgMm5Mhsb","mode":"list","cachedResultUrl":"/workflow/bphbpiPPgMm5Mhsb","cachedResultName":"query_manager"},"workflowInputs":{"mappingMode":"defineBelow","value":{"consulta":"={{ $json.descricao }}"},"matchingColumns":["consulta"],"schema":[{"id":"consulta","displayName":"consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-64,-240],"id":"aee76f0c-6da8-4afc-8acc-e138339c5d1c","name":"Call 'query_manager'"},{"parameters":{"content":"## Banco de dados:\n- Soma 1 ao contador de aparições dos cnpjs listados\n- Insere os cnpjs listados na tabela de aparições","height":288,"width":608,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3280,-672],"id":"d848602c-1295-4f0a-9e29-e9a3e4b6f007","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"67239d33-a6aa-4f1c-9f96-984e97694c0d","name":"descricao","value":"={{ $json.parametros.descricao }}","type":"string"},{"id":"62dac054-7a4b-4b88-bb34-55c4e6a1c04f","name":"consultaId","value":"={{ $json.id }}","type":"string"},{"id":"d858c2d7-246d-4a7e-b250-739274c867da","name":"ufs","value":"={{ $json.uf }}","type":"array"},{"id":"8f882c9b-c4a7-46e5-9ad4-adb47c63be83","name":"lista_municipio","value":"={{ $('set_data_busca1').item.json.lista_municipio }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,-240],"id":"a65c2a31-afda-442b-9ed5-ad3843d44403","name":"set_data_busca"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search?rerank=1","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"servico\":[{{ $json.servico }}],\n    \"produto\":[{{ $json.produto }}],\n    \"descricao\":[{{ $json.descricao }}],\n    \"publico\":[{{ $json.publico }}],\n    \"cliente\":[{{ $json.cliente }}]\n  },\n  \"weights\": {\n    \"servico\": {{ $json.output.peso_servicos }},\n    \"descricao\": {{ $json.output.peso_descricao }},\n    \"publico\": {{ $json.output.peso_publico }},\n    \"cliente\": {{ $json.output.peso_clientes }},\n    \"produto\": {{ $json.output.peso_produtos }},\n    \"bm25\": {{ $json.output.peso_bm25 }}\n\n  },\n  \"filter\": {\n    \"modelo_negocio\": \"\",\n    \"cidade\":\"{{ $('set_data_busca').item.json.lista_municipio }}\",\n    \"uf\":\"{{ $('set_data_busca').item.json.ufs }}\"\n  },\n  \"filter_not\": {\n    \"descricao\": \"\"\n  },\n  \"limit_per_vector\": 20,\n  \"final_limit\": 15,\n  \"bm25_query\": \"{{ $json.bm25\n  .replace(/[^\\w\\s\\-.,]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n}}\",\n  \"rerank\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[176,-96],"id":"64840617-6f52-458d-bb40-7f3cde36d0e2","name":"Busca_Vetorial","retryOnFail":true,"maxTries":5},{"parameters":{"jsCode":"function safe(v) {\n  if (v === null || v === undefined) return \"\";\n  return String(v);\n}\n\nconst total = items.length;\n\nreturn items.map((item, index) => {\n  const j = item.json;\n  const payload = j.payload || {};\n\n  let nota = 100;\n\n  if (total > 1) {\n    nota = 100 - (25 * index) / (total - 1);\n  }\n\n  // Arredondamento + clamp\n  nota = Math.round(nota);\n  nota = Math.max(75, Math.min(100, nota));\n\n  return {\n    json: {\n      id: j.id || null,\n      score_final: j.score_final || 0,\n      nota: parseInt(nota),\n\n      cnpj: safe(payload.cnpj),\n      n_exibicoes: j.n_exibicoes || 0,\n      plano_categoria: j.plano_categoria || null,\n\n      full_profile: {\n        identidade: {\n          nome_empresa: safe(payload.nome_empresa),\n          modelo_negocio: safe(payload.modelo_negocio)\n        },\n        contato: {\n          url_site: safe(payload.site),\n          telefones: safe(payload.telefone),\n          emails: safe(payload.email)\n        }\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-96],"id":"05a4c834-af42-4961-871d-1fd1bcd80189","name":"Process_Profile"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search?rerank=1","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"servico\":[{{ $json.servico }}],\n    \"produto\":[{{ $json.produto }}],\n    \"descricao\":[{{ $json.descricao }}],\n    \"publico\":[{{ $json.publico }}],\n    \"cliente\":[{{ $json.cliente }}]\n  },\n  \"weights\": {\n    \"servico\": {{ $json.output.peso_servicos }},\n    \"descricao\": {{ $json.output.peso_descricao }},\n    \"publico\": {{ $json.output.peso_publico }},\n    \"cliente\": {{ $json.output.peso_clientes }},\n    \"produto\": {{ $json.output.peso_produtos }},\n    \"bm25\": {{ $json.output.peso_bm25 }}\n\n  },\n  \"filter\": {\n    \"modelo_negocio\": \"\",\n    \"cidade\":\"\",\n    \"uf\":\"\"\n  },\n  \"filter_not\": {\n    \"descricao\": \"\"\n  },\n  \"limit_per_vector\": 20,\n  \"final_limit\": 2,\n  \"bm25_query\": \"{{ $json.bm25\n  .replace(/[^\\w\\s\\-.,]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n}}\",\n  \"rerank\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[176,-352],"id":"3bd687d2-61d0-4512-bc50-8ae2368ef315","name":"Busca_Vetorial1","retryOnFail":true,"maxTries":5},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[400,-352],"id":"48ce04b3-d039-418e-8310-042ccb3b9790","name":"Split Out","alwaysOutputData":true},{"parameters":{"content":"## Busca Nacional","height":240,"width":1040},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[128,-416],"id":"9b68d891-25dd-4d21-b93e-ddc04e3a3deb","name":"Sticky Note1"},{"parameters":{"jsCode":"function safe(v) {\n  if (v === null || v === undefined) return \"\";\n  return String(v);\n}\n\n// 1. Ordenar resultados pelo score final (descendente)\nconst sorted = [...items].sort(\n  (a, b) => (b.json.score_final || 0) - (a.json.score_final || 0)\n);\n\n// 2. Identificar os extremos para a normalização (Min-Max)\nconst maxScore = sorted[0]?.json?.score_final || 0;\nconst minScore = sorted[sorted.length - 1]?.json?.score_final || 0;\n\nreturn sorted.map(item => {\n  const j = item.json;\n  const payload = j.payload || {};\n  const score = j.score_final || 0;\n\n  let nota = 75; // Piso padrão\n\n  // 3. Lógica de Interpolação Linear para o intervalo [75, 100]\n  if (maxScore > minScore) {\n    nota = 75 + (25 * (score - minScore)) / (maxScore - minScore);\n  } else if (maxScore > 0) {\n    nota = 100;\n  }\n\n  // 4. Conversão para INTEIRO e trava de segurança\n  nota = Math.round(nota); \n  nota = Math.max(75, Math.min(100, nota));\n\n  return {\n    json: {\n      id: j.id || null,\n      score_final: score,\n      nota: parseInt(nota),\n\n      cnpj: safe(payload.cnpj),\n      n_exibicoes: j.n_exibicoes || 0,\n      plano_categoria: j.plano_categoria || null,\n\n      full_profile: {\n        identidade: {\n          nome_empresa: safe(payload.nome_empresa),\n          modelo_negocio: safe(payload.modelo_negocio) // incluído aqui\n        },\n        contato: {\n          url_site: safe(payload.site),\n          telefones: safe(payload.telefone),\n          emails: safe(payload.email)\n        }\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-352],"id":"29266b78-9c69-4ae1-8833-1f387859916d","name":"Process_Profile1"},{"parameters":{"assignments":{"assignments":[{"id":"37b79ebe-4d88-4286-ad8f-71f98605e4ad","name":"result.item","value":"={{ $json.item }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,-352],"id":"c2f6fda9-9068-4825-b7cb-9edfdfa26036","name":"set_result1"},{"parameters":{"assignments":{"assignments":[{"id":"8c8e6e64-cc6b-4e81-b261-650dc9498ac5","name":"item.fornecedor_id","value":"={{ $json.id || null}}","type":"string"},{"id":"e885457b-46bf-4c87-bd33-8c40ffd2805d","name":"item.n_listagens","value":"={{ $json.n_exibicoes || 0 }}","type":"number"},{"id":"665347f5-2639-4bb0-b692-0531f600359b","name":"item.plano_categoria","value":"={{ $json.plano_categoria || null }}","type":"string"},{"id":"244003cf-9cb2-437b-bb1b-e89a4cfb661d","name":"item.razao_social","value":"={{ $json.full_profile.identidade.nome_empresa }}","type":"string"},{"id":"c123260f-217e-4549-8c69-7c6cae477cff","name":"item.site","value":"={{ $json.full_profile.contato.url_site }}","type":"string"},{"id":"7a6d26fa-9e0e-415f-8d22-b7cf1bce103f","name":"item.telefone","value":"={{ $json.full_profile.contato.telefones }}","type":"string"},{"id":"1b92249f-71a1-48dd-9158-622d960b7794","name":"item.email","value":"={{ $json.full_profile.contato.emails }}","type":"string"},{"id":"76e17746-f60a-4628-9b58-0199f219e612","name":"item.nota","value":"=100","type":"number"},{"id":"3ebb5849-177b-4fba-bf29-572446fba50e","name":"item.limite_listagens ","value":"={{    $json.plano_categoria      ? (         $json.plano_categoria.toLowerCase() === 'standard' ? 10 :         $json.plano_categoria.toLowerCase() === 'essencial' ? 25 :         $json.plano_categoria.toLowerCase() === 'profissional' ? 1000 :         $json.plano_categoria.toLowerCase() === 'elite' ? 1000000 :         10       )     : 10 }}","type":"string"},{"id":"bd7599ed-40ac-4859-a39d-b99209bd89e1","name":"item.consulta_id","value":"={{ $('set_data_busca').item.json.consultaId }}","type":"string"},{"id":"0c2092b3-9f01-4b46-ba92-ba0c123babaa","name":"item.cnpj_basico","value":"={{ $json.cnpj }}","type":"string"},{"id":"40c24aed-1a3e-4f4d-85eb-90a167a7fa4c","name":"item.escopo","value":"nacional","type":"string"},{"id":"ce339f5b-313b-4b91-8c17-453ed2adbcac","name":"item.modelo_negocio","value":"={{ $json.full_profile.identidade.modelo_negocio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,-352],"id":"17ab8ece-6a11-4509-83c8-4bd8828a1432","name":"set_national_result1"},{"parameters":{"assignments":{"assignments":[{"id":"8c8e6e64-cc6b-4e81-b261-650dc9498ac5","name":"item.fornecedor_id","value":"={{ $json.id || null}}","type":"string"},{"id":"e885457b-46bf-4c87-bd33-8c40ffd2805d","name":"item.n_listagens","value":"={{ $json.n_exibicoes || 0 }}","type":"number"},{"id":"665347f5-2639-4bb0-b692-0531f600359b","name":"item.plano_categoria","value":"={{ $json.plano_categoria || null }}","type":"string"},{"id":"244003cf-9cb2-437b-bb1b-e89a4cfb661d","name":"item.razao_social","value":"={{ $json.full_profile.identidade.nome_empresa }}","type":"string"},{"id":"c123260f-217e-4549-8c69-7c6cae477cff","name":"item.site","value":"={{ $json.full_profile.contato.url_site }}","type":"string"},{"id":"7a6d26fa-9e0e-415f-8d22-b7cf1bce103f","name":"item.telefone","value":"={{ $json.full_profile.contato.telefones }}","type":"string"},{"id":"1b92249f-71a1-48dd-9158-622d960b7794","name":"item.email","value":"={{ $json.full_profile.contato.emails }}","type":"string"},{"id":"76e17746-f60a-4628-9b58-0199f219e612","name":"item.nota","value":"={{ $json.nota }}","type":"number"},{"id":"3ebb5849-177b-4fba-bf29-572446fba50e","name":"item.limite_listagens ","value":"={{    $json.plano_categoria      ? (         $json.plano_categoria.toLowerCase() === 'standard' ? 10 :         $json.plano_categoria.toLowerCase() === 'essencial' ? 25 :         $json.plano_categoria.toLowerCase() === 'profissional' ? 1000 :         $json.plano_categoria.toLowerCase() === 'elite' ? 1000000 :         10       )     : 10 }}","type":"string"},{"id":"bd7599ed-40ac-4859-a39d-b99209bd89e1","name":"item.consulta_id","value":"={{ $('set_data_busca').item.json.consultaId }}","type":"string"},{"id":"0c2092b3-9f01-4b46-ba92-ba0c123babaa","name":"item.cnpj_basico","value":"={{ $json.cnpj }}","type":"string"},{"id":"a7b9e24b-b13d-4cbc-942f-fd358def7fff","name":"item.escopo","value":"local","type":"string"},{"id":"cf901bef-8ec4-421b-88de-b5d9fcbf0ed8","name":"item.modelo_negocio","value":"={{ $json.full_profile.identidade.modelo_negocio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,-96],"id":"0e04e89b-cc0e-4253-9e69-157e1b3da730","name":"set_local_result"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1216,-224],"id":"be4f13fd-3ce2-48fb-bdc1-f600ea933575","name":"Merge1"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"result.item.cnpj_basico","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[2928,-240],"id":"8e129a2b-0ded-4600-94ef-d04b3e8f4eea","name":"Remove Duplicates"},{"parameters":{"fieldToSplitOut":"result","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3328,-560],"id":"d38db894-22a1-4692-927b-b4f07e654ce2","name":"Split Out1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"cnpj_basico"},{"fieldToAggregate":"nota"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3536,-560],"id":"4fb298bf-59ed-4d62-924f-54810dfef27b","name":"Aggregate"},{"parameters":{"content":"## Banco de dados:\n- Insere os resultados no banco\n- Não insere resultados duplicados","height":288,"width":2196,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2832,-368],"id":"5e7febf1-2e08-426d-93fa-632122305d0f","name":"Sticky Note2"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"contador_aparicoes","mode":"list","cachedResultName":"contador_aparicoes"},"returnAll":true,"where":{"values":[{"column":"cnpj","value":"={{ $json.cnpj_basico }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1696,-352],"id":"a9f59b22-88e2-4355-a52b-3f0b38167b30","name":"Select rows from a table1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.n_aparicoes != null && $json.n_aparicoes !== '' \n    ? Number($json.n_aparicoes) \n    : null }}","rightValue":"={{ $json.limite_aparicoes != null && $json.limite_aparicoes !== '' \n    ? Number($json.n_aparicoes) \n    : null }}","operator":{"type":"number","operation":"gte"},"id":"004e984c-6051-43fa-ad61-08bc36bb095d"}],"combinator":"and"},"renameOutput":true,"outputKey":"Limite Atingido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"50075b48-4326-4758-b9a1-f8ead5138dba","leftValue":"={{ $json.n_aparicoes != null && $json.n_aparicoes !== '' \n    ? Number($json.n_aparicoes) \n    : null }}","rightValue":"={{ $json.limite_aparicoes != null && $json.limite_aparicoes !== '' \n    ? Number($json.n_aparicoes) \n    : null }}","operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pode ser Exibido"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1904,-352],"id":"82ff001a-7f5c-4912-bfa5-7c5295da25b0","name":"Switch","alwaysOutputData":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"cnpj"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2192,-368],"id":"73c69c2f-300d-4ed9-a16f-a6543d02b5a2","name":"Aggregate1","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2464,-240],"id":"481c13c4-fb76-4e9d-afff-6f8023cbabed","name":"Merge2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ae73dffc-2514-4418-8376-6529ffe767cb","leftValue":"={{ $('Aggregate1').item.json.cnpj }}","rightValue":"={{ $json.result.item.cnpj_basico }}","operator":{"type":"array","operation":"notContains","rightType":"any"}},{"id":"79c4522f-dccb-4715-840f-63aa00e08fc1","leftValue":"={{ $json.result.item.cnpj_basico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[2656,-240],"id":"2f7e553c-16c8-4eb1-9f10-b3d713f88c3e","name":"Filter"},{"parameters":{"content":"## Faz a contagem de aparições e filtra empresas que já atingiram seu limite","height":352,"width":1632,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1184,-416],"id":"1e94dd24-9a2b-4198-8cdf-745704390444","name":"Sticky Note27"},{"parameters":{"assignments":{"assignments":[{"id":"9f189585-b83b-4a73-9e00-809f462362d7","name":"cnpj_basico","value":"={{ $json.result.item.cnpj_basico }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1488,-352],"id":"f1d6293c-f9fc-40c0-872c-e30abdb2523e","name":"Edit Fields1","alwaysOutputData":true},{"parameters":{"jsonSchemaExample":"{ \n  \"cidades_selecionadas\": [\"Cidade1\", \"Cidade2\"],\n  \"ufs_selecionadas\": [\"UF1\", \"UF2\"], \n  \"descricao\": \"string\" \n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-3456,-96],"id":"07ad711c-c6df-43ea-b3bf-119bbc5d03a4","name":"Structured Output Parser"},{"parameters":{"action":"generate","dataPropertyName":"consulta_id"},"type":"n8n-nodes-base.crypto","typeVersion":2,"position":[-720,-240],"id":"6cba6f3f-9a90-4806-b2b2-017483e76914","name":"Crypto"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4096,-256],"id":"adc3a14f-8ec7-4ebd-a9d9-e3b23ca6540f","name":"Merge"},{"parameters":{"content":"### (Tool) Busca Whatsapp\n- Realiza uma busca simplificada, criando aparições e mostrando o resultado por mensagem\n\n\n","height":80,"width":304,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3968,-480],"id":"cb636ab3-078d-4026-8489-cbd39eacc0a4","name":"Sticky Note4"},{"parameters":{"schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"consultas","mode":"list","cachedResultName":"consultas"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.consulta_id }}","created_at":"={{ $now }}","parametros":"={\n  \"descricao\": \"{{ $('Query-Model').item.json.output.descricao }}\",\n  \"tipo_busca\": \"uf\",\n  \"cnpjs_existentes\": \"\",\n  \"ufs_selecionadas\": [{{ $('Query-Model').item.json.output.ufs_selecionadas }}]\n} ","status":"pending","comprador":"={{ $('When Executed by Another Workflow').item.json.id }}","execution_id":"={{ $execution.id }}","uf":"={{ $('Query-Model').item.json.output.ufs_selecionadas }}","origem":"whatsapp"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"parametros","displayName":"parametros","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"resultados","displayName":"resultados","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"comprador","displayName":"comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"v_produto","displayName":"v_produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"v_cliente","displayName":"v_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"v_servico","displayName":"v_servico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"v_descricao","displayName":"v_descricao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"v_publico","displayName":"v_publico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"bm_25","displayName":"bm_25","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"uf","displayName":"uf","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"municipio","displayName":"municipio","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true,"removed":true},{"id":"modelo_negocio","displayName":"modelo_negocio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fallback","displayName":"fallback","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-512,-240],"id":"f60326f2-1df9-4658-81cc-3fc08fef3bca","name":"insert-consulta","credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"content":"## Query-Model\n- Modela a query do usuário.\n- Cria o registro da consulta no banco.","height":448,"width":864,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3968,-384],"id":"70e44eb0-a43d-4ea2-95b8-e4b351c1f361","name":"Sticky Note26"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"df4e5915-07cc-4afb-99a3-2ff13636335c","leftValue":"={{ $json.output.cidades_selecionadas }}","rightValue":"city","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"busca_cidade"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output.ufs_selecionadas }}","rightValue":"=uf","operator":{"type":"array","operation":"notEmpty","singleValue":true},"id":"5ae05424-95d0-4255-9143-db06a0b77429"}],"combinator":"and"},"renameOutput":true,"outputKey":"busca_uf"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-2928,-208],"id":"ede048bb-e3da-47bd-970c-43028333a40a","name":"tipo_busca1"},{"parameters":{"fieldToSplitOut":"nearby_cities","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2448,-192],"id":"e338068f-9117-44a4-807f-3aa1cd6d7b95","name":"Split Out3","alwaysOutputData":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"descricao"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1584,-336],"id":"2f67adbf-3bd6-4068-b1c7-eae40aa13718","name":"Aggregate3","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"3b606833-d2df-4174-a8f3-8bd57c8fffcf","name":"cidades","value":"={{ $('Split Out3').item.json.name.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").replace(/~/g, \"\").toUpperCase() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2032,-336],"id":"e6e0e279-1eab-451d-922c-6ce72938aa17","name":"lista_cidades1"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"get","tableId":"municipio","filters":{"conditions":[{"keyName":"descricao","keyValue":"={{ $json.cidades }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1808,-336],"id":"da4bff56-b2c7-4071-aac0-84a4cf3c9d2f","name":"Get_codes1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1344,-224],"id":"bcb4e32a-6df6-45f5-aeee-55d0d00355b0","name":"Merge6"},{"parameters":{"jsCode":"// Pega todos os itens recebidos\nconst items = $input.all();\n\n// Extrai a UF (últimos 2 caracteres após o hífen)\nconst ufs = items\n  .map(item => {\n    const text = item.json.uf || item.json.cidade_origem || \"\";\n    const match = text.match(/([A-Z]{2})$/);\n    return match ? match[1] : null;\n  })\n  .filter(Boolean); // remove nulos\n\n// Remove duplicadas\nconst ufsUnicas = [...new Set(ufs)];\n\n// Retorna no formato original\nreturn [\n  {\n    json: {\n      ufs_unicas: ufsUnicas\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1808,-112],"id":"25a2c482-2710-489f-b652-986d0d4ec1ae","name":"set_ufs_unicas1"},{"parameters":{"content":"## API própria:\n- Encontra cidades dentro de um raio pré-definido","height":256,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2736,-304],"id":"12e53145-033c-42d2-b147-dfd330275787","name":"Sticky Note43"},{"parameters":{"url":"https://api-busca-cidades-buscafornecedor.up.railway.app/api/cities/nearby","sendQuery":true,"queryParameters":{"parameters":[{"name":"city_name","value":"={{ $json.output.cidades_selecionadas.first().replace(/\\s*-\\s*[A-Z]{2}$/, '') }}"},{"name":"radius_km","value":"=150"},{"name":"uf","value":"={{ $json.output.ufs_selecionadas }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2672,-192],"id":"2d441716-a918-4017-8ea8-2374cf0e1ac6","name":"acha_cidade1","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"content":"## Busca códigos para as cidades no supabase:","height":272,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1888,-448],"id":"ecfdd9e3-9233-4f35-8cd1-5d986ed1fd4e","name":"Sticky Note44"},{"parameters":{"maxItems":100},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2240,-192],"id":"2d5bb7fe-cf79-4bdc-be35-75b367898356","name":"Limit"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1120,-240],"id":"c415201b-b9e0-44f6-917c-483556195175","name":"Merge3"},{"parameters":{"assignments":{"assignments":[{"id":"67239d33-a6aa-4f1c-9f96-984e97694c0d","name":"descricao","value":"={{ $('Query-Model').item.json.output.descricao }}","type":"string"},{"id":"86485711-eb18-481b-9098-3f7f50f527ab","name":"ufs_selecionadas","value":"={{ $json.ufs_unicas || []}}","type":"array"},{"id":"e8d9155c-f07e-49cc-9b2d-5e56cd44e33d","name":"lista_municipio","value":"={{ $json.descricao || [] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-912,-240],"id":"f6635db8-1583-4ca5-af9c-d01107271447","name":"set_data_busca1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0c303924-1da1-4488-893e-375010173817","leftValue":"={{ $json.output.cidades_selecionadas.isNotEmpty() || $json.output.ufs_selecionadas.isNotEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Definida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.cidades_selecionadas.isEmpty() && $json.output.ufs_selecionadas.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"71bb09dd-26c6-4441-a96a-520842f77619"}],"combinator":"and"},"renameOutput":true,"outputKey":"Indefinida"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-3264,-240],"id":"cdf8bebe-0308-442b-81c9-7c10a7ead481","name":"Localidade"},{"parameters":{"content":"## Api-Localidade\n- Identifica a localidade definida na busca\n- Define a área buscada com base em um raio padrão de 150km","height":528,"width":3200,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3088,-480],"id":"5495cbbf-c08f-4777-8554-97f11dc13c98","name":"Sticky Note28"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"result.item"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4288,-256],"id":"4780fcd0-cbe5-424f-ad51-9eb22594d60b","name":"Aggregate2"},{"parameters":{"assignments":{"assignments":[{"id":"14bb0497-6c03-4382-9eb9-87ea36a68be4","name":"resultados","value":"={{ $json.resultados }}","type":"array"},{"id":"a561a6f0-d865-4f34-9fec-c306cfaf211f","name":"parametros","value":"={{ $json.parametros }}","type":"object"},{"id":"1dba8678-449f-4adf-b5ce-53bf5664dc05","name":"id","value":"={{ $('When Executed by Another Workflow').item.json.id }}","type":"string"},{"id":"9540b2b2-08d5-4c5b-8146-e992172ac54d","name":"descricao","value":"={{ $json.parametros.descricao }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4928,-256],"id":"4848dbd2-dcb5-4036-b358-bc56a5f39f7c","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Query-Model","type":"main","index":0}]]},"Query-Model":{"main":[[{"node":"Localidade","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Query-Model","type":"ai_languageModel","index":0}]]},"get_result":{"main":[[{"node":"Mostra resultado intermediário1","type":"main","index":0}]]},"Mostra resultado intermediário1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"set_result":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Split Out4":{"main":[[{"node":"Process_Profile","type":"main","index":0}]]},"Call 'query_manager'":{"main":[[{"node":"Busca_Vetorial","type":"main","index":0},{"node":"Busca_Vetorial1","type":"main","index":0}]]},"set_data_busca":{"main":[[{"node":"Call 'query_manager'","type":"main","index":0}]]},"Busca_Vetorial":{"main":[[{"node":"Split Out4","type":"main","index":0}]]},"Process_Profile":{"main":[[{"node":"set_local_result","type":"main","index":0}]]},"Busca_Vetorial1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Process_Profile1","type":"main","index":0}]]},"Process_Profile1":{"main":[[{"node":"set_national_result1","type":"main","index":0}]]},"set_result1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"set_national_result1":{"main":[[{"node":"set_result1","type":"main","index":0}]]},"set_local_result":{"main":[[{"node":"set_result","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Edit Fields1","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"Remove Duplicates":{"main":[[{"node":"Split Out1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Split Out1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Call 'contador_aparições'","type":"main","index":0}]]},"Select rows from a table1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Select rows from a table1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Query-Model","type":"ai_outputParser","index":0}]]},"Crypto":{"main":[[{"node":"insert-consulta","type":"main","index":0}]]},"Call 'contador_aparições'":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"insert-consulta":{"main":[[{"node":"set_data_busca","type":"main","index":0}]]},"tipo_busca1":{"main":[[{"node":"acha_cidade1","type":"main","index":0}],[{"node":"Merge3","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"lista_cidades1":{"main":[[{"node":"Get_codes1","type":"main","index":0}]]},"Get_codes1":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"set_ufs_unicas1":{"main":[[{"node":"Merge6","type":"main","index":1}]]},"acha_cidade1":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Limit":{"main":[[{"node":"lista_cidades1","type":"main","index":0},{"node":"set_ufs_unicas1","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"set_data_busca1","type":"main","index":0}]]},"set_data_busca1":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Localidade":{"main":[[{"node":"tipo_busca1","type":"main","index":0}],[{"node":"set_data_busca1","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"get_result","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"id":"31cad207-86d1-4c1b-b4ed-b7c3f7a46bed","query":"Boa tarde a todos, por favor, teriam indicação para compra de pneu de empilhadeira Combilift para Embu das Artes/SP?"},"pairedItem":{"item":0}}]},"versionId":"1d14a647-bca2-4278-9fa1-971646c48075","activeVersionId":"1d14a647-bca2-4278-9fa1-971646c48075","triggerCount":0,"shared":[{"updatedAt":"2026-04-20T17:58:58.908Z","createdAt":"2026-04-20T17:58:58.908Z","role":"workflow:owner","workflowId":"P5glDm8v5AZwgudn","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-05-07T14:20:48.125Z","createdAt":"2026-05-07T13:30:20.237Z","versionId":"1d14a647-bca2-4278-9fa1-971646c48075","workflowId":"P5glDm8v5AZwgudn","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"id"},{"name":"query"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-3904,-240],"id":"d6d4d7a3-9833-4b62-8f03-1f5851c36559","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=ROLE\nVocê é um Especialista em Processamento de Linguagem Natural (NLP) focado em sistemas de compras e suprimentos (procurement). Sua função é decompor consultas de usuários para otimizar buscas vetoriais de fornecedores.\n\nTASK\nAnalise a QUERY do usuário e extraia as informações estruturadas seguindo estas regras:\n\ncidades_selecionadas: Identifique nomes de cidades brasileiras mencionadas na query. Normalize a grafia (capitalização correta, com acentos — ex: \"sao paulo\" → \"São Paulo\"; \"rib preto\" → \"Ribeirão Preto\" quando inequívoco). Retorne uma lista de strings. Se não houver, retorne uma lista vazia [].\n\nufs_selecionadas: Identifique estados brasileiros mencionados explicitamente (sigla ou nome por extenso). Converta nomes por extenso para a sigla de 2 letras (ex: \"São Paulo\" → \"SP\", \"Minas Gerais\" → \"MG\"). Se o usuário mencionar apenas uma cidade sem citar o estado, NÃO infira a UF — deixe a lista vazia. Retorne uma lista de strings. Se não houver, retorne uma lista vazia [].\n\ndescricao: Refine a intenção de busca do usuário para uma descrição clara e objetiva que será usada em um motor de busca vetorial. Mantenha a terminologia técnica do produto/serviço, mas remova saudações, palavras irrelevantes e também os nomes de cidades e estados já extraídos nos campos acima (a localização não deve poluir a busca vetorial semântica do produto).\n\nREGRAS DE DESAMBIGUAÇÃO\nSe uma palavra puder ser cidade OU outro substantivo (ex: \"Palmas\" pode ser capital do TO ou plural de palma), use o contexto para decidir. Em caso de dúvida real, não inclua na lista de cidades.\nSiglas de UF só devem ser reconhecidas quando aparecem isoladas, em maiúsculas, ou no padrão \"Cidade/UF\", \"Cidade - UF\", \"Cidade, UF\".\nNunca invente cidades ou UFs que não estejam textualmente (ou foneticamente) presentes na query.\nFORMAT\nRetorne estritamente um objeto JSON válido, sem explicações adicionais, sem blocos de código markdown, no seguinte formato exato:\n\n{ \"cidades_selecionadas\": [\"Cidade1\", \"Cidade2\"], \"ufs_selecionadas\": [\"UF1\", \"UF2\"], \"descricao\": \"string\" }\n\nEXEMPLOS\nQuery: \"Preciso de fornecedor de pneus XZR-245 em Campinas e Ribeirão Preto\" Saída: { \"cidades_selecionadas\": [\"Campinas\", \"Ribeirão Preto\"], \"ufs_selecionadas\": [], \"descricao\": \"Fornecedor de pneus modelo XZR-245\" }\n\nQuery: \"Bom dia! Procuro fabricante de embalagens plásticas em SP e MG\" Saída: { \"cidades_selecionadas\": [], \"ufs_selecionadas\": [\"SP\", \"MG\"], \"descricao\": \"Fabricante de embalagens plásticas\" }\n\nQuery: \"Quero distribuidor de parafusos em São Paulo - SP\" Saída: { \"cidades_selecionadas\": [\"São Paulo\"], \"ufs_selecionadas\": [\"SP\"], \"descricao\": \"Distribuidor de parafusos\" }\n\nQUERY DO USUÁRIO\n\"{{ $json.query }}\"","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-3664,-240],"id":"be4820c7-1907-4f42-acad-f3e5a3906d66","name":"Query-Model"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3728,-96],"id":"5310bbbb-4006-4ac4-97d1-d4d97d116b75","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## Busca Local","height":224,"width":1040,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[128,-160],"id":"60ee8bff-48a5-4466-b347-168ed3f95da0","name":"Sticky Note25"},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"get","tableId":"consultas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('set_data_busca').item.json.consultaId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4512,-256],"id":"a1649264-7612-4019-a254-20251288a0c9","name":"get_result","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"update","tableId":"consultas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resultados","fieldValue":"={{ $('Aggregate2').item.json.item }}"},{"fieldId":"status","fieldValue":"concluida"},{"fieldId":"uf","fieldValue":"={{ $json.uf }}"},{"fieldId":"municipio","fieldValue":"={{ $('set_data_busca').item.json.lista_municipio }}"},{"fieldId":"=execution_id","fieldValue":"={{ $execution.id }}"},{"fieldId":"v_produto","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.produto }}"},{"fieldId":"v_cliente","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.cliente }}"},{"fieldId":"v_servico","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.servico }}"},{"fieldId":"v_descricao","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.descricao }}"},{"fieldId":"v_publico","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.publico }}"},{"fieldId":"bm_25","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.bm25 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4720,-256],"id":"09ba8dc0-9dff-45d3-8b99-d5a9e69058ae","name":"Mostra resultado intermediário1","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"37b79ebe-4d88-4286-ad8f-71f98605e4ad","name":"result.item","value":"={{ $json.item }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,-96],"id":"2579fa1a-4df4-4e1b-af44-05120b6a03c4","name":"set_result"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[400,-96],"id":"f86ed398-a75c-459a-a04a-06a161cdd472","name":"Split Out4","alwaysOutputData":true},{"parameters":{"workflowId":{"__rl":true,"value":"ALYdM6dEmJdCNNRA","mode":"list","cachedResultUrl":"/workflow/ALYdM6dEmJdCNNRA","cachedResultName":"contador_aparições"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cnpj":"={{ $json.cnpj_basico }}","consultaId":"={{ $('set_data_busca').item.json.consultaId }}","notas":"={{ $json.nota }}"},"matchingColumns":[],"schema":[{"id":"cnpj","displayName":"cnpj","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"consultaId","displayName":"consultaId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"notas","displayName":"notas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3728,-560],"id":"29462a46-6462-41a2-90a0-1a8842c556d3","name":"Call 'contador_aparições'"},{"parameters":{"workflowId":{"__rl":true,"value":"bphbpiPPgMm5Mhsb","mode":"list","cachedResultUrl":"/workflow/bphbpiPPgMm5Mhsb","cachedResultName":"query_manager"},"workflowInputs":{"mappingMode":"defineBelow","value":{"consulta":"={{ $json.descricao }}"},"matchingColumns":["consulta"],"schema":[{"id":"consulta","displayName":"consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-64,-240],"id":"aee76f0c-6da8-4afc-8acc-e138339c5d1c","name":"Call 'query_manager'"},{"parameters":{"content":"## Banco de dados:\n- Soma 1 ao contador de aparições dos cnpjs listados\n- Insere os cnpjs listados na tabela de aparições","height":288,"width":608,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3280,-672],"id":"d848602c-1295-4f0a-9e29-e9a3e4b6f007","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"67239d33-a6aa-4f1c-9f96-984e97694c0d","name":"descricao","value":"={{ $json.parametros.descricao }}","type":"string"},{"id":"62dac054-7a4b-4b88-bb34-55c4e6a1c04f","name":"consultaId","value":"={{ $json.id }}","type":"string"},{"id":"d858c2d7-246d-4a7e-b250-739274c867da","name":"ufs","value":"={{ $json.uf }}","type":"array"},{"id":"8f882c9b-c4a7-46e5-9ad4-adb47c63be83","name":"lista_municipio","value":"={{ $('set_data_busca1').item.json.lista_municipio }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,-240],"id":"a65c2a31-afda-442b-9ed5-ad3843d44403","name":"set_data_busca"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search?rerank=1","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"servico\":[{{ $json.servico }}],\n    \"produto\":[{{ $json.produto }}],\n    \"descricao\":[{{ $json.descricao }}],\n    \"publico\":[{{ $json.publico }}],\n    \"cliente\":[{{ $json.cliente }}]\n  },\n  \"weights\": {\n    \"servico\": {{ $json.output.peso_servicos }},\n    \"descricao\": {{ $json.output.peso_descricao }},\n    \"publico\": {{ $json.output.peso_publico }},\n    \"cliente\": {{ $json.output.peso_clientes }},\n    \"produto\": {{ $json.output.peso_produtos }},\n    \"bm25\": {{ $json.output.peso_bm25 }}\n\n  },\n  \"filter\": {\n    \"modelo_negocio\": \"\",\n    \"cidade\":\"{{ $('set_data_busca').item.json.lista_municipio }}\",\n    \"uf\":\"{{ $('set_data_busca').item.json.ufs }}\"\n  },\n  \"filter_not\": {\n    \"descricao\": \"\"\n  },\n  \"limit_per_vector\": 20,\n  \"final_limit\": 15,\n  \"bm25_query\": \"{{ $json.bm25\n  .replace(/[^\\w\\s\\-.,]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n}}\",\n  \"rerank\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[176,-96],"id":"64840617-6f52-458d-bb40-7f3cde36d0e2","name":"Busca_Vetorial","retryOnFail":true,"maxTries":5},{"parameters":{"jsCode":"function safe(v) {\n  if (v === null || v === undefined) return \"\";\n  return String(v);\n}\n\nconst total = items.length;\n\nreturn items.map((item, index) => {\n  const j = item.json;\n  const payload = j.payload || {};\n\n  let nota = 100;\n\n  if (total > 1) {\n    nota = 100 - (25 * index) / (total - 1);\n  }\n\n  // Arredondamento + clamp\n  nota = Math.round(nota);\n  nota = Math.max(75, Math.min(100, nota));\n\n  return {\n    json: {\n      id: j.id || null,\n      score_final: j.score_final || 0,\n      nota: parseInt(nota),\n\n      cnpj: safe(payload.cnpj),\n      n_exibicoes: j.n_exibicoes || 0,\n      plano_categoria: j.plano_categoria || null,\n\n      full_profile: {\n        identidade: {\n          nome_empresa: safe(payload.nome_empresa),\n          modelo_negocio: safe(payload.modelo_negocio)\n        },\n        contato: {\n          url_site: safe(payload.site),\n          telefones: safe(payload.telefone),\n          emails: safe(payload.email)\n        }\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-96],"id":"05a4c834-af42-4961-871d-1fd1bcd80189","name":"Process_Profile"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search?rerank=1","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"servico\":[{{ $json.servico }}],\n    \"produto\":[{{ $json.produto }}],\n    \"descricao\":[{{ $json.descricao }}],\n    \"publico\":[{{ $json.publico }}],\n    \"cliente\":[{{ $json.cliente }}]\n  },\n  \"weights\": {\n    \"servico\": {{ $json.output.peso_servicos }},\n    \"descricao\": {{ $json.output.peso_descricao }},\n    \"publico\": {{ $json.output.peso_publico }},\n    \"cliente\": {{ $json.output.peso_clientes }},\n    \"produto\": {{ $json.output.peso_produtos }},\n    \"bm25\": {{ $json.output.peso_bm25 }}\n\n  },\n  \"filter\": {\n    \"modelo_negocio\": \"\",\n    \"cidade\":\"\",\n    \"uf\":\"\"\n  },\n  \"filter_not\": {\n    \"descricao\": \"\"\n  },\n  \"limit_per_vector\": 20,\n  \"final_limit\": 2,\n  \"bm25_query\": \"{{ $json.bm25\n  .replace(/[^\\w\\s\\-.,]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n}}\",\n  \"rerank\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[176,-352],"id":"3bd687d2-61d0-4512-bc50-8ae2368ef315","name":"Busca_Vetorial1","retryOnFail":true,"maxTries":5},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[400,-352],"id":"48ce04b3-d039-418e-8310-042ccb3b9790","name":"Split Out","alwaysOutputData":true},{"parameters":{"content":"## Busca Nacional","height":240,"width":1040},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[128,-416],"id":"9b68d891-25dd-4d21-b93e-ddc04e3a3deb","name":"Sticky Note1"},{"parameters":{"jsCode":"function safe(v) {\n  if (v === null || v === undefined) return \"\";\n  return String(v);\n}\n\n// 1. Ordenar resultados pelo score final (descendente)\nconst sorted = [...items].sort(\n  (a, b) => (b.json.score_final || 0) - (a.json.score_final || 0)\n);\n\n// 2. Identificar os extremos para a normalização (Min-Max)\nconst maxScore = sorted[0]?.json?.score_final || 0;\nconst minScore = sorted[sorted.length - 1]?.json?.score_final || 0;\n\nreturn sorted.map(item => {\n  const j = item.json;\n  const payload = j.payload || {};\n  const score = j.score_final || 0;\n\n  let nota = 75; // Piso padrão\n\n  // 3. Lógica de Interpolação Linear para o intervalo [75, 100]\n  if (maxScore > minScore) {\n    nota = 75 + (25 * (score - minScore)) / (maxScore - minScore);\n  } else if (maxScore > 0) {\n    nota = 100;\n  }\n\n  // 4. Conversão para INTEIRO e trava de segurança\n  nota = Math.round(nota); \n  nota = Math.max(75, Math.min(100, nota));\n\n  return {\n    json: {\n      id: j.id || null,\n      score_final: score,\n      nota: parseInt(nota),\n\n      cnpj: safe(payload.cnpj),\n      n_exibicoes: j.n_exibicoes || 0,\n      plano_categoria: j.plano_categoria || null,\n\n      full_profile: {\n        identidade: {\n          nome_empresa: safe(payload.nome_empresa),\n          modelo_negocio: safe(payload.modelo_negocio) // incluído aqui\n        },\n        contato: {\n          url_site: safe(payload.site),\n          telefones: safe(payload.telefone),\n          emails: safe(payload.email)\n        }\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-352],"id":"29266b78-9c69-4ae1-8833-1f387859916d","name":"Process_Profile1"},{"parameters":{"assignments":{"assignments":[{"id":"37b79ebe-4d88-4286-ad8f-71f98605e4ad","name":"result.item","value":"={{ $json.item }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,-352],"id":"c2f6fda9-9068-4825-b7cb-9edfdfa26036","name":"set_result1"},{"parameters":{"assignments":{"assignments":[{"id":"8c8e6e64-cc6b-4e81-b261-650dc9498ac5","name":"item.fornecedor_id","value":"={{ $json.id || null}}","type":"string"},{"id":"e885457b-46bf-4c87-bd33-8c40ffd2805d","name":"item.n_listagens","value":"={{ $json.n_exibicoes || 0 }}","type":"number"},{"id":"665347f5-2639-4bb0-b692-0531f600359b","name":"item.plano_categoria","value":"={{ $json.plano_categoria || null }}","type":"string"},{"id":"244003cf-9cb2-437b-bb1b-e89a4cfb661d","name":"item.razao_social","value":"={{ $json.full_profile.identidade.nome_empresa }}","type":"string"},{"id":"c123260f-217e-4549-8c69-7c6cae477cff","name":"item.site","value":"={{ $json.full_profile.contato.url_site }}","type":"string"},{"id":"7a6d26fa-9e0e-415f-8d22-b7cf1bce103f","name":"item.telefone","value":"={{ $json.full_profile.contato.telefones }}","type":"string"},{"id":"1b92249f-71a1-48dd-9158-622d960b7794","name":"item.email","value":"={{ $json.full_profile.contato.emails }}","type":"string"},{"id":"76e17746-f60a-4628-9b58-0199f219e612","name":"item.nota","value":"=100","type":"number"},{"id":"3ebb5849-177b-4fba-bf29-572446fba50e","name":"item.limite_listagens ","value":"={{    $json.plano_categoria      ? (         $json.plano_categoria.toLowerCase() === 'standard' ? 10 :         $json.plano_categoria.toLowerCase() === 'essencial' ? 25 :         $json.plano_categoria.toLowerCase() === 'profissional' ? 1000 :         $json.plano_categoria.toLowerCase() === 'elite' ? 1000000 :         10       )     : 10 }}","type":"string"},{"id":"bd7599ed-40ac-4859-a39d-b99209bd89e1","name":"item.consulta_id","value":"={{ $('set_data_busca').item.json.consultaId }}","type":"string"},{"id":"0c2092b3-9f01-4b46-ba92-ba0c123babaa","name":"item.cnpj_basico","value":"={{ $json.cnpj }}","type":"string"},{"id":"40c24aed-1a3e-4f4d-85eb-90a167a7fa4c","name":"item.escopo","value":"nacional","type":"string"},{"id":"ce339f5b-313b-4b91-8c17-453ed2adbcac","name":"item.modelo_negocio","value":"={{ $json.full_profile.identidade.modelo_negocio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,-352],"id":"17ab8ece-6a11-4509-83c8-4bd8828a1432","name":"set_national_result1"},{"parameters":{"assignments":{"assignments":[{"id":"8c8e6e64-cc6b-4e81-b261-650dc9498ac5","name":"item.fornecedor_id","value":"={{ $json.id || null}}","type":"string"},{"id":"e885457b-46bf-4c87-bd33-8c40ffd2805d","name":"item.n_listagens","value":"={{ $json.n_exibicoes || 0 }}","type":"number"},{"id":"665347f5-2639-4bb0-b692-0531f600359b","name":"item.plano_categoria","value":"={{ $json.plano_categoria || null }}","type":"string"},{"id":"244003cf-9cb2-437b-bb1b-e89a4cfb661d","name":"item.razao_social","value":"={{ $json.full_profile.identidade.nome_empresa }}","type":"string"},{"id":"c123260f-217e-4549-8c69-7c6cae477cff","name":"item.site","value":"={{ $json.full_profile.contato.url_site }}","type":"string"},{"id":"7a6d26fa-9e0e-415f-8d22-b7cf1bce103f","name":"item.telefone","value":"={{ $json.full_profile.contato.telefones }}","type":"string"},{"id":"1b92249f-71a1-48dd-9158-622d960b7794","name":"item.email","value":"={{ $json.full_profile.contato.emails }}","type":"string"},{"id":"76e17746-f60a-4628-9b58-0199f219e612","name":"item.nota","value":"={{ $json.nota }}","type":"number"},{"id":"3ebb5849-177b-4fba-bf29-572446fba50e","name":"item.limite_listagens ","value":"={{    $json.plano_categoria      ? (         $json.plano_categoria.toLowerCase() === 'standard' ? 10 :         $json.plano_categoria.toLowerCase() === 'essencial' ? 25 :         $json.plano_categoria.toLowerCase() === 'profissional' ? 1000 :         $json.plano_categoria.toLowerCase() === 'elite' ? 1000000 :         10       )     : 10 }}","type":"string"},{"id":"bd7599ed-40ac-4859-a39d-b99209bd89e1","name":"item.consulta_id","value":"={{ $('set_data_busca').item.json.consultaId }}","type":"string"},{"id":"0c2092b3-9f01-4b46-ba92-ba0c123babaa","name":"item.cnpj_basico","value":"={{ $json.cnpj }}","type":"string"},{"id":"a7b9e24b-b13d-4cbc-942f-fd358def7fff","name":"item.escopo","value":"local","type":"string"},{"id":"cf901bef-8ec4-421b-88de-b5d9fcbf0ed8","name":"item.modelo_negocio","value":"={{ $json.full_profile.identidade.modelo_negocio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,-96],"id":"0e04e89b-cc0e-4253-9e69-157e1b3da730","name":"set_local_result"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1216,-224],"id":"be4f13fd-3ce2-48fb-bdc1-f600ea933575","name":"Merge1"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"result.item.cnpj_basico","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[2928,-240],"id":"8e129a2b-0ded-4600-94ef-d04b3e8f4eea","name":"Remove Duplicates"},{"parameters":{"fieldToSplitOut":"result","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3328,-560],"id":"d38db894-22a1-4692-927b-b4f07e654ce2","name":"Split Out1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"cnpj_basico"},{"fieldToAggregate":"nota"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3536,-560],"id":"4fb298bf-59ed-4d62-924f-54810dfef27b","name":"Aggregate"},{"parameters":{"content":"## Banco de dados:\n- Insere os resultados no banco\n- Não insere resultados duplicados","height":288,"width":2196,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2832,-368],"id":"5e7febf1-2e08-426d-93fa-632122305d0f","name":"Sticky Note2"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"contador_aparicoes","mode":"list","cachedResultName":"contador_aparicoes"},"returnAll":true,"where":{"values":[{"column":"cnpj","value":"={{ $json.cnpj_basico }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1696,-352],"id":"a9f59b22-88e2-4355-a52b-3f0b38167b30","name":"Select rows from a table1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.n_aparicoes != null && $json.n_aparicoes !== '' \n    ? Number($json.n_aparicoes) \n    : null }}","rightValue":"={{ $json.limite_aparicoes != null && $json.limite_aparicoes !== '' \n    ? Number($json.n_aparicoes) \n    : null }}","operator":{"type":"number","operation":"gte"},"id":"004e984c-6051-43fa-ad61-08bc36bb095d"}],"combinator":"and"},"renameOutput":true,"outputKey":"Limite Atingido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"50075b48-4326-4758-b9a1-f8ead5138dba","leftValue":"={{ $json.n_aparicoes != null && $json.n_aparicoes !== '' \n    ? Number($json.n_aparicoes) \n    : null }}","rightValue":"={{ $json.limite_aparicoes != null && $json.limite_aparicoes !== '' \n    ? Number($json.n_aparicoes) \n    : null }}","operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pode ser Exibido"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1904,-352],"id":"82ff001a-7f5c-4912-bfa5-7c5295da25b0","name":"Switch","alwaysOutputData":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"cnpj"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2192,-368],"id":"73c69c2f-300d-4ed9-a16f-a6543d02b5a2","name":"Aggregate1","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2464,-240],"id":"481c13c4-fb76-4e9d-afff-6f8023cbabed","name":"Merge2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ae73dffc-2514-4418-8376-6529ffe767cb","leftValue":"={{ $('Aggregate1').item.json.cnpj }}","rightValue":"={{ $json.result.item.cnpj_basico }}","operator":{"type":"array","operation":"notContains","rightType":"any"}},{"id":"79c4522f-dccb-4715-840f-63aa00e08fc1","leftValue":"={{ $json.result.item.cnpj_basico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[2656,-240],"id":"2f7e553c-16c8-4eb1-9f10-b3d713f88c3e","name":"Filter"},{"parameters":{"content":"## Faz a contagem de aparições e filtra empresas que já atingiram seu limite","height":352,"width":1632,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1184,-416],"id":"1e94dd24-9a2b-4198-8cdf-745704390444","name":"Sticky Note27"},{"parameters":{"assignments":{"assignments":[{"id":"9f189585-b83b-4a73-9e00-809f462362d7","name":"cnpj_basico","value":"={{ $json.result.item.cnpj_basico }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1488,-352],"id":"f1d6293c-f9fc-40c0-872c-e30abdb2523e","name":"Edit Fields1","alwaysOutputData":true},{"parameters":{"jsonSchemaExample":"{ \n  \"cidades_selecionadas\": [\"Cidade1\", \"Cidade2\"],\n  \"ufs_selecionadas\": [\"UF1\", \"UF2\"], \n  \"descricao\": \"string\" \n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-3456,-96],"id":"07ad711c-c6df-43ea-b3bf-119bbc5d03a4","name":"Structured Output Parser"},{"parameters":{"action":"generate","dataPropertyName":"consulta_id"},"type":"n8n-nodes-base.crypto","typeVersion":2,"position":[-720,-240],"id":"6cba6f3f-9a90-4806-b2b2-017483e76914","name":"Crypto"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4096,-256],"id":"adc3a14f-8ec7-4ebd-a9d9-e3b23ca6540f","name":"Merge"},{"parameters":{"content":"### (Tool) Busca Whatsapp\n- Realiza uma busca simplificada, criando aparições e mostrando o resultado por mensagem\n\n\n","height":80,"width":304,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3968,-480],"id":"cb636ab3-078d-4026-8489-cbd39eacc0a4","name":"Sticky Note4"},{"parameters":{"schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"consultas","mode":"list","cachedResultName":"consultas"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.consulta_id }}","created_at":"={{ $now }}","parametros":"={\n  \"descricao\": \"{{ $('Query-Model').item.json.output.descricao }}\",\n  \"tipo_busca\": \"uf\",\n  \"cnpjs_existentes\": \"\",\n  \"ufs_selecionadas\": [{{ $('Query-Model').item.json.output.ufs_selecionadas }}]\n} ","status":"pending","comprador":"={{ $('When Executed by Another Workflow').item.json.id }}","execution_id":"={{ $execution.id }}","uf":"={{ $('Query-Model').item.json.output.ufs_selecionadas }}","origem":"whatsapp"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"parametros","displayName":"parametros","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"resultados","displayName":"resultados","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"comprador","displayName":"comprador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"v_produto","displayName":"v_produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"v_cliente","displayName":"v_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"v_servico","displayName":"v_servico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"v_descricao","displayName":"v_descricao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"v_publico","displayName":"v_publico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"bm_25","displayName":"bm_25","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"uf","displayName":"uf","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"municipio","displayName":"municipio","required":false,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true,"removed":true},{"id":"modelo_negocio","displayName":"modelo_negocio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fallback","displayName":"fallback","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-512,-240],"id":"f60326f2-1df9-4658-81cc-3fc08fef3bca","name":"insert-consulta","credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"content":"## Query-Model\n- Modela a query do usuário.\n- Cria o registro da consulta no banco.","height":448,"width":864,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3968,-384],"id":"70e44eb0-a43d-4ea2-95b8-e4b351c1f361","name":"Sticky Note26"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"df4e5915-07cc-4afb-99a3-2ff13636335c","leftValue":"={{ $json.output.cidades_selecionadas }}","rightValue":"city","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"busca_cidade"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output.ufs_selecionadas }}","rightValue":"=uf","operator":{"type":"array","operation":"notEmpty","singleValue":true},"id":"5ae05424-95d0-4255-9143-db06a0b77429"}],"combinator":"and"},"renameOutput":true,"outputKey":"busca_uf"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-2928,-208],"id":"ede048bb-e3da-47bd-970c-43028333a40a","name":"tipo_busca1"},{"parameters":{"fieldToSplitOut":"nearby_cities","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2448,-192],"id":"e338068f-9117-44a4-807f-3aa1cd6d7b95","name":"Split Out3","alwaysOutputData":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"descricao"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1584,-336],"id":"2f67adbf-3bd6-4068-b1c7-eae40aa13718","name":"Aggregate3","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"3b606833-d2df-4174-a8f3-8bd57c8fffcf","name":"cidades","value":"={{ $('Split Out3').item.json.name.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").replace(/~/g, \"\").toUpperCase() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2032,-336],"id":"e6e0e279-1eab-451d-922c-6ce72938aa17","name":"lista_cidades1"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"get","tableId":"municipio","filters":{"conditions":[{"keyName":"descricao","keyValue":"={{ $json.cidades }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1808,-336],"id":"da4bff56-b2c7-4071-aac0-84a4cf3c9d2f","name":"Get_codes1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1344,-224],"id":"bcb4e32a-6df6-45f5-aeee-55d0d00355b0","name":"Merge6"},{"parameters":{"jsCode":"// Pega todos os itens recebidos\nconst items = $input.all();\n\n// Extrai a UF (últimos 2 caracteres após o hífen)\nconst ufs = items\n  .map(item => {\n    const text = item.json.uf || item.json.cidade_origem || \"\";\n    const match = text.match(/([A-Z]{2})$/);\n    return match ? match[1] : null;\n  })\n  .filter(Boolean); // remove nulos\n\n// Remove duplicadas\nconst ufsUnicas = [...new Set(ufs)];\n\n// Retorna no formato original\nreturn [\n  {\n    json: {\n      ufs_unicas: ufsUnicas\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1808,-112],"id":"25a2c482-2710-489f-b652-986d0d4ec1ae","name":"set_ufs_unicas1"},{"parameters":{"content":"## API própria:\n- Encontra cidades dentro de um raio pré-definido","height":256,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2736,-304],"id":"12e53145-033c-42d2-b147-dfd330275787","name":"Sticky Note43"},{"parameters":{"url":"https://api-busca-cidades-buscafornecedor.up.railway.app/api/cities/nearby","sendQuery":true,"queryParameters":{"parameters":[{"name":"city_name","value":"={{ $json.output.cidades_selecionadas.first().replace(/\\s*-\\s*[A-Z]{2}$/, '') }}"},{"name":"radius_km","value":"=150"},{"name":"uf","value":"={{ $json.output.ufs_selecionadas }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2672,-192],"id":"2d441716-a918-4017-8ea8-2374cf0e1ac6","name":"acha_cidade1","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"content":"## Busca códigos para as cidades no supabase:","height":272,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1888,-448],"id":"ecfdd9e3-9233-4f35-8cd1-5d986ed1fd4e","name":"Sticky Note44"},{"parameters":{"maxItems":100},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2240,-192],"id":"2d5bb7fe-cf79-4bdc-be35-75b367898356","name":"Limit"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1120,-240],"id":"c415201b-b9e0-44f6-917c-483556195175","name":"Merge3"},{"parameters":{"assignments":{"assignments":[{"id":"67239d33-a6aa-4f1c-9f96-984e97694c0d","name":"descricao","value":"={{ $('Query-Model').item.json.output.descricao }}","type":"string"},{"id":"86485711-eb18-481b-9098-3f7f50f527ab","name":"ufs_selecionadas","value":"={{ $json.ufs_unicas || []}}","type":"array"},{"id":"e8d9155c-f07e-49cc-9b2d-5e56cd44e33d","name":"lista_municipio","value":"={{ $json.descricao || [] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-912,-240],"id":"f6635db8-1583-4ca5-af9c-d01107271447","name":"set_data_busca1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0c303924-1da1-4488-893e-375010173817","leftValue":"={{ $json.output.cidades_selecionadas.isNotEmpty() || $json.output.ufs_selecionadas.isNotEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Definida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.cidades_selecionadas.isEmpty() && $json.output.ufs_selecionadas.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"71bb09dd-26c6-4441-a96a-520842f77619"}],"combinator":"and"},"renameOutput":true,"outputKey":"Indefinida"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-3264,-240],"id":"cdf8bebe-0308-442b-81c9-7c10a7ead481","name":"Localidade"},{"parameters":{"content":"## Api-Localidade\n- Identifica a localidade definida na busca\n- Define a área buscada com base em um raio padrão de 150km","height":528,"width":3200,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3088,-480],"id":"5495cbbf-c08f-4777-8554-97f11dc13c98","name":"Sticky Note28"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"result.item"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4288,-256],"id":"4780fcd0-cbe5-424f-ad51-9eb22594d60b","name":"Aggregate2"},{"parameters":{"assignments":{"assignments":[{"id":"14bb0497-6c03-4382-9eb9-87ea36a68be4","name":"resultados","value":"={{ $json.resultados }}","type":"array"},{"id":"a561a6f0-d865-4f34-9fec-c306cfaf211f","name":"parametros","value":"={{ $json.parametros }}","type":"object"},{"id":"1dba8678-449f-4adf-b5ce-53bf5664dc05","name":"id","value":"={{ $('When Executed by Another Workflow').item.json.id }}","type":"string"},{"id":"9540b2b2-08d5-4c5b-8146-e992172ac54d","name":"descricao","value":"={{ $json.parametros.descricao }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4928,-256],"id":"4848dbd2-dcb5-4036-b358-bc56a5f39f7c","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Query-Model","type":"main","index":0}]]},"Query-Model":{"main":[[{"node":"Localidade","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Query-Model","type":"ai_languageModel","index":0}]]},"get_result":{"main":[[{"node":"Mostra resultado intermediário1","type":"main","index":0}]]},"Mostra resultado intermediário1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"set_result":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Split Out4":{"main":[[{"node":"Process_Profile","type":"main","index":0}]]},"Call 'query_manager'":{"main":[[{"node":"Busca_Vetorial","type":"main","index":0},{"node":"Busca_Vetorial1","type":"main","index":0}]]},"set_data_busca":{"main":[[{"node":"Call 'query_manager'","type":"main","index":0}]]},"Busca_Vetorial":{"main":[[{"node":"Split Out4","type":"main","index":0}]]},"Process_Profile":{"main":[[{"node":"set_local_result","type":"main","index":0}]]},"Busca_Vetorial1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Process_Profile1","type":"main","index":0}]]},"Process_Profile1":{"main":[[{"node":"set_national_result1","type":"main","index":0}]]},"set_result1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"set_national_result1":{"main":[[{"node":"set_result1","type":"main","index":0}]]},"set_local_result":{"main":[[{"node":"set_result","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Edit Fields1","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"Remove Duplicates":{"main":[[{"node":"Split Out1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Split Out1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Call 'contador_aparições'","type":"main","index":0}]]},"Select rows from a table1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Select rows from a table1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Query-Model","type":"ai_outputParser","index":0}]]},"Crypto":{"main":[[{"node":"insert-consulta","type":"main","index":0}]]},"Call 'contador_aparições'":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"insert-consulta":{"main":[[{"node":"set_data_busca","type":"main","index":0}]]},"tipo_busca1":{"main":[[{"node":"acha_cidade1","type":"main","index":0}],[{"node":"Merge3","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"lista_cidades1":{"main":[[{"node":"Get_codes1","type":"main","index":0}]]},"Get_codes1":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"set_ufs_unicas1":{"main":[[{"node":"Merge6","type":"main","index":1}]]},"acha_cidade1":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Limit":{"main":[[{"node":"lista_cidades1","type":"main","index":0},{"node":"set_ufs_unicas1","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"set_data_busca1","type":"main","index":0}]]},"set_data_busca1":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Localidade":{"main":[[{"node":"tipo_busca1","type":"main","index":0}],[{"node":"set_data_busca1","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"get_result","type":"main","index":0}]]}},"authors":"ABC  advise","name":"Version 1d14a647","description":"","autosaved":true},"tags":[]}