coleta_whatsapp_renata_bf-pQsV8ZgyGu395PtD.json
{"updatedAt":"2026-03-12T09:34:40.891Z","createdAt":"2026-03-11T13:13:25.964Z","id":"pQsV8ZgyGu395PtD","name":"coleta_whatsapp_renata_BF","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ed64cd5f-adae-4a66-8ad1-fceb54699c93","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[16,1056],"id":"74d2f56d-98f8-4c67-ac6b-2ab729412a75","name":"Webhook","webhookId":"ed64cd5f-adae-4a66-8ad1-fceb54699c93"},{"parameters":{"dataTableId":{"__rl":true,"value":"SBAVpWPaD6hzQjOK","mode":"list","cachedResultName":"renata_whatsapp_messages","cachedResultUrl":"/projects/jk0yZKautC5L7CBp/datatables/SBAVpWPaD6hzQjOK"},"columns":{"mappingMode":"defineBelow","value":{"fromMe":"={{ $json.body.data.key.fromMe }}","perguntou_sobre_fornecedor":false,"event":"={{ $json.body.event }}","remoteJid":"={{ $json.body.data.key.remoteJid }}","participant":"={{ $json.body.data.key.participant }}","participantAlt":"={{ $json.body.data.key.participantAlt }}","pushName":"={{ $json.body.data.pushName }}","status":"={{ $json.body.data.status }}","conversation":"={{ $json.body.data.message.conversation }}"},"matchingColumns":[],"schema":[{"id":"event","displayName":"event","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"remoteJid","displayName":"remoteJid","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"fromMe","displayName":"fromMe","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"participant","displayName":"participant","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"participantAlt","displayName":"participantAlt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"pushName","displayName":"pushName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"conversation","displayName":"conversation","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"perguntou_sobre_fornecedor","displayName":"perguntou_sobre_fornecedor","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[464,992],"id":"6d468208-a4ac-4f06-a654-0616b73533aa","name":"Insert row"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"94ff7f07-87da-4e81-96ac-73905435709e","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"@g.us","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[224,1056],"id":"bb3ce834-ea2c-4185-bb9b-b6efd710ffe6","name":"If9"},{"parameters":{"url":"https://primary-kpc3-buscafornecedor.up.railway.app/webhook/d1f747a4-0f05-43e1-a1bb-5056f5adeb74","sendBody":true,"bodyParameters":{"parameters":[{"name":"null","value":"null"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,992],"id":"9ead2969-553b-4a4d-8f1e-892b1833916f","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"If9","type":"main","index":0}]]},"If9":{"main":[[{"node":"Insert row","type":"main","index":0}]]},"Insert row":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-kpc3-buscafornecedor.up.railway.app","user-agent":"axios/1.13.2","content-length":"1134","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"8.228.115.108","x-forwarded-host":"primary-kpc3-buscafornecedor.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-east4-eqdc4a","x-railway-request-id":"HdWykqNxS6ulaw5sc9o55Q","x-real-ip":"8.228.115.108","x-request-start":"1773304432367"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"busca_fornecedor_cel1","data":{"key":{"remoteJid":"120363406333603362@g.us","fromMe":false,"id":"3BE7A9044367D89266E5","participant":"180010702889094@lid","participantAlt":"5511939362314@s.whatsapp.net","addressingMode":"lid"},"pushName":"Junior","status":"DELIVERY_ACK","message":{"conversation":"Quero um fornefcedor de tomada eletrica","messageContextInfo":{"threadId":[],"messageSecret":{"0":66,"1":232,"2":169,"3":7,"4":154,"5":33,"6":47,"7":30,"8":190,"9":227,"10":14,"11":119,"12":22,"13":10,"14":212,"15":240,"16":79,"17":149,"18":174,"19":249,"20":238,"21":56,"22":129,"23":55,"24":211,"25":108,"26":46,"27":243,"28":32,"29":84,"30":190,"31":146}}},"messageType":"conversation","messageTimestamp":1773304432,"instanceId":"d9aafb31-e8ec-42ae-a15e-834680642055","source":"unknown"},"destination":"https://primary-kpc3-buscafornecedor.up.railway.app/webhook/ed64cd5f-adae-4a66-8ad1-fceb54699c93","date_time":"2026-03-12T05:33:52.353Z","sender":"551152868287@s.whatsapp.net","server_url":"https://evolution-api-production-f93a.up.railway.app","apikey":"94753B94CF88-48F7-B354-B278BDA421DD"},"webhookUrl":"https://primary-kpc3-buscafornecedor.up.railway.app/webhook/ed64cd5f-adae-4a66-8ad1-fceb54699c93","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"2fd5bf99-e148-4836-a5fa-09c3197e98cf","activeVersionId":"2fd5bf99-e148-4836-a5fa-09c3197e98cf","triggerCount":1,"shared":[{"updatedAt":"2026-03-11T13:13:25.964Z","createdAt":"2026-03-11T13:13:25.964Z","role":"workflow:owner","workflowId":"pQsV8ZgyGu395PtD","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-03-12T09:47:06.535Z","createdAt":"2026-03-12T09:34:40.885Z","versionId":"2fd5bf99-e148-4836-a5fa-09c3197e98cf","workflowId":"pQsV8ZgyGu395PtD","nodes":[{"parameters":{"httpMethod":"POST","path":"ed64cd5f-adae-4a66-8ad1-fceb54699c93","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[16,1056],"id":"74d2f56d-98f8-4c67-ac6b-2ab729412a75","name":"Webhook","webhookId":"ed64cd5f-adae-4a66-8ad1-fceb54699c93"},{"parameters":{"dataTableId":{"__rl":true,"value":"SBAVpWPaD6hzQjOK","mode":"list","cachedResultName":"renata_whatsapp_messages","cachedResultUrl":"/projects/jk0yZKautC5L7CBp/datatables/SBAVpWPaD6hzQjOK"},"columns":{"mappingMode":"defineBelow","value":{"fromMe":"={{ $json.body.data.key.fromMe }}","perguntou_sobre_fornecedor":false,"event":"={{ $json.body.event }}","remoteJid":"={{ $json.body.data.key.remoteJid }}","participant":"={{ $json.body.data.key.participant }}","participantAlt":"={{ $json.body.data.key.participantAlt }}","pushName":"={{ $json.body.data.pushName }}","status":"={{ $json.body.data.status }}","conversation":"={{ $json.body.data.message.conversation }}"},"matchingColumns":[],"schema":[{"id":"event","displayName":"event","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"remoteJid","displayName":"remoteJid","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"fromMe","displayName":"fromMe","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"participant","displayName":"participant","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"participantAlt","displayName":"participantAlt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"pushName","displayName":"pushName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"conversation","displayName":"conversation","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"perguntou_sobre_fornecedor","displayName":"perguntou_sobre_fornecedor","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[464,992],"id":"6d468208-a4ac-4f06-a654-0616b73533aa","name":"Insert row"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"94ff7f07-87da-4e81-96ac-73905435709e","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"@g.us","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[224,1056],"id":"bb3ce834-ea2c-4185-bb9b-b6efd710ffe6","name":"If9"},{"parameters":{"url":"https://primary-kpc3-buscafornecedor.up.railway.app/webhook/d1f747a4-0f05-43e1-a1bb-5056f5adeb74","sendBody":true,"bodyParameters":{"parameters":[{"name":"null","value":"null"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,992],"id":"9ead2969-553b-4a4d-8f1e-892b1833916f","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"If9","type":"main","index":0}]]},"If9":{"main":[[{"node":"Insert row","type":"main","index":0}]]},"Insert row":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"authors":"ABC  advise","name":"Version 2fd5bf99","description":"","autosaved":true},"tags":[]}