contador_aparições-ALYdM6dEmJdCNNRA.json
{"updatedAt":"2026-03-13T19:40:10.024Z","createdAt":"2026-03-13T18:55:45.840Z","id":"ALYdM6dEmJdCNNRA","name":"contador_aparições","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"cnpj","type":"array"},{"name":"consultaId"},{"name":"notas","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[304,32],"id":"c3476a46-28b6-4c5c-b009-bc046c628c97","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://hccolkrnyrxcbxuuajwq.supabase.co/rest/v1/rpc/incrementar_aparicoes_cnpjs","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"sendBody":true,"bodyParameters":{"parameters":[{"name":"cnpjs","value":"={{ $json.cnpj }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,32],"id":"6aa248eb-8d93-4448-9438-46d0d5fdfe2e","name":"Soma_exibicoes1","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"operation":"push","list":"={{ $json.consultaId }}","messageData":"={{ $json.cnpj }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[528,-112],"id":"3fd66d96-1730-47e7-90f8-6fd35224b0d2","name":"put3","credentials":{"redis":{"id":"e8TEVWEpT7yUTHVI","name":"Redis account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[944,208],"id":"902b6c37-b2b1-4701-98fe-1f36e2fecaca","name":"Loop Over Items"},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"get","tableId":"consultas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.item.consulta_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1152,208],"id":"5c2d214b-221d-4e9d-a8c6-03c68674fd58","name":"get_consulta","retryOnFail":true,"credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","tableId":"aparicoes","fieldsUi":{"fieldValues":[{"fieldId":"consulta_id","fieldValue":"={{ $json.id }}"},{"fieldId":"comprador_id","fieldValue":"={{ $json.comprador }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"cnpj_basico","fieldValue":"={{ $('Loop Over Items').item.json.item.cnpj_basico }}"},{"fieldId":"nota","fieldValue":"={{ $('Loop Over Items').item.json.item.nota }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1344,208],"id":"037c8624-21fb-4546-b67a-f3869af80bef","name":"cria_aparição","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"3b270a86-c6bd-4394-ae28-6543b317b95c","name":"item.consulta_id","value":"={{ $('When Executed by Another Workflow').item.json.consultaId }}","type":"string"},{"id":"0cd294e2-a636-4868-8fb5-d9c84d5fef1d","name":"item.cnpj_basico","value":"={{ $json.cnpj }}","type":"string"},{"id":"a584fafc-5194-46cd-b111-820c5dd1a74e","name":"item.nota","value":"={{ $json.notas }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,208],"id":"7a1e94d8-041c-45cd-9f81-f3ff96c9fb29","name":"set_ids"},{"parameters":{"fieldToSplitOut":"cnpj, notas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[528,208],"id":"77c5c020-fe07-4e63-a05a-96a0637aaf47","name":"Split Out"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"get_consulta","type":"main","index":0}]]},"get_consulta":{"main":[[{"node":"cria_aparição","type":"main","index":0}]]},"cria_aparição":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"set_ids":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"put3","type":"main","index":0},{"node":"Soma_exibicoes1","type":"main","index":0},{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"set_ids","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"a6d76cd7-e384-4d91-a562-f59ad77fe718","activeVersionId":"a6d76cd7-e384-4d91-a562-f59ad77fe718","triggerCount":0,"shared":[{"updatedAt":"2026-03-13T18:55:45.840Z","createdAt":"2026-03-13T18:55:45.840Z","role":"workflow:owner","workflowId":"ALYdM6dEmJdCNNRA","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-03-13T19:40:11.661Z","createdAt":"2026-03-13T19:40:10.022Z","versionId":"a6d76cd7-e384-4d91-a562-f59ad77fe718","workflowId":"ALYdM6dEmJdCNNRA","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"cnpj","type":"array"},{"name":"consultaId"},{"name":"notas","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[304,32],"id":"c3476a46-28b6-4c5c-b009-bc046c628c97","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://hccolkrnyrxcbxuuajwq.supabase.co/rest/v1/rpc/incrementar_aparicoes_cnpjs","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"sendBody":true,"bodyParameters":{"parameters":[{"name":"cnpjs","value":"={{ $json.cnpj }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,32],"id":"6aa248eb-8d93-4448-9438-46d0d5fdfe2e","name":"Soma_exibicoes1","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"operation":"push","list":"={{ $json.consultaId }}","messageData":"={{ $json.cnpj }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[528,-112],"id":"3fd66d96-1730-47e7-90f8-6fd35224b0d2","name":"put3","credentials":{"redis":{"id":"e8TEVWEpT7yUTHVI","name":"Redis account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[944,208],"id":"902b6c37-b2b1-4701-98fe-1f36e2fecaca","name":"Loop Over Items"},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"get","tableId":"consultas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.item.consulta_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1152,208],"id":"5c2d214b-221d-4e9d-a8c6-03c68674fd58","name":"get_consulta","retryOnFail":true,"credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","tableId":"aparicoes","fieldsUi":{"fieldValues":[{"fieldId":"consulta_id","fieldValue":"={{ $json.id }}"},{"fieldId":"comprador_id","fieldValue":"={{ $json.comprador }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"cnpj_basico","fieldValue":"={{ $('Loop Over Items').item.json.item.cnpj_basico }}"},{"fieldId":"nota","fieldValue":"={{ $('Loop Over Items').item.json.item.nota }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1344,208],"id":"037c8624-21fb-4546-b67a-f3869af80bef","name":"cria_aparição","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"3b270a86-c6bd-4394-ae28-6543b317b95c","name":"item.consulta_id","value":"={{ $('When Executed by Another Workflow').item.json.consultaId }}","type":"string"},{"id":"0cd294e2-a636-4868-8fb5-d9c84d5fef1d","name":"item.cnpj_basico","value":"={{ $json.cnpj }}","type":"string"},{"id":"a584fafc-5194-46cd-b111-820c5dd1a74e","name":"item.nota","value":"={{ $json.notas }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,208],"id":"7a1e94d8-041c-45cd-9f81-f3ff96c9fb29","name":"set_ids"},{"parameters":{"fieldToSplitOut":"cnpj, notas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[528,208],"id":"77c5c020-fe07-4e63-a05a-96a0637aaf47","name":"Split Out"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"get_consulta","type":"main","index":0}]]},"get_consulta":{"main":[[{"node":"cria_aparição","type":"main","index":0}]]},"cria_aparição":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"set_ids":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"put3","type":"main","index":0},{"node":"Soma_exibicoes1","type":"main","index":0},{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"set_ids","type":"main","index":0}]]}},"authors":"ABC  advise","name":"Version a6d76cd7","description":"","autosaved":true},"tags":[]}