create_vector_compradores-TxDwNaocZZvYJuDl.json
{"updatedAt":"2025-11-26T18:33:09.771Z","createdAt":"2025-11-18T14:23:38.069Z","id":"TxDwNaocZZvYJuDl","name":"Create_vector_compradores","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-160,-1216],"id":"99f4b756-6807-4d98-b07c-df7340e9ac62","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1376,-1232],"id":"14dd6e7c-5964-455e-8cba-0f28e7553449","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"consultas","mode":"list","cachedResultName":"consultas"},"returnAll":true,"where":{"values":[{"column":"comprador","value":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[64,-1104],"id":"5df315bc-2977-4169-b665-87b68bc2e32a","name":"get_consultas","alwaysOutputData":true,"credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"promptType":"define","text":"=lista_consultas =  {{ $json.consulta.toJsonString() }}","options":{"systemMessage":"=Papel:\nVocê é um agente especialista em análise de demandas de compradores da plataforma. Seu papel é ler uma lista de buscas realizadas por uma mesma empresa compradora e gerar um **resumo padronizado e conciso** que represente:\n- O que essa empresa costuma buscar\n- Que tipo de fornecedor ela realmente procura\n- Em quais regiões\n- Qual é o padrão técnico das necessidades dela\n- Qual é o segmento de atuação percebido\n\nSeu resumo será usado como **representação vetorial** do comprador em um sistema de similaridade.\n\n⚠️ **IMPORTANTE**\n- Não invente informações.\n- Não inclua detalhes individuais de cada consulta. Em vez disso, sintetize o padrão geral.\n- Escreva sempre em **3 parágrafos curtos**, objetivos e sem firula.\n- Nunca cite IDs, objetos ou a estrutura do JSON. Apenas interprete o conteúdo.\n- Use apenas informações realmente presentes na maioria das buscas.\n\n---\n\n## Few-shots (exemplos)\n\n### Exemplo 1 — Entrada\nconsultas:\n- \"Busco transportadoras que atuem com entregas fracionadas.\"\n- \"Preciso de empresas de frete expressos na região do PR.\"\n- \"Procuro serviços de logística reversa.\"\n  \n### Exemplo 1 — Saída esperada\nEste comprador atua na área logística e realiza buscas principalmente por empresas especializadas em transporte e movimentação de cargas. As necessidades envolvem fretes fracionados, entregas rápidas e serviços de logística reversa.\n\nO perfil indica foco operacional voltado à eficiência no transporte de mercadorias. A empresa parece priorizar fornecedores com experiência prática e capacidade de atender demandas variadas dentro da cadeia logística.\n\nA região de interesse se concentra principalmente no estado do Paraná, sugerindo que o comprador busca parceiros com operação ativa nessa localidade.\n\n---\n\n### Exemplo 2 — Entrada\nconsultas:\n- \"Procuro gráfica para impressão de catálogos.\"\n- \"Busco fornecedor para impressão offset.\"\n- \"Empresa para impressão de cartões de visita.\"\n  \n### Exemplo 2 — Saída esperada\nEste comprador atua no segmento de comunicação visual, realizando buscas direcionadas para gráficas que trabalhem com diversos tipos de impressão. O padrão envolve desde materiais simples até impressões de maior volume.\n\nA empresa demonstra preferência por fornecedores com capacidade técnica em processos como impressão offset e produção de peças promocionais. O comportamento sugere necessidade recorrente de materiais gráficos.\n\nAs buscas não especificam regiões amplas, indicando que a localização pode ser flexível, desde que o fornecedor atenda com qualidade e prazos previsíveis.\n\n---\n\n## Tarefa (para a entrada atual)\n\nA partir da lista `consulta` recebida, gere o **resumo consolidado do comprador**, seguindo exatamente o estilo dos few-shots acima.\n\nRetorne apenas o texto final, sem introduções, explicações ou formatações extras.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[928,-1104],"id":"55bc3b9d-c997-4c84-9ad3-3e11edd41414","name":"Criar resumo de consultas"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[864,-912],"id":"bce2f2f8-5a15-403a-a77b-6e76c533a980","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"usuario_comprador","mode":"list","cachedResultName":"usuario_comprador"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1120,-1232],"id":"20be807f-a7ea-4dee-9d41-87584e4de701","name":"get_comprador","credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"consulta"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[736,-1104],"id":"4d62e54b-55f7-4b28-ab26-7d3ef340dd27","name":"Aggregate","alwaysOutputData":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1216,-880],"id":"ccf09899-c9c3-4ee2-897e-27b2da7cd06f","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.pageContent }}","textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"nome_comprador","value":"={{ $('Loop Over Items').item.json.nome }}"},{"name":"id_comprador","value":"={{ $('Loop Over Items').item.json.id }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[1296,-752],"id":"bb93b703-a8fc-4a83-8764-94d559386dc9","name":"Default Data Loader"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[1296,-544],"id":"e7ae7bf0-3eb4-49c4-9ab0-2893263f9442","name":"Token Splitter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d2bf4654-66af-41fe-bf97-89ce9dfb80f3","leftValue":"={{ $json.pageContent }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-464,-1232],"id":"48db52ad-52b3-4fc6-b4f3-6bef2ccec794","name":"vazio?"},{"parameters":{"assignments":{"assignments":[{"id":"3b77383b-1cd3-4460-acae-cef18dcdec05","name":"consulta.id","value":"={{ $json.id }}","type":"string"},{"id":"6d333dec-99ee-4480-8804-ee67c75e88aa","name":"consulta.cidade_origem","value":"={{ $json.parametros.cidade_origem }}","type":"string"},{"id":"610459b8-232f-4b2a-bacf-642f5cf3744b","name":"consulta.cnpjs_existentes","value":"={{ $json.parametros.cnpjs_existentes }}","type":"string"},{"id":"55b059a5-9baa-42ce-9547-324babf8a41d","name":"consulta.segmento","value":"={{ $json.parametros.segmento }}","type":"string"},{"id":"1a4323e2-647d-47b3-b333-7dc82c0a21cf","name":"consulta.descricao","value":"={{ $json.parametros.descricao }}","type":"string"},{"id":"390732fc-71c1-4e8d-bbdf-78c7cfe1ce22","name":"consulta.ufs_selecionadas","value":"={{ ($json.parametros.ufs_selecionadas?.length > 0)\n    ? $json.parametros.ufs_selecionadas.toJsonString()\n    : \"\"\n}}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,-1104],"id":"dd50dcac-7843-4aed-9bb1-8afc74974367","name":"set_consultas","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3ae0d991-3d0b-4d82-ba1c-5b482c6f45dd","leftValue":"={{ $json.consulta.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[512,-1104],"id":"ae67b978-eda3-48b0-a75b-b4436cbca3d9","name":"Filter","alwaysOutputData":true},{"parameters":{"promptType":"define","text":"=data_empresa = {{ $json.empresa.toJsonString() }}","options":{"systemMessage":"=## Ferramentas Disponíveis\nVocê pode consultar o banco_cnaes para recuperar informações técnicas sobre CNAEs sempre que isso contribuir para entender melhor o perfil da empresa.\n\n---\n\n## Papel\nVocê é um agente especialista em interpretar dados empresariais mínimos — como CNAEs, natureza da operação e informações opcionais — e gerar um **resumo padronizado, conciso e vetorial** que represente o perfil real de atuação da empresa.\n\nSeu papel é sintetizar **o que essa empresa faz**, **como opera** e **qual o foco percebido**, mesmo quando os dados fornecidos são curtos ou limitados.\n\n---\n\n## Objetivo\nGerar um resumo em **3 parágrafos curtos**, seguindo rigorosamente o padrão:\n1. **Atuação principal da empresa** com base em CNAE e dados relevantes.  \n2. **Foco operacional, serviços e natureza das atividades**, usando CNAEs secundários quando fizer sentido.  \n3. **Contexto de mercado e abrangência geográfica percebida**, sem inventar nada fora do que está nos dados.\n\nO texto será usado em embeddings, portanto deve ser claro, coeso, técnico e direto.\n\n---\n\n## Instruções Gerais\n- Não invente informações — só use o que for derivável dos CNAEs e dados explícitos.  \n- Não cite códigos numéricos; traduza CNAEs em texto quando necessário.  \n- Se um CNAE tiver descrição útil, você pode recuperar a informação pelo banco vetorial.  \n- Não mencione ferramentas, consultas ou estrutura de JSON.  \n- Não inclua endereço, telefone, CNPJ ou qualquer dado administrativo.  \n- Não usar listas — apenas texto contínuo.  \n- Nenhum parágrafo deve ser muito longo; mantenha o estilo conciso dos few-shots fornecidos.\n\n---\n\n## Saída\nRetorne **somente o texto final**, composto por exatamente **3 parágrafos curtos**, seguindo o mesmo estilo dos exemplos.\n\nComece diretamente com o parágrafo 1, sem título “Resumo da Empresa” ou qualquer cabeçalho.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[480,-1840],"id":"67a9aa59-e693-4c34-915f-08ce8a3badca","name":"Criar resumo de consultas1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[352,-1600],"id":"8c84457e-59f3-4c4a-bdbe-d40ddb24c732","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"mode":"load","tableName":"busca_fornecedor_gemini","prompt":"={{ $json.output }}","topK":10,"options":{"distanceStrategy":"innerProduct"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[832,-1840],"id":"8634b3d8-3671-4184-99b1-0526f2a90ef8","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"MHRHdP7WLUhVnoIo","name":"pgvector"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[880,-1616],"id":"0f58d4b7-6fd0-4af1-a0ad-e149d138ad15","name":"Embeddings Google Gemini1","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"mode":"insert","tableName":"busca_fornecedor_qween","embeddingBatchSize":1,"options":{"collection":{"values":{"useCollection":true,"collectionName":"vector_buscaFornecedor","collectionTableName":"comprador"}}}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[1312,-1104],"id":"6e512f53-c2a1-4b79-83fc-28645b03e724","name":"add_documents1","credentials":{"postgres":{"id":"MHRHdP7WLUhVnoIo","name":"pgvector"}}},{"parameters":{"assignments":{"assignments":[{"id":"6df0bcfe-e567-4c50-b849-78714be5755c","name":"pageContent","value":"={{ $json.pageContent }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-896,-1232],"id":"5e3d14a4-beee-45ce-89dd-c2bd0682f50a","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"c94a6393-2cfa-4765-b1ce-3b862a997d82","name":"pageContent","value":"={{ $json.pageContent }}","type":"string"},{"id":"38ffe866-6ea3-438c-8809-552f7fe0555d","name":"nome","value":"={{ $('get_comprador').item.json.nome }}","type":"string"},{"id":"c8ed3532-453d-4cbb-a65e-1cc12eef9d94","name":"id","value":"={{ $('get_comprador').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-688,-1232],"id":"5664dbe4-c1b9-4310-b5dd-c5adf57bc1fc","name":"Edit Fields4"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"busca_fornecedor_gemini","mode":"list","cachedResultName":"busca_fornecedor_gemini"},"deleteCommand":"delete","where":{"values":[{"column":"metadata"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-80,-1600],"id":"887241f0-0874-4e66-85b8-ddd03c7e9bfa","name":"Delete table or rows","credentials":{"postgres":{"id":"MHRHdP7WLUhVnoIo","name":"pgvector"}}},{"parameters":{"mode":"load","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-464,-1600],"id":"20e670dc-f6f7-4559-b0ca-04b9a5952a69","name":"Postgres PGVector Store1","credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}}],"connections":{"Loop Over Items":{"main":[[],[{"node":"get_consultas","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"get_comprador","type":"main","index":0}]]},"get_consultas":{"main":[[{"node":"set_consultas","type":"main","index":0}]]},"Criar resumo de consultas":{"main":[[{"node":"add_documents1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Criar resumo de consultas","type":"ai_languageModel","index":0}]]},"get_comprador":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Criar resumo de consultas","type":"main","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"add_documents1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"add_documents1","type":"ai_document","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"vazio?":{"main":[[],[{"node":"Loop Over Items","type":"main","index":0}]]},"set_consultas":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Criar resumo de consultas1","type":"ai_languageModel","index":0}]]},"Criar resumo de consultas1":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Postgres PGVector Store":{"main":[[]]},"add_documents1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"vazio?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Criar resumo de consultas1":[{"json":{"output":"A empresa atua primariamente na fabricação de implementos rodoviários, abrangendo desde carrocerias, caçambas basculantes e plataformas até reboques diversos para veículos automotores. Seu foco central é a produção de soluções de alta resistência e durabilidade, essenciais para o transporte e logística em múltiplos setores.\n\nAs operações incluem a manufatura de uma ampla gama de produtos especializados, como carrocerias para guindastes, transporte de animais, gás e graneleiras, além de caçambas basculantes para aplicações agrícolas e de construção civil. Complementarmente, a empresa fabrica plataformas para auto socorro e carrega-tudo, sistemas roll-on roll-off e reboques, demonstrando capacidade em atender demandas complexas de elevação e transporte de cargas, incluindo a fabricação de máquinas e acessórios relacionados.\n\nSituada em São Paulo, a empresa se posiciona no mercado como fornecedora de equipamentos rodoviários robustos para uma diversidade de segmentos industriais. Além da fabricação, sua atuação se complementa pela representação comercial de máquinas e equipamentos, sugerindo um alcance de mercado estratégico para distribuição de seus produtos e serviços."}}],"get_comprador":[{"json":{"created_at":"2025-10-13T15:58:25.173Z","telefone":"","nome":"André Pires de Souza","id":"78fa05f7-798c-4200-93a4-a40981c13153","empresa_nome":"Spodek Adviser","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-13T16:03:01.625Z","telefone":"11939362314","nome":"Waltagan Lopes","id":"affe21d6-87da-4ad5-85f0-119564b7461e","empresa_nome":"ABC Advise","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-13T16:29:54.467Z","telefone":"119393939393","nome":"Waltagan","id":"c847a272-5a67-4861-8799-a1684aeb53db","empresa_nome":"ABC","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-13T17:01:00.653Z","telefone":"","nome":"Jacksson","id":"4ed07b1a-56ec-4ac5-906f-dd40e6e463a0","empresa_nome":"Bracell ","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-13T17:45:30.528Z","telefone":"","nome":"Sophia Maria de Oliveira Alves","id":"05e0069c-53ec-4209-81ac-dfb3f7c279c8","empresa_nome":"ABC Advise ","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-14T08:28:37.672Z","telefone":"","nome":"Wesley Lima","id":"db9bea36-2b2c-4fd2-a59b-055f7e656419","empresa_nome":"Alpargatas","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-15T15:56:06.236Z","telefone":"","nome":"Waltagan","id":"aa00be2f-ba5c-457e-bc53-e9173759832a","empresa_nome":"ABC","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-17T15:36:23.337Z","telefone":"","nome":"catiso8620","id":"6aa701c8-0fb6-4290-9086-360b35bb2a6f","empresa_nome":"foxroids.com","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-17T16:43:55.803Z","telefone":"","nome":"Igor Candido","id":"eb15deb6-8629-400e-bbff-ae05f0abaafa","empresa_nome":"Bozel","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-17T18:45:06.569Z","telefone":"","nome":"Thiago Meireles","id":"ec17d631-4684-4cf8-97b8-4fd1406e6c33","empresa_nome":"RHMED","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-20T14:25:02.292Z","telefone":"41992335809","nome":"Graciele Rosa","id":"b45e45dd-b3dd-4820-ad29-35897561d1be","empresa_nome":"Via Arte Construtora de Obras LTDA ","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-20T15:42:35.514Z","telefone":"6296508564","nome":"IVAN NEVES","id":"6d6e33f8-2736-4281-a590-4051943fc4ef","empresa_nome":"BORGES E MELO ","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-20T15:57:35.686Z","telefone":"","nome":"Pedro Prado","id":"adbacb30-76de-4eff-96de-4f122b3921b8","empresa_nome":"Kraftone Brasil","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-20T16:34:54.450Z","telefone":"11920939300","nome":"THAIS SANTOS DE OLIVEIRA","id":"8b777452-6eaf-419b-9184-c1209a429da9","empresa_nome":"borkar ","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-20T16:59:54.883Z","telefone":"666666666666","nome":"TESTE Comprador","id":"114652fa-a3d8-41a7-9825-af52287810de","empresa_nome":"ABC","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-21T18:01:38.885Z","telefone":"19993201467","nome":"Marcelo Noronha da Silveira","id":"1b98159e-753c-442d-8e2f-2692176da8ed","empresa_nome":"Particular","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-21T20:20:18.340Z","telefone":"","nome":"Pedro Joaquim Nicoletti","id":"35d4bf99-4549-4cdb-a68a-010f6d19d6e8","empresa_nome":"Colégio Adventista","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-22T14:34:24.249Z","telefone":"11982457667","nome":"GILSON BATISTA ","id":"4cc1bfaf-7765-4baf-8c49-f3ade59044e4","empresa_nome":"Pedacinho do Sol Alimentos","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-22T17:17:48.266Z","telefone":"","nome":"Germando Rosendo da Silva","id":"d6537a3e-3080-4d0c-a7ab-0571affef0fa","empresa_nome":"Autonomo","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-23T00:05:32.236Z","telefone":"27960001167","nome":"Hedislei Rodrigues ","id":"573390ed-5a6f-42db-ba8c-d57a1e75e402","empresa_nome":"ARTRIO Engenharia Ltda","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-23T10:53:03.195Z","telefone":"","nome":"Guilherme Massarico","id":"58c43cb9-e11c-4a67-8797-2cd51bfcaf00","empresa_nome":"Grupo Zambianco","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-23T14:24:41.639Z","telefone":"","nome":"Caio Marin","id":"64800442-a29f-48c8-8525-72970966ea52","empresa_nome":"MEI Engenharia","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-24T19:48:21.605Z","telefone":"","nome":"Jacqueline Pereira Ehara","id":"4f9764b7-13b7-49f4-a9cd-27486560bbe8","empresa_nome":"Komatsu","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-25T09:06:04.454Z","telefone":"11 94975-9437","nome":"Rute Priscila da Graça","id":"66afad59-aa98-41a6-8ca4-c1a143b6041d","empresa_nome":"Retenfix Comércio de Vedações Industriais ","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-27T13:33:21.298Z","telefone":"+55 (67) 98114-7860","nome":"VALDIRENE ANDRADE","id":"834507ee-1b22-4b1e-ade9-92532f8d9758","empresa_nome":"VETORIAL SIDERURGIA S.A","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-27T21:14:12.983Z","telefone":"11 966664855 ","nome":"Valdecir Souza ","id":"596d2191-49dc-4cbe-bd63-f4cdaf84b571","empresa_nome":"Particular ","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-28T11:52:48.133Z","telefone":"+55 11 95323-4653","nome":"Jaqueline Elen da Silva Nascimento ","id":"c2431752-0e79-419a-9ae7-f78cbb6895e2","empresa_nome":"Tabas","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-28T19:22:25.732Z","telefone":"","nome":"Gabriel Gonçalves","id":"a7e1ca13-3bc3-4191-90d7-176c324cbd55","empresa_nome":"Amoreira Construtora ","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-29T10:52:32.492Z","telefone":"","nome":"JOao","id":"655bc79a-8863-4e1e-b5cf-adaa70b01c4d","empresa_nome":"Paulo","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-29T16:34:23.084Z","telefone":"16997786588","nome":"Ariesa","id":"3929b5d4-06ca-4d78-954c-10039005f1bb","empresa_nome":"XMOBOTS AEROESPACIAL E DEFESA","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-29T17:27:45.007Z","telefone":"16996046568","nome":"SJayme","id":"92052299-9cde-4a70-accc-94f9d4b72f27","empresa_nome":"RTE","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-30T18:18:31.072Z","telefone":"","nome":"Tamires Soares ","id":"236c9138-2be6-4eb6-9f37-84bcf53451c6","empresa_nome":"Grupo New ","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-30T22:26:28.964Z","telefone":"35991422236","nome":"Henrique da Silva Oliveira ","id":"e3426dc8-9a97-44a5-b6ec-fdfd70b933e3","empresa_nome":"Brf","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-31T13:00:04.968Z","telefone":"","nome":"Cleonice neuberger","id":"41bd8663-b827-4a9d-b358-836ccf9b6a17","empresa_nome":"Accenture do brasil","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-31T15:06:08.292Z","telefone":"(11) 97449-8463","nome":"Désirée Fernanda Zanovello","id":"e9bbe3b8-a7c2-49d3-bc7b-bd67bf31ba29","empresa_nome":"Construtora Edific","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-02T18:55:36.529Z","telefone":"3125176513","nome":"Edivânia Gomes de Abreu ","id":"59f54345-628c-47ae-9680-834f50856769","empresa_nome":"CTC Franchising ","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-03T00:00:31.928Z","telefone":"11964707588","nome":"Joaquim Neto","id":"81d531eb-745c-47c8-b130-417608e3ed07","empresa_nome":"Mascarello ","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-03T17:43:44.228Z","telefone":"","nome":"JOÃO PAULO DE PONTES LIMA","id":"cd460fd9-d9d3-45be-84fd-30dc70d09efd","empresa_nome":"SABESP","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-04T10:47:25.344Z","telefone":"15-988027600","nome":"Leandro Bruderhausen","id":"eea3bdb9-9c87-4ad0-8b0a-9717aa7aefd1","empresa_nome":"ATRIANI BRASIL MOVELEIRA IMP E EXP LTDA","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-04T15:14:27.489Z","telefone":"11999907975","nome":"William Silva","id":"09a23b64-abc8-4fea-a41b-947520028b46","empresa_nome":"Engravida","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-04T18:37:38.775Z","telefone":"19991873844","nome":"Paula Soares","id":"91ab81f4-64e5-46d2-bef0-883ddf4dcf60","empresa_nome":"TERRADOT LTDA","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-04T18:38:42.022Z","telefone":"19999466721","nome":"Larissa Castellari","id":"0f30e55a-ab0b-46b8-b38d-098c4309ffba","empresa_nome":"Lallemand Soluções Biologicas Ltda","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-04T21:18:47.697Z","telefone":"37991609568","nome":"Dianini vitoria de Jesus santos ","id":"412e5f20-8599-4b9e-bd92-ef3973eeef79","empresa_nome":"Jmendes","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-04T22:34:34.631Z","telefone":"","nome":"EMERSON VAZ NOGUEIRA","id":"17044bc4-e559-4d7e-93f6-0bb06c2129d0","empresa_nome":"Ferro + mineração SA","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-04T23:48:58.765Z","telefone":"","nome":"Vinicius Correa","id":"b8fe0b9d-d9b7-4a81-bf9e-f3ab70b085e4","empresa_nome":"Fardas Industries","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-05T02:35:19.204Z","telefone":"94984346053","nome":"Rafael da Costa Lopes","id":"64ef2979-b9ab-4b3d-b3c9-2baf3602dad8","empresa_nome":"Geominas ","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-05T11:17:22.900Z","telefone":"11 958362035","nome":"DANIEL RAMALHO","id":"29ab9bae-9998-4938-8f94-b0bc89f7fb68","empresa_nome":"emporio andaluzia ltda","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-05T16:35:54.086Z","telefone":"11978081042","nome":"Suilan Lopes","id":"1d8d9b96-482b-482f-b375-406c9832f11a","empresa_nome":"081.693.377-47","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-05T17:00:04.138Z","telefone":"19999959799","nome":"Gustavo Tardio dos Reis","id":"8cb32b37-e9e5-40ac-b988-0712ad496b74","empresa_nome":"Ambipar","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-05T19:20:47.515Z","telefone":"1998+858424","nome":"Juliano Boldrin","id":"24c752d6-f520-4f83-a2d9-8307705ae952","empresa_nome":"Ambipar","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-05T20:21:50.052Z","telefone":"","nome":"Edgar Moreira","id":"026b1d0a-7491-4ec7-8ebd-a9f2661632dd","empresa_nome":"OSASUNA PARTICIPAÇÕES LTDA","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-06T16:32:44.517Z","telefone":"","nome":"Aline Alonso","id":"3c1622b7-4dca-478a-aef8-920d13d1584d","empresa_nome":"C&A","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-06T16:41:23.884Z","telefone":"","nome":"leandro mazur","id":"6b5c3bea-cc68-4b9f-8473-b40ed3c6bb5f","empresa_nome":"hp plasticos","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-06T16:41:42.394Z","telefone":"1199991-2216","nome":"Fabiana Izawa Yokota ","id":"d27f067d-6141-4322-94c3-9b22a22637e8","empresa_nome":"Chemetall do Brasil ","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-07T18:06:31.034Z","telefone":"11991467111","nome":"Fabio","id":"31cafafa-1d76-49a7-807d-371b3a658b3e","empresa_nome":"Flowserve","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-10T17:00:47.398Z","telefone":"","nome":"Igor Almeida","id":"8e950124-a917-458e-abb0-fb92eefbd6cd","empresa_nome":"Komatsu Brasil","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-10T17:25:36.913Z","telefone":"1121411248","nome":"Matheus Santos","id":"4e54caea-c0b0-4e39-b410-d4439ac2b292","empresa_nome":"Mirassol","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-10T19:37:25.135Z","telefone":"37-99244531","nome":"Emerson Vaz Nogueira","id":"3aa3d24e-5161-41f1-8396-de78fd464f59","empresa_nome":"Ferro+ Mineração SA","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-10T20:15:34.366Z","telefone":"3732499081","nome":"WELINGTON ARAUJO","id":"d533c98d-052e-4280-b2ba-39c9bcc8dae2","empresa_nome":"J mendes","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-10T20:48:43.048Z","telefone":"(11) 99849-4612","nome":"Cristina Licciardi","id":"377ca9d5-a979-4142-bec3-e1cae872de20","empresa_nome":"FORCE LINE INDUSTRIA E COMERCIO COMPONENTES ELETRONICOS LTDA.","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-10T20:49:54.367Z","telefone":"1147440597","nome":"RENATA SILVA BARBOSA","id":"71e8a68f-9098-47ca-9cfd-1a50cfcf9366","empresa_nome":"CASAMAX COMERCIAL E SERVIÇOS LTDA","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-11T12:47:56.717Z","telefone":"31 97263 5706","nome":"Jardel Antônio Alves Silveira","id":"34959b18-ad10-40ca-afc2-2bcced5569fc","empresa_nome":"Minerita ","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-11T13:42:18.605Z","telefone":"","nome":"Ana","id":"bcb149ea-0088-4084-8f6a-77bde0108c56","empresa_nome":"Schulz ","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-11T14:25:47.462Z","telefone":"11985123044","nome":"PRISCILA CARACCIOLO","id":"36e1d820-361c-430d-94ce-c53c537efa83","empresa_nome":"Duvon Ind Com Ltda","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-11T14:26:27.043Z","telefone":"","nome":"Ana Paula Marabezi","id":"f5fab0ed-b0b1-4537-b8eb-14623104b5ad","empresa_nome":"Duvon ","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-11T18:13:42.448Z","telefone":"","nome":"Tayroni Xavier","id":"e575f46d-258d-4e67-8454-1bff2a75c9ac","empresa_nome":"Komatsu","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-12T13:57:43.009Z","telefone":"","nome":"Fabricia Alcântara Costa ","id":"98453ddd-8797-48bc-af5a-61aa5aa5fd84","empresa_nome":"Ambipar ","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-12T14:14:34.127Z","telefone":"","nome":"Marta Santos","id":"89b8ad02-3a31-4121-b121-f873b9120115","empresa_nome":"C&A","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-12T18:38:34.372Z","telefone":"62991791224","nome":"Ludmila de Sousa","id":"aafe0e83-8b3c-48b1-ab10-4219c736a8d4","empresa_nome":"Gav Resorts ","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-12T19:16:48.600Z","telefone":"","nome":"Míriam Sara de Resende Pardinho","id":"e8f037af-bf30-4e5f-8cde-cc581e700a67","empresa_nome":"Komatsu Brasil International","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-12T22:10:43.407Z","telefone":"11930716757","nome":"Luciano Magno Valdissera","id":"e71be4d5-1b2e-4977-8a49-48657370f3ce","empresa_nome":"Ortobom","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-13T15:56:28.818Z","telefone":"","nome":"Luis Alexandre Salata Macedo ","id":"985e6bb7-112f-4399-8f87-cb6a7a933536","empresa_nome":"Bracell","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-13T14:05:29.762Z","telefone":"84981283636","nome":"Italo Wladimir De Medeiros Alves","id":"3328717b-531d-465e-b014-d069dfac7d75","empresa_nome":"T.A.S-Timing.Articulation.Listening","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-13T16:58:37.968Z","telefone":"","nome":"LUANA SILVA","id":"a2bc23a4-c49d-4cc4-8c63-192f62820360","empresa_nome":"komatsu Brasil International","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-10-07T16:49:47.367Z","telefone":"666666666666","nome":"TCC","id":"41f1e113-5beb-4de9-860b-1b14375cfdf9","empresa_nome":"Testers","tier_busca":"normal","codigo_embaixador":100,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-17T20:28:39.797Z","telefone":"","nome":"Bruno Monteiro","id":"43637b83-4e86-414a-adbd-22226ea0851d","empresa_nome":"Mextra","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-17T21:00:03.555Z","telefone":"21976852651","nome":"Igor Oliveira","id":"67e9f2c2-3c2f-4352-beba-633ca78a1c8f","empresa_nome":"MRV","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-18T19:48:39.953Z","telefone":"","nome":"TESTE","id":"ae970680-8f75-42ab-944e-13ba3eb38b25","empresa_nome":"TESTE","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":"41f1e113-5beb-4de9-860b-1b14375cfdf9"}},{"json":{"created_at":"2025-11-19T17:09:09.155Z","telefone":"38999202526","nome":"BERNARDO MATOS DE DEUS VIEIRA","id":"9f0b1ab8-249e-4597-b8ec-ac39bb3e3427","empresa_nome":"INTEGRAL NUTRITION / AGROMINEIRÃO / PBL AGROPECUÁRIA","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-19T18:42:04.850Z","telefone":"(27)9889-47607","nome":"Gustavo Fernandes Pereira","id":"85722b06-59a3-4795-ac8b-7c35948c06ad","empresa_nome":"Novapol Plastico ","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}},{"json":{"created_at":"2025-11-19T18:53:21.781Z","telefone":"11978320051","nome":"MIJAIL BOULY MARTINEZ","id":"35c56fe1-cc11-445c-96fa-c4cf586c680d","empresa_nome":"Microempreendedor(a) Individual","tier_busca":"normal","codigo_embaixador":null,"embaixador_referente_id":null}}],"Edit Fields3":[{"json":{"pageContent":"Este comprador atua no segmento de Construção Civil e busca por fornecedores para apoio em obras. A necessidade é específica para suporte civil em projetos de construção.\n\nA empresa procura parceiros que possam oferecer suporte operacional ou técnico para suas obras. Isso indica uma demanda por empresas com capacidade de prestar serviços ou fornecer recursos essenciais para o andamento de projetos de construção civil.\n\nA região de interesse principal para este comprador é Anaurilândia, no estado de Mato Grosso do Sul, onde se localiza a obra que demanda o apoio."}},{"json":{"pageContent":"Este comprador apresenta um perfil de busca altamente diversificado, indicando atuação em múltiplos segmentos com forte ênfase em Engenharia Civil, Suprimentos Industriais, Facilities e Manutenção Operacional. As demandas abrangem desde grandes projetos de infraestrutura industrial e logística até a aquisição de insumos específicos para processos fabris e serviços de apoio contínuo.\n\nO tipo de fornecedor procurado demonstra a necessidade de parceiros com capacidade técnica em diversas frentes, como construção de galpões, terraplanagem, instalação elétrica, locação de equipamentos pesados e serviços especializados de manutenção industrial, incluindo calibração de instrumentos e reforma de pallets. Há também um foco na aquisição de materiais como tubos, concreto usinado, gases industriais e componentes especializados, refletindo um padrão de necessidades B2B complexas e variadas.\n\nGeograficamente, embora muitas buscas indiquem uma preferência por fornecedores com abrangência nacional, há também demandas localizadas em importantes centros como Anápolis (GO), São Paulo (SP), Rio de Janeiro (RJ), Erechim (RS) e outros estados, sugerindo uma operação com alcance amplo, mas com pontos de concentração para projetos específicos."}},{"json":{"pageContent":null}},{"json":{"pageContent":"Este comprador atua no segmento de Elétrica, realizando buscas por produtos ou serviços relacionados a essa área. A descrição e o segmento indicam um foco exclusivo em necessidades do setor elétrico.\n\nA empresa demonstra necessidade de fornecedores especializados em soluções elétricas. O perfil sugere a busca por parceiros capazes de atender demandas gerais ou específicas do setor.\n\nA região de interesse é focada na cidade de Anchieta, no estado do Espírito Santo, indicando que o comprador busca parceiros com atuação local nessa área."}},{"json":{"pageContent":"Este comprador atua nos segmentos de implementos rodoviários, agrícolas e florestais, além de logística e serviços industriais. Suas buscas são majoritariamente focadas em fabricantes de equipamentos como tritrens, tanques, oficinas móveis, módulos de colheita e geradores a diesel, bem como fornecedores de drones agrícolas. Também há interesse em produtos e serviços relacionados a pallets.\n\nA empresa demonstra buscar fornecedores com alta capacidade técnica na fabricação de equipamentos especializados para uso em setores de transporte, agricultura e silvicultura. Para as necessidades logísticas, procura prestadores de serviço para reforma e fornecimento de diversos tipos de pallets. Há também demandas por montagem mecânica industrial, indicando busca por know-how técnico específico em caldeiraria e tubulações, com atuação em indústrias como a sucroalcooleira.\n\nAs regiões de interesse para a aquisição de implementos e drones abrangem todo o território nacional, com menções específicas a estados como PR, SC, RS e SP. Para serviços como reforma de pallets e montagem mecânica, as buscas são mais regionalizadas, concentrando-se em cidades de São Paulo (Amparo, Morro Agudo, São Paulo), além de Goiânia-GO, Anápolis-GO e Recife-PE."}},{"json":{"pageContent":"Este comprador atua no segmento calçadista, com uma busca focada em fornecedores de moldes e matrizes. A demanda é por itens específicos e cruciais para a fabricação de calçados.\n\nO padrão técnico das necessidades revela a procura por fornecedores altamente especializados na produção de ferramentas e componentes de precisão. A empresa busca parceiros que garantam a qualidade e a exatidão requerida para sua linha produtiva.\n\nA região de interesse para esta empresa concentra-se no estado do Rio Grande do Sul, indicando uma preferência por fornecedores com atuação ou sede nessa localidade."}},{"json":{"pageContent":null}},{"json":{"pageContent":"Este comprador atua no segmento de consultoria, buscando especificamente serviços de consultoria corporativa. As demandas indicam a procura por empresas especializadas em assessoramento estratégico e tático para o ambiente empresarial.\n\nO perfil de fornecedor desejado é de parceiros com expertise comprovada em consultoria corporativa, aptos a oferecer soluções complexas e personalizadas. O foco está na aquisição de conhecimento especializado e suporte para tomadas de decisão.\n\nA região de interesse primária é o estado de São Paulo (SP), sugerindo que o comprador busca fornecedores com presença e capacidade de atendimento local nesta Unidade Federativa."}},{"json":{"pageContent":"Este comprador busca por equipamentos de medição específicos, como o frequencímetro da marca Idealse. O padrão de busca sugere uma necessidade por instrumentação técnica e de precisão, indicando atuação em um segmento industrial ou técnico.\n\nA empresa demonstra um padrão técnico focado em equipamentos com especificações claras, buscando fornecedores capazes de suprir demandas por itens de instrumentação. Isso indica a procura por parceiros especializados no fornecimento de componentes ou equipamentos eletrônicos/industriais.\n\nAs regiões de interesse para este comprador estão concentradas nos estados de Minas Gerais e São Paulo, buscando fornecedores que atuem nessas localidades."}},{"json":{"pageContent":"Este comprador atua no segmento de saúde e emergência médica, buscando prestadores de serviços de resgate com ambulância. A demanda central é por serviços de área protegida e atendimento pré-hospitalar.\n\nA empresa procura fornecedores especializados em atendimento de urgência e emergência, que possuam infraestrutura adequada para resgate. O padrão técnico envolve serviços de alta responsabilidade e prontidão.\n\nA região de interesse para este comprador se concentra no estado do Rio de Janeiro."}},{"json":{"pageContent":"Este comprador atua no segmento de construção civil, buscando principalmente materiais e equipamentos para obras. As necessidades incluem argamassas com especificações de marca e modelo, além de estruturas temporárias como tendas sanfonadas.\n\nO perfil técnico das buscas revela a procura por itens específicos, como ferragens para travamento de formas metálicas, sugerindo foco em fornecedores que garantam a qualidade e a conformidade dos produtos. A empresa demonstra uma demanda por soluções práticas e materiais de uso contínuo em canteiros de obras.\n\nAs regiões de interesse se concentram predominantemente no estado do Rio Grande do Sul, com buscas em Canoas, Caxias do Sul e Porto Alegre. Há também uma busca isolada em Curitiba, Paraná, indicando uma atuação principal no sul do Brasil."}},{"json":{"pageContent":"Este comprador atua no segmento metalúrgico e demonstra um padrão de busca por fixadores industriais. As necessidades incluem parafusos, porcas e arruelas, com especificações detalhadas de tipo e acabamento.\n\nA empresa procura fornecedores que possam atender a um padrão técnico rigoroso, com foco em normas específicas como ANSI B 1.1 e B 18.2.2, além de acabamentos como decapado, oleado e galvanizado, e características como rosca fina. Isso indica uma demanda por produtos de precisão e qualidade industrial.\n\nAs regiões de interesse para atendimento se estendem por Goiás, São Paulo, Distrito Federal e Rio de Janeiro, sugerindo uma busca por fornecedores com capacidade de distribuição e cobertura nessas áreas."}},{"json":{"pageContent":"Este comprador atua no segmento de móveis e busca ativamente por soluções de armazenagem, com foco específico em estruturas de \"porta pallet\". A necessidade reflete um interesse em otimização de espaço e organização logística.\n\nA empresa procura fornecedores especializados em sistemas de armazenagem industrial, buscando produtos com padrão técnico que garanta durabilidade e eficiência na gestão de estoques e movimentação de materiais.\n\nA região de interesse principal é Campinas, no estado de São Paulo, indicando que o comprador prioriza fornecedores com atuação ou capacidade de atendimento nesta localidade específica."}},{"json":{"pageContent":"Este comprador busca serviços especializados em manutenção de cadeiras de escritório, o que indica uma necessidade voltada para o ambiente corporativo e a gestão de infraestrutura. O segmento de atuação percebido é de facilities management ou serviços de suporte a escritórios.\n\nA empresa procura por fornecedores com expertise em reparos e conservação de mobiliário, com foco em manter a funcionalidade e a ergonomia. O padrão técnico esperado é de qualidade e eficiência na execução dos serviços de manutenção.\n\nA região de interesse para a prestação desses serviços está concentrada em Itapecerica da Serra, no estado de São Paulo, sugerindo uma demanda por parceiros que atuem localmente."}},{"json":{"pageContent":"Este comprador atua no segmento agroindustrial, realizando buscas específicas por matéria-prima, com foco em fumo para a produção de cigarros. A necessidade é clara por insumos agrícolas destinados ao processamento industrial.\n\nO perfil da empresa indica a procura por fornecedores do setor agrícola ou processadores de tabaco, que possam entregar produtos com as especificações técnicas adequadas para a fabricação de cigarros. O padrão técnico sugere a busca por qualidade e consistência do produto.\n\nAs buscas realizadas não especificam regiões geográficas amplas para os fornecedores, indicando que a disponibilidade e a adequação do produto podem ser fatores prioritários sobre a localização."}},{"json":{"pageContent":null}},{"json":{"pageContent":"Este comprador atua no segmento de Eventos, buscando especificamente a locação de equipamentos de entretenimento para suas produções. A principal necessidade identificada é a câmera plataforma 360º.\n\nO perfil indica a busca por fornecedores especializados na locação de equipamentos de vídeo e interativos, com foco em soluções para eventos. A empresa procura por parceiros que ofereçam tecnologia específica e, possivelmente, suporte técnico para esses equipamentos.\n\nA região de interesse primária para o comprador é São José do Rio Preto, no estado de São Paulo, indicando a busca por parceiros locais ou com capacidade de atendimento nessa localidade."}},{"json":{"pageContent":"Este comprador atua no segmento da indústria alimentícia, realizando buscas por matérias-primas e ingredientes para processamento. As necessidades envolvem produtos como cremes, doces e insumos em pó, sugerindo um foco na fabricação ou formulação de alimentos.\n\nA empresa demonstra um padrão técnico de exigência, buscando fornecedores especializados em ingredientes alimentícios com especificações como produtos desmineralizados ou em pó. Isso indica a necessidade de parceiros que atendam requisitos industriais e de qualidade.\n\nAs buscas são originadas da cidade de São Paulo - SP. Apesar de não especificar regiões geográficas para os fornecedores, o perfil sugere a busca por parceiros que possam atender eficientemente às demandas para a localidade do comprador."}},{"json":{"pageContent":"Este comprador atua no segmento de embalagens e realiza buscas focadas em fornecedores de embalagens plásticas. A necessidade é bem específica em relação ao tipo de material desejado.\n\nA empresa demonstra um padrão técnico que prioriza a matéria-prima plástica, buscando parceiros que consigam suprir demandas nesse segmento específico. O perfil indica um foco claro na aquisição de embalagens.\n\nA região de interesse para as buscas está concentrada no estado do Rio de Janeiro, indicando a preferência por fornecedores com atuação ou capacidade de atendimento nessa localidade."}},{"json":{"pageContent":"Este comprador atua no segmento de locadoras, realizando buscas focadas em serviços de aluguel de veículos. A principal necessidade identificada é a locação de veículos com tração 4x4.\n\nO perfil técnico da demanda indica a procura por fornecedores com frotas especializadas em veículos robustos, adequados para diferentes tipos de terreno ou usos específicos. A empresa parece priorizar a disponibilidade de equipamentos com essa característica.\n\nA região de interesse está concentrada no estado do Espírito Santo, sugerindo que o comprador busca parceiros com operação e capacidade de atendimento local nesta UF."}},{"json":{"pageContent":"Este comprador apresenta um perfil de compras diversificado, buscando tanto serviços especializados quanto produtos para equipar ambientes. As necessidades abrangem desde higienização industrial de Big Bags até a aquisição de mobiliário de escritório.\n\nA empresa procura fornecedores capazes de atender demandas específicas em diferentes áreas. O padrão técnico envolve a busca por parceiros que ofereçam serviços especializados, como lavanderia para insumos industriais, e fornecedores de produtos padronizados, como mesas de escritório com dimensões específicas.\n\nAs buscas são consistentemente direcionadas para fornecedores que atuem na região de São Paulo, indicando uma preferência clara por parceiros localizados neste estado."}},{"json":{"pageContent":"Este comprador atua no segmento de Construção, com foco em serviços especializados de engenharia civil. A busca principal é por soluções de fundação, especificamente \"Cravação de estaca direta\".\n\nA empresa procura fornecedores que possuam capacidade técnica e experiência comprovada em métodos construtivos específicos para fundações. O padrão indica a necessidade de expertise prática e execução precisa.\n\nA região de interesse primária está concentrada na cidade de Iaciara, Goiás, sugerindo que o comprador busca parceiros com atuação local ou regional para atender suas demandas."}},{"json":{"pageContent":"Este comprador busca por uma variedade de serviços e materiais essenciais para suas operações. Suas demandas incluem manutenção industrial, suprimentos de escritório e gestão de resíduos, indicando um perfil de atuação que engloba necessidades tanto administrativas quanto técnicas e industriais.\n\nO tipo de fornecedor procurado demonstra a necessidade de parceiros capazes de entregar tanto itens de rotina quanto serviços mais complexos. Há um claro interesse em soluções técnicas, como gestão de resíduos industriais classe II, sugerindo a busca por especialização e conformidade.\n\nEm relação à localização, as buscas deste comprador indicam uma concentração de interesse no estado do Pará, presente em mais de uma solicitação. Há também uma demanda pontual identificada na região de Minas Gerais."}},{"json":{"pageContent":"Este comprador atua no segmento de vedação industrial, realizando buscas por componentes técnicos específicos como a Fita armalon adesivado PTFE PURO. A demanda se concentra em materiais de alta performance para aplicações industriais.\n\nO padrão técnico das necessidades é elevado, buscando produtos com especificações precisas e materiais de qualidade, como o PTFE puro. A empresa demonstra preferência por fornecedores com expertise em vedação industrial de alta performance.\n\nA região de interesse abrange todo o território nacional, indicando que o comprador busca parceiros com capacidade de atendimento em múltiplos estados do Brasil."}},{"json":{"pageContent":"Este comprador atua no segmento de segurança contra incêndio, buscando ativamente por serviços especializados em manutenção e recarga de extintores. O padrão de busca reflete uma necessidade contínua de assegurar a conformidade e funcionalidade desses equipamentos.\n\nO perfil indica a procura por fornecedores que ofereçam serviços de recarga de extintores, o que sugere a necessidade de parceiros certificados e em conformidade com as normas técnicas e regulamentações de segurança. A empresa valoriza a expertise e a confiabilidade no manuseio de equipamentos de prevenção.\n\nA região de interesse primária é a cidade de Ribas do Rio Pardo, Mato Grosso do Sul, indicando que o comprador busca fornecedores que atuem ou possam atender especificamente essa localidade."}},{"json":{"pageContent":null}},{"json":{"pageContent":"Este comprador consistentemente busca por uma ampla gama de suprimentos e serviços essenciais para suas operações e gestão diária. As necessidades abrangem materiais de construção, MRO, Equipamentos de Proteção Individual (EPIs), amenities para hotelaria e serviços como coleta de lixo, saúde ocupacional e confecção de crachás.\n\nO padrão de busca revela uma empresa com demandas técnicas por produtos e serviços padronizados, muitos deles de consumo recorrente ou críticos para a manutenção de instalações e segurança. As solicitações variam de itens gerais a específicos, como coleta de lixo classe II ou crachás personalizados.\n\nA atuação principal deste comprador se concentra na região do Rio de Janeiro - RJ, indicada pela grande maioria das consultas. Existe uma busca isolada em São Paulo - SP, que pode representar uma necessidade pontual ou uma área de interesse secundária."}},{"json":{"pageContent":"Este comprador atua no segmento de construção civil e acabamento, realizando buscas por materiais específicos. As necessidades englobam produtos como louças sanitárias e itens de proteção para pisos.\n\nA empresa demonstra foco na aquisição de suprimentos padronizados e com especificações claras, indicando uma busca por fornecedores que ofereçam disponibilidade e variedade de produtos para obras. O perfil sugere demandas recorrentes por materiais de construção.\n\nA região de interesse para a prospecção de fornecedores está concentrada nos estados do Paraná (PR) e Mato Grosso do Sul (MS), buscando parceiros com operação ativa nessas localidades."}},{"json":{"pageContent":"Este comprador atua nos segmentos de serviços e equipamentos, buscando soluções especializadas em instalação, montagem e manutenção. Suas necessidades abrangem desde a montagem e manutenção de estruturas industriais, como silos de armazenagem de grãos, até a compra e instalação de sistemas de ar condicionado.\n\nA empresa procura fornecedores com expertise técnica em serviços de instalação e manutenção, que possuam capacidade para fornecer e integrar equipamentos. O perfil indica um foco em parceiros que possam executar projetos que demandam conhecimento específico em infraestrutura e sistemas.\n\nA região de interesse para estas demandas está concentrada no estado do Paraná, buscando fornecedores com atuação e capacidade de atendimento local."}},{"json":{"pageContent":"Este comprador atua predominantemente no segmento automotivo e de veículos especializados, com buscas recorrentes por componentes e insumos. As necessidades incluem pneus, lubrificantes de performance e combustíveis específicos, além de materiais como EVA e colas.\n\nO padrão técnico das buscas aponta para produtos com especificações detalhadas e marcas reconhecidas, como pneus Michelin e lubrificantes Liqui Moly. A demanda por grandes volumes, exemplificada pela aquisição de centenas de pneus, sugere um foco em fornecedores com capacidade de suprimento e qualidade.\n\nAs regiões de interesse são abrangentes, com uma demanda que se estende por diversas unidades da federação. Há uma concentração perceptível nos estados de São Paulo, Paraná e Rio de Janeiro, embora o comprador também demonstre buscar cobertura nacional para certas aquisições."}},{"json":{"pageContent":"Este comprador atua na área de serviços operacionais e logística, demonstrando interesse em fornecedores que ofereçam suporte para a gestão de infraestrutura. As buscas focam em \"carga e descarga\" e \"facilities\", indicando necessidades relacionadas à rotina e manutenção de espaços.\n\nO perfil de fornecedor procurado envolve empresas capacitadas em prover serviços de apoio operacional prático, visando a eficiência em tarefas diárias e a funcionalidade do ambiente de trabalho ou depósito. A demanda é por soluções para necessidades básicas de suporte.\n\nA região de interesse se concentra especificamente no estado do Paraná, sugerindo que o comprador busca parceiros com presença e capacidade de atendimento local nesta Unidade Federativa."}},{"json":{"pageContent":"Este comprador atua no segmento de desenvolvimento de produtos e eletrônica, realizando buscas por componentes específicos para prototipagem. As necessidades envolvem módulos de exibição, placas de desenvolvimento IoT e materiais para montagem de caixas e circuitos.\n\nO perfil técnico da empresa demonstra busca por fornecedores de alta tecnologia, capazes de suprir itens como módulos SPI TFT LCD, placas Esp32 IoT Devkit e placas perfuradas para circuitos. O padrão indica um foco em hardware para sistemas embarcados e desenvolvimento de protótipos.\n\nA cidade de origem mencionada é Teresina - PI. Contudo, devido à natureza especializada dos itens procurados, o comprador parece focar na disponibilidade e expertise técnica dos fornecedores, sugerindo flexibilidade regional para aquisição de componentes eletrônicos."}},{"json":{"pageContent":null}},{"json":{"pageContent":"Este comprador busca serviços de manutenção especializados, focando principalmente em bombas de recalque. O padrão de busca sugere uma necessidade de suporte técnico para equipamentos específicos, indicando uma atuação em setores que dependem do funcionamento contínuo desses sistemas.\n\nA empresa procura por fornecedores com expertise técnica comprovada em manutenção preventiva e corretiva de bombas de recalque. O foco está na garantia da funcionalidade e longevidade dos equipamentos, com o objetivo de assegurar a operação sem interrupções.\n\nA região de interesse principal para este comprador é a cidade de São Paulo, no estado de São Paulo. Isso indica a busca por parceiros de serviço com capacidade de atendimento local e rápido nessa área geográfica."}},{"json":{"pageContent":"Este comprador atua no segmento de construção civil, com buscas focadas em serviços e materiais essenciais para obras. As necessidades abrangem desde instalações elétricas e hidráulicas até elementos estruturais e proteção predial.\n\nA empresa procura fornecedores especializados em infraestrutura civil, incluindo sistemas de proteção contra descargas atmosféricas e serviços específicos como chaveteamento e capeamento de lajes. Há também demanda por materiais básicos de construção, indicando uma abordagem abrangente para projetos.\n\nA região de interesse principal é Itaquaquecetuba, no estado de São Paulo, o que sugere uma preferência por parceiros e fornecedores com presença e capacidade de atendimento local."}},{"json":{"pageContent":"Este comprador atua na aquisição de materiais e equipamentos para infraestrutura e manutenção. Suas buscas incluem componentes de informática, como fontes de computador de marcas específicas, e itens de mobiliário, como estantes de aço.\n\nO padrão de necessidade indica a procura por fornecedores de produtos prontos e específicos, com foco em bens duráveis e funcionais. A empresa busca parceiros que possam fornecer tanto peças de reposição técnicas quanto equipamentos de uso geral.\n\nA região de interesse principal para as aquisições é o estado da Bahia, sugerindo que o comprador busca fornecedores com capacidade de atuação e entrega nesta localidade."}},{"json":{"pageContent":"Este comprador atua no segmento industrial, buscando componentes e peças para fabricação. As buscas são focadas em itens como molas e peças em ABS, sugerindo necessidades em materiais e processos de transformação.\n\nO padrão técnico indica a procura por fornecedores com expertise em processos específicos, como a conformação a vácuo para plásticos. A empresa prioriza parceiros com capacidade de produção de peças sob demanda e domínio de materiais industriais.\n\nA região de interesse para as necessidades deste comprador está concentrada no estado de São Paulo, priorizando fornecedores com operação ativa e capacidade de entrega local."}},{"json":{"pageContent":"Este comprador realiza buscas por serviços nos segmentos de construção civil e plantio e jardinagem. As demandas abrangem desde serviços gerais de construção até atividades específicas de paisagismo e plantio.\n\nO perfil das buscas indica a procura por fornecedores que ofereçam serviços essenciais para a execução de projetos ou manutenção de infraestruturas. Não são especificados requisitos técnicos altamente complexos, sugerindo a busca por empresas com capacidade de entregar as atividades propostas em cada segmento.\n\nA região de interesse predominante para este comprador é São Paulo - SP, buscando parceiros com atuação consolidada e capacidade de atendimento nesta localidade."}},{"json":{"pageContent":"Este comprador atua principalmente nos segmentos de movelaria e fixação, realizando buscas por materiais e componentes. Suas necessidades envolvem insumos como MDF, acessórios para móveis e parafusos.\n\nA empresa demonstra um perfil de procura por fornecedores de insumos industriais e itens padronizados, indicando um foco em suprir a cadeia de produção. O padrão técnico das necessidades é voltado para componentes e matérias-primas para fabricação.\n\nA região de interesse principal para este comprador é o estado de São Paulo, sugerindo a busca por parceiros que possuam atuação ou base operacional nesta localidade."}},{"json":{"pageContent":"Este comprador atua no segmento de Saúde, buscando fornecedores de produtos e equipamentos médicos. A necessidade principal identificada é a aquisição de suprimentos hospitalares específicos, como cateteres uretrais.\n\nA empresa procura fornecedores especializados em dispositivos médicos, com foco em itens de uso específico e qualidade comprovada para o setor de saúde. O padrão técnico indica uma busca por produtos padronizados para o ambiente hospitalar.\n\nA região de interesse se concentra na cidade de São Paulo - SP, sugerindo que o comprador busca parceiros com capacidade de atendimento ou operação ativa nessa localidade."}},{"json":{"pageContent":"Este comprador atua no segmento de Agricultura, realizando buscas por serviços especializados em espalhamento de calcário. Suas necessidades indicam um foco em operações de grande porte e que visam aprimorar a fertilidade do solo em extensas áreas.\n\nA empresa procura fornecedores com alta capacidade operacional e equipamentos específicos, como Staara Hercules e Pá carregadeira acoplada. O padrão técnico exigido envolve a habilidade de atender demandas acima de 1000 hectares, com uma frota de mais de 10 caminhões espalhadores, sugerindo uma busca por parceiros de alta performance.\n\nA região de interesse é ampla, abrangendo todo o território nacional, o que demonstra a necessidade de fornecedores com capacidade logística e estrutural para atender demandas em diversas localidades do Brasil."}},{"json":{"pageContent":"Este comprador atua no segmento de Construção Civil, buscando serviços relacionados a obras civis em geral. Suas necessidades abrangem desde a execução de novas construções até reparos e acabamentos diversos.\n\nO perfil de busca indica uma demanda por fornecedores com expertise em diferentes fases de projetos de construção, incluindo a capacidade de realizar trabalhos de acabamento. A empresa busca parceiros versáteis e com qualidade na execução.\n\nA região de interesse primária para este comprador é a cidade de Piracicaba, no estado de São Paulo, sugerindo a busca por fornecedores localizados ou com forte atuação nessa localidade específica."}},{"json":{"pageContent":"Este comprador atua no segmento de Agronegócio, realizando buscas que abrangem tanto suprimentos agrícolas quanto serviços especializados para propriedades rurais. As necessidades incluem produtos como defensivos e serviços operacionais específicos como desmanche de cerca.\n\nA empresa procura fornecedores que ofereçam insumos essenciais para a lavoura e prestadores de serviço com expertise em tarefas de infraestrutura rural. O padrão técnico das necessidades indica um foco na manutenção e no desenvolvimento das operações agrícolas.\n\nA região de interesse para todas as buscas está concentrada no estado de Minas Gerais, sinalizando a preferência por parceiros com atuação ativa e localizada nesta área."}},{"json":{"pageContent":"Este comprador atua no segmento de mineração, com buscas predominantes por serviços técnicos especializados. As necessidades incluem sondagem, locação de equipamentos específicos e soluções para automação industrial.\n\nO perfil demonstra a procura por fornecedores com expertise em operações de campo, como sondagem hidráulica e percussiva, e capacidade de implementar sistemas de automação. Isso indica uma demanda por parceiros com alto padrão técnico e foco na otimização de processos.\n\nA área geográfica de maior interesse para este comprador é o estado de Minas Gerais. No entanto, as buscas podem se estender pontualmente para as regiões de São Paulo e Rio de Janeiro."}},{"json":{"pageContent":"Este comprador atua no segmento de acabamentos para construção civil ou design de interiores, buscando produtos bastante específicos. A necessidade principal se concentra em rodapés invertidos, sugerindo projetos que demandam soluções arquitetônicas detalhadas.\n\nO perfil técnico das buscas é bastante preciso, especificando materiais como alumínio, cor preta e espessura de 5cm. Isso indica uma preferência por fornecedores com capacidade de fabricação sob medida ou que ofereçam produtos com alta conformidade às especificações de design e engenharia.\n\nA região de interesse para o comprador é a cidade de Indaiatuba - SP, o que direciona a busca por parceiros que possuam operação ou capacidade logística para atender a essa localidade."}},{"json":{"pageContent":null}},{"json":{"pageContent":"Este comprador se identifica como uma indústria, com um perfil de busca que, no momento, não especifica produtos ou serviços detalhados. O foco está na caracterização geral do tipo de negócio e suas necessidades inerentes.\n\nO perfil sugere a procura por fornecedores que atendam às demandas intrínsecas a uma operação industrial. Não há um padrão técnico específico delineado, mas espera-se parceiros com capacidade de atuação nesse segmento amplo.\n\nA região de interesse principal concentra-se em Itupeva, no estado de São Paulo, indicando que o comprador busca parceiros com presença ou capacidade de atendimento nesta localidade."}},{"json":{"pageContent":"Este comprador realiza buscas diversificadas, que abrangem desde locação de equipamentos pesados e serviços técnicos especializados até itens para eventos. As necessidades incluem aluguel de minicarregadeiras, serviços de topografia, locação de cadeiras e fornecimento de café da manhã.\n\nO perfil indica uma empresa com demandas operacionais variadas, que pode atuar tanto em projetos de infraestrutura e construção quanto na organização de eventos. Busca por fornecedores capazes de entregar soluções funcionais e serviços de apoio em diferentes contextos.\n\nAs regiões de interesse são mistas, com necessidades pontuais em localidades como Guarulhos-SP e Rio de Janeiro, e uma amplitude nacional para locação de equipamentos, cobrindo estados como SP, PR, BA, MG, CE e MT."}},{"json":{"pageContent":"Este comprador atua no segmento de Manutenção e realiza buscas por peças de reposição para maquinário. As necessidades são específicas, focadas em componentes como bomba injetora e itens correlatos para máquinas da marca Doosan, modelo DX53W.\n\nA empresa demonstra um padrão técnico que exige fornecedores especializados em peças para equipamentos pesados, buscando compatibilidade e precisão. O foco está em manter a operacionalidade de suas máquinas através da aquisição de componentes adequados.\n\nA região de interesse primária para o atendimento é São Paulo - SP, indicando a preferência por fornecedores localizados ou com capacidade de entrega nesta cidade."}},{"json":{"pageContent":"Este comprador atua nos segmentos de metalurgia e serralheria, com buscas focadas em materiais de construção e suprimentos metálicos. A demanda principal é por telhas galvanizadas e seus acessórios, indicando necessidades para projetos que utilizam este tipo de material.\n\nA empresa demonstra um perfil de busca por fornecedores de produtos metálicos padronizados, como telhas galvanizadas com dimensões específicas. O padrão técnico se concentra em especificações de materiais básicos e acessórios essenciais, buscando parceiros com capacidade de fornecimento direto e consistente.\n\nA região de interesse é consistentemente no estado de Alagoas, sugerindo que o comprador procura por fornecedores com atuação e capacidade de entrega focadas nesse território."}},{"json":{"pageContent":"Este comprador realiza buscas focadas na aquisição de pneus, especialmente destinados à manutenção e operação de uma frota de caminhões. O segmento de atuação percebido está ligado a atividades que demandam transporte pesado ou logística.\n\nA empresa procura fornecedores que possam atender à demanda contínua de pneus para veículos de grande porte, sugerindo um volume de compra considerável. O padrão técnico se concentra em produtos robustos e adequados para frotas de caminhões, visando a eficiência e durabilidade.\n\nGeograficamente, o interesse do comprador está concentrado em Fortaleza e sua região metropolitana, no estado do Ceará. A busca por fornecedores é direcionada a esta área específica."}},{"json":{"pageContent":"Este comprador atua em segmentos que demandam soluções de infraestrutura elétrica e para o varejo, buscando principalmente equipamentos de geração, backup e distribuição de energia. As consultas também incluem sistemas especializados como correios pneumáticos e letreiros luminosos, indicando necessidades operacionais em lojas.\n\nO perfil técnico da empresa demonstra foco em especificações como geradores de 55KVA com motores MWM ou Perkins, no-breaks variando de 2KVA a 20KVA, e transformadores a seco com classificações IP00 e IP23, geralmente em tensões de 220V/380V. A busca inclui fornecimento e instalação, valorizando fornecedores com capacidade de serviço.\n\nA maioria das buscas por fornecedores abrange o território nacional, indicando flexibilidade de localização para atender às demandas da empresa em diversas regiões do país."}},{"json":{"pageContent":null}},{"json":{"pageContent":"Este comprador atua no segmento de manutenção e serviços industriais, buscando especificamente serviços de locação de equipamentos. As necessidades são focadas na disponibilização de lavadoras de piso para uso em ambientes industriais.\n\nO perfil indica a procura por fornecedores que ofereçam aluguel de máquinas de limpeza de alta performance. A empresa prioriza equipamentos robustos, adequados para um padrão técnico exigente em pisos industriais.\n\nA região de interesse principal é Jundiaí, no estado de São Paulo, indicando a busca por parceiros com capacidade de atendimento local."}},{"json":{"pageContent":"Este comprador atua no segmento de óleo e gás, buscando componentes industriais específicos, como anéis de Viton. A necessidade percebida é de peças com alta resistência e propriedades técnicas definidas.\n\nO padrão técnico indica a procura por fornecedores especializados em materiais de vedação de alta performance, adequados para aplicações exigentes. O foco é na qualidade e especificidade dos componentes.\n\nAs buscas são predominantemente direcionadas para fornecedores com atuação no estado de São Paulo."}},{"json":{"pageContent":"Este comprador atua no segmento de mineração e indústria pesada, realizando buscas por serviços especializados e aquisição de componentes. Suas necessidades abrangem desde manutenção de equipamentos de grande porte até peças com especificações técnicas rigorosas.\n\nA empresa busca fornecedores com elevada capacidade técnica e experiência em processos industriais como mandrilhamento. Há uma clara demanda por parceiros que possam entregar produtos e serviços de alta precisão, seguindo especificações detalhadas como material, dimensões e características de aplicação.\n\nAs consultas indicam um foco geográfico na cidade de Parauapebas, Pará. Isso sugere que a empresa prioriza fornecedores com atuação ou capacidade logística para atender a essa localidade específica."}},{"json":{"pageContent":"Este comprador atua no segmento de manutenção, buscando principalmente serviços para conservação e reparo de equipamentos específicos. As necessidades envolvem a manutenção de exaustores e coifas, indicando foco em sistemas de ventilação e extração.\n\nA empresa procura fornecedores especializados em serviços técnicos de manutenção, com capacidade comprovada em equipamentos industriais ou comerciais desse tipo. O padrão técnico das necessidades sugere busca por expertise e confiabilidade.\n\nA região de interesse primária é a cidade de Guarulhos, São Paulo, indicando que o comprador prefere parceiros com atuação local ou capacidade de atendimento nessa localidade específica."}},{"json":{"pageContent":"Este comprador atua no segmento de Mineração, com buscas específicas por equipamentos pesados para exploração mineral. A principal demanda identificada é a locação de sondas hidráulicas para operações de mineração.\n\nA empresa demonstra preferência por fornecedores capazes de disponibilizar maquinário especializado, como sondas hidráulicas, o que indica um foco em necessidades operacionais e técnicas para o setor. O padrão sugere demandas pontuais ou de curto prazo.\n\nAs regiões de interesse são os estados de Minas Gerais, São Paulo e Rio de Janeiro, indicando a procura por parceiros que possuam operação e capacidade de atendimento nessas localidades."}},{"json":{"pageContent":"Este comprador atua no segmento de geração de energia, buscando principalmente fornecedores de geradores de energia de grande porte. Demonstra interesse em um modelo de negócio que inclua a troca de equipamentos usados por novos.\n\nO perfil da busca indica a procura por fabricantes, empresas ou locadoras que possuam capacidade para negociar equipamentos de alta potência e que sejam flexíveis para operações de trade-in. O foco é na aquisição de soluções completas de energia.\n\nA cidade de origem da consulta é Belo Horizonte, Minas Gerais, indicando uma prioridade por fornecedores que possam atender a essa localidade."}},{"json":{"pageContent":null}},{"json":{"pageContent":"Este comprador atua no segmento de construção civil, demonstrando interesse na aquisição de materiais para edificações. Suas buscas são focadas em componentes estruturais específicos, como telhas.\n\nO padrão técnico das necessidades envolve telhas de fibrocimento com especificações detalhadas de dimensão e características, incluindo a condição \"sem amianto\". Isso indica a procura por fornecedores que atendam a critérios rigorosos de qualidade e conformidade técnica.\n\nA região de interesse principal é São Paulo - SP, sugerindo que o comprador busca parceiros com capacidade de fornecimento ou entrega para essa localidade."}},{"json":{"pageContent":"Este comprador atua no segmento de mineração, buscando principalmente por materiais específicos como graute. Suas necessidades indicam o foco em insumos para operações dentro desse setor.\n\nA empresa procura fornecedores especializados em materiais de construção ou reforço técnico. O padrão das necessidades é bem definido, direcionado a produtos com aplicações específicas no contexto da mineração.\n\nA região de interesse se concentra no estado de Minas Gerais (MG), o que sugere a busca por parceiros que possuam capacidade de entrega e atuação nessa localidade."}},{"json":{"pageContent":"Este comprador atua no segmento industrial, com foco na aquisição de componentes especializados. A busca principal é por fabricantes de válvulas solenoides projetadas para atender requisitos de segurança em ambientes de risco.\n\nO perfil de fornecedor desejado é altamente técnico, exigindo produtos à prova de explosão e com certificação Ex. Isso indica uma prioridade por parceiros com expertise em engenharia de segurança e conformidade com normas rigorosas para equipamentos industriais.\n\nAs buscas abrangem todas as unidades federativas do Brasil, demonstrando que o comprador procura fornecedores com capacidade de atuação nacional, valorizando a especialização técnica acima da proximidade geográfica."}},{"json":{"pageContent":null}},{"json":{"pageContent":"Este comprador atua no segmento químico e realiza buscas por embalagens para seus produtos. As necessidades principais concentram-se em galões e latas metálicas de capacidades específicas.\n\nO perfil indica uma procura por fornecedores com expertise na fabricação de embalagens industriais. É fundamental a capacidade de produzir itens litografados, atendendo a padrões técnicos para volumes de 3,6 e 18 litros, demonstrando foco em soluções personalizadas.\n\nA região de interesse percebida está no estado de São Paulo, com cidades de origem como Jundiaí e Itupeva, sugerindo a busca por parceiros que atuem prioritariamente nessa localidade."}},{"json":{"pageContent":"Este comprador opera em setores que demandam soluções de acesso especializadas, realizando buscas direcionadas para serviços de locação e montagem de andaimes. A necessidade principal envolve tanto o equipamento quanto sua instalação.\n\nO perfil demonstra uma preferência por fornecedores com capacidade técnica para oferecer um pacote completo, incluindo mão de obra especializada na montagem. A empresa procura parceiros que entreguem a solução de andaimes de forma integrada.\n\nA região de interesse é bastante específica, focando na cidade de Parauapebas, no Pará, indicando a busca por provedores de serviço com atuação e capacidade de atendimento local."}},{"json":{"pageContent":null}},{"json":{"pageContent":"Este comprador atua no segmento de construção civil e acabamentos internos, demonstrando interesse em fornecedores de materiais específicos. As buscas são direcionadas para divisórias navais e forros minerais modulares.\n\nA empresa busca parceiros que ofereçam produtos de marcas específicas, como EUCATEX para divisórias e Armstron para forros, com exigências técnicas detalhadas em relação a dimensões. Isso sugere um padrão de necessidade para projetos com especificações precisas.\n\nA região de interesse para este comprador está restrita ao estado de São Paulo, indicando que as necessidades são focadas em fornecedores com atuação local nesta UF."}},{"json":{"pageContent":"Este comprador atua no segmento de construção civil, com buscas focadas na aquisição de materiais e acabamentos. As necessidades abrangem louças, metais e placas de drywall para projetos.\n\nA empresa demonstra um padrão técnico de busca por produtos de marcas específicas e reconhecidas no mercado, como Deca, Docol e Knaff. Isso indica uma preferência por fornecedores que sejam distribuidores ou representantes dessas marcas, focando na qualidade e procedência dos materiais.\n\nA região de interesse principal se concentra em Pernambuco (PE). Contudo, há também indicação de busca por fornecedores em outros estados como Goiás (GO), São Paulo (SP) e Santa Catarina (SC), sugerindo uma capacidade de atendimento mais ampla."}},{"json":{"pageContent":"Este comprador apresenta um leque diversificado de necessidades operacionais, abrangendo desde a elaboração de projetos de engenharia para escadas plataforma com especificações detalhadas, até serviços especializados de controle de pragas, como a remoção segura de ninhos de marimbondos.\n\nO perfil de fornecedor buscado é de empresas com alta qualificação técnica, capacidade de lidar com especificações detalhadas e cumprimento rigoroso de normas de segurança e regulamentações, como as da ANVISA. Há uma clara prioridade por expertise especializada e confiabilidade na execução dos serviços.\n\nA principal região de interesse para as demandas concentra-se no estado de Minas Gerais, com um foco particular na capital, Belo Horizonte, para a execução de certos serviços."}},{"json":{"pageContent":"Este comprador atua no segmento de Engenharia, buscando empresas especializadas na emissão de laudos técnicos para telhados industriais. A necessidade é focada em inspeções e análises estruturais para ambientes industriais.\n\nO perfil demonstra uma clara preferência por fornecedores com alta especialização e conhecimento técnico em estruturas de telhados e normas de segurança. A empresa procura parceiros capazes de fornecer relatórios detalhados e confiáveis.\n\nAs buscas indicam um forte interesse na região do Rio de Janeiro, com foco específico na cidade de Queimados. Isso sugere que o comprador busca parceiros com atuação local e capacidade de atendimento nessa área geográfica."}},{"json":{"pageContent":"Este comprador atua predominantemente no setor industrial, com um foco significativo na aquisição de produtos químicos como soda cáustica, ácido fórmico e gases. Suas buscas também incluem materiais como pneus industriais e embalagens, além de uma gama de serviços especializados.\n\nO perfil de fornecedor desejado abrange empresas com expertise em manutenção de máquinas agrícolas, calderaria, pintura industrial e estruturas metálicas, indicando a busca por soluções robustas e técnicas. Há uma clara preferência por parceiros que atendam a rigorosos padrões de qualidade e especificações para uso industrial.\n\nA principal região de interesse está localizada em Lençóis Paulista - SP. Contudo, o comprador também busca cobertura em estados como SP, MG, GO, MS, PR, ES, RJ e BA, demonstrando uma necessidade de fornecimento que, em alguns casos, se estende a nível nacional."}},{"json":{"pageContent":null}},{"json":{"pageContent":"Este comprador atua no segmento de engenharia civil, buscando empresas especializadas em projetos e design de estruturas. A principal demanda refere-se a serviços de desenvolvimento de projetos.\n\nO perfil da busca demonstra uma necessidade técnica específica em projetos de radier, indicando que o comprador procura fornecedores com expertise aprofundada em fundações e engenharia estrutural. Há um claro foco na qualificação técnica.\n\nA região de origem associada à busca é Belo Horizonte, Minas Gerais, sugerindo que o comprador tem interesse em parceiros que possam atender ou ter base nessa localidade."}},{"json":{"pageContent":"Este comprador atua no segmento industrial, buscando uma ampla gama de serviços e suprimentos essenciais para suas operações. As necessidades abrangem desde manutenção de equipamentos, logística especializada para cargas pesadas, até sistemas de gestão e automação industrial.\n\nA empresa demonstra um padrão técnico elevado, procurando fornecedores com experiência em ambientes industriais. Busca parceiros para suprimentos como cabos elétricos e EPIs, além de serviços especializados em limpeza industrial e treinamentos de segurança do trabalho, como NR-10 e NR-35.\n\nAs buscas não especificam regiões geográficas, indicando que o comprador valoriza a capacidade técnica e a qualidade do fornecedor em detrimento de uma localização restrita. A flexibilidade regional é um fator presente nas suas demandas."}},{"json":{"pageContent":"Este comprador realiza buscas focadas na locação de equipamentos industriais, especificamente ventiladores. A necessidade sugere um segmento que demanda soluções de ventilação ou climatização para ambientes de grande porte, como indústrias, galpões ou eventos.\n\nO perfil demonstra uma exigência técnica clara, buscando fornecedores capazes de oferecer ventiladores industriais com uma vazão de ar de 20000m3/h. Isso indica a procura por parceiros com equipamentos de alta performance e que atendam a especificações detalhadas de locação.\n\nA região de interesse para as buscas se concentra principalmente no estado de São Paulo, sugerindo que o comprador busca fornecedores com operação ativa e capacidade de atender às demandas nessa localidade."}},{"json":{"pageContent":"Este comprador atua no segmento de Construção Civil, buscando ativamente por prestadores de serviços essenciais para diversas etapas de obras. As necessidades abrangem desde instalações especializadas como gesso, drywall, sistemas SPDA e bancadas, até acabamentos como pisos, azulejos e pintura de fachada, além de serviços complementares como limpeza pós-obra e fundação.\n\nO perfil do fornecedor desejado é de um prestador de serviço direto, com foco em empresas que ofereçam capacidade de atendimento recorrente e emissão de nota fiscal. Há uma clara preferência por parceiros experientes, inclusive com histórico de atuação em projetos de grande escala, como os do programa \"Minha Casa Minha Vida\", e uma exclusão explícita de revendas ou intermediários.\n\nTodas as buscas indicam uma concentração geográfica no estado do Rio de Janeiro, evidenciando que o comprador busca parceiros com operação e disponibilidade de serviço nesta localidade específica."}},{"json":{"pageContent":null}},{"json":{"pageContent":"Este comprador atua no segmento de suplementação, realizando buscas por embalagens personalizadas. As necessidades são específicas para tubolatas destinadas ao envasamento de produtos naturais em pó, com capacidade entre 200g e 500g por unidade.\n\nO perfil de fornecedor buscado é de empresas capazes de produzir embalagens customizadas que atendam a padrões técnicos para produtos em pó. Há um foco claro em personalização e na adequação a volumes específicos.\n\nAs regiões de interesse para parceria são Goiás, Minas Gerais, Distrito Federal, São Paulo e Espírito Santo, indicando uma busca por fornecedores com atuação nesses estados."}},{"json":{"pageContent":"Este comprador, cujo segmento principal é Resina de Poliéster, realiza buscas por equipamentos para suprir necessidades internas da empresa. A demanda observada é para a aquisição de eletrodomésticos, como frigobares, com especificações técnicas detalhadas para uso da própria organização.\n\nO perfil da empresa aponta para a procura de fornecedores que possam entregar produtos novos, com foco em modelos e capacidades específicas (ex: 220V, 67L). A prioridade é por parceiros que garantam a emissão de nota fiscal para consumo final e apresentem condições comerciais e de entrega claras.\n\nA região de interesse para atendimento se concentra especificamente no estado do Espírito Santo, indicando a preferência por fornecedores com capacidade de atuação nesta localidade."}},{"json":{"pageContent":"Este comprador atua no segmento de playgrounds, buscando fornecedores especializados na fabricação de estruturas de madeira. A necessidade central é por playgrounds modelo \"Casa do Tarzan\" com componentes específicos como plataformas, escorregadores, rampas de escalada e balanços.\n\nA empresa demonstra um alto padrão técnico, requerendo madeira autoclavada (Pinus e/ou Eucalipto), com tratamento contra pragas, acabamento lixado, sem farpas e com múltiplas demãos de verniz com filtro solar. É mandatório o acompanhamento de atestado de conformidade e segurança conforme ABNT NBR 16071.\n\nA região de interesse para a busca de fornecedores se concentra especificamente no estado de São Paulo (SP)."}}]},"versionId":"5d9575b6-b057-4ebe-a3ff-a8624410b228","triggerCount":0,"shared":[{"updatedAt":"2025-11-18T14:23:38.069Z","createdAt":"2025-11-18T14:23:38.069Z","role":"workflow:owner","workflowId":"TxDwNaocZZvYJuDl","projectId":"jk0yZKautC5L7CBp"}],"tags":[]}