cria_banco_qdrant-uMmEzo0iirR6KB1l.json
{"updatedAt":"2026-03-09T16:47:05.255Z","createdAt":"2026-03-04T21:43:20.167Z","id":"uMmEzo0iirR6KB1l","name":"cria_banco_qdrant","active":true,"isArchived":false,"nodes":[{"parameters":{"batchSize":10,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[96,0],"id":"041d28fd-b0fe-4828-a8c2-11fc7ee472e3","name":"Loop Over Items"},{"parameters":{"workflowId":{"__rl":true,"value":"TDYKmKr4o7CWOfuE","mode":"list","cachedResultUrl":"/workflow/TDYKmKr4o7CWOfuE","cachedResultName":"Qdrant_MVP"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[384,64],"id":"c785a11e-fe7d-49e4-b946-6942a9b50f12","name":"Call 'Qdrant_MVP'"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"company_profile","mode":"list","cachedResultName":"company_profile"},"columns":{"mappingMode":"defineBelow","value":{"qdrant":true,"id":"={{ $json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"nome_empresa","displayName":"nome_empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cnpj","displayName":"cnpj","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"full_profile","displayName":"full_profile","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"municipio","displayName":"municipio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"uf","displayName":"uf","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"error","displayName":"error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"qdrant","displayName":"qdrant","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[656,-176],"id":"d055753e-33cf-4e8e-8884-39527c0ed5be","name":"Update rows in a table","retryOnFail":true,"credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"company_profile","mode":"list","cachedResultName":"company_profile"},"limit":5000,"where":{"values":[{"column":"qdrant","value":"False"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-192,0],"id":"268265a5-e998-4285-8a76-ac8ba256c904","name":"Select rows from a table","retryOnFail":true,"credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-592,0],"id":"75d29938-0892-42d6-ad7f-a99857b6399a","name":"When Executed by Another Workflow"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-384,0],"id":"6ba192b2-94c2-4ba1-9bd5-d2bbd3ed8507","name":"Limit"},{"parameters":{"workflowId":{"__rl":true,"value":"uMmEzo0iirR6KB1l","mode":"list","cachedResultUrl":"/workflow/uMmEzo0iirR6KB1l","cachedResultName":"cria_banco_qdrant"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1072,-176],"id":"2c8b5775-980a-4d7d-b698-b5e03f8bef75","name":"Call 'cria_banco_qdrant'"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[864,-176],"id":"b316f934-9137-4e11-b41e-73e9dc77b983","name":"Limit1"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Call 'Qdrant_MVP'","type":"main","index":0}]]},"Call 'Qdrant_MVP'":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"Call 'cria_banco_qdrant'":{"main":[[]]},"Update rows in a table":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Limit1":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"63aef14f-2251-4b57-b785-b03cdd118aa0","activeVersionId":"63aef14f-2251-4b57-b785-b03cdd118aa0","triggerCount":0,"shared":[{"updatedAt":"2026-03-04T21:43:20.167Z","createdAt":"2026-03-04T21:43:20.167Z","role":"workflow:owner","workflowId":"uMmEzo0iirR6KB1l","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-03-09T16:47:08.784Z","createdAt":"2026-03-09T16:47:05.256Z","versionId":"63aef14f-2251-4b57-b785-b03cdd118aa0","workflowId":"uMmEzo0iirR6KB1l","nodes":[{"parameters":{"batchSize":10,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[96,0],"id":"041d28fd-b0fe-4828-a8c2-11fc7ee472e3","name":"Loop Over Items"},{"parameters":{"workflowId":{"__rl":true,"value":"TDYKmKr4o7CWOfuE","mode":"list","cachedResultUrl":"/workflow/TDYKmKr4o7CWOfuE","cachedResultName":"Qdrant_MVP"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[384,64],"id":"c785a11e-fe7d-49e4-b946-6942a9b50f12","name":"Call 'Qdrant_MVP'"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"company_profile","mode":"list","cachedResultName":"company_profile"},"columns":{"mappingMode":"defineBelow","value":{"qdrant":true,"id":"={{ $json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"nome_empresa","displayName":"nome_empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cnpj","displayName":"cnpj","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"full_profile","displayName":"full_profile","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"municipio","displayName":"municipio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"uf","displayName":"uf","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"error","displayName":"error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"qdrant","displayName":"qdrant","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[656,-176],"id":"d055753e-33cf-4e8e-8884-39527c0ed5be","name":"Update rows in a table","retryOnFail":true,"credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"company_profile","mode":"list","cachedResultName":"company_profile"},"limit":5000,"where":{"values":[{"column":"qdrant","value":"False"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-192,0],"id":"268265a5-e998-4285-8a76-ac8ba256c904","name":"Select rows from a table","retryOnFail":true,"credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-592,0],"id":"75d29938-0892-42d6-ad7f-a99857b6399a","name":"When Executed by Another Workflow"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-384,0],"id":"6ba192b2-94c2-4ba1-9bd5-d2bbd3ed8507","name":"Limit"},{"parameters":{"workflowId":{"__rl":true,"value":"uMmEzo0iirR6KB1l","mode":"list","cachedResultUrl":"/workflow/uMmEzo0iirR6KB1l","cachedResultName":"cria_banco_qdrant"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1072,-176],"id":"2c8b5775-980a-4d7d-b698-b5e03f8bef75","name":"Call 'cria_banco_qdrant'"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[864,-176],"id":"b316f934-9137-4e11-b41e-73e9dc77b983","name":"Limit1"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Call 'Qdrant_MVP'","type":"main","index":0}]]},"Call 'Qdrant_MVP'":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"Call 'cria_banco_qdrant'":{"main":[[]]},"Update rows in a table":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Limit1":{"main":[[]]}},"authors":"ABC  advise","name":"Version 63aef14f","description":"","autosaved":true},"tags":[]}