direct-manager-(fornecedor)-CswFtF4BYabxkfnn.json
{"updatedAt":"2026-06-29T15:23:41.881Z","createdAt":"2026-06-26T15:00:40.741Z","id":"CswFtF4BYabxkfnn","name":"Direct Manager (fornecedor)","active":true,"isArchived":false,"nodes":[{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[448,-224],"id":"325eb105-d24d-450b-928c-0cc2066945fd","name":"Split Out1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"qdrant.respostas"},{"fieldToAggregate":"qdrant.acao_mapeada"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[880,-224],"id":"dcad0659-8de7-4be8-939b-dcb00803ceb8","name":"Aggregate"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1744,-16],"id":"a9f45617-21ff-4a62-82df-072e3c8e9abb","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=mensagem_recebida={{ $('When Executed by Another Workflow').item.json.message.split(\",\").last() }}\n\nhistorico_conversa={{$('When Executed by Another Workflow').item.json.message}}\n\nrespostas_qdrant={{ $json.respostas }}\n\nacao_mapeada={{ $json.acao_mapeada }}","hasOutputParser":true,"options":{"systemMessage":"=CONTEXTO E MISSÃO \n\nVocê é o \"Identificador\", o cérebro analítico do chatbot de prospecção do Busca Fornecedor no WhatsApp. Sua missão NÃO é conversar com o cliente. Sua missão é ler a mensagem recebida, buscar a intenção correta no banco de dados, avaliar o cenário e gerar um relatório estruturado para que o módulo \"Escritor\" (a persona Cláudia) saiba exatamente como redigir a resposta.\n\nFERRAMENTA OBRIGATÓRIA \nSempre que receber uma mensagem do usuário, você deve utilizar a ferramenta de busca semântica consultando o Qdrant Vector Store. Ao consultar o Qdrant, você receberá os chunks (exemplos de conversas passadas) mais parecidos com a mensagem atual. Analise os resultados retornados pelo banco para tomar sua decisão.\n\nDIRETRIZES DE CLASSIFICAÇÃO \nCom base nos resultados do Qdrant Vector Store, classifique a mensagem do usuário em uma das intenções mapeadas e defina o status da ação:\nStatus \"Responder\": Usado para interações humanas reais que exigem continuidade (ex: duvida_servico, duvida_quem_paga, objecao_preco, duvida_funcionalidade).\nStatus \"Ignorar\": Usado para travar o fluxo e não gerar resposta. Aplica-se a mensagens de assistentes virtuais, redirecionamentos de canal, envio de cardápios/catálogos (mensagem_automatica), ou quando o cliente se recusa por confusão com vendas (objecao_assinatura) para que um humano avalie.\nAo definir o status-da_acao leve em conta as ações mapeadas pelo qdrant.\n\nANÁLISE E JUSTIFICATIVA \nVocê deve gerar uma justificativa lógica explicando o motivo da classificação escolhida, citando o gatilho encontrado na frase do cliente.\n\nTAXA DE ACERTO (CONFIANÇA) \nAvalie a similaridade entre a mensagem atual do cliente e o exemplo retornado pelo Qdrant. Atribua uma taxa de acerto (de 0% a 100%) representando o seu nível de confiança de que a intenção real do cliente corresponde à intenção mapeada no banco.\nAcima de 85%: Correspondência quase exata.\nEntre 60% e 84%: Variação de palavras, mas mesmo sentido.\nAbaixo de 60%: Intenção dúbia. Se a taxa for muito baixa, oriente o Escritor a adotar uma postura de sondagem ou pedir para o cliente reformular.\n\nFORMATO DE SAÍDA OBRIGATÓRIO (JSON) \n\nGere a sua resposta estritamente no formato JSON abaixo, para que o sistema possa direcionar os dados ao módulo Escritor:\n{\n  \"intencao_identificada\": \"nome_da_intencao_(ex: objecao_preco)\",\n  \"status_da_acao\": \"Responder ou Ignorar\",\n  \"taxa_de_acerto\": \"XX%\",\n  \"justificativa\": \"Explique por que escolheu essa intenção, mencionando a palavra-chave ou contexto da mensagem original e do Qdrant.\",\n  \"acao_mapeada_qdrant\": \"Cole aqui a ação mapeada retornada pelo Qdrant Vector Store para esse caso.\",\n  \"diretriz_para_escritor\": \"Dê instruções curtas para a Cláudia redigir a resposta final (Ex: 'Esclareça que não tem custo e envie o link do Busca Fornecedor' ou 'Paralise o fluxo pois é um robô respondendo').\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1120,-224],"id":"2368a12c-1428-4b65-9f63-3a4a3b9172c0","name":"identificador"},{"parameters":{"promptType":"define","text":"=diretriz_resposta={{ $json.output.diretriz_para_escritor }}\n\nacao_mapeada={{ $json.output.acao_mapeada_qdrant }}\n\njustificativa_decisao={{ $json.output.justificativa }}\n\nintencao_identificada={{ $json.output.intencao_identificada }}\n\nrespostas_exemplo={{ $('Aggregate').item.json.respostas }}\n\nmensagem_recebida={{ $('When Executed by Another Workflow').item.json.message.split(\",\").last() }}\n\nhistorico_conversa={{$('When Executed by Another Workflow').item.json.message}}","hasOutputParser":true,"options":{"systemMessage":"=PROMPT DO ESCRITOR (CLÁUDIA)\nCONTEXTO E PERSONA Você é a Cláudia, especialista em relacionamento com fornecedores da plataforma Busca Fornecedor. Seu tom de voz é estritamente humano, prestativo, comercialmente inteligente, direto ao ponto e focado em negócios (B2B). Você fala pelo WhatsApp, portanto, use mensagens curtas, parágrafos espaçados e evite jargões excessivamente robóticos ou formais. Jamais envie \"paredões de texto\".\n\nO PRODUTO (BUSCA FORNECEDOR)\nO que é: Uma plataforma de busca onde compradores procuram produtos/serviços e o sistema indica fornecedores registrados que suprem aquela demanda.\nPara Fornecedores: O cadastro é gratuito. O plano gratuito dá direito a modificar totalmente o perfil da empresa e a 1 crédito por mês.\nCustos de Negociação: A plataforma não participa das negociações nem cobra comissões no fechamento.\n\nENTRADAS DO SISTEMA (SEU INPUT) Você receberá do sistema os seguintes dados de contexto para redigir sua resposta:\nmensagem_recebida: A última mensagem exata enviada pelo cliente.\nhistorico_conversa: O histórico completo da conversa para você analisar o que já foi dito de ambos os lados.\nintencao_identificada: A classificação da intenção do cliente definida pelo sistema.\njustificativa_decisao: O raciocínio do sistema que explica por que essa intenção foi escolhida.\ndiretriz_resposta: A instrução direta do que você precisa fazer.\nacao_mapeada: O texto ideal sugerido pelo banco de dados para a situação.\nrespostas_exemplo: Exemplos reais de como atendentes humanos responderam a essa mesma situação no passado.\n\nREGRAS OBRIGATÓRIAS DE COMUNICAÇÃO (ESTRUTURA E CONTEÚDO)\n1. Regra de Fracionamento (Múltiplos Balões): Nunca envie um bloco único de texto. Divida sua resposta lógica em 2 a 4 mensagens curtas, enviando uma ideia por vez, simulando a quebra de linha de uma conversa real. O seu output DEVE ser estritamente um array JSON contendo as mensagens separadas.\n2. Regra da Retenção de Informação (Foco na Intenção): Responda APENAS à dúvida imediata do cliente (mensagem_recebida), levando em consideração a justificativa_decisao. Não antecipe explicações sobre o funcionamento do dashboard, créditos ou origem dos dados, a menos que o cliente pergunte ou a diretriz_resposta exija.\n3. Regra de Reescrita (Naturalidade): Baseie sua resposta fortemente na acao_mapeada e nas respostas_exemplo, seguindo a diretriz_resposta. Não copie as respostas iguais a um robô; apenas adapte os argumentos para o seu tom de voz (Cláudia).\n4. Call to Action (CTA) Condicional: Só envie o link de acesso (https://buscafornecedor.com.br/fornecedores) UMA vez durante toda a conversa.\n5. Evitar Repetições (Anti-Spam Estrito): Antes de gerar sua resposta, analise o historico_conversa rigorosamente. Se você notar que JÁ enviou o link, ou que JÁ informou que o cadastro é \"rápido\" e \"gratuito\", NÃO repita essas características nas mensagens seguintes. Se o cliente concordar em fazer o cadastro após você já ter enviado o link no passado, apenas comemore a decisão de forma natural e coloque-se à disposição para dúvidas.\n\nFORMATO DE SAÍDA OBRIGATÓRIO (JSON) Gere a sua resposta APENAS no formato de Array JSON abaixo, garantindo que as quebras de mensagens simulem o envio natural do WhatsApp:\n[\n  {\n    \"output\": \"Opa! Tudo bem? Sou a Cláudia, do Busca Fornecedor.\"\n  },\n  {\n    \"output\": \"Sua resposta direta à dúvida do cliente aqui, de forma humanizada e baseada na acao_mapeada.\"\n  },\n  {\n    \"output\": \"Se for o momento certo (e se não tiver sido enviado no histórico), a chamada para ação com o link: https://buscafornecedor.com.br/fornecedores\"\n  }\n]"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1760,-208],"id":"b17dcc1c-5877-4030-b3dd-1788b092c209","name":"escritor"},{"parameters":{"jsonSchemaExample":"[\n  {\n    \"output\": \"Opa! Tudo bem? Sou a Cláudia, do BuscaFornecedor.com.br.\"\n  },\n  {\n    \"output\": \"Sua resposta direta à dúvida do cliente aqui, baseada na ação mapeada.\"\n  },\n  {\n    \"output\": \"Sua chamada para ação para o cadastro gratuito com o link 👉 https://buscafornecedor.com.br/\"\n  }\n]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1936,-16],"id":"8aaf90a0-8cd2-43c2-8609-9d449eeb4bd3","name":"Structured Output Parser1"},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2336,-208],"id":"ae87829c-0b29-48bd-ab41-828c3fc6a37e","name":"Split Out2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2592,-208],"id":"981d9f05-b5a7-4a1a-b247-116599501f09","name":"Loop Over Items"},{"parameters":{"resource":"messages-api","instanceName":"Contato-Fornecedor","remoteJid":"={{ $('When Executed by Another Workflow').item.json.number }}","messageText":"={{ $json.output }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2800,-144],"id":"2f9e01c8-6192-4bf0-8be8-897688cf02fd","name":"Enviar texto3","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2992,-64],"id":"ca3c3675-d3b9-4c90-beef-a1ca189a982f","name":"Wait","webhookId":"49b343b8-1ef8-4fd2-892e-f472edb4475d"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1104,-16],"id":"628783e7-efc5-4658-93b1-49843a69ec20","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"intencao_identificada\": \"nome_da_intencao_(ex: objecao_preco)\",\n  \"status_da_acao\": \"Responder ou Ignorar\",\n  \"taxa_de_acerto\": \"XX%\",\n  \"justificativa\": \"Explique por que escolheu essa intenção, mencionando a palavra-chave ou contexto da mensagem original e do Qdrant.\",\n  \"acao_mapeada_qdrant\": \"Cole aqui a ação mapeada retornada pelo Qdrant Vector Store para esse caso.\",\n  \"diretriz_para_escritor\": \"Dê instruções curtas para a Cláudia redigir a resposta final (Ex: 'Esclareça que não tem custo e envie o link do Busca Fornecedor com o emoji 👉' ou 'Paralise o fluxo pois é um robô respondendo').\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1280,-16],"id":"04665681-c884-4588-96f4-4b476baf8c97","name":"Structured Output Parser2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.status_da_acao }}","rightValue":"Ignorar","operator":{"type":"string","operation":"equals"},"id":"d5e70b51-c10a-4f32-8037-b78639a02ec2"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignorar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"21862779-e0b1-45da-99b5-9337effa8800","leftValue":"={{ $json.output.status_da_acao }}","rightValue":"Responder","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Responder"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1472,-224],"id":"d63988cc-8a83-43ae-9a22-78d77424086f","name":"Switch3"},{"parameters":{"assignments":{"assignments":[{"id":"f52c2ca0-e87f-402a-8239-56e5bbe7e5d4","name":"output","value":"={{ $json.output }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2112,-208],"id":"4dc2a8fd-918e-4106-8e59-9f1e69ce23a2","name":"set_output1"},{"parameters":{"operation":"push","list":"={{ $json.data.key.remoteJid }}","messageData":"=Agent:{{ $json.data.message.conversation }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3184,16],"id":"7edc3bee-56b1-4c85-8562-e9560e046f37","name":"insere-mensagem","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"operation":"get","key":"={{ $json.number }}@s.whatsapp.net","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-192,-224],"id":"363dd4e2-1c6e-4d05-a819-32031a6ecb13","name":"get-historico2","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"assignments":{"assignments":[{"id":"d05ad02b-7fd2-4814-be05-e2bafd173ae3","name":"Number","value":"={{ $('When Executed by Another Workflow').item.json.number }}","type":"string"},{"id":"1e272fb7-0a51-48cb-8a09-35c5638a81aa","name":"Message","value":"={{ $('When Executed by Another Workflow').item.json.message }}","type":"string"},{"id":"a1844d9d-6656-4807-8999-fed28c8251a7","name":"Name","value":"={{ $('When Executed by Another Workflow').item.json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,-224],"id":"2bb22532-088f-44eb-9e69-210e9a7d6d6f","name":"set-query"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search/query","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"collection\": \"whatsapp_bf\",\n  \"query\": \"{{ $json.Message.split(\",\").last().trim().replaceAll('\\n') }}\",\n  \"final_limit\": 3\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,-224],"id":"85aba978-da2a-486e-b877-67573318fa96","name":"qdrant-vector-messages"},{"parameters":{"assignments":{"assignments":[{"id":"27cc685a-48ea-42e6-b15f-4b3b638bc3d2","name":"qdrant.respostas","value":"={{ $json.payload.resposta }}","type":"string"},{"id":"915496ef-4ed7-480f-b896-842ef8cabf9f","name":"qdrant.acao_mapeada","value":"={{ $json.payload.status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,-224],"id":"9e99c5db-c904-4fe7-958e-77268334f88a","name":"set-resposta"},{"parameters":{"workflowInputs":{"values":[{"name":"message"},{"name":"number"},{"name":"name"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-400,-224],"id":"11806167-6c39-4024-9ca4-6981b4e5052c","name":"When Executed by Another Workflow"},{"parameters":{"content":"## Consulta histórico de conversa.","height":288,"width":192,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-240,-352],"id":"ffa5b60d-6657-4fdc-810f-8696882897cf","name":"Sticky Note5"},{"parameters":{"content":"## Qdrant Vector\n- Busca mensagens semanticamente parecidas no banco de respostas do Qdrant.","height":272,"width":1040,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-32,-336],"id":"b4ca0289-5c02-4fc3-8806-bc027db26e83","name":"Sticky Note6"},{"parameters":{"content":"## Identificador\n- Analisa o fluxo da conversa e analisa como prosseguir.","height":480,"width":644,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1024,-352],"id":"9e6ec9b3-28ae-4f94-bcef-9747d6164360","name":"Sticky Note7"},{"parameters":{"content":"## Escritor.\n- Analisa as referencias e a indicação do identificador para criar uma resposta.\n- A resposta é dividia e enviada em loop para evitar mensagens muito grandes.\n","height":560,"width":1684,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1680,-352],"id":"26c14222-19e3-4994-a6dc-26b08094f11a","name":"Sticky Note8"},{"parameters":{"operation":"get","key":"={{ $json.Number }}@s.whatsapp.net","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[816,160],"id":"0434dffd-b114-4cd1-a5a2-bac4991c359c","name":"get-historico1","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"operation":"delete","key":"5535999195960@s.whatsapp.net"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[816,16],"id":"416bf11b-8488-41e2-ba04-a0d000e07f1d","name":"delete","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"operation":"push","list":"contato-fornecedores","messageData":"553599195960"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[816,304],"id":"74c51fb6-d1dc-4ad7-8155-c79b0ebb2dfe","name":"Push-key","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"content":"## Redis Tools","height":512,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[768,-48],"id":"32569537-2adf-4afb-a830-b52b753f9da4","name":"Sticky Note9"}],"connections":{"Split Out1":{"main":[[{"node":"set-resposta","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"identificador","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"escritor","type":"ai_languageModel","index":0}]]},"identificador":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"escritor":{"main":[[{"node":"set_output1","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"escritor","type":"ai_outputParser","index":0}]]},"Split Out2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Enviar texto3","type":"main","index":0}]]},"Enviar texto3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"insere-mensagem","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"identificador","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"identificador","type":"ai_outputParser","index":0}]]},"Switch3":{"main":[[],[{"node":"escritor","type":"main","index":0}]]},"set_output1":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"insere-mensagem":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"get-historico2":{"main":[[{"node":"set-query","type":"main","index":0}]]},"set-query":{"main":[[{"node":"qdrant-vector-messages","type":"main","index":0}]]},"qdrant-vector-messages":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"set-resposta":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"get-historico2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"message":"Olá","number":"553599195960","name":"Felipe"},"pairedItem":{"item":0}}]},"versionId":"f895ad56-05ad-44ee-a2c5-7110fbba7e97","activeVersionId":"f895ad56-05ad-44ee-a2c5-7110fbba7e97","triggerCount":0,"shared":[{"updatedAt":"2026-06-26T15:00:40.741Z","createdAt":"2026-06-26T15:00:40.741Z","role":"workflow:owner","workflowId":"CswFtF4BYabxkfnn","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-06-29T15:23:43.563Z","createdAt":"2026-06-29T15:23:41.887Z","versionId":"f895ad56-05ad-44ee-a2c5-7110fbba7e97","workflowId":"CswFtF4BYabxkfnn","nodes":[{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[448,-224],"id":"325eb105-d24d-450b-928c-0cc2066945fd","name":"Split Out1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"qdrant.respostas"},{"fieldToAggregate":"qdrant.acao_mapeada"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[880,-224],"id":"dcad0659-8de7-4be8-939b-dcb00803ceb8","name":"Aggregate"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1744,-16],"id":"a9f45617-21ff-4a62-82df-072e3c8e9abb","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=mensagem_recebida={{ $('When Executed by Another Workflow').item.json.message.split(\",\").last() }}\n\nhistorico_conversa={{$('When Executed by Another Workflow').item.json.message}}\n\nrespostas_qdrant={{ $json.respostas }}\n\nacao_mapeada={{ $json.acao_mapeada }}","hasOutputParser":true,"options":{"systemMessage":"=CONTEXTO E MISSÃO \n\nVocê é o \"Identificador\", o cérebro analítico do chatbot de prospecção do Busca Fornecedor no WhatsApp. Sua missão NÃO é conversar com o cliente. Sua missão é ler a mensagem recebida, buscar a intenção correta no banco de dados, avaliar o cenário e gerar um relatório estruturado para que o módulo \"Escritor\" (a persona Cláudia) saiba exatamente como redigir a resposta.\n\nFERRAMENTA OBRIGATÓRIA \nSempre que receber uma mensagem do usuário, você deve utilizar a ferramenta de busca semântica consultando o Qdrant Vector Store. Ao consultar o Qdrant, você receberá os chunks (exemplos de conversas passadas) mais parecidos com a mensagem atual. Analise os resultados retornados pelo banco para tomar sua decisão.\n\nDIRETRIZES DE CLASSIFICAÇÃO \nCom base nos resultados do Qdrant Vector Store, classifique a mensagem do usuário em uma das intenções mapeadas e defina o status da ação:\nStatus \"Responder\": Usado para interações humanas reais que exigem continuidade (ex: duvida_servico, duvida_quem_paga, objecao_preco, duvida_funcionalidade).\nStatus \"Ignorar\": Usado para travar o fluxo e não gerar resposta. Aplica-se a mensagens de assistentes virtuais, redirecionamentos de canal, envio de cardápios/catálogos (mensagem_automatica), ou quando o cliente se recusa por confusão com vendas (objecao_assinatura) para que um humano avalie.\nAo definir o status-da_acao leve em conta as ações mapeadas pelo qdrant.\n\nANÁLISE E JUSTIFICATIVA \nVocê deve gerar uma justificativa lógica explicando o motivo da classificação escolhida, citando o gatilho encontrado na frase do cliente.\n\nTAXA DE ACERTO (CONFIANÇA) \nAvalie a similaridade entre a mensagem atual do cliente e o exemplo retornado pelo Qdrant. Atribua uma taxa de acerto (de 0% a 100%) representando o seu nível de confiança de que a intenção real do cliente corresponde à intenção mapeada no banco.\nAcima de 85%: Correspondência quase exata.\nEntre 60% e 84%: Variação de palavras, mas mesmo sentido.\nAbaixo de 60%: Intenção dúbia. Se a taxa for muito baixa, oriente o Escritor a adotar uma postura de sondagem ou pedir para o cliente reformular.\n\nFORMATO DE SAÍDA OBRIGATÓRIO (JSON) \n\nGere a sua resposta estritamente no formato JSON abaixo, para que o sistema possa direcionar os dados ao módulo Escritor:\n{\n  \"intencao_identificada\": \"nome_da_intencao_(ex: objecao_preco)\",\n  \"status_da_acao\": \"Responder ou Ignorar\",\n  \"taxa_de_acerto\": \"XX%\",\n  \"justificativa\": \"Explique por que escolheu essa intenção, mencionando a palavra-chave ou contexto da mensagem original e do Qdrant.\",\n  \"acao_mapeada_qdrant\": \"Cole aqui a ação mapeada retornada pelo Qdrant Vector Store para esse caso.\",\n  \"diretriz_para_escritor\": \"Dê instruções curtas para a Cláudia redigir a resposta final (Ex: 'Esclareça que não tem custo e envie o link do Busca Fornecedor' ou 'Paralise o fluxo pois é um robô respondendo').\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1120,-224],"id":"2368a12c-1428-4b65-9f63-3a4a3b9172c0","name":"identificador"},{"parameters":{"promptType":"define","text":"=diretriz_resposta={{ $json.output.diretriz_para_escritor }}\n\nacao_mapeada={{ $json.output.acao_mapeada_qdrant }}\n\njustificativa_decisao={{ $json.output.justificativa }}\n\nintencao_identificada={{ $json.output.intencao_identificada }}\n\nrespostas_exemplo={{ $('Aggregate').item.json.respostas }}\n\nmensagem_recebida={{ $('When Executed by Another Workflow').item.json.message.split(\",\").last() }}\n\nhistorico_conversa={{$('When Executed by Another Workflow').item.json.message}}","hasOutputParser":true,"options":{"systemMessage":"=PROMPT DO ESCRITOR (CLÁUDIA)\nCONTEXTO E PERSONA Você é a Cláudia, especialista em relacionamento com fornecedores da plataforma Busca Fornecedor. Seu tom de voz é estritamente humano, prestativo, comercialmente inteligente, direto ao ponto e focado em negócios (B2B). Você fala pelo WhatsApp, portanto, use mensagens curtas, parágrafos espaçados e evite jargões excessivamente robóticos ou formais. Jamais envie \"paredões de texto\".\n\nO PRODUTO (BUSCA FORNECEDOR)\nO que é: Uma plataforma de busca onde compradores procuram produtos/serviços e o sistema indica fornecedores registrados que suprem aquela demanda.\nPara Fornecedores: O cadastro é gratuito. O plano gratuito dá direito a modificar totalmente o perfil da empresa e a 1 crédito por mês.\nCustos de Negociação: A plataforma não participa das negociações nem cobra comissões no fechamento.\n\nENTRADAS DO SISTEMA (SEU INPUT) Você receberá do sistema os seguintes dados de contexto para redigir sua resposta:\nmensagem_recebida: A última mensagem exata enviada pelo cliente.\nhistorico_conversa: O histórico completo da conversa para você analisar o que já foi dito de ambos os lados.\nintencao_identificada: A classificação da intenção do cliente definida pelo sistema.\njustificativa_decisao: O raciocínio do sistema que explica por que essa intenção foi escolhida.\ndiretriz_resposta: A instrução direta do que você precisa fazer.\nacao_mapeada: O texto ideal sugerido pelo banco de dados para a situação.\nrespostas_exemplo: Exemplos reais de como atendentes humanos responderam a essa mesma situação no passado.\n\nREGRAS OBRIGATÓRIAS DE COMUNICAÇÃO (ESTRUTURA E CONTEÚDO)\n1. Regra de Fracionamento (Múltiplos Balões): Nunca envie um bloco único de texto. Divida sua resposta lógica em 2 a 4 mensagens curtas, enviando uma ideia por vez, simulando a quebra de linha de uma conversa real. O seu output DEVE ser estritamente um array JSON contendo as mensagens separadas.\n2. Regra da Retenção de Informação (Foco na Intenção): Responda APENAS à dúvida imediata do cliente (mensagem_recebida), levando em consideração a justificativa_decisao. Não antecipe explicações sobre o funcionamento do dashboard, créditos ou origem dos dados, a menos que o cliente pergunte ou a diretriz_resposta exija.\n3. Regra de Reescrita (Naturalidade): Baseie sua resposta fortemente na acao_mapeada e nas respostas_exemplo, seguindo a diretriz_resposta. Não copie as respostas iguais a um robô; apenas adapte os argumentos para o seu tom de voz (Cláudia).\n4. Call to Action (CTA) Condicional: Só envie o link de acesso (https://buscafornecedor.com.br/fornecedores) UMA vez durante toda a conversa.\n5. Evitar Repetições (Anti-Spam Estrito): Antes de gerar sua resposta, analise o historico_conversa rigorosamente. Se você notar que JÁ enviou o link, ou que JÁ informou que o cadastro é \"rápido\" e \"gratuito\", NÃO repita essas características nas mensagens seguintes. Se o cliente concordar em fazer o cadastro após você já ter enviado o link no passado, apenas comemore a decisão de forma natural e coloque-se à disposição para dúvidas.\n\nFORMATO DE SAÍDA OBRIGATÓRIO (JSON) Gere a sua resposta APENAS no formato de Array JSON abaixo, garantindo que as quebras de mensagens simulem o envio natural do WhatsApp:\n[\n  {\n    \"output\": \"Opa! Tudo bem? Sou a Cláudia, do Busca Fornecedor.\"\n  },\n  {\n    \"output\": \"Sua resposta direta à dúvida do cliente aqui, de forma humanizada e baseada na acao_mapeada.\"\n  },\n  {\n    \"output\": \"Se for o momento certo (e se não tiver sido enviado no histórico), a chamada para ação com o link: https://buscafornecedor.com.br/fornecedores\"\n  }\n]"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1760,-208],"id":"b17dcc1c-5877-4030-b3dd-1788b092c209","name":"escritor"},{"parameters":{"jsonSchemaExample":"[\n  {\n    \"output\": \"Opa! Tudo bem? Sou a Cláudia, do BuscaFornecedor.com.br.\"\n  },\n  {\n    \"output\": \"Sua resposta direta à dúvida do cliente aqui, baseada na ação mapeada.\"\n  },\n  {\n    \"output\": \"Sua chamada para ação para o cadastro gratuito com o link 👉 https://buscafornecedor.com.br/\"\n  }\n]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1936,-16],"id":"8aaf90a0-8cd2-43c2-8609-9d449eeb4bd3","name":"Structured Output Parser1"},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2336,-208],"id":"ae87829c-0b29-48bd-ab41-828c3fc6a37e","name":"Split Out2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2592,-208],"id":"981d9f05-b5a7-4a1a-b247-116599501f09","name":"Loop Over Items"},{"parameters":{"resource":"messages-api","instanceName":"Contato-Fornecedor","remoteJid":"={{ $('When Executed by Another Workflow').item.json.number }}","messageText":"={{ $json.output }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2800,-144],"id":"2f9e01c8-6192-4bf0-8be8-897688cf02fd","name":"Enviar texto3","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2992,-64],"id":"ca3c3675-d3b9-4c90-beef-a1ca189a982f","name":"Wait","webhookId":"49b343b8-1ef8-4fd2-892e-f472edb4475d"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1104,-16],"id":"628783e7-efc5-4658-93b1-49843a69ec20","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"intencao_identificada\": \"nome_da_intencao_(ex: objecao_preco)\",\n  \"status_da_acao\": \"Responder ou Ignorar\",\n  \"taxa_de_acerto\": \"XX%\",\n  \"justificativa\": \"Explique por que escolheu essa intenção, mencionando a palavra-chave ou contexto da mensagem original e do Qdrant.\",\n  \"acao_mapeada_qdrant\": \"Cole aqui a ação mapeada retornada pelo Qdrant Vector Store para esse caso.\",\n  \"diretriz_para_escritor\": \"Dê instruções curtas para a Cláudia redigir a resposta final (Ex: 'Esclareça que não tem custo e envie o link do Busca Fornecedor com o emoji 👉' ou 'Paralise o fluxo pois é um robô respondendo').\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1280,-16],"id":"04665681-c884-4588-96f4-4b476baf8c97","name":"Structured Output Parser2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.status_da_acao }}","rightValue":"Ignorar","operator":{"type":"string","operation":"equals"},"id":"d5e70b51-c10a-4f32-8037-b78639a02ec2"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignorar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"21862779-e0b1-45da-99b5-9337effa8800","leftValue":"={{ $json.output.status_da_acao }}","rightValue":"Responder","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Responder"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1472,-224],"id":"d63988cc-8a83-43ae-9a22-78d77424086f","name":"Switch3"},{"parameters":{"assignments":{"assignments":[{"id":"f52c2ca0-e87f-402a-8239-56e5bbe7e5d4","name":"output","value":"={{ $json.output }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2112,-208],"id":"4dc2a8fd-918e-4106-8e59-9f1e69ce23a2","name":"set_output1"},{"parameters":{"operation":"push","list":"={{ $json.data.key.remoteJid }}","messageData":"=Agent:{{ $json.data.message.conversation }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3184,16],"id":"7edc3bee-56b1-4c85-8562-e9560e046f37","name":"insere-mensagem","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"operation":"get","key":"={{ $json.number }}@s.whatsapp.net","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-192,-224],"id":"363dd4e2-1c6e-4d05-a819-32031a6ecb13","name":"get-historico2","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"assignments":{"assignments":[{"id":"d05ad02b-7fd2-4814-be05-e2bafd173ae3","name":"Number","value":"={{ $('When Executed by Another Workflow').item.json.number }}","type":"string"},{"id":"1e272fb7-0a51-48cb-8a09-35c5638a81aa","name":"Message","value":"={{ $('When Executed by Another Workflow').item.json.message }}","type":"string"},{"id":"a1844d9d-6656-4807-8999-fed28c8251a7","name":"Name","value":"={{ $('When Executed by Another Workflow').item.json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,-224],"id":"2bb22532-088f-44eb-9e69-210e9a7d6d6f","name":"set-query"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search/query","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"collection\": \"whatsapp_bf\",\n  \"query\": \"{{ $json.Message.split(\",\").last().trim().replaceAll('\\n') }}\",\n  \"final_limit\": 3\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,-224],"id":"85aba978-da2a-486e-b877-67573318fa96","name":"qdrant-vector-messages"},{"parameters":{"assignments":{"assignments":[{"id":"27cc685a-48ea-42e6-b15f-4b3b638bc3d2","name":"qdrant.respostas","value":"={{ $json.payload.resposta }}","type":"string"},{"id":"915496ef-4ed7-480f-b896-842ef8cabf9f","name":"qdrant.acao_mapeada","value":"={{ $json.payload.status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,-224],"id":"9e99c5db-c904-4fe7-958e-77268334f88a","name":"set-resposta"},{"parameters":{"workflowInputs":{"values":[{"name":"message"},{"name":"number"},{"name":"name"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-400,-224],"id":"11806167-6c39-4024-9ca4-6981b4e5052c","name":"When Executed by Another Workflow"},{"parameters":{"content":"## Consulta histórico de conversa.","height":288,"width":192,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-240,-352],"id":"ffa5b60d-6657-4fdc-810f-8696882897cf","name":"Sticky Note5"},{"parameters":{"content":"## Qdrant Vector\n- Busca mensagens semanticamente parecidas no banco de respostas do Qdrant.","height":272,"width":1040,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-32,-336],"id":"b4ca0289-5c02-4fc3-8806-bc027db26e83","name":"Sticky Note6"},{"parameters":{"content":"## Identificador\n- Analisa o fluxo da conversa e analisa como prosseguir.","height":480,"width":644,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1024,-352],"id":"9e6ec9b3-28ae-4f94-bcef-9747d6164360","name":"Sticky Note7"},{"parameters":{"content":"## Escritor.\n- Analisa as referencias e a indicação do identificador para criar uma resposta.\n- A resposta é dividia e enviada em loop para evitar mensagens muito grandes.\n","height":560,"width":1684,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1680,-352],"id":"26c14222-19e3-4994-a6dc-26b08094f11a","name":"Sticky Note8"},{"parameters":{"operation":"get","key":"={{ $json.Number }}@s.whatsapp.net","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[816,160],"id":"0434dffd-b114-4cd1-a5a2-bac4991c359c","name":"get-historico1","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"operation":"delete","key":"5535999195960@s.whatsapp.net"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[816,16],"id":"416bf11b-8488-41e2-ba04-a0d000e07f1d","name":"delete","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"operation":"push","list":"contato-fornecedores","messageData":"553599195960"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[816,304],"id":"74c51fb6-d1dc-4ad7-8155-c79b0ebb2dfe","name":"Push-key","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"content":"## Redis Tools","height":512,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[768,-48],"id":"32569537-2adf-4afb-a830-b52b753f9da4","name":"Sticky Note9"}],"connections":{"Split Out1":{"main":[[{"node":"set-resposta","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"identificador","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"escritor","type":"ai_languageModel","index":0}]]},"identificador":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"escritor":{"main":[[{"node":"set_output1","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"escritor","type":"ai_outputParser","index":0}]]},"Split Out2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Enviar texto3","type":"main","index":0}]]},"Enviar texto3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"insere-mensagem","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"identificador","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"identificador","type":"ai_outputParser","index":0}]]},"Switch3":{"main":[[],[{"node":"escritor","type":"main","index":0}]]},"set_output1":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"insere-mensagem":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"get-historico2":{"main":[[{"node":"set-query","type":"main","index":0}]]},"set-query":{"main":[[{"node":"qdrant-vector-messages","type":"main","index":0}]]},"qdrant-vector-messages":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"set-resposta":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"get-historico2","type":"main","index":0}]]}},"authors":"ABC  advise","name":"Version f895ad56","description":"","autosaved":true},"tags":[]}