direct-manager-4GiXZNosYOAkmEMz.json
{"updatedAt":"2026-05-20T20:13:23.952Z","createdAt":"2026-04-23T15:00:22.498Z","id":"4GiXZNosYOAkmEMz","name":"Direct Manager","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"messages-api","instanceName":"BuscaFornecedor","remoteJid":"={{ $('Trigger').item.json.Number }}","messageText":"={{ $json.output.mensagem }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[608,-800],"id":"39919503-fe83-4255-837e-0187d032b363","name":"Enviar texto","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-528,-272],"id":"57c258b7-d098-4097-b788-c019ba1104da","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.decision }}","rightValue":"=prosseguir_conversa","operator":{"type":"string","operation":"equals"},"id":"97b8bf3b-a745-4a7c-ba0f-3df886be1bd0"}],"combinator":"and"},"renameOutput":true,"outputKey":"Prosseguir "},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6de0c088-49b6-424d-8cdf-49db9b0e11d0","leftValue":"={{ $json.output.decision }}","rightValue":"encerrar_conversa","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Encerrar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ed4fc07d-8699-4043-81d6-53b18ee22303","leftValue":"={{ $json.output.decision }}","rightValue":"iniciar_busca","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Busca"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-288,-624],"id":"2ee65982-44d1-455b-ba28-27205435e732","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"dfzSiOV2FBfv6ZFs","mode":"list","cachedResultUrl":"/workflow/dfzSiOV2FBfv6ZFs","cachedResultName":"Registrar Conta Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero":"={{ $('Trigger').item.json.Number }}","nome":"={{ $('Trigger').item.json.Name }}"},"matchingColumns":[],"schema":[{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[608,-416],"id":"894256a4-3c80-4d9f-b5d6-751ef1df124e","name":"Call 'Registrar Conta Whatsapp'"},{"parameters":{"workflowId":{"__rl":true,"value":"P5glDm8v5AZwgudn","mode":"list","cachedResultUrl":"/workflow/P5glDm8v5AZwgudn","cachedResultName":"Busca Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","query":"={{ $('set_busca').item.json.output.query }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[832,-416],"id":"6dfa28ea-7d27-4138-9a95-24b7b5ea706e","name":"Call 'Busca Whatsapp'","alwaysOutputData":true},{"parameters":{"operation":"delete","key":"={{ $('Trigger').item.json.Number }}@s.whatsapp.net"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[608,-608],"id":"2aadd05b-8afa-4e28-ba17-c71e5d2a3fee","name":"Desaloca-Memoria","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"operation":"push","list":"={{ $('Trigger').item.json.Number }}@s.whatsapp.net","messageData":"=Agent:{{ $json.data.message.conversation }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[816,-800],"id":"c1ff7a87-5e88-49da-92c0-787013a333ec","name":"Insere-Memoria","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"workflowInputs":{"values":[{"name":"Message"},{"name":"Number"},{"name":"Name"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1168,-608],"id":"7b04e459-c4ac-4bb4-8280-8e37c11b9300","name":"Trigger"},{"parameters":{"operation":"get","key":"={{ $json.Number }}@s.whatsapp.net","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-976,-608],"id":"875fb3cc-d819-4084-9518-db47e5b86c74","name":"get-historico","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"assignments":{"assignments":[{"id":"fcda94d8-5d7c-47f7-82f6-111b3cff41e1","name":"output","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-464,-608],"id":"90b265a8-69fd-4a52-8146-898cd6b1d02c","name":"set_output"},{"parameters":{"content":"## Trigger de mensagem.\n- Ativa ao receber uma mensagem direta e busca todo o histórico daquele usuário.","height":272,"width":400,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1216,-720],"id":"190aa55f-0504-48d3-81c7-a1726df38551","name":"Sticky Note"},{"parameters":{"content":"## Manager\n- Recebe o histórico e guia a conversa para uma busca ou encerramento.","height":592,"width":640,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-800,-720],"id":"7baec478-eb5a-4752-9862-6e65bd19dd80","name":"Sticky Note1"},{"parameters":{"content":"## Fluxo de Conversa\n- Prosseguir: Continua a conversa, normalmente busca reunir mais informação para realizar a busca.\n- Encerrar: Encerra a conversa e desaloca a memória, ocorre caso o usuário se desvie do objetivo de realizar a busca.\n- Buscar: Cria uma conta provisória, realiza a busca e retorna um resultado limitado. O objetivo é convidar o usuário a acessar o resultado completo no site.","height":800,"width":2484,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-144,-960],"id":"4c4ec09f-fb56-4563-8424-9ad96401ec9e","name":"Sticky Note2"},{"parameters":{"resource":"messages-api","instanceName":"BuscaFornecedor","remoteJid":"={{ $('Trigger').item.json.Number }}","messageText":"={{ $json.output.mensagem }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[400,-608],"id":"fa56f716-4986-418f-916b-90f9491d8ab4","name":"Enviar texto2","retryOnFail":true,"credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"content":"## Direct Manager (Agent)\n\n- Recebe Mensagens Diretas\n- Interpreta o objetivo da mensagem\n- Escolhe como responder:\n-- Prossegue a conversa para estruturar melhor a busca.\n-- Encerra a conversa.\n-- Realiza Busca Simplificada.\n\n","height":208,"width":432,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[320,-1376],"id":"c11df010-ce84-4bb2-99b4-c69e3ddd9df7","name":"Sticky Note3"},{"parameters":{"resource":"messages-api","instanceName":"BuscaFornecedor","remoteJid":"={{ $('Trigger').item.json.Number }}","messageText":"={{ $json.text }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1920,-400],"id":"d8b5e680-3c87-46d3-8777-3902ee68c0b7","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.completar_cadastro_url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"9027485f-7f4c-4642-a50f-cf67abad473b"}],"combinator":"and"},"renameOutput":true,"outputKey":"Conta Nova"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e4a98343-a7ae-44a1-8d3b-d20cbe6504a7","leftValue":"={{ $json.codigo }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Conta Existente"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1424,-400],"id":"9e9301ae-0c47-4ca8-a927-48b5ce4aed1e","name":"Switch1"},{"parameters":{"operation":"push","list":"={{ $('Trigger').item.json.Number }}@s.whatsapp.net","messageData":"=Agent:{{ $json.data.message.conversation }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2128,-400],"id":"d5bdb4e1-6f4a-44bc-878e-2443ff31a9c8","name":"Insere-Memoria1","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"assignments":{"assignments":[{"id":"1b92ef57-85ad-4d6e-b3b2-09b80ecf1c4f","name":"contexto","value":"={{ $json.parametros.descricao }}","type":"string"},{"id":"ef3eecf5-5b46-460f-b04e-d30bd1b6797c","name":"nome","value":"={{ $json.nome }}","type":"string"},{"id":"db904fe9-ac62-47d3-a31c-1a9c0e75a16e","name":"resultados","value":"={{ $json.resultados }}","type":"array"},{"id":"d3b04b7e-0057-4a4b-be10-ecea3cdbf61d","name":"codigo","value":"={{ $json.otp_code }}","type":"string"},{"id":"31391c78-7669-4951-81d1-4cdbc0b9ff74","name":"completar_cadastro_url","value":"={{ $json.completar_cadastro_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1232,-400],"id":"7804dea1-c93a-4057-a7b0-d337273c86d2","name":"Edit Fields"},{"parameters":{"mode":"combine","fieldsToMatchString":"id","joinMode":"enrichInput2","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1040,-400],"id":"abd28197-8eb2-44c1-aa7d-a2cb403e1325","name":"Merge"},{"parameters":{"jsCode":"const data = items[0].json;\n\n// 🔹 Dados básicos\nconst resultados = data.resultados || [];\nconst completarCadastroUrl = data.completar_cadastro_url || \"\";\nconst numero = data.telefone || data.numero;\n\n// 🔹 Normalizador\nconst getItem = (r) => r.item || r;\n\n// 🔹 Separar\nconst nacionais = resultados.filter(r => getItem(r).escopo === \"nacional\");\nconst locais = resultados.filter(r => getItem(r).escopo === \"local\");\n\n// 🔹 Ordenar\nconst ordenarPorNota = (arr) =>\n  [...arr].sort((a, b) => (getItem(b).nota ?? 0) - (getItem(a).nota ?? 0));\n\n// 🔹 Quantidades aleatórias\nconst qtdNacionais = Math.floor(Math.random() * 2) + 1;\nconst qtdLocais = Math.floor(Math.random() * 3) + 1;\n\n// 🔹 Seleção\nconst topNacionais = ordenarPorNota(nacionais).slice(0, qtdNacionais);\nconst topLocais = ordenarPorNota(locais).slice(0, qtdLocais);\n\n// 🔹 Junta tudo\nlet fornecedores = [...topNacionais, ...topLocais];\n\n// 🔹 Embaralhar\nfornecedores = fornecedores.sort(() => Math.random() - 0.5);\n\n// 🔹 Formatter\nconst formatarLista = (lista) => {\n  return lista\n    .map((r) => {\n      const item = getItem(r);\n\n      const nome = item.razao_social || \"Fornecedor\";\n      const site = item.site || \"\";\n\n      return `- ${nome}\\n${site}`;\n    })\n    .join(\"\\n\\n\");\n};\n\nconst listaFormatada = formatarLista(fornecedores);\n\n// 🔹 Templates\nconst templates = [\n\n`Achei alguns aqui que talvez ajudem:\n\n${listaFormatada}\n\nTem mais resultados nessa busca:\n${completarCadastroUrl}\n\nTomara que ajude 👍`,\n\n`Dei uma olhada rápida aqui e apareceram esses:\n\n${listaFormatada}\n\nTem mais opções nesse link:\n${completarCadastroUrl}`,\n\n`Já usei essa busca pra encontrar fornecedor uma vez e achei esses agora:\n\n${listaFormatada}\n\nO restante apareceu aqui:\n${completarCadastroUrl}`,\n\n`Achei esses aqui:\n\n${listaFormatada}\n\nNessa busca apareceram mais alguns também:\n${completarCadastroUrl}\n\nÀs vezes os menores respondem mais rápido.`\n];\n\n// 🔹 Escolha aleatória\nconst mensagem =\n  templates[Math.floor(Math.random() * templates.length)];\n\n// 🔹 Retorno\nreturn [\n  {\n    json: {\n      number: numero,\n      text: mensagem\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1664,-480],"id":"8387c279-b93e-4787-9b71-f813e555bdca","name":"usuarios_nao_cadastrados"},{"parameters":{"jsCode":"const data = items[0].json;\n\n// 🔹 Dados básicos\nconst contexto = data.contexto || \"\";\nconst resultados = data.resultados || [];\nconst numero = data.telefone || data.numero;\nconst url = data.url || \"https://buscafornecedor.com.br\";\n\n// 🔹 Normalizador\nconst getItem = (r) => r.item || r;\n\n// 🔹 Separar por escopo\nconst nacionais = resultados.filter(\n  r => getItem(r).escopo === \"nacional\"\n);\n\nconst locais = resultados.filter(\n  r => getItem(r).escopo === \"local\"\n);\n\n// 🔹 Ordenar por nota\nconst ordenarPorNota = (arr) =>\n  [...arr].sort(\n    (a, b) =>\n      (getItem(b).nota ?? 0) -\n      (getItem(a).nota ?? 0)\n  );\n\n// 🔹 Seleção fixa\nconst topNacionais =\n  ordenarPorNota(nacionais).slice(0, 2);\n\nconst topLocais =\n  ordenarPorNota(locais).slice(0, 4);\n\n// 🔹 Formatter\nconst formatarLista = (lista) => {\n  return lista\n    .map((r) => {\n      const item = getItem(r);\n\n      const nome =\n        item.razao_social || \"Fornecedor\";\n\n      const modelo = item.modelo_negocio\n        ? ` (${item.modelo_negocio})`\n        : \"\";\n\n      const site = item.site || \"\";\n\n      return `- ${nome}${modelo}\\n${site}`;\n    })\n    .join(\"\\n\\n\");\n};\n\n// 🔹 Blocos\nlet blocoNacionais = \"\";\n\nif (topNacionais.length > 0) {\n  blocoNacionais =\n    `Nacionais:\\n${formatarLista(topNacionais)}`;\n}\n\nlet blocoLocais = \"\";\n\nif (topLocais.length > 0) {\n  blocoLocais =\n    `Locais:\\n${formatarLista(topLocais)}`;\n}\n\n// 🔹 Contexto\nconst contextoTexto = contexto\n  ? `\"${contexto}\"`\n  : \"o que você procura\";\n\n// 🔹 Total restante\nconst totalExibidos =\n  topNacionais.length + topLocais.length;\n\nconst totalRestante =\n  Math.max(0, resultados.length - totalExibidos);\n\n// 🔹 Templates\nconst templates = [\n\n`Separei alguns fornecedores pra ${contextoTexto}:\n\n${blocoNacionais}\n\n${blocoLocais}\n\n${\n  totalRestante > 0\n    ? `Ainda apareceram mais ${totalRestante} resultados nessa busca:\\n${url}`\n    : `Busca completa:\\n${url}`\n}`,\n\n`Esses foram os fornecedores mais relevantes que apareceram pra ${contextoTexto}:\n\n${blocoNacionais}\n\n${blocoLocais}\n\n${\n  totalRestante > 0\n    ? `Tem mais opções disponíveis aqui:\\n${url}`\n    : `Você pode acessar tudo aqui:\\n${url}`\n}`,\n\n`Dei uma filtrada aqui e esses pareceram os melhores resultados:\n\n${blocoNacionais}\n\n${blocoLocais}\n\n${\n  totalRestante > 0\n    ? `O restante apareceu nessa busca:\\n${url}`\n    : `A busca completa está aqui:\\n${url}`\n}`,\n\n`Achei esses fornecedores que parecem encaixar bem no que você procura:\n\n${blocoNacionais}\n\n${blocoLocais}\n\n${\n  totalRestante > 0\n    ? `Tem mais alguns resultados filtrados aqui:\\n${url}`\n    : `Você consegue acessar a busca completa aqui:\\n${url}`\n}`\n];\n\n// 🔹 Escolha aleatória\nconst mensagem =\n  templates[\n    Math.floor(Math.random() * templates.length)\n  ];\n\n// 🔹 Retorno\nreturn [\n  {\n    json: {\n      number: numero,\n      text: mensagem\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1664,-320],"id":"3fcb74e7-a391-47a8-ba7e-cb0583d89285","name":"usuarios_cadastrados"},{"parameters":{"workflowId":{"__rl":true,"value":"R7tS2Bx9EA1YgW0o","mode":"list","cachedResultUrl":"/workflow/R7tS2Bx9EA1YgW0o","cachedResultName":"send_user_message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"contexto":"={{ $json.parametros.descricao }}","resultados":"={{ $json.resultados }}","nome":"={{ $json.nome }}","url":"={{ $('Call \\'Registrar Conta Whatsapp\\'1').item.json.completar_cadastro_url }}","telefone":"={{ $json.telefone }}"},"matchingColumns":[],"schema":[{"id":"contexto","displayName":"contexto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resultados","displayName":"resultados","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-576,-960],"id":"7b303461-d856-43c2-8bc1-5e8f2b0b845c","name":"Call 'send_user_message'"},{"parameters":{"promptType":"define","text":"=historico_conversa: {{ $json.propertyName }}\n\núltima_mensagem: {{ $json.propertyName.last() }}","options":{"systemMessage":"=Você é a inteligência de roteamento e detecção de intenção do BuscaFornecedor no WhatsApp. Sua única função é analisar o histórico da conversa e a última mensagem do usuário para classificar o próximo passo do fluxo em um JSON estrito.\n\n---\n\n### Regras de Decisão (Prioridade Máxima)\n\n1. `encerrar_conversa`\nUse quando o usuário claramente quer fechar o atendimento:\n- Despedidas ou agradecimentos finais: \"valeu\", \"obrigado, era só isso\", \"tchau\", \"falou\", \"depois eu volto\".\n- Confirmações passivas após receber uma resposta: \"com toda certeza\", \"beleza\", \"ok\", \"show\", \"perfeito\", \"vou dar uma olhada\", \"entendi\".\n- Anti-loop de evasão: Após 2 mensagens evasivas seguidas do usuário (ex: \"sei lá\", \"kkk\", \"deixa pra lá\").\n\n2. `prosseguir_conversa`\nUse quando o fluxo precisa de mais interações humanas antes de uma busca:\n- Saudação pura (\"oi\", \"bom dia\", \"opa\") -> Deve puxar conversa.\n- Dúvida sobre a plataforma (\"como funciona?\", \"quanto custa?\").\n- Intenção vaga de busca (\"queria fazer uma busca\", \"preciso de fornecedor\") -> Requer pergunta de escopo.\n- Escopo já claro, mas localização ainda não informada -> Requer pergunta de local.\n\n3. `iniciar_busca`\nUse apenas quando houver um produto/serviço (escopo) claro definido:\n- O usuário forneceu o produto E a localização.\n- O usuário forneceu o produto e, após você já ter perguntado a localização na mensagem anterior, ele respondeu a localização OU foi evasivo/disse \"tanto faz\", \"qualquer lugar\", \"Brasil todo\".\n\n---\n\n### Regras Rígidas de Escopo e Anti-Loop\n- Avalie o histórico: É permitido no máximo 1 pergunta de escopo + 1 pergunta de local. Nunca mais que isso.\n- Se o histórico mostra que a localização já foi perguntada e o usuário não especificou ou mudou de assunto, mude para `iniciar_busca` (nacional).\n- Nunca mude para `iniciar_busca` se não houver um produto/serviço minimamente identificado no histórico.\n\n---\n\n### Formato de Saída (JSON Estrito)\n{\n  \"decision\": \"encerrar_conversa | prosseguir_conversa | iniciar_busca\",\n  \"reason\": \"usuario_saudou | duvida_plataforma | pedir_escopo | pedir_local | disparar_busca_com_local | disparar_busca_nacional | usuario_encerrou\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-768,-608],"id":"a6dea3a8-95ac-41be-a29d-4e7b27e0c02a","name":"decide_resposta"},{"parameters":{"promptType":"define","text":"=historico_conversa: {{ $('get-historico').item.json.propertyName }}\n\núltima_mensagem: {{ $('get-historico').item.json.propertyName.last() }}\n\ndecisão:{{ $json.output.decision }}\n\nreason:{{ $json.output.reason }}","options":{"systemMessage":"=Você é o agente de atendimento oficial do BuscaFornecedor no WhatsApp. Sua função é escrever a mensagem de texto ideal que será enviada ao usuário, baseando-se no histórico da conversa e na decisão tomada pelo sistema.\n\n---\n\n### Contexto do BuscaFornecedor (Para sanar dúvidas se o motivo for `duvida_plataforma`)\n- É uma plataforma que ajuda compradores a encontrar fornecedores no Brasil.\n- Base com mais de 40 milhões de empresas tratadas com IA.\n- O site oficial é buscafornecedor.com.br (onde é possível se cadastrar como comprador para ver dados completos ou cadastrar a própria empresa como fornecedor).\n- Respostas a dúvidas devem ser breves (1 a 3 frases). Sempre que possível, convide o usuário a fazer uma busca.\n\n---\n\n### Tom e Voz (MUITO IMPORTANTE)\n- Fale como gente no WhatsApp: frases curtas, naturais, sem rebuscar.\n- Pode usar \"beleza\", \"tranquilo\", \"show\", \"fechado\", \"opa\" com moderação.\n- Responda saudações com saudações receptivas (\"Opa, bom dia! Como posso ajudar?\").\n- NUNCA se despeça se o motivo for apenas uma saudação.\n- Sem emojis nas mensagens. Sem floreios como \"estou à disposição\" ou \"fico feliz em ajudar\".\n- Não repita a mesma frase ou pergunta que já foi feita no histórico recente. Varie a escrita.\n- NUNCA pergunte sobre: quantidade, preço, marca, modelo, prazo, certificações ou frequência.\n\n---\n\n### Exemplos de Escrita Baseados no Motivo (`reason` do sistema)\n\n- Se `reason` = \"usuario_saudou\": \"Bom dia! Tudo certo? Como posso te ajudar a encontrar fornecedores hoje?\"\n- Se `reason` = \"pedir_escopo\": \"Show! Me conta rapidinho: qual produto ou serviço você tá procurando?\"\n- Se `reason` = \"pedir_local\": \"Beleza. Tem alguma cidade ou estado de preferência? Se não, posso buscar nacional.\"\n- Se `reason` = \"usuario_encerrou\": \"Tranquilo, qualquer coisa é só chamar por aqui. Abraço!\"\n\n---\n\n### Formato de Saída (JSON Estrito)\n{\n  \"mensagem\": \"Texto curto, natural e direto pronto para enviar ao usuário.\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[32,-800],"id":"3bf6d449-0bd8-415f-a4da-99b84fd937fe","name":"escreve_mensagem"},{"parameters":{"promptType":"define","text":"=historico_conversa: {{ $('get-historico').item.json.propertyName }}\n\núltima_mensagem: {{ $('get-historico').item.json.propertyName.last() }}\n\nreason: {{ $json.output.reason }}","options":{"systemMessage":"=Você é o engenheiro de dados e extração do BuscaFornecedor. Sua função é analisar o histórico da conversa, extrair o termo de busca (produto/serviço) e a localização para montar a query de pesquisa ideal, além de gerar a mensagem de confirmação para o usuário.\n\n---\n\n### Regras de Extração e Higienização de Escopo\n- Extraia apenas o produto ou serviço principal. Remova termos inúteis como \"preciso de\", \"quero comprar\", \"fornecedor de\".\n- Localização: Identifique a cidade ou estado mencionado. Se o usuário não especificou local, disse \"tanto faz\", \"qualquer lugar\" ou ignorou a pergunta anterior sobre local, use obrigatoriamente a frase `\"local não especificado\"` dentro da query.\n- Proibido: NUNCA inclua na query variantes de quantidade, preço, marca, modelo ou prazos, mesmo se o usuário tiver enviado na mensagem.\n\n---\n\n### Diretrizes para a Mensagem ao Usuário\n- Seja extremamente direto. Avise que a busca começou.\n- Sem emojis, sem floreios.\n\n---\n\n### Exemplos de Saída\n\n1. Caso o usuário tenha definido local:\nHistórico: \"Quero comprar ovo\" -> \"Pode ser em São Paulo\"\n{\n  \"mensagem\": \"Fechado, tô buscando fornecedores de ovo em São Paulo. Já te mando os resultados.\",\n  \"query\": \"ovo em São Paulo\"\n}\n\n2. Caso o usuário não tenha definido local ou tenha dito \"tanto faz\":\nHistórico: \"Preciso de canetas\" -> \"Qualquer lugar do Brasil\"\n{\n  \"mensagem\": \"Tranquilo, tô buscando fornecedores de canetas em nível nacional.\",\n  \"query\": \"canetas, local não especificado\"\n}\n\n---\n\n### Formato de Saída (JSON Estrito)\n{\n  \"mensagem\": \"Mensagem curta de confirmação para o usuário.\",\n  \"query\": \"termo purificado do produto + local limpo ou 'local não especificado'\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[32,-416],"id":"e5f3e7c2-73c4-473a-b24c-74946949b341","name":"define_busca"},{"parameters":{"assignments":{"assignments":[{"id":"f36a92a1-4c8e-42c0-a5f9-9f7de10cbbd5","name":"output","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,-416],"id":"3d6c44b6-184b-48e3-87de-34ae296d5780","name":"set_busca"},{"parameters":{"assignments":{"assignments":[{"id":"f36a92a1-4c8e-42c0-a5f9-9f7de10cbbd5","name":"output","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,-800],"id":"db1eabdc-c476-43a3-a15b-868828015685","name":"set_mensagem"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"decide_resposta","type":"ai_languageModel","index":0},{"node":"escreve_mensagem","type":"ai_languageModel","index":0},{"node":"define_busca","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"escreve_mensagem","type":"main","index":0}],[{"node":"Enviar texto2","type":"main","index":0}],[{"node":"define_busca","type":"main","index":0}]]},"Call 'Registrar Conta Whatsapp'":{"main":[[{"node":"Call 'Busca Whatsapp'","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Call 'Busca Whatsapp'":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Trigger":{"main":[[{"node":"get-historico","type":"main","index":0}]]},"get-historico":{"main":[[{"node":"decide_resposta","type":"main","index":0}]]},"set_output":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Insere-Memoria","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"Desaloca-Memoria","type":"main","index":0}]]},"Enviar texto1":{"main":[[{"node":"Insere-Memoria1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"usuarios_nao_cadastrados","type":"main","index":0}],[{"node":"usuarios_cadastrados","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"usuarios_nao_cadastrados":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"usuarios_cadastrados":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"decide_resposta":{"main":[[{"node":"set_output","type":"main","index":0}]]},"escreve_mensagem":{"main":[[{"node":"set_mensagem","type":"main","index":0}]]},"define_busca":{"main":[[{"node":"set_busca","type":"main","index":0}]]},"set_busca":{"main":[[{"node":"Call 'Registrar Conta Whatsapp'","type":"main","index":0}]]},"set_mensagem":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Trigger":[{"json":{"Message":"Olá! Quero buscar fornecedores.,Agent:Oi! Tudo bem? Me conta o que você precisa que eu começo a buscar pra você.,CHAPA DE POLICARBONATO FUME 1,05M X 3,00M X 4MM","Number":"5514998192626","Name":"Fernando Campos - GrupoRB"},"pairedItem":{"item":0}}],"get-historico":[{"json":{"propertyName":["Olá! Quero buscar fornecedores.","Agent:Oi! Tudo bem? Me conta o que você precisa que eu começo a buscar pra você.","CHAPA DE POLICARBONATO FUME 1,05M X 3,00M X 4MM"]},"pairedItem":{"item":0}}]},"versionId":"4e499743-9af8-411b-a56b-c10ed01f6947","activeVersionId":"4e499743-9af8-411b-a56b-c10ed01f6947","triggerCount":0,"shared":[{"updatedAt":"2026-04-23T15:00:22.498Z","createdAt":"2026-04-23T15:00:22.498Z","role":"workflow:owner","workflowId":"4GiXZNosYOAkmEMz","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-05-20T20:14:26.873Z","createdAt":"2026-05-20T20:13:23.959Z","versionId":"4e499743-9af8-411b-a56b-c10ed01f6947","workflowId":"4GiXZNosYOAkmEMz","nodes":[{"parameters":{"resource":"messages-api","instanceName":"BuscaFornecedor","remoteJid":"={{ $('Trigger').item.json.Number }}","messageText":"={{ $json.output.mensagem }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[608,-800],"id":"39919503-fe83-4255-837e-0187d032b363","name":"Enviar texto","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-528,-272],"id":"57c258b7-d098-4097-b788-c019ba1104da","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.decision }}","rightValue":"=prosseguir_conversa","operator":{"type":"string","operation":"equals"},"id":"97b8bf3b-a745-4a7c-ba0f-3df886be1bd0"}],"combinator":"and"},"renameOutput":true,"outputKey":"Prosseguir "},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6de0c088-49b6-424d-8cdf-49db9b0e11d0","leftValue":"={{ $json.output.decision }}","rightValue":"encerrar_conversa","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Encerrar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ed4fc07d-8699-4043-81d6-53b18ee22303","leftValue":"={{ $json.output.decision }}","rightValue":"iniciar_busca","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Busca"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-288,-624],"id":"2ee65982-44d1-455b-ba28-27205435e732","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"dfzSiOV2FBfv6ZFs","mode":"list","cachedResultUrl":"/workflow/dfzSiOV2FBfv6ZFs","cachedResultName":"Registrar Conta Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero":"={{ $('Trigger').item.json.Number }}","nome":"={{ $('Trigger').item.json.Name }}"},"matchingColumns":[],"schema":[{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[608,-416],"id":"894256a4-3c80-4d9f-b5d6-751ef1df124e","name":"Call 'Registrar Conta Whatsapp'"},{"parameters":{"workflowId":{"__rl":true,"value":"P5glDm8v5AZwgudn","mode":"list","cachedResultUrl":"/workflow/P5glDm8v5AZwgudn","cachedResultName":"Busca Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","query":"={{ $('set_busca').item.json.output.query }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[832,-416],"id":"6dfa28ea-7d27-4138-9a95-24b7b5ea706e","name":"Call 'Busca Whatsapp'","alwaysOutputData":true},{"parameters":{"operation":"delete","key":"={{ $('Trigger').item.json.Number }}@s.whatsapp.net"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[608,-608],"id":"2aadd05b-8afa-4e28-ba17-c71e5d2a3fee","name":"Desaloca-Memoria","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"operation":"push","list":"={{ $('Trigger').item.json.Number }}@s.whatsapp.net","messageData":"=Agent:{{ $json.data.message.conversation }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[816,-800],"id":"c1ff7a87-5e88-49da-92c0-787013a333ec","name":"Insere-Memoria","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"workflowInputs":{"values":[{"name":"Message"},{"name":"Number"},{"name":"Name"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1168,-608],"id":"7b04e459-c4ac-4bb4-8280-8e37c11b9300","name":"Trigger"},{"parameters":{"operation":"get","key":"={{ $json.Number }}@s.whatsapp.net","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-976,-608],"id":"875fb3cc-d819-4084-9518-db47e5b86c74","name":"get-historico","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"assignments":{"assignments":[{"id":"fcda94d8-5d7c-47f7-82f6-111b3cff41e1","name":"output","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-464,-608],"id":"90b265a8-69fd-4a52-8146-898cd6b1d02c","name":"set_output"},{"parameters":{"content":"## Trigger de mensagem.\n- Ativa ao receber uma mensagem direta e busca todo o histórico daquele usuário.","height":272,"width":400,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1216,-720],"id":"190aa55f-0504-48d3-81c7-a1726df38551","name":"Sticky Note"},{"parameters":{"content":"## Manager\n- Recebe o histórico e guia a conversa para uma busca ou encerramento.","height":592,"width":640,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-800,-720],"id":"7baec478-eb5a-4752-9862-6e65bd19dd80","name":"Sticky Note1"},{"parameters":{"content":"## Fluxo de Conversa\n- Prosseguir: Continua a conversa, normalmente busca reunir mais informação para realizar a busca.\n- Encerrar: Encerra a conversa e desaloca a memória, ocorre caso o usuário se desvie do objetivo de realizar a busca.\n- Buscar: Cria uma conta provisória, realiza a busca e retorna um resultado limitado. O objetivo é convidar o usuário a acessar o resultado completo no site.","height":800,"width":2484,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-144,-960],"id":"4c4ec09f-fb56-4563-8424-9ad96401ec9e","name":"Sticky Note2"},{"parameters":{"resource":"messages-api","instanceName":"BuscaFornecedor","remoteJid":"={{ $('Trigger').item.json.Number }}","messageText":"={{ $json.output.mensagem }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[400,-608],"id":"fa56f716-4986-418f-916b-90f9491d8ab4","name":"Enviar texto2","retryOnFail":true,"credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"content":"## Direct Manager (Agent)\n\n- Recebe Mensagens Diretas\n- Interpreta o objetivo da mensagem\n- Escolhe como responder:\n-- Prossegue a conversa para estruturar melhor a busca.\n-- Encerra a conversa.\n-- Realiza Busca Simplificada.\n\n","height":208,"width":432,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[320,-1376],"id":"c11df010-ce84-4bb2-99b4-c69e3ddd9df7","name":"Sticky Note3"},{"parameters":{"resource":"messages-api","instanceName":"BuscaFornecedor","remoteJid":"={{ $('Trigger').item.json.Number }}","messageText":"={{ $json.text }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1920,-400],"id":"d8b5e680-3c87-46d3-8777-3902ee68c0b7","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.completar_cadastro_url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"9027485f-7f4c-4642-a50f-cf67abad473b"}],"combinator":"and"},"renameOutput":true,"outputKey":"Conta Nova"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e4a98343-a7ae-44a1-8d3b-d20cbe6504a7","leftValue":"={{ $json.codigo }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Conta Existente"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1424,-400],"id":"9e9301ae-0c47-4ca8-a927-48b5ce4aed1e","name":"Switch1"},{"parameters":{"operation":"push","list":"={{ $('Trigger').item.json.Number }}@s.whatsapp.net","messageData":"=Agent:{{ $json.data.message.conversation }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2128,-400],"id":"d5bdb4e1-6f4a-44bc-878e-2443ff31a9c8","name":"Insere-Memoria1","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"assignments":{"assignments":[{"id":"1b92ef57-85ad-4d6e-b3b2-09b80ecf1c4f","name":"contexto","value":"={{ $json.parametros.descricao }}","type":"string"},{"id":"ef3eecf5-5b46-460f-b04e-d30bd1b6797c","name":"nome","value":"={{ $json.nome }}","type":"string"},{"id":"db904fe9-ac62-47d3-a31c-1a9c0e75a16e","name":"resultados","value":"={{ $json.resultados }}","type":"array"},{"id":"d3b04b7e-0057-4a4b-be10-ecea3cdbf61d","name":"codigo","value":"={{ $json.otp_code }}","type":"string"},{"id":"31391c78-7669-4951-81d1-4cdbc0b9ff74","name":"completar_cadastro_url","value":"={{ $json.completar_cadastro_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1232,-400],"id":"7804dea1-c93a-4057-a7b0-d337273c86d2","name":"Edit Fields"},{"parameters":{"mode":"combine","fieldsToMatchString":"id","joinMode":"enrichInput2","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1040,-400],"id":"abd28197-8eb2-44c1-aa7d-a2cb403e1325","name":"Merge"},{"parameters":{"jsCode":"const data = items[0].json;\n\n// 🔹 Dados básicos\nconst resultados = data.resultados || [];\nconst completarCadastroUrl = data.completar_cadastro_url || \"\";\nconst numero = data.telefone || data.numero;\n\n// 🔹 Normalizador\nconst getItem = (r) => r.item || r;\n\n// 🔹 Separar\nconst nacionais = resultados.filter(r => getItem(r).escopo === \"nacional\");\nconst locais = resultados.filter(r => getItem(r).escopo === \"local\");\n\n// 🔹 Ordenar\nconst ordenarPorNota = (arr) =>\n  [...arr].sort((a, b) => (getItem(b).nota ?? 0) - (getItem(a).nota ?? 0));\n\n// 🔹 Quantidades aleatórias\nconst qtdNacionais = Math.floor(Math.random() * 2) + 1;\nconst qtdLocais = Math.floor(Math.random() * 3) + 1;\n\n// 🔹 Seleção\nconst topNacionais = ordenarPorNota(nacionais).slice(0, qtdNacionais);\nconst topLocais = ordenarPorNota(locais).slice(0, qtdLocais);\n\n// 🔹 Junta tudo\nlet fornecedores = [...topNacionais, ...topLocais];\n\n// 🔹 Embaralhar\nfornecedores = fornecedores.sort(() => Math.random() - 0.5);\n\n// 🔹 Formatter\nconst formatarLista = (lista) => {\n  return lista\n    .map((r) => {\n      const item = getItem(r);\n\n      const nome = item.razao_social || \"Fornecedor\";\n      const site = item.site || \"\";\n\n      return `- ${nome}\\n${site}`;\n    })\n    .join(\"\\n\\n\");\n};\n\nconst listaFormatada = formatarLista(fornecedores);\n\n// 🔹 Templates\nconst templates = [\n\n`Achei alguns aqui que talvez ajudem:\n\n${listaFormatada}\n\nTem mais resultados nessa busca:\n${completarCadastroUrl}\n\nTomara que ajude 👍`,\n\n`Dei uma olhada rápida aqui e apareceram esses:\n\n${listaFormatada}\n\nTem mais opções nesse link:\n${completarCadastroUrl}`,\n\n`Já usei essa busca pra encontrar fornecedor uma vez e achei esses agora:\n\n${listaFormatada}\n\nO restante apareceu aqui:\n${completarCadastroUrl}`,\n\n`Achei esses aqui:\n\n${listaFormatada}\n\nNessa busca apareceram mais alguns também:\n${completarCadastroUrl}\n\nÀs vezes os menores respondem mais rápido.`\n];\n\n// 🔹 Escolha aleatória\nconst mensagem =\n  templates[Math.floor(Math.random() * templates.length)];\n\n// 🔹 Retorno\nreturn [\n  {\n    json: {\n      number: numero,\n      text: mensagem\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1664,-480],"id":"8387c279-b93e-4787-9b71-f813e555bdca","name":"usuarios_nao_cadastrados"},{"parameters":{"jsCode":"const data = items[0].json;\n\n// 🔹 Dados básicos\nconst contexto = data.contexto || \"\";\nconst resultados = data.resultados || [];\nconst numero = data.telefone || data.numero;\nconst url = data.url || \"https://buscafornecedor.com.br\";\n\n// 🔹 Normalizador\nconst getItem = (r) => r.item || r;\n\n// 🔹 Separar por escopo\nconst nacionais = resultados.filter(\n  r => getItem(r).escopo === \"nacional\"\n);\n\nconst locais = resultados.filter(\n  r => getItem(r).escopo === \"local\"\n);\n\n// 🔹 Ordenar por nota\nconst ordenarPorNota = (arr) =>\n  [...arr].sort(\n    (a, b) =>\n      (getItem(b).nota ?? 0) -\n      (getItem(a).nota ?? 0)\n  );\n\n// 🔹 Seleção fixa\nconst topNacionais =\n  ordenarPorNota(nacionais).slice(0, 2);\n\nconst topLocais =\n  ordenarPorNota(locais).slice(0, 4);\n\n// 🔹 Formatter\nconst formatarLista = (lista) => {\n  return lista\n    .map((r) => {\n      const item = getItem(r);\n\n      const nome =\n        item.razao_social || \"Fornecedor\";\n\n      const modelo = item.modelo_negocio\n        ? ` (${item.modelo_negocio})`\n        : \"\";\n\n      const site = item.site || \"\";\n\n      return `- ${nome}${modelo}\\n${site}`;\n    })\n    .join(\"\\n\\n\");\n};\n\n// 🔹 Blocos\nlet blocoNacionais = \"\";\n\nif (topNacionais.length > 0) {\n  blocoNacionais =\n    `Nacionais:\\n${formatarLista(topNacionais)}`;\n}\n\nlet blocoLocais = \"\";\n\nif (topLocais.length > 0) {\n  blocoLocais =\n    `Locais:\\n${formatarLista(topLocais)}`;\n}\n\n// 🔹 Contexto\nconst contextoTexto = contexto\n  ? `\"${contexto}\"`\n  : \"o que você procura\";\n\n// 🔹 Total restante\nconst totalExibidos =\n  topNacionais.length + topLocais.length;\n\nconst totalRestante =\n  Math.max(0, resultados.length - totalExibidos);\n\n// 🔹 Templates\nconst templates = [\n\n`Separei alguns fornecedores pra ${contextoTexto}:\n\n${blocoNacionais}\n\n${blocoLocais}\n\n${\n  totalRestante > 0\n    ? `Ainda apareceram mais ${totalRestante} resultados nessa busca:\\n${url}`\n    : `Busca completa:\\n${url}`\n}`,\n\n`Esses foram os fornecedores mais relevantes que apareceram pra ${contextoTexto}:\n\n${blocoNacionais}\n\n${blocoLocais}\n\n${\n  totalRestante > 0\n    ? `Tem mais opções disponíveis aqui:\\n${url}`\n    : `Você pode acessar tudo aqui:\\n${url}`\n}`,\n\n`Dei uma filtrada aqui e esses pareceram os melhores resultados:\n\n${blocoNacionais}\n\n${blocoLocais}\n\n${\n  totalRestante > 0\n    ? `O restante apareceu nessa busca:\\n${url}`\n    : `A busca completa está aqui:\\n${url}`\n}`,\n\n`Achei esses fornecedores que parecem encaixar bem no que você procura:\n\n${blocoNacionais}\n\n${blocoLocais}\n\n${\n  totalRestante > 0\n    ? `Tem mais alguns resultados filtrados aqui:\\n${url}`\n    : `Você consegue acessar a busca completa aqui:\\n${url}`\n}`\n];\n\n// 🔹 Escolha aleatória\nconst mensagem =\n  templates[\n    Math.floor(Math.random() * templates.length)\n  ];\n\n// 🔹 Retorno\nreturn [\n  {\n    json: {\n      number: numero,\n      text: mensagem\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1664,-320],"id":"3fcb74e7-a391-47a8-ba7e-cb0583d89285","name":"usuarios_cadastrados"},{"parameters":{"workflowId":{"__rl":true,"value":"R7tS2Bx9EA1YgW0o","mode":"list","cachedResultUrl":"/workflow/R7tS2Bx9EA1YgW0o","cachedResultName":"send_user_message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"contexto":"={{ $json.parametros.descricao }}","resultados":"={{ $json.resultados }}","nome":"={{ $json.nome }}","url":"={{ $('Call \\'Registrar Conta Whatsapp\\'1').item.json.completar_cadastro_url }}","telefone":"={{ $json.telefone }}"},"matchingColumns":[],"schema":[{"id":"contexto","displayName":"contexto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resultados","displayName":"resultados","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-576,-960],"id":"7b303461-d856-43c2-8bc1-5e8f2b0b845c","name":"Call 'send_user_message'"},{"parameters":{"promptType":"define","text":"=historico_conversa: {{ $json.propertyName }}\n\núltima_mensagem: {{ $json.propertyName.last() }}","options":{"systemMessage":"=Você é a inteligência de roteamento e detecção de intenção do BuscaFornecedor no WhatsApp. Sua única função é analisar o histórico da conversa e a última mensagem do usuário para classificar o próximo passo do fluxo em um JSON estrito.\n\n---\n\n### Regras de Decisão (Prioridade Máxima)\n\n1. `encerrar_conversa`\nUse quando o usuário claramente quer fechar o atendimento:\n- Despedidas ou agradecimentos finais: \"valeu\", \"obrigado, era só isso\", \"tchau\", \"falou\", \"depois eu volto\".\n- Confirmações passivas após receber uma resposta: \"com toda certeza\", \"beleza\", \"ok\", \"show\", \"perfeito\", \"vou dar uma olhada\", \"entendi\".\n- Anti-loop de evasão: Após 2 mensagens evasivas seguidas do usuário (ex: \"sei lá\", \"kkk\", \"deixa pra lá\").\n\n2. `prosseguir_conversa`\nUse quando o fluxo precisa de mais interações humanas antes de uma busca:\n- Saudação pura (\"oi\", \"bom dia\", \"opa\") -> Deve puxar conversa.\n- Dúvida sobre a plataforma (\"como funciona?\", \"quanto custa?\").\n- Intenção vaga de busca (\"queria fazer uma busca\", \"preciso de fornecedor\") -> Requer pergunta de escopo.\n- Escopo já claro, mas localização ainda não informada -> Requer pergunta de local.\n\n3. `iniciar_busca`\nUse apenas quando houver um produto/serviço (escopo) claro definido:\n- O usuário forneceu o produto E a localização.\n- O usuário forneceu o produto e, após você já ter perguntado a localização na mensagem anterior, ele respondeu a localização OU foi evasivo/disse \"tanto faz\", \"qualquer lugar\", \"Brasil todo\".\n\n---\n\n### Regras Rígidas de Escopo e Anti-Loop\n- Avalie o histórico: É permitido no máximo 1 pergunta de escopo + 1 pergunta de local. Nunca mais que isso.\n- Se o histórico mostra que a localização já foi perguntada e o usuário não especificou ou mudou de assunto, mude para `iniciar_busca` (nacional).\n- Nunca mude para `iniciar_busca` se não houver um produto/serviço minimamente identificado no histórico.\n\n---\n\n### Formato de Saída (JSON Estrito)\n{\n  \"decision\": \"encerrar_conversa | prosseguir_conversa | iniciar_busca\",\n  \"reason\": \"usuario_saudou | duvida_plataforma | pedir_escopo | pedir_local | disparar_busca_com_local | disparar_busca_nacional | usuario_encerrou\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-768,-608],"id":"a6dea3a8-95ac-41be-a29d-4e7b27e0c02a","name":"decide_resposta"},{"parameters":{"promptType":"define","text":"=historico_conversa: {{ $('get-historico').item.json.propertyName }}\n\núltima_mensagem: {{ $('get-historico').item.json.propertyName.last() }}\n\ndecisão:{{ $json.output.decision }}\n\nreason:{{ $json.output.reason }}","options":{"systemMessage":"=Você é o agente de atendimento oficial do BuscaFornecedor no WhatsApp. Sua função é escrever a mensagem de texto ideal que será enviada ao usuário, baseando-se no histórico da conversa e na decisão tomada pelo sistema.\n\n---\n\n### Contexto do BuscaFornecedor (Para sanar dúvidas se o motivo for `duvida_plataforma`)\n- É uma plataforma que ajuda compradores a encontrar fornecedores no Brasil.\n- Base com mais de 40 milhões de empresas tratadas com IA.\n- O site oficial é buscafornecedor.com.br (onde é possível se cadastrar como comprador para ver dados completos ou cadastrar a própria empresa como fornecedor).\n- Respostas a dúvidas devem ser breves (1 a 3 frases). Sempre que possível, convide o usuário a fazer uma busca.\n\n---\n\n### Tom e Voz (MUITO IMPORTANTE)\n- Fale como gente no WhatsApp: frases curtas, naturais, sem rebuscar.\n- Pode usar \"beleza\", \"tranquilo\", \"show\", \"fechado\", \"opa\" com moderação.\n- Responda saudações com saudações receptivas (\"Opa, bom dia! Como posso ajudar?\").\n- NUNCA se despeça se o motivo for apenas uma saudação.\n- Sem emojis nas mensagens. Sem floreios como \"estou à disposição\" ou \"fico feliz em ajudar\".\n- Não repita a mesma frase ou pergunta que já foi feita no histórico recente. Varie a escrita.\n- NUNCA pergunte sobre: quantidade, preço, marca, modelo, prazo, certificações ou frequência.\n\n---\n\n### Exemplos de Escrita Baseados no Motivo (`reason` do sistema)\n\n- Se `reason` = \"usuario_saudou\": \"Bom dia! Tudo certo? Como posso te ajudar a encontrar fornecedores hoje?\"\n- Se `reason` = \"pedir_escopo\": \"Show! Me conta rapidinho: qual produto ou serviço você tá procurando?\"\n- Se `reason` = \"pedir_local\": \"Beleza. Tem alguma cidade ou estado de preferência? Se não, posso buscar nacional.\"\n- Se `reason` = \"usuario_encerrou\": \"Tranquilo, qualquer coisa é só chamar por aqui. Abraço!\"\n\n---\n\n### Formato de Saída (JSON Estrito)\n{\n  \"mensagem\": \"Texto curto, natural e direto pronto para enviar ao usuário.\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[32,-800],"id":"3bf6d449-0bd8-415f-a4da-99b84fd937fe","name":"escreve_mensagem"},{"parameters":{"promptType":"define","text":"=historico_conversa: {{ $('get-historico').item.json.propertyName }}\n\núltima_mensagem: {{ $('get-historico').item.json.propertyName.last() }}\n\nreason: {{ $json.output.reason }}","options":{"systemMessage":"=Você é o engenheiro de dados e extração do BuscaFornecedor. Sua função é analisar o histórico da conversa, extrair o termo de busca (produto/serviço) e a localização para montar a query de pesquisa ideal, além de gerar a mensagem de confirmação para o usuário.\n\n---\n\n### Regras de Extração e Higienização de Escopo\n- Extraia apenas o produto ou serviço principal. Remova termos inúteis como \"preciso de\", \"quero comprar\", \"fornecedor de\".\n- Localização: Identifique a cidade ou estado mencionado. Se o usuário não especificou local, disse \"tanto faz\", \"qualquer lugar\" ou ignorou a pergunta anterior sobre local, use obrigatoriamente a frase `\"local não especificado\"` dentro da query.\n- Proibido: NUNCA inclua na query variantes de quantidade, preço, marca, modelo ou prazos, mesmo se o usuário tiver enviado na mensagem.\n\n---\n\n### Diretrizes para a Mensagem ao Usuário\n- Seja extremamente direto. Avise que a busca começou.\n- Sem emojis, sem floreios.\n\n---\n\n### Exemplos de Saída\n\n1. Caso o usuário tenha definido local:\nHistórico: \"Quero comprar ovo\" -> \"Pode ser em São Paulo\"\n{\n  \"mensagem\": \"Fechado, tô buscando fornecedores de ovo em São Paulo. Já te mando os resultados.\",\n  \"query\": \"ovo em São Paulo\"\n}\n\n2. Caso o usuário não tenha definido local ou tenha dito \"tanto faz\":\nHistórico: \"Preciso de canetas\" -> \"Qualquer lugar do Brasil\"\n{\n  \"mensagem\": \"Tranquilo, tô buscando fornecedores de canetas em nível nacional.\",\n  \"query\": \"canetas, local não especificado\"\n}\n\n---\n\n### Formato de Saída (JSON Estrito)\n{\n  \"mensagem\": \"Mensagem curta de confirmação para o usuário.\",\n  \"query\": \"termo purificado do produto + local limpo ou 'local não especificado'\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[32,-416],"id":"e5f3e7c2-73c4-473a-b24c-74946949b341","name":"define_busca"},{"parameters":{"assignments":{"assignments":[{"id":"f36a92a1-4c8e-42c0-a5f9-9f7de10cbbd5","name":"output","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,-416],"id":"3d6c44b6-184b-48e3-87de-34ae296d5780","name":"set_busca"},{"parameters":{"assignments":{"assignments":[{"id":"f36a92a1-4c8e-42c0-a5f9-9f7de10cbbd5","name":"output","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,-800],"id":"db1eabdc-c476-43a3-a15b-868828015685","name":"set_mensagem"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"decide_resposta","type":"ai_languageModel","index":0},{"node":"escreve_mensagem","type":"ai_languageModel","index":0},{"node":"define_busca","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"escreve_mensagem","type":"main","index":0}],[{"node":"Enviar texto2","type":"main","index":0}],[{"node":"define_busca","type":"main","index":0}]]},"Call 'Registrar Conta Whatsapp'":{"main":[[{"node":"Call 'Busca Whatsapp'","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Call 'Busca Whatsapp'":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Trigger":{"main":[[{"node":"get-historico","type":"main","index":0}]]},"get-historico":{"main":[[{"node":"decide_resposta","type":"main","index":0}]]},"set_output":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Insere-Memoria","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"Desaloca-Memoria","type":"main","index":0}]]},"Enviar texto1":{"main":[[{"node":"Insere-Memoria1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"usuarios_nao_cadastrados","type":"main","index":0}],[{"node":"usuarios_cadastrados","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"usuarios_nao_cadastrados":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"usuarios_cadastrados":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"decide_resposta":{"main":[[{"node":"set_output","type":"main","index":0}]]},"escreve_mensagem":{"main":[[{"node":"set_mensagem","type":"main","index":0}]]},"define_busca":{"main":[[{"node":"set_busca","type":"main","index":0}]]},"set_busca":{"main":[[{"node":"Call 'Registrar Conta Whatsapp'","type":"main","index":0}]]},"set_mensagem":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]}},"authors":"ABC  advise","name":"Version 4e499743","description":"","autosaved":true},"tags":[]}