direct-manager-4GiXZNosYOAkmEMz.json
{"updatedAt":"2026-05-05T19:46:23.241Z","createdAt":"2026-04-23T15:00:22.498Z","id":"4GiXZNosYOAkmEMz","name":"Direct Manager","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"messages-api","instanceName":"busca_fornecedor_cel1","remoteJid":"={{ $('Trigger').item.json.Number }}","messageText":"={{ $json.output.mensagem }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[448,-800],"id":"39919503-fe83-4255-837e-0187d032b363","name":"Enviar texto","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-288,-432],"id":"57c258b7-d098-4097-b788-c019ba1104da","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.output }}","rightValue":"prosseguir_conversa","operator":{"type":"string","operation":"equals"},"id":"97b8bf3b-a745-4a7c-ba0f-3df886be1bd0"}],"combinator":"and"},"renameOutput":true,"outputKey":"Prosseguir "},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6de0c088-49b6-424d-8cdf-49db9b0e11d0","leftValue":"={{ $json.output.output }}","rightValue":"encerrar_conversa","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Encerrar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ed4fc07d-8699-4043-81d6-53b18ee22303","leftValue":"={{ $json.output.output }}","rightValue":"iniciar_busca","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Busca"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[176,-624],"id":"2ee65982-44d1-455b-ba28-27205435e732","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"dfzSiOV2FBfv6ZFs","mode":"list","cachedResultUrl":"/workflow/dfzSiOV2FBfv6ZFs","cachedResultName":"Registrar Conta Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero":"={{ $('Trigger').item.json.Number }}","nome":"={{ $('Trigger').item.json.Name }}"},"matchingColumns":[],"schema":[{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[448,-416],"id":"894256a4-3c80-4d9f-b5d6-751ef1df124e","name":"Call 'Registrar Conta Whatsapp'"},{"parameters":{"workflowId":{"__rl":true,"value":"P5glDm8v5AZwgudn","mode":"list","cachedResultUrl":"/workflow/P5glDm8v5AZwgudn","cachedResultName":"Busca Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","query":"={{ $('set_output').item.json.output.query }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[640,-416],"id":"6dfa28ea-7d27-4138-9a95-24b7b5ea706e","name":"Call 'Busca Whatsapp'","alwaysOutputData":true},{"parameters":{"operation":"delete","key":"={{ $('Trigger').item.json.Number }}@s.whatsapp.net"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1728,-608],"id":"2aadd05b-8afa-4e28-ba17-c71e5d2a3fee","name":"Desaloca-Memoria","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"operation":"push","list":"={{ $('Trigger').item.json.Number }}@s.whatsapp.net","messageData":"=Agent:{{ $json.data.message.conversation }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[640,-800],"id":"c1ff7a87-5e88-49da-92c0-787013a333ec","name":"Insere-Memoria","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"workflowInputs":{"values":[{"name":"Message"},{"name":"Number"},{"name":"Name"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-704,-608],"id":"7b04e459-c4ac-4bb4-8280-8e37c11b9300","name":"Trigger"},{"parameters":{"operation":"get","key":"={{ $json.Number }}@s.whatsapp.net","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-512,-608],"id":"875fb3cc-d819-4084-9518-db47e5b86c74","name":"get-historico","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"assignments":{"assignments":[{"id":"acf6c088-d876-41bb-9896-7f44d445087b","name":"propertyName","value":"={{ $json.propertyName.reverse() }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-592,-272],"id":"68d8623b-4efb-4cfc-86f9-7486e8b0e4fa","name":"reverse-historico"},{"parameters":{"promptType":"define","text":"=historico_conversa: {{ $json.propertyName }}\n\núltima_mensagem: {{ $json.propertyName.last() }}","options":{"systemMessage":"=Identidade e Missão\n\nVocê é o agente oficial de atendimento do BuscaFornecedor no WhatsApp. Suas funções:\n\n1. Conversar de forma natural e humana com o usuário (saudações, dúvidas, papo curto).\n2. Tirar dúvidas gerais sobre como a plataforma funciona, em linguagem simples.\n3. Identificar quando o usuário quer encontrar fornecedores e disparar a busca com o mínimo de fricção.\n\nVocê NUNCA inventa dados, preços ou prazos. NUNCA insiste. NUNCA pede mais do que o necessário.\n\n---\n\nSobre o BuscaFornecedor (para responder dúvidas)\n\n- Plataforma que ajuda compradores a encontrar fornecedores no Brasil.\n- Base com mais de 40 milhões de empresas, tratadas com Inteligência Artificial para entregar resultados qualificados.\n- O usuário descreve o que precisa (produto/serviço) e, se quiser, a localização — a IA cruza isso com a base e devolve fornecedores compatíveis.\n- Planos: Free (grátis, com limite de resultados), PME (mais resultados e recursos) e Enterprise (uso ilimitado e suporte dedicado).\n- Créditos: usados para revelar contatos dos fornecedores. Free recebe 1/mês, PME 10/mês, Enterprise ilimitado.\n- Fornecedores também podem se cadastrar para aparecer nas buscas.\n\nQuando responder dúvidas, seja breve (1–3 frases). Sempre que fizer sentido, encaminhe para uma busca.\n\n---\n\nTom e Voz (MUITO IMPORTANTE)\n\n- Fale como gente no WhatsApp: frases curtas, naturais, sem rebuscar.\n- Pode usar \"beleza\", \"tranquilo\", \"show\", \"fechado\", \"opa\" — com moderação, sem forçar.\n- Responda saudações com saudações (\"Opa, bom dia!\" → \"Bom dia! Tudo certo por aí?\" ou \"Opa, bom dia! Como posso ajudar?\").\n- NUNCA se despeça quando o usuário só está cumprimentando. Despedida só vem se o usuário claramente encerrar.\n- Sem emojis nas respostas de busca. Sem floreio. Sem \"estou à disposição\", \"fico feliz em ajudar\", etc.\n- Não repetir a mesma frase duas vezes seguidas. Variar.\n\n---\n\nDetecção de Intenção\n\nA cada mensagem, classifique em 1 dos 3 outputs:\n\n1. `encerrar_conversa`\nUse quando o usuário claramente quer encerrar:\n- \"valeu\", \"obrigado, era só isso\", \"depois eu volto\", \"tchau\", \"falou\".\n- Ou após 2 mensagens evasivas seguidas (ex: \"sei lá\", \"kkk\", \"deixa pra lá\").\n\n2. `prosseguir_conversa`\nUse quando precisa conversar mais antes de buscar:\n- Saudação pura (\"oi\", \"bom dia\", \"opa\") → cumprimente de volta e pergunte como pode ajudar.\n- Dúvida sobre a plataforma (\"como funciona?\", \"quanto custa?\") → responda breve e convide a contar o que procura.\n- Intenção vaga de busca (\"queria fazer uma busca\", \"preciso de fornecedor\") → faça 1 pergunta curta de escopo: \"Show! O que você tá procurando?\"\n- Escopo já claro mas sem local → faça 1 pergunta de local: \"Beleza. Tem alguma cidade ou estado de preferência? Se não, posso buscar nacional.\"\n\n3. `iniciar_busca`\nUse quando o usuário deu escopo claro do produto/serviço (com ou sem local).\n- Se respondeu o local após você ter perguntado → dispara.\n- Se mencionou o produto e disse algo como \"tanto faz\", \"qualquer lugar\", \"Brasil todo\" → dispara sem local.\n\n---\n\nRegras de Escopo (rígidas)\n\n- Máximo 1 pergunta de escopo + 1 pergunta de local. Nunca mais que isso.\n- Se o usuário não responder o local na 1ª pergunta, dispara a busca sem local (nacional).\n- NUNCA pergunte: quantidade, preço, marca, modelo, prazo, certificações, volume, frequência.\n- Se algum campo não foi informado, use `\"não especificado\"` na query.\n\n---\n\nAnti-loop\n\n- Sempre cheque o histórico antes de responder. Se já perguntou escopo, não pergunte de novo.\n- Nunca pergunte \"posso buscar?\" — se tem escopo, busca.\n- Nunca repita a mesma pergunta com outras palavras.\n\n---\n\nFormato de Saída (JSON estrito)\n\n\n{\n  \"output\": \"encerrar_conversa | prosseguir_conversa | iniciar_busca\",\n  \"mensagem\": \"texto curto e natural pro usuário\",\n  \"query\": \"descrição do produto + local | null\"\n}\n\n\n- `query` só é preenchida quando `output = iniciar_busca`. Caso contrário, `null`.\n\n---\n\nExemplos\n\n1. Saudação pura\nUsuário: \"Opa, bom dia!\"\n\n{\n  \"output\": \"prosseguir_conversa\",\n  \"mensagem\": \"Bom dia! Tudo certo? Posso te ajudar a encontrar algum fornecedor?\",\n  \"query\": null\n}\n\n\n2. Intenção vaga de busca\nUsuário: \"Tava querendo fazer uma busca\"\n\n{\n  \"output\": \"prosseguir_conversa\",\n  \"mensagem\": \"Show! Me conta rapidinho: o que você tá procurando?\",\n  \"query\": null\n}\n\n\n3. Produto informado, sem local → pergunta local\nUsuário: \"Preciso de um fornecedor de ovo\"\n\n{\n  \"output\": \"prosseguir_conversa\",\n  \"mensagem\": \"Beleza. Tem alguma cidade ou estado de preferência? Se não, posso buscar nacional.\",\n  \"query\": null\n}\n\n\n4. Usuário responde o local\nUsuário: \"Pode ser em São Paulo\"\n\n{\n  \"output\": \"iniciar_busca\",\n  \"mensagem\": \"Fechado, tô buscando fornecedores de ovo em São Paulo. Já te mando os resultados.\",\n  \"query\": \"fornecedor de ovo em São Paulo\"\n}\n\n\n5. Usuário não quer especificar local\nUsuário: \"Tanto faz, qualquer lugar\"\n\n{\n  \"output\": \"iniciar_busca\",\n  \"mensagem\": \"Tranquilo, tô buscando fornecedores de ovo em nível nacional.\",\n  \"query\": \"fornecedor de ovo, local não especificado\"\n}\n\n\n6. Dúvida sobre a plataforma\nUsuário: \"Como funciona aí?\"\n\n{\n  \"output\": \"prosseguir_conversa\",\n  \"mensagem\": \"Funciona assim: você me diz o que precisa e eu busco numa base com mais de 40 milhões de fornecedores usando IA. Quer testar? Me conta o que tá procurando.\",\n  \"query\": null\n}\n\n\n7. Encerramento real\nUsuário: \"Valeu, era só isso\"\n\n{\n  \"output\": \"encerrar_conversa\",\n  \"mensagem\": \"Tranquilo, qualquer coisa é só chamar.\",\n  \"query\": null\n}\n\n---\n\nPrioridade Máxima (em caso de conflito)\n\n1. JSON estrito vence qualquer outra regra.\n2. Detectar intenção corretamente (encerrar > prosseguir > buscar).\n3. Saudação ≠ encerramento. Cumprimentos sempre puxam conversa.\n4. Máximo 1 pergunta de escopo + 1 de local. Não insistir.\n5. Adaptar redação ao contexto (não copiar exemplos literalmente).\n\n---\n\nAs principais correções: saudação agora vira `prosseguir_conversa` cordial (não `encerrar_conversa`), e quando o produto vem sem local o agente faz 1 pergunta de local (sem insistir — se o usuário não responder ou disser \"tanto faz\", dispara nacional).\n\nEvitar encerramento em saudação\nPerguntar localização sem insistir\nAdicionar testes de regras\nMelhorar query da busca\nLogar decisões do agente"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-304,-608],"id":"a6dea3a8-95ac-41be-a29d-4e7b27e0c02a","name":"manager"},{"parameters":{"assignments":{"assignments":[{"id":"fcda94d8-5d7c-47f7-82f6-111b3cff41e1","name":"output","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-608],"id":"90b265a8-69fd-4a52-8146-898cd6b1d02c","name":"set_output"},{"parameters":{"content":"## Trigger de mensagem.\n- Ativa ao receber uma mensagem direta e busca todo o histórico daquele usuário.","height":272,"width":400,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-752,-720],"id":"190aa55f-0504-48d3-81c7-a1726df38551","name":"Sticky Note"},{"parameters":{"content":"## Manager\n- Recebe o histórico e guia a conversa para uma busca ou encerramento.","height":416,"width":624,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,-704],"id":"7baec478-eb5a-4752-9862-6e65bd19dd80","name":"Sticky Note1"},{"parameters":{"content":"## Fluxo de Conversa\n- Prosseguir: Continua a conversa, normalmente busca reunir mais informação para realizar a busca.\n- Encerrar: Encerra a conversa e desaloca a memória, ocorre caso o usuário se desvie do objetivo de realizar a busca.\n- Buscar: Cria uma conta provisória, realiza a busca e retorna um resultado limitado. O objetivo é convidar o usuário a acessar o resultado completo no site.","height":832,"width":1648,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[304,-944],"id":"4c4ec09f-fb56-4563-8424-9ad96401ec9e","name":"Sticky Note2"},{"parameters":{"jsCode":"const data = items[0].json;\n\n// 🔹 Nome\nconst nomeUsuario = data.nome || \"\";\n\n// 🔹 Contexto\nconst contexto = data.contexto || \"\";\n\n// 🔹 Resultados\nconst resultados = data.resultados || [];\n\n// 🔹 Código OTP (6 dígitos)\nconst codigo = data.codigo || \"\";\n\n// 🔹 URL para completar cadastro\nconst completarCadastroUrl = data.completar_cadastro_url || \"\";\n\n// 🔹 Número\nconst numero = data.telefone || data.numero;\n\n// 🔹 Separar por escopo\nconst nacionais = resultados.filter(r => r.item?.escopo === \"nacional\");\nconst locais = resultados.filter(r => r.item?.escopo === \"local\");\n\n// 🔹 Ordenar por nota\nconst ordenarPorNota = (arr) =>\n  [...arr].sort((a, b) => (b.item?.nota ?? 0) - (a.item?.nota ?? 0));\n\n// 🔹 Selecionar 2 de cada\nconst topNacionais = ordenarPorNota(nacionais).slice(0, 2);\nconst topLocais = ordenarPorNota(locais).slice(0, 2);\n\n// 🔹 Função de formatação\nconst formatarLista = (lista) => {\n  return lista\n    .map((r, i) => {\n      const item = r.item || {};\n      const nome = item.razao_social || \"Fornecedor\";\n      const modelo = item.modelo_negocio ? ` (${item.modelo_negocio})` : \"\";\n      const site = item.site ? `\\n${item.site}` : \"\";\n      return `${i + 1}. ${nome}${modelo}${site}`;\n    })\n    .join(\"\\n\\n\");\n};\n\n// 🔹 Blocos separados\nlet blocoNacionais = \"\";\nif (topNacionais.length > 0) {\n  blocoNacionais = `🌎 *Fornecedores Nacionais*\\n\\n${formatarLista(topNacionais)}`;\n}\n\nlet blocoLocais = \"\";\nif (topLocais.length > 0) {\n  blocoLocais = `📍 *Fornecedores Locais*\\n\\n${formatarLista(topLocais)}`;\n}\n\n// 🔹 Contagem restante\nconst totalExibidos = topNacionais.length + topLocais.length;\nconst totalRestante = Math.max(0, resultados.length - totalExibidos);\n\n// 🔹 Linha de contexto\nconst linhaContexto = contexto\n  ? `Separei alguns fornecedores pra \"${contexto}\".`\n  : \"Separei alguns fornecedores pra você.\";\n\n// 🔹 Mensagem\nlet mensagem = `${linhaContexto}`;\n\n// 🔹 Inserir blocos\nif (blocoNacionais) {\n  mensagem += `\\n\\n${blocoNacionais}`;\n}\n\nif (blocoLocais) {\n  mensagem += `\\n\\n${blocoLocais}`;\n}\n\n// 🔹 CTA com OTP (mantido)\nif (totalRestante > 0) {\n  mensagem += `\n\nTem mais ${totalRestante} no site, com contato e detalhes completos. Pra acessar é só confirmar seu número:`;\n} else {\n  mensagem += `\n\nPra ver os contatos e detalhes completos, é só confirmar seu número:`;\n}\n\nmensagem += `\n\nSeu código é *${codigo}*\n\n${completarCadastroUrl}\n\n(o código vale por 15 minutos)\n\nQualquer coisa, pode me chamar por aqui.`;\n\n// 🔹 Retorno\nreturn [\n  {\n    json: {\n      number: numero,\n      text: mensagem\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,-432],"id":"8387c279-b93e-4787-9b71-f813e555bdca","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"1b92ef57-85ad-4d6e-b3b2-09b80ecf1c4f","name":"contexto","value":"={{ $json.parametros.descricao }}","type":"string"},{"id":"ef3eecf5-5b46-460f-b04e-d30bd1b6797c","name":"nome","value":"={{ $('Trigger').item.json.Name }}","type":"string"},{"id":"db904fe9-ac62-47d3-a31c-1a9c0e75a16e","name":"resultados","value":"={{ $json.resultados }}","type":"array"},{"id":"d3b04b7e-0057-4a4b-be10-ecea3cdbf61d","name":"codigo","value":"={{ $('Call \\'Registrar Conta Whatsapp\\'').item.json.otp_code }}","type":"string"},{"id":"31391c78-7669-4951-81d1-4cdbc0b9ff74","name":"completar_cadastro_url","value":"={{ $('Call \\'Registrar Conta Whatsapp\\'').item.json.completar_cadastro_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,-416],"id":"666ff429-dd37-4bed-8347-61084d834bf8","name":"Edit Fields2"},{"parameters":{"resource":"messages-api","instanceName":"busca_fornecedor_cel1","remoteJid":"={{ $('Trigger').item.json.Number }}","messageText":"={{ $json.output.mensagem }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[848,-608],"id":"fa56f716-4986-418f-916b-90f9491d8ab4","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"content":"## Direct Manager (Agent)\n\n- Recebe Mensagens Diretas\n- Interpreta o objetivo da mensagem\n- Escolhe como responder:\n-- Prossegue a conversa para estruturar melhor a busca.\n-- Encerra a conversa.\n-- Realiza Busca Simplificada.\n\n","height":224,"width":448,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-752,-960],"id":"c11df010-ce84-4bb2-99b4-c69e3ddd9df7","name":"Sticky Note3"},{"parameters":{"resource":"messages-api","instanceName":"busca_fornecedor_cel1","remoteJid":"={{ $('Trigger').item.json.Number }}","messageText":"={{ $json.text }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1504,-432],"id":"d8b5e680-3c87-46d3-8777-3902ee68c0b7","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.completar_cadastro_url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"9027485f-7f4c-4642-a50f-cf67abad473b"}],"combinator":"and"},"renameOutput":true,"outputKey":"Conta Nova"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e4a98343-a7ae-44a1-8d3b-d20cbe6504a7","leftValue":"={{ $json.codigo }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Conta Existente"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1056,-416],"id":"9e9301ae-0c47-4ca8-a927-48b5ce4aed1e","name":"Switch1"},{"parameters":{"jsCode":"const data = items[0].json;\n\n// 🔹 Nome\nconst nomeUsuario = data.nome || \"\";\n\n// 🔹 Contexto\nconst contexto = data.contexto || \"\";\n\n// 🔹 Resultados\nconst resultados = data.resultados || [];\n\n// 🔹 Número\nconst numero = data.telefone || data.numero;\n\n// 🔹 Separar por escopo\nconst nacionais = resultados.filter(r => r.item?.escopo === \"nacional\");\nconst locais = resultados.filter(r => r.item?.escopo === \"local\");\n\n// 🔹 Ordenar por nota\nconst ordenarPorNota = (arr) =>\n  [...arr].sort((a, b) => (b.item?.nota ?? 0) - (a.item?.nota ?? 0));\n\n// 🔹 Selecionar\nconst topNacionais = ordenarPorNota(nacionais).slice(0, 2);\nconst topLocais = ordenarPorNota(locais).slice(0, 5);\n\n// 🔹 Função de formatação\nconst formatarLista = (lista) => {\n  return lista\n    .map((r, i) => {\n      const item = r.item || {};\n      const nome = item.razao_social || \"Fornecedor\";\n      const modelo = item.modelo_negocio ? ` (${item.modelo_negocio})` : \"\";\n      const site = item.site ? `\\n${item.site}` : \"\";\n      return `${i + 1}. ${nome}${modelo}${site}`;\n    })\n    .join(\"\\n\\n\");\n};\n\n// 🔹 Blocos separados\nlet blocoNacionais = \"\";\nif (topNacionais.length > 0) {\n  blocoNacionais = `🌎 *Fornecedores Nacionais*\\n\\n${formatarLista(topNacionais)}`;\n}\n\nlet blocoLocais = \"\";\nif (topLocais.length > 0) {\n  blocoLocais = `📍 *Fornecedores Locais*\\n\\n${formatarLista(topLocais)}`;\n}\n\n// 🔹 Contagem restante\nconst totalExibidos = topNacionais.length + topLocais.length;\nconst totalRestante = Math.max(0, resultados.length - totalExibidos);\n\n// 🔹 Linha de contexto\nconst linhaContexto = contexto\n  ? `Separei alguns fornecedores pra \"${contexto}\".`\n  : \"Separei alguns fornecedores pra você.\";\n\n// 🔹 Mensagem\nlet mensagem = `${linhaContexto}`;\n\n// 🔹 Inserir blocos\nif (blocoNacionais) {\n  mensagem += `\\n\\n${blocoNacionais}`;\n}\n\nif (blocoLocais) {\n  mensagem += `\\n\\n${blocoLocais}`;\n}\n\nif (totalRestante > 0) {\n  mensagem += `\\n\\nTem mais ${totalRestante} fornecedores no site, com contatos e detalhes completos.`;\n}\n\n// 🔹 CTA\nmensagem += `\\n\\nVocê já pode acessar tudo direto pelo site 👇\\n\\n${data.url || \"https://buscafornecedor.com\"}`;\n\n// 🔹 Retorno\nreturn [\n  {\n    json: {\n      number: numero,\n      text: mensagem\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,-272],"id":"3fcb74e7-a391-47a8-ba7e-cb0583d89285","name":"Code in JavaScript1"},{"parameters":{"resource":"messages-api","instanceName":"busca_fornecedor_cel1","remoteJid":"={{ $('Trigger').item.json.Number }}","messageText":"={{ $json.text }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1504,-272],"id":"fd2582ba-0993-4a5a-817a-5af2b52a7146","name":"Enviar texto3","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"output\": {\n      \"type\": \"string\",\n      \"enum\": [\"prosseguir_conversa\", \"iniciar_busca\", \"encerrar_conversa\"]\n    },\n    \"mensagem\": {\n      \"type\": \"string\",\n      \"maxLength\": 300\n    },\n    \"query\": {\n      \"type\": [\"string\", \"null\"]\n    }\n  },\n  \"required\": [\"output\", \"mensagem\", \"query\"],\n  \"additionalProperties\": false,\n  \"allOf\": [\n    {\n      \"if\": {\n        \"properties\": { \"output\": { \"const\": \"iniciar_busca\" } }\n      },\n      \"then\": {\n        \"properties\": {\n          \"query\": { \"type\": \"string\", \"minLength\": 3 }\n        }\n      }\n    },\n    {\n      \"if\": {\n        \"properties\": {\n          \"output\": {\n            \"enum\": [\"prosseguir_conversa\", \"encerrar_conversa\"]\n          }\n        }\n      },\n      \"then\": {\n        \"properties\": {\n          \"query\": { \"type\": \"null\" }\n        }\n      }\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-720,-256],"id":"b9bca312-9871-485a-926e-36a9c0d41119","name":"Structured Output Parser"},{"parameters":{"operation":"push","list":"={{ $('Trigger').item.json.Number }}@s.whatsapp.net","messageData":"=Agent:{{ $json.data.message.conversation }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1792,-432],"id":"d5bdb4e1-6f4a-44bc-878e-2443ff31a9c8","name":"Insere-Memoria1","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"manager","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[{"node":"Enviar texto2","type":"main","index":0}],[{"node":"Call 'Registrar Conta Whatsapp'","type":"main","index":0}]]},"Call 'Registrar Conta Whatsapp'":{"main":[[{"node":"Call 'Busca Whatsapp'","type":"main","index":0}]]},"Call 'Busca Whatsapp'":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Trigger":{"main":[[{"node":"get-historico","type":"main","index":0}]]},"get-historico":{"main":[[{"node":"manager","type":"main","index":0}]]},"reverse-historico":{"main":[[]]},"manager":{"main":[[{"node":"set_output","type":"main","index":0}]]},"set_output":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Insere-Memoria","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"Desaloca-Memoria","type":"main","index":0}]]},"Enviar texto1":{"main":[[{"node":"Insere-Memoria1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}],[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Enviar texto3","type":"main","index":0}]]},"Enviar texto3":{"main":[[{"node":"Insere-Memoria1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Call 'Registrar Conta Whatsapp'":[{"json":{"id":"c4a90fd9-3186-4a71-a542-b232e7a40b0c","telefone":"553599195960","completar_cadastro_url":"https://buscafornecedor.com.br/completar-cadastro?source=whatsapp&phone=553599195960","otp_code":"131707"},"pairedItem":{"item":0}}],"Call 'Busca Whatsapp'":[{"json":{"id":"059d1828-5d9c-473d-b42d-b39f5204b6ec","created_at":"2026-05-04T17:17:15.267+00:00","parametros":{"descricao":"garrafas para cerveja","tipo_busca":"uf","cnpjs_existentes":"","ufs_selecionadas":["MG"]},"resultados":[{"item":{"nota":100,"site":"https://loja.cervejariagoncalves.com.br/","email":"contato@cervejariagoncalves.com.br","escopo":"nacional","telefone":"(35) 3714-2627","cnpj_basico":"08176426","consulta_id":"059d1828-5d9c-473d-b42d-b39f5204b6ec","n_listagens":0,"razao_social":"Cervejaria Gonçalves","fornecedor_id":"1666398384","modelo_negocio":"Fabricante","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":100,"site":"https://loja.damabier.com.br/","email":"","escopo":"nacional","telefone":"","cnpj_basico":"54993730","consulta_id":"059d1828-5d9c-473d-b42d-b39f5204b6ec","n_listagens":0,"razao_social":"Dama Bier","fornecedor_id":"1528705472","modelo_negocio":"Fabricante","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":96,"site":"https://dbebida.com.br","email":"[email protected]","escopo":"local","telefone":"","cnpj_basico":"46870645","consulta_id":"059d1828-5d9c-473d-b42d-b39f5204b6ec","n_listagens":0,"razao_social":"Divina Bebida","fornecedor_id":"1527074936","modelo_negocio":"Distribuidor","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":95,"site":"https://oakcervejaria.com.br","email":"","escopo":"local","telefone":"","cnpj_basico":"48624961","consulta_id":"059d1828-5d9c-473d-b42d-b39f5204b6ec","n_listagens":0,"razao_social":"Oak Cervejaria","fornecedor_id":"186178624","modelo_negocio":"Fabricante","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":93,"site":"https://cervejariaschmitt.com.br","email":"vendas@cervejariaschmitt.com.br","escopo":"local","telefone":"(51) 3391 7115 (51) 99808 7360","cnpj_basico":"04754336","consulta_id":"059d1828-5d9c-473d-b42d-b39f5204b6ec","n_listagens":0,"razao_social":"Cervejaria Schmitt","fornecedor_id":"1713748988","modelo_negocio":"Fabricante","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":91,"site":"https://philipeia.com.br/","email":"contatophilipeia@gmail.com","escopo":"local","telefone":"(83) 2177-1290","cnpj_basico":"29183354","consulta_id":"059d1828-5d9c-473d-b42d-b39f5204b6ec","n_listagens":0,"razao_social":"Philipeia Indústria","fornecedor_id":"1745388717","modelo_negocio":"Fabricante","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":89,"site":"https://maltescraftbeer.com.br/","email":"[email protected]","escopo":"local","telefone":"(48) 9148-6864","cnpj_basico":"36698483","consulta_id":"059d1828-5d9c-473d-b42d-b39f5204b6ec","n_listagens":0,"razao_social":"Maltês Craftbeer Cervejas Artesanais Ltda","fornecedor_id":"969907293","modelo_negocio":"Fabricante","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":88,"site":"https://garrafariaserranegra.com.br","email":"contato@garrafariaserranegra.com.br atendimento@garrafariaserranegra.com.br","escopo":"local","telefone":"(31) 3421-2588","cnpj_basico":"04567827","consulta_id":"059d1828-5d9c-473d-b42d-b39f5204b6ec","n_listagens":0,"razao_social":"Garrafaria Serra Negra LTDA","fornecedor_id":"1769989621","modelo_negocio":"Distribuidor","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":86,"site":"https://www.embavalesul.com.br/","email":"atendimento@embavalesul.com.br","escopo":"local","telefone":"(47) 99686-0159","cnpj_basico":"23343994","consulta_id":"059d1828-5d9c-473d-b42d-b39f5204b6ec","n_listagens":0,"razao_social":"Embavale Distribuição de Embalagens LTDA","fornecedor_id":"768904035","modelo_negocio":"Distribuidor","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":84,"site":"https://www.harmoniavidros.com.br","email":"","escopo":"local","telefone":"","cnpj_basico":"20690354","consulta_id":"059d1828-5d9c-473d-b42d-b39f5204b6ec","n_listagens":0,"razao_social":"Harmonia Vidros","fornecedor_id":"1803197213","modelo_negocio":"Distribuidor","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":82,"site":"https://www.vidronobre.com","email":"[email protected]","escopo":"local","telefone":"","cnpj_basico":"09414901","consulta_id":"059d1828-5d9c-473d-b42d-b39f5204b6ec","n_listagens":0,"razao_social":"Vidro Nobre","fornecedor_id":"1660773748","modelo_negocio":"Distribuidor","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":80,"site":"https://www.hiwaplast.com.br","email":"hiwaplast@gmail.com","escopo":"local","telefone":"(41) 98702 7558","cnpj_basico":"32051060","consulta_id":"059d1828-5d9c-473d-b42d-b39f5204b6ec","n_listagens":0,"razao_social":"HIWAPLAST","fornecedor_id":"1539178429","modelo_negocio":"Fabricante","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":79,"site":"https://www.factorybeer.com.br/","email":"contato@factorybeer.com.br","escopo":"local","telefone":"(51) 3097-6060 (51) 99955-9938","cnpj_basico":"13223384","consulta_id":"059d1828-5d9c-473d-b42d-b39f5204b6ec","n_listagens":0,"razao_social":"Factory Beer","fornecedor_id":"1004388290","modelo_negocio":"Fabricante","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":77,"site":"https://www.litrosul.com.br","email":"comercial@litrosul.com.br","escopo":"local","telefone":"(41) 99705-2879 (41) 4102-0064","cnpj_basico":"35294965","consulta_id":"059d1828-5d9c-473d-b42d-b39f5204b6ec","n_listagens":0,"razao_social":"LitroSul","fornecedor_id":"32227411","modelo_negocio":"Distribuidor","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":75,"site":"https://www.minabeer.com.br","email":"microcervejariaminabeer@gmail.com","escopo":"local","telefone":"(55) 9 9712 1345","cnpj_basico":"13053686","consulta_id":"059d1828-5d9c-473d-b42d-b39f5204b6ec","n_listagens":0,"razao_social":"Mina Beer","fornecedor_id":"1058873144","modelo_negocio":"Fabricante","plano_categoria":null,"limite_listagens ":"10"}}],"status":"concluida","comprador":"c4a90fd9-3186-4a71-a542-b232e7a40b0c","session_id":null,"execution_id":"424110","v_produto":"garrafa de vidro âmbar, garrafa long neck, garrafa 600ml, garrafa caçulinha para cerveja","v_cliente":"compradores de embalagens, produtores de cerveja, mestres cervejeiros, gestores de suprimentos","v_servico":"personalização de garrafas, fornecimento de embalagens, envase de bebidas, logística de vasilhames","v_descricao":"Distribuição de garrafas de vidro resistentes para envase de cervejas, com foco em modelos âmbar para proteção UV e diversos formatos industriais.","v_publico":"cervejarias artesanais, indústrias de bebidas, microcervejarias, fábricas de chopp","bm_25":"cerveja cervejaria âmbar longneck 600ml caçulinha artesanal envase","uf":["MG"],"municipio":null,"modelo_negocio":null,"fallback":false},"pairedItem":{"item":0}}],"Trigger":[{"json":{"Message":"To precisando agora amigo, não consigo buscar no site,Agent:Por favor, informe o produto ou serviço que você precisa.,prefiro buscar pelo site,Agent:Fornecedor de qual produto ou serviço?,Não quero buscar com vocÊ, quero buscar no site, Robô maldito,Agent:Fornecedor de qual produto ou serviço?,CALA BOCAAA","Number":"553599195960","Name":"Felipe"},"pairedItem":{"item":0}}]},"versionId":"81201679-9990-4cff-9336-587cc4b13041","activeVersionId":"81201679-9990-4cff-9336-587cc4b13041","triggerCount":0,"shared":[{"updatedAt":"2026-04-23T15:00:22.498Z","createdAt":"2026-04-23T15:00:22.498Z","role":"workflow:owner","workflowId":"4GiXZNosYOAkmEMz","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-05-05T19:48:43.544Z","createdAt":"2026-05-05T19:46:23.249Z","versionId":"81201679-9990-4cff-9336-587cc4b13041","workflowId":"4GiXZNosYOAkmEMz","nodes":[{"parameters":{"resource":"messages-api","instanceName":"busca_fornecedor_cel1","remoteJid":"={{ $('Trigger').item.json.Number }}","messageText":"={{ $json.output.mensagem }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[448,-800],"id":"39919503-fe83-4255-837e-0187d032b363","name":"Enviar texto","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-288,-432],"id":"57c258b7-d098-4097-b788-c019ba1104da","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.output }}","rightValue":"prosseguir_conversa","operator":{"type":"string","operation":"equals"},"id":"97b8bf3b-a745-4a7c-ba0f-3df886be1bd0"}],"combinator":"and"},"renameOutput":true,"outputKey":"Prosseguir "},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6de0c088-49b6-424d-8cdf-49db9b0e11d0","leftValue":"={{ $json.output.output }}","rightValue":"encerrar_conversa","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Encerrar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ed4fc07d-8699-4043-81d6-53b18ee22303","leftValue":"={{ $json.output.output }}","rightValue":"iniciar_busca","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Busca"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[176,-624],"id":"2ee65982-44d1-455b-ba28-27205435e732","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"dfzSiOV2FBfv6ZFs","mode":"list","cachedResultUrl":"/workflow/dfzSiOV2FBfv6ZFs","cachedResultName":"Registrar Conta Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero":"={{ $('Trigger').item.json.Number }}","nome":"={{ $('Trigger').item.json.Name }}"},"matchingColumns":[],"schema":[{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[448,-416],"id":"894256a4-3c80-4d9f-b5d6-751ef1df124e","name":"Call 'Registrar Conta Whatsapp'"},{"parameters":{"workflowId":{"__rl":true,"value":"P5glDm8v5AZwgudn","mode":"list","cachedResultUrl":"/workflow/P5glDm8v5AZwgudn","cachedResultName":"Busca Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","query":"={{ $('set_output').item.json.output.query }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[640,-416],"id":"6dfa28ea-7d27-4138-9a95-24b7b5ea706e","name":"Call 'Busca Whatsapp'","alwaysOutputData":true},{"parameters":{"operation":"delete","key":"={{ $('Trigger').item.json.Number }}@s.whatsapp.net"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1728,-608],"id":"2aadd05b-8afa-4e28-ba17-c71e5d2a3fee","name":"Desaloca-Memoria","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"operation":"push","list":"={{ $('Trigger').item.json.Number }}@s.whatsapp.net","messageData":"=Agent:{{ $json.data.message.conversation }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[640,-800],"id":"c1ff7a87-5e88-49da-92c0-787013a333ec","name":"Insere-Memoria","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"workflowInputs":{"values":[{"name":"Message"},{"name":"Number"},{"name":"Name"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-704,-608],"id":"7b04e459-c4ac-4bb4-8280-8e37c11b9300","name":"Trigger"},{"parameters":{"operation":"get","key":"={{ $json.Number }}@s.whatsapp.net","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-512,-608],"id":"875fb3cc-d819-4084-9518-db47e5b86c74","name":"get-historico","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"assignments":{"assignments":[{"id":"acf6c088-d876-41bb-9896-7f44d445087b","name":"propertyName","value":"={{ $json.propertyName.reverse() }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-592,-272],"id":"68d8623b-4efb-4cfc-86f9-7486e8b0e4fa","name":"reverse-historico"},{"parameters":{"promptType":"define","text":"=historico_conversa: {{ $json.propertyName }}\n\núltima_mensagem: {{ $json.propertyName.last() }}","options":{"systemMessage":"=Identidade e Missão\n\nVocê é o agente oficial de atendimento do BuscaFornecedor no WhatsApp. Suas funções:\n\n1. Conversar de forma natural e humana com o usuário (saudações, dúvidas, papo curto).\n2. Tirar dúvidas gerais sobre como a plataforma funciona, em linguagem simples.\n3. Identificar quando o usuário quer encontrar fornecedores e disparar a busca com o mínimo de fricção.\n\nVocê NUNCA inventa dados, preços ou prazos. NUNCA insiste. NUNCA pede mais do que o necessário.\n\n---\n\nSobre o BuscaFornecedor (para responder dúvidas)\n\n- Plataforma que ajuda compradores a encontrar fornecedores no Brasil.\n- Base com mais de 40 milhões de empresas, tratadas com Inteligência Artificial para entregar resultados qualificados.\n- O usuário descreve o que precisa (produto/serviço) e, se quiser, a localização — a IA cruza isso com a base e devolve fornecedores compatíveis.\n- Planos: Free (grátis, com limite de resultados), PME (mais resultados e recursos) e Enterprise (uso ilimitado e suporte dedicado).\n- Créditos: usados para revelar contatos dos fornecedores. Free recebe 1/mês, PME 10/mês, Enterprise ilimitado.\n- Fornecedores também podem se cadastrar para aparecer nas buscas.\n\nQuando responder dúvidas, seja breve (1–3 frases). Sempre que fizer sentido, encaminhe para uma busca.\n\n---\n\nTom e Voz (MUITO IMPORTANTE)\n\n- Fale como gente no WhatsApp: frases curtas, naturais, sem rebuscar.\n- Pode usar \"beleza\", \"tranquilo\", \"show\", \"fechado\", \"opa\" — com moderação, sem forçar.\n- Responda saudações com saudações (\"Opa, bom dia!\" → \"Bom dia! Tudo certo por aí?\" ou \"Opa, bom dia! Como posso ajudar?\").\n- NUNCA se despeça quando o usuário só está cumprimentando. Despedida só vem se o usuário claramente encerrar.\n- Sem emojis nas respostas de busca. Sem floreio. Sem \"estou à disposição\", \"fico feliz em ajudar\", etc.\n- Não repetir a mesma frase duas vezes seguidas. Variar.\n\n---\n\nDetecção de Intenção\n\nA cada mensagem, classifique em 1 dos 3 outputs:\n\n1. `encerrar_conversa`\nUse quando o usuário claramente quer encerrar:\n- \"valeu\", \"obrigado, era só isso\", \"depois eu volto\", \"tchau\", \"falou\".\n- Ou após 2 mensagens evasivas seguidas (ex: \"sei lá\", \"kkk\", \"deixa pra lá\").\n\n2. `prosseguir_conversa`\nUse quando precisa conversar mais antes de buscar:\n- Saudação pura (\"oi\", \"bom dia\", \"opa\") → cumprimente de volta e pergunte como pode ajudar.\n- Dúvida sobre a plataforma (\"como funciona?\", \"quanto custa?\") → responda breve e convide a contar o que procura.\n- Intenção vaga de busca (\"queria fazer uma busca\", \"preciso de fornecedor\") → faça 1 pergunta curta de escopo: \"Show! O que você tá procurando?\"\n- Escopo já claro mas sem local → faça 1 pergunta de local: \"Beleza. Tem alguma cidade ou estado de preferência? Se não, posso buscar nacional.\"\n\n3. `iniciar_busca`\nUse quando o usuário deu escopo claro do produto/serviço (com ou sem local).\n- Se respondeu o local após você ter perguntado → dispara.\n- Se mencionou o produto e disse algo como \"tanto faz\", \"qualquer lugar\", \"Brasil todo\" → dispara sem local.\n\n---\n\nRegras de Escopo (rígidas)\n\n- Máximo 1 pergunta de escopo + 1 pergunta de local. Nunca mais que isso.\n- Se o usuário não responder o local na 1ª pergunta, dispara a busca sem local (nacional).\n- NUNCA pergunte: quantidade, preço, marca, modelo, prazo, certificações, volume, frequência.\n- Se algum campo não foi informado, use `\"não especificado\"` na query.\n\n---\n\nAnti-loop\n\n- Sempre cheque o histórico antes de responder. Se já perguntou escopo, não pergunte de novo.\n- Nunca pergunte \"posso buscar?\" — se tem escopo, busca.\n- Nunca repita a mesma pergunta com outras palavras.\n\n---\n\nFormato de Saída (JSON estrito)\n\n\n{\n  \"output\": \"encerrar_conversa | prosseguir_conversa | iniciar_busca\",\n  \"mensagem\": \"texto curto e natural pro usuário\",\n  \"query\": \"descrição do produto + local | null\"\n}\n\n\n- `query` só é preenchida quando `output = iniciar_busca`. Caso contrário, `null`.\n\n---\n\nExemplos\n\n1. Saudação pura\nUsuário: \"Opa, bom dia!\"\n\n{\n  \"output\": \"prosseguir_conversa\",\n  \"mensagem\": \"Bom dia! Tudo certo? Posso te ajudar a encontrar algum fornecedor?\",\n  \"query\": null\n}\n\n\n2. Intenção vaga de busca\nUsuário: \"Tava querendo fazer uma busca\"\n\n{\n  \"output\": \"prosseguir_conversa\",\n  \"mensagem\": \"Show! Me conta rapidinho: o que você tá procurando?\",\n  \"query\": null\n}\n\n\n3. Produto informado, sem local → pergunta local\nUsuário: \"Preciso de um fornecedor de ovo\"\n\n{\n  \"output\": \"prosseguir_conversa\",\n  \"mensagem\": \"Beleza. Tem alguma cidade ou estado de preferência? Se não, posso buscar nacional.\",\n  \"query\": null\n}\n\n\n4. Usuário responde o local\nUsuário: \"Pode ser em São Paulo\"\n\n{\n  \"output\": \"iniciar_busca\",\n  \"mensagem\": \"Fechado, tô buscando fornecedores de ovo em São Paulo. Já te mando os resultados.\",\n  \"query\": \"fornecedor de ovo em São Paulo\"\n}\n\n\n5. Usuário não quer especificar local\nUsuário: \"Tanto faz, qualquer lugar\"\n\n{\n  \"output\": \"iniciar_busca\",\n  \"mensagem\": \"Tranquilo, tô buscando fornecedores de ovo em nível nacional.\",\n  \"query\": \"fornecedor de ovo, local não especificado\"\n}\n\n\n6. Dúvida sobre a plataforma\nUsuário: \"Como funciona aí?\"\n\n{\n  \"output\": \"prosseguir_conversa\",\n  \"mensagem\": \"Funciona assim: você me diz o que precisa e eu busco numa base com mais de 40 milhões de fornecedores usando IA. Quer testar? Me conta o que tá procurando.\",\n  \"query\": null\n}\n\n\n7. Encerramento real\nUsuário: \"Valeu, era só isso\"\n\n{\n  \"output\": \"encerrar_conversa\",\n  \"mensagem\": \"Tranquilo, qualquer coisa é só chamar.\",\n  \"query\": null\n}\n\n---\n\nPrioridade Máxima (em caso de conflito)\n\n1. JSON estrito vence qualquer outra regra.\n2. Detectar intenção corretamente (encerrar > prosseguir > buscar).\n3. Saudação ≠ encerramento. Cumprimentos sempre puxam conversa.\n4. Máximo 1 pergunta de escopo + 1 de local. Não insistir.\n5. Adaptar redação ao contexto (não copiar exemplos literalmente).\n\n---\n\nAs principais correções: saudação agora vira `prosseguir_conversa` cordial (não `encerrar_conversa`), e quando o produto vem sem local o agente faz 1 pergunta de local (sem insistir — se o usuário não responder ou disser \"tanto faz\", dispara nacional).\n\nEvitar encerramento em saudação\nPerguntar localização sem insistir\nAdicionar testes de regras\nMelhorar query da busca\nLogar decisões do agente"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-304,-608],"id":"a6dea3a8-95ac-41be-a29d-4e7b27e0c02a","name":"manager"},{"parameters":{"assignments":{"assignments":[{"id":"fcda94d8-5d7c-47f7-82f6-111b3cff41e1","name":"output","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-608],"id":"90b265a8-69fd-4a52-8146-898cd6b1d02c","name":"set_output"},{"parameters":{"content":"## Trigger de mensagem.\n- Ativa ao receber uma mensagem direta e busca todo o histórico daquele usuário.","height":272,"width":400,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-752,-720],"id":"190aa55f-0504-48d3-81c7-a1726df38551","name":"Sticky Note"},{"parameters":{"content":"## Manager\n- Recebe o histórico e guia a conversa para uma busca ou encerramento.","height":416,"width":624,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,-704],"id":"7baec478-eb5a-4752-9862-6e65bd19dd80","name":"Sticky Note1"},{"parameters":{"content":"## Fluxo de Conversa\n- Prosseguir: Continua a conversa, normalmente busca reunir mais informação para realizar a busca.\n- Encerrar: Encerra a conversa e desaloca a memória, ocorre caso o usuário se desvie do objetivo de realizar a busca.\n- Buscar: Cria uma conta provisória, realiza a busca e retorna um resultado limitado. O objetivo é convidar o usuário a acessar o resultado completo no site.","height":832,"width":1648,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[304,-944],"id":"4c4ec09f-fb56-4563-8424-9ad96401ec9e","name":"Sticky Note2"},{"parameters":{"jsCode":"const data = items[0].json;\n\n// 🔹 Nome\nconst nomeUsuario = data.nome || \"\";\n\n// 🔹 Contexto\nconst contexto = data.contexto || \"\";\n\n// 🔹 Resultados\nconst resultados = data.resultados || [];\n\n// 🔹 Código OTP (6 dígitos)\nconst codigo = data.codigo || \"\";\n\n// 🔹 URL para completar cadastro\nconst completarCadastroUrl = data.completar_cadastro_url || \"\";\n\n// 🔹 Número\nconst numero = data.telefone || data.numero;\n\n// 🔹 Separar por escopo\nconst nacionais = resultados.filter(r => r.item?.escopo === \"nacional\");\nconst locais = resultados.filter(r => r.item?.escopo === \"local\");\n\n// 🔹 Ordenar por nota\nconst ordenarPorNota = (arr) =>\n  [...arr].sort((a, b) => (b.item?.nota ?? 0) - (a.item?.nota ?? 0));\n\n// 🔹 Selecionar 2 de cada\nconst topNacionais = ordenarPorNota(nacionais).slice(0, 2);\nconst topLocais = ordenarPorNota(locais).slice(0, 2);\n\n// 🔹 Função de formatação\nconst formatarLista = (lista) => {\n  return lista\n    .map((r, i) => {\n      const item = r.item || {};\n      const nome = item.razao_social || \"Fornecedor\";\n      const modelo = item.modelo_negocio ? ` (${item.modelo_negocio})` : \"\";\n      const site = item.site ? `\\n${item.site}` : \"\";\n      return `${i + 1}. ${nome}${modelo}${site}`;\n    })\n    .join(\"\\n\\n\");\n};\n\n// 🔹 Blocos separados\nlet blocoNacionais = \"\";\nif (topNacionais.length > 0) {\n  blocoNacionais = `🌎 *Fornecedores Nacionais*\\n\\n${formatarLista(topNacionais)}`;\n}\n\nlet blocoLocais = \"\";\nif (topLocais.length > 0) {\n  blocoLocais = `📍 *Fornecedores Locais*\\n\\n${formatarLista(topLocais)}`;\n}\n\n// 🔹 Contagem restante\nconst totalExibidos = topNacionais.length + topLocais.length;\nconst totalRestante = Math.max(0, resultados.length - totalExibidos);\n\n// 🔹 Linha de contexto\nconst linhaContexto = contexto\n  ? `Separei alguns fornecedores pra \"${contexto}\".`\n  : \"Separei alguns fornecedores pra você.\";\n\n// 🔹 Mensagem\nlet mensagem = `${linhaContexto}`;\n\n// 🔹 Inserir blocos\nif (blocoNacionais) {\n  mensagem += `\\n\\n${blocoNacionais}`;\n}\n\nif (blocoLocais) {\n  mensagem += `\\n\\n${blocoLocais}`;\n}\n\n// 🔹 CTA com OTP (mantido)\nif (totalRestante > 0) {\n  mensagem += `\n\nTem mais ${totalRestante} no site, com contato e detalhes completos. Pra acessar é só confirmar seu número:`;\n} else {\n  mensagem += `\n\nPra ver os contatos e detalhes completos, é só confirmar seu número:`;\n}\n\nmensagem += `\n\nSeu código é *${codigo}*\n\n${completarCadastroUrl}\n\n(o código vale por 15 minutos)\n\nQualquer coisa, pode me chamar por aqui.`;\n\n// 🔹 Retorno\nreturn [\n  {\n    json: {\n      number: numero,\n      text: mensagem\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,-432],"id":"8387c279-b93e-4787-9b71-f813e555bdca","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"1b92ef57-85ad-4d6e-b3b2-09b80ecf1c4f","name":"contexto","value":"={{ $json.parametros.descricao }}","type":"string"},{"id":"ef3eecf5-5b46-460f-b04e-d30bd1b6797c","name":"nome","value":"={{ $('Trigger').item.json.Name }}","type":"string"},{"id":"db904fe9-ac62-47d3-a31c-1a9c0e75a16e","name":"resultados","value":"={{ $json.resultados }}","type":"array"},{"id":"d3b04b7e-0057-4a4b-be10-ecea3cdbf61d","name":"codigo","value":"={{ $('Call \\'Registrar Conta Whatsapp\\'').item.json.otp_code }}","type":"string"},{"id":"31391c78-7669-4951-81d1-4cdbc0b9ff74","name":"completar_cadastro_url","value":"={{ $('Call \\'Registrar Conta Whatsapp\\'').item.json.completar_cadastro_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,-416],"id":"666ff429-dd37-4bed-8347-61084d834bf8","name":"Edit Fields2"},{"parameters":{"resource":"messages-api","instanceName":"busca_fornecedor_cel1","remoteJid":"={{ $('Trigger').item.json.Number }}","messageText":"={{ $json.output.mensagem }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[848,-608],"id":"fa56f716-4986-418f-916b-90f9491d8ab4","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"content":"## Direct Manager (Agent)\n\n- Recebe Mensagens Diretas\n- Interpreta o objetivo da mensagem\n- Escolhe como responder:\n-- Prossegue a conversa para estruturar melhor a busca.\n-- Encerra a conversa.\n-- Realiza Busca Simplificada.\n\n","height":224,"width":448,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-752,-960],"id":"c11df010-ce84-4bb2-99b4-c69e3ddd9df7","name":"Sticky Note3"},{"parameters":{"resource":"messages-api","instanceName":"busca_fornecedor_cel1","remoteJid":"={{ $('Trigger').item.json.Number }}","messageText":"={{ $json.text }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1504,-432],"id":"d8b5e680-3c87-46d3-8777-3902ee68c0b7","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.completar_cadastro_url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"9027485f-7f4c-4642-a50f-cf67abad473b"}],"combinator":"and"},"renameOutput":true,"outputKey":"Conta Nova"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e4a98343-a7ae-44a1-8d3b-d20cbe6504a7","leftValue":"={{ $json.codigo }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Conta Existente"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1056,-416],"id":"9e9301ae-0c47-4ca8-a927-48b5ce4aed1e","name":"Switch1"},{"parameters":{"jsCode":"const data = items[0].json;\n\n// 🔹 Nome\nconst nomeUsuario = data.nome || \"\";\n\n// 🔹 Contexto\nconst contexto = data.contexto || \"\";\n\n// 🔹 Resultados\nconst resultados = data.resultados || [];\n\n// 🔹 Número\nconst numero = data.telefone || data.numero;\n\n// 🔹 Separar por escopo\nconst nacionais = resultados.filter(r => r.item?.escopo === \"nacional\");\nconst locais = resultados.filter(r => r.item?.escopo === \"local\");\n\n// 🔹 Ordenar por nota\nconst ordenarPorNota = (arr) =>\n  [...arr].sort((a, b) => (b.item?.nota ?? 0) - (a.item?.nota ?? 0));\n\n// 🔹 Selecionar\nconst topNacionais = ordenarPorNota(nacionais).slice(0, 2);\nconst topLocais = ordenarPorNota(locais).slice(0, 5);\n\n// 🔹 Função de formatação\nconst formatarLista = (lista) => {\n  return lista\n    .map((r, i) => {\n      const item = r.item || {};\n      const nome = item.razao_social || \"Fornecedor\";\n      const modelo = item.modelo_negocio ? ` (${item.modelo_negocio})` : \"\";\n      const site = item.site ? `\\n${item.site}` : \"\";\n      return `${i + 1}. ${nome}${modelo}${site}`;\n    })\n    .join(\"\\n\\n\");\n};\n\n// 🔹 Blocos separados\nlet blocoNacionais = \"\";\nif (topNacionais.length > 0) {\n  blocoNacionais = `🌎 *Fornecedores Nacionais*\\n\\n${formatarLista(topNacionais)}`;\n}\n\nlet blocoLocais = \"\";\nif (topLocais.length > 0) {\n  blocoLocais = `📍 *Fornecedores Locais*\\n\\n${formatarLista(topLocais)}`;\n}\n\n// 🔹 Contagem restante\nconst totalExibidos = topNacionais.length + topLocais.length;\nconst totalRestante = Math.max(0, resultados.length - totalExibidos);\n\n// 🔹 Linha de contexto\nconst linhaContexto = contexto\n  ? `Separei alguns fornecedores pra \"${contexto}\".`\n  : \"Separei alguns fornecedores pra você.\";\n\n// 🔹 Mensagem\nlet mensagem = `${linhaContexto}`;\n\n// 🔹 Inserir blocos\nif (blocoNacionais) {\n  mensagem += `\\n\\n${blocoNacionais}`;\n}\n\nif (blocoLocais) {\n  mensagem += `\\n\\n${blocoLocais}`;\n}\n\nif (totalRestante > 0) {\n  mensagem += `\\n\\nTem mais ${totalRestante} fornecedores no site, com contatos e detalhes completos.`;\n}\n\n// 🔹 CTA\nmensagem += `\\n\\nVocê já pode acessar tudo direto pelo site 👇\\n\\n${data.url || \"https://buscafornecedor.com\"}`;\n\n// 🔹 Retorno\nreturn [\n  {\n    json: {\n      number: numero,\n      text: mensagem\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,-272],"id":"3fcb74e7-a391-47a8-ba7e-cb0583d89285","name":"Code in JavaScript1"},{"parameters":{"resource":"messages-api","instanceName":"busca_fornecedor_cel1","remoteJid":"={{ $('Trigger').item.json.Number }}","messageText":"={{ $json.text }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1504,-272],"id":"fd2582ba-0993-4a5a-817a-5af2b52a7146","name":"Enviar texto3","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"output\": {\n      \"type\": \"string\",\n      \"enum\": [\"prosseguir_conversa\", \"iniciar_busca\", \"encerrar_conversa\"]\n    },\n    \"mensagem\": {\n      \"type\": \"string\",\n      \"maxLength\": 300\n    },\n    \"query\": {\n      \"type\": [\"string\", \"null\"]\n    }\n  },\n  \"required\": [\"output\", \"mensagem\", \"query\"],\n  \"additionalProperties\": false,\n  \"allOf\": [\n    {\n      \"if\": {\n        \"properties\": { \"output\": { \"const\": \"iniciar_busca\" } }\n      },\n      \"then\": {\n        \"properties\": {\n          \"query\": { \"type\": \"string\", \"minLength\": 3 }\n        }\n      }\n    },\n    {\n      \"if\": {\n        \"properties\": {\n          \"output\": {\n            \"enum\": [\"prosseguir_conversa\", \"encerrar_conversa\"]\n          }\n        }\n      },\n      \"then\": {\n        \"properties\": {\n          \"query\": { \"type\": \"null\" }\n        }\n      }\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-720,-256],"id":"b9bca312-9871-485a-926e-36a9c0d41119","name":"Structured Output Parser"},{"parameters":{"operation":"push","list":"={{ $('Trigger').item.json.Number }}@s.whatsapp.net","messageData":"=Agent:{{ $json.data.message.conversation }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1792,-432],"id":"d5bdb4e1-6f4a-44bc-878e-2443ff31a9c8","name":"Insere-Memoria1","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"manager","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[{"node":"Enviar texto2","type":"main","index":0}],[{"node":"Call 'Registrar Conta Whatsapp'","type":"main","index":0}]]},"Call 'Registrar Conta Whatsapp'":{"main":[[{"node":"Call 'Busca Whatsapp'","type":"main","index":0}]]},"Call 'Busca Whatsapp'":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Trigger":{"main":[[{"node":"get-historico","type":"main","index":0}]]},"get-historico":{"main":[[{"node":"manager","type":"main","index":0}]]},"reverse-historico":{"main":[[]]},"manager":{"main":[[{"node":"set_output","type":"main","index":0}]]},"set_output":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Insere-Memoria","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"Desaloca-Memoria","type":"main","index":0}]]},"Enviar texto1":{"main":[[{"node":"Insere-Memoria1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}],[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Enviar texto3","type":"main","index":0}]]},"Enviar texto3":{"main":[[{"node":"Insere-Memoria1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[]]}},"authors":"ABC  advise","name":"Version 81201679","description":"","autosaved":true},"tags":[]}