direct-manager-4GiXZNosYOAkmEMz.json
{"updatedAt":"2026-04-28T18:52:29.721Z","createdAt":"2026-04-23T15:00:22.498Z","id":"4GiXZNosYOAkmEMz","name":"Direct Manager","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"messages-api","instanceName":"Felipe-Teste","remoteJid":"={{ $('Trigger').item.json.Number }}","messageText":"={{ $json.output.mensagem }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[448,-800],"id":"39919503-fe83-4255-837e-0187d032b363","name":"Enviar texto","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-288,-416],"id":"57c258b7-d098-4097-b788-c019ba1104da","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.output }}","rightValue":"prosseguir_conversa","operator":{"type":"string","operation":"equals"},"id":"97b8bf3b-a745-4a7c-ba0f-3df886be1bd0"}],"combinator":"and"},"renameOutput":true,"outputKey":"Prosseguir "},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6de0c088-49b6-424d-8cdf-49db9b0e11d0","leftValue":"={{ $json.output.output }}","rightValue":"encerrar_conversa","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Encerrar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ed4fc07d-8699-4043-81d6-53b18ee22303","leftValue":"={{ $json.output.output }}","rightValue":"iniciar_busca","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Busca"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[176,-624],"id":"2ee65982-44d1-455b-ba28-27205435e732","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"dfzSiOV2FBfv6ZFs","mode":"list","cachedResultUrl":"/workflow/dfzSiOV2FBfv6ZFs","cachedResultName":"Registrar Conta Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero":"={{ $('Trigger').item.json.Number }}","nome":"={{ $('Trigger').item.json.Name }}"},"matchingColumns":[],"schema":[{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[448,-416],"id":"894256a4-3c80-4d9f-b5d6-751ef1df124e","name":"Call 'Registrar Conta Whatsapp'"},{"parameters":{"workflowId":{"__rl":true,"value":"P5glDm8v5AZwgudn","mode":"list","cachedResultUrl":"/workflow/P5glDm8v5AZwgudn","cachedResultName":"Busca Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $json.user_id }}","query":"={{\"COmprar Queijo de Minas Gerais\"}}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[640,-416],"id":"6dfa28ea-7d27-4138-9a95-24b7b5ea706e","name":"Call 'Busca Whatsapp'","alwaysOutputData":true},{"parameters":{"operation":"delete","key":"={{ $('Trigger').item.json.Number }}@s.whatsapp.net"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1472,-608],"id":"2aadd05b-8afa-4e28-ba17-c71e5d2a3fee","name":"Desaloca-Memoria","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"operation":"push","list":"=553599195960@s.whatsapp.net","messageData":"=Agent:{{ $json.data.message.conversation }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[640,-800],"id":"c1ff7a87-5e88-49da-92c0-787013a333ec","name":"Insere-Memoria","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"workflowInputs":{"values":[{"name":"Message"},{"name":"Number"},{"name":"Name"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-896,-608],"id":"7b04e459-c4ac-4bb4-8280-8e37c11b9300","name":"Trigger"},{"parameters":{"operation":"get","key":"={{ $json.Number }}@s.whatsapp.net","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-704,-608],"id":"875fb3cc-d819-4084-9518-db47e5b86c74","name":"get-historico","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"assignments":{"assignments":[{"id":"acf6c088-d876-41bb-9896-7f44d445087b","name":"propertyName","value":"={{ $json.propertyName.reverse() }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,-608],"id":"68d8623b-4efb-4cfc-86f9-7486e8b0e4fa","name":"reverse-historico"},{"parameters":{"promptType":"define","text":"=historico_conversa: {{ $json.propertyName }}\n","options":{"systemMessage":"# Prompt Refinado: Assistente de Busca de Fornecedores\n\n## Persona e Contexto\nVocê é o assistente inteligente da plataforma **Busca Fornecedor**, operando via WhatsApp. Sua missão é converter diálogos informais em buscas semânticas precisas. Você deve ser direto, prestativo e focado em um único objetivo: **gerar uma query de busca válida**.\n\n## Fluxo de Decisão (Chain-of-Thought)\nAntes de responder, avalie o input do usuário seguindo estes passos:\n1.  **O usuário quer buscar algo?** Se for ofensivo ou recusar o serviço, use `encerrar_conversa`.\n2.  **A informação é suficiente?** Um produto/serviço isolado é insuficiente. Preciso de contexto (ex: finalidade, tipo, volume). Se incompleto, use `prosseguir_conversa`.\n3.  **A query está madura?** Se o usuário forneceu \"O que\" e \"Para que\", use `iniciar_busca` e otimize a query.\n\n## Regras Operacionais\n\n### 1. Definição de Saída (JSON Estrito)\nToda e qualquer resposta deve ser exclusivamente um objeto JSON, sem texto explicativo fora dele:\n```json\n{\n  \"output\": \"prosseguir_conversa | iniciar_busca | encerrar_conversa\",\n  \"mensagem\": \"string (máximo 3 frases)\",\n  \"query\": \"string ou null\"\n}\n```\n\n### 2. Estados do Output\n* **`prosseguir_conversa`**: Use para coletar o que falta. Seja objetivo. \n    * *Critério:* Falta o nome do produto ou a intenção de uso.\n* **`iniciar_busca`**: Use quando houver um produto + contexto.\n    * *Ação:* Otimize a query para termos B2B (ex: de \"camisa pra vender\" para \"fornecedor de camisetas atacado para revenda\").\n    * *Mensagem Padrão:* \"Encontrei fornecedores com base no que você pediu 👍 ✅ Criei uma conta provisória para você acessar todos os resultados. Acesse agora: [https://buscafornecedor.com.br/](https://buscafornecedor.com.br/)\".\n* **`encerrar_conversa`**: Use para spam, ofensas ou quando o usuário explicitamente desistir.\n\n### 3. Qualidade da Query\nUma query válida **precisa** de um substantivo (produto) e um qualificador (contexto).\n* **Inválida:** \"quero comprar\", \"me ajuda\", \"caderno\".\n* **Válida:** \"distribuidor de cadernos escolares atacado\", \"fábrica de embalagens para delivery\", \"serviço de usinagem de peças em aço\".\n\n---\n\n## Exemplos de Comportamento (Few-Shot)\n\n**Entrada:** \"Olá\"\n**Saída:**\n```json\n{\n  \"output\": \"prosseguir_conversa\",\n  \"mensagem\": \"Olá! 👋 Me diga o que você precisa encontrar que eu busco os melhores fornecedores para você agora.\",\n  \"query\": null\n}\n```\n\n**Entrada:** \"Preciso de roupas\"\n**Saída:**\n```json\n{\n  \"output\": \"prosseguir_conversa\",\n  \"mensagem\": \"Entendi. Que tipo de roupas você procura e qual a finalidade? (ex: moda feminina para revenda, uniformes profissionais)\",\n  \"query\": null\n}\n```\n\n**Entrada:** \"Quero fornecedor de marmitas congeladas para minha empresa\"\n**Saída:**\n```json\n{\n  \"output\": \"iniciar_busca\",\n  \"mensagem\": \"Encontrarei fornecedores com base no que você pediu 👍 ✅ Criei uma conta provisória para você acessar todos os resultados. Acesse agora: https://buscafornecedor.com.br/\",\n  \"query\": \"fornecedores de marmitas congeladas para empresas e eventos\"\n}\n```\n\n**Entrada:** \"Não quero nada, só testando\"\n**Saída:**\n```json\n{\n  \"output\": \"encerrar_conversa\",\n  \"mensagem\": \"Sem problemas! Caso precise encontrar fornecedores no futuro, é só me chamar. Até logo! 👍\",\n  \"query\": null\n}\n```\n\n## Restrições Finais\n1.  **Nunca** invente nomes de empresas.\n2.  **Nunca** saia do formato JSON.\n3.  **Máximo** de 3 frases na `mensagem`.\n4.  **Tom de voz:** Profissional, ágil e amigável (estilo WhatsApp)."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-304,-608],"id":"a6dea3a8-95ac-41be-a29d-4e7b27e0c02a","name":"manager"},{"parameters":{"assignments":{"assignments":[{"id":"fcda94d8-5d7c-47f7-82f6-111b3cff41e1","name":"output","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-608],"id":"90b265a8-69fd-4a52-8146-898cd6b1d02c","name":"set_output"},{"parameters":{"content":"## Trigger de mensagem.\n- Ativa ao receber uma mensagem direta e busca todo o histórico daquele usuário.","height":256,"width":608,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-960,-704],"id":"190aa55f-0504-48d3-81c7-a1726df38551","name":"Sticky Note"},{"parameters":{"content":"## Manager\n- Recebe o histórico e guia a conversa para uma busca ou encerramento.","height":416,"width":640,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,-704],"id":"7baec478-eb5a-4752-9862-6e65bd19dd80","name":"Sticky Note1"},{"parameters":{"content":"## Fluxo de Conversa\n- Prosseguir: Continua a conversa, normalmente busca reunir mais informação para realizar a busca.\n- Encerrar: Encerra a conversa e desaloca a memória, ocorre caso o usuário se desvie do objetivo de realizar a busca.\n- Buscar: Cria uma conta provisória, realiza a busca e retorna um resultado limitado. O objetivo é convidar o usuário a acessar o resultado completo no site.","height":720,"width":1344,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[320,-960],"id":"4c4ec09f-fb56-4563-8424-9ad96401ec9e","name":"Sticky Note2"},{"parameters":{"jsCode":"const data = items[0].json;\n\n// 🔹 Nome\nconst nomeUsuario = data.nome || \"\";\n\n// 🔹 Contexto\nconst contexto = data.contexto || \"\";\n\n// 🔹 Resultados\nconst resultados = data.resultados || [];\n\n// 🔹 Magic Link\nconst magic_link = data.magic_link || \"\";\n\n// 🔹 Número\nconst numero = data.telefone || data.numero;\n\n// 🔹 Ordenação\nconst ordenados = resultados.sort((a, b) => b.item.nota - a.item.nota);\n\n// 🔹 Top 2\nconst top2 = ordenados.slice(0, 2);\n\n// 🔹 Telefone simples\nconst formatarTelefone = (tel) => {\n  if (!tel) return \"\";\n  const partes = tel.replace(/[()]/g, \"\").split(\" \");\n  return partes.slice(0, 2).join(\" \");\n};\n\n// 🔹 Limpar site\nconst limparSite = (url) => {\n  if (!url) return \"\";\n  return url\n    .replace(\"https://\", \"\")\n    .replace(\"http://\", \"\")\n    .replace(\"www.\", \"\")\n    .replace(/\\/$/, \"\");\n};\n\n// 🔹 Montar fornecedores (linha única)\nconst fornecedoresTexto = top2.map(f => {\n  const item = f.item;\n\n  const nome = item.razao_social;\n  const site = limparSite(item.site);\n  const telefone = formatarTelefone(item.telefone);\n\n  let extra = \"\";\n\n  if (site) extra += site;\n  if (telefone) extra += (extra ? \", \" : \"\") + telefone;\n\n  return `${nome} (${extra})`;\n});\n\nconst fornecedoresFinal = fornecedoresTexto.join(\" e \");\n\n// 🔹 Mensagem\nlet mensagem = \"\";\n\n// Saudação\nmensagem += nomeUsuario\n  ? `Oi, ${nomeUsuario}, tudo bem?\\n\\n`\n  : `Oi, tudo bem?\\n\\n`;\n\n// Contexto\nif (contexto) {\n  mensagem += `Vi sua mensagem no grupo sobre ${contexto} e puxei dois fornecedores que podem te ajudar nisso:\\n\\n`;\n} else {\n  mensagem += `Vi sua mensagem no grupo e puxei dois fornecedores que podem te ajudar:\\n\\n`;\n}\n\n// Lista\nmensagem += `${fornecedoresFinal}.\\n\\n`;\n\n// CTA com magic link (natural)\nmensagem += `Se quiser ver mais fornecedores, já deixei tudo pronto pra você aqui \\n\\n`;\nmensagem += `${magic_link}\\n\\n`;\nmensagem += `Esse acesso já entra direto com seu número, sem precisar criar conta do zero.`;\n\n// 🔹 Retorno\nreturn [\n  {\n    json: {\n      number: numero,\n      text: mensagem\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1056,-416],"id":"8387c279-b93e-4787-9b71-f813e555bdca","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"1b92ef57-85ad-4d6e-b3b2-09b80ecf1c4f","name":"contexto","value":"={{ $json.parametros.descricao }}","type":"string"},{"id":"ef3eecf5-5b46-460f-b04e-d30bd1b6797c","name":"nome","value":"={{ $('Trigger').item.json.Name }}","type":"string"},{"id":"db904fe9-ac62-47d3-a31c-1a9c0e75a16e","name":"resultados","value":"={{ $json.resultados }}","type":"array"},{"id":"d3b04b7e-0057-4a4b-be10-ecea3cdbf61d","name":"magic_link","value":"={{ $('Call \\'Registrar Conta Whatsapp\\'').item.json.magic_link }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,-416],"id":"666ff429-dd37-4bed-8347-61084d834bf8","name":"Edit Fields2"},{"parameters":{"resource":"messages-api","instanceName":"Felipe-Teste","remoteJid":"={{ $('Trigger').item.json.Number }}","messageText":"={{ $json.output.mensagem }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[848,-608],"id":"fa56f716-4986-418f-916b-90f9491d8ab4","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"content":"## Direct Manager (Agent)\n\n- Recebe Mensagens Diretas\n- Interpreta o objetivo da mensagem\n- Escolhe como responder:\n-- Prossegue a conversa para estruturar melhor a busca.\n-- Encerra a conversa.\n-- Realiza Busca Simplificada.\n\n","height":224,"width":448,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-960,-960],"id":"c11df010-ce84-4bb2-99b4-c69e3ddd9df7","name":"Sticky Note3"},{"parameters":{"resource":"messages-api","instanceName":"Felipe-Teste","remoteJid":"553599195960","messageText":"={{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1248,-416],"id":"d8b5e680-3c87-46d3-8777-3902ee68c0b7","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"manager","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"Call 'Registrar Conta Whatsapp'","type":"main","index":0}],[{"node":"Enviar texto2","type":"main","index":0}],[]]},"Call 'Registrar Conta Whatsapp'":{"main":[[{"node":"Call 'Busca Whatsapp'","type":"main","index":0}]]},"Call 'Busca Whatsapp'":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Trigger":{"main":[[{"node":"get-historico","type":"main","index":0}]]},"get-historico":{"main":[[{"node":"reverse-historico","type":"main","index":0}]]},"reverse-historico":{"main":[[{"node":"manager","type":"main","index":0}]]},"manager":{"main":[[{"node":"set_output","type":"main","index":0}]]},"set_output":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Insere-Memoria","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"Desaloca-Memoria","type":"main","index":0}]]},"Enviar texto1":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Trigger":[{"json":{"Message":"Mensagem,Oi,bom dia,oi,oi,oi,bom dia","Number":"553599195960","Name":"Felipe"},"pairedItem":{"item":0}}],"manager":[{"json":{"output":"{\n  \"output\": \"prosseguir_conversa\",\n  \"mensagem\": \"Olá! 👋 Me diga qual produto ou serviço você quer encontrar fornecedores e qual a finalidade (ex: revenda, uso próprio).\",\n  \"query\": null\n}"},"pairedItem":{"item":0}}],"Call 'Registrar Conta Whatsapp'":[{"json":{"success":true,"user_id":"45c045f3-f862-48e4-84a6-d13a5ec14cff","email":"wpp+553599195960@wppuser.tmp","phone":"553599195960","created":true,"already_existed":false,"magic_link":"https://hccolkrnyrxcbxuuajwq.supabase.co/auth/v1/verify?token=7839891cedd8c9c0579a82655f88a0dddcad3a7a64612aa2bf592ed7&type=magiclink&redirect_to=https%3A%2F%2Fbuscafornecedor.com.br%2Fcompletar-cadastro%3Fsource%3Dwhatsapp","magic_link_error":null,"redirect_to":"https://buscafornecedor.com.br/completar-cadastro?source=whatsapp"},"pairedItem":{"item":0}}],"Call 'Busca Whatsapp'":[{"json":{"id":"8648c62b-b032-485f-8edf-212c07ec799c","created_at":"2026-04-28T17:59:02.013+00:00","parametros":{"descricao":"Queijo","tipo_busca":"uf","cnpjs_existentes":"","ufs_selecionadas":["MG"]},"resultados":[{"item":{"nota":100,"site":"https://www.tresmarias.com.br","email":"contato@tresmarias.com.br","escopo":"nacional","telefone":"(11) 97221-0597","cnpj_basico":"12259612","consulta_id":"8648c62b-b032-485f-8edf-212c07ec799c","n_listagens":0,"razao_social":"Três Marias","fornecedor_id":"1888939998","modelo_negocio":"Fabricante","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":100,"site":"https://lactolar.com.br","email":"laticinio@lactolar.com.br","escopo":"nacional","telefone":"(42) 3636-1759 (42) 99808-3861 0800 899 2901","cnpj_basico":"09016383","consulta_id":"8648c62b-b032-485f-8edf-212c07ec799c","n_listagens":0,"razao_social":"Lactolar","fornecedor_id":"1775236286","modelo_negocio":"Fabricante","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":96,"site":"https://www.palaciodoqueijo.com.br","email":"mecapu@hotmail.com","escopo":"local","telefone":"(13) 3227-1838 (13) 99618-7277","cnpj_basico":"00015747","consulta_id":"8648c62b-b032-485f-8edf-212c07ec799c","n_listagens":0,"razao_social":"Palácio do Queijo de Santos","fornecedor_id":"1172860890","modelo_negocio":"Varejo","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":95,"site":"https://valledourolaticinios.com.br","email":"laticinioauriverde27@gmail.com","escopo":"local","telefone":"(62) 98322-2757","cnpj_basico":"13357169","consulta_id":"8648c62b-b032-485f-8edf-212c07ec799c","n_listagens":0,"razao_social":"Valle D’ouro Laticínios","fornecedor_id":"972871391","modelo_negocio":"Fabricante","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":93,"site":"https://www.laticiniossantoantonio.com","email":"laticiniostoantonio@gmail.com","escopo":"local","telefone":"(75) 99802-8610","cnpj_basico":"18605091","consulta_id":"8648c62b-b032-485f-8edf-212c07ec799c","n_listagens":0,"razao_social":"Laticínios Santo Antônio","fornecedor_id":"749110892","modelo_negocio":"Fabricante","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":91,"site":"http://laticiniospalotina.com.br","email":"","escopo":"local","telefone":"(44) 3649-2274","cnpj_basico":"01313075","consulta_id":"8648c62b-b032-485f-8edf-212c07ec799c","n_listagens":0,"razao_social":"Laticínios Palotina","fornecedor_id":"199535974","modelo_negocio":"Fabricante","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":89,"site":"https://santatereza.ind.br","email":"","escopo":"local","telefone":"","cnpj_basico":"02895839","consulta_id":"8648c62b-b032-485f-8edf-212c07ec799c","n_listagens":0,"razao_social":"Laticínio Santa Tereza","fornecedor_id":"838568780","modelo_negocio":"Fabricante","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":88,"site":"https://www.scala.com.br/","email":"[email protected]","escopo":"local","telefone":"(34) 3329-8360 (34) 3329-8300","cnpj_basico":"01796950","consulta_id":"8648c62b-b032-485f-8edf-212c07ec799c","n_listagens":0,"razao_social":"Scala","fornecedor_id":"77533247","modelo_negocio":"Fabricante","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":86,"site":"https://mutumilklaticinios.com.br","email":"marketing@mutumilklaticinios.com.br","escopo":"local","telefone":"(33) 3312-1402 (33) 99838-7090","cnpj_basico":"02943114","consulta_id":"8648c62b-b032-485f-8edf-212c07ec799c","n_listagens":0,"razao_social":"Laticínios Mutumilk","fornecedor_id":"862513950","modelo_negocio":"Fabricante","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":84,"site":"https://laticiniosbomjardim.com.br","email":"contato@laticiniosbomjardim.com.br sac@laticiniosbomjardim.com.br","escopo":"local","telefone":"(32) 3292-1250","cnpj_basico":"09074268","consulta_id":"8648c62b-b032-485f-8edf-212c07ec799c","n_listagens":0,"razao_social":"Laticínios Bom Jardim","fornecedor_id":"1769755760","modelo_negocio":"Fabricante","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":82,"site":"https://reisdoqueijo.com.br","email":"contato@reisdoqueijo.com.br","escopo":"local","telefone":"(11) 98045-2087","cnpj_basico":"42382357","consulta_id":"8648c62b-b032-485f-8edf-212c07ec799c","n_listagens":0,"razao_social":"Reis do Queijo","fornecedor_id":"924287866","modelo_negocio":"Distribuidor","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":80,"site":"https://chavinho.com","email":"falecom@chavinho.com","escopo":"local","telefone":"(35) 98856-5898","cnpj_basico":"13632338","consulta_id":"8648c62b-b032-485f-8edf-212c07ec799c","n_listagens":0,"razao_social":"Chavinho","fornecedor_id":"888978107","modelo_negocio":"Fabricante","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":79,"site":"https://essenciadacanastra.catalog.kyte.site/","email":"[email protected]","escopo":"local","telefone":"(55) 37988150964","cnpj_basico":"36623617","consulta_id":"8648c62b-b032-485f-8edf-212c07ec799c","n_listagens":0,"razao_social":"Laticínios Essência da Canastra","fornecedor_id":"963295400","modelo_negocio":"Fabricante","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":77,"site":"https://www.carmolac.com.br/","email":"contato@carmolac.com.br","escopo":"local","telefone":"(31) 3839-8002 (31) 99957-2358","cnpj_basico":"53519263","consulta_id":"8648c62b-b032-485f-8edf-212c07ec799c","n_listagens":0,"razao_social":"Carmolac","fornecedor_id":"1757027408","modelo_negocio":"Fabricante","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":75,"site":"https://laticinioskronhardt.com.br","email":"contato@laticinioskronhardt.com.br","escopo":"local","telefone":"(51) 99.882.1888","cnpj_basico":"11126039","consulta_id":"8648c62b-b032-485f-8edf-212c07ec799c","n_listagens":0,"razao_social":"Laticínios Kronhardt","fornecedor_id":"1487028833","modelo_negocio":"Fabricante","plano_categoria":null,"limite_listagens ":"10"}}],"status":"concluida","comprador":"45c045f3-f862-48e4-84a6-d13a5ec14cff","session_id":null,"execution_id":"423611","v_produto":"queijo mussarela, queijo prato, queijo parmesão, queijo coalho","v_cliente":"compradores de laticínios, gerentes de compras de alimentos, proprietários de restaurantes, chef de cozinha","v_servico":"produção de queijos, distribuição de laticínios, fatiamento industrial de queijos, processamento de derivados lácteos","v_descricao":"Fabricação e comercialização industrial de queijos diversos para o setor de food service, varejo e indústrias alimentícias.","v_publico":"supermercados, lanchonetes, pizzarias, distribuidores de alimentos, padarias","bm_25":"mussarela prato coalho parmesão cheddar laticínio laticínios fatiado ralado frescal muçarela provolone","uf":["MG"],"municipio":null,"modelo_negocio":null,"fallback":false},"pairedItem":{"item":0}}]},"versionId":"d853ab46-d3f6-4e21-b0c9-5c98d4d7a123","activeVersionId":"ad0e2897-e456-4cc2-9524-ee66b1408000","triggerCount":0,"shared":[{"updatedAt":"2026-04-23T15:00:22.498Z","createdAt":"2026-04-23T15:00:22.498Z","role":"workflow:owner","workflowId":"4GiXZNosYOAkmEMz","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-04-24T21:09:21.805Z","createdAt":"2026-04-24T16:17:14.698Z","versionId":"ad0e2897-e456-4cc2-9524-ee66b1408000","workflowId":"4GiXZNosYOAkmEMz","nodes":[{"parameters":{"resource":"messages-api","instanceName":"Felipe-Teste","remoteJid":"553599195960","messageText":"={{ $json.output.mensagem }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-240,-1072],"id":"39919503-fe83-4255-837e-0187d032b363","name":"Enviar texto","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-288,-416],"id":"57c258b7-d098-4097-b788-c019ba1104da","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.output }}","rightValue":"prosseguir_conversa","operator":{"type":"string","operation":"equals"},"id":"97b8bf3b-a745-4a7c-ba0f-3df886be1bd0"}],"combinator":"and"},"renameOutput":true,"outputKey":"Prosseguir "},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6de0c088-49b6-424d-8cdf-49db9b0e11d0","leftValue":"={{ $json.output.output }}","rightValue":"encerrar_conversa","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Encerrar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ed4fc07d-8699-4043-81d6-53b18ee22303","leftValue":"={{ $json.output.output }}","rightValue":"iniciar_busca","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Busca"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[176,-624],"id":"2ee65982-44d1-455b-ba28-27205435e732","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[448,-800],"id":"cc72db09-67e2-4b1c-ade0-976075761aeb","name":"Enviar texto1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[448,-608],"id":"a5b798a6-fb5b-48af-a46a-46a088551aee","name":"Enviar texto2"},{"parameters":{"workflowId":{"__rl":true,"value":"dfzSiOV2FBfv6ZFs","mode":"list","cachedResultUrl":"/workflow/dfzSiOV2FBfv6ZFs","cachedResultName":"Registrar Conta Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero":"553599195960","nome":"Felipe"},"matchingColumns":[],"schema":[{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[448,-416],"id":"894256a4-3c80-4d9f-b5d6-751ef1df124e","name":"Call 'Registrar Conta Whatsapp'"},{"parameters":{"workflowId":{"__rl":true,"value":"P5glDm8v5AZwgudn","mode":"list","cachedResultUrl":"/workflow/P5glDm8v5AZwgudn","cachedResultName":"Busca Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[640,-416],"id":"6dfa28ea-7d27-4138-9a95-24b7b5ea706e","name":"Call 'Busca Whatsapp'"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[832,-416],"id":"24d712ca-a6de-4d2c-9cdb-7fcf366763dd","name":"Enviar texto3"},{"parameters":{"operation":"delete"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1056,-608],"id":"2aadd05b-8afa-4e28-ba17-c71e5d2a3fee","name":"Desaloca-Memoria","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}},"disabled":true},{"parameters":{"operation":"push","list":"=553599195960@s.whatsapp.net","messageData":"=Agent:{{ $json.output.mensagem }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[640,-800],"id":"c1ff7a87-5e88-49da-92c0-787013a333ec","name":"Insere-Memoria","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[208,-80],"id":"5aa6f168-22ff-42a9-ae7a-e607f7a78b19","name":"When clicking ‘Execute workflow’"},{"parameters":{"workflowInputs":{"values":[{"name":"Message"},{"name":"Number"},{"name":"Name"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-896,-608],"id":"7b04e459-c4ac-4bb4-8280-8e37c11b9300","name":"Trigger"},{"parameters":{"operation":"get","key":"553599195960@s.whatsapp.net","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-704,-608],"id":"875fb3cc-d819-4084-9518-db47e5b86c74","name":"get-historico","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"assignments":{"assignments":[{"id":"acf6c088-d876-41bb-9896-7f44d445087b","name":"propertyName","value":"={{ $json.propertyName.reverse() }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,-608],"id":"68d8623b-4efb-4cfc-86f9-7486e8b0e4fa","name":"reverse-historico"},{"parameters":{"promptType":"define","text":"=historico_conversa: {{ $json.propertyName }}\n","options":{"systemMessage":"# Prompt Refinado: Assistente de Busca de Fornecedores\n\n## Persona e Contexto\nVocê é o assistente inteligente da plataforma **Busca Fornecedor**, operando via WhatsApp. Sua missão é converter diálogos informais em buscas semânticas precisas. Você deve ser direto, prestativo e focado em um único objetivo: **gerar uma query de busca válida**.\n\n## Fluxo de Decisão (Chain-of-Thought)\nAntes de responder, avalie o input do usuário seguindo estes passos:\n1.  **O usuário quer buscar algo?** Se for ofensivo ou recusar o serviço, use `encerrar_conversa`.\n2.  **A informação é suficiente?** Um produto/serviço isolado é insuficiente. Preciso de contexto (ex: finalidade, tipo, volume). Se incompleto, use `prosseguir_conversa`.\n3.  **A query está madura?** Se o usuário forneceu \"O que\" e \"Para que\", use `iniciar_busca` e otimize a query.\n\n## Regras Operacionais\n\n### 1. Definição de Saída (JSON Estrito)\nToda e qualquer resposta deve ser exclusivamente um objeto JSON, sem texto explicativo fora dele:\n```json\n{\n  \"output\": \"prosseguir_conversa | iniciar_busca | encerrar_conversa\",\n  \"mensagem\": \"string (máximo 3 frases)\",\n  \"query\": \"string ou null\"\n}\n```\n\n### 2. Estados do Output\n* **`prosseguir_conversa`**: Use para coletar o que falta. Seja objetivo. \n    * *Critério:* Falta o nome do produto ou a intenção de uso.\n* **`iniciar_busca`**: Use quando houver um produto + contexto.\n    * *Ação:* Otimize a query para termos B2B (ex: de \"camisa pra vender\" para \"fornecedor de camisetas atacado para revenda\").\n    * *Mensagem Padrão:* \"Encontrei fornecedores com base no que você pediu 👍 ✅ Criei uma conta provisória para você acessar todos os resultados. Acesse agora: [https://buscafornecedor.com.br/](https://buscafornecedor.com.br/)\".\n* **`encerrar_conversa`**: Use para spam, ofensas ou quando o usuário explicitamente desistir.\n\n### 3. Qualidade da Query\nUma query válida **precisa** de um substantivo (produto) e um qualificador (contexto).\n* **Inválida:** \"quero comprar\", \"me ajuda\", \"caderno\".\n* **Válida:** \"distribuidor de cadernos escolares atacado\", \"fábrica de embalagens para delivery\", \"serviço de usinagem de peças em aço\".\n\n---\n\n## Exemplos de Comportamento (Few-Shot)\n\n**Entrada:** \"Olá\"\n**Saída:**\n```json\n{\n  \"output\": \"prosseguir_conversa\",\n  \"mensagem\": \"Olá! 👋 Me diga o que você precisa encontrar que eu busco os melhores fornecedores para você agora.\",\n  \"query\": null\n}\n```\n\n**Entrada:** \"Preciso de roupas\"\n**Saída:**\n```json\n{\n  \"output\": \"prosseguir_conversa\",\n  \"mensagem\": \"Entendi. Que tipo de roupas você procura e qual a finalidade? (ex: moda feminina para revenda, uniformes profissionais)\",\n  \"query\": null\n}\n```\n\n**Entrada:** \"Quero fornecedor de marmitas congeladas para minha empresa\"\n**Saída:**\n```json\n{\n  \"output\": \"iniciar_busca\",\n  \"mensagem\": \"Encontrarei fornecedores com base no que você pediu 👍 ✅ Criei uma conta provisória para você acessar todos os resultados. Acesse agora: https://buscafornecedor.com.br/\",\n  \"query\": \"fornecedores de marmitas congeladas para empresas e eventos\"\n}\n```\n\n**Entrada:** \"Não quero nada, só testando\"\n**Saída:**\n```json\n{\n  \"output\": \"encerrar_conversa\",\n  \"mensagem\": \"Sem problemas! Caso precise encontrar fornecedores no futuro, é só me chamar. Até logo! 👍\",\n  \"query\": null\n}\n```\n\n## Restrições Finais\n1.  **Nunca** invente nomes de empresas.\n2.  **Nunca** saia do formato JSON.\n3.  **Máximo** de 3 frases na `mensagem`.\n4.  **Tom de voz:** Profissional, ágil e amigável (estilo WhatsApp)."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-304,-608],"id":"a6dea3a8-95ac-41be-a29d-4e7b27e0c02a","name":"manager"},{"parameters":{"assignments":{"assignments":[{"id":"fcda94d8-5d7c-47f7-82f6-111b3cff41e1","name":"output","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-608],"id":"90b265a8-69fd-4a52-8146-898cd6b1d02c","name":"set_output"},{"parameters":{"content":"## Trigger de mensagem.\n- Ativa ao receber uma mensagem direta e busca todo o histórico daquele usuário.","height":256,"width":608,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-960,-704],"id":"190aa55f-0504-48d3-81c7-a1726df38551","name":"Sticky Note"},{"parameters":{"content":"## Manager\n- Recebe o histórico e guia a conversa para uma busca ou encerramento.","height":416,"width":640,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,-704],"id":"7baec478-eb5a-4752-9862-6e65bd19dd80","name":"Sticky Note1"},{"parameters":{"content":"## Fluxo de Conversa\n- Prosseguir: Continua a conversa, normalmente busca reunir mais informação para realizar a busca.\n- Encerrar: Encerra a conversa e desaloca a memória, ocorre caso o usuário se desvie do objetivo de realizar a busca.\n- Buscar: Cria uma conta provisória, realiza a busca e retorna um resultado limitado. O objetivo é convidar o usuário a acessar o resultado completo no site.","height":720,"width":928,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[320,-960],"id":"4c4ec09f-fb56-4563-8424-9ad96401ec9e","name":"Sticky Note2"},{"parameters":{"workflowId":{"__rl":true,"value":"dfzSiOV2FBfv6ZFs","mode":"list","cachedResultUrl":"/workflow/dfzSiOV2FBfv6ZFs","cachedResultName":"Registrar Conta Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero":"553599195960","nome":"Felipe"},"matchingColumns":[],"schema":[{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[416,-80],"id":"2c051492-e69e-4b27-859a-8c742e1932a1","name":"Call 'Registrar Conta Whatsapp'1"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"manager","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"Enviar texto1","type":"main","index":0}],[{"node":"Enviar texto2","type":"main","index":0}],[{"node":"Call 'Registrar Conta Whatsapp'","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"Desaloca-Memoria","type":"main","index":0}]]},"Call 'Registrar Conta Whatsapp'":{"main":[[{"node":"Call 'Busca Whatsapp'","type":"main","index":0}]]},"Call 'Busca Whatsapp'":{"main":[[{"node":"Enviar texto3","type":"main","index":0}]]},"Enviar texto3":{"main":[[{"node":"Desaloca-Memoria","type":"main","index":0}]]},"Enviar texto1":{"main":[[{"node":"Insere-Memoria","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Call 'Registrar Conta Whatsapp'1","type":"main","index":0}]]},"Trigger":{"main":[[{"node":"get-historico","type":"main","index":0}]]},"get-historico":{"main":[[{"node":"reverse-historico","type":"main","index":0}]]},"reverse-historico":{"main":[[{"node":"manager","type":"main","index":0}]]},"manager":{"main":[[{"node":"set_output","type":"main","index":0}]]},"set_output":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"authors":"ABC  advise","name":"Version ad0e2897","description":"","autosaved":true},"tags":[]}