emails_blacklist-CKwjKBxii9WWZx2f.json
{"updatedAt":"2025-11-28T19:56:03.696Z","createdAt":"2025-11-12T17:42:27.927Z","id":"CKwjKBxii9WWZx2f","name":"Emails_blacklist","active":true,"isArchived":false,"nodes":[{"parameters":{"fieldToSplitOut":"emails","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1232,352],"id":"923b083c-5d8e-4b1b-b0f2-7746b5cff56a","name":"Split Out","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5fd62fe6-5d88-41d5-b9e9-ec87aa0eaf3a","leftValue":"={{ $('get_blacklist').item.json.propertyName }}","rightValue":"={{ $json.emails }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1456,352],"id":"5261e8f5-1530-45a5-9cc8-77690977990e","name":"já listados?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f91d7bdb-3ca4-4e9b-b747-9a49c6f6b082","leftValue":"={{ $json.emails }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1024,336],"id":"b5e5175b-7279-44e3-9b83-59c7a6f6e235","name":"vazio?"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[240,320],"id":"a573f2a4-a470-4d89-8ab9-5f6716f19874","name":"Loop Over Items"},{"parameters":{"operation":"get","key":"black-list","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-192,-192],"id":"d3c31162-55d7-4296-b16f-80e97c200a3d","name":"Redis2","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis email"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-400,-192],"id":"8c9c8cc8-3cae-415d-bea4-3707ea34e357","name":"When clicking ‘Execute workflow’"},{"parameters":{"content":"## Retornar blacklist","height":240,"width":688,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-448,-272],"id":"8fabf188-0932-4ce2-9102-c9c984a14431","name":"Sticky Note"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[-272,64],"id":"df85d37c-d7ea-4876-ac18-22dc648e3ef7","name":"contato@contato","credentials":{"gmailOAuth2":{"id":"JKcZrpzTg58STyhI","name":"cred: contato@contato-buscafornecedor.com.br"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[-272,224],"id":"a0643e5c-15bd-45dd-b1c5-cf7d01cef211","name":"comprador@contato","credentials":{"gmailOAuth2":{"id":"A8WOYkZD2cp5wkOA","name":"cred: comprador@contato-buscafornecedor.com.br"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[-272,384],"id":"4dbf2000-6519-47b9-b721-a3b33616c911","name":"contato@comprador","credentials":{"gmailOAuth2":{"id":"vFOpmIfP2GoujD7r","name":"cred: contato@comprador-buscafornecedor.com.br"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[-272,544],"id":"1cd2bb2e-f88c-458b-813c-1f6216f3b1dc","name":"comprador@comprador","credentials":{"gmailOAuth2":{"id":"bDoRJH8HF0d23c7d","name":"cred: comprador@comprador-buscafornecedor.com.br"}}},{"parameters":{"fieldToSplitOut":"propertyName","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[16,-192],"id":"f9f5caec-e63f-4ecd-b448-2e8610e79e0d","name":"Split Out1"},{"parameters":{"assignments":{"assignments":[{"id":"331464ed-578c-45ca-86ce-789e253cf907","name":"text","value":"={{ $json.text || $json.snippet}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,336],"id":"7de7e352-4172-4b63-905d-930cc198eeac","name":"set_text"},{"parameters":{"operation":"get","key":"black-list","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[640,336],"id":"56e44feb-8e78-48ab-ab3d-41d5d8f67ae1","name":"get_blacklist","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis email"}}},{"parameters":{"jsCode":"// Obtém o texto do input (ajuste a propriedade conforme sua estrutura)\nconst input = $('set_text').first().json.text  || \"\";\n\n// Expressão regular para capturar endereços de e-mail válidos\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g;\n\n// Extrai todos os emails\nconst emails = input.match(emailRegex) || [];\n\n// Remove duplicados e ordena (opcional)\nconst uniqueEmails = [...new Set(emails)].sort();\n\n// Retorna o resultado como uma lista\nreturn [{ emails: uniqueEmails }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,336],"id":"5f9fd8bb-c42d-494c-849d-5de4b9186186","name":"email_regex"},{"parameters":{"operation":"push","list":"black-list","messageData":"={{ $json.emails }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1696,368],"id":"4c9ed2ad-64f6-45be-98f3-be72cc967264","name":"push_on_blacklist","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis email"}}},{"parameters":{"content":"## Itera por qualquer email recebido em uma das 4 caixas de e-mail da empresa.","height":720,"width":2400,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-448,-16],"id":"0d67b1a7-6923-47e9-a14f-7fae0709b142","name":"Sticky Note1"},{"parameters":{"content":"## Retornar blacklist e compara com o texto dos emails recebidos","height":256,"width":976,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,224],"id":"2e7ce434-197d-45c2-8080-2e259d3d2133","name":"Sticky Note2"},{"parameters":{"content":"## Insere em uma lista os emails que ainda não estiverem na blacklist:\n- Os emails encontrados aqui são emais que barraram o nosso envio e não devem ser contatados novamente.","height":320,"width":656,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1200,208],"id":"af956a40-e78a-4358-aeb3-5ac21a0cd607","name":"Sticky Note3"}],"connections":{"Split Out":{"main":[[{"node":"já listados?","type":"main","index":0}]]},"já listados?":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"push_on_blacklist","type":"main","index":0}]]},"vazio?":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"set_text","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"contato@contato":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"comprador@contato":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"contato@comprador":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"comprador@comprador":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"set_text":{"main":[[{"node":"get_blacklist","type":"main","index":0}]]},"get_blacklist":{"main":[[{"node":"email_regex","type":"main","index":0}]]},"email_regex":{"main":[[{"node":"vazio?","type":"main","index":0}]]},"push_on_blacklist":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1763043300,"possibleDuplicates":["19a7d91d519e4cf0","19a7d8422d4ca225","19a7d766555728fa"]}},"node:Gmail Trigger1":{"Gmail Trigger1":{"lastTimeChecked":1763043300,"possibleDuplicates":["19a7d91d40ce7094","19a7d842ede73563"]}},"node:Gmail Trigger2":{"Gmail Trigger2":{"lastTimeChecked":1763043300,"possibleDuplicates":["19a7d91d5fe1cf76","19a7d8419c9fb78d"]}},"node:Gmail Trigger3":{"Gmail Trigger3":{"lastTimeChecked":1763043300,"possibleDuplicates":["19a7d91d5a77381d","19a7d841899f1cfe"]}},"node:contato@contato":{"contato@contato":{"lastTimeChecked":1765318552,"possibleDuplicates":["19b052f6de3c8f82","19b05132b2041c62"]}},"node:comprador@contato":{"comprador@contato":{"lastTimeChecked":1765316700,"possibleDuplicates":["19b05132b68fd097"]}},"node:contato@comprador":{"contato@comprador":{"lastTimeChecked":1765316700,"possibleDuplicates":["19b0513289f45c75"]}},"node:comprador@comprador":{"comprador@comprador":{"lastTimeChecked":1765316700,"possibleDuplicates":["19b051328b1ae63a"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"contato@contato":[{"json":{"id":"19a7d3f8d5a509b6","threadId":"19a7d3f8d5a509b6","labelIds":["UNREAD","IMPORTANT","CATEGORY_UPDATES","INBOX"],"sizeEstimate":6831,"headers":{"delivered-to":"Delivered-To: contato@contato-buscafornecedor.com.br","received":"Received: from sonic.gate.mail.ne1.yahoo.com by sonic323.consmr.mail.ne1.yahoo.com with HTTP; Thu, 13 Nov 2025 12:45:07 +0000","x-google-smtp-source":"X-Google-Smtp-Source: AGHT+IFJHkTiRsy34A5mzlUftRrhz7Lc4Bfc84sFRjTf4hgyUOu6qTgz0ICjjSTFKdnSXKJyVkDQ","x-received":"X-Received: by 2002:a05:6214:529b:b0:880:58ef:3cb9 with SMTP id 6a1803df08f44-88271900fe8mr92555366d6.5.1763037908448;\r\n        Thu, 13 Nov 2025 04:45:08 -0800 (PST)","arc-seal":"ARC-Seal: i=1; a=rsa-sha256; t=1763037908; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=D9zWDwvgUyK7+8q2yjIufRnZPYdlcCni8nUazrNvLauLvlyIT1qrgvrQHqedupBnIe\r\n         dMGio8/D5nRprTzqJwrk31evV+W8AywoaVpYKm56/FcwPKlJiJO16lM/yqhBXSIFV5Nr\r\n         qCXJOb7cQUla4f2Z+Y4tgpLGv3wi4PRqb6dFBfdTxMa5QbepM5NUf6y87obrdOR7gXmu\r\n         aGQs7DRjm8Year/9E4hkOmHBQVNMdDK23d1fZkjH+LB9oSAxrEj6Na7oaEpZAPsgee81\r\n         6yiE4yPHFG+olBH+xqUdffambjuS3n+2HR1akLn2+5cGHLQITf/EOe88MA7wTuSmIOHW\r\n         tAIw==","arc-message-signature":"ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=message-id:subject:to:from:date:mime-version\r\n         :content-transfer-encoding:dkim-signature;\r\n        bh=M7ko7rbpzJBimdTAyT2J6z9wq03KHkC/AreopXvV1C0=;\r\n        fh=itXuscMyTlYMlcSwkbsS/lyfcvoUjOpCu78JGp8WjeM=;\r\n        b=IjI9rlMUqvf0bj0YihqbXqypM++rJBpiJrJLRojg6Z8sH7sp1ARtHKApwyw2v3G3rT\r\n         g/PrJSQ1EsD+HpaId7kLLfzI/zUUakLwjqvxYu/QdZ46hL3k8Ka59bRFSTlDomTSdqCy\r\n         F4nQqYNF2QDLkxRMV7vWPI7dnrU5apvNyn8/s9kFGDNqNF9UT2WYSpINZpusrOik+j7h\r\n         Qpwq1B3Wd+pa7LIefBo+UCPl8F4t3JgeOrGkbckBtCEQ6fmaFv5un3AmOBpArfM+eMCx\r\n         yBH5BV4BWQ+nOzSDp76N9+921IGUPJm0GR80rKZKA027rzGG3V+LJyEou/ScfMcSCMv2\r\n         cdNg==;\r\n        dara=google.com","arc-authentication-results":"ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@yahoo.com header.s=s2048 header.b=SgNpIrIB;\r\n       spf=pass (google.com: domain of noreply@dmarc.yahoo.com designates 66.163.190.72 as permitted sender) smtp.mailfrom=noreply@dmarc.yahoo.com;\r\n       dmarc=pass (p=REJECT sp=REJECT dis=NONE) header.from=dmarc.yahoo.com","return-path":"Return-Path: <noreply@dmarc.yahoo.com>","received-spf":"Received-SPF: pass (google.com: domain of noreply@dmarc.yahoo.com designates 66.163.190.72 as permitted sender) client-ip=66.163.190.72;","authentication-results":"Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@yahoo.com header.s=s2048 header.b=SgNpIrIB;\r\n       spf=pass (google.com: domain of noreply@dmarc.yahoo.com designates 66.163.190.72 as permitted sender) smtp.mailfrom=noreply@dmarc.yahoo.com;\r\n       dmarc=pass (p=REJECT sp=REJECT dis=NONE) header.from=dmarc.yahoo.com","dkim-signature":"DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed; d=yahoo.com; s=s2048; t=1763037907; bh=M7ko7rbpzJBimdTAyT2J6z9wq03KHkC/AreopXvV1C0=; h=Date:From:To:Subject:From:Subject:Reply-To; b=SgNpIrIBIy860+aoUirZ4aJbPOTHZkxZwsr5VcO5O7irPiTAM4IXE14ePE2YA9cRot7iJKtGS0LjOfSvQEQaEoe9V6UgfhCkTXmZFGNXQwgNEP5zBofiVxfkzyh/P+YjUYGpkK0iN54fSJLqmc8ne0NvaSGQIskz000WTjKKjlwPkDwZcgAdl4/zKXWYjm+aWKgzhS/1E5lirTMWf+rwK54u6bZ6X53ln9DJDUIUPqhYzvTaXJAghKF56XXdsCwmFQYPvGXsK7eaRe5W+WcCCJQGCXSjDLMJ00UFQ14CNaNKIFr7q8tRTrVasFdenLrmozQlLIywHyfrnOaArt2WlA==","x-sonic-dkim-sign":"X-SONIC-DKIM-SIGN: v=1; a=rsa-sha256; c=relaxed/relaxed; d=yahoo.com; s=s2048; t=1763037907; bh=G+/5eYXgLJXLCxLYCj393GVewOx/5Qi6pXMuPORwsJh=; h=X-Sonic-MF:Date:From:To:Subject:From:Subject; b=Uu7uwxjf08FiNcBQO2IlTQTx5RJ3HQyf7OdLZaDEv7vNCjPegY/R1JH8U7bzMGuGdD6cjpIbq+UECOtLUGmosL/Kzjxk9f+24blGc9b2cCH/psGkCsJrDt1vpFPyKNPxQDyZBawKhcF89GWUmLUtUqv383vc7pmyZcaQ2qcdV7fqTBIHs7sT96hIaeYZh8vY8Pu9spCk+akRhji8QJyeyYco3d1Ejtx1NOXN1DaqNamGF0E/QZV/S4nuE9lyheMvKtbK1vobRXUc1+3tUX+HdoBKs3GGFiHo9OFIF38GQl3vgnnJjdMS3R5Ee+TJQpHnb3Kbun7GndDfiBVBsr51aQ==","x-sonic-mf":"X-Sonic-MF: noreply@dmarc.yahoo.com","x-sonic-id":"X-Sonic-ID: cb4b0116-5a28-4adb-a369-efcf99642283","content-transfer-encoding":"Content-Transfer-Encoding: binary","content-type":"Content-Type: multipart/mixed; boundary=\"_----------=_1763037902119923818\"","mime-version":"MIME-Version: 1.0","x-mailer":"X-Mailer: MIME::Lite 3.030 (F2.84; T1.38; A2.12; B3.13; Q3.13)","date":"Date: Thu, 13 Nov 2025 04:45:02 -0800","from":"From: noreply@dmarc.yahoo.com","to":"To: contato@contato-buscafornecedor.com.br","subject":"Subject: Report Domain: contato-buscafornecedor.com.br Submitter: yahoo.com.br Report-ID: <1762995734.925094>","message-id":"Message-Id: <1763037902.530948@dmarc.yahoo.com>"},"text":"This is an aggregate DMARC report from Yahoo for your domain \"contato-buscafornecedor.com.br\".\n\nThis domain has a DMARC record set up. You are receiving this report because your email address is included in the 'rua' tag which is part of that DMARC record. DMARC is set up in the DNS settings of your domain.\n\nIf you have questions about DMARC, please refer to the DMARC.org website, or contact your email service or hosting provider.\n\nIf you no longer wish to receive these reports, or if you would like them to be sent to a different location, please update the 'rua' tag of the DMARC record of your domain. To do this please contact your email, domain or hosting provider. Please do not contact us as we will not be able to help you with updates to the DNS settings of your domain.\n\nPlease note that this email address is not monitored, and you will not receive a response if you reply to this email. For any feedback or questions, please reach out to dmarchelp@yahooinc.com.","textAsHtml":"<p>This is an aggregate DMARC report from Yahoo for your domain &quot;<a href=\"http://contato-buscafornecedor.com.br\">contato-buscafornecedor.com.br</a>&quot;.</p><p>This domain has a DMARC record set up. You are receiving this report because your email address is included in the &apos;rua&apos; tag which is part of that DMARC record. DMARC is set up in the DNS settings of your domain.</p><p>If you have questions about DMARC, please refer to the <a href=\"http://DMARC.org\">DMARC.org</a> website, or contact your email service or hosting provider.</p><p>If you no longer wish to receive these reports, or if you would like them to be sent to a different location, please update the &apos;rua&apos; tag of the DMARC record of your domain. To do this please contact your email, domain or hosting provider. Please do not contact us as we will not be able to help you with updates to the DNS settings of your domain.</p><p>Please note that this email address is not monitored, and you will not receive a response if you reply to this email. For any feedback or questions, please reach out to <a href=\"mailto:dmarchelp@yahooinc.com\">dmarchelp@yahooinc.com</a>.</p>","subject":"Report Domain: contato-buscafornecedor.com.br Submitter: yahoo.com.br Report-ID: <1762995734.925094>","date":"2025-11-13T12:45:02.000Z","to":{"value":[{"address":"contato@contato-buscafornecedor.com.br","name":""}],"html":"<span class=\"mp_address_group\"><a href=\"mailto:contato@contato-buscafornecedor.com.br\" class=\"mp_address_email\">contato@contato-buscafornecedor.com.br</a></span>","text":"contato@contato-buscafornecedor.com.br"},"from":{"value":[{"address":"noreply@dmarc.yahoo.com","name":""}],"html":"<span class=\"mp_address_group\"><a href=\"mailto:noreply@dmarc.yahoo.com\" class=\"mp_address_email\">noreply@dmarc.yahoo.com</a></span>","text":"noreply@dmarc.yahoo.com"},"messageId":"<1763037902.530948@dmarc.yahoo.com>","html":false}},{"json":{"id":"19a7d3f7779a3b50","threadId":"19a7d3f6e9af07f1","labelIds":["UNREAD","IMPORTANT","CATEGORY_UPDATES","INBOX"],"sizeEstimate":19839,"headers":{"delivered-to":"Delivered-To: contato@contato-buscafornecedor.com.br","received":"Received: by 2002:a05:6402:218c:10b0:640:cdad:d2c0 with SMTP id\r\n 4fb4d7f45d1cf-6431a568103mr5111335a12.25; Thu, 13 Nov 2025 04:45:01 -0800 (PST)","x-received":"X-Received: by 2002:a05:6402:218c:10b0:640:cdad:d2c0 with SMTP id 4fb4d7f45d1cf-6431a568103mr5263990a12.25.1763037901992;\r\n        Thu, 13 Nov 2025 04:45:01 -0800 (PST)","arc-seal":"ARC-Seal: i=1; a=rsa-sha256; t=1763037902; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=C+8BW9J44XMMyO1OByX67xHxUO0O3uAfEHIkXF4z8AwvlkZ/IfocwxU2bT1+jVg0sj\r\n         tfFJQvdy6Z+qoWC1KucyWfzRL2Mx4AwYoNWU65QoeXzb0miyo3IkjYQ+7WsuRNmvCCng\r\n         myU3dGkqc24ET37oJZKK1XGSaMchQPDVD2/0E/edOogMIKuuyGgWLNjMNq5FG95hXtAF\r\n         WOD7Eekmo+3EaMbO3o2s/POi+hNR/bk3zszrmvqH4mvTORgsxhdBJrn8HLEh1Z3ZUWb3\r\n         yw9w5V5ydZ1kY1UB9jO185MbS3o3BvcCuF2LO7uS6+LNf6BLEzMgCxt4w07ix3TCpInw\r\n         LuIw==","arc-message-signature":"ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=in-reply-to:references:subject:from:date:message-id:auto-submitted\r\n         :to:dkim-signature;\r\n        bh=VN3cS0F3oyNqz+dzoTrAFDldYlcVe/yPMO28kqQKTMI=;\r\n        fh=itXuscMyTlYMlcSwkbsS/lyfcvoUjOpCu78JGp8WjeM=;\r\n        b=AVV/Ms9ECRP+boKLS3wQl9dPTTr4VXf3WdUHEx8Z3N/MCTviJROHqjflQVYQub2d4L\r\n         czB35qHfW2rQAY/uovFhkXNe8pdZnxORwRMhxpqGKT9jy7cAKHXEFXFFf+a/UdsrBLet\r\n         U1gEtYOdrfXif+Veg5GGUHdUVMse+7AyPzpORdJXSTGaULS5uiOpjrmgBOHGc/V0Roks\r\n         SP5l6aijOQB45DJuv4La5y88HXoEny2tAxDpP/yoIY4QexzPJDJ041Iwo6OkR3Azpqy/\r\n         bmnqrKaQP605+5oKoPFcPVYVS8iy+qDwte+/cqDCjIgI16br1fAG5JBfd/xapFz5WzSD\r\n         RbFA==;\r\n        dara=google.com","arc-authentication-results":"ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@googlemail.com header.s=20230601 header.b=Rs4XxO4g;\r\n       spf=none (google.com: postmaster@mail-sor-f69.google.com does not designate permitted sender hosts) smtp.helo=mail-sor-f69.google.com;\r\n       dmarc=pass (p=QUARANTINE sp=QUARANTINE dis=NONE) header.from=googlemail.com;\r\n       dara=neutral header.i=@contato-buscafornecedor.com.br","return-path":"Return-Path: <>","received-spf":"Received-SPF: none (google.com: postmaster@mail-sor-f69.google.com does not designate permitted sender hosts) client-ip=209.85.220.69;","authentication-results":"Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@googlemail.com header.s=20230601 header.b=Rs4XxO4g;\r\n       spf=none (google.com: postmaster@mail-sor-f69.google.com does not designate permitted sender hosts) smtp.helo=mail-sor-f69.google.com;\r\n       dmarc=pass (p=QUARANTINE sp=QUARANTINE dis=NONE) header.from=googlemail.com;\r\n       dara=neutral header.i=@contato-buscafornecedor.com.br","dkim-signature":"DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=googlemail.com; s=20230601; t=1763037902; x=1763642702; darn=contato-buscafornecedor.com.br;\r\n        h=in-reply-to:references:subject:from:date:message-id:auto-submitted\r\n         :to:from:to:cc:subject:date:message-id:reply-to;\r\n        bh=VN3cS0F3oyNqz+dzoTrAFDldYlcVe/yPMO28kqQKTMI=;\r\n        b=Rs4XxO4gmZ106czQ+M1A51As4qU6T+LA8l8wokT6TZAJDS+mzQDuq+QSwo8Hc1vfyj\r\n         IfZTBhPvF6nS7Tn9FcOVJ2p0shkHKr3CZdEV5J8C8xI8WSylVGDk0U3UqAwmPZs7moT3\r\n         KPqis76H6xtyBkXoWVI48chCqchlsWwZstTOSLa+uYiV4bPYvBhxX/Rwe5giNPPwK63D\r\n         Rg09RDXEWO8ohpnLqq1inJEBnMnovXyt/P4PnMF31jw6njv0k6cattmI2l2vkmPtFwnn\r\n         gkbntL3ItjxShimX+hd2chGNVh3ZGyCjx8F163f7dIFN7FN674uSV4FSnx44ThHKrAqE\r\n         Ylgw==","x-google-dkim-signature":"X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=1e100.net; s=20230601; t=1763037902; x=1763642702;\r\n        h=in-reply-to:references:subject:from:date:message-id:auto-submitted\r\n         :to:x-gm-message-state:from:to:cc:subject:date:message-id:reply-to;\r\n        bh=VN3cS0F3oyNqz+dzoTrAFDldYlcVe/yPMO28kqQKTMI=;\r\n        b=qmkakEjcqJMWIlDmAwUMfMeGugBytmACd00rcF68Bfp2WhWqkR9s+q3XQtvl5OQYtm\r\n         Wjk6NijXS8PoZ/VCqEg7+c1XaMwER7Zpw0fYMtZjegLc8sxhnmUBEPhCiaK2hPC84OH4\r\n         y2BNwcXpHAVdfxCdq0up2hVx1gTh+NHlj50vMrQPGq5VRTuSAYRbA0L493fyD9c1Ydxd\r\n         qWKkZvfTFGaDYkdIBqbYAfnJ5TYrLRJGEQQzy7n5/hu1GS02IMAulO0BN9LKww/nxsye\r\n         g5FPXlYV3dzmnXPv0IbWv0TGMFg5ol4fRx+MYesSMmGUE54N5Sa05cXDsvtoria7emBL\r\n         G5Xw==","x-gm-message-state":"X-Gm-Message-State: AOJu0Ywiqye600Vrv0FMGWT3Sy8jiq9H8Def4pd/47DfQmNyuUFYOS2t\r\n\th3fnno4DPMD54knQ6EGB0opx9zfW8eYYmWJdP/Vd2jhbR47AmgMa6VwD/Y0bDrEYYfu4bDMVyh9\r\n\toUIPD7TU8qyasfgAaTgd7/H4QBqGN3K3+XpNX7xI3KP/78cv19ZcMDgabSg==","x-google-smtp-source":"X-Google-Smtp-Source: AGHT+IFn1fERqqBH2Bh8JmDXHg7psKDK6vQkv34Z+NO3rYLk6EisGWlGUoTh1J/Fmb6R/gHFMNAAkPPuf7372cLKhU3iz2WJgBenwBU=","content-type":"Content-Type: multipart/report; boundary=\"000000000000dfa30c0643793f73\"; report-type=delivery-status","to":"To: contato@contato-buscafornecedor.com.br","auto-submitted":"Auto-Submitted: auto-replied","message-id":"Message-ID: <6915d2cd.050a0220.2a77b6.d890.GMR@mx.google.com>","date":"Date: Thu, 13 Nov 2025 04:45:01 -0800 (PST)","from":"From: Mail Delivery Subsystem <mailer-daemon@googlemail.com>","subject":"Subject: Delivery Status Notification (Failure)","references":"References: <CAFN0DDs-aj_Xk-X-C+7QaG68GoO7ArA3tfQ27wYWbrfE+2BJiQ@mail.gmail.com>","in-reply-to":"In-Reply-To: <CAFN0DDs-aj_Xk-X-C+7QaG68GoO7ArA3tfQ27wYWbrfE+2BJiQ@mail.gmail.com>","x-failed-recipients":"X-Failed-Recipients: escritstaclara@hotmail.com"},"html":"\n<html>\n<head>\n<style>\n* {\nfont-family:Roboto, \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n}\n</style>\n</head>\n<body>\n<table cellpadding=\"0\" cellspacing=\"0\" class=\"email-wrapper\" style=\"padding-top:32px;background-color:#ffffff;\"><tbody>\n<tr><td>\n<table cellpadding=0 cellspacing=0><tbody>\n<tr><td style=\"max-width:560px;padding:24px 24px 32px;background-color:#fafafa;border:1px solid #e0e0e0;border-radius:2px\">\n<img style=\"padding:0 24px 16px 0;float:left\" width=72 height=72 alt=\"Ícone de erro\" src=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJAAAACQCAYAAADnRuK4AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABTdJREFUeNrsnD9sFEcUh5+PRMqZyA0SPhAUQAQFUkyTgiBASARo6QApqVIkfdxGFJFSgGhJAUIiBaQB0ZIOKVCkwUgURjIg2fxL4kS+YDvkbC/388bi8N16Z4/d7J/5PsniuD3fyePP772ZeTsDQRAYQL/UGAJAIEAgQCBAIAAEAgQCBAIEAkAgyJT3Mv+Eq7vYK8mTE+MDRCAghQECAeRQA5V2ZOpmg5vDx3NPzRbmGRMEcmTrEbNNB8zWfRD+f/Efs2e3zCZvMjaksBg27TfbcuSNPEKP9ZyuAQKtHX2O9ncNgWC57umMPKvRNb0GEKgnLoUyxTQCrcns0/6uIRAs8/hGf9cQCJZpTpjdO2f25/03z+mxntM1eLtsZAgiUtX4JcaBCAQIBAgECARQ8CJaG5jab4J4pm4WZmO3OALVh802fIwcLkyPkcKAGggAgQCBAIEAgQCBABAIEAjKA/1AnahhbO5FdOOYVsrrDbPBYcYKgf5D2wLaV3p+22xh1u17tO3S+DTcvxvagUDeivPgx/a/95J/73w7Sj26Hn4pKo2MehuV/KyBJM6d0f7k6RKx/R63vvL2tmf/ItDdM2ZTP6f7nkp9Y2fDx1v9akmpIU+KSCLVUghUQfSLzVKeTklbLxGoctw/nzC5rw8L5KRNbkpnKq6pgSqEClzNnFzY+XnYWrt6VpVk1vbwWvg+RKCKMOUwQ1LEOXA+/MX3mpJvGDHb265xtnzmFoUK1HaKQGlMtePYM+q2KKjXuaS1NJYIEKgI8jhEgqHt4cqyKy53j3hyHz2bqSLp2o2LbJ7MxKovkGqXteoWpaOk96O9/yF/dF7NwlS36AuIQIBA5celQK4PIxBE4LLzrtoLgaALdSy6CJRkWQCBPGLsTHznomZ9nszUECgJ2ml3WWHe+QVFNPSQx6UdZNtxr9pbEShNeTTz8mQXHoHSlke7+Z+c9m6VGoHSkEfs/trLW3wQKApN1V3lGfnGu2Z6BFoLtYCs3GWBPAiUCLVh/HoaeRCoT9R873KLM/IgUBfapnCpe5AHgXry4pf412ihEHkQqCdxd5VqrcezhUIESsJMTJ+PdthpZ0WgyNlXXPHc2Mc4IVAELl2Gnh8mhUDvCkfbIVAkcbf/aOoO3fMKhqAD3frTa4quwpn0hUDOkQhIYYBAgECAQAAU0QlYObl+5Ug8NcprZkZxjUCxRPVA6zmtEXHCBykskrhjgHXN09PoEcgFl4M4H11jnBAoApcj6ZoPGScEAgTKApcDoTw5sgWB+sGlz1n90IBAPdE6j1o21PfcC11jLagL1oFWRyGlKU3pOxcSJQ7NZAjkhHp/uG2HFAYIBAgECASAQIBAgECAQAAIBOkxEARBtp9wdVfAMOfIifEBIhCQwgCBABAI0oV2jhxZ+nfBatuPZfgBCy0Eqqo8c01b+uu51XZvzOgDWoHNTGR+pCwpLEd5svuAZXlO2uErPyEQ8hRWHgRCHmqg0sjTnLalv6crJQ8C/U8stqNO0I4+VZOHFIY8COS1PGL2ybd5yUMKK7s8zYmLdujyd3n+nESgcsvzZd4/KwIhDwIhT35QA6UyE1qyxZnfvJMHgdKS549JC1qvvJOHFIY8CFR5eV5OXimqPAhUdHnmfx+zgxdOFXkoqIGKKs/cswnb/8Oeog8HEai48nxUhiFBIORBIOShBioskkbySCLkIQIhDwIhj28p7FApR6b1qlEbHGpkO/rr6215vi/zH1r2x7tApSGFAQIBAgECAQIBIBAgECAQIBBALK8FGADCTxYrr+EVJgAAAABJRU5ErkJggg==\">\n<table style=\"min-width:272px;padding-top:8px\"><tbody>\n<tr><td><h2 style=\"font-size:20px;color:#212121;font-weight:bold;margin:0\">\nEndereço não encontrado\n</h2></td></tr>\n<tr><td style=\"padding-top:20px;color:#757575;font-size:16px;font-weight:normal;text-align:left\">\nSua mensagem não foi entregue a <a style='color:#212121;text-decoration:none'><b>escritstaclara@hotmail.com</b></a> porque o endereço não foi encontrado ou não pode receber mensagens.\n</td></tr>\n</tbody></table>\n</td></tr>\n</tbody></table>\n</td></tr>\n<tr style=\"border:none;background-color:#fff;font-size:12.8px;width:90%\">\n<td align=\"left\" style=\"padding:48px 10px\">\nA resposta do servidor remoto foi:<br/>\n<p style=\"font-family:monospace\">\n550 5.5.0 Requested action not taken: mailbox unavailable (S2017062302). [SA2PEPF00003F62.namprd04.prod.outlook.com 2025-11-13T12:45:01.917Z 08DE1ED52E854CEE]\n</p>\n</td>\n</tr>\n</tbody></table>\n</body>\n</html>\n<br/>\n<p>Reporting-MTA: dns; <a href=\"http://googlemail.com\">googlemail.com</a><br/>Arrival-Date: Thu, 13 Nov 2025 04:45:01 -0800 (PST)<br/>X-Original-Message-ID: &lt;<a href=\"mailto:CAFN0DDs-aj_Xk-X-C+7QaG68GoO7ArA3tfQ27wYWbrfE+2BJiQ@mail.gmail.com\">CAFN0DDs-aj_Xk-X-C+7QaG68GoO7ArA3tfQ27wYWbrfE+2BJiQ@mail.gmail.com</a>&gt;</p><p>Final-Recipient: rfc822; <a href=\"mailto:escritstaclara@hotmail.com\">escritstaclara@hotmail.com</a><br/>Action: failed<br/>Status: 5.5.0<br/>Remote-MTA: dns; <a href=\"http://hotmail-com.olc.protection.outlook.com\">hotmail-com.olc.protection.outlook.com</a>. (<a href=\"http://52.101.11.20\">52.101.11.20</a>, the<br/> server for the domain <a href=\"http://hotmail.com\">hotmail.com</a>.)<br/>Diagnostic-Code: smtp; 550 5.5.0 Requested action not taken: mailbox unavailable (S2017062302). [<a href=\"http://SA2PEPF00003F62.namprd04.prod.outlook.com\">SA2PEPF00003F62.namprd04.prod.outlook.com</a> 2025-11-13T12:45:01.917Z 08DE1ED52E854CEE]<br/>Last-Attempt-Date: Thu, 13 Nov 2025 04:45:01 -0800 (PST)</p>","text":"\n** Endereço não encontrado **\n\nSua mensagem não foi entregue a escritstaclara@hotmail.com porque o endereço não foi encontrado ou não pode receber mensagens.\n\n\n\nA resposta do servidor remoto foi:\n550 5.5.0 Requested action not taken: mailbox unavailable (S2017062302). [SA2PEPF00003F62.namprd04.prod.outlook.com 2025-11-13T12:45:01.917Z 08DE1ED52E854CEE]\n\nReporting-MTA: dns; googlemail.com\nArrival-Date: Thu, 13 Nov 2025 04:45:01 -0800 (PST)\nX-Original-Message-ID: <CAFN0DDs-aj_Xk-X-C+7QaG68GoO7ArA3tfQ27wYWbrfE+2BJiQ@mail.gmail.com>\n\nFinal-Recipient: rfc822; escritstaclara@hotmail.com\nAction: failed\nStatus: 5.5.0\nRemote-MTA: dns; hotmail-com.olc.protection.outlook.com. (52.101.11.20, the\n server for the domain hotmail.com.)\nDiagnostic-Code: smtp; 550 5.5.0 Requested action not taken: mailbox unavailable (S2017062302). [SA2PEPF00003F62.namprd04.prod.outlook.com 2025-11-13T12:45:01.917Z 08DE1ED52E854CEE]\nLast-Attempt-Date: Thu, 13 Nov 2025 04:45:01 -0800 (PST)\n","textAsHtml":"<p>** Endere&ccedil;o n&atilde;o encontrado **</p><p>Sua mensagem n&atilde;o foi entregue a <a href=\"mailto:escritstaclara@hotmail.com\">escritstaclara@hotmail.com</a> porque o endere&ccedil;o n&atilde;o foi encontrado ou n&atilde;o pode receber mensagens.</p><p>A resposta do servidor remoto foi:<br/>550 5.5.0 Requested action not taken: mailbox unavailable (S2017062302). [<a href=\"http://SA2PEPF00003F62.namprd04.prod.outlook.com\">SA2PEPF00003F62.namprd04.prod.outlook.com</a> 2025-11-13T12:45:01.917Z 08DE1ED52E854CEE]</p><br/>\n<p>Reporting-MTA: dns; <a href=\"http://googlemail.com\">googlemail.com</a><br/>Arrival-Date: Thu, 13 Nov 2025 04:45:01 -0800 (PST)<br/>X-Original-Message-ID: &lt;<a href=\"mailto:CAFN0DDs-aj_Xk-X-C+7QaG68GoO7ArA3tfQ27wYWbrfE+2BJiQ@mail.gmail.com\">CAFN0DDs-aj_Xk-X-C+7QaG68GoO7ArA3tfQ27wYWbrfE+2BJiQ@mail.gmail.com</a>&gt;</p><p>Final-Recipient: rfc822; <a href=\"mailto:escritstaclara@hotmail.com\">escritstaclara@hotmail.com</a><br/>Action: failed<br/>Status: 5.5.0<br/>Remote-MTA: dns; <a href=\"http://hotmail-com.olc.protection.outlook.com\">hotmail-com.olc.protection.outlook.com</a>. (<a href=\"http://52.101.11.20\">52.101.11.20</a>, the<br/> server for the domain <a href=\"http://hotmail.com\">hotmail.com</a>.)<br/>Diagnostic-Code: smtp; 550 5.5.0 Requested action not taken: mailbox unavailable (S2017062302). [<a href=\"http://SA2PEPF00003F62.namprd04.prod.outlook.com\">SA2PEPF00003F62.namprd04.prod.outlook.com</a> 2025-11-13T12:45:01.917Z 08DE1ED52E854CEE]<br/>Last-Attempt-Date: Thu, 13 Nov 2025 04:45:01 -0800 (PST)</p>","subject":"Delivery Status Notification (Failure)","references":"<CAFN0DDs-aj_Xk-X-C+7QaG68GoO7ArA3tfQ27wYWbrfE+2BJiQ@mail.gmail.com>","date":"2025-11-13T12:45:01.000Z","to":{"value":[{"address":"contato@contato-buscafornecedor.com.br","name":""}],"html":"<span class=\"mp_address_group\"><a href=\"mailto:contato@contato-buscafornecedor.com.br\" class=\"mp_address_email\">contato@contato-buscafornecedor.com.br</a></span>","text":"contato@contato-buscafornecedor.com.br"},"from":{"value":[{"address":"mailer-daemon@googlemail.com","name":"Mail Delivery Subsystem"}],"html":"<span class=\"mp_address_group\"><span class=\"mp_address_name\">Mail Delivery Subsystem</span> &lt;<a href=\"mailto:mailer-daemon@googlemail.com\" class=\"mp_address_email\">mailer-daemon@googlemail.com</a>&gt;</span>","text":"\"Mail Delivery Subsystem\" <mailer-daemon@googlemail.com>"},"messageId":"<6915d2cd.050a0220.2a77b6.d890.GMR@mx.google.com>","inReplyTo":"<CAFN0DDs-aj_Xk-X-C+7QaG68GoO7ArA3tfQ27wYWbrfE+2BJiQ@mail.gmail.com>"}}],"contato@comprador":[{"json":{"id":"19a7d164d1726c2b","threadId":"19a7d163c41952a9","snippet":"Endereço não encontrado Sua mensagem não foi entregue a fiscal@apxcontabilidade.com.br porque o endereço não foi encontrado ou não pode receber mensagens. A resposta do servidor remoto foi: 550 5.1.1 :","payload":{"mimeType":"multipart/report"},"sizeEstimate":19717,"historyId":"3244","internalDate":"1763035204000","labels":[{"id":"INBOX","name":"INBOX"},{"id":"CATEGORY_UPDATES","name":"CATEGORY_UPDATES"},{"id":"UNREAD","name":"UNREAD"}],"To":"contato@comprador-buscafornecedor.com.br","From":"Mail Delivery Subsystem <mailer-daemon@googlemail.com>","Subject":"Delivery Status Notification (Failure)"}}]},"versionId":"662ff6d7-90c4-4afa-8c9d-aee629251534","triggerCount":4,"shared":[{"updatedAt":"2025-11-12T17:42:27.927Z","createdAt":"2025-11-12T17:42:27.927Z","role":"workflow:owner","workflowId":"CKwjKBxii9WWZx2f","projectId":"jk0yZKautC5L7CBp"}],"tags":[{"updatedAt":"2025-10-15T14:40:29.163Z","createdAt":"2025-10-15T14:40:29.163Z","id":"nbbzLv39fl1JNnUB","name":"webhook"}]}