enriquece+processa-nTO8kMzlsNdLgbBw.json
{"updatedAt":"2026-01-21T18:00:23.041Z","createdAt":"2025-12-05T13:46:51.738Z","id":"nTO8kMzlsNdLgbBw","name":"Enriquece+Processa","active":true,"isArchived":false,"nodes":[{"parameters":{"jsonSchemaExample":"{\n\t\"site\": \"string\",\n\t\"justificativa\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1504,432],"id":"00dfccd6-37f8-4c76-9f06-5465a83ed018","name":"Structured Output Parser"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1728,432],"id":"b0b7e369-f485-4762-ba1a-e3d97120ff63","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"link_clientes\": \"nao_encontrado\",\n  \"justificativa_clientes\": \"Não foi possível analisar links pois a lista de Links_scrape_origem está vazia.\",\n  \"link_portfolio\": \"nao_encontrado\",\n  \"justificativa_portfolio\": \"Não foi possível analisar links pois a lista de Links_scrape_origem está vazia.\",\n  \"link_home\": \"nao_encontrado\",\n  \"justificativa_home\": \"Não foi possível analisar links pois a lista de Links_scrape_origem está vazia.\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-496,432],"id":"6e811ff6-a3ad-46fb-89bb-77a534e306a9","name":"Structured Output Parser4"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-784,432],"id":"e5f5a2cd-adf6-4a4b-af4a-4aae1d70a3bb","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"resumo_empresa\": \"DESCRIÇÃO RESUMIDA AQUI\",\n  \"tipo_fornecedor\":\"material ou servico\",\n  \"especialidades\":\"detalhar especialidade do fornecedor\",\n  \"exemplos_servico\":\"detalhar exemplo de servicos prestados\",\n  \"categorias_materiais\":\"quais categorias de materiais são fornecidos pelo fornecedor\",\n  \"telefone\":\"12313123123\",\n  \"instagram\":\"@instagram\",\n  \"email\":\"empresa@empresa.com\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[784,384],"id":"3f72e524-86e4-40ef-b6e1-c0b0ae6411c6","name":"Structured Output Parser3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[528,384],"id":"c6603510-e010-4de4-b41d-707eff9707f4","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"clientes\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1280,384],"id":"76260c23-b305-4b6c-b3ea-fba6a4406173","name":"Structured Output Parser5"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1024,384],"id":"1f07efaa-6ba0-4729-bc04-23c5092b9943","name":"Google Gemini Chat Model4","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2eb1014d-2a4f-4fb0-8882-2dd3fb33ac1a","name":"data","value":"={{ $json.organic }}","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1936,240],"id":"8a123c1a-2b0b-4b5e-9e62-868622896503","name":"busca_google"},{"parameters":{"promptType":"define","text":"=Razao Social: {{ $('Webhook').item.json.body.data.razao_social }}\nNome Fantasia: {{ $('Webhook').item.json.body.data.nome_fantasia }}\nEmail: {{ $('Webhook').item.json.body.data.correio_eletronico }}\nNome Municipio:{{ $('Webhook').item.json.body.data.nome_municipio }}\nCNAES:{{ $('Webhook').item.json.body.data.todos_codigos_cnae }}\nBusca Internet: {{ $json.data }}","hasOutputParser":true,"options":{"systemMessage":"=# Prompt: Agente Especialista em Localizar Sites Oficiais de Empresas\n\n## Objetivo\nVocê é um agente especializado em localizar **o site oficial de uma empresa brasileira**, com base em dados cadastrais e resultados de busca. Seu papel é garantir que o site identificado seja **efetivamente controlado pela empresa**, mesmo que o nome da empresa apareça com pequenas variações.\n\n## Informações de entrada\nVocê receberá:\n\n- Nome Fantasia  \n- Razão Social  \n- CNPJ (quando disponível)  \n- Segmento de atuação  \n- CNAE  \n- Cidade  \n- Estado  \n- CEP  \n\n## Estratégia de Busca e Verificação\n\n1. **Busque domínios corporativos próprios**, incluindo sufixos como:  \n   `.com.br`, `.com`, `.net.br`, `.eng.br`, `.ind.br`, `.wixsite.com` (com validação reforçada).\n\n2. **Aceite variações no nome da empresa no domínio**, desde que:\n   - O nome esteja parcialmente presente no domínio (ex: `rubiengenharia.com.br` para \"Rubi Engenharia\").\n   - O conteúdo do site comprove a identidade por outros meios (ver abaixo).\n\n3. **Valide a identidade com base em ao menos duas das evidências abaixo**:\n   - Nome da empresa (ou variação) na seção \"Sobre\", \"Contato\" ou rodapé do site;\n   - Endereço compatível com a cidade ou estado fornecidos;\n   - E-mail corporativo no domínio (ex: contato@empresa.com.br);\n   - Presença de CNPJ ou razão social completa no site;\n   - Perfis oficiais da empresa (Instagram, LinkedIn, etc.) apontando diretamente para o domínio;\n   - Serviços, clientes ou projetos listados que confirmam o segmento informado.\n\n4. **Sites em plataformas como Wix ou WordPress** são aceitáveis **se o conteúdo comprovar a identidade institucional** com base nas evidências acima.\n\n5. Se houver **múltiplos sites candidatos**, selecione o que possuir mais evidências cruzadas de vínculo com a empresa.\n\n## Exclusões Obrigatórias\n\nRejeite os seguintes tipos de páginas, mesmo se mencionarem a empresa:\n\n- Diretórios empresariais (ex: CNPJ.biz, Econodata, TeleListas, Apontador)\n- Sites de marketplaces (ex: OLX, Mercado Livre, Shopee)\n- Sites de releases, notícias ou matérias jornalísticas\n- Blogs ou páginas pessoais que apenas mencionem a empresa\n- Páginas com nomes semelhantes, mas sem qualquer evidência de vínculo com os dados fornecidos\n\n## Exemplos para calibração\n\n**Aceite:**\n- `https://www.brzfire.com.br` → domínio combina com nome fantasia, e-mail institucional aparece no rodapé.\n- `http://www.rubiengenharia.com.br` → nome parcialmente compatível, site descreve serviços de engenharia e localização compatível.\n- `https://ethicusscs.wixsite.com/refrigeracao` → site Wix, mas com nome da empresa, segmento e contato institucional válidos.\n\n**Rejeite:**\n- `https://cnpj.biz/empresa-nome` → diretório empresarial sem vínculo institucional.\n- `https://shopee.com/empresa-xyz` → perfil em marketplace, não institucional.\n\n## Formato de Resposta\n\nSe o site for considerado oficial:\n```json\n{\n  \"site\": \"https://www.nomedasuaempresa.com.br\",\n  \"justificativa\": \"O domínio contém o nome fantasia e o site descreve os serviços, endereço e e-mail institucional compatíveis com os dados fornecidos.\"\n}\n```\n\nSe nenhum site for confiável:\n```json\n{\n  \"site\": \"nao_encontrado\",\n  \"justificativa\": \"Nenhum dos sites encontrados possui evidência suficiente de pertencimento à empresa. Todos são diretórios, domínios genéricos ou menções indiretas.\"\n}\n```"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-1696,240],"id":"a4edb007-3457-48f4-9d2c-3fa93f554ba0","name":"find_company_website","retryOnFail":false,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[208,192],"id":"bca0e5a6-2401-4af6-9596-20b3958e305a","name":"merge_clienteNmain"},{"parameters":{"promptType":"define","text":"=Texto Page Home: {{ $json.texto_page_home }}\n\nTexto Page Cliente: {{ $json.texto_page_cliente }}\n\nOutras informações do site: {{ $('extrai_info_site').item.json.links }}","hasOutputParser":true,"options":{"systemMessage":"=# Prompt: Agente Gerador de Resumo de Atuação da Empresa\n\nVocê é um agente especializado em gerar resumos objetivos sobre empresas com base no conteúdo de seus sites institucionais.\n\n## Objetivo\n\nSua tarefa é analisar o conteúdo textual do site de uma empresa fornecedora e:\n1. Gerar um resumo com **até 200 caracteres**, explicando **o que a empresa faz**, com ênfase em seus **serviços ou produtos principais**.\n2. Entender se é um fornecedor majoritariamente de serviço ou produto.\n3. Resumir as especialidades do fornecedor.\n4. Quais categorias de materiais ele fornece.\n5. Exemplos de serviço prestado\n6. Pegar telefone do site.\n7. Pegar instagram do site.\n8. Pegar e-mail do site.\n\n## Entrada\n\nAnalise exclusivamente o conteúdo presente no campo `fullCleanedString`.\n\n## Instruções\n\n1. Leia o texto e identifique os principais **produtos**, **serviços**, **tecnologias** ou **segmentos atendidos**.\n2. Foque em responder à pergunta: **“O que esta empresa oferece?”**\n3. Seja direto, objetivo e use linguagem clara e comercial.\n4. Evite termos vagos como “soluções inovadoras” sem explicar o que é oferecido.\n\n\n### Exemplos de resumo aceitável\n\n- `\"Fabricação de estruturas metálicas para galpões industriais e coberturas comerciais.\"`\n- `\"Especializada em engenharia elétrica e montagem de painéis para indústrias.\"`\n- `\"Distribuidora de equipamentos hidráulicos e válvulas industriais em todo o Brasil.\"`\n\n## Saída\n\nRetorne o resultado no seguinte formato JSON:\n\n```json\n{\n  \"resumo_empresa\": \"DESCRIÇÃO RESUMIDA AQUI\",\n  \"tipo_fornecedor\":\"material ou servico\",\n  \"especialidades\":\"detalhar especialidade do fornecedor\",\n  \"exemplos_servico\":\"detalhar exemplo de servicos prestados\",\n  \"categorias_materiais\":\"quais categorias de materiais são fornecidos pelo fornecedor\",\n  \"telefone\":\"12313123123\",\n  \"instagram\":\"@instagram\",\n  \"email\":\"empresa@empresa.com\"\n}\n```\n\nSe não for possível identificar algum dos campos, retorne: nao_encontrado\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[576,208],"id":"5ee2c6ca-6d7d-43ab-bc58-a4bd586aa98d","name":"resumo_atuacao","retryOnFail":true,"maxTries":3,"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=Texto Page Home: {{ $('textos_site').item.json.texto_page_home }}\n\nTexto Page Cliente: {{ $('textos_site').item.json.texto_page_cliente }}","hasOutputParser":true,"options":{"systemMessage":"=Situation (Situação)\nVocê é um agente especializado em analisar o conteúdo textual de sites de fornecedores para identificar nomes de clientes empresariais ou institucionais.\nO objetivo é encontrar empresas ou instituições que tenham recebido serviços, produtos ou atendimentos do fornecedor analisado — e não organizações citadas como parceiras, patrocinadoras, colaboradoras ou apoiadoras.\n\nA análise deve ser feita exclusivamente com base no conteúdo fornecido em fullCleanedString.\n\nTask (Tarefa)\nSua tarefa é:\n\nIdentificar trechos de texto que indiquem prestação de serviços, fornecimento, execução de projetos ou atendimento a clientes.\n\nExtrair nomes de empresas ou instituições que sejam claramente clientes.\n\nEliminar qualquer menção a parcerias, patrocínios, apoios, colaborações, fornecedores ou representantes.\n\nRetornar o resultado em formato JSON, com todos os nomes de clientes válidos.\n\nAction (Ação)\n\nAnálise de contexto\nBusque por blocos de texto que indiquem prestação de serviço, usando expressões como:\n\n\"Clientes\", \"Clientes Atendidos\", \"Nossos Clientes\"\n\n\"Obras realizadas\", \"Projetos entregues\", \"Cases de sucesso\"\n\n\"Portfólio\", \"Quem confia\", \"Empresas atendidas\", \"Trabalhos realizados\", \"Marcas atendidas\"\n\nExtração de clientes\n\nIdentifique nomes de empresas ou instituições que aparecem como beneficiárias diretas dos serviços ou produtos.\n\nEles podem estar em listas, títulos, descrições de projetos ou seções visuais.\n\nQuando houver localizações geográficas, remova-as.\n\nExemplo: \"Grupo DBK - São José do Rio Preto - SP\" → \"Grupo DBK\"\n\nRemova formatações (negrito, colchetes, links, etc.).\n\nFiltragem e limpeza dos resultados\n\nIgnorar menções relacionadas a:\n\nParcerias: “parceiros”, “parceiro comercial”, “colaboração”, “co-branding”.\n\nPatrocínios: “patrocinadores”, “apoiadores”, “iniciativas conjuntas”, “apoio institucional”.\n\nDistribuidores/representantes: “representantes autorizados”, “revendas”, “fornecedores”.\n\nIgnorar também:\n\nTermos técnicos ou genéricos (ex: “Tubulação industrial”, “Serviço de pintura”).\n\nCidades ou regiões isoladas.\n\nFrases genéricas (“clientes satisfeitos”, “diversas empresas”).\n\nRepetições, nomes incompletos ou vagos (“Empresa de Logística”).\n\nFormatação final\n\nOrganize os nomes únicos em uma única string, separados por vírgulas.\n\nNão adivinhe nem complete nomes parcialmente.\n\nRetorne apenas empresas com indícios claros de relação cliente → fornecedor.\n\nResult (Resultado)\n\nSe um ou mais nomes válidos forem identificados:\n\n{\n  \"clientes\": \"Grupo DBK, Quinelato, Plakton Cosméticos\"\n}\n\n\nSe nenhum cliente válido for identificado:\n\n{\n  \"clientes\": \"nao_encontrado\"\n}\n\n\nRegras finais:\n\nA saída deve conter apenas o campo \"clientes\" com uma string separada por vírgulas.\n\nNunca inferir, completar ou supor nomes.\n\nEliminar duplicações, formatações e dados irrelevantes.\n\nJamais considerar parceiros, patrocinadores, apoiadores, fornecedores ou distribuidores como clientes."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1072,208],"id":"8059d934-f3df-495f-8202-1bec2ddfa7b4","name":"busca_clientes","retryOnFail":true,"maxTries":3,"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=Link_origem:{{ $('find_company_website').item.json.output.site }}\n\nLinks_scrape_origem:{{ $json.links }}","hasOutputParser":true,"options":{"systemMessage":"=Situation (Situação)\nVocê é um agente especialista em análise semântica de URLs de sites empresariais. Seu objetivo é identificar os links mais relevantes que apontam para a página de clientes, o portfólio de produtos/serviços e a home page. Você compreende sinônimos e contextos comuns em diferentes setores de negócio.\n\nVocê recebe como entrada:\n\nLink_origem: O link principal do site analisado.\nLinks_scrape_origem: Uma lista de todos os links extraídos do site de origem.\n\nTask (Tarefa)\nSua tarefa é analisar a lista Links_scrape_origem para identificar e retornar os três links mais prováveis para as seguintes categorias:\n\nLink de Clientes: Uma página que lista ou descreve os clientes da empresa.\n\nLink de Portfólio/Produtos: Uma página que mostra os produtos, serviços, soluções ou cases de sucesso da empresa.\n\nLink da Home Page: O link principal ou de entrada do site.\n\nAction (Ação)\nSiga rigorosamente estas etapas:\n\nPré-processamento:\nSe Links_scrape_origem estiver vazio, retorne o JSON de falha apropriado.\nReconstrua todos os links relativos (ex: /produtos) e âncoras (ex: #cases) para URLs absolutas usando o Link_origem.\nNormalize os links (remova barras no final, converta para minúsculas) e remova todas as duplicatas.\nDescarte links externos (que não pertencem ao domínio do Link_origem).\n\nAnálise e Pontuação (Scoring):\nPara cada link na lista pré-processada, calcule uma pontuação para \"Clientes\" e \"Portfólio\" com base nos termos encontrados no URL. A pontuação é cumulativa.\n\nTermos para Portfólio/Produtos:\n+10 pontos: portfolio, portfólio, cases, produtos, servicos, solucoes (e variações no plural).\n+7 pontos: o-que-fazemos, nossas-solucoes, projetos, realizacoes.\n\nTermos para Clientes:\n+10 pontos: clientes, nossos-clientes, quem-atendemos.\n+7 pontos: parceiros, cases-de-sucesso, quem-confia.\n\nTermos de Penalidade (aplicável a ambas as categorias):\n-5 pontos: blog, noticias, artigos, sobre, empresa.\n-10 pontos: contato, fale-conosco, trabalhe-conosco, author.\n\nDescarte total: Links com login, tel:, mailto:, ou que terminam em extensões de arquivo (.pdf, .jpg, .zip).\n\nSeleção Final:\nLink de Portfólio: Escolha o link com a maior pontuação para \"Portfólio/Produtos\".\nLink de Clientes: Escolha o link com a maior pontuação para \"Clientes\".\nLink da Home Page: Identifique a raiz exata do domínio (ex: https://www.exemplo.com.br/).\n\nRegra de Desempate: Se houver empate na pontuação, prefira o URL com o caminho mais curto (menor número de barras /).\n\nSe nenhum link obtiver pontuação positiva para uma categoria, considere-o \"nao_encontrado\".\n\nExamples (Exemplos)\n\nExemplo 1 (Input):\n\nLink_origem: https://plasmundimt.com.br/\n\nLinks_scrape_origem: ..., https://plasmundimt.com.br/categoria/produtos, ...\n\nExemplo 1 (Output Esperado):\n\nJSON\n\n{\n  \"link_clientes\": \"nao_encontrado\",\n  \"justificativa_clientes\": \"Nenhum link com termos relevantes para clientes obteve pontuação positiva.\",\n  \"link_portfolio\": \"https://plasmundimt.com.br/categoria/produtos\",\n  \"justificativa_portfolio\": \"Link com pontuação máxima (+10) devido ao termo 'produtos', indicando ser a página de portfólio de produtos.\",\n  \"link_home\": \"https://plasmundimt.com.br/\",\n  \"justificativa_home\": \"Raiz do domínio identificada como home page.\"\n}\nExemplo 2 (Input):\n\nLink_origem: https://techsolutions.com/\n\nLinks_scrape_origem: ..., https://techsolutions.com/nossas-solucoes, https://techsolutions.com/clientes-e-parceiros, ...\n\nExemplo 2 (Output Esperado):\n\nJSON\n\n{\n  \"link_clientes\": \"https://techsolutions.com/clientes-e-parceiros\",\n  \"justificativa_clientes\": \"Link com pontuação máxima (+10 para 'clientes', +7 para 'parceiros'), indicando ser a página dedicada a clientes.\",\n  \"link_portfolio\": \"https://techsolutions.com/nossas-solucoes\",\n  \"justificativa_portfolio\": \"Link com pontuação alta (+10) devido ao termo 'solucoes', indicando ser o portfólio de serviços/soluções.\",\n  \"link_home\": \"https://techsolutions.com/\",\n  \"justificativa_home\": \"Raiz do domínio identificada como home page.\"\n}\nResult (Resultado)\nRetorne um único objeto JSON com a estrutura especificada. Seja específico na justificativa, mencionando o termo-chave que levou à escolha e a pontuação ou razão principal.\n\nSe links válidos forem encontrados:\n\nJSON\n\n{\n  \"link_clientes\": \"URL_completo\",\n  \"justificativa_clientes\": \"Justificativa baseada no termo e pontuação.\",\n  \"link_portfolio\": \"URL_completo\",\n  \"justificativa_portfolio\": \"Justificativa baseada no termo e pontuação.\",\n  \"link_home\": \"URL_completo\",\n  \"justificativa_home\": \"Raiz do domínio identificada como home page.\"\n}\nSe não encontrar ou a lista estiver vazia:\n\nJSON\n\n{\n  \"link_clientes\": \"nao_encontrado\",\n  \"justificativa_clientes\": \"Motivo da não localização.\",\n  \"link_portfolio\": \"nao_encontrado\",\n  \"justificativa_portfolio\": \"Motivo da não localização.\",\n  \"link_home\": \"URL_completo_se_possivel\",\n  \"justificativa_home\": \"Motivo da não localização.\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-704,224],"id":"4d3bac0d-a2eb-4469-a069-65c9b3038bf5","name":"find_client_page","retryOnFail":true,"maxTries":2,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"jsonSchemaExample":"{\n  \"industrias\":\"Industria de Alimentos, Industria Papel e Celulose, ... \"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1728,384],"id":"0a891320-6791-4f63-ae66-37d5a6527305","name":"Structured Output Parser6"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1472,384],"id":"41e30dae-a8ed-47f9-9fe6-a64ce61492ac","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=Clientes:  {{ $json.output.clientes }}","hasOutputParser":true,"options":{"systemMessage":"=Papel: Você é um agente especialista em encontrar clientes que são industrias.\nObjetivo: Identificar segmentos industriais de uma lista de clientes.\nTarefa: Analise a lista de Clientes e identifique segmentos industriais que atuam.\nExemplos: \nNestle - Industria de Alimentos\nVotorantim Cimentos - Industria de Cimentos\nPeccin - Industria de Alimentos\nAmbev - Industria de Bebidas\nBracell - Industria Papel e Celulose\n\nFormato de Saída\nJSON\n{\n  \"industrias\":\"Industria de Alimentos, Industria Papel e Celulose, ... \"\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1520,208],"id":"4ff8c7ba-a29d-4570-8c8f-43f5e4ce49e5","name":"identifica_industria","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"0fdc91d3-9fcc-4761-a907-6d80b362a03c","name":"texto_page_cliente","value":"={{ $json.fullCleanedStringCliente }}","type":"string"},{"id":"37a2eff7-d35e-48be-ad84-28f68a21851b","name":"texto_page_potifolio","value":"={{ $json.fullCleanedStringPortifolio }}","type":"string"},{"id":"69c34852-62c4-4f4d-82a7-bc5d4dae0149","name":"texto_page_home","value":"={{ $json.fullCleanedStringHome }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[336,208],"id":"0add6d6f-b795-488f-83ee-4740889a838f","name":"textos_site"},{"parameters":{"content":"## Chama uma API externa:\n- Passa a razão social como parâmetro\n- Encontra possíveis sites para a empresa","height":304,"width":400,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2192,96],"id":"ab390be6-6005-49de-b469-febeb6acba97","name":"Sticky Note22"},{"parameters":{"url":"={{ $json.output.link_clientes }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"pt-BR,pt;q=0.9,en-US;q=0.8\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Referer\": \"https://www.google.com/\",\n  \"Sec-Fetch-Site\": \"none\",\n  \"Sec-Fetch-Mode\": \"navigate\",\n  \"Sec-Fetch-User\": \"?1\",\n  \"Sec-Fetch-Dest\": \"document\",\n  \"DNT\": \"1\"\n}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-272,0],"id":"643b8816-25f7-4454-a9a0-44e0135449a0","name":"get_cliente","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.output.link_portfolio }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"pt-BR,pt;q=0.9,en-US;q=0.8\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Referer\": \"https://www.google.com/\",\n  \"Sec-Fetch-Site\": \"none\",\n  \"Sec-Fetch-Mode\": \"navigate\",\n  \"Sec-Fetch-User\": \"?1\",\n  \"Sec-Fetch-Dest\": \"document\",\n  \"DNT\": \"1\"\n}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-272,208],"id":"5b6cf6d5-51c5-4e27-a0c8-dc9a6c178428","name":"get_portifolio","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.output.link_home}}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"pt-BR,pt;q=0.9,en-US;q=0.8\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Referer\": \"https://www.google.com/\",\n  \"Sec-Fetch-Site\": \"none\",\n  \"Sec-Fetch-Mode\": \"navigate\",\n  \"Sec-Fetch-User\": \"?1\",\n  \"Sec-Fetch-Dest\": \"document\",\n  \"DNT\": \"1\"\n}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-272,416],"id":"438fe7b5-26f4-4051-a726-872ea75f5830","name":"get_home","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"path":"enriquece-processa-teste","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2368,240],"id":"cec3c61b-4a32-48a2-8c5e-90e75120a072","name":"Webhook","webhookId":"9e03b64f-0ded-43ea-9925-125a3177710f"},{"parameters":{"method":"POST","url":"https://google.serper.dev/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"2b57e8bc097d1367753763457b13c8d774fd68e9"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"q","value":"={{ $json.body.data.razao_social }}"},{"name":"gl","value":"br"},{"name":"hl","value":"pt-br"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2128,240],"id":"2f085e1e-f5c4-4bd0-9107-3b15456f6c35","name":"Serper_search","retryOnFail":true},{"parameters":{"content":"## IA: Define qual o site oficial da empresa.\n\n- Recebe os sites encontrados na busca.\n- Recebe informações cadastrais da empresa buscada.\n- Define qual dentre os sites recebidos é o site oficial da empresa.\n- Caso não encontre o site o banco é atualizado.\n\n```json\n{\n  \"site\": \"https://www.nomedasuaempresa.com.br\",\n  \"justificativa\": \"O domínio contém o nome fantasia e o site descreve os serviços, endereço e e-mail institucional compatíveis com os dados fornecidos.\"\n}\n```","height":656,"width":496,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1776,-80],"id":"53c3d411-8e70-4bf0-9fa6-374db752a722","name":"Sticky Note24"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output.site }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"equals"},"id":"41e6c94e-ffa6-4367-a21d-007867c2b030"}],"combinator":"and"},"renameOutput":true,"outputKey":"site_nao_encontrado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f1b15d1-c2eb-4b5f-a921-63bae2dfa299","leftValue":"={{ $json.output.site }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"site_encontrado"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1456,240],"id":"09856f2e-5290-412a-8f12-43415443305e","name":"encontrou_site?"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"update","tableId":"estabelecimento","matchType":"allFilters","filters":{"conditions":[{"keyName":"cnpj_basico","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.data.cnpj_basico }}"},{"keyName":"cnpj_dv","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.data.cnpj_dv }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"site","fieldValue":"={{ $json.output.site }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1184,96],"id":"c9f5bac0-4258-44c8-98eb-e87eef84c79a","name":"site_nãoEncontrado","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"url":"={{ $json.output.site }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"pt-BR,pt;q=0.9,en-US;q=0.8\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Referer\": \"https://www.google.com/\",\n  \"Sec-Fetch-Site\": \"none\",\n  \"Sec-Fetch-Mode\": \"navigate\",\n  \"Sec-Fetch-User\": \"?1\",\n  \"Sec-Fetch-Dest\": \"document\",\n  \"DNT\": \"1\"\n}","options":{"allowUnauthorizedCerts":true,"timeout":5000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1200,384],"id":"5666caea-7131-49b0-9002-9ff01bae114c","name":"acessa_site_oficial","retryOnFail":true,"maxTries":3,"alwaysOutputData":true,"waitBetweenTries":1500,"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"links","cssSelector":"a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-1008,384],"id":"e9e316e1-8968-4b81-b271-d2116b8c3dce","name":"extrai_info_site","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"content":"## Chama uma API externa:\n- Acessa o HTML do site da empresa.\n- Extrai Links da página","height":304,"width":416,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1264,256],"id":"20cc4f7a-3ddd-44f0-9a76-9695ddf3c9c3","name":"Sticky Note23"},{"parameters":{"content":"## Banco de dados:\n- Atualiza o site da empresa para \"nao_encontrado\"","height":240,"width":256,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1264,0],"id":"55c3b461-ad18-4abb-824a-c83717e00f2c","name":"Sticky Note21"},{"parameters":{"content":"## IA: Busca Páginas.\n- Realiza uma busca entre os links.\n\n- Encontra paginas de:\n-- cliente\n-- portifolio\n-- home\n\n```json\n{\n  \"link_clientes\": \"nao_encontrado\",\n  \"justificativa_clientes\": \"Nenhum link com termos relevantes para clientes obteve pontuação positiva.\",\n  \"link_portfolio\": \"https://plasmundimt.com.br/categoria/produtos\",\n  \"justificativa_portfolio\": \"Link com pontuação máxima (+10) devido ao termo 'produtos', indicando ser a página de portfólio de produtos.\",\n  \"link_home\": \"https://plasmundimt.com.br/\",\n  \"justificativa_home\": \"Raiz do domínio identificada como home page.\"\n}\n```","height":736,"width":480,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-832,-160],"id":"ddb9f764-8a2c-44d6-90bc-dfe1b92c4983","name":"Sticky Note25"},{"parameters":{"content":"## Chama uma API externa:\n- Acessa paginas de portifolio, cliente e home.\n- Extrai informações dos htmls dessas páginas","height":752,"width":784,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,-176],"id":"58e64ba0-0127-492a-8769-75af8fce9545","name":"Sticky Note26"},{"parameters":{"content":"## IA: Resume Atuação.\n- Acessa os dados de home e página de clientes.\n- baseado nessas informações define um resumo da atuação da empresa.\n\n```json\n{\n  \"resumo_empresa\": \"DESCRIÇÃO RESUMIDA AQUI\",\n  \"tipo_fornecedor\":\"material ou servico\",\n  \"especialidades\":\"detalhar especialidade do fornecedor\",\n  \"exemplos_servico\":\"detalhar exemplo de servicos prestados\",\n  \"categorias_materiais\":\"quais categorias de materiais são fornecidos pelo fornecedor\",\n  \"telefone\":\"12313123123\",\n  \"instagram\":\"@instagram\",\n  \"email\":\"empresa@empresa.com\"\n}\n```","height":688,"width":480,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[464,-160],"id":"e66c9c87-7bf1-4f0d-8a48-f172140c5185","name":"Sticky Note"},{"parameters":{"content":"## IA: Busca Clientes\n- Acessa os dados de home e página de clientes.\n- baseado nessas informações procura possíveis cientes relevantes da empresa.\n\n```json\n{\n  \"clientes\": \"Grupo DBK, Quinelato, Plakton Cosméticos\"\n}\n```","height":576,"width":448,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,-48],"id":"2b004975-c11f-4343-8dbf-afed99ab992b","name":"Sticky Note1"},{"parameters":{"content":"## IA: Identifica Industria\n- Acessa os dados da página de clientes.\n- baseado nessas informações define o segmento industrial da empresa.\n\n```json\n{\n  \"industrias\":\"Industria de Alimentos, Industria Papel e Celulose, ... \"\n}\n```","height":576,"width":448,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1424,-48],"id":"a4b0f10a-a2b9-4587-bb72-3e99c650ce54","name":"Sticky Note2"},{"parameters":{"content":"## Banco de dados:\n- Atualiza o banco da empresa com as informações coletadas.","height":272,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1888,96],"id":"02bf9f6f-e511-4bb3-a6bd-fd927fcad2d6","name":"Sticky Note27"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"update","tableId":"estabelecimento","matchType":"allFilters","filters":{"conditions":[{"keyName":"cnpj_basico","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.data.cnpj_basico }}"},{"keyName":"cnpj_dv","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.data.cnpj_dv }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"clientes","fieldValue":"={{ $('busca_clientes').item.json.output.clientes }}"},{"fieldId":"site","fieldValue":"={{ $('find_company_website').item.json.output.site }}"},{"fieldId":"resumo_empresa","fieldValue":"={{ $('resumo_atuacao').item.json.output.resumo_empresa }}"},{"fieldId":"segmentos_industriais","fieldValue":"={{ $json.output.industrias }}"},{"fieldId":"tipo_fornecedor","fieldValue":"={{ $('resumo_atuacao').item.json.output.tipo_fornecedor }}"},{"fieldId":"especialidades","fieldValue":"={{ $('resumo_atuacao').item.json.output.especialidades }}"},{"fieldId":"exemplo_servico","fieldValue":"={{ $('resumo_atuacao').item.json.output.exemplos_servico }}"},{"fieldId":"categorias_materais","fieldValue":"={{ $('resumo_atuacao').item.json.output.categorias_materiais }}"},{"fieldId":"telefone","fieldValue":"={{ $('resumo_atuacao').item.json.output.telefone }}"},{"fieldId":"instagram","fieldValue":"={{ $('resumo_atuacao').item.json.output.instagram }}"},{"fieldId":"email","fieldValue":"={{ $('resumo_atuacao').item.json.output.email }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1952,208],"id":"733a51d3-e79b-4fb3-af06-a8a3757d28c3","name":"update_empresa","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const data = item.json.data;\n\n  // Garante que o conteúdo seja string\n  const rawHtml = String(data || '');\n\n  // 1. Extrai conteúdo do <body> se existir\n  const bodyMatch = rawHtml.match(/<body\\b[^>]*>([\\s\\S]*?)<\\/body>/i);\n  const coreHtml = bodyMatch ? bodyMatch[1] : rawHtml; // Usar bodyMatch[1] para obter apenas o conteúdo dentro da tag <body>\n\n  // 2. Remove blocos desnecessários\n  const cleaned = coreHtml\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<(header|nav|footer|aside|noscript|svg|form|iframe|object|canvas|template)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '')\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<meta[^>]*>/gi, '')\n    .replace(/<link[^>]*>/gi, '');\n\n  // 3. Extrai links de imagens e descrições\n  const imageMatches = [...cleaned.matchAll(/<img[^>]*src=[\"']([^\"']+)[\"'](?:[^>]*alt=[\"']([^\"']*)[\"'])?(?:[^>]*title=[\"']([^\"']*)[\"'])?[^>]*>/gi)];\n  const images = imageMatches.map(match => {\n    return {\n      src: match[1],\n      alt: match[2] || null,\n      title: match[3] || null\n    };\n  });\n\n  // 4. Extrai links (href + texto)\n  const linkMatches = [...cleaned.matchAll(/<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi)];\n  const links = linkMatches.map(match => ({\n    href: match[1],\n    text: match[2].replace(/<[^>]+>/g, '').trim()\n  }));\n\n  // 5. Extrai texto visível do conteúdo limpo\n  const textClean = cleaned\n    .replace(/<[^>]+>/g, '')            // remove qualquer tag HTML restante\n    .replace(/\\r\\n?/g, '\\n')            // normaliza quebras de linha\n    .replace(/[ \\t]+\\n/g, '\\n')         // remove espaços antes de \\n\n    .replace(/\\s{2,}/g, ' ')            // reduz espaços múltiplos\n    .replace(/\\n{2,}/g, '\\n')           // reduz linhas vazias\n    .trim();\n\n  // 6. Concatena tudo em uma única string\n  const fullCleanedStringCliente = [\n    textClean,\n    '\\n\\n[IMAGENS]',\n    ...images.map(img => `Imagem: ${img.src}\\nAlt: ${img.alt || '—'}\\nTitle: ${img.title || '—'}`),\n    '\\n\\n[LINKS]',\n    ...links.map(link => `Texto: ${link.text}\\nURL: ${link.href}`)\n  ].join('\\n');\n\n  // 7. Retorna\n  return {\n    json: {\n      ...item.json,\n      textClean,\n      images,\n      links,\n      fullCleanedStringCliente\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,0],"id":"993480a1-6545-456e-ba80-74130bfe3419","name":"limpa_cliente"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const data = item.json.data;\n\n  // Garante que o conteúdo seja string\n  const rawHtml = String(data || '');\n\n  // 1. Extrai conteúdo do <body> se existir\n  const bodyMatch = rawHtml.match(/<body\\b[^>]*>([\\s\\S]*?)<\\/body>/i);\n  const coreHtml = bodyMatch ? bodyMatch[1] : rawHtml; // Usar bodyMatch[1] para obter apenas o conteúdo dentro da tag <body>\n\n  // 2. Remove blocos desnecessários\n  const cleaned = coreHtml\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<(header|nav|footer|aside|noscript|svg|form|iframe|object|canvas|template)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '')\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<meta[^>]*>/gi, '')\n    .replace(/<link[^>]*>/gi, '');\n\n  // 3. Extrai links de imagens e descrições\n  const imageMatches = [...cleaned.matchAll(/<img[^>]*src=[\"']([^\"']+)[\"'](?:[^>]*alt=[\"']([^\"']*)[\"'])?(?:[^>]*title=[\"']([^\"']*)[\"'])?[^>]*>/gi)];\n  const images = imageMatches.map(match => {\n    return {\n      src: match[1],\n      alt: match[2] || null,\n      title: match[3] || null\n    };\n  });\n\n  // 4. Extrai links (href + texto)\n  const linkMatches = [...cleaned.matchAll(/<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi)];\n  const links = linkMatches.map(match => ({\n    href: match[1],\n    text: match[2].replace(/<[^>]+>/g, '').trim()\n  }));\n\n  // 5. Extrai texto visível do conteúdo limpo\n  const textClean = cleaned\n    .replace(/<[^>]+>/g, '')            // remove qualquer tag HTML restante\n    .replace(/\\r\\n?/g, '\\n')            // normaliza quebras de linha\n    .replace(/[ \\t]+\\n/g, '\\n')         // remove espaços antes de \\n\n    .replace(/\\s{2,}/g, ' ')            // reduz espaços múltiplos\n    .replace(/\\n{2,}/g, '\\n')           // reduz linhas vazias\n    .trim();\n\n  // 6. Concatena tudo em uma única string\n  const fullCleanedStringPortifolio = [\n    textClean,\n    '\\n\\n[IMAGENS]',\n    ...images.map(img => `Imagem: ${img.src}\\nAlt: ${img.alt || '—'}\\nTitle: ${img.title || '—'}`),\n    '\\n\\n[LINKS]',\n    ...links.map(link => `Texto: ${link.text}\\nURL: ${link.href}`)\n  ].join('\\n');\n\n  // 7. Retorna\n  return {\n    json: {\n      ...item.json,\n      textClean,\n      images,\n      links,\n      fullCleanedStringPortifolio\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,208],"id":"a5bc9553-12ed-439e-9e17-0389149c0b39","name":"limpa_portifolio"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const data = item.json.data;\n\n  // Garante que o conteúdo seja string\n  const rawHtml = String(data || '');\n\n  // 1. Extrai conteúdo do <body> se existir\n  const bodyMatch = rawHtml.match(/<body\\b[^>]*>([\\s\\S]*?)<\\/body>/i);\n  const coreHtml = bodyMatch ? bodyMatch[1] : rawHtml; // Usar bodyMatch[1] para obter apenas o conteúdo dentro da tag <body>\n\n  // 2. Remove blocos desnecessários\n  const cleaned = coreHtml\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<(header|nav|footer|aside|noscript|svg|form|iframe|object|canvas|template)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '')\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<meta[^>]*>/gi, '')\n    .replace(/<link[^>]*>/gi, '');\n\n  // 3. Extrai links de imagens e descrições\n  const imageMatches = [...cleaned.matchAll(/<img[^>]*src=[\"']([^\"']+)[\"'](?:[^>]*alt=[\"']([^\"']*)[\"'])?(?:[^>]*title=[\"']([^\"']*)[\"'])?[^>]*>/gi)];\n  const images = imageMatches.map(match => {\n    return {\n      src: match[1],\n      alt: match[2] || null,\n      title: match[3] || null\n    };\n  });\n\n  // 4. Extrai links (href + texto)\n  const linkMatches = [...cleaned.matchAll(/<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi)];\n  const links = linkMatches.map(match => ({\n    href: match[1],\n    text: match[2].replace(/<[^>]+>/g, '').trim()\n  }));\n\n  // 5. Extrai texto visível do conteúdo limpo\n  const textClean = cleaned\n    .replace(/<[^>]+>/g, '')            // remove qualquer tag HTML restante\n    .replace(/\\r\\n?/g, '\\n')            // normaliza quebras de linha\n    .replace(/[ \\t]+\\n/g, '\\n')         // remove espaços antes de \\n\n    .replace(/\\s{2,}/g, ' ')            // reduz espaços múltiplos\n    .replace(/\\n{2,}/g, '\\n')           // reduz linhas vazias\n    .trim();\n\n  // 6. Concatena tudo em uma única string\n  const fullCleanedStringHome = [\n    textClean,\n    '\\n\\n[IMAGENS]',\n    ...images.map(img => `Imagem: ${img.src}\\nAlt: ${img.alt || '—'}\\nTitle: ${img.title || '—'}`),\n    '\\n\\n[LINKS]',\n    ...links.map(link => `Texto: ${link.text}\\nURL: ${link.href}`)\n  ].join('\\n');\n\n  // 7. Retorna\n  return {\n    json: {\n      ...item.json,\n      textClean,\n      images,\n      links,\n      fullCleanedStringHome\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,416],"id":"db7e1b35-d49d-4316-a862-ab73826851a2","name":"limpa_home"},{"parameters":{"content":"## Limpa o HTML extraído.","height":624,"width":304,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-128,-64],"id":"48e94fbe-68b7-474f-9fb0-f7c0ca7c1f60","name":"Sticky Note36"},{"parameters":{"workflowId":{"__rl":true,"value":"9eECybbs7EvlGEra","mode":"list","cachedResultUrl":"/workflow/9eECybbs7EvlGEra","cachedResultName":"Processa_Empresa copy"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"body","displayName":"body","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2368,208],"id":"b8335848-4223-481b-b1d6-d8977b8ae972","name":"Call 'Processa_Empresa copy'"}],"connections":{"Structured Output Parser":{"ai_outputParser":[[{"node":"find_company_website","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"find_company_website","type":"ai_languageModel","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"find_client_page","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"find_client_page","type":"ai_languageModel","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"resumo_atuacao","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"resumo_atuacao","type":"ai_languageModel","index":0}]]},"Structured Output Parser5":{"ai_outputParser":[[{"node":"busca_clientes","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"busca_clientes","type":"ai_languageModel","index":0}]]},"busca_google":{"main":[[{"node":"find_company_website","type":"main","index":0}]]},"find_company_website":{"main":[[{"node":"encontrou_site?","type":"main","index":0}]]},"merge_clienteNmain":{"main":[[{"node":"textos_site","type":"main","index":0}]]},"resumo_atuacao":{"main":[[{"node":"busca_clientes","type":"main","index":0}]]},"busca_clientes":{"main":[[{"node":"identifica_industria","type":"main","index":0}]]},"find_client_page":{"main":[[{"node":"get_cliente","type":"main","index":0},{"node":"get_portifolio","type":"main","index":0},{"node":"get_home","type":"main","index":0}]]},"Structured Output Parser6":{"ai_outputParser":[[{"node":"identifica_industria","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"identifica_industria","type":"ai_languageModel","index":0}]]},"identifica_industria":{"main":[[{"node":"update_empresa","type":"main","index":0}]]},"textos_site":{"main":[[{"node":"resumo_atuacao","type":"main","index":0}]]},"get_cliente":{"main":[[{"node":"limpa_cliente","type":"main","index":0}]]},"get_portifolio":{"main":[[{"node":"limpa_portifolio","type":"main","index":0}]]},"get_home":{"main":[[{"node":"limpa_home","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Serper_search","type":"main","index":0}]]},"Serper_search":{"main":[[{"node":"busca_google","type":"main","index":0}]]},"encontrou_site?":{"main":[[{"node":"site_nãoEncontrado","type":"main","index":0}],[{"node":"acessa_site_oficial","type":"main","index":0}]]},"acessa_site_oficial":{"main":[[{"node":"extrai_info_site","type":"main","index":0}]]},"extrai_info_site":{"main":[[{"node":"find_client_page","type":"main","index":0}]]},"limpa_cliente":{"main":[[{"node":"merge_clienteNmain","type":"main","index":0}]]},"limpa_portifolio":{"main":[[{"node":"merge_clienteNmain","type":"main","index":1}]]},"limpa_home":{"main":[[{"node":"merge_clienteNmain","type":"main","index":2}]]},"update_empresa":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-kpc3-buscafornecedor.up.railway.app","user-agent":"axios/1.12.0","content-length":"1378","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"162.220.234.72","x-forwarded-host":"primary-kpc3-buscafornecedor.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-east4-eqdc4a","x-railway-request-id":"roG37mfNQZSWpzokezItjw","x-real-ip":"162.220.234.72","x-request-start":"1765553268536"},"params":{},"query":{},"body":{"data":{"cnpj":null,"razao_social":"DELTA AGRO INSUMOS AGRICOLAS LTDA","nome_fantasia":"DELTA AGRO INSUMOS AGRICOLAS","matriz_filial":"1","situacao_cadastral":"02","data_inicio_atividades":"20190509","natureza_juridica":"2062","porte_empresa":"05","cnae_fiscal_principal_codigo":"4683400","cnae_fiscal_principal_nome":"Comércio atacadista de defensivos agrícolas, adubos, fertilizantes e corretivos do solo","uf":"MG","nome_municipio":"BURITIS","site":null,"todos_codigos_cnae":"4611700, 4622200, 4623103, 4623106, 4623108, 4623199, 4683400","todos_nomes_cnae":"4611700 - Representantes comerciais e agentes do comércio de matérias-primas agrícolas e animais vivos; 4622200 - Comércio atacadista de soja; 4623103 - Comércio atacadista de algodão; 4623106 - Comércio atacadista de sementes, flores, plantas e gramas; 4623108 - Comércio atacadista de matérias-primas agrícolas com atividade de fracionamento e acondicionamento associada; 4623199 - Comércio atacadista de matérias-primas agrícolas não especificadas anteriormente; 4683400 - Comércio atacadista de defensivos agrícolas, adubos, fertilizantes e corretivos do solo","cnpj_basico":"33580007","cnpj_ordem":"0001","cnpj_dv":"89","cnae_fiscal_secundaria_str":"4611700,4622200,4623103,4623106,4623108,4623199","clientes":null,"correio_eletronico":"WZORZI@TERRA.COM.BR","capital_social_str":"639831,00"}},"webhookUrl":"https://primary-kpc3-buscafornecedor.up.railway.app/webhook/enriquece-processa-teste","executionMode":"production"}}]},"versionId":"35e7f6e2-8ee1-4436-bb80-8ea3a54bb514","activeVersionId":"35e7f6e2-8ee1-4436-bb80-8ea3a54bb514","triggerCount":1,"shared":[{"updatedAt":"2025-12-05T13:46:51.738Z","createdAt":"2025-12-05T13:46:51.738Z","role":"workflow:owner","workflowId":"nTO8kMzlsNdLgbBw","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2025-12-12T16:42:54.078Z","createdAt":"2025-12-12T16:42:54.078Z","versionId":"35e7f6e2-8ee1-4436-bb80-8ea3a54bb514","workflowId":"nTO8kMzlsNdLgbBw","nodes":[{"parameters":{"jsonSchemaExample":"{\n\t\"site\": \"string\",\n\t\"justificativa\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1504,432],"id":"00dfccd6-37f8-4c76-9f06-5465a83ed018","name":"Structured Output Parser"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1728,432],"id":"b0b7e369-f485-4762-ba1a-e3d97120ff63","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"link_clientes\": \"nao_encontrado\",\n  \"justificativa_clientes\": \"Não foi possível analisar links pois a lista de Links_scrape_origem está vazia.\",\n  \"link_portfolio\": \"nao_encontrado\",\n  \"justificativa_portfolio\": \"Não foi possível analisar links pois a lista de Links_scrape_origem está vazia.\",\n  \"link_home\": \"nao_encontrado\",\n  \"justificativa_home\": \"Não foi possível analisar links pois a lista de Links_scrape_origem está vazia.\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-496,432],"id":"6e811ff6-a3ad-46fb-89bb-77a534e306a9","name":"Structured Output Parser4"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-784,432],"id":"e5f5a2cd-adf6-4a4b-af4a-4aae1d70a3bb","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"resumo_empresa\": \"DESCRIÇÃO RESUMIDA AQUI\",\n  \"tipo_fornecedor\":\"material ou servico\",\n  \"especialidades\":\"detalhar especialidade do fornecedor\",\n  \"exemplos_servico\":\"detalhar exemplo de servicos prestados\",\n  \"categorias_materiais\":\"quais categorias de materiais são fornecidos pelo fornecedor\",\n  \"telefone\":\"12313123123\",\n  \"instagram\":\"@instagram\",\n  \"email\":\"empresa@empresa.com\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[784,384],"id":"3f72e524-86e4-40ef-b6e1-c0b0ae6411c6","name":"Structured Output Parser3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[528,384],"id":"c6603510-e010-4de4-b41d-707eff9707f4","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"clientes\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1280,384],"id":"76260c23-b305-4b6c-b3ea-fba6a4406173","name":"Structured Output Parser5"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1024,384],"id":"1f07efaa-6ba0-4729-bc04-23c5092b9943","name":"Google Gemini Chat Model4","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2eb1014d-2a4f-4fb0-8882-2dd3fb33ac1a","name":"data","value":"={{ $json.organic }}","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1936,240],"id":"8a123c1a-2b0b-4b5e-9e62-868622896503","name":"busca_google"},{"parameters":{"promptType":"define","text":"=Razao Social: {{ $('Webhook').item.json.body.data.razao_social }}\nNome Fantasia: {{ $('Webhook').item.json.body.data.nome_fantasia }}\nEmail: {{ $('Webhook').item.json.body.data.correio_eletronico }}\nNome Municipio:{{ $('Webhook').item.json.body.data.nome_municipio }}\nCNAES:{{ $('Webhook').item.json.body.data.todos_codigos_cnae }}\nBusca Internet: {{ $json.data }}","hasOutputParser":true,"options":{"systemMessage":"=# Prompt: Agente Especialista em Localizar Sites Oficiais de Empresas\n\n## Objetivo\nVocê é um agente especializado em localizar **o site oficial de uma empresa brasileira**, com base em dados cadastrais e resultados de busca. Seu papel é garantir que o site identificado seja **efetivamente controlado pela empresa**, mesmo que o nome da empresa apareça com pequenas variações.\n\n## Informações de entrada\nVocê receberá:\n\n- Nome Fantasia  \n- Razão Social  \n- CNPJ (quando disponível)  \n- Segmento de atuação  \n- CNAE  \n- Cidade  \n- Estado  \n- CEP  \n\n## Estratégia de Busca e Verificação\n\n1. **Busque domínios corporativos próprios**, incluindo sufixos como:  \n   `.com.br`, `.com`, `.net.br`, `.eng.br`, `.ind.br`, `.wixsite.com` (com validação reforçada).\n\n2. **Aceite variações no nome da empresa no domínio**, desde que:\n   - O nome esteja parcialmente presente no domínio (ex: `rubiengenharia.com.br` para \"Rubi Engenharia\").\n   - O conteúdo do site comprove a identidade por outros meios (ver abaixo).\n\n3. **Valide a identidade com base em ao menos duas das evidências abaixo**:\n   - Nome da empresa (ou variação) na seção \"Sobre\", \"Contato\" ou rodapé do site;\n   - Endereço compatível com a cidade ou estado fornecidos;\n   - E-mail corporativo no domínio (ex: contato@empresa.com.br);\n   - Presença de CNPJ ou razão social completa no site;\n   - Perfis oficiais da empresa (Instagram, LinkedIn, etc.) apontando diretamente para o domínio;\n   - Serviços, clientes ou projetos listados que confirmam o segmento informado.\n\n4. **Sites em plataformas como Wix ou WordPress** são aceitáveis **se o conteúdo comprovar a identidade institucional** com base nas evidências acima.\n\n5. Se houver **múltiplos sites candidatos**, selecione o que possuir mais evidências cruzadas de vínculo com a empresa.\n\n## Exclusões Obrigatórias\n\nRejeite os seguintes tipos de páginas, mesmo se mencionarem a empresa:\n\n- Diretórios empresariais (ex: CNPJ.biz, Econodata, TeleListas, Apontador)\n- Sites de marketplaces (ex: OLX, Mercado Livre, Shopee)\n- Sites de releases, notícias ou matérias jornalísticas\n- Blogs ou páginas pessoais que apenas mencionem a empresa\n- Páginas com nomes semelhantes, mas sem qualquer evidência de vínculo com os dados fornecidos\n\n## Exemplos para calibração\n\n**Aceite:**\n- `https://www.brzfire.com.br` → domínio combina com nome fantasia, e-mail institucional aparece no rodapé.\n- `http://www.rubiengenharia.com.br` → nome parcialmente compatível, site descreve serviços de engenharia e localização compatível.\n- `https://ethicusscs.wixsite.com/refrigeracao` → site Wix, mas com nome da empresa, segmento e contato institucional válidos.\n\n**Rejeite:**\n- `https://cnpj.biz/empresa-nome` → diretório empresarial sem vínculo institucional.\n- `https://shopee.com/empresa-xyz` → perfil em marketplace, não institucional.\n\n## Formato de Resposta\n\nSe o site for considerado oficial:\n```json\n{\n  \"site\": \"https://www.nomedasuaempresa.com.br\",\n  \"justificativa\": \"O domínio contém o nome fantasia e o site descreve os serviços, endereço e e-mail institucional compatíveis com os dados fornecidos.\"\n}\n```\n\nSe nenhum site for confiável:\n```json\n{\n  \"site\": \"nao_encontrado\",\n  \"justificativa\": \"Nenhum dos sites encontrados possui evidência suficiente de pertencimento à empresa. Todos são diretórios, domínios genéricos ou menções indiretas.\"\n}\n```"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-1696,240],"id":"a4edb007-3457-48f4-9d2c-3fa93f554ba0","name":"find_company_website","retryOnFail":false,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[208,192],"id":"bca0e5a6-2401-4af6-9596-20b3958e305a","name":"merge_clienteNmain"},{"parameters":{"promptType":"define","text":"=Texto Page Home: {{ $json.texto_page_home }}\n\nTexto Page Cliente: {{ $json.texto_page_cliente }}\n\nOutras informações do site: {{ $('extrai_info_site').item.json.links }}","hasOutputParser":true,"options":{"systemMessage":"=# Prompt: Agente Gerador de Resumo de Atuação da Empresa\n\nVocê é um agente especializado em gerar resumos objetivos sobre empresas com base no conteúdo de seus sites institucionais.\n\n## Objetivo\n\nSua tarefa é analisar o conteúdo textual do site de uma empresa fornecedora e:\n1. Gerar um resumo com **até 200 caracteres**, explicando **o que a empresa faz**, com ênfase em seus **serviços ou produtos principais**.\n2. Entender se é um fornecedor majoritariamente de serviço ou produto.\n3. Resumir as especialidades do fornecedor.\n4. Quais categorias de materiais ele fornece.\n5. Exemplos de serviço prestado\n6. Pegar telefone do site.\n7. Pegar instagram do site.\n8. Pegar e-mail do site.\n\n## Entrada\n\nAnalise exclusivamente o conteúdo presente no campo `fullCleanedString`.\n\n## Instruções\n\n1. Leia o texto e identifique os principais **produtos**, **serviços**, **tecnologias** ou **segmentos atendidos**.\n2. Foque em responder à pergunta: **“O que esta empresa oferece?”**\n3. Seja direto, objetivo e use linguagem clara e comercial.\n4. Evite termos vagos como “soluções inovadoras” sem explicar o que é oferecido.\n\n\n### Exemplos de resumo aceitável\n\n- `\"Fabricação de estruturas metálicas para galpões industriais e coberturas comerciais.\"`\n- `\"Especializada em engenharia elétrica e montagem de painéis para indústrias.\"`\n- `\"Distribuidora de equipamentos hidráulicos e válvulas industriais em todo o Brasil.\"`\n\n## Saída\n\nRetorne o resultado no seguinte formato JSON:\n\n```json\n{\n  \"resumo_empresa\": \"DESCRIÇÃO RESUMIDA AQUI\",\n  \"tipo_fornecedor\":\"material ou servico\",\n  \"especialidades\":\"detalhar especialidade do fornecedor\",\n  \"exemplos_servico\":\"detalhar exemplo de servicos prestados\",\n  \"categorias_materiais\":\"quais categorias de materiais são fornecidos pelo fornecedor\",\n  \"telefone\":\"12313123123\",\n  \"instagram\":\"@instagram\",\n  \"email\":\"empresa@empresa.com\"\n}\n```\n\nSe não for possível identificar algum dos campos, retorne: nao_encontrado\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[576,208],"id":"5ee2c6ca-6d7d-43ab-bc58-a4bd586aa98d","name":"resumo_atuacao","retryOnFail":true,"maxTries":3,"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=Texto Page Home: {{ $('textos_site').item.json.texto_page_home }}\n\nTexto Page Cliente: {{ $('textos_site').item.json.texto_page_cliente }}","hasOutputParser":true,"options":{"systemMessage":"=Situation (Situação)\nVocê é um agente especializado em analisar o conteúdo textual de sites de fornecedores para identificar nomes de clientes empresariais ou institucionais.\nO objetivo é encontrar empresas ou instituições que tenham recebido serviços, produtos ou atendimentos do fornecedor analisado — e não organizações citadas como parceiras, patrocinadoras, colaboradoras ou apoiadoras.\n\nA análise deve ser feita exclusivamente com base no conteúdo fornecido em fullCleanedString.\n\nTask (Tarefa)\nSua tarefa é:\n\nIdentificar trechos de texto que indiquem prestação de serviços, fornecimento, execução de projetos ou atendimento a clientes.\n\nExtrair nomes de empresas ou instituições que sejam claramente clientes.\n\nEliminar qualquer menção a parcerias, patrocínios, apoios, colaborações, fornecedores ou representantes.\n\nRetornar o resultado em formato JSON, com todos os nomes de clientes válidos.\n\nAction (Ação)\n\nAnálise de contexto\nBusque por blocos de texto que indiquem prestação de serviço, usando expressões como:\n\n\"Clientes\", \"Clientes Atendidos\", \"Nossos Clientes\"\n\n\"Obras realizadas\", \"Projetos entregues\", \"Cases de sucesso\"\n\n\"Portfólio\", \"Quem confia\", \"Empresas atendidas\", \"Trabalhos realizados\", \"Marcas atendidas\"\n\nExtração de clientes\n\nIdentifique nomes de empresas ou instituições que aparecem como beneficiárias diretas dos serviços ou produtos.\n\nEles podem estar em listas, títulos, descrições de projetos ou seções visuais.\n\nQuando houver localizações geográficas, remova-as.\n\nExemplo: \"Grupo DBK - São José do Rio Preto - SP\" → \"Grupo DBK\"\n\nRemova formatações (negrito, colchetes, links, etc.).\n\nFiltragem e limpeza dos resultados\n\nIgnorar menções relacionadas a:\n\nParcerias: “parceiros”, “parceiro comercial”, “colaboração”, “co-branding”.\n\nPatrocínios: “patrocinadores”, “apoiadores”, “iniciativas conjuntas”, “apoio institucional”.\n\nDistribuidores/representantes: “representantes autorizados”, “revendas”, “fornecedores”.\n\nIgnorar também:\n\nTermos técnicos ou genéricos (ex: “Tubulação industrial”, “Serviço de pintura”).\n\nCidades ou regiões isoladas.\n\nFrases genéricas (“clientes satisfeitos”, “diversas empresas”).\n\nRepetições, nomes incompletos ou vagos (“Empresa de Logística”).\n\nFormatação final\n\nOrganize os nomes únicos em uma única string, separados por vírgulas.\n\nNão adivinhe nem complete nomes parcialmente.\n\nRetorne apenas empresas com indícios claros de relação cliente → fornecedor.\n\nResult (Resultado)\n\nSe um ou mais nomes válidos forem identificados:\n\n{\n  \"clientes\": \"Grupo DBK, Quinelato, Plakton Cosméticos\"\n}\n\n\nSe nenhum cliente válido for identificado:\n\n{\n  \"clientes\": \"nao_encontrado\"\n}\n\n\nRegras finais:\n\nA saída deve conter apenas o campo \"clientes\" com uma string separada por vírgulas.\n\nNunca inferir, completar ou supor nomes.\n\nEliminar duplicações, formatações e dados irrelevantes.\n\nJamais considerar parceiros, patrocinadores, apoiadores, fornecedores ou distribuidores como clientes."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1072,208],"id":"8059d934-f3df-495f-8202-1bec2ddfa7b4","name":"busca_clientes","retryOnFail":true,"maxTries":3,"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=Link_origem:{{ $('find_company_website').item.json.output.site }}\n\nLinks_scrape_origem:{{ $json.links }}","hasOutputParser":true,"options":{"systemMessage":"=Situation (Situação)\nVocê é um agente especialista em análise semântica de URLs de sites empresariais. Seu objetivo é identificar os links mais relevantes que apontam para a página de clientes, o portfólio de produtos/serviços e a home page. Você compreende sinônimos e contextos comuns em diferentes setores de negócio.\n\nVocê recebe como entrada:\n\nLink_origem: O link principal do site analisado.\nLinks_scrape_origem: Uma lista de todos os links extraídos do site de origem.\n\nTask (Tarefa)\nSua tarefa é analisar a lista Links_scrape_origem para identificar e retornar os três links mais prováveis para as seguintes categorias:\n\nLink de Clientes: Uma página que lista ou descreve os clientes da empresa.\n\nLink de Portfólio/Produtos: Uma página que mostra os produtos, serviços, soluções ou cases de sucesso da empresa.\n\nLink da Home Page: O link principal ou de entrada do site.\n\nAction (Ação)\nSiga rigorosamente estas etapas:\n\nPré-processamento:\nSe Links_scrape_origem estiver vazio, retorne o JSON de falha apropriado.\nReconstrua todos os links relativos (ex: /produtos) e âncoras (ex: #cases) para URLs absolutas usando o Link_origem.\nNormalize os links (remova barras no final, converta para minúsculas) e remova todas as duplicatas.\nDescarte links externos (que não pertencem ao domínio do Link_origem).\n\nAnálise e Pontuação (Scoring):\nPara cada link na lista pré-processada, calcule uma pontuação para \"Clientes\" e \"Portfólio\" com base nos termos encontrados no URL. A pontuação é cumulativa.\n\nTermos para Portfólio/Produtos:\n+10 pontos: portfolio, portfólio, cases, produtos, servicos, solucoes (e variações no plural).\n+7 pontos: o-que-fazemos, nossas-solucoes, projetos, realizacoes.\n\nTermos para Clientes:\n+10 pontos: clientes, nossos-clientes, quem-atendemos.\n+7 pontos: parceiros, cases-de-sucesso, quem-confia.\n\nTermos de Penalidade (aplicável a ambas as categorias):\n-5 pontos: blog, noticias, artigos, sobre, empresa.\n-10 pontos: contato, fale-conosco, trabalhe-conosco, author.\n\nDescarte total: Links com login, tel:, mailto:, ou que terminam em extensões de arquivo (.pdf, .jpg, .zip).\n\nSeleção Final:\nLink de Portfólio: Escolha o link com a maior pontuação para \"Portfólio/Produtos\".\nLink de Clientes: Escolha o link com a maior pontuação para \"Clientes\".\nLink da Home Page: Identifique a raiz exata do domínio (ex: https://www.exemplo.com.br/).\n\nRegra de Desempate: Se houver empate na pontuação, prefira o URL com o caminho mais curto (menor número de barras /).\n\nSe nenhum link obtiver pontuação positiva para uma categoria, considere-o \"nao_encontrado\".\n\nExamples (Exemplos)\n\nExemplo 1 (Input):\n\nLink_origem: https://plasmundimt.com.br/\n\nLinks_scrape_origem: ..., https://plasmundimt.com.br/categoria/produtos, ...\n\nExemplo 1 (Output Esperado):\n\nJSON\n\n{\n  \"link_clientes\": \"nao_encontrado\",\n  \"justificativa_clientes\": \"Nenhum link com termos relevantes para clientes obteve pontuação positiva.\",\n  \"link_portfolio\": \"https://plasmundimt.com.br/categoria/produtos\",\n  \"justificativa_portfolio\": \"Link com pontuação máxima (+10) devido ao termo 'produtos', indicando ser a página de portfólio de produtos.\",\n  \"link_home\": \"https://plasmundimt.com.br/\",\n  \"justificativa_home\": \"Raiz do domínio identificada como home page.\"\n}\nExemplo 2 (Input):\n\nLink_origem: https://techsolutions.com/\n\nLinks_scrape_origem: ..., https://techsolutions.com/nossas-solucoes, https://techsolutions.com/clientes-e-parceiros, ...\n\nExemplo 2 (Output Esperado):\n\nJSON\n\n{\n  \"link_clientes\": \"https://techsolutions.com/clientes-e-parceiros\",\n  \"justificativa_clientes\": \"Link com pontuação máxima (+10 para 'clientes', +7 para 'parceiros'), indicando ser a página dedicada a clientes.\",\n  \"link_portfolio\": \"https://techsolutions.com/nossas-solucoes\",\n  \"justificativa_portfolio\": \"Link com pontuação alta (+10) devido ao termo 'solucoes', indicando ser o portfólio de serviços/soluções.\",\n  \"link_home\": \"https://techsolutions.com/\",\n  \"justificativa_home\": \"Raiz do domínio identificada como home page.\"\n}\nResult (Resultado)\nRetorne um único objeto JSON com a estrutura especificada. Seja específico na justificativa, mencionando o termo-chave que levou à escolha e a pontuação ou razão principal.\n\nSe links válidos forem encontrados:\n\nJSON\n\n{\n  \"link_clientes\": \"URL_completo\",\n  \"justificativa_clientes\": \"Justificativa baseada no termo e pontuação.\",\n  \"link_portfolio\": \"URL_completo\",\n  \"justificativa_portfolio\": \"Justificativa baseada no termo e pontuação.\",\n  \"link_home\": \"URL_completo\",\n  \"justificativa_home\": \"Raiz do domínio identificada como home page.\"\n}\nSe não encontrar ou a lista estiver vazia:\n\nJSON\n\n{\n  \"link_clientes\": \"nao_encontrado\",\n  \"justificativa_clientes\": \"Motivo da não localização.\",\n  \"link_portfolio\": \"nao_encontrado\",\n  \"justificativa_portfolio\": \"Motivo da não localização.\",\n  \"link_home\": \"URL_completo_se_possivel\",\n  \"justificativa_home\": \"Motivo da não localização.\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-704,224],"id":"4d3bac0d-a2eb-4469-a069-65c9b3038bf5","name":"find_client_page","retryOnFail":true,"maxTries":2,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"jsonSchemaExample":"{\n  \"industrias\":\"Industria de Alimentos, Industria Papel e Celulose, ... \"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1728,384],"id":"0a891320-6791-4f63-ae66-37d5a6527305","name":"Structured Output Parser6"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1472,384],"id":"41e30dae-a8ed-47f9-9fe6-a64ce61492ac","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=Clientes:  {{ $json.output.clientes }}","hasOutputParser":true,"options":{"systemMessage":"=Papel: Você é um agente especialista em encontrar clientes que são industrias.\nObjetivo: Identificar segmentos industriais de uma lista de clientes.\nTarefa: Analise a lista de Clientes e identifique segmentos industriais que atuam.\nExemplos: \nNestle - Industria de Alimentos\nVotorantim Cimentos - Industria de Cimentos\nPeccin - Industria de Alimentos\nAmbev - Industria de Bebidas\nBracell - Industria Papel e Celulose\n\nFormato de Saída\nJSON\n{\n  \"industrias\":\"Industria de Alimentos, Industria Papel e Celulose, ... \"\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1520,208],"id":"4ff8c7ba-a29d-4570-8c8f-43f5e4ce49e5","name":"identifica_industria","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"0fdc91d3-9fcc-4761-a907-6d80b362a03c","name":"texto_page_cliente","value":"={{ $json.fullCleanedStringCliente }}","type":"string"},{"id":"37a2eff7-d35e-48be-ad84-28f68a21851b","name":"texto_page_potifolio","value":"={{ $json.fullCleanedStringPortifolio }}","type":"string"},{"id":"69c34852-62c4-4f4d-82a7-bc5d4dae0149","name":"texto_page_home","value":"={{ $json.fullCleanedStringHome }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[336,208],"id":"0add6d6f-b795-488f-83ee-4740889a838f","name":"textos_site"},{"parameters":{"content":"## Chama uma API externa:\n- Passa a razão social como parâmetro\n- Encontra possíveis sites para a empresa","height":304,"width":400,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2192,96],"id":"ab390be6-6005-49de-b469-febeb6acba97","name":"Sticky Note22"},{"parameters":{"url":"={{ $json.output.link_clientes }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"pt-BR,pt;q=0.9,en-US;q=0.8\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Referer\": \"https://www.google.com/\",\n  \"Sec-Fetch-Site\": \"none\",\n  \"Sec-Fetch-Mode\": \"navigate\",\n  \"Sec-Fetch-User\": \"?1\",\n  \"Sec-Fetch-Dest\": \"document\",\n  \"DNT\": \"1\"\n}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-272,0],"id":"643b8816-25f7-4454-a9a0-44e0135449a0","name":"get_cliente","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.output.link_portfolio }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"pt-BR,pt;q=0.9,en-US;q=0.8\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Referer\": \"https://www.google.com/\",\n  \"Sec-Fetch-Site\": \"none\",\n  \"Sec-Fetch-Mode\": \"navigate\",\n  \"Sec-Fetch-User\": \"?1\",\n  \"Sec-Fetch-Dest\": \"document\",\n  \"DNT\": \"1\"\n}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-272,208],"id":"5b6cf6d5-51c5-4e27-a0c8-dc9a6c178428","name":"get_portifolio","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.output.link_home}}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"pt-BR,pt;q=0.9,en-US;q=0.8\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Referer\": \"https://www.google.com/\",\n  \"Sec-Fetch-Site\": \"none\",\n  \"Sec-Fetch-Mode\": \"navigate\",\n  \"Sec-Fetch-User\": \"?1\",\n  \"Sec-Fetch-Dest\": \"document\",\n  \"DNT\": \"1\"\n}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-272,416],"id":"438fe7b5-26f4-4051-a726-872ea75f5830","name":"get_home","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"path":"enriquece-processa-teste","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2368,240],"id":"cec3c61b-4a32-48a2-8c5e-90e75120a072","name":"Webhook","webhookId":"9e03b64f-0ded-43ea-9925-125a3177710f"},{"parameters":{"method":"POST","url":"https://google.serper.dev/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"2b57e8bc097d1367753763457b13c8d774fd68e9"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"q","value":"={{ $json.body.data.razao_social }}"},{"name":"gl","value":"br"},{"name":"hl","value":"pt-br"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2128,240],"id":"2f085e1e-f5c4-4bd0-9107-3b15456f6c35","name":"Serper_search","retryOnFail":true},{"parameters":{"content":"## IA: Define qual o site oficial da empresa.\n\n- Recebe os sites encontrados na busca.\n- Recebe informações cadastrais da empresa buscada.\n- Define qual dentre os sites recebidos é o site oficial da empresa.\n- Caso não encontre o site o banco é atualizado.\n\n```json\n{\n  \"site\": \"https://www.nomedasuaempresa.com.br\",\n  \"justificativa\": \"O domínio contém o nome fantasia e o site descreve os serviços, endereço e e-mail institucional compatíveis com os dados fornecidos.\"\n}\n```","height":656,"width":496,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1776,-80],"id":"53c3d411-8e70-4bf0-9fa6-374db752a722","name":"Sticky Note24"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output.site }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"equals"},"id":"41e6c94e-ffa6-4367-a21d-007867c2b030"}],"combinator":"and"},"renameOutput":true,"outputKey":"site_nao_encontrado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f1b15d1-c2eb-4b5f-a921-63bae2dfa299","leftValue":"={{ $json.output.site }}","rightValue":"nao_encontrado","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"site_encontrado"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1456,240],"id":"09856f2e-5290-412a-8f12-43415443305e","name":"encontrou_site?"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"update","tableId":"estabelecimento","matchType":"allFilters","filters":{"conditions":[{"keyName":"cnpj_basico","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.data.cnpj_basico }}"},{"keyName":"cnpj_dv","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.data.cnpj_dv }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"site","fieldValue":"={{ $json.output.site }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1184,96],"id":"c9f5bac0-4258-44c8-98eb-e87eef84c79a","name":"site_nãoEncontrado","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"url":"={{ $json.output.site }}","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8\",\n  \"Accept-Language\": \"pt-BR,pt;q=0.9,en-US;q=0.8\",\n  \"Accept-Encoding\": \"gzip, deflate, br\",\n  \"Connection\": \"keep-alive\",\n  \"Upgrade-Insecure-Requests\": \"1\",\n  \"Referer\": \"https://www.google.com/\",\n  \"Sec-Fetch-Site\": \"none\",\n  \"Sec-Fetch-Mode\": \"navigate\",\n  \"Sec-Fetch-User\": \"?1\",\n  \"Sec-Fetch-Dest\": \"document\",\n  \"DNT\": \"1\"\n}","options":{"allowUnauthorizedCerts":true,"timeout":5000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1200,384],"id":"5666caea-7131-49b0-9002-9ff01bae114c","name":"acessa_site_oficial","retryOnFail":true,"maxTries":3,"alwaysOutputData":true,"waitBetweenTries":1500,"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"links","cssSelector":"a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-1008,384],"id":"e9e316e1-8968-4b81-b271-d2116b8c3dce","name":"extrai_info_site","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"content":"## Chama uma API externa:\n- Acessa o HTML do site da empresa.\n- Extrai Links da página","height":304,"width":416,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1264,256],"id":"20cc4f7a-3ddd-44f0-9a76-9695ddf3c9c3","name":"Sticky Note23"},{"parameters":{"content":"## Banco de dados:\n- Atualiza o site da empresa para \"nao_encontrado\"","height":240,"width":256,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1264,0],"id":"55c3b461-ad18-4abb-824a-c83717e00f2c","name":"Sticky Note21"},{"parameters":{"content":"## IA: Busca Páginas.\n- Realiza uma busca entre os links.\n\n- Encontra paginas de:\n-- cliente\n-- portifolio\n-- home\n\n```json\n{\n  \"link_clientes\": \"nao_encontrado\",\n  \"justificativa_clientes\": \"Nenhum link com termos relevantes para clientes obteve pontuação positiva.\",\n  \"link_portfolio\": \"https://plasmundimt.com.br/categoria/produtos\",\n  \"justificativa_portfolio\": \"Link com pontuação máxima (+10) devido ao termo 'produtos', indicando ser a página de portfólio de produtos.\",\n  \"link_home\": \"https://plasmundimt.com.br/\",\n  \"justificativa_home\": \"Raiz do domínio identificada como home page.\"\n}\n```","height":736,"width":480,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-832,-160],"id":"ddb9f764-8a2c-44d6-90bc-dfe1b92c4983","name":"Sticky Note25"},{"parameters":{"content":"## Chama uma API externa:\n- Acessa paginas de portifolio, cliente e home.\n- Extrai informações dos htmls dessas páginas","height":752,"width":784,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,-176],"id":"58e64ba0-0127-492a-8769-75af8fce9545","name":"Sticky Note26"},{"parameters":{"content":"## IA: Resume Atuação.\n- Acessa os dados de home e página de clientes.\n- baseado nessas informações define um resumo da atuação da empresa.\n\n```json\n{\n  \"resumo_empresa\": \"DESCRIÇÃO RESUMIDA AQUI\",\n  \"tipo_fornecedor\":\"material ou servico\",\n  \"especialidades\":\"detalhar especialidade do fornecedor\",\n  \"exemplos_servico\":\"detalhar exemplo de servicos prestados\",\n  \"categorias_materiais\":\"quais categorias de materiais são fornecidos pelo fornecedor\",\n  \"telefone\":\"12313123123\",\n  \"instagram\":\"@instagram\",\n  \"email\":\"empresa@empresa.com\"\n}\n```","height":688,"width":480,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[464,-160],"id":"e66c9c87-7bf1-4f0d-8a48-f172140c5185","name":"Sticky Note"},{"parameters":{"content":"## IA: Busca Clientes\n- Acessa os dados de home e página de clientes.\n- baseado nessas informações procura possíveis cientes relevantes da empresa.\n\n```json\n{\n  \"clientes\": \"Grupo DBK, Quinelato, Plakton Cosméticos\"\n}\n```","height":576,"width":448,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,-48],"id":"2b004975-c11f-4343-8dbf-afed99ab992b","name":"Sticky Note1"},{"parameters":{"content":"## IA: Identifica Industria\n- Acessa os dados da página de clientes.\n- baseado nessas informações define o segmento industrial da empresa.\n\n```json\n{\n  \"industrias\":\"Industria de Alimentos, Industria Papel e Celulose, ... \"\n}\n```","height":576,"width":448,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1424,-48],"id":"a4b0f10a-a2b9-4587-bb72-3e99c650ce54","name":"Sticky Note2"},{"parameters":{"content":"## Banco de dados:\n- Atualiza o banco da empresa com as informações coletadas.","height":272,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1888,96],"id":"02bf9f6f-e511-4bb3-a6bd-fd927fcad2d6","name":"Sticky Note27"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"update","tableId":"estabelecimento","matchType":"allFilters","filters":{"conditions":[{"keyName":"cnpj_basico","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.data.cnpj_basico }}"},{"keyName":"cnpj_dv","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.data.cnpj_dv }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"clientes","fieldValue":"={{ $('busca_clientes').item.json.output.clientes }}"},{"fieldId":"site","fieldValue":"={{ $('find_company_website').item.json.output.site }}"},{"fieldId":"resumo_empresa","fieldValue":"={{ $('resumo_atuacao').item.json.output.resumo_empresa }}"},{"fieldId":"segmentos_industriais","fieldValue":"={{ $json.output.industrias }}"},{"fieldId":"tipo_fornecedor","fieldValue":"={{ $('resumo_atuacao').item.json.output.tipo_fornecedor }}"},{"fieldId":"especialidades","fieldValue":"={{ $('resumo_atuacao').item.json.output.especialidades }}"},{"fieldId":"exemplo_servico","fieldValue":"={{ $('resumo_atuacao').item.json.output.exemplos_servico }}"},{"fieldId":"categorias_materais","fieldValue":"={{ $('resumo_atuacao').item.json.output.categorias_materiais }}"},{"fieldId":"telefone","fieldValue":"={{ $('resumo_atuacao').item.json.output.telefone }}"},{"fieldId":"instagram","fieldValue":"={{ $('resumo_atuacao').item.json.output.instagram }}"},{"fieldId":"email","fieldValue":"={{ $('resumo_atuacao').item.json.output.email }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1952,208],"id":"733a51d3-e79b-4fb3-af06-a8a3757d28c3","name":"update_empresa","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const data = item.json.data;\n\n  // Garante que o conteúdo seja string\n  const rawHtml = String(data || '');\n\n  // 1. Extrai conteúdo do <body> se existir\n  const bodyMatch = rawHtml.match(/<body\\b[^>]*>([\\s\\S]*?)<\\/body>/i);\n  const coreHtml = bodyMatch ? bodyMatch[1] : rawHtml; // Usar bodyMatch[1] para obter apenas o conteúdo dentro da tag <body>\n\n  // 2. Remove blocos desnecessários\n  const cleaned = coreHtml\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<(header|nav|footer|aside|noscript|svg|form|iframe|object|canvas|template)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '')\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<meta[^>]*>/gi, '')\n    .replace(/<link[^>]*>/gi, '');\n\n  // 3. Extrai links de imagens e descrições\n  const imageMatches = [...cleaned.matchAll(/<img[^>]*src=[\"']([^\"']+)[\"'](?:[^>]*alt=[\"']([^\"']*)[\"'])?(?:[^>]*title=[\"']([^\"']*)[\"'])?[^>]*>/gi)];\n  const images = imageMatches.map(match => {\n    return {\n      src: match[1],\n      alt: match[2] || null,\n      title: match[3] || null\n    };\n  });\n\n  // 4. Extrai links (href + texto)\n  const linkMatches = [...cleaned.matchAll(/<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi)];\n  const links = linkMatches.map(match => ({\n    href: match[1],\n    text: match[2].replace(/<[^>]+>/g, '').trim()\n  }));\n\n  // 5. Extrai texto visível do conteúdo limpo\n  const textClean = cleaned\n    .replace(/<[^>]+>/g, '')            // remove qualquer tag HTML restante\n    .replace(/\\r\\n?/g, '\\n')            // normaliza quebras de linha\n    .replace(/[ \\t]+\\n/g, '\\n')         // remove espaços antes de \\n\n    .replace(/\\s{2,}/g, ' ')            // reduz espaços múltiplos\n    .replace(/\\n{2,}/g, '\\n')           // reduz linhas vazias\n    .trim();\n\n  // 6. Concatena tudo em uma única string\n  const fullCleanedStringCliente = [\n    textClean,\n    '\\n\\n[IMAGENS]',\n    ...images.map(img => `Imagem: ${img.src}\\nAlt: ${img.alt || '—'}\\nTitle: ${img.title || '—'}`),\n    '\\n\\n[LINKS]',\n    ...links.map(link => `Texto: ${link.text}\\nURL: ${link.href}`)\n  ].join('\\n');\n\n  // 7. Retorna\n  return {\n    json: {\n      ...item.json,\n      textClean,\n      images,\n      links,\n      fullCleanedStringCliente\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,0],"id":"993480a1-6545-456e-ba80-74130bfe3419","name":"limpa_cliente"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const data = item.json.data;\n\n  // Garante que o conteúdo seja string\n  const rawHtml = String(data || '');\n\n  // 1. Extrai conteúdo do <body> se existir\n  const bodyMatch = rawHtml.match(/<body\\b[^>]*>([\\s\\S]*?)<\\/body>/i);\n  const coreHtml = bodyMatch ? bodyMatch[1] : rawHtml; // Usar bodyMatch[1] para obter apenas o conteúdo dentro da tag <body>\n\n  // 2. Remove blocos desnecessários\n  const cleaned = coreHtml\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<(header|nav|footer|aside|noscript|svg|form|iframe|object|canvas|template)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '')\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<meta[^>]*>/gi, '')\n    .replace(/<link[^>]*>/gi, '');\n\n  // 3. Extrai links de imagens e descrições\n  const imageMatches = [...cleaned.matchAll(/<img[^>]*src=[\"']([^\"']+)[\"'](?:[^>]*alt=[\"']([^\"']*)[\"'])?(?:[^>]*title=[\"']([^\"']*)[\"'])?[^>]*>/gi)];\n  const images = imageMatches.map(match => {\n    return {\n      src: match[1],\n      alt: match[2] || null,\n      title: match[3] || null\n    };\n  });\n\n  // 4. Extrai links (href + texto)\n  const linkMatches = [...cleaned.matchAll(/<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi)];\n  const links = linkMatches.map(match => ({\n    href: match[1],\n    text: match[2].replace(/<[^>]+>/g, '').trim()\n  }));\n\n  // 5. Extrai texto visível do conteúdo limpo\n  const textClean = cleaned\n    .replace(/<[^>]+>/g, '')            // remove qualquer tag HTML restante\n    .replace(/\\r\\n?/g, '\\n')            // normaliza quebras de linha\n    .replace(/[ \\t]+\\n/g, '\\n')         // remove espaços antes de \\n\n    .replace(/\\s{2,}/g, ' ')            // reduz espaços múltiplos\n    .replace(/\\n{2,}/g, '\\n')           // reduz linhas vazias\n    .trim();\n\n  // 6. Concatena tudo em uma única string\n  const fullCleanedStringPortifolio = [\n    textClean,\n    '\\n\\n[IMAGENS]',\n    ...images.map(img => `Imagem: ${img.src}\\nAlt: ${img.alt || '—'}\\nTitle: ${img.title || '—'}`),\n    '\\n\\n[LINKS]',\n    ...links.map(link => `Texto: ${link.text}\\nURL: ${link.href}`)\n  ].join('\\n');\n\n  // 7. Retorna\n  return {\n    json: {\n      ...item.json,\n      textClean,\n      images,\n      links,\n      fullCleanedStringPortifolio\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,208],"id":"a5bc9553-12ed-439e-9e17-0389149c0b39","name":"limpa_portifolio"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const data = item.json.data;\n\n  // Garante que o conteúdo seja string\n  const rawHtml = String(data || '');\n\n  // 1. Extrai conteúdo do <body> se existir\n  const bodyMatch = rawHtml.match(/<body\\b[^>]*>([\\s\\S]*?)<\\/body>/i);\n  const coreHtml = bodyMatch ? bodyMatch[1] : rawHtml; // Usar bodyMatch[1] para obter apenas o conteúdo dentro da tag <body>\n\n  // 2. Remove blocos desnecessários\n  const cleaned = coreHtml\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<(header|nav|footer|aside|noscript|svg|form|iframe|object|canvas|template)[^>]*>[\\s\\S]*?<\\/\\1>/gi, '')\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<meta[^>]*>/gi, '')\n    .replace(/<link[^>]*>/gi, '');\n\n  // 3. Extrai links de imagens e descrições\n  const imageMatches = [...cleaned.matchAll(/<img[^>]*src=[\"']([^\"']+)[\"'](?:[^>]*alt=[\"']([^\"']*)[\"'])?(?:[^>]*title=[\"']([^\"']*)[\"'])?[^>]*>/gi)];\n  const images = imageMatches.map(match => {\n    return {\n      src: match[1],\n      alt: match[2] || null,\n      title: match[3] || null\n    };\n  });\n\n  // 4. Extrai links (href + texto)\n  const linkMatches = [...cleaned.matchAll(/<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi)];\n  const links = linkMatches.map(match => ({\n    href: match[1],\n    text: match[2].replace(/<[^>]+>/g, '').trim()\n  }));\n\n  // 5. Extrai texto visível do conteúdo limpo\n  const textClean = cleaned\n    .replace(/<[^>]+>/g, '')            // remove qualquer tag HTML restante\n    .replace(/\\r\\n?/g, '\\n')            // normaliza quebras de linha\n    .replace(/[ \\t]+\\n/g, '\\n')         // remove espaços antes de \\n\n    .replace(/\\s{2,}/g, ' ')            // reduz espaços múltiplos\n    .replace(/\\n{2,}/g, '\\n')           // reduz linhas vazias\n    .trim();\n\n  // 6. Concatena tudo em uma única string\n  const fullCleanedStringHome = [\n    textClean,\n    '\\n\\n[IMAGENS]',\n    ...images.map(img => `Imagem: ${img.src}\\nAlt: ${img.alt || '—'}\\nTitle: ${img.title || '—'}`),\n    '\\n\\n[LINKS]',\n    ...links.map(link => `Texto: ${link.text}\\nURL: ${link.href}`)\n  ].join('\\n');\n\n  // 7. Retorna\n  return {\n    json: {\n      ...item.json,\n      textClean,\n      images,\n      links,\n      fullCleanedStringHome\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,416],"id":"db7e1b35-d49d-4316-a862-ab73826851a2","name":"limpa_home"},{"parameters":{"content":"## Limpa o HTML extraído.","height":624,"width":304,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-128,-64],"id":"48e94fbe-68b7-474f-9fb0-f7c0ca7c1f60","name":"Sticky Note36"},{"parameters":{"workflowId":{"__rl":true,"value":"9eECybbs7EvlGEra","mode":"list","cachedResultUrl":"/workflow/9eECybbs7EvlGEra","cachedResultName":"Processa_Empresa copy"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"body","displayName":"body","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2368,208],"id":"b8335848-4223-481b-b1d6-d8977b8ae972","name":"Call 'Processa_Empresa copy'"}],"connections":{"Structured Output Parser":{"ai_outputParser":[[{"node":"find_company_website","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"find_company_website","type":"ai_languageModel","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"find_client_page","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"find_client_page","type":"ai_languageModel","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"resumo_atuacao","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"resumo_atuacao","type":"ai_languageModel","index":0}]]},"Structured Output Parser5":{"ai_outputParser":[[{"node":"busca_clientes","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"busca_clientes","type":"ai_languageModel","index":0}]]},"busca_google":{"main":[[{"node":"find_company_website","type":"main","index":0}]]},"find_company_website":{"main":[[{"node":"encontrou_site?","type":"main","index":0}]]},"merge_clienteNmain":{"main":[[{"node":"textos_site","type":"main","index":0}]]},"resumo_atuacao":{"main":[[{"node":"busca_clientes","type":"main","index":0}]]},"busca_clientes":{"main":[[{"node":"identifica_industria","type":"main","index":0}]]},"find_client_page":{"main":[[{"node":"get_cliente","type":"main","index":0},{"node":"get_portifolio","type":"main","index":0},{"node":"get_home","type":"main","index":0}]]},"Structured Output Parser6":{"ai_outputParser":[[{"node":"identifica_industria","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"identifica_industria","type":"ai_languageModel","index":0}]]},"identifica_industria":{"main":[[{"node":"update_empresa","type":"main","index":0}]]},"textos_site":{"main":[[{"node":"resumo_atuacao","type":"main","index":0}]]},"get_cliente":{"main":[[{"node":"limpa_cliente","type":"main","index":0}]]},"get_portifolio":{"main":[[{"node":"limpa_portifolio","type":"main","index":0}]]},"get_home":{"main":[[{"node":"limpa_home","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Serper_search","type":"main","index":0}]]},"Serper_search":{"main":[[{"node":"busca_google","type":"main","index":0}]]},"encontrou_site?":{"main":[[{"node":"site_nãoEncontrado","type":"main","index":0}],[{"node":"acessa_site_oficial","type":"main","index":0}]]},"acessa_site_oficial":{"main":[[{"node":"extrai_info_site","type":"main","index":0}]]},"extrai_info_site":{"main":[[{"node":"find_client_page","type":"main","index":0}]]},"limpa_cliente":{"main":[[{"node":"merge_clienteNmain","type":"main","index":0}]]},"limpa_portifolio":{"main":[[{"node":"merge_clienteNmain","type":"main","index":1}]]},"limpa_home":{"main":[[{"node":"merge_clienteNmain","type":"main","index":2}]]},"update_empresa":{"main":[[]]}},"authors":"ABC  advise","name":null,"description":null,"autosaved":false},"tags":[]}