fluxo_mensagens-XDkhdQZQL1ovkK9d.json
{"updatedAt":"2026-06-16T19:03:27.773Z","createdAt":"2026-06-16T16:29:53.918Z","id":"XDkhdQZQL1ovkK9d","name":"Fluxo_Mensagens","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"b3a69942-71cd-4b8f-ae61-58c19be9b8f6","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-640,-16],"id":"3676e52c-39ef-4d3a-bb99-4b4eadfc1d36","name":"Busca Fornecedor","webhookId":"b3a69942-71cd-4b8f-ae61-58c19be9b8f6"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,-16],"id":"d254d905-badd-4ffd-8c43-93c1b3f26b20","name":"Gera Aparições"},{"parameters":{"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[32,-16],"id":"b2ca2419-6307-4b1c-8023-69443776c110","name":"Send a message","webhookId":"d89697d2-7e52-415b-b122-9b1376b5369c","credentials":{"gmailOAuth2":{"id":"JKcZrpzTg58STyhI","name":"cred: contato@contato-buscafornecedor.com.br"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9c8c7969-9d0b-4f8e-b90e-0645fd6618d8","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[704,0],"id":"38c822bb-76de-429b-a860-5f9d95b83774","name":"Se 5 ou mais Aparições"},{"parameters":{"resource":"messages-api","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1392,-16],"id":"20881cfe-3691-4451-ba81-a6b983693097","name":"Enviar texto","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1d46ddd4-beca-4198-b41c-87cd2ffb24f7","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[480,-16],"id":"a319b278-71b4-4672-b383-f6c80bad2385","name":"Converteu?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[944,-208],"id":"21c23e73-d938-4a7f-8de2-8e3ecf11f7c8","name":"No Operation, do nothing"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,-16],"id":"90f7345c-8a0a-4841-aa9f-ee5ee9149279","name":"status = pendente"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-192,-16],"id":"60de8bc2-ad1b-4388-80c2-01d49d003c75","name":"status = email-pendente"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[704,-208],"id":"a4e4a911-ad52-4851-b684-82a6ad7c84eb","name":"status = concluído"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,-16],"id":"07f52817-6455-464c-a9d2-35a44afda224","name":"status = esperando confirmação"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1d46ddd4-beca-4198-b41c-87cd2ffb24f7","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1568,-16],"id":"4837d1c5-c6e1-4c4e-bddd-37ca4ac6e45f","name":"Converteu?1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1776,-32],"id":"ff8692ac-e72f-4e22-8af2-2cab3f95b550","name":"No Operation, do nothing1"},{"parameters":{"resource":"messages-api","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1984,144],"id":"4c47597e-1f7a-4b7a-929e-6ce147c831dd","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,144],"id":"4a5859be-ae76-49ad-a907-29226df7d3d0","name":"Segundo Contato"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,-16],"id":"9846f4dc-1a0a-4c5e-b146-b5d50781f68d","name":"Primeiro Contato"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1d46ddd4-beca-4198-b41c-87cd2ffb24f7","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2176,144],"id":"f916b55f-33b6-4aea-801c-02874e26cfec","name":"Converteu?2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2432,128],"id":"e2feaebf-6238-43b2-81c2-c76005b5cfff","name":"No Operation, do nothing2"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2432,288],"id":"8f91eb87-7d0f-43d3-a027-818488a55f69","name":"Terceiro Contato"},{"parameters":{"resource":"messages-api","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2624,288],"id":"493ccaa6-2dc7-4843-bf29-9be5e73f1e8b","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1d46ddd4-beca-4198-b41c-87cd2ffb24f7","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2816,288],"id":"99512e70-d81e-4519-b9d9-60161885f4c3","name":"Converteu?3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3056,272],"id":"205ac522-37c9-4817-94a7-1c68e4d03961","name":"No Operation, do nothing3"}],"connections":{"Busca Fornecedor":{"main":[[{"node":"Gera Aparições","type":"main","index":0}]]},"Gera Aparições":{"main":[[{"node":"status = email-pendente","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"status = esperando confirmação","type":"main","index":0}]]},"Se 5 ou mais Aparições":{"main":[[{"node":"status = pendente","type":"main","index":0}],[{"node":"Gera Aparições","type":"main","index":0}]]},"Converteu?":{"main":[[{"node":"status = concluído","type":"main","index":0}],[{"node":"Se 5 ou mais Aparições","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Converteu?1","type":"main","index":0}]]},"status = pendente":{"main":[[{"node":"Primeiro Contato","type":"main","index":0}]]},"status = email-pendente":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"status = concluído":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"status = esperando confirmação":{"main":[[{"node":"Converteu?","type":"main","index":0}]]},"Converteu?1":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Segundo Contato","type":"main","index":0}]]},"Segundo Contato":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Primeiro Contato":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Enviar texto1":{"main":[[{"node":"Converteu?2","type":"main","index":0}]]},"Converteu?2":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}],[{"node":"Terceiro Contato","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"Converteu?3","type":"main","index":0}]]},"Terceiro Contato":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"Converteu?3":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ba1642f4-15ce-4844-81e3-c1498bb5117c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-06-16T16:29:53.918Z","createdAt":"2026-06-16T16:29:53.918Z","role":"workflow:owner","workflowId":"XDkhdQZQL1ovkK9d","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":null,"tags":[]}