fluxo-novo-diagrama-KjU2e2XYWWyF8xh6.json
{"updatedAt":"2026-07-01T18:58:59.564Z","createdAt":"2026-07-01T18:46:29.495Z","id":"KjU2e2XYWWyF8xh6","name":"Fluxo-novo-diagrama","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Scout-Grupo\n\n- Mantém o Webhook escutando no grupo.\n- Identifica Buscas.\n- Responde por sms, indicando o site e o número oficial.\n","height":368,"width":944,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-640,-688],"id":"d155a303-ed55-46d9-addc-fbb2d9e32d3d","name":"Sticky Note"},{"parameters":{"content":"## Atendimento-Direct\n\n- Faz o atendimento de busca no direct.\n- Funciona apenas de forma passiva.","height":336,"width":560,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-640,-1040],"id":"602f13fe-2410-42c6-bf8a-2b3ec838f4b5","name":"Sticky Note1"},{"parameters":{"path":"59137621-abd6-4d10-85f1-8ea6c6395722","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-592,-896],"id":"a93cb4d4-a6c7-4380-8268-9eed78ee03a9","name":"Webhook-Direct","webhookId":"59137621-abd6-4d10-85f1-8ea6c6395722"},{"parameters":{"path":"59137621-abd6-4d10-85f1-8ea6c6395722","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-592,-512],"id":"82058548-6b38-4b37-b791-82e57f3648a1","name":"Webhook-Scout","webhookId":"59137621-abd6-4d10-85f1-8ea6c6395722"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-400,-896],"id":"fc14e682-f2af-4cf6-9584-7ce75dde5f3e","name":"Responde-Busca"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,-512],"id":"b0732080-f0b5-49d8-8eff-dacff662ee11","name":"Identifica-Busca"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-208,-512],"id":"d24f35df-bd34-40a0-9b11-bcb8ebdbbd5a","name":"Responde-Busca1"},{"parameters":{"operation":"sendAndWait","options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1.2,"position":[112,-512],"id":"916cbf08-bc1c-4439-9879-d9ae72a814b9","name":"Responde-SMS","webhookId":"2d187cdd-03bb-4860-90e4-d6f5873d0653"}],"connections":{"Webhook-Direct":{"main":[[{"node":"Responde-Busca","type":"main","index":0}]]},"Webhook-Scout":{"main":[[{"node":"Identifica-Busca","type":"main","index":0}]]},"Identifica-Busca":{"main":[[{"node":"Responde-Busca1","type":"main","index":0}]]},"Responde-Busca1":{"main":[[{"node":"Responde-SMS","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"4b276f5e-9e2a-4dc9-9fa5-99eec2f93ed0","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-07-01T18:46:29.495Z","createdAt":"2026-07-01T18:46:29.495Z","role":"workflow:owner","workflowId":"KjU2e2XYWWyF8xh6","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":null,"tags":[]}