group-scouter-MUzHBYEABOTpUBhV.json
{"updatedAt":"2026-05-12T19:12:55.888Z","createdAt":"2026-04-23T14:59:19.681Z","id":"MUzHBYEABOTpUBhV","name":"Group Scouter","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"message"},{"name":"nome"},{"name":"numero"},{"name":"id"},{"name":"message_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1072,-32],"id":"8bc1d7da-8593-4252-921e-4564e25d2280","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","hasOutputParser":true,"options":{"systemMessage":"=**Papel do Agente**\n\nVocê é um classificador de mensagens de grupos de WhatsApp.\n\nSua função é identificar se uma mensagem indica **intenção de buscar fornecedores, produtos ou serviços a nível NACIONAL**, excluindo buscas por contatos de empresas já definidas pelo usuário.\n\n---\n\n**Objetivo**\n\nClassificar cada mensagem em uma das categorias:\n\n* `buscar` → quando há indício de que o usuário quer encontrar um novo fornecedor, produto ou serviço no mercado nacional.\n* `ignorar` → quando não há intenção de busca, a busca for por um contato específico, ou for para o mercado internacional.\n\n---\n\n**Formato de Saída (OBRIGATÓRIO)**\n\nResponda **sempre e apenas** com JSON válido:\n\n\n{\n  \"intencao\": \"buscar | ignorar\",\n  \"confianca\": 0.0,\n  \"motivo\": \"string curta explicando a decisão\"\n}\n\n\n---\n\n**Definição de “intenção de busca”**\n\nConsidere como `buscar` quando a mensagem contém:\n\n1. Pedido explícito\n* “alguém conhece…”\n* “preciso de…”\n* “indicação de…”\n* “fornecedor de…”\n* “onde encontro…”\n\n2. Pedido implícito (muito importante)\n* dúvidas que indicam necessidade de compra ou contratação\n* busca por soluções\n\nExemplos:\n* “quero começar a vender roupa, onde consigo fornecedor?”\n* “tô procurando quem venda mármore em grande quantidade”\n* “preciso comprar embalagens para minha loja”\n\n---\n\n**Definição de “ignorar”**\n\nClassifique como `ignorar` quando:\n\n1. Mensagens sociais\n* “bom dia”, “boa tarde”, “alguém aí?”, “kkk”\n\n2. Conversas genéricas\n* opiniões, comentários, respostas a outros usuários\n\n3. Mensagens fora de contexto\n* política, memes, assuntos pessoais\n\n4. **Buscas por contatos específicos (FORA DE ESCOPO)**\n* O usuário já sabe qual empresa/marca ele quer e está apenas pedindo um telefone, e-mail ou nome de vendedor.\n* “alguém tem contato do Grupo GPS?”\n* “contato comercial da Bertolini”\n* “contato de vendedor da PARATEC”\nIMPORTANTE: IGNORAR APENAS BUSCAS POR CONTATOS ESPECÍFICOS MESAGENS BUSCANDO POR CONTATOS DE FORNECEDORES NÃO ESPECIFICADOS NÃO DEVEM SER IGNORADAS:\n\nExemplo:\n> “Vocês tem contatos de empresas voltadas para venda de vouchers corporativos?”\n\n{\n  \"intencao\": \"buscar\",\n  \"confianca\": 0.9,\n  \"motivo\": \"intenção clara de encontrar contato de fornecedores fornecedor\"\n}\n\n\n5. **Buscas Internacionais / Importação (FORA DE ESCOPO)**\n* O usuário menciona explicitamente a busca por fornecedores no exterior ou processos de importação.\n* “fornecedor na China”, “preciso importar”\n\n---\n\n**Regras de Decisão (CRÍTICAS)**\n\n1. **Prefira precisão > recall**\n   * Se houver dúvida → `ignorar`\n2. A mensagem precisa indicar **intenção acionável**\n   * Apenas mencionar um produto NÃO é suficiente\n3. Mensagens muito vagas → `ignorar`\n   * Ex: “quero comprar algo”\n4. Perguntas são fortes sinais de busca, mas nem todas são\n   * Ex: “isso é bom?” → ignorar\n   * Ex: “onde comprar isso?” → buscar\n5. **A busca deve ser de descoberta**\n   * Se o usuário pede o *contato de uma empresa específica* (ex: \"Contato da Kalunga\"), a plataforma não deve atuar como agenda telefônica → `ignorar`.\n6. **A busca deve ser nacional**\n   * Se o texto envolver \"China\", \"Exterior\" ou \"Importação\" → `ignorar`.\n\n---\n\n**Escala de Confiança**\n\n* `0.9 – 1.0` → intenção clara e direta\n* `0.7 – 0.8` → forte indício\n* `0.5 – 0.6` → ambíguo\n* `< 0.5` → fraco (provavelmente ignorar)\n\n---\n\n**Exemplos**\n\n**Buscar**\n\nEntrada:\n> “Fala galera, alguém conhece um fornecedor bom de portas e janelas para construção?”\n\n{\n  \"intencao\": \"buscar\",\n  \"confianca\": 0.95,\n  \"motivo\": \"pedido explícito de fornecedor\"\n}\n\n\nEntrada:\n> “preciso de distribuidor de doces pra revenda”\n\n{\n  \"intencao\": \"buscar\",\n  \"confianca\": 0.9,\n  \"motivo\": \"intenção clara de encontrar fornecedor\"\n}\n\n\n**Ignorar**\n\nEntrada:\n> “Bom dia!”\n\n{\n  \"intencao\": \"ignorar\",\n  \"confianca\": 0.99,\n  \"motivo\": \"mensagem social\"\n}\n\n\nEntrada:\n> “Boa tarde Alguém tem contato comercial da Bertolini Armazenagens ?”\n\n{\n  \"intencao\": \"ignorar\",\n  \"confianca\": 0.95,\n  \"motivo\": \"busca por contato de empresa específica\"\n}\n\n\nEntrada:\n> \"Pessoal alguma indicação de fornecedor de pneus na china? Preciso fazer importação . Um pedido bem grande\"\n\n{\n  \"intencao\": \"ignorar\",\n  \"confianca\": 0.98,\n  \"motivo\": \"busca por fornecedor internacional fora de escopo\"\n}\n\n\nEntrada:\n> \"Bom dia a todos, vocês teriam contato de vendedor da PARATEC e PARAKLIN\"\n\n{\n  \"intencao\": \"ignorar\",\n  \"confianca\": 0.95,\n  \"motivo\": \"pedido de contato de marca/empresa específica\"\n}\n\n---\n\n**Heurística Final (Checklist interno)**\n\nAntes de responder, valide:\n\n* Existe intenção de encontrar um *novo* fornecedor/produto?\n* A busca é voltada para o mercado nacional?\n* A mensagem é acionável de forma genérica (não é o pedido de telefone de uma marca pré-definida)?\n* Um humano responderia com uma indicação de mercado?\n\nSe qualquer resposta for “não” → `ignorar`\n\n---\n\n**Restrições**\n\n* Não explique além do campo `motivo`\n* Não escreva texto fora do JSON\n* Não invente contexto\n* Não responda como chatbot — apenas classifique\n\n---\n\n**Uso em pipeline**\n\nSaída esperada:\n* `buscar` → segue para agente de busca\n* `ignorar` → encerra fluxo"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-272,-48],"id":"945d8e1b-8cf6-4152-a555-04349b2a2fa3","name":"Scouter_manager","retryOnFail":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.intencao }}","rightValue":"=buscar","operator":{"type":"string","operation":"equals"},"id":"576b5cc2-65b3-467e-a671-628ac47d660a"}],"combinator":"and"},"renameOutput":true,"outputKey":"Buscar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f4f83811-c9ed-475f-af01-f1095b2abda3","leftValue":"={{ $json.output.intencao }}","rightValue":"ignorar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignorar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[496,-48],"id":"429ab488-3673-406e-a1ab-3d138e1e31d8","name":"Switch"},{"parameters":{"resource":"messages-api","instanceName":"busca_fornecedor_cel1","remoteJid":"={{ $('When Executed by Another Workflow').item.json.numero }}","messageText":"={{ $json.text }}","options_message":{"quoted":{"messageQuoted":{"messageId":"={{ $('When Executed by Another Workflow').item.json.message_id }}"}},"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1872,-704],"id":"6c8084f2-5738-482b-9be7-502c93271b54","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"24d7b779-8ea2-459b-81a0-43c9058bda49","name":"output","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,-48],"id":"e8bf9d25-b7f1-4713-8595-fbdfb1690c7b","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-336,96],"id":"565f84a3-756e-44f5-8c97-868b19707da7","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b20790e3-4a3d-421e-b3b1-bba131b49373","leftValue":"={{ $json.output.confianca }}","rightValue":0.6,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[256,-48],"id":"793ebe48-5a29-4aa8-98e6-e26dbd373423","name":"Filter"},{"parameters":{"content":"## Group Scouter (Agent)\n\n- Analisa mensagens vindas de Grupos.\n- Identifica Mensagens voltadas para busca de fornecedores.\n\n\n","height":608,"width":1776,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1120,-176],"id":"49a68822-d90d-4f9c-a4fc-94cb27209772","name":"Sticky Note2"},{"parameters":{"content":"## Group Scouter: Módulo de Resposta\n\n- Cria uma conta incompleta para o usuário.\n- Realiza uma busca, mostrando apenas 2 dos resultados retornados.\n\n\n","height":464,"width":1392,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[672,-272],"id":"d3f562e7-c8b3-4154-ab97-76e4f5666fba","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[752,48],"id":"bd0a4245-d540-4206-9fb5-9a12f0ee9159","name":"NADA"},{"parameters":{"content":"## Group Scouter\n\n- Entra em Grupos de Compra\n- Identifica Mensagens voltadas para busca de fornecedores.\n- Realiza a busca e envia o resultado para o usuário.\n\n\n","height":192,"width":304,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1120,-384],"id":"1545972a-32fc-4c2d-9daf-b04632f76cb6","name":"Sticky Note3"},{"parameters":{"workflowId":{"__rl":true,"value":"dfzSiOV2FBfv6ZFs","mode":"list","cachedResultUrl":"/workflow/dfzSiOV2FBfv6ZFs","cachedResultName":"Registrar Conta Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero":"={{ $('When Executed by Another Workflow').item.json.numero }}","nome":"={{ $('When Executed by Another Workflow').item.json.nome }}"},"matchingColumns":[],"schema":[{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1216,-128],"id":"80ba4cec-e406-4bb8-bfec-b874e318705d","name":"Call 'Registrar Conta Whatsapp'1"},{"parameters":{"workflowId":{"__rl":true,"value":"P5glDm8v5AZwgudn","mode":"list","cachedResultUrl":"/workflow/P5glDm8v5AZwgudn","cachedResultName":"Busca Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","query":"={{ $('When Executed by Another Workflow').item.json.message }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1408,-128],"id":"c02c86a9-fe02-4abe-9df3-a8911224c88d","name":"Call 'Busca Whatsapp'1","alwaysOutputData":true},{"parameters":{"resource":"messages-api","instanceName":"busca_fornecedor_cel1","remoteJid":"553599195960","messageText":"=Remetente:{{ $('When Executed by Another Workflow').item.json.nome }}\nMensagem: {{ $('When Executed by Another Workflow').item.json.message }}\nOrigem: Grupo\nDecisão: Gerar Busca\nMotivo:{{ $json.output.motivo }}\nConfiança:{{ $json.output.confianca }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[752,-128],"id":"dad1a756-1c77-4904-9eca-b35337607005","name":"Enviar texto","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"busca_fornecedor_cel1","remoteJid":"553599195960","messageText":"=Mensagem: {{ $('When Executed by Another Workflow').item.json.message }}\nOrigem: Grupo\nDecisão: Ignorar\nMotivo: Ignorado pelo Filtro","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-96,304],"id":"aa71bd31-0085-4e73-8fbf-955ac7f67d4c","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"operation":"delete","key":"={{ $('When Executed by Another Workflow').item.json.id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1872,-864],"id":"020cb55a-9955-4e10-b955-56a79a025543","name":"Desaloca-Memoria","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"jsonSchemaExample":"{\n  \"intencao\": \"buscar | ignorar\",\n  \"confianca\": 0.0,\n  \"motivo\": \"string curta explicando a decisão\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-64,96],"id":"62b00d02-bb03-4c0e-99a0-991843dd5536","name":"Structured Output Parser"},{"parameters":{"assignments":{"assignments":[{"id":"1b92ef57-85ad-4d6e-b3b2-09b80ecf1c4f","name":"contexto","value":"={{ $json.parametros.descricao }}","type":"string"},{"id":"ef3eecf5-5b46-460f-b04e-d30bd1b6797c","name":"nome","value":"={{ $('When Executed by Another Workflow').item.json.nome }}","type":"string"},{"id":"db904fe9-ac62-47d3-a31c-1a9c0e75a16e","name":"resultados","value":"={{ $json.resultados }}","type":"array"},{"id":"d3b04b7e-0057-4a4b-be10-ecea3cdbf61d","name":"codigo","value":"={{ $('Call \\'Registrar Conta Whatsapp\\'1').item.json.otp_code }}","type":"string"},{"id":"31391c78-7669-4951-81d1-4cdbc0b9ff74","name":"completar_cadastro_url","value":"={{ $('Call \\'Registrar Conta Whatsapp\\'1').item.json.completar_cadastro_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1216,-688],"id":"ff477509-2afa-4fbd-af8f-31e4e14d8c7d","name":"Edit Fields2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.completar_cadastro_url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"9027485f-7f4c-4642-a50f-cf67abad473b"}],"combinator":"and"},"renameOutput":true,"outputKey":"Conta Nova"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e4a98343-a7ae-44a1-8d3b-d20cbe6504a7","leftValue":"={{ $json.codigo }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Conta Existente"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1424,-688],"id":"8a687b63-8379-45aa-b1a3-00f1ca882a5f","name":"Switch1"},{"parameters":{"jsCode":"const data = items[0].json;\n\n// 🔹 Dados básicos\nconst contexto = data.contexto || \"\";\nconst resultados = data.resultados || [];\nconst numero = data.telefone || data.numero;\n\n// 🔹 Normalizador\nconst getItem = (r) => r.item || r;\n\n// 🔹 Separar por escopo\nconst nacionais = resultados.filter(r => getItem(r).escopo === \"nacional\");\nconst locais = resultados.filter(r => getItem(r).escopo === \"local\");\n\n// 🔹 Ordenar por nota\nconst ordenarPorNota = (arr) =>\n  [...arr].sort((a, b) => (getItem(b).nota ?? 0) - (getItem(a).nota ?? 0));\n\n// 🔹 Selecionar\nconst topNacionais = ordenarPorNota(nacionais).slice(0, 2);\nconst topLocais = ordenarPorNota(locais).slice(0, 4); // 👈 aqui\n\n// 🔹 Formatter\nconst formatarLista = (lista) => {\n  return lista\n    .map((r) => {\n      const item = getItem(r);\n      const nome = item.razao_social || \"Fornecedor\";\n      const modelo = item.modelo_negocio ? ` (${item.modelo_negocio})` : \"\";\n      const site = item.site || \"\";\n      return `- ${nome}${modelo}\\n${site}`;\n    })\n    .join(\"\\n\");\n};\n\n// 🔹 Blocos\nlet blocoNacionais = \"\";\nif (topNacionais.length > 0) {\n  blocoNacionais = `Nacionais:\\n${formatarLista(topNacionais)}`;\n}\n\nlet blocoLocais = \"\";\nif (topLocais.length > 0) {\n  blocoLocais = `Locais:\\n${formatarLista(topLocais)}`;\n}\n\n// 🔹 Contagem restante\nconst totalExibidos = topNacionais.length + topLocais.length;\nconst totalRestante = Math.max(0, resultados.length - totalExibidos);\n\n// 🔹 Linha de contexto\nconst linhaContexto = contexto\n  ? `Separei alguns fornecedores pra \"${contexto}\".`\n  : `Separei alguns fornecedores pra você.`;\n\n// 🔹 Mensagem\nlet mensagem = `Da uma olhada nesses fornecedores aqui:\\n\\n${linhaContexto}`;\n\nif (blocoNacionais) {\n  mensagem += `\\n\\n${blocoNacionais}`;\n}\n\nif (blocoLocais) {\n  mensagem += `\\n\\n${blocoLocais}`;\n}\n\nif (totalRestante > 0) {\n  mensagem += `\\n\\nTem mais ${totalRestante} fornecedores na plataforma, com contatos e detalhes completos.`;\n}\n\nmensagem += `\\n\\nVocê já pode acessar tudo direto pelo site:\\n\\n${data.url || \"https://buscafornecedor.com.br\"}`;\n\nmensagem += `\\n\\nQualquer coisa, só me chamar por aqui.`;\n\n// 🔹 Retorno\nreturn [\n  {\n    json: {\n      number: numero,\n      text: mensagem\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,-544],"id":"c48fb268-f3cd-4138-8523-a2020442aed8","name":"Code in JavaScript1"},{"parameters":{"resource":"messages-api","instanceName":"busca_fornecedor_cel1","remoteJid":"={{ $('Call \\'Registrar Conta Whatsapp\\'1').item.json.telefone }}","messageText":"={{ $json.text }}","options_message":{"quoted":{"messageQuoted":{"messageId":"={{ $('When Executed by Another Workflow').item.json.message_id }}"}},"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1872,-544],"id":"c34ae1ce-523d-40aa-86b7-83cad670526b","name":"Enviar texto3","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"jsCode":"const data = items[0].json;\n\n// 🔹 Dados básicos\nconst resultados = data.resultados || [];\nconst codigo = data.codigo || \"\";\nconst completarCadastroUrl = data.completar_cadastro_url || \"\";\nconst numero = data.telefone || data.numero;\n\n// 🔹 Normalizador (ESSENCIAL)\nconst getItem = (r) => r.item || r;\n\n// 🔹 Separar por escopo\nconst nacionais = resultados.filter(r => getItem(r).escopo === \"nacional\");\nconst locais = resultados.filter(r => getItem(r).escopo === \"local\");\n\n// 🔹 Ordenar por nota\nconst ordenarPorNota = (arr) =>\n  [...arr].sort((a, b) => (getItem(b).nota ?? 0) - (getItem(a).nota ?? 0));\n\n// 🔹 Selecionar 2 de cada\nconst topNacionais = ordenarPorNota(nacionais).slice(0, 2);\nconst topLocais = ordenarPorNota(locais).slice(0, 2);\n\n// 🔹 Formatter\nconst formatarLista = (lista) => {\n  return lista\n    .map((r) => {\n      const item = getItem(r);\n      const nome = item.razao_social || \"Fornecedor\";\n      const modelo = item.modelo_negocio ? ` (${item.modelo_negocio})` : \"\";\n      const site = item.site || \"\";\n      return `- ${nome}${modelo}\\n${site}`;\n    })\n    .join(\"\\n\");\n};\n\n// 🔹 Blocos\nlet blocoNacionais = \"\";\nif (topNacionais.length > 0) {\n  blocoNacionais = `Nacionais:\\n${formatarLista(topNacionais)}`;\n}\n\nlet blocoLocais = \"\";\nif (topLocais.length > 0) {\n  blocoLocais = `Locais:\\n${formatarLista(topLocais)}`;\n}\n\n// 🔹 Mensagem\nlet mensagem = `Da uma olhada nesses fornecedores aqui:`;\n\n// 🔹 Inserção dos blocos\nif (blocoNacionais) {\n  mensagem += `\\n\\n${blocoNacionais}`;\n}\n\nif (blocoLocais) {\n  mensagem += `\\n\\n${blocoLocais}`;\n}\n\n// 🔹 CTA (sempre com código)\nmensagem += `\\n\\nTem mais alguns fornecedores na nossa plataforma, para acessar só clicar no link abaixo, utilizando o código: ${codigo}. (Código é valido por 15min)\\n\\n${completarCadastroUrl}`;\n\n// 🔹 Finalização\nmensagem += `\\n\\nQualquer coisa, só me chamar por aqui.`;\n\n// 🔹 Retorno\nreturn [\n  {\n    json: {\n      number: numero,\n      text: mensagem\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,-704],"id":"a9123e33-990d-4133-be8d-828af250ae3f","name":"Code in JavaScript2"},{"parameters":{"operation":"sendAndWait","chatId":"7975856170","message":"=Remetente:{{ $('When Executed by Another Workflow').item.json.nome }}\nMensagem: {{ $('When Executed by Another Workflow').item.json.message }}\nOrigem: Grupo\nDecisão: Gerar Busca\nMotivo:{{ $('Switch').item.json.output.motivo }}\nConfiança:{{ $('Switch').item.json.output.confianca }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[976,-128],"id":"cfbb20b8-1940-4fba-b20a-b92ae2c42c74","name":"Send message and wait for approve","webhookId":"ebd1b843-f8af-49b0-9e8b-b3695a252257","credentials":{"telegramApi":{"id":"ca8xxX5A84aox0Rt","name":"Telegram Felipe"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2048,-704],"id":"536208ca-08e2-4909-b795-ac6267aa2d77","name":"Wait","webhookId":"9cce9554-0458-4663-a54a-a8dc598ba82d"},{"parameters":{"resource":"messages-api","instanceName":"busca_fornecedor_cel1","remoteJid":"={{ $('When Executed by Another Workflow').item.json.numero }}","messageText":"Nossa plataforma é focada em ajudar compradores a encontrarem fornecedores. Dá uma olhadinha depois!","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2240,-704],"id":"477d0084-a696-4127-b7df-b767d82e75ce","name":"Enviar texto5","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"mode":"combine","fieldsToMatchString":"id","joinMode":"enrichInput2","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1616,-112],"id":"5eda7d96-b56d-4c01-93ac-f863f9d0a675","name":"Merge"},{"parameters":{"jsCode":"// Pega todos os itens da entrada do nó no n8n\nconst items = $input.all();\n\n// Regex para identificar mensagens fora de escopo (sociais, importação, contatos específicos, vagas, links)\nconst regexFiltro = /(^\\s*(bom dia|boa tarde|boa noite|obrigado|obrigada|muito obrigado)[.,!?\\s]*$)|(\\b(exterior|importa[çc][ãa]o|importar)\\b)|(\\bcontato\\s+(comercial|de\\s+vendedor)\\b|\\bvendedor\\s+(da|do)\\b)|(\\b(vaga[s]?|oportunidade\\s+aberta|clt|sal[áa]rio)\\b)|(https?:\\/\\/|www\\.)/i;\n\n// Mapeia e atualiza cada item do input\nreturn items.map(item => {\n    // Garante que estamos lendo a mensagem corretamente, evitando erros se o campo não existir\n    const mensagem = item.json.message || \"\";\n    \n    // Testa se a mensagem aciona alguma das regras do Regex\n    if (regexFiltro.test(mensagem)) {\n        // Classifica como ignorar direto no n8n, poupando o agente\n        item.json.intencao = \"ignorar\";\n        item.json.motivo_regex = \"Bloqueado na triagem rápida (Social, Importação, Vaga, Link ou Contato específico)\";\n    } else {\n        // Classifica como 'analisar' para que um nó de Switch (ou IF) envie para o LLM\n        item.json.intencao = \"analisar\";\n    }\n    \n    return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,-32],"id":"18c1d7e6-1328-4d1e-85dc-99b6fcb17c8a","name":"Code in JavaScript"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.intencao }}","rightValue":"analisar","operator":{"type":"string","operation":"equals"},"id":"2eafad29-a759-43ea-b093-43643013d599"}],"combinator":"and"},"renameOutput":true,"outputKey":"Analisar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"737ebf9e-5557-41e5-91ea-6c319b251006","leftValue":"={{ $json.intencao }}","rightValue":"ignorar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignorar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-560,-32],"id":"3a06c1f1-f6e3-457d-a7f5-3d1c09d47a3d","name":"Filtro - Regex"},{"parameters":{"operation":"push","list":"={{ $('Trigger').item.json.Number }}@s.whatsapp.net","messageData":"=Agent:{{ $json.data.message.conversation }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2432,-704],"id":"aa72d866-01e5-4293-8c1b-9b044d48cb94","name":"Insere-Memoria1","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"workflowId":{"__rl":true,"value":"R7tS2Bx9EA1YgW0o","mode":"list","cachedResultUrl":"/workflow/R7tS2Bx9EA1YgW0o","cachedResultName":"send_user_message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"contexto":"={{ $json.parametros.descricao }}","resultados":"={{ $json.resultados }}","nome":"={{ $('When Executed by Another Workflow').item.json.nome }}","url":"={{ $('Call \\'Registrar Conta Whatsapp\\'1').item.json.completar_cadastro_url }}","telefone":"={{ $json.telefone }}"},"matchingColumns":[],"schema":[{"id":"contexto","displayName":"contexto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resultados","displayName":"resultados","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1808,-112],"id":"287a106d-60a9-40b9-bd53-0c24d16c12fa","name":"Call 'send_user_message'"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Scouter_manager":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[{"node":"NADA","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Scouter_manager","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Call 'Registrar Conta Whatsapp'1":{"main":[[{"node":"Call 'Busca Whatsapp'1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Call 'Busca Whatsapp'1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Send message and wait for approve","type":"main","index":0}]]},"Enviar texto1":{"main":[[]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Scouter_manager","type":"ai_outputParser","index":0}]]},"Edit Fields2":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}],[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Enviar texto3","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Enviar texto3":{"main":[[{"node":"Insere-Memoria1","type":"main","index":0}]]},"Send message and wait for approve":{"main":[[{"node":"Call 'Registrar Conta Whatsapp'1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Enviar texto5","type":"main","index":0}]]},"Enviar texto5":{"main":[[{"node":"Insere-Memoria1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Call 'send_user_message'","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Filtro - Regex","type":"main","index":0}]]},"Filtro - Regex":{"main":[[{"node":"Scouter_manager","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"KFeveZkBafvIC5xECfmBs","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"message":"Bom dia tudo bem? Estou precisando de indicações de empresas que façam a locação/ Instalações de equipamento de Audio/visual para a copa do mundo.","nome":"Doglas Polvere","numero":"5519989224933","id":"148219539521624@lid","message_id":"AC00E54CC064536738C63089F00CAF1B"},"pairedItem":{"item":0}}],"Scouter_manager":[{"json":{"output":{"intencao":"buscar","confianca":0.9,"motivo":"pedido explícito de indicações para locação de equipamentos de áudio/visual"}},"pairedItem":{"item":0}}],"Send message and wait for approve":[{"json":{"data":{"approved":true}},"pairedItem":{"item":0}}],"Enviar texto":[{"json":{"success":true,"data":{"key":{"remoteJid":"553599195960@s.whatsapp.net","fromMe":true,"id":"3EB0C712AB4094F434E947"},"pushName":"Você","status":"PENDING","message":{"conversation":"Remetente:Doglas Polvere\nMensagem: Bom dia tudo bem? Estou precisando de indicações de empresas que façam a locação/ Instalações de equipamento de Audio/visual para a copa do mundo.\nOrigem: Grupo\nDecisão: Gerar Busca\nMotivo:pedido explícito de indicações para locação de equipamentos de áudio/visual\nConfiança:0.9"},"contextInfo":{"mentionedJid":[],"groupMentions":[],"ephemeralSettingTimestamp":{"low":1778421311,"high":0,"unsigned":false},"disappearingMode":{"initiator":0}},"messageType":"conversation","messageTimestamp":1778594111,"instanceId":"d9aafb31-e8ec-42ae-a15e-834680642055","source":"web"}},"pairedItem":{"item":0}}],"Call 'Registrar Conta Whatsapp'1":[{"json":{"nome":"Em reunião","telefone":"5519989224933","id":"fdf7bff6-f19f-4ad4-a0ff-cbda2fb82bad"},"pairedItem":{"item":0}}],"Call 'Busca Whatsapp'1":[{"json":{"resultados":[{"nota":100,"site":"https://megamaxsp.com.br/","email":"vendas@megamaxsp.com.br","escopo":"nacional","telefone":"(11) 5071-5484","cnpj_basico":"21978385","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"MegamaxSp","fornecedor_id":"831414699","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":100,"site":"https://luminance.com.br","email":"comercial@luminance.com.br","escopo":"nacional","telefone":"(21) 98814-3822 (21) 3872-3245","cnpj_basico":"58710489","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"Grupo Luminance","fornecedor_id":"1956570690","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":96,"site":"https://commac.com.br","email":"contato@commac.com.br","escopo":"local","telefone":"(41) 3338-4025 (41) 99857-8118","cnpj_basico":"09370141","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"COMMAC EQUIPAMENTOS AUDIOVISUAIS","fornecedor_id":"1683988501","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":95,"site":"http://capitalaudiovisual.com.br","email":"comercial@capitalaudiovisual.com.br","escopo":"local","telefone":"","cnpj_basico":"17452488","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"Capital Audiovisual","fornecedor_id":"1689340823","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":93,"site":"https://www.rizzierieventos.com.br","email":"comercial@rizzierieventos.com.br","escopo":"local","telefone":"(13) 3252-3871","cnpj_basico":"03570407","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"Rizzieri Tecnologias Audiovisuais","fornecedor_id":"1638185072","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":91,"site":"https://www.tpseventos.com.br","email":"[email protected]","escopo":"local","telefone":"(11) 41722176 (11) 3673-1127 (11) 99224-6607","cnpj_basico":"59999640","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"TPS Eventos","fornecedor_id":"1385976547","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":89,"site":"https://playaudiovisual.com.br/","email":"comercial@playaudiovisual.com.br","escopo":"local","telefone":"(11) 94031-1598 (11) 3803-8686","cnpj_basico":"07895500","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"PLAY AUDIOVISUAL","fornecedor_id":"981116904","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":88,"site":"https://www.h3eventos.com","email":"comercial@h3eventos.com gerencia@h3eventos.com","escopo":"local","telefone":"(62) 3642-9888 (62) 3642-5220 (63) 98481-2928 (63) 98111-2268 (63) 99253-1607","cnpj_basico":"15277873","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"H3 Eventos","fornecedor_id":"775360614","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":86,"site":"https://allternativaloc.com.br","email":"eventos@allternativaloc.com.br","escopo":"local","telefone":"(11) 94723-2700 (11) 94728-8860","cnpj_basico":"09268623","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"Allternativa Eventos e Locações","fornecedor_id":"1713298100","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":84,"site":"https://www.dvpsomeluz.com.br","email":"","escopo":"local","telefone":"(66) 99957-3453","cnpj_basico":"07645318","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"DVP Som e Luz","fornecedor_id":"919239114","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":82,"site":"https://www.contactusequipamentos.com.br","email":"comercial@contactusequipamentos.com.br","escopo":"local","telefone":"(21) 2221-0058 (21) 98234-0781","cnpj_basico":"03993798","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"Contactus Equipamentos","fornecedor_id":"1754641254","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":80,"site":"https://www.toprent.com.br/pt/","email":"toprent@toprent.com.br","escopo":"local","telefone":"(47) 3029-2688 (47) 3029-2788 (47) 9984-7207","cnpj_basico":"03837715","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"TopRent","fornecedor_id":"1720589890","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":79,"site":"https://soundgroup.com.br","email":"contato@soundgroup.com.br","escopo":"local","telefone":"(11) 94446-1494","cnpj_basico":"44942090","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"Sound Group","fornecedor_id":"1018797552","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":77,"site":"https://www.b3audiovisual.com.br","email":"contato@b3audiovisual.com.br","escopo":"local","telefone":"(11) 5070-5080","cnpj_basico":"10629703","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"B3 Audiovisual","fornecedor_id":"742766908","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":75,"site":"https://www.gsmi4.com.br","email":"","escopo":"local","telefone":"(87) 3873-1558 (87) 99141.4001 (87) 99141.4000 (87) 98122-7718","cnpj_basico":"13604035","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"GSMI-4 – Locações e Eventos","fornecedor_id":"891691974","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"}],"parametros":{"descricao":"Locação/ Instalações de equipamento de Audio/visual para a copa do mundo.","tipo_busca":"uf","cnpjs_existentes":"","ufs_selecionadas":[]},"id":"fdf7bff6-f19f-4ad4-a0ff-cbda2fb82bad","descricao":"Locação/ Instalações de equipamento de Audio/visual para a copa do mundo."},"pairedItem":{"item":0}}]},"versionId":"89515106-7a5e-4e57-9491-5aca8f006917","activeVersionId":"89515106-7a5e-4e57-9491-5aca8f006917","triggerCount":0,"shared":[{"updatedAt":"2026-04-23T14:59:19.681Z","createdAt":"2026-04-23T14:59:19.681Z","role":"workflow:owner","workflowId":"MUzHBYEABOTpUBhV","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-05-12T19:12:57.111Z","createdAt":"2026-05-12T19:12:55.894Z","versionId":"89515106-7a5e-4e57-9491-5aca8f006917","workflowId":"MUzHBYEABOTpUBhV","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"message"},{"name":"nome"},{"name":"numero"},{"name":"id"},{"name":"message_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1072,-32],"id":"8bc1d7da-8593-4252-921e-4564e25d2280","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","hasOutputParser":true,"options":{"systemMessage":"=**Papel do Agente**\n\nVocê é um classificador de mensagens de grupos de WhatsApp.\n\nSua função é identificar se uma mensagem indica **intenção de buscar fornecedores, produtos ou serviços a nível NACIONAL**, excluindo buscas por contatos de empresas já definidas pelo usuário.\n\n---\n\n**Objetivo**\n\nClassificar cada mensagem em uma das categorias:\n\n* `buscar` → quando há indício de que o usuário quer encontrar um novo fornecedor, produto ou serviço no mercado nacional.\n* `ignorar` → quando não há intenção de busca, a busca for por um contato específico, ou for para o mercado internacional.\n\n---\n\n**Formato de Saída (OBRIGATÓRIO)**\n\nResponda **sempre e apenas** com JSON válido:\n\n\n{\n  \"intencao\": \"buscar | ignorar\",\n  \"confianca\": 0.0,\n  \"motivo\": \"string curta explicando a decisão\"\n}\n\n\n---\n\n**Definição de “intenção de busca”**\n\nConsidere como `buscar` quando a mensagem contém:\n\n1. Pedido explícito\n* “alguém conhece…”\n* “preciso de…”\n* “indicação de…”\n* “fornecedor de…”\n* “onde encontro…”\n\n2. Pedido implícito (muito importante)\n* dúvidas que indicam necessidade de compra ou contratação\n* busca por soluções\n\nExemplos:\n* “quero começar a vender roupa, onde consigo fornecedor?”\n* “tô procurando quem venda mármore em grande quantidade”\n* “preciso comprar embalagens para minha loja”\n\n---\n\n**Definição de “ignorar”**\n\nClassifique como `ignorar` quando:\n\n1. Mensagens sociais\n* “bom dia”, “boa tarde”, “alguém aí?”, “kkk”\n\n2. Conversas genéricas\n* opiniões, comentários, respostas a outros usuários\n\n3. Mensagens fora de contexto\n* política, memes, assuntos pessoais\n\n4. **Buscas por contatos específicos (FORA DE ESCOPO)**\n* O usuário já sabe qual empresa/marca ele quer e está apenas pedindo um telefone, e-mail ou nome de vendedor.\n* “alguém tem contato do Grupo GPS?”\n* “contato comercial da Bertolini”\n* “contato de vendedor da PARATEC”\nIMPORTANTE: IGNORAR APENAS BUSCAS POR CONTATOS ESPECÍFICOS MESAGENS BUSCANDO POR CONTATOS DE FORNECEDORES NÃO ESPECIFICADOS NÃO DEVEM SER IGNORADAS:\n\nExemplo:\n> “Vocês tem contatos de empresas voltadas para venda de vouchers corporativos?”\n\n{\n  \"intencao\": \"buscar\",\n  \"confianca\": 0.9,\n  \"motivo\": \"intenção clara de encontrar contato de fornecedores fornecedor\"\n}\n\n\n5. **Buscas Internacionais / Importação (FORA DE ESCOPO)**\n* O usuário menciona explicitamente a busca por fornecedores no exterior ou processos de importação.\n* “fornecedor na China”, “preciso importar”\n\n---\n\n**Regras de Decisão (CRÍTICAS)**\n\n1. **Prefira precisão > recall**\n   * Se houver dúvida → `ignorar`\n2. A mensagem precisa indicar **intenção acionável**\n   * Apenas mencionar um produto NÃO é suficiente\n3. Mensagens muito vagas → `ignorar`\n   * Ex: “quero comprar algo”\n4. Perguntas são fortes sinais de busca, mas nem todas são\n   * Ex: “isso é bom?” → ignorar\n   * Ex: “onde comprar isso?” → buscar\n5. **A busca deve ser de descoberta**\n   * Se o usuário pede o *contato de uma empresa específica* (ex: \"Contato da Kalunga\"), a plataforma não deve atuar como agenda telefônica → `ignorar`.\n6. **A busca deve ser nacional**\n   * Se o texto envolver \"China\", \"Exterior\" ou \"Importação\" → `ignorar`.\n\n---\n\n**Escala de Confiança**\n\n* `0.9 – 1.0` → intenção clara e direta\n* `0.7 – 0.8` → forte indício\n* `0.5 – 0.6` → ambíguo\n* `< 0.5` → fraco (provavelmente ignorar)\n\n---\n\n**Exemplos**\n\n**Buscar**\n\nEntrada:\n> “Fala galera, alguém conhece um fornecedor bom de portas e janelas para construção?”\n\n{\n  \"intencao\": \"buscar\",\n  \"confianca\": 0.95,\n  \"motivo\": \"pedido explícito de fornecedor\"\n}\n\n\nEntrada:\n> “preciso de distribuidor de doces pra revenda”\n\n{\n  \"intencao\": \"buscar\",\n  \"confianca\": 0.9,\n  \"motivo\": \"intenção clara de encontrar fornecedor\"\n}\n\n\n**Ignorar**\n\nEntrada:\n> “Bom dia!”\n\n{\n  \"intencao\": \"ignorar\",\n  \"confianca\": 0.99,\n  \"motivo\": \"mensagem social\"\n}\n\n\nEntrada:\n> “Boa tarde Alguém tem contato comercial da Bertolini Armazenagens ?”\n\n{\n  \"intencao\": \"ignorar\",\n  \"confianca\": 0.95,\n  \"motivo\": \"busca por contato de empresa específica\"\n}\n\n\nEntrada:\n> \"Pessoal alguma indicação de fornecedor de pneus na china? Preciso fazer importação . Um pedido bem grande\"\n\n{\n  \"intencao\": \"ignorar\",\n  \"confianca\": 0.98,\n  \"motivo\": \"busca por fornecedor internacional fora de escopo\"\n}\n\n\nEntrada:\n> \"Bom dia a todos, vocês teriam contato de vendedor da PARATEC e PARAKLIN\"\n\n{\n  \"intencao\": \"ignorar\",\n  \"confianca\": 0.95,\n  \"motivo\": \"pedido de contato de marca/empresa específica\"\n}\n\n---\n\n**Heurística Final (Checklist interno)**\n\nAntes de responder, valide:\n\n* Existe intenção de encontrar um *novo* fornecedor/produto?\n* A busca é voltada para o mercado nacional?\n* A mensagem é acionável de forma genérica (não é o pedido de telefone de uma marca pré-definida)?\n* Um humano responderia com uma indicação de mercado?\n\nSe qualquer resposta for “não” → `ignorar`\n\n---\n\n**Restrições**\n\n* Não explique além do campo `motivo`\n* Não escreva texto fora do JSON\n* Não invente contexto\n* Não responda como chatbot — apenas classifique\n\n---\n\n**Uso em pipeline**\n\nSaída esperada:\n* `buscar` → segue para agente de busca\n* `ignorar` → encerra fluxo"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-272,-48],"id":"945d8e1b-8cf6-4152-a555-04349b2a2fa3","name":"Scouter_manager","retryOnFail":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.intencao }}","rightValue":"=buscar","operator":{"type":"string","operation":"equals"},"id":"576b5cc2-65b3-467e-a671-628ac47d660a"}],"combinator":"and"},"renameOutput":true,"outputKey":"Buscar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f4f83811-c9ed-475f-af01-f1095b2abda3","leftValue":"={{ $json.output.intencao }}","rightValue":"ignorar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignorar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[496,-48],"id":"429ab488-3673-406e-a1ab-3d138e1e31d8","name":"Switch"},{"parameters":{"resource":"messages-api","instanceName":"busca_fornecedor_cel1","remoteJid":"={{ $('When Executed by Another Workflow').item.json.numero }}","messageText":"={{ $json.text }}","options_message":{"quoted":{"messageQuoted":{"messageId":"={{ $('When Executed by Another Workflow').item.json.message_id }}"}},"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1872,-704],"id":"6c8084f2-5738-482b-9be7-502c93271b54","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"24d7b779-8ea2-459b-81a0-43c9058bda49","name":"output","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,-48],"id":"e8bf9d25-b7f1-4713-8595-fbdfb1690c7b","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-336,96],"id":"565f84a3-756e-44f5-8c97-868b19707da7","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b20790e3-4a3d-421e-b3b1-bba131b49373","leftValue":"={{ $json.output.confianca }}","rightValue":0.6,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[256,-48],"id":"793ebe48-5a29-4aa8-98e6-e26dbd373423","name":"Filter"},{"parameters":{"content":"## Group Scouter (Agent)\n\n- Analisa mensagens vindas de Grupos.\n- Identifica Mensagens voltadas para busca de fornecedores.\n\n\n","height":608,"width":1776,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1120,-176],"id":"49a68822-d90d-4f9c-a4fc-94cb27209772","name":"Sticky Note2"},{"parameters":{"content":"## Group Scouter: Módulo de Resposta\n\n- Cria uma conta incompleta para o usuário.\n- Realiza uma busca, mostrando apenas 2 dos resultados retornados.\n\n\n","height":464,"width":1392,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[672,-272],"id":"d3f562e7-c8b3-4154-ab97-76e4f5666fba","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[752,48],"id":"bd0a4245-d540-4206-9fb5-9a12f0ee9159","name":"NADA"},{"parameters":{"content":"## Group Scouter\n\n- Entra em Grupos de Compra\n- Identifica Mensagens voltadas para busca de fornecedores.\n- Realiza a busca e envia o resultado para o usuário.\n\n\n","height":192,"width":304,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1120,-384],"id":"1545972a-32fc-4c2d-9daf-b04632f76cb6","name":"Sticky Note3"},{"parameters":{"workflowId":{"__rl":true,"value":"dfzSiOV2FBfv6ZFs","mode":"list","cachedResultUrl":"/workflow/dfzSiOV2FBfv6ZFs","cachedResultName":"Registrar Conta Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero":"={{ $('When Executed by Another Workflow').item.json.numero }}","nome":"={{ $('When Executed by Another Workflow').item.json.nome }}"},"matchingColumns":[],"schema":[{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1216,-128],"id":"80ba4cec-e406-4bb8-bfec-b874e318705d","name":"Call 'Registrar Conta Whatsapp'1"},{"parameters":{"workflowId":{"__rl":true,"value":"P5glDm8v5AZwgudn","mode":"list","cachedResultUrl":"/workflow/P5glDm8v5AZwgudn","cachedResultName":"Busca Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","query":"={{ $('When Executed by Another Workflow').item.json.message }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1408,-128],"id":"c02c86a9-fe02-4abe-9df3-a8911224c88d","name":"Call 'Busca Whatsapp'1","alwaysOutputData":true},{"parameters":{"resource":"messages-api","instanceName":"busca_fornecedor_cel1","remoteJid":"553599195960","messageText":"=Remetente:{{ $('When Executed by Another Workflow').item.json.nome }}\nMensagem: {{ $('When Executed by Another Workflow').item.json.message }}\nOrigem: Grupo\nDecisão: Gerar Busca\nMotivo:{{ $json.output.motivo }}\nConfiança:{{ $json.output.confianca }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[752,-128],"id":"dad1a756-1c77-4904-9eca-b35337607005","name":"Enviar texto","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"busca_fornecedor_cel1","remoteJid":"553599195960","messageText":"=Mensagem: {{ $('When Executed by Another Workflow').item.json.message }}\nOrigem: Grupo\nDecisão: Ignorar\nMotivo: Ignorado pelo Filtro","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-96,304],"id":"aa71bd31-0085-4e73-8fbf-955ac7f67d4c","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"operation":"delete","key":"={{ $('When Executed by Another Workflow').item.json.id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1872,-864],"id":"020cb55a-9955-4e10-b955-56a79a025543","name":"Desaloca-Memoria","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"jsonSchemaExample":"{\n  \"intencao\": \"buscar | ignorar\",\n  \"confianca\": 0.0,\n  \"motivo\": \"string curta explicando a decisão\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-64,96],"id":"62b00d02-bb03-4c0e-99a0-991843dd5536","name":"Structured Output Parser"},{"parameters":{"assignments":{"assignments":[{"id":"1b92ef57-85ad-4d6e-b3b2-09b80ecf1c4f","name":"contexto","value":"={{ $json.parametros.descricao }}","type":"string"},{"id":"ef3eecf5-5b46-460f-b04e-d30bd1b6797c","name":"nome","value":"={{ $('When Executed by Another Workflow').item.json.nome }}","type":"string"},{"id":"db904fe9-ac62-47d3-a31c-1a9c0e75a16e","name":"resultados","value":"={{ $json.resultados }}","type":"array"},{"id":"d3b04b7e-0057-4a4b-be10-ecea3cdbf61d","name":"codigo","value":"={{ $('Call \\'Registrar Conta Whatsapp\\'1').item.json.otp_code }}","type":"string"},{"id":"31391c78-7669-4951-81d1-4cdbc0b9ff74","name":"completar_cadastro_url","value":"={{ $('Call \\'Registrar Conta Whatsapp\\'1').item.json.completar_cadastro_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1216,-688],"id":"ff477509-2afa-4fbd-af8f-31e4e14d8c7d","name":"Edit Fields2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.completar_cadastro_url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"9027485f-7f4c-4642-a50f-cf67abad473b"}],"combinator":"and"},"renameOutput":true,"outputKey":"Conta Nova"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e4a98343-a7ae-44a1-8d3b-d20cbe6504a7","leftValue":"={{ $json.codigo }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Conta Existente"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1424,-688],"id":"8a687b63-8379-45aa-b1a3-00f1ca882a5f","name":"Switch1"},{"parameters":{"jsCode":"const data = items[0].json;\n\n// 🔹 Dados básicos\nconst contexto = data.contexto || \"\";\nconst resultados = data.resultados || [];\nconst numero = data.telefone || data.numero;\n\n// 🔹 Normalizador\nconst getItem = (r) => r.item || r;\n\n// 🔹 Separar por escopo\nconst nacionais = resultados.filter(r => getItem(r).escopo === \"nacional\");\nconst locais = resultados.filter(r => getItem(r).escopo === \"local\");\n\n// 🔹 Ordenar por nota\nconst ordenarPorNota = (arr) =>\n  [...arr].sort((a, b) => (getItem(b).nota ?? 0) - (getItem(a).nota ?? 0));\n\n// 🔹 Selecionar\nconst topNacionais = ordenarPorNota(nacionais).slice(0, 2);\nconst topLocais = ordenarPorNota(locais).slice(0, 4); // 👈 aqui\n\n// 🔹 Formatter\nconst formatarLista = (lista) => {\n  return lista\n    .map((r) => {\n      const item = getItem(r);\n      const nome = item.razao_social || \"Fornecedor\";\n      const modelo = item.modelo_negocio ? ` (${item.modelo_negocio})` : \"\";\n      const site = item.site || \"\";\n      return `- ${nome}${modelo}\\n${site}`;\n    })\n    .join(\"\\n\");\n};\n\n// 🔹 Blocos\nlet blocoNacionais = \"\";\nif (topNacionais.length > 0) {\n  blocoNacionais = `Nacionais:\\n${formatarLista(topNacionais)}`;\n}\n\nlet blocoLocais = \"\";\nif (topLocais.length > 0) {\n  blocoLocais = `Locais:\\n${formatarLista(topLocais)}`;\n}\n\n// 🔹 Contagem restante\nconst totalExibidos = topNacionais.length + topLocais.length;\nconst totalRestante = Math.max(0, resultados.length - totalExibidos);\n\n// 🔹 Linha de contexto\nconst linhaContexto = contexto\n  ? `Separei alguns fornecedores pra \"${contexto}\".`\n  : `Separei alguns fornecedores pra você.`;\n\n// 🔹 Mensagem\nlet mensagem = `Da uma olhada nesses fornecedores aqui:\\n\\n${linhaContexto}`;\n\nif (blocoNacionais) {\n  mensagem += `\\n\\n${blocoNacionais}`;\n}\n\nif (blocoLocais) {\n  mensagem += `\\n\\n${blocoLocais}`;\n}\n\nif (totalRestante > 0) {\n  mensagem += `\\n\\nTem mais ${totalRestante} fornecedores na plataforma, com contatos e detalhes completos.`;\n}\n\nmensagem += `\\n\\nVocê já pode acessar tudo direto pelo site:\\n\\n${data.url || \"https://buscafornecedor.com.br\"}`;\n\nmensagem += `\\n\\nQualquer coisa, só me chamar por aqui.`;\n\n// 🔹 Retorno\nreturn [\n  {\n    json: {\n      number: numero,\n      text: mensagem\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,-544],"id":"c48fb268-f3cd-4138-8523-a2020442aed8","name":"Code in JavaScript1"},{"parameters":{"resource":"messages-api","instanceName":"busca_fornecedor_cel1","remoteJid":"={{ $('Call \\'Registrar Conta Whatsapp\\'1').item.json.telefone }}","messageText":"={{ $json.text }}","options_message":{"quoted":{"messageQuoted":{"messageId":"={{ $('When Executed by Another Workflow').item.json.message_id }}"}},"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1872,-544],"id":"c34ae1ce-523d-40aa-86b7-83cad670526b","name":"Enviar texto3","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"jsCode":"const data = items[0].json;\n\n// 🔹 Dados básicos\nconst resultados = data.resultados || [];\nconst codigo = data.codigo || \"\";\nconst completarCadastroUrl = data.completar_cadastro_url || \"\";\nconst numero = data.telefone || data.numero;\n\n// 🔹 Normalizador (ESSENCIAL)\nconst getItem = (r) => r.item || r;\n\n// 🔹 Separar por escopo\nconst nacionais = resultados.filter(r => getItem(r).escopo === \"nacional\");\nconst locais = resultados.filter(r => getItem(r).escopo === \"local\");\n\n// 🔹 Ordenar por nota\nconst ordenarPorNota = (arr) =>\n  [...arr].sort((a, b) => (getItem(b).nota ?? 0) - (getItem(a).nota ?? 0));\n\n// 🔹 Selecionar 2 de cada\nconst topNacionais = ordenarPorNota(nacionais).slice(0, 2);\nconst topLocais = ordenarPorNota(locais).slice(0, 2);\n\n// 🔹 Formatter\nconst formatarLista = (lista) => {\n  return lista\n    .map((r) => {\n      const item = getItem(r);\n      const nome = item.razao_social || \"Fornecedor\";\n      const modelo = item.modelo_negocio ? ` (${item.modelo_negocio})` : \"\";\n      const site = item.site || \"\";\n      return `- ${nome}${modelo}\\n${site}`;\n    })\n    .join(\"\\n\");\n};\n\n// 🔹 Blocos\nlet blocoNacionais = \"\";\nif (topNacionais.length > 0) {\n  blocoNacionais = `Nacionais:\\n${formatarLista(topNacionais)}`;\n}\n\nlet blocoLocais = \"\";\nif (topLocais.length > 0) {\n  blocoLocais = `Locais:\\n${formatarLista(topLocais)}`;\n}\n\n// 🔹 Mensagem\nlet mensagem = `Da uma olhada nesses fornecedores aqui:`;\n\n// 🔹 Inserção dos blocos\nif (blocoNacionais) {\n  mensagem += `\\n\\n${blocoNacionais}`;\n}\n\nif (blocoLocais) {\n  mensagem += `\\n\\n${blocoLocais}`;\n}\n\n// 🔹 CTA (sempre com código)\nmensagem += `\\n\\nTem mais alguns fornecedores na nossa plataforma, para acessar só clicar no link abaixo, utilizando o código: ${codigo}. (Código é valido por 15min)\\n\\n${completarCadastroUrl}`;\n\n// 🔹 Finalização\nmensagem += `\\n\\nQualquer coisa, só me chamar por aqui.`;\n\n// 🔹 Retorno\nreturn [\n  {\n    json: {\n      number: numero,\n      text: mensagem\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,-704],"id":"a9123e33-990d-4133-be8d-828af250ae3f","name":"Code in JavaScript2"},{"parameters":{"operation":"sendAndWait","chatId":"7975856170","message":"=Remetente:{{ $('When Executed by Another Workflow').item.json.nome }}\nMensagem: {{ $('When Executed by Another Workflow').item.json.message }}\nOrigem: Grupo\nDecisão: Gerar Busca\nMotivo:{{ $('Switch').item.json.output.motivo }}\nConfiança:{{ $('Switch').item.json.output.confianca }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[976,-128],"id":"cfbb20b8-1940-4fba-b20a-b92ae2c42c74","name":"Send message and wait for approve","webhookId":"ebd1b843-f8af-49b0-9e8b-b3695a252257","credentials":{"telegramApi":{"id":"ca8xxX5A84aox0Rt","name":"Telegram Felipe"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2048,-704],"id":"536208ca-08e2-4909-b795-ac6267aa2d77","name":"Wait","webhookId":"9cce9554-0458-4663-a54a-a8dc598ba82d"},{"parameters":{"resource":"messages-api","instanceName":"busca_fornecedor_cel1","remoteJid":"={{ $('When Executed by Another Workflow').item.json.numero }}","messageText":"Nossa plataforma é focada em ajudar compradores a encontrarem fornecedores. Dá uma olhadinha depois!","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2240,-704],"id":"477d0084-a696-4127-b7df-b767d82e75ce","name":"Enviar texto5","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"mode":"combine","fieldsToMatchString":"id","joinMode":"enrichInput2","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1616,-112],"id":"5eda7d96-b56d-4c01-93ac-f863f9d0a675","name":"Merge"},{"parameters":{"jsCode":"// Pega todos os itens da entrada do nó no n8n\nconst items = $input.all();\n\n// Regex para identificar mensagens fora de escopo (sociais, importação, contatos específicos, vagas, links)\nconst regexFiltro = /(^\\s*(bom dia|boa tarde|boa noite|obrigado|obrigada|muito obrigado)[.,!?\\s]*$)|(\\b(exterior|importa[çc][ãa]o|importar)\\b)|(\\bcontato\\s+(comercial|de\\s+vendedor)\\b|\\bvendedor\\s+(da|do)\\b)|(\\b(vaga[s]?|oportunidade\\s+aberta|clt|sal[áa]rio)\\b)|(https?:\\/\\/|www\\.)/i;\n\n// Mapeia e atualiza cada item do input\nreturn items.map(item => {\n    // Garante que estamos lendo a mensagem corretamente, evitando erros se o campo não existir\n    const mensagem = item.json.message || \"\";\n    \n    // Testa se a mensagem aciona alguma das regras do Regex\n    if (regexFiltro.test(mensagem)) {\n        // Classifica como ignorar direto no n8n, poupando o agente\n        item.json.intencao = \"ignorar\";\n        item.json.motivo_regex = \"Bloqueado na triagem rápida (Social, Importação, Vaga, Link ou Contato específico)\";\n    } else {\n        // Classifica como 'analisar' para que um nó de Switch (ou IF) envie para o LLM\n        item.json.intencao = \"analisar\";\n    }\n    \n    return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,-32],"id":"18c1d7e6-1328-4d1e-85dc-99b6fcb17c8a","name":"Code in JavaScript"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.intencao }}","rightValue":"analisar","operator":{"type":"string","operation":"equals"},"id":"2eafad29-a759-43ea-b093-43643013d599"}],"combinator":"and"},"renameOutput":true,"outputKey":"Analisar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"737ebf9e-5557-41e5-91ea-6c319b251006","leftValue":"={{ $json.intencao }}","rightValue":"ignorar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignorar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-560,-32],"id":"3a06c1f1-f6e3-457d-a7f5-3d1c09d47a3d","name":"Filtro - Regex"},{"parameters":{"operation":"push","list":"={{ $('Trigger').item.json.Number }}@s.whatsapp.net","messageData":"=Agent:{{ $json.data.message.conversation }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2432,-704],"id":"aa72d866-01e5-4293-8c1b-9b044d48cb94","name":"Insere-Memoria1","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"workflowId":{"__rl":true,"value":"R7tS2Bx9EA1YgW0o","mode":"list","cachedResultUrl":"/workflow/R7tS2Bx9EA1YgW0o","cachedResultName":"send_user_message"},"workflowInputs":{"mappingMode":"defineBelow","value":{"contexto":"={{ $json.parametros.descricao }}","resultados":"={{ $json.resultados }}","nome":"={{ $('When Executed by Another Workflow').item.json.nome }}","url":"={{ $('Call \\'Registrar Conta Whatsapp\\'1').item.json.completar_cadastro_url }}","telefone":"={{ $json.telefone }}"},"matchingColumns":[],"schema":[{"id":"contexto","displayName":"contexto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resultados","displayName":"resultados","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1808,-112],"id":"287a106d-60a9-40b9-bd53-0c24d16c12fa","name":"Call 'send_user_message'"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Scouter_manager":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Enviar texto","type":"main","index":0}],[{"node":"NADA","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Scouter_manager","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Call 'Registrar Conta Whatsapp'1":{"main":[[{"node":"Call 'Busca Whatsapp'1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Call 'Busca Whatsapp'1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Send message and wait for approve","type":"main","index":0}]]},"Enviar texto1":{"main":[[]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Scouter_manager","type":"ai_outputParser","index":0}]]},"Edit Fields2":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}],[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Enviar texto3","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Enviar texto3":{"main":[[{"node":"Insere-Memoria1","type":"main","index":0}]]},"Send message and wait for approve":{"main":[[{"node":"Call 'Registrar Conta Whatsapp'1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Enviar texto5","type":"main","index":0}]]},"Enviar texto5":{"main":[[{"node":"Insere-Memoria1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Call 'send_user_message'","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Filtro - Regex","type":"main","index":0}]]},"Filtro - Regex":{"main":[[{"node":"Scouter_manager","type":"main","index":0}],[]]}},"authors":"ABC  advise","name":"Version 89515106","description":"","autosaved":false},"tags":[]}