group-scouter-MUzHBYEABOTpUBhV.json
{"updatedAt":"2026-04-29T18:28:29.656Z","createdAt":"2026-04-23T14:59:19.681Z","id":"MUzHBYEABOTpUBhV","name":"Group Scouter","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"message"},{"name":"nome"},{"name":"numero"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-480,-48],"id":"8bc1d7da-8593-4252-921e-4564e25d2280","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"=Papel do Agente\n\nVocê é um classificador de mensagens de grupos de WhatsApp.\n\nSua função é identificar se uma mensagem indica **intenção de buscar fornecedores, produtos ou serviços**.\n\n---\n\nObjetivo\n\nClassificar cada mensagem em uma das categorias:\n\n* `buscar` → quando há indício de que o usuário quer encontrar fornecedor, produto ou serviço\n* `ignorar` → quando não há intenção de busca\n\n---\n\nFormato de Saída (OBRIGATÓRIO)\n\nResponda **sempre e apenas** com JSON válido:\n\n\n{\n  \"intencao\": \"buscar | ignorar\",\n  \"confianca\": 0.0,\n  \"motivo\": \"string curta explicando a decisão\"\n}\n---\n\nDefinição de “intenção de busca”\n\nConsidere como `buscar` quando a mensagem contém:\n\n1. Pedido explícito\n\n* “alguém conhece…”\n* “preciso de…”\n* “indicação de…”\n* “fornecedor de…”\n* “onde encontro…”\n\n2. Pedido implícito (muito importante)\n\n* dúvidas que indicam necessidade de compra ou contratação\n* busca por soluções\n\nExemplos:\n\n* “quero começar a vender roupa, onde consigo fornecedor?”\n* “tô procurando quem venda mármore em grande quantidade”\n* “preciso comprar embalagens para minha loja”\n\n---\n\nDefinição de “ignorar”\n\nClassifique como `ignorar` quando:\n\n1. Mensagens sociais\n\n* “bom dia”\n* “boa tarde”\n* “alguém aí?”\n* “kkk”\n\n2. Conversas genéricas\n\n* opiniões\n* comentários\n* respostas a outros usuários\n\n3. Mensagens fora de contexto\n\n* política\n* memes\n* assuntos pessoais\n\n---\n\nRegras de Decisão (CRÍTICAS)\n\n1. **Prefira precisão > recall**\n\n   * Se houver dúvida → `ignorar`\n\n2. A mensagem precisa indicar **intenção acionável**\n\n   * Apenas mencionar um produto NÃO é suficiente\n\n3. Mensagens muito vagas → `ignorar`\n\n   * Ex: “quero comprar algo”\n\n4. Perguntas são fortes sinais de busca, mas nem todas são\n\n   * Ex: “isso é bom?” → ignorar\n   * Ex: “onde comprar isso?” → buscar\n\n---\n\nEscala de Confiança\n\n* `0.9 – 1.0` → intenção clara e direta\n* `0.7 – 0.8` → forte indício\n* `0.5 – 0.6` → ambíguo\n* `< 0.5` → fraco (provavelmente ignorar)\n\n---\n\nExemplos\n\nBuscar\n\nEntrada:\n\n> “Fala galera, alguém conhece um fornecedor bom de portas e janelas para construção?”\n\n\n{\n  \"intencao\": \"buscar\",\n  \"confianca\": 0.95,\n  \"motivo\": \"pedido explícito de fornecedor\"\n}\n\n\n---\n\nEntrada:\n\n> “preciso de distribuidor de doces pra revenda”\n\n\n{\n  \"intencao\": \"buscar\",\n  \"confianca\": 0.9,\n  \"motivo\": \"intenção clara de encontrar fornecedor\"\n}\n\n\n---\n\nIgnorar\n\nEntrada:\n\n> “Bom dia!”\n\n\n{\n  \"intencao\": \"ignorar\",\n  \"confianca\": 0.99,\n  \"motivo\": \"mensagem social\"\n}\n\n\n---\n\nEntrada:\n\n> “isso vale a pena?”\n\n\n{\n  \"intencao\": \"ignorar\",\n  \"confianca\": 0.7,\n  \"motivo\": \"pergunta sem contexto de busca\"\n}\n\n\n---\n\nEntrada:\n\n> “kkk verdade”\n\n\n{\n  \"intencao\": \"ignorar\",\n  \"confianca\": 0.99,\n  \"motivo\": \"mensagem irrelevante\"\n}\n\n\n---\n\nHeurística Final (Checklist interno)\n\nAntes de responder, valide:\n\n* Existe intenção de encontrar fornecedor/produto?\n* A mensagem é acionável?\n* Um humano responderia com uma indicação?\n\nSe qualquer resposta for “não” → `ignorar`\n\n---\n\nRestrições\n\n* Não explique além do campo `motivo`\n* Não escreva texto fora do JSON\n* Não invente contexto\n* Não responda como chatbot — apenas classifique\n\n---\n\nUso em pipeline\n\nSaída esperada:\n\n* `buscar` → segue para agente de busca\n* `ignorar` → encerra fluxo\n\n---\n\nSe quiser, o próximo passo é criar:\n\n* um **segundo agente que extrai a query automaticamente**\n* ou um **classificador + extrator em um único prompt (mais eficiente, porém mais sensível a erro)**\n\nPosso te montar os dois cenários."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-272,-48],"id":"945d8e1b-8cf6-4152-a555-04349b2a2fa3","name":"Scouter_manager"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.intencao }}","rightValue":"=buscar","operator":{"type":"string","operation":"equals"},"id":"576b5cc2-65b3-467e-a671-628ac47d660a"}],"combinator":"and"},"renameOutput":true,"outputKey":"Buscar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f4f83811-c9ed-475f-af01-f1095b2abda3","leftValue":"={{ $json.output.intencao }}","rightValue":"ignorar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignorar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[496,-48],"id":"429ab488-3673-406e-a1ab-3d138e1e31d8","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"dfzSiOV2FBfv6ZFs","mode":"list","cachedResultUrl":"/workflow/dfzSiOV2FBfv6ZFs","cachedResultName":"Registrar Conta Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nome":"={{ $('When Executed by Another Workflow').item.json.nome }}","numero":"={{ $('When Executed by Another Workflow').item.json.numero }}"},"matchingColumns":[],"schema":[{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[240,-640],"id":"39815a86-717b-4860-8c9c-70b498b00b47","name":"Call 'Registrar Conta Whatsapp'"},{"parameters":{"workflowId":{"__rl":true,"value":"P5glDm8v5AZwgudn","mode":"list","cachedResultUrl":"/workflow/P5glDm8v5AZwgudn","cachedResultName":"Busca Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $json.user_id }}","query":"={{ $('When Executed by Another Workflow').item.json.message }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[432,-640],"id":"735747e5-ba44-4ed3-ac89-6c5329eeb0a6","name":"Call 'Busca Whatsapp'"},{"parameters":{"resource":"messages-api","instanceName":"busca_fornecedor_cel1","remoteJid":"553599195960","messageText":"={{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1488,-144],"id":"6c8084f2-5738-482b-9be7-502c93271b54","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"24d7b779-8ea2-459b-81a0-43c9058bda49","name":"output","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,-48],"id":"e8bf9d25-b7f1-4713-8595-fbdfb1690c7b","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-336,96],"id":"565f84a3-756e-44f5-8c97-868b19707da7","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b20790e3-4a3d-421e-b3b1-bba131b49373","leftValue":"={{ $json.output.confianca }}","rightValue":0.6,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[256,-48],"id":"793ebe48-5a29-4aa8-98e6-e26dbd373423","name":"Filter"},{"parameters":{"content":"## Group Scouter (Agent)\n\n- Analisa mensagens vindas de Grupos.\n- Identifica Mensagens voltadas para busca de fornecedores.\n\n\n","height":432,"width":1184,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-528,-208],"id":"49a68822-d90d-4f9c-a4fc-94cb27209772","name":"Sticky Note2"},{"parameters":{"content":"## Group Scouter: Módulo de Resposta\n\n- Cria uma conta incompleta para o usuário.\n- Realiza uma busca, mostrando apenas 2 dos resultados retornados.\n\n\n","height":464,"width":1008,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[672,-288],"id":"d3f562e7-c8b3-4154-ab97-76e4f5666fba","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"1b92ef57-85ad-4d6e-b3b2-09b80ecf1c4f","name":"contexto","value":"={{ $json.parametros.descricao }}","type":"string"},{"id":"ef3eecf5-5b46-460f-b04e-d30bd1b6797c","name":"nome","value":"Felipe","type":"string"},{"id":"db904fe9-ac62-47d3-a31c-1a9c0e75a16e","name":"resultados","value":"={{ $json.resultados }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,-144],"id":"d697d616-74be-474d-8a29-00a3214e9c78","name":"set_result"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[720,32],"id":"bd0a4245-d540-4206-9fb5-9a12f0ee9159","name":"NADA"},{"parameters":{"content":"## Group Scouter\n\n- Entra em Grupos de Compra\n- Identifica Mensagens voltadas para busca de fornecedores.\n- Realiza a busca e envia o resultado para o usuário.\n\n\n","height":192,"width":304,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-528,-416],"id":"1545972a-32fc-4c2d-9daf-b04632f76cb6","name":"Sticky Note3"},{"parameters":{"jsCode":"const data = items[0].json;\n\n// 🔹 Nome\nconst nomeUsuario = data.nome || \"\";\n\n// 🔹 Contexto\nconst contexto = data.contexto || \"\";\n\n// 🔹 Resultados\nconst resultados = data.resultados || [];\n\n// 🔹 Código OTP (6 dígitos)\nconst codigo = data.codigo || \"\";\n\n// 🔹 URL para completar cadastro\nconst completarCadastroUrl = data.completar_cadastro_url || \"\";\n\n// 🔹 Número\nconst numero = data.telefone || data.numero;\n\n// 🔹 Saudação\nconst saudacao = nomeUsuario ? `Oi, ${nomeUsuario}!` : \"Oi!\";\n\n// 🔹 Ordenação por nota\nconst ordenados = [...resultados].sort(\n  (a, b) => (b?.item?.nota ?? 0) - (a?.item?.nota ?? 0)\n);\n\n// 🔹 Top 2 fornecedores\nconst topDois = ordenados.slice(0, 2);\nconst totalRestante = Math.max(ordenados.length - topDois.length, 0);\n\n// 🔹 Monta lista dos 2 primeiros\nlet listaFornecedores = \"\";\ntopDois.forEach((r, i) => {\n  const item = r?.item || {};\n  const nome = item.razao_social || \"Fornecedor\";\n  const modelo = item.modelo_negocio ? ` — ${item.modelo_negocio}` : \"\";\n  const site = item.site ? `\\n${item.site}` : \"\";\n  listaFornecedores += `\\n\\n${i + 1}. *${nome}*${modelo}${site}`;\n});\n\n// 🔹 Mensagem\nlet mensagem = `${saudacao} Aqui é do BuscaFornecedor.`;\n\nif (contexto) {\n  mensagem += `\\n\\nSeparei alguns fornecedores pra \"${contexto}\". Dois que se destacaram:`;\n} else {\n  mensagem += `\\n\\nSeparei alguns fornecedores pra você. Dois que se destacaram:`;\n}\n\nmensagem += listaFornecedores;\n\nif (totalRestante > 0) {\n  mensagem += `\\n\\nTem mais ${totalRestante} no site, com contato e detalhes completos. Dá uma olhada por lá:`;\n} else {\n  mensagem += `\\n\\nNo site você vê os contatos e detalhes completos. Dá uma olhada:`;\n}\n\nmensagem += `\\n\\nSeu código é *${codigo}*\\n${completarCadastroUrl}\\n\\n(o código vale por 15 minutos)\\n\\nQualquer coisa, pode me chamar por aqui.`;\n\n// 🔹 Retorno\nreturn [\n  {\n    json: {\n      number: numero,\n      text: mensagem\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,-144],"id":"4ab52180-664a-4a26-a67d-c29575eec05b","name":"Code in JavaScript"},{"parameters":{"workflowId":{"__rl":true,"value":"dfzSiOV2FBfv6ZFs","mode":"list","cachedResultUrl":"/workflow/dfzSiOV2FBfv6ZFs","cachedResultName":"Registrar Conta Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero":"={{ $('When Executed by Another Workflow').item.json.numero }}","nome":"={{ $('When Executed by Another Workflow').item.json.nome }}"},"matchingColumns":[],"schema":[{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[736,-144],"id":"80ba4cec-e406-4bb8-bfec-b874e318705d","name":"Call 'Registrar Conta Whatsapp'1"},{"parameters":{"workflowId":{"__rl":true,"value":"P5glDm8v5AZwgudn","mode":"list","cachedResultUrl":"/workflow/P5glDm8v5AZwgudn","cachedResultName":"Busca Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $json.user_id }}","query":"={{ $('When Executed by Another Workflow').item.json.message }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[928,-144],"id":"c02c86a9-fe02-4abe-9df3-a8911224c88d","name":"Call 'Busca Whatsapp'1","alwaysOutputData":true}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Scouter_manager","type":"main","index":0}]]},"Scouter_manager":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Call 'Registrar Conta Whatsapp'1","type":"main","index":0}],[{"node":"NADA","type":"main","index":0}]]},"Call 'Registrar Conta Whatsapp'":{"main":[[{"node":"Call 'Busca Whatsapp'","type":"main","index":0}]]},"Call 'Busca Whatsapp'":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Scouter_manager","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Switch","type":"main","index":0}]]},"set_result":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"Call 'Registrar Conta Whatsapp'1":{"main":[[{"node":"Call 'Busca Whatsapp'1","type":"main","index":0}]]},"Call 'Busca Whatsapp'1":{"main":[[{"node":"set_result","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"message":"Algúme conhece um bom fornecedor de Carne?","nome":"Felipe","numero":"553599195960"},"pairedItem":{"item":0}}],"Scouter_manager":[{"json":{"output":"{\n  \"intencao\": \"buscar\",\n  \"confianca\": 0.9,\n  \"motivo\": \"pedido explícito de fornecedor\"\n}"},"pairedItem":{"item":0}}]},"versionId":"d7e62c33-5776-49ce-b244-3d6651dac3d3","activeVersionId":"d7e62c33-5776-49ce-b244-3d6651dac3d3","triggerCount":0,"shared":[{"updatedAt":"2026-04-23T14:59:19.681Z","createdAt":"2026-04-23T14:59:19.681Z","role":"workflow:owner","workflowId":"MUzHBYEABOTpUBhV","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-04-29T18:28:25.258Z","createdAt":"2026-04-29T18:25:18.888Z","versionId":"d7e62c33-5776-49ce-b244-3d6651dac3d3","workflowId":"MUzHBYEABOTpUBhV","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"message"},{"name":"nome"},{"name":"numero"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-480,-48],"id":"8bc1d7da-8593-4252-921e-4564e25d2280","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"=Papel do Agente\n\nVocê é um classificador de mensagens de grupos de WhatsApp.\n\nSua função é identificar se uma mensagem indica **intenção de buscar fornecedores, produtos ou serviços**.\n\n---\n\nObjetivo\n\nClassificar cada mensagem em uma das categorias:\n\n* `buscar` → quando há indício de que o usuário quer encontrar fornecedor, produto ou serviço\n* `ignorar` → quando não há intenção de busca\n\n---\n\nFormato de Saída (OBRIGATÓRIO)\n\nResponda **sempre e apenas** com JSON válido:\n\n\n{\n  \"intencao\": \"buscar | ignorar\",\n  \"confianca\": 0.0,\n  \"motivo\": \"string curta explicando a decisão\"\n}\n---\n\nDefinição de “intenção de busca”\n\nConsidere como `buscar` quando a mensagem contém:\n\n1. Pedido explícito\n\n* “alguém conhece…”\n* “preciso de…”\n* “indicação de…”\n* “fornecedor de…”\n* “onde encontro…”\n\n2. Pedido implícito (muito importante)\n\n* dúvidas que indicam necessidade de compra ou contratação\n* busca por soluções\n\nExemplos:\n\n* “quero começar a vender roupa, onde consigo fornecedor?”\n* “tô procurando quem venda mármore em grande quantidade”\n* “preciso comprar embalagens para minha loja”\n\n---\n\nDefinição de “ignorar”\n\nClassifique como `ignorar` quando:\n\n1. Mensagens sociais\n\n* “bom dia”\n* “boa tarde”\n* “alguém aí?”\n* “kkk”\n\n2. Conversas genéricas\n\n* opiniões\n* comentários\n* respostas a outros usuários\n\n3. Mensagens fora de contexto\n\n* política\n* memes\n* assuntos pessoais\n\n---\n\nRegras de Decisão (CRÍTICAS)\n\n1. **Prefira precisão > recall**\n\n   * Se houver dúvida → `ignorar`\n\n2. A mensagem precisa indicar **intenção acionável**\n\n   * Apenas mencionar um produto NÃO é suficiente\n\n3. Mensagens muito vagas → `ignorar`\n\n   * Ex: “quero comprar algo”\n\n4. Perguntas são fortes sinais de busca, mas nem todas são\n\n   * Ex: “isso é bom?” → ignorar\n   * Ex: “onde comprar isso?” → buscar\n\n---\n\nEscala de Confiança\n\n* `0.9 – 1.0` → intenção clara e direta\n* `0.7 – 0.8` → forte indício\n* `0.5 – 0.6` → ambíguo\n* `< 0.5` → fraco (provavelmente ignorar)\n\n---\n\nExemplos\n\nBuscar\n\nEntrada:\n\n> “Fala galera, alguém conhece um fornecedor bom de portas e janelas para construção?”\n\n\n{\n  \"intencao\": \"buscar\",\n  \"confianca\": 0.95,\n  \"motivo\": \"pedido explícito de fornecedor\"\n}\n\n\n---\n\nEntrada:\n\n> “preciso de distribuidor de doces pra revenda”\n\n\n{\n  \"intencao\": \"buscar\",\n  \"confianca\": 0.9,\n  \"motivo\": \"intenção clara de encontrar fornecedor\"\n}\n\n\n---\n\nIgnorar\n\nEntrada:\n\n> “Bom dia!”\n\n\n{\n  \"intencao\": \"ignorar\",\n  \"confianca\": 0.99,\n  \"motivo\": \"mensagem social\"\n}\n\n\n---\n\nEntrada:\n\n> “isso vale a pena?”\n\n\n{\n  \"intencao\": \"ignorar\",\n  \"confianca\": 0.7,\n  \"motivo\": \"pergunta sem contexto de busca\"\n}\n\n\n---\n\nEntrada:\n\n> “kkk verdade”\n\n\n{\n  \"intencao\": \"ignorar\",\n  \"confianca\": 0.99,\n  \"motivo\": \"mensagem irrelevante\"\n}\n\n\n---\n\nHeurística Final (Checklist interno)\n\nAntes de responder, valide:\n\n* Existe intenção de encontrar fornecedor/produto?\n* A mensagem é acionável?\n* Um humano responderia com uma indicação?\n\nSe qualquer resposta for “não” → `ignorar`\n\n---\n\nRestrições\n\n* Não explique além do campo `motivo`\n* Não escreva texto fora do JSON\n* Não invente contexto\n* Não responda como chatbot — apenas classifique\n\n---\n\nUso em pipeline\n\nSaída esperada:\n\n* `buscar` → segue para agente de busca\n* `ignorar` → encerra fluxo\n\n---\n\nSe quiser, o próximo passo é criar:\n\n* um **segundo agente que extrai a query automaticamente**\n* ou um **classificador + extrator em um único prompt (mais eficiente, porém mais sensível a erro)**\n\nPosso te montar os dois cenários."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-272,-48],"id":"945d8e1b-8cf6-4152-a555-04349b2a2fa3","name":"Scouter_manager"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.intencao }}","rightValue":"=buscar","operator":{"type":"string","operation":"equals"},"id":"576b5cc2-65b3-467e-a671-628ac47d660a"}],"combinator":"and"},"renameOutput":true,"outputKey":"Buscar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f4f83811-c9ed-475f-af01-f1095b2abda3","leftValue":"={{ $json.output.intencao }}","rightValue":"ignorar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignorar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[496,-48],"id":"429ab488-3673-406e-a1ab-3d138e1e31d8","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"dfzSiOV2FBfv6ZFs","mode":"list","cachedResultUrl":"/workflow/dfzSiOV2FBfv6ZFs","cachedResultName":"Registrar Conta Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nome":"={{ $('When Executed by Another Workflow').item.json.nome }}","numero":"={{ $('When Executed by Another Workflow').item.json.numero }}"},"matchingColumns":[],"schema":[{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[240,-640],"id":"39815a86-717b-4860-8c9c-70b498b00b47","name":"Call 'Registrar Conta Whatsapp'"},{"parameters":{"workflowId":{"__rl":true,"value":"P5glDm8v5AZwgudn","mode":"list","cachedResultUrl":"/workflow/P5glDm8v5AZwgudn","cachedResultName":"Busca Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $json.user_id }}","query":"={{ $('When Executed by Another Workflow').item.json.message }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[432,-640],"id":"735747e5-ba44-4ed3-ac89-6c5329eeb0a6","name":"Call 'Busca Whatsapp'"},{"parameters":{"resource":"messages-api","instanceName":"busca_fornecedor_cel1","remoteJid":"553599195960","messageText":"={{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1488,-144],"id":"6c8084f2-5738-482b-9be7-502c93271b54","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"24d7b779-8ea2-459b-81a0-43c9058bda49","name":"output","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,-48],"id":"e8bf9d25-b7f1-4713-8595-fbdfb1690c7b","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-336,96],"id":"565f84a3-756e-44f5-8c97-868b19707da7","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b20790e3-4a3d-421e-b3b1-bba131b49373","leftValue":"={{ $json.output.confianca }}","rightValue":0.6,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[256,-48],"id":"793ebe48-5a29-4aa8-98e6-e26dbd373423","name":"Filter"},{"parameters":{"content":"## Group Scouter (Agent)\n\n- Analisa mensagens vindas de Grupos.\n- Identifica Mensagens voltadas para busca de fornecedores.\n\n\n","height":432,"width":1184,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-528,-208],"id":"49a68822-d90d-4f9c-a4fc-94cb27209772","name":"Sticky Note2"},{"parameters":{"content":"## Group Scouter: Módulo de Resposta\n\n- Cria uma conta incompleta para o usuário.\n- Realiza uma busca, mostrando apenas 2 dos resultados retornados.\n\n\n","height":464,"width":1008,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[672,-288],"id":"d3f562e7-c8b3-4154-ab97-76e4f5666fba","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"1b92ef57-85ad-4d6e-b3b2-09b80ecf1c4f","name":"contexto","value":"={{ $json.parametros.descricao }}","type":"string"},{"id":"ef3eecf5-5b46-460f-b04e-d30bd1b6797c","name":"nome","value":"Felipe","type":"string"},{"id":"db904fe9-ac62-47d3-a31c-1a9c0e75a16e","name":"resultados","value":"={{ $json.resultados }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,-144],"id":"d697d616-74be-474d-8a29-00a3214e9c78","name":"set_result"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[720,32],"id":"bd0a4245-d540-4206-9fb5-9a12f0ee9159","name":"NADA"},{"parameters":{"content":"## Group Scouter\n\n- Entra em Grupos de Compra\n- Identifica Mensagens voltadas para busca de fornecedores.\n- Realiza a busca e envia o resultado para o usuário.\n\n\n","height":192,"width":304,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-528,-416],"id":"1545972a-32fc-4c2d-9daf-b04632f76cb6","name":"Sticky Note3"},{"parameters":{"jsCode":"const data = items[0].json;\n\n// 🔹 Nome\nconst nomeUsuario = data.nome || \"\";\n\n// 🔹 Contexto\nconst contexto = data.contexto || \"\";\n\n// 🔹 Resultados\nconst resultados = data.resultados || [];\n\n// 🔹 Código OTP (6 dígitos)\nconst codigo = data.codigo || \"\";\n\n// 🔹 URL para completar cadastro\nconst completarCadastroUrl = data.completar_cadastro_url || \"\";\n\n// 🔹 Número\nconst numero = data.telefone || data.numero;\n\n// 🔹 Saudação\nconst saudacao = nomeUsuario ? `Oi, ${nomeUsuario}!` : \"Oi!\";\n\n// 🔹 Ordenação por nota\nconst ordenados = [...resultados].sort(\n  (a, b) => (b?.item?.nota ?? 0) - (a?.item?.nota ?? 0)\n);\n\n// 🔹 Top 2 fornecedores\nconst topDois = ordenados.slice(0, 2);\nconst totalRestante = Math.max(ordenados.length - topDois.length, 0);\n\n// 🔹 Monta lista dos 2 primeiros\nlet listaFornecedores = \"\";\ntopDois.forEach((r, i) => {\n  const item = r?.item || {};\n  const nome = item.razao_social || \"Fornecedor\";\n  const modelo = item.modelo_negocio ? ` — ${item.modelo_negocio}` : \"\";\n  const site = item.site ? `\\n${item.site}` : \"\";\n  listaFornecedores += `\\n\\n${i + 1}. *${nome}*${modelo}${site}`;\n});\n\n// 🔹 Mensagem\nlet mensagem = `${saudacao} Aqui é do BuscaFornecedor.`;\n\nif (contexto) {\n  mensagem += `\\n\\nSeparei alguns fornecedores pra \"${contexto}\". Dois que se destacaram:`;\n} else {\n  mensagem += `\\n\\nSeparei alguns fornecedores pra você. Dois que se destacaram:`;\n}\n\nmensagem += listaFornecedores;\n\nif (totalRestante > 0) {\n  mensagem += `\\n\\nTem mais ${totalRestante} no site, com contato e detalhes completos. Dá uma olhada por lá:`;\n} else {\n  mensagem += `\\n\\nNo site você vê os contatos e detalhes completos. Dá uma olhada:`;\n}\n\nmensagem += `\\n\\nSeu código é *${codigo}*\\n${completarCadastroUrl}\\n\\n(o código vale por 15 minutos)\\n\\nQualquer coisa, pode me chamar por aqui.`;\n\n// 🔹 Retorno\nreturn [\n  {\n    json: {\n      number: numero,\n      text: mensagem\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,-144],"id":"4ab52180-664a-4a26-a67d-c29575eec05b","name":"Code in JavaScript"},{"parameters":{"workflowId":{"__rl":true,"value":"dfzSiOV2FBfv6ZFs","mode":"list","cachedResultUrl":"/workflow/dfzSiOV2FBfv6ZFs","cachedResultName":"Registrar Conta Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero":"={{ $('When Executed by Another Workflow').item.json.numero }}","nome":"={{ $('When Executed by Another Workflow').item.json.nome }}"},"matchingColumns":[],"schema":[{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[736,-144],"id":"80ba4cec-e406-4bb8-bfec-b874e318705d","name":"Call 'Registrar Conta Whatsapp'1"},{"parameters":{"workflowId":{"__rl":true,"value":"P5glDm8v5AZwgudn","mode":"list","cachedResultUrl":"/workflow/P5glDm8v5AZwgudn","cachedResultName":"Busca Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $json.user_id }}","query":"={{ $('When Executed by Another Workflow').item.json.message }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[928,-144],"id":"c02c86a9-fe02-4abe-9df3-a8911224c88d","name":"Call 'Busca Whatsapp'1","alwaysOutputData":true}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Scouter_manager","type":"main","index":0}]]},"Scouter_manager":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Call 'Registrar Conta Whatsapp'1","type":"main","index":0}],[{"node":"NADA","type":"main","index":0}]]},"Call 'Registrar Conta Whatsapp'":{"main":[[{"node":"Call 'Busca Whatsapp'","type":"main","index":0}]]},"Call 'Busca Whatsapp'":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Scouter_manager","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Switch","type":"main","index":0}]]},"set_result":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"Call 'Registrar Conta Whatsapp'1":{"main":[[{"node":"Call 'Busca Whatsapp'1","type":"main","index":0}]]},"Call 'Busca Whatsapp'1":{"main":[[{"node":"set_result","type":"main","index":0}]]}},"authors":"ABC  advise","name":"Version d7e62c33","description":"","autosaved":true},"tags":[]}