limba_buffer-XPAmlBVnNazyg97U.json
{"updatedAt":"2026-04-28T17:53:45.698Z","createdAt":"2026-04-28T17:08:22.154Z","id":"XPAmlBVnNazyg97U","name":"Limba_buffer","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"keys","keyPattern":"*@*","getValues":false},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[192,0],"id":"89e4c9f8-ceb1-4cb8-9b10-39acc9750ffe","name":"push_on_tail","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"fieldToSplitOut":"keys","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[400,0],"id":"75a4a815-edd4-4604-a056-866c4a61c264","name":"Split Out"},{"parameters":{"operation":"delete","key":"={{ $json.keys }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[608,0],"id":"dd9f5fd2-939f-411e-b6e5-2d429d471dca","name":"push_on_tail1","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"rule":{"interval":[{"daysInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"d98cf50b-8993-4ac5-a9df-171374521194","name":"Schedule Trigger"},{"parameters":{"content":"## Limpeza Agendada\n- A cada 3 dias, o fluxo roda, excluindo do banco todas as keys que caibam no regex: * @ *\n","height":272,"width":880,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,-112],"id":"5b39ddcd-f8c9-49f5-ad76-5f997b505be5","name":"Sticky Note"},{"parameters":{"content":"### (Tool) Limpa Buffer\n- Limpa os valores da keys presentes no banco redis, excluindo mensagens e conversas antigas\n\n\n","height":96,"width":304,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,-224],"id":"8747f4c9-1c56-4dff-a5a6-ecaabb6fc010","name":"Sticky Note8"}],"connections":{"push_on_tail":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"push_on_tail1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"push_on_tail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[119]}},"meta":null,"pinData":{},"versionId":"5147ca67-cb80-4b9b-b5bc-88b5886d0434","activeVersionId":"309cf530-c081-481d-9680-62c2c8d0e8c2","triggerCount":1,"shared":[{"updatedAt":"2026-04-28T17:08:22.154Z","createdAt":"2026-04-28T17:08:22.154Z","role":"workflow:owner","workflowId":"XPAmlBVnNazyg97U","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-04-28T17:27:35.209Z","createdAt":"2026-04-28T17:27:31.841Z","versionId":"309cf530-c081-481d-9680-62c2c8d0e8c2","workflowId":"XPAmlBVnNazyg97U","nodes":[{"parameters":{"operation":"keys","keyPattern":"*@*","getValues":false},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[192,0],"id":"89e4c9f8-ceb1-4cb8-9b10-39acc9750ffe","name":"push_on_tail","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"fieldToSplitOut":"keys","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[400,0],"id":"75a4a815-edd4-4604-a056-866c4a61c264","name":"Split Out"},{"parameters":{"operation":"delete","key":"={{ $json.keys }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[608,0],"id":"dd9f5fd2-939f-411e-b6e5-2d429d471dca","name":"push_on_tail1","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"rule":{"interval":[{"daysInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"d98cf50b-8993-4ac5-a9df-171374521194","name":"Schedule Trigger"},{"parameters":{"content":"## Limpeza Agendada\n- A cada 3 dias, o fluxo roda, excluindo do banco todas as keys que caibam no regex: * @ *\n","height":272,"width":880,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,-112],"id":"5b39ddcd-f8c9-49f5-ad76-5f997b505be5","name":"Sticky Note"}],"connections":{"push_on_tail":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"push_on_tail1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"push_on_tail","type":"main","index":0}]]}},"authors":"ABC  advise","name":"Version 309cf530","description":"","autosaved":true},"tags":[]}