limpa-buffer-BIvWjqL0o3WgFJ1u.json
{"updatedAt":"2026-01-21T18:00:31.641Z","createdAt":"2025-12-12T17:33:21.068Z","id":"BIvWjqL0o3WgFJ1u","name":"Limpa-Buffer","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","weeksInterval":2,"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"d8f558a1-2b3d-41c2-a6bf-e561a993fe95","name":"Schedule Trigger"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"consultas","mode":"list","cachedResultName":"consultas"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,0],"id":"0ea35d0d-951c-4943-92a0-560ab5fcfe43","name":"Select rows from a table","credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"operation":"getAll"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,208],"id":"e5b4b631-101d-41b0-9c47-6f96c020afdf","name":"Get many rows","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a58ec49f-7ecd-43bc-a6fe-ee58d2cbc894","leftValue":"={{ $json.created_at }}","rightValue":"={{ $now.minus(1,'month') }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[416,0],"id":"de155108-6463-462c-b6f6-563de3508da5","name":"Filter"},{"parameters":{"assignments":{"assignments":[{"id":"f05e1c90-3ec8-462c-b0f3-0d333527ef52","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,0],"id":"9a67b4ae-9edf-4564-ba03-fe43de489b4d","name":"Edit Fields"},{"parameters":{"operation":"delete","key":"={{ $json.id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[848,0],"id":"02fd4241-4e97-49d8-b8d9-ba68245b8fb0","name":"Delete","credentials":{"redis":{"id":"e8TEVWEpT7yUTHVI","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"={{ $json.id }}-data"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1056,0],"id":"cc11daaa-d692-4524-b70c-9b1db8ac8100","name":"Delete1","credentials":{"redis":{"id":"e8TEVWEpT7yUTHVI","name":"Redis account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Delete","type":"main","index":0}]]},"Delete":{"main":[[{"node":"Delete1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a2690173-1e57-486f-9d8f-9f8bf828e99c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-12T17:33:21.068Z","createdAt":"2025-12-12T17:33:21.068Z","role":"workflow:owner","workflowId":"BIvWjqL0o3WgFJ1u","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":null,"tags":[{"updatedAt":"2025-11-12T14:33:58.780Z","createdAt":"2025-11-12T14:33:58.780Z","id":"owtp1L6k1Clry14t","name":"scheduled"}]}