main-pr0gjsUvGW8PLnoE.json
{"updatedAt":"2026-04-08T17:32:33.791Z","createdAt":"2025-10-02T13:42:57.638Z","id":"pr0gjsUvGW8PLnoE","name":"Main","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"production","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-4992,-1840],"id":"333411dd-cda0-4774-a7f8-499f86c2d459","name":"Webhook","webhookId":"a45e5681-9cef-4e53-a3e1-0ccfec86480a"},{"parameters":{"content":"## Busca Local","height":224,"width":1040,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2352,-1824],"id":"aa7e14ee-4578-46ce-b0e1-4bde1edfa674","name":"Sticky Note25"},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"get","tableId":"consultas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Webhook').item.json.body.consultaId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[960,-1904],"id":"dd8cbeda-a580-464d-8804-a721440b3cb3","name":"get_result","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"update","tableId":"consultas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.consultaId }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resultados","fieldValue":"={{ $('Aggregate2').item.json.result }}"},{"fieldId":"status","fieldValue":"concluida"},{"fieldId":"uf","fieldValue":"={{ $json.parametros.ufs_selecionadas }}"},{"fieldId":"municipio","fieldValue":"={{ $('set_data_busca').item.json.lista_municipio }}"},{"fieldId":"=execution_id","fieldValue":"={{ $execution.id }}"},{"fieldId":"v_produto","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.produto }}"},{"fieldId":"v_cliente","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.cliente }}"},{"fieldId":"v_servico","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.servico }}"},{"fieldId":"v_descricao","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.descricao }}"},{"fieldId":"v_publico","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.publico }}"},{"fieldId":"bm_25","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.bm25 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1152,-1904],"id":"0860959c-9934-4f96-987f-5b6173ee6cdb","name":"Mostra resultado intermediário1","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"37b79ebe-4d88-4286-ad8f-71f98605e4ad","name":"result.item","value":"={{ $json.item }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1456,-1760],"id":"8dd828e8-e080-4988-be51-a26d5e39712f","name":"set_result"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"result"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[688,-1904],"id":"86187a51-c364-4d40-a080-bc8d59033f6f","name":"Aggregate2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.parametros.tipo_busca }}","rightValue":"=uf","operator":{"type":"string","operation":"equals"},"id":"5ae05424-95d0-4255-9143-db06a0b77429"}],"combinator":"and"},"renameOutput":true,"outputKey":"busca_uf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"df4e5915-07cc-4afb-99a3-2ff13636335c","leftValue":"={{ $json.body.parametros.tipo_busca }}","rightValue":"city","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"busca_cidade"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-4736,-1840],"id":"a3a172a0-317c-4502-b261-5b0f1c133e25","name":"tipo_busca1"},{"parameters":{"fieldToSplitOut":"nearby_cities","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-4256,-1824],"id":"ca60ad11-6b98-4c83-9f99-592c1ed9205a","name":"Split Out3","alwaysOutputData":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"descricao"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3392,-1968],"id":"67ef449e-8692-4d16-86c2-cb2ecc1724d7","name":"Aggregate3","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"3b606833-d2df-4174-a8f3-8bd57c8fffcf","name":"cidades","value":"={{ $('Split Out3').item.json.name.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").replace(/~/g, \"\").toUpperCase() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3840,-1968],"id":"43d3c357-2f3f-419b-bf50-89a078d7eb3e","name":"lista_cidades1"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"get","tableId":"municipio","filters":{"conditions":[{"keyName":"descricao","keyValue":"={{ $json.cidades }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3616,-1968],"id":"c7da4dd3-9ee5-403f-ad0a-9e8d1d9047f8","name":"Get_codes1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-3152,-1856],"id":"28e76834-13ae-4043-9795-bd6d9e20ad6f","name":"Merge6"},{"parameters":{"jsCode":"// Pega todos os itens recebidos\nconst items = $input.all();\n\n// Extrai a UF (últimos 2 caracteres após o hífen)\nconst ufs = items\n  .map(item => {\n    const text = item.json.uf || item.json.cidade_origem || \"\";\n    const match = text.match(/([A-Z]{2})$/);\n    return match ? match[1] : null;\n  })\n  .filter(Boolean); // remove nulos\n\n// Remove duplicadas\nconst ufsUnicas = [...new Set(ufs)];\n\n// Retorna no formato original\nreturn [\n  {\n    json: {\n      ufs_unicas: ufsUnicas\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3616,-1744],"id":"13fbc362-0d7f-495a-be63-fa7ee33e1cb5","name":"set_ufs_unicas1"},{"parameters":{"content":"## Processamento: Encontra cidades dentro de um raio.\n- Atende busca por raio e busca por UF.\n### Busca por raio:\n- Leva em conta uma cidade como ponto de partida.\n- Consulta na api as cidades dentro daquele raio.\n- Lista cidades e UFs presente no raio.\n### Busca por UF:\n- Retorna a lista de UFs especificadas na consulta.","height":496,"width":2662,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5024,-2096],"id":"0b4ae983-1143-457c-a131-6a3b1637e59a","name":"Sticky Note42"},{"parameters":{"content":"## API própria:\n- Encontra cidades dentro de um raio pré-definido","height":256,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4544,-1936],"id":"a3f17b0f-ba1f-42d7-9f82-d8e2ab63b852","name":"Sticky Note43"},{"parameters":{"url":"https://api-busca-cidades-buscafornecedor.up.railway.app/api/cities/nearby","sendQuery":true,"queryParameters":{"parameters":[{"name":"city_name","value":"={{ $json.body.parametros.cidade_origem.replace(/\\s*-\\s*[A-Z]{2}$/, '') }}"},{"name":"radius_km","value":"={{ isNaN(Number($json.body.parametros.raio_km)) || !$json.body.parametros.raio_km? 1 : Number($json.body.parametros.raio_km) + 1}} "},{"name":"uf","value":"={{ $json.body.parametros.cidade_origem.match(/([A-Z]{2})$/)[1] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4480,-1824],"id":"e626d429-e061-4315-81a6-4f0cda496905","name":"acha_cidade1","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"content":"## Busca códigos para as cidades no supabase:","height":272,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3696,-2080],"id":"ab9fd43c-d633-41bd-8d95-c8b47997a615","name":"Sticky Note44"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2080,-1760],"id":"94f6dd56-a3d6-445d-a4df-593254ffc39e","name":"Split Out4","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3034442b-d032-4908-bca5-c10d36945a1f","leftValue":"={{ $json.resultados.length }}","rightValue":4,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1392,-1904],"id":"d7b3e221-4876-4a49-bd10-923ba7159166","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2928,-1872],"id":"5dcf3bd1-47e7-4067-9b39-8c01542f009c","name":"Merge"},{"parameters":{"maxItems":100},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-4048,-1824],"id":"15ccba0d-3015-484b-9821-f18b3b94e09e","name":"Limit"},{"parameters":{"workflowId":{"__rl":true,"value":"HJfvVSvFtu32bPhL","mode":"list","cachedResultUrl":"/workflow/HJfvVSvFtu32bPhL","cachedResultName":"fallback-vetor"},"workflowInputs":{"mappingMode":"defineBelow","value":{"consultaId":"={{ $json.id }}"},"matchingColumns":["consultaId"],"schema":[{"id":"consultaId","displayName":"consultaId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1648,-1920],"id":"984e4828-bd37-45ac-9a77-67f943560443","name":"Call 'fallback-vetor'"},{"parameters":{"workflowId":{"__rl":true,"value":"ALYdM6dEmJdCNNRA","mode":"list","cachedResultUrl":"/workflow/ALYdM6dEmJdCNNRA","cachedResultName":"contador_aparições"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cnpj":"={{ $json.cnpj_basico }}","consultaId":"={{ $('set_data_busca').item.json.consultaId }}","notas":"={{ $json.nota }}"},"matchingColumns":[],"schema":[{"id":"cnpj","displayName":"cnpj","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"consultaId","displayName":"consultaId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"notas","displayName":"notas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1504,-1568],"id":"38cf7ff8-8c03-4ba1-bb88-b72c60b17bb5","name":"Call 'contador_aparições'"},{"parameters":{"workflowId":{"__rl":true,"value":"bphbpiPPgMm5Mhsb","mode":"list","cachedResultUrl":"/workflow/bphbpiPPgMm5Mhsb","cachedResultName":"query_manager"},"workflowInputs":{"mappingMode":"defineBelow","value":{"consulta":"={{ $json.descricao }}"},"matchingColumns":["consulta"],"schema":[{"id":"consulta","displayName":"consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-2576,-1872],"id":"49c1d710-0011-480d-97e3-995b6ac68a95","name":"Call 'query_manager'"},{"parameters":{"content":"## Banco de dados:\n- Soma 1 ao contador de aparições dos cnpjs listados\n- Insere os cnpjs listados na tabela de aparições","height":320,"width":656,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1056,-1712],"id":"5c191a9a-4d5d-40c7-b519-ffca7f4dfe09","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"67239d33-a6aa-4f1c-9f96-984e97694c0d","name":"descricao","value":"={{ $('Webhook').item.json.body.parametros.descricao }}","type":"string"},{"id":"fa440477-dce1-4238-aefb-1de688ba2398","name":"modelo_negocio","value":"={{ $json.body.parametros.modelo_negocio }}","type":"string"},{"id":"86485711-eb18-481b-9098-3f7f50f527ab","name":"ufs_selecionadas","value":"={{ $('Webhook').item.json.body.parametros.ufs_selecionadas || $json.ufs_unicas }}","type":"array"},{"id":"62dac054-7a4b-4b88-bb34-55c4e6a1c04f","name":"consultaId","value":"={{ $('Webhook').item.json.body.consultaId }}","type":"string"},{"id":"e8d9155c-f07e-49cc-9b2d-5e56cd44e33d","name":"lista_municipio","value":"={{ $json.descricao || [] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2752,-1872],"id":"d01353ce-5e17-459e-9bf3-6e21c86cc7a2","name":"set_data_busca"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search?rerank=1","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"servico\":[{{ $json.servico }}],\n    \"produto\":[{{ $json.produto }}],\n    \"descricao\":[{{ $json.descricao }}],\n    \"publico\":[{{ $json.publico }}],\n    \"cliente\":[{{ $json.cliente }}]\n  },\n  \"weights\": {\n    \"servico\": {{ $json.output.peso_servicos }},\n    \"descricao\": {{ $json.output.peso_descricao }},\n    \"publico\": {{ $json.output.peso_publico }},\n    \"cliente\": {{ $json.output.peso_clientes }},\n    \"produto\": {{ $json.output.peso_produtos }},\n    \"bm25\": {{ $json.output.peso_bm25 }}\n\n  },\n  \"filter\": {\n    \"modelo_negocio\": \"\",\n    \"cidade\":\"{{ $('set_data_busca').item.json.lista_municipio || \" \" }}\",\n    \"uf\":\"{{ $('set_data_busca').item.json.ufs_selecionadas || \" \" }}\"\n  },\n  \"filter_not\": {\n    \"descricao\": \"\"\n  },\n  \"limit_per_vector\": 20,\n  \"final_limit\": 10,\n  \"bm25_query\": \"{{ $json.bm25\n  .replace(/[^\\w\\s\\-.,]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n}}\",\n  \"rerank\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2304,-1760],"id":"48f09c9b-6c93-4f8b-b260-957aa3a07cd4","name":"Busca_Vetorial","retryOnFail":true,"maxTries":5},{"parameters":{"jsCode":"function safe(v) {\n  if (v === null || v === undefined) return \"\";\n  return String(v);\n}\n\nconst total = items.length;\n\nreturn items.map((item, index) => {\n  const j = item.json;\n  const payload = j.payload || {};\n\n  let nota = 100;\n\n  if (total > 1) {\n    nota = 100 - (25 * index) / (total - 1);\n  }\n\n  // Arredondamento + clamp\n  nota = Math.round(nota);\n  nota = Math.max(75, Math.min(100, nota));\n\n  return {\n    json: {\n      id: j.id || null,\n      score_final: j.score_final || 0,\n      nota: parseInt(nota),\n\n      cnpj: safe(payload.cnpj),\n      n_exibicoes: j.n_exibicoes || 0,\n      plano_categoria: j.plano_categoria || null,\n\n      full_profile: {\n        identidade: {\n          nome_empresa: safe(payload.nome_empresa),\n          modelo_negocio: safe(payload.modelo_negocio)\n        },\n        contato: {\n          url_site: safe(payload.site),\n          telefones: safe(payload.telefone),\n          emails: safe(payload.email)\n        }\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1872,-1760],"id":"09d80811-3585-410a-9cc4-4910890a172a","name":"Process_Profile"},{"parameters":{"content":"## Em caso de poucos resultados chama o cenário de fallback","height":320,"width":512,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1344,-2048],"id":"4e08c0a9-75bf-4e84-a97f-5837687b91be","name":"Sticky Note26"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search?rerank=1","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"servico\":[{{ $json.servico }}],\n    \"produto\":[{{ $json.produto }}],\n    \"descricao\":[{{ $json.descricao }}],\n    \"publico\":[{{ $json.publico }}],\n    \"cliente\":[{{ $json.cliente }}]\n  },\n  \"weights\": {\n    \"servico\": {{ $json.output.peso_servicos }},\n    \"descricao\": {{ $json.output.peso_descricao }},\n    \"publico\": {{ $json.output.peso_publico }},\n    \"cliente\": {{ $json.output.peso_clientes }},\n    \"produto\": {{ $json.output.peso_produtos }},\n    \"bm25\": {{ $json.output.peso_bm25 }}\n\n  },\n  \"filter\": {\n    \"modelo_negocio\": \"\",\n    \"cidade\":\"\",\n    \"uf\":\"\"\n  },\n  \"filter_not\": {\n    \"descricao\": \"\"\n  },\n  \"limit_per_vector\": 20,\n  \"final_limit\": 2,\n  \"bm25_query\": \"{{ $json.bm25\n  .replace(/[^\\w\\s\\-.,]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n}}\",\n  \"rerank\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2304,-2000],"id":"0dcbfc54-4c24-4806-93da-36c0c80337c5","name":"Busca_Vetorial1","retryOnFail":true,"maxTries":5},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2080,-2000],"id":"ca7c9812-fd76-4ac8-8b4d-671709cabd2e","name":"Split Out","alwaysOutputData":true},{"parameters":{"content":"## Busca Nacional","height":224,"width":1040},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2352,-2064],"id":"87ed31f0-404d-4e4a-b05f-d846f2e7915a","name":"Sticky Note1"},{"parameters":{"jsCode":"function safe(v) {\n  if (v === null || v === undefined) return \"\";\n  return String(v);\n}\n\n// 1. Ordenar resultados pelo score final (descendente)\nconst sorted = [...items].sort(\n  (a, b) => (b.json.score_final || 0) - (a.json.score_final || 0)\n);\n\n// 2. Identificar os extremos para a normalização (Min-Max)\nconst maxScore = sorted[0]?.json?.score_final || 0;\nconst minScore = sorted[sorted.length - 1]?.json?.score_final || 0;\n\nreturn sorted.map(item => {\n  const j = item.json;\n  const payload = j.payload || {};\n  const score = j.score_final || 0;\n\n  let nota = 75; // Piso padrão\n\n  // 3. Lógica de Interpolação Linear para o intervalo [75, 100]\n  if (maxScore > minScore) {\n    nota = 75 + (25 * (score - minScore)) / (maxScore - minScore);\n  } else if (maxScore > 0) {\n    nota = 100;\n  }\n\n  // 4. Conversão para INTEIRO e trava de segurança\n  nota = Math.round(nota); \n  nota = Math.max(75, Math.min(100, nota));\n\n  return {\n    json: {\n      id: j.id || null,\n      score_final: score,\n      nota: parseInt(nota),\n\n      cnpj: safe(payload.cnpj),\n      n_exibicoes: j.n_exibicoes || 0,\n      plano_categoria: j.plano_categoria || null,\n\n      full_profile: {\n        identidade: {\n          nome_empresa: safe(payload.nome_empresa),\n          modelo_negocio: safe(payload.modelo_negocio) // incluído aqui\n        },\n        contato: {\n          url_site: safe(payload.site),\n          telefones: safe(payload.telefone),\n          emails: safe(payload.email)\n        }\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1872,-2000],"id":"723ab066-e935-4444-8925-6efac79d327f","name":"Process_Profile1"},{"parameters":{"assignments":{"assignments":[{"id":"37b79ebe-4d88-4286-ad8f-71f98605e4ad","name":"result.item","value":"={{ $json.item }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1456,-2000],"id":"d113de89-3964-425f-b60a-06275c164fee","name":"set_result1"},{"parameters":{"assignments":{"assignments":[{"id":"8c8e6e64-cc6b-4e81-b261-650dc9498ac5","name":"item.fornecedor_id","value":"={{ $json.id || null}}","type":"string"},{"id":"e885457b-46bf-4c87-bd33-8c40ffd2805d","name":"item.n_listagens","value":"={{ $json.n_exibicoes || 0 }}","type":"number"},{"id":"665347f5-2639-4bb0-b692-0531f600359b","name":"item.plano_categoria","value":"={{ $json.plano_categoria || null }}","type":"string"},{"id":"244003cf-9cb2-437b-bb1b-e89a4cfb661d","name":"item.razao_social","value":"={{ $json.full_profile.identidade.nome_empresa }}","type":"string"},{"id":"c123260f-217e-4549-8c69-7c6cae477cff","name":"item.site","value":"={{ $json.full_profile.contato.url_site }}","type":"string"},{"id":"7a6d26fa-9e0e-415f-8d22-b7cf1bce103f","name":"item.telefone","value":"={{ $json.full_profile.contato.telefones }}","type":"string"},{"id":"1b92249f-71a1-48dd-9158-622d960b7794","name":"item.email","value":"={{ $json.full_profile.contato.emails }}","type":"string"},{"id":"76e17746-f60a-4628-9b58-0199f219e612","name":"item.nota","value":"=100","type":"number"},{"id":"3ebb5849-177b-4fba-bf29-572446fba50e","name":"item.limite_listagens ","value":"={{    $json.plano_categoria      ? (         $json.plano_categoria.toLowerCase() === 'standard' ? 10 :         $json.plano_categoria.toLowerCase() === 'essencial' ? 25 :         $json.plano_categoria.toLowerCase() === 'profissional' ? 1000 :         $json.plano_categoria.toLowerCase() === 'elite' ? 1000000 :         10       )     : 10 }}","type":"string"},{"id":"bd7599ed-40ac-4859-a39d-b99209bd89e1","name":"item.consulta_id","value":"={{ $('Webhook').item.json.body.consultaId }}","type":"string"},{"id":"0c2092b3-9f01-4b46-ba92-ba0c123babaa","name":"item.cnpj_basico","value":"={{ $json.cnpj }}","type":"string"},{"id":"40c24aed-1a3e-4f4d-85eb-90a167a7fa4c","name":"item.escopo","value":"nacional","type":"string"},{"id":"ce339f5b-313b-4b91-8c17-453ed2adbcac","name":"item.modelo_negocio","value":"={{ $json.full_profile.identidade.modelo_negocio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1664,-2000],"id":"b74a7850-f964-4c64-86a6-87369646ee2c","name":"set_national_result1"},{"parameters":{"assignments":{"assignments":[{"id":"8c8e6e64-cc6b-4e81-b261-650dc9498ac5","name":"item.fornecedor_id","value":"={{ $json.id || null}}","type":"string"},{"id":"e885457b-46bf-4c87-bd33-8c40ffd2805d","name":"item.n_listagens","value":"={{ $json.n_exibicoes || 0 }}","type":"number"},{"id":"665347f5-2639-4bb0-b692-0531f600359b","name":"item.plano_categoria","value":"={{ $json.plano_categoria || null }}","type":"string"},{"id":"244003cf-9cb2-437b-bb1b-e89a4cfb661d","name":"item.razao_social","value":"={{ $json.full_profile.identidade.nome_empresa }}","type":"string"},{"id":"c123260f-217e-4549-8c69-7c6cae477cff","name":"item.site","value":"={{ $json.full_profile.contato.url_site }}","type":"string"},{"id":"7a6d26fa-9e0e-415f-8d22-b7cf1bce103f","name":"item.telefone","value":"={{ $json.full_profile.contato.telefones }}","type":"string"},{"id":"1b92249f-71a1-48dd-9158-622d960b7794","name":"item.email","value":"={{ $json.full_profile.contato.emails }}","type":"string"},{"id":"76e17746-f60a-4628-9b58-0199f219e612","name":"item.nota","value":"={{ $json.nota }}","type":"number"},{"id":"3ebb5849-177b-4fba-bf29-572446fba50e","name":"item.limite_listagens ","value":"={{    $json.plano_categoria      ? (         $json.plano_categoria.toLowerCase() === 'standard' ? 10 :         $json.plano_categoria.toLowerCase() === 'essencial' ? 25 :         $json.plano_categoria.toLowerCase() === 'profissional' ? 1000 :         $json.plano_categoria.toLowerCase() === 'elite' ? 1000000 :         10       )     : 10 }}","type":"string"},{"id":"bd7599ed-40ac-4859-a39d-b99209bd89e1","name":"item.consulta_id","value":"={{ $('Webhook').item.json.body.consultaId }}","type":"string"},{"id":"0c2092b3-9f01-4b46-ba92-ba0c123babaa","name":"item.cnpj_basico","value":"={{ $json.cnpj }}","type":"string"},{"id":"a7b9e24b-b13d-4cbc-942f-fd358def7fff","name":"item.escopo","value":"local","type":"string"},{"id":"cf901bef-8ec4-421b-88de-b5d9fcbf0ed8","name":"item.modelo_negocio","value":"={{ $json.full_profile.identidade.modelo_negocio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1664,-1760],"id":"0b15a200-2a86-42ba-9baa-9a4984c620b5","name":"set_local_result"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1264,-1888],"id":"e862f7a5-13dc-472b-adc2-2b0a7fc54877","name":"Merge1"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"result.item.cnpj_basico","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[448,-1904],"id":"a8079956-78e4-4fce-b445-36a6df1ca69b","name":"Remove Duplicates"},{"parameters":{"fieldToSplitOut":"result","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1104,-1568],"id":"17b1d93f-9b72-423a-9aa9-451af456564a","name":"Split Out1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"item.cnpj_basico"},{"fieldToAggregate":"item.nota"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1312,-1568],"id":"d5200a4a-1b1e-4194-afad-2589c77f7378","name":"Aggregate"},{"parameters":{"content":"## Banco de dados:\n- Insere os resultados no banco\n- Não insere resultados duplicados","height":320,"width":980,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[352,-2048],"id":"f750bee1-aa08-4af5-aeec-61c9cb017c7a","name":"Sticky Note2"},{"parameters":{"assignments":{"assignments":[{"id":"9f189585-b83b-4a73-9e00-809f462362d7","name":"cnpj_basico","value":"={{ $json.result.item.cnpj_basico }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-992,-2016],"id":"000c6793-9f92-4f6c-bae8-72b3f3a39c95","name":"Edit Fields","alwaysOutputData":true},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"contador_aparicoes","mode":"list","cachedResultName":"contador_aparicoes"},"returnAll":true,"where":{"values":[{"column":"cnpj","value":"={{ $json.cnpj_basico }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-784,-2016],"id":"2d87d77e-2a78-4537-aeac-9e3fc273e37b","name":"Select rows from a table1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.n_aparicoes.toNumber() }}","rightValue":"={{ $json.limite_aparicoes.toNumber() }}","operator":{"type":"number","operation":"gte"},"id":"004e984c-6051-43fa-ad61-08bc36bb095d"}],"combinator":"and"},"renameOutput":true,"outputKey":"Limite Atingido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"50075b48-4326-4758-b9a1-f8ead5138dba","leftValue":"={{ $json.n_aparicoes.toNumber() }}","rightValue":"={{ $json.limite_aparicoes.toNumber() }}","operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pode ser Exibido"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-576,-2016],"id":"bd53e356-edd8-4571-8537-68bc68ffdbaf","name":"Switch","alwaysOutputData":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"cnpj"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-288,-2032],"id":"360e9bf8-83c0-4dbc-845f-328533f79b15","name":"Aggregate1","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-16,-1904],"id":"b7fee494-ea79-4bc3-9aa2-014308872f82","name":"Merge2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ae73dffc-2514-4418-8376-6529ffe767cb","leftValue":"={{ $('Aggregate1').item.json.cnpj }}","rightValue":"={{ $json.result.item.cnpj_basico }}","operator":{"type":"array","operation":"notContains","rightType":"any"}},{"id":"79c4522f-dccb-4715-840f-63aa00e08fc1","leftValue":"={{ $json.result.item.cnpj_basico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[176,-1904],"id":"79e5c980-c47b-4008-8cde-b4c4f7d36060","name":"Filter"},{"parameters":{"content":"## Faz a contagem de aparições e filtra empresas que já atingiram seu limite","height":400,"width":1632,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1296,-2128],"id":"e35f70a8-3977-4291-b018-c1f63d14892a","name":"Sticky Note27"}],"connections":{"Webhook":{"main":[[{"node":"tipo_busca1","type":"main","index":0}]]},"get_result":{"main":[[{"node":"Mostra resultado intermediário1","type":"main","index":0}]]},"set_result":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Aggregate2":{"main":[[{"node":"get_result","type":"main","index":0},{"node":"Split Out1","type":"main","index":0}]]},"tipo_busca1":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"acha_cidade1","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"lista_cidades1":{"main":[[{"node":"Get_codes1","type":"main","index":0}]]},"Get_codes1":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"set_ufs_unicas1":{"main":[[{"node":"Merge6","type":"main","index":1}]]},"acha_cidade1":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Mostra resultado intermediário1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Split Out4":{"main":[[{"node":"Process_Profile","type":"main","index":0}]]},"If1":{"main":[[{"node":"Call 'fallback-vetor'","type":"main","index":0}],[]]},"Merge":{"main":[[{"node":"set_data_busca","type":"main","index":0}]]},"Limit":{"main":[[{"node":"lista_cidades1","type":"main","index":0},{"node":"set_ufs_unicas1","type":"main","index":0}]]},"Call 'contador_aparições'":{"main":[[]]},"Call 'query_manager'":{"main":[[{"node":"Busca_Vetorial","type":"main","index":0},{"node":"Busca_Vetorial1","type":"main","index":0}]]},"set_data_busca":{"main":[[{"node":"Call 'query_manager'","type":"main","index":0}]]},"Busca_Vetorial":{"main":[[{"node":"Split Out4","type":"main","index":0}]]},"Process_Profile":{"main":[[{"node":"set_local_result","type":"main","index":0}]]},"Busca_Vetorial1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Process_Profile1","type":"main","index":0}]]},"Process_Profile1":{"main":[[{"node":"set_national_result1","type":"main","index":0}]]},"set_national_result1":{"main":[[{"node":"set_result1","type":"main","index":0}]]},"set_local_result":{"main":[[{"node":"set_result","type":"main","index":0}]]},"set_result1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"Remove Duplicates":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Call 'contador_aparições'","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Select rows from a table1","type":"main","index":0}]]},"Select rows from a table1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Aggregate1","type":"main","index":0}],[]]},"Aggregate1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","errorWorkflow":"KFeveZkBafvIC5xECfmBs","callerPolicy":"workflowsFromSameOwner","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-kpc3-buscafornecedor.up.railway.app","user-agent":"Deno/2.1.4 (variant; SupabaseEdgeRuntime/1.73.0)","content-length":"320","accept":"application/json","accept-encoding":"gzip,br","accept-language":"*","content-type":"application/json","traceparent":"00-2ffe4c974cc47595d44357368ad5a3f5-be4cac7c9881cfea-01","x-forwarded-for":"18.231.218.152, 157.52.85.28","x-forwarded-host":"primary-kpc3-buscafornecedor.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-west2","x-railway-request-id":"-2MnRZ6MSFClpyXN2prcFg","x-real-ip":"18.231.218.152","x-request-start":"1775656507171"},"params":{},"query":{},"body":{"consultaId":"c96e01b6-a791-4b63-86f7-71aa85044cc5","parametros":{"descricao":"Infraestrutura pneumática (ar comprimido) para São Paulo","tipo_busca":"uf","ufs_selecionadas":["SP"],"cnpjs_existentes":""},"userId":null,"sessionId":"anon_1775504992841_ivieq2uz7","tierBusca":null,"timestamp":"2026-04-08T13:55:06.815Z"},"webhookUrl":"https://primary-kpc3-buscafornecedor.up.railway.app/webhook/production","executionMode":"production"},"pairedItem":{"item":0}}],"Busca_Vetorial1":[{"json":{"results":[{"posicao":1,"id":"1548808346","score_final":0.36557,"score_rrf":0.126812,"scores":{"publico":0,"produto":0.7037,"cliente":0,"descricao":0.8537,"servico":0,"bm25":0.1321},"paths":["A#13","B#2"],"in_both":true,"payload":{"modelo_negocio":"Prestador de Serviço","nome_empresa":"Carmak Equipamentos Pneumáticos","cnpj":"03237041","cidade":"RIBEIRAO PRETO","telefone":"(16) 3636-2820 (16) 3877-2830","site":"https://www.carmakequipamentos.com.br/","endereco":"Rua Tamandaré, 1158 - Campos Elíseos - Ribeirão Preto - SP","email":"","produto":"Rede e Conexões Pneumáticas Compressores Ferramentas Pneumáticas","servico":"Desenvolvimento de projetos de redes de ar comprimido Desenvolvimento de projetos, implantação ou ampliação de redes de ar comprimido de pequeno a grande porte. Assistência técnica Oferecemos assistência técnica para todos os nossos serviços e equipamentos.","descricao":"Especialista em ar comprimido, compressores, ferramentas pneumáticas e tubos e conexões. Desenvolve projetos, implantação ou ampliação de redes de ar comprimido de pequeno a grande porte.","publico":"Indústrias de diversos segmentos","cliente":"","uf":"SP","certificacoes":"","premios":"","parcerias":"","estudos_caso":"","industria":"Equipamentos Industriais","cobertura_geografica":"Ribeirão Preto - São Paulo","linkedin":"","created_at":"2026-03-04T17:08:37.330Z","updated_at":"2026-03-06T01:35:00.229Z"}},{"posicao":2,"id":"843511896","score_final":0.48433,"score_rrf":0.174242,"scores":{"publico":0,"produto":0,"cliente":0,"descricao":0.7912,"servico":0.7522,"bm25":0.7},"paths":["A#2","B#1"],"in_both":true,"payload":{"modelo_negocio":"Prestador de Serviço","nome_empresa":"Confiance Soluções Industriais","cnpj":"44308520","cidade":"AMERICANA","telefone":"(19) 99911-2898","site":"https://confiancebrasil.com.br","endereco":"","email":"vendas@confiancebrasil.com.br","produto":"","servico":"Manutenções e montagens industriais Montagem industrial nos mais variados segmentos em empresas de pequeno, médio e grande porte, sendo estas pontuais (serviços SPOTS) ou mediante contratos de maior duração, como paradas de fábrica e outros; serviços especializados em montagens de redes de ar comprimido e gases especiais nos mais variados materiais plásticos ou metálicos. Serviços Especializados Relocação de empresas, layouts ou setores no sistema “Turn Key”; Gestão de obras; Especialização na atuação em locais de alto risco e sigilo; Instalações de máquinas e equipamentos industriais; Montagem de salas limpas; Geradores de Nitrogênio e Oxigênio; Sopradores de alta vazão para saneamento. Projetos e Consultorias Projetos diversos; Consultoria e administração de departamentos de manutenção; Gestão de rastreabilidade, lubrificação e calibração de equipamentos; Inspeções e laudos talha, pontes rolante e slings. Consultorias Especializadas Diagnóstico de sistema – análise completa de desempenho e pedas; Mapeamento de consumo – identificação dos pontos críticos e demandas reais; Redução de custos – estratégias para eficiência energética e menor desperdício; Dimensionamento correto – adequação de compressores, reservatórios e tubulações; Qualidade do ar comprimido – garantia de ar limpo, seco e confiável para os processos; Segurança e conforidade – atendimento às normas técnicas e de segurança; Otimização da rede – eliminação de vazamentos e melhorias de layout; Treinamento de equipes – capacitação para operação e manutenção eficiente; Planos de expansão – soluções escaláveis para crescimento da produção; Suporte especializado – acompanhamento técnico contínuo.","descricao":"Especializada em redes de ar comprimido e serviços especializados. Focamos na instalação de redes de ar comprimido e oferecemos diversos projetos para manutenção de compressores, mudanças de layout e soluções de engenharia variadas.","publico":"Indústrias de Alimentício, Automotivo, Petroquímico, Químico, Plástico, Borracha, Cosméticos, Medicamentos, Têxtil, Papel e Metalúrgica","cliente":"","uf":"SP","certificacoes":"","premios":"","parcerias":"","estudos_caso":"","industria":"Soluções Industriais","cobertura_geografica":"Nacional","linkedin":"","created_at":"2026-03-04T21:35:02.206Z","updated_at":"2026-03-04T21:35:02.206Z"}}],"rerank":{"enabled":true,"model":"gpt-4o-mini","tokens_used":6531,"pool_size":20,"query_used":"pneumtica pneumtico rede tubulao compressores conexes montagem projeto industrial alumnio"}},"pairedItem":{"item":0}}],"Busca_Vetorial":[{"json":{"results":[{"posicao":1,"id":"1548808346","score_final":0.599638,"score_rrf":0.162338,"scores":{"publico":0,"produto":0.7037,"cliente":0,"descricao":0.8537,"servico":0.6711,"bm25":0.2958},"paths":["A#1","B#4"],"in_both":true,"payload":{"modelo_negocio":"Prestador de Serviço","nome_empresa":"Carmak Equipamentos Pneumáticos","cnpj":"03237041","cidade":"RIBEIRAO PRETO","telefone":"(16) 3636-2820 (16) 3877-2830","site":"https://www.carmakequipamentos.com.br/","endereco":"Rua Tamandaré, 1158 - Campos Elíseos - Ribeirão Preto - SP","email":"","produto":"Rede e Conexões Pneumáticas Compressores Ferramentas Pneumáticas","servico":"Desenvolvimento de projetos de redes de ar comprimido Desenvolvimento de projetos, implantação ou ampliação de redes de ar comprimido de pequeno a grande porte. Assistência técnica Oferecemos assistência técnica para todos os nossos serviços e equipamentos.","descricao":"Especialista em ar comprimido, compressores, ferramentas pneumáticas e tubos e conexões. Desenvolve projetos, implantação ou ampliação de redes de ar comprimido de pequeno a grande porte.","publico":"Indústrias de diversos segmentos","cliente":"","uf":"SP","certificacoes":"","premios":"","parcerias":"","estudos_caso":"","industria":"Equipamentos Industriais","cobertura_geografica":"Ribeirão Preto - São Paulo","linkedin":"","created_at":"2026-03-04T17:08:37.330Z","updated_at":"2026-03-06T01:35:00.229Z"}},{"posicao":2,"id":"843511896","score_final":0.53523,"score_rrf":0.167832,"scores":{"publico":0,"produto":0,"cliente":0,"descricao":0.7912,"servico":0.7522,"bm25":0.9545},"paths":["A#3","B#1"],"in_both":true,"payload":{"modelo_negocio":"Prestador de Serviço","nome_empresa":"Confiance Soluções Industriais","cnpj":"44308520","cidade":"AMERICANA","telefone":"(19) 99911-2898","site":"https://confiancebrasil.com.br","endereco":"","email":"vendas@confiancebrasil.com.br","produto":"","servico":"Manutenções e montagens industriais Montagem industrial nos mais variados segmentos em empresas de pequeno, médio e grande porte, sendo estas pontuais (serviços SPOTS) ou mediante contratos de maior duração, como paradas de fábrica e outros; serviços especializados em montagens de redes de ar comprimido e gases especiais nos mais variados materiais plásticos ou metálicos. Serviços Especializados Relocação de empresas, layouts ou setores no sistema “Turn Key”; Gestão de obras; Especialização na atuação em locais de alto risco e sigilo; Instalações de máquinas e equipamentos industriais; Montagem de salas limpas; Geradores de Nitrogênio e Oxigênio; Sopradores de alta vazão para saneamento. Projetos e Consultorias Projetos diversos; Consultoria e administração de departamentos de manutenção; Gestão de rastreabilidade, lubrificação e calibração de equipamentos; Inspeções e laudos talha, pontes rolante e slings. Consultorias Especializadas Diagnóstico de sistema – análise completa de desempenho e pedas; Mapeamento de consumo – identificação dos pontos críticos e demandas reais; Redução de custos – estratégias para eficiência energética e menor desperdício; Dimensionamento correto – adequação de compressores, reservatórios e tubulações; Qualidade do ar comprimido – garantia de ar limpo, seco e confiável para os processos; Segurança e conforidade – atendimento às normas técnicas e de segurança; Otimização da rede – eliminação de vazamentos e melhorias de layout; Treinamento de equipes – capacitação para operação e manutenção eficiente; Planos de expansão – soluções escaláveis para crescimento da produção; Suporte especializado – acompanhamento técnico contínuo.","descricao":"Especializada em redes de ar comprimido e serviços especializados. Focamos na instalação de redes de ar comprimido e oferecemos diversos projetos para manutenção de compressores, mudanças de layout e soluções de engenharia variadas.","publico":"Indústrias de Alimentício, Automotivo, Petroquímico, Químico, Plástico, Borracha, Cosméticos, Medicamentos, Têxtil, Papel e Metalúrgica","cliente":"","uf":"SP","certificacoes":"","premios":"","parcerias":"","estudos_caso":"","industria":"Soluções Industriais","cobertura_geografica":"Nacional","linkedin":"","created_at":"2026-03-04T21:35:02.206Z","updated_at":"2026-03-04T21:35:02.206Z"}},{"posicao":3,"id":"918171003","score_final":0.567112,"score_rrf":0.166667,"scores":{"publico":0,"produto":0.6713,"cliente":0,"descricao":0.66,"servico":0.7582,"bm25":0.1963},"paths":["A#2","B#2"],"in_both":true,"payload":{"modelo_negocio":"Prestador de Serviço","nome_empresa":"SAMPAR – Compressores e equipamentos industriais","cnpj":"18033482","cidade":"SAO PAULO","telefone":"(11) 99470-1919","site":"https://www.samparcompressores.com.br","endereco":"R. Brg. Jordão, 968 - Ipiranga, São Paulo - SP, 04210-000","email":"sampar@samparcompressores.com.br","produto":"Compressores novos Compressores seminovos Compressores Filtros Drenos Acessórios para Ar Comprimido Boosters (multiplicadores de pressão) Secadores Redes de ar-comprimido Produtos para alta pressão até 40bar","servico":"Manutenção de Compressores Mantenha seus compressores funcionando com máxima eficiência e menor custo. Oferecemos serviços de manutenção: corretiva, preventiva e preditiva. Manutenção de Secadores de Ar Comprimido Garantia de ar comprimido limpo e livre de umidade com manutenção especializada. Manutenção de Chillers Otimização de sistemas de refrigeração industrial para máxima performance. Sistema de Tubulações Industriais Instalação e manutenção de tubulações para redes de ar comprimido, resfriamento. Rede de Resfriamento Soluções completas para o controle de temperatura em processos industriais. Redes de Sistema de Incêndio Instalação e manutenção de redes para proteção contra incêndios industriais. Instalação de Compressores Equipe especializada para garantir uma instalação eficiente e segura de compressores. Comercialização de Ferramentas Pneumáticas Ferramentas de alta performance para otimizar a produtividade industrial. Consultoria Técnica Expertise técnica para a otimização dos seus sistemas de ar comprimido e refrigeração.","descricao":"Na Sampar Compressores, somos especialistas em soluções industriais para sistemas de ar comprimido, oferecendo manutenção, instalação e consultoria técnica para garantir o máximo desempenho dos seus equipamentos. Com uma equipe altamente qualificada e anos de experiência no setor, atendemos empresas de diversos portes, sempre focando na eficiência, segurança e qualidade.","publico":"Empresas de diversos portes","cliente":"","uf":"SP","certificacoes":"","premios":"","parcerias":"","estudos_caso":"","industria":"Equipamentos Industriais","cobertura_geografica":"São Paulo e proximidades","linkedin":"","created_at":"2026-03-04T18:52:24.368Z","updated_at":"2026-03-06T08:58:18.227Z"}},{"posicao":4,"id":"820401193","score_final":0.43215,"score_rrf":0.066667,"scores":{"publico":0,"produto":0.6844,"cliente":0,"descricao":0,"servico":0.7561,"bm25":0},"paths":["B#5"],"in_both":false,"payload":{"modelo_negocio":"Distribuidor","nome_empresa":"J Neves Automação Pneumática","cnpj":"55312094","cidade":"CAMPINAS","telefone":"(19) 3245-2794","site":"https://www.jnevesautomacao.com.br","endereco":"Rua Major Luciano Teixeira, 428 - Bonfim - Campinas - SP - CEP 13070-746","email":"contato@jnevesautomacao.com.br","produto":"Linha TOPAIR TOPFUSION Redes de Ar Comprimido Tubos PU Poliuretano Mangueiras PVC PT300 Tubos e Mangueiras Cilindros ISO 6431 / 15552 Cilindros COMPÁCTOS Cilindros Perfilados Cilindros MINI ISO 6432 Cilindro COMPÁCTO TIPO ADVU Cilindros Pneumáticos Filtros Reguladores de Pressão Lubrificadores Preparação de Ar","servico":"Estruturação de Redes de Ar Comprimido Projetamos e instalamos redes de ar comprimido seguindo conceitos técnicos que garantem um ar de melhor qualidade, reduzindo custos e aumentando a eficiência. Reposição de Componentes Pneumáticos Oferecemos uma infinidade de itens em estoque para repor componentes defeituosos rapidamente.","descricao":"Proporcionamos soluções eficazes para a automatização de processos industriais, reduzindo custos e aumentando a produtividade. A J Neves Automação Pneumática iniciou as suas atividades em 2002, comercializando equipamentos pneumáticos e conexões para as indústrias metalúrgicas da região.","publico":"Indústrias Metalúrgicas, Universidades, Laboratórios e Grandes Indústrias","cliente":"","uf":"SP","certificacoes":"","premios":"","parcerias":"","estudos_caso":"","industria":"Automatização Industrial","cobertura_geografica":"Nacional","linkedin":"","created_at":"2026-03-04T22:58:17.392Z","updated_at":"2026-03-04T22:58:17.392Z"}},{"posicao":5,"id":"224400092","score_final":0.484092,"score_rrf":0.125,"scores":{"publico":0,"produto":0.6306,"cliente":0,"descricao":0,"servico":0.7572,"bm25":0.3387},"paths":["A#6","B#6"],"in_both":true,"payload":{"modelo_negocio":"Prestador de Serviço","nome_empresa":"AOI TEC AUTOMAÇÃO LTDA ME","cnpj":"19909105","cidade":"SAO PAULO","telefone":"(11) 95329 9864 (11) 2825 6254","site":"https://aoitecautomacao.com.br","endereco":"Rua Jose Carlos Ferreira, 91- Parque América São Paulo/SP - CEP 04841-080","email":"","produto":"cilindros pneumáticos válvulas kits de reparo peças de reposição elementos filtrantes Equipamentos Pneumaticos","servico":"Representação e Distribuição Representação, distribuição, revenda e manutenção de produtos e acessórios pneumáticos. Desenvolvimento de Projetos Desenvolvimento de produtos e soluções dedicadas aos clientes, como montagem de painéis pneumáticos, eletro-pneumáticos, comandos e dispositivos de automação industrial. Instalação de Redes de Ar Comprimido Elaboração e instalação de redes de ar comprimido incluindo o tratamento do ar para as mais diversas aplicações. Assistência Técnica e Manutenção Assistência técnica e manutenção nos equipamentos pneumáticos de sua comercialização e os demais fabricantes existentes no mercado.","descricao":"A AOITEC AUTOMAÇÃO é formada por profissionais altamente qualificados, com uma vasta experiência na área de automação industrial e soluções em dispositivos e processos de logística para uma melhor produtividade. Tem como atividade principal a representação, distribuição, revenda e manutenção de produtos e acessórios pneumáticos.","publico":"Industrias","cliente":"","uf":"SP","certificacoes":"","premios":"","parcerias":"","estudos_caso":"","industria":"Automacao Industrial","cobertura_geografica":"São Paulo","linkedin":"","created_at":"2026-03-04T19:02:47.936Z","updated_at":"2026-03-06T09:42:03.959Z"}},{"posicao":6,"id":"71605367","score_final":0.319782,"score_rrf":0.055556,"scores":{"publico":0,"produto":0,"cliente":0,"descricao":0.6806,"servico":0.7256,"bm25":0},"paths":["B#8"],"in_both":false,"payload":{"modelo_negocio":"Prestador de Serviço","nome_empresa":"PERSPECTIVA AR","cnpj":"51859645","cidade":"CAJAMAR","telefone":"(11) 98704-0019","site":"https://www.perspectivar.com.br","endereco":"Rua Alfredo Del´ Vigna, nº 158 - Jordanésia - Cajamar - SP – CEP: 07776-395","email":"","produto":"","servico":"Manutenção Manutenção preventiva, preditiva, corretiva, análise de vazamentos, auditoria de instalações, adequações às normas e todos os demais serviços que envolvem a eficácia na geração de ar comprimido. Consultoria Análise de vazamentos, auditoria de instalações, adequações às normas, projetos de novas redes e treinamentos para a equipe. Projetos Projetos de novas redes de ar comprimido. Treinamentos Treinamentos para a equipe.","descricao":"Soluções completas em venda, assistência técnica e locação de equipamentos de ar comprimido.","publico":"Indústrias, hospitais, clínicas e laboratórios","cliente":"","uf":"SP","certificacoes":"","premios":"","parcerias":"","estudos_caso":"","industria":"Ar Comprimido","cobertura_geografica":"Nacional","linkedin":"","created_at":"2026-03-04T22:31:04.350Z","updated_at":"2026-03-04T22:31:04.350Z"}},{"posicao":7,"id":"1868494314","score_final":0.322892,"score_rrf":0.058824,"scores":{"publico":0,"produto":0,"cliente":0,"descricao":0.657,"servico":0.7478,"bm25":0},"paths":["B#7"],"in_both":false,"payload":{"modelo_negocio":"Distribuidor","nome_empresa":"Atual Compressores","cnpj":"20409841","cidade":"BAURU","telefone":"(14) 3243-7909 (14) 99737-3590","site":"https://www.atualcompressores.com.br","endereco":"R. Floresta, Quadra 10 - Parque Vista Alegre, Bauru - SP, 17020-030","email":"vendas@atualcompressores.com.br atual@atualcompressores.com.br","produto":"CPV 20-25 CPW 40-120 Ares 10-15 Compressor Pistão CPM 5.4-10 EP CPM 10 e 15 CPM 20 e 30 CPC 40 a 60 HP CPD 75 HP CPE 100 a 150 HP CPF 200 HP CPBG 20 a 35 Compressor Parafuso Secador por refrigeração - Cool Secador por refrigeração - CPX Secador por adsorção - CPIC Secadores de Ar Reservatório de Ar Reservatório de Ar","servico":"Assistência Técnica Manutenção preventiva, corretiva e preditiva de compressores, secadores e reservatórios de ar comprimido e seus acessórios. Planejamento, execução, implantação e readequação de sistemas de produção e tratamento de ar comprimido. Locação e Venda Serviços de locação e venda de equipamentos de ar comprimido. Rede de Ar Comprimido Implantação e manutenção de redes de ar comprimido, incluindo cálculo de tubulações, cálculo de água no ar, vazamento de ar comprimido, economizador de energia, entre outros.","descricao":"Há mais de uma década, a Atual Compressores se destaca como especialista em soluções completas para geração, tratamento e distribuição de ar comprimido. Atuamos com foco em eficiência, confiabilidade, segurança e conforto operacional, atendendo empresas dos mais diversos segmentos e portes.","publico":"Industrias de Alimento, Indústria Química, Indústria Farmacêutica, Construção Civil, Odontologia","cliente":"","uf":"SP","certificacoes":"ISO 9001:2015","premios":"","parcerias":"Chicago Pneumatic®","estudos_caso":"","industria":"Equipamento Industrial","cobertura_geografica":"Bauru, SP","linkedin":"","created_at":"2026-03-04T19:05:38.372Z","updated_at":"2026-03-06T09:56:28.138Z"}},{"posicao":8,"id":"755162439","score_final":0.449716,"score_rrf":0.076923,"scores":{"publico":0,"produto":0.7107,"cliente":0,"descricao":0,"servico":0.7223,"bm25":0.0991},"paths":["B#3"],"in_both":false,"payload":{"modelo_negocio":"Prestador de Serviço","nome_empresa":"SBC COMPRESSORES","cnpj":"42956555","cidade":"SAO BERNARDO DO CAMPO","telefone":"(11)4103-3323","site":"https://sbccompressores.com.br","endereco":"São Bernardo do Campo - São Paulo","email":"sbccompressores@sbccompressores.com.br","produto":"Compressores de Ar (pistão e parafuso) Compressores de Ar Peças e lubrificantes para compressores de ar Peças e Lubrificantes Filtros Coalescentes Filtros Coalescentes Secadores de Ar por Refrigeração/Adsorção Secadores de Ar Purgadores Automáticos Purgadores Automáticos Reservatórios Horizontais/Verticais Reservatórios Ferramentas Pneumáticas Diversas marcas e modelos Ferramentas Pneumáticas","servico":"Manutenção Corretiva e Preventiva Manutenção corretiva e preventiva de diversos modelos de compressores. Assistência Técnica Assistência técnica em compressores de diversas marcas. Testes em Reservatórios de Ar Realizamos testes em reservatórios de ar com atestado assinado por engenheiros qualificados. Projetos e Execução de Redes de Ar Comprimido Projetamos e executamos redes de ar comprimido.","descricao":"Comercializamos Compressores de Ar (pistão e parafuso) novos e usados de diversas marcas e capacidades. Fazemos manutenção corretiva e preventiva de diversas marcas e modelos. Prestamos assistência técnica em compressores de diversas marcas.","publico":"","cliente":"","uf":"SP","certificacoes":"","premios":"","parcerias":"","estudos_caso":"","industria":"Compressores de Ar","cobertura_geografica":"São Paulo","linkedin":"","created_at":"2026-03-04T21:25:21.451Z","updated_at":"2026-03-04T21:25:21.451Z"}},{"posicao":9,"id":"1664536791","score_final":0.317088,"score_rrf":0.05,"scores":{"publico":0,"produto":0.7083,"cliente":0,"descricao":0.6974,"servico":0,"bm25":0},"paths":["B#10"],"in_both":false,"payload":{"modelo_negocio":"Prestador de Serviço","nome_empresa":"OC Compressores","cnpj":"38299710","cidade":"VARZEA PAULISTA","telefone":"(11)4809-2022 (11)4809-4088 (11)96183-3650","site":"https://ocompressores.com.br","endereco":"Rua carnaúba, n° 14, Jardim das Palmeiras, Várzea Paulista – SP, CEP: 13-224-660","email":"atendimento@ocompressores.com.br","produto":"Compressores de parafuso Bombas de vácuo Secadores Filtros Rede de ar comprimido Acessórios e peças Compressores","servico":"Manutenção de compressores Equipe especializada em manutenção de compressores. Venda de peças Vasto estoque de peças de reposição para vários modelos de compressores. Venda de compressores Comercialização das melhores marcas e modelos de compressores do mercado. Locação de equipamentos Equipamentos de ponta para locação garantindo o melhor custo x benefício.","descricao":"Especializada em venda e assistência técnica de compressores de parafuso, bombas de vácuo, secadores, filtros e rede de ar comprimido.","publico":"Indústrias que utilizam ar comprimido","cliente":"","uf":"SP","certificacoes":"","premios":"","parcerias":"","estudos_caso":"","industria":"Fabricante e Revendedora de Compressores","cobertura_geografica":"Nacional","linkedin":"","created_at":"2026-03-04T20:57:22.371Z","updated_at":"2026-03-09T21:14:04.469Z"}},{"posicao":10,"id":"975725222","score_final":0.230913,"score_rrf":0.045455,"scores":{"publico":0,"produto":0,"cliente":0,"descricao":0,"servico":0.7697,"bm25":0},"paths":["B#12"],"in_both":false,"payload":{"modelo_negocio":"Prestador de Serviço","nome_empresa":"JGK Kranyack Compressores","cnpj":"21460070","cidade":"SAO PAULO","telefone":"(11) 3207-4284 (11) 3207-0699","site":"https://www.jgkkranyack.com.br/","endereco":"Rua Conselheiro João Alfredo, 484 – Mooca | São Paulo – SP","email":"","produto":"Compressores rotativo de parafuso Compressores alternativo de pistão Equipamentos","servico":"Assistência Técnica Executamos projetos, montagens e instalações de rede de ar comprimido desde a geração, armazenamento e tratamento. Venda de Equipamentos Trabalhamos com venda de equipamentos novos e reformados (reformado – com garantia de 12 meses ou 4000 horas de trabalho). Instalações Industriais Compreende o pacote de serviços para instalar ou readequar um equipamento especifico. Hidráulica Estamos preparados para executar instalações hidráulicas de pequeno, médio e grande porte, independente do diâmetro, extensão e complexidade do projeto. Manutenções Nossa oficina possui estrutura completa com equipamentos e ferramentas de ultima geração para realizar manutenções corretivas.","descricao":"Desde 1978 a KRANYACK atua no mercado de assistência técnica e instalação de sistemas de condução para ar comprimido e água, atendendo uma série de segmentos do mercado brasileiro.","publico":"","cliente":"","uf":"SP","certificacoes":"","premios":"","parcerias":"","estudos_caso":"","industria":"Compressores de Ar","cobertura_geografica":"São Paulo","linkedin":"","created_at":"2026-03-04T19:11:13.626Z","updated_at":"2026-03-06T10:18:52.287Z"}}],"rerank":{"enabled":true,"model":"gpt-4o-mini","tokens_used":5706,"pool_size":20,"query_used":"pneumtica pneumtico rede tubulao compressores conexes montagem projeto industrial alumnio"}},"pairedItem":{"item":0}}],"get_result":[{"json":{"id":"c96e01b6-a791-4b63-86f7-71aa85044cc5","created_at":"2026-04-08T13:55:06.412463+00:00","parametros":{"descricao":"Infraestrutura pneumática (ar comprimido) para São Paulo","tipo_busca":"uf","cnpjs_existentes":"","ufs_selecionadas":["SP"]},"resultados":[],"status":"pending","comprador":"1641682d-72bc-4d5b-b7fc-94d4817a9182","session_id":"anon_1775504992841_ivieq2uz7","execution_id":null,"v_produto":null,"v_cliente":null,"v_servico":null,"v_descricao":null,"v_publico":null,"bm_25":null,"uf":null,"municipio":null,"modelo_negocio":null,"fallback":false},"pairedItem":{"item":0}}],"Mostra resultado intermediário1":[{"json":{"id":"c96e01b6-a791-4b63-86f7-71aa85044cc5","created_at":"2026-04-08T13:55:06.412463+00:00","parametros":{"descricao":"Infraestrutura pneumática (ar comprimido) para São Paulo","tipo_busca":"uf","cnpjs_existentes":"","ufs_selecionadas":["SP"]},"resultados":[{"item":{"nota":100,"site":"https://confiancebrasil.com.br","email":"vendas@confiancebrasil.com.br","escopo":"nacional","telefone":"(19) 99911-2898","cnpj_basico":"44308520","consulta_id":"c96e01b6-a791-4b63-86f7-71aa85044cc5","n_listagens":0,"razao_social":"Confiance Soluções Industriais","fornecedor_id":"843511896","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":100,"site":"https://www.carmakequipamentos.com.br/","email":"","escopo":"nacional","telefone":"(16) 3636-2820 (16) 3877-2830","cnpj_basico":"03237041","consulta_id":"c96e01b6-a791-4b63-86f7-71aa85044cc5","n_listagens":0,"razao_social":"Carmak Equipamentos Pneumáticos","fornecedor_id":"1548808346","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":94,"site":"https://www.samparcompressores.com.br","email":"sampar@samparcompressores.com.br","escopo":"local","telefone":"(11) 99470-1919","cnpj_basico":"18033482","consulta_id":"c96e01b6-a791-4b63-86f7-71aa85044cc5","n_listagens":0,"razao_social":"SAMPAR – Compressores e equipamentos industriais","fornecedor_id":"918171003","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":92,"site":"https://www.jnevesautomacao.com.br","email":"contato@jnevesautomacao.com.br","escopo":"local","telefone":"(19) 3245-2794","cnpj_basico":"55312094","consulta_id":"c96e01b6-a791-4b63-86f7-71aa85044cc5","n_listagens":0,"razao_social":"J Neves Automação Pneumática","fornecedor_id":"820401193","modelo_negocio":"Distribuidor","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":89,"site":"https://aoitecautomacao.com.br","email":"","escopo":"local","telefone":"(11) 95329 9864 (11) 2825 6254","cnpj_basico":"19909105","consulta_id":"c96e01b6-a791-4b63-86f7-71aa85044cc5","n_listagens":0,"razao_social":"AOI TEC AUTOMAÇÃO LTDA ME","fornecedor_id":"224400092","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":86,"site":"https://www.perspectivar.com.br","email":"","escopo":"local","telefone":"(11) 98704-0019","cnpj_basico":"51859645","consulta_id":"c96e01b6-a791-4b63-86f7-71aa85044cc5","n_listagens":0,"razao_social":"PERSPECTIVA AR","fornecedor_id":"71605367","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":83,"site":"https://www.atualcompressores.com.br","email":"vendas@atualcompressores.com.br atual@atualcompressores.com.br","escopo":"local","telefone":"(14) 3243-7909 (14) 99737-3590","cnpj_basico":"20409841","consulta_id":"c96e01b6-a791-4b63-86f7-71aa85044cc5","n_listagens":0,"razao_social":"Atual Compressores","fornecedor_id":"1868494314","modelo_negocio":"Distribuidor","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":81,"site":"https://sbccompressores.com.br","email":"sbccompressores@sbccompressores.com.br","escopo":"local","telefone":"(11)4103-3323","cnpj_basico":"42956555","consulta_id":"c96e01b6-a791-4b63-86f7-71aa85044cc5","n_listagens":0,"razao_social":"SBC COMPRESSORES","fornecedor_id":"755162439","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":78,"site":"https://ocompressores.com.br","email":"atendimento@ocompressores.com.br","escopo":"local","telefone":"(11)4809-2022 (11)4809-4088 (11)96183-3650","cnpj_basico":"38299710","consulta_id":"c96e01b6-a791-4b63-86f7-71aa85044cc5","n_listagens":0,"razao_social":"OC Compressores","fornecedor_id":"1664536791","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"}},{"item":{"nota":75,"site":"https://www.jgkkranyack.com.br/","email":"","escopo":"local","telefone":"(11) 3207-4284 (11) 3207-0699","cnpj_basico":"21460070","consulta_id":"c96e01b6-a791-4b63-86f7-71aa85044cc5","n_listagens":0,"razao_social":"JGK Kranyack Compressores","fornecedor_id":"975725222","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"}}],"status":"concluida","comprador":"1641682d-72bc-4d5b-b7fc-94d4817a9182","session_id":"anon_1775504992841_ivieq2uz7","execution_id":"396189","v_produto":"tubulação para ar comprimido, compressores de parafuso, conexões pneumáticas, reservatórios de ar","v_cliente":"engenheiro de utilidades, gerente de manutenção industrial, gestor de facilities, diretor de operações","v_servico":"instalação de rede pneumática, projeto de sistema de ar comprimido, montagem de tubulação industrial, manutenção de compressores","v_descricao":"Especialista em dimensionamento, projeto e instalação de redes de ar comprimido e infraestrutura pneumática industrial completa.","v_publico":"indústrias metalúrgicas, automotivas, setor têxtil, fábricas de alimentos e bebidas","bm_25":"pneumática pneumático rede tubulação compressores conexões montagem projeto industrial alumínio","uf":["SP"],"municipio":[],"modelo_negocio":null,"fallback":false},"pairedItem":{"item":0}}],"Edit Fields":[{"json":{"cnpj_basico":"44308520"}},{"json":{"cnpj_basico":"03237041"}},{"json":{"cnpj_basico":"07160279"}},{"json":{"cnpj_basico":"44308520"}},{"json":{"cnpj_basico":"18033482"}},{"json":{"cnpj_basico":"55312094"}},{"json":{"cnpj_basico":"19909105"}},{"json":{"cnpj_basico":"51859645"}},{"json":{"cnpj_basico":"20409841"}},{"json":{"cnpj_basico":"42956555"}},{"json":{"cnpj_basico":"38299710"}},{"json":{"cnpj_basico":"21460070"}}]},"versionId":"9f46bc50-81d3-4aa0-b3bd-6fe56d513557","activeVersionId":"9f46bc50-81d3-4aa0-b3bd-6fe56d513557","triggerCount":1,"shared":[{"updatedAt":"2025-10-02T13:42:57.638Z","createdAt":"2025-10-02T13:42:57.638Z","role":"workflow:owner","workflowId":"pr0gjsUvGW8PLnoE","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-04-08T19:07:45.532Z","createdAt":"2026-04-08T17:32:33.784Z","versionId":"9f46bc50-81d3-4aa0-b3bd-6fe56d513557","workflowId":"pr0gjsUvGW8PLnoE","nodes":[{"parameters":{"httpMethod":"POST","path":"production","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-4992,-1840],"id":"333411dd-cda0-4774-a7f8-499f86c2d459","name":"Webhook","webhookId":"a45e5681-9cef-4e53-a3e1-0ccfec86480a"},{"parameters":{"content":"## Busca Local","height":224,"width":1040,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2352,-1824],"id":"aa7e14ee-4578-46ce-b0e1-4bde1edfa674","name":"Sticky Note25"},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"get","tableId":"consultas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Webhook').item.json.body.consultaId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[960,-1904],"id":"dd8cbeda-a580-464d-8804-a721440b3cb3","name":"get_result","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"update","tableId":"consultas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.consultaId }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resultados","fieldValue":"={{ $('Aggregate2').item.json.result }}"},{"fieldId":"status","fieldValue":"concluida"},{"fieldId":"uf","fieldValue":"={{ $json.parametros.ufs_selecionadas }}"},{"fieldId":"municipio","fieldValue":"={{ $('set_data_busca').item.json.lista_municipio }}"},{"fieldId":"=execution_id","fieldValue":"={{ $execution.id }}"},{"fieldId":"v_produto","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.produto }}"},{"fieldId":"v_cliente","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.cliente }}"},{"fieldId":"v_servico","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.servico }}"},{"fieldId":"v_descricao","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.descricao }}"},{"fieldId":"v_publico","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.publico }}"},{"fieldId":"bm_25","fieldValue":"={{ $('Call \\'query_manager\\'').item.json.query.bm25 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1152,-1904],"id":"0860959c-9934-4f96-987f-5b6173ee6cdb","name":"Mostra resultado intermediário1","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"37b79ebe-4d88-4286-ad8f-71f98605e4ad","name":"result.item","value":"={{ $json.item }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1456,-1760],"id":"8dd828e8-e080-4988-be51-a26d5e39712f","name":"set_result"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"result"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[688,-1904],"id":"86187a51-c364-4d40-a080-bc8d59033f6f","name":"Aggregate2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.parametros.tipo_busca }}","rightValue":"=uf","operator":{"type":"string","operation":"equals"},"id":"5ae05424-95d0-4255-9143-db06a0b77429"}],"combinator":"and"},"renameOutput":true,"outputKey":"busca_uf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"df4e5915-07cc-4afb-99a3-2ff13636335c","leftValue":"={{ $json.body.parametros.tipo_busca }}","rightValue":"city","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"busca_cidade"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-4736,-1840],"id":"a3a172a0-317c-4502-b261-5b0f1c133e25","name":"tipo_busca1"},{"parameters":{"fieldToSplitOut":"nearby_cities","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-4256,-1824],"id":"ca60ad11-6b98-4c83-9f99-592c1ed9205a","name":"Split Out3","alwaysOutputData":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"descricao"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3392,-1968],"id":"67ef449e-8692-4d16-86c2-cb2ecc1724d7","name":"Aggregate3","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"3b606833-d2df-4174-a8f3-8bd57c8fffcf","name":"cidades","value":"={{ $('Split Out3').item.json.name.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").replace(/~/g, \"\").toUpperCase() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3840,-1968],"id":"43d3c357-2f3f-419b-bf50-89a078d7eb3e","name":"lista_cidades1"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"get","tableId":"municipio","filters":{"conditions":[{"keyName":"descricao","keyValue":"={{ $json.cidades }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3616,-1968],"id":"c7da4dd3-9ee5-403f-ad0a-9e8d1d9047f8","name":"Get_codes1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-3152,-1856],"id":"28e76834-13ae-4043-9795-bd6d9e20ad6f","name":"Merge6"},{"parameters":{"jsCode":"// Pega todos os itens recebidos\nconst items = $input.all();\n\n// Extrai a UF (últimos 2 caracteres após o hífen)\nconst ufs = items\n  .map(item => {\n    const text = item.json.uf || item.json.cidade_origem || \"\";\n    const match = text.match(/([A-Z]{2})$/);\n    return match ? match[1] : null;\n  })\n  .filter(Boolean); // remove nulos\n\n// Remove duplicadas\nconst ufsUnicas = [...new Set(ufs)];\n\n// Retorna no formato original\nreturn [\n  {\n    json: {\n      ufs_unicas: ufsUnicas\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3616,-1744],"id":"13fbc362-0d7f-495a-be63-fa7ee33e1cb5","name":"set_ufs_unicas1"},{"parameters":{"content":"## Processamento: Encontra cidades dentro de um raio.\n- Atende busca por raio e busca por UF.\n### Busca por raio:\n- Leva em conta uma cidade como ponto de partida.\n- Consulta na api as cidades dentro daquele raio.\n- Lista cidades e UFs presente no raio.\n### Busca por UF:\n- Retorna a lista de UFs especificadas na consulta.","height":496,"width":2662,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5024,-2096],"id":"0b4ae983-1143-457c-a131-6a3b1637e59a","name":"Sticky Note42"},{"parameters":{"content":"## API própria:\n- Encontra cidades dentro de um raio pré-definido","height":256,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4544,-1936],"id":"a3f17b0f-ba1f-42d7-9f82-d8e2ab63b852","name":"Sticky Note43"},{"parameters":{"url":"https://api-busca-cidades-buscafornecedor.up.railway.app/api/cities/nearby","sendQuery":true,"queryParameters":{"parameters":[{"name":"city_name","value":"={{ $json.body.parametros.cidade_origem.replace(/\\s*-\\s*[A-Z]{2}$/, '') }}"},{"name":"radius_km","value":"={{ isNaN(Number($json.body.parametros.raio_km)) || !$json.body.parametros.raio_km? 1 : Number($json.body.parametros.raio_km) + 1}} "},{"name":"uf","value":"={{ $json.body.parametros.cidade_origem.match(/([A-Z]{2})$/)[1] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4480,-1824],"id":"e626d429-e061-4315-81a6-4f0cda496905","name":"acha_cidade1","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"content":"## Busca códigos para as cidades no supabase:","height":272,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3696,-2080],"id":"ab9fd43c-d633-41bd-8d95-c8b47997a615","name":"Sticky Note44"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2080,-1760],"id":"94f6dd56-a3d6-445d-a4df-593254ffc39e","name":"Split Out4","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3034442b-d032-4908-bca5-c10d36945a1f","leftValue":"={{ $json.resultados.length }}","rightValue":4,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1392,-1904],"id":"d7b3e221-4876-4a49-bd10-923ba7159166","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2928,-1872],"id":"5dcf3bd1-47e7-4067-9b39-8c01542f009c","name":"Merge"},{"parameters":{"maxItems":100},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-4048,-1824],"id":"15ccba0d-3015-484b-9821-f18b3b94e09e","name":"Limit"},{"parameters":{"workflowId":{"__rl":true,"value":"HJfvVSvFtu32bPhL","mode":"list","cachedResultUrl":"/workflow/HJfvVSvFtu32bPhL","cachedResultName":"fallback-vetor"},"workflowInputs":{"mappingMode":"defineBelow","value":{"consultaId":"={{ $json.id }}"},"matchingColumns":["consultaId"],"schema":[{"id":"consultaId","displayName":"consultaId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1648,-1920],"id":"984e4828-bd37-45ac-9a77-67f943560443","name":"Call 'fallback-vetor'"},{"parameters":{"workflowId":{"__rl":true,"value":"ALYdM6dEmJdCNNRA","mode":"list","cachedResultUrl":"/workflow/ALYdM6dEmJdCNNRA","cachedResultName":"contador_aparições"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cnpj":"={{ $json.cnpj_basico }}","consultaId":"={{ $('set_data_busca').item.json.consultaId }}","notas":"={{ $json.nota }}"},"matchingColumns":[],"schema":[{"id":"cnpj","displayName":"cnpj","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"consultaId","displayName":"consultaId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"notas","displayName":"notas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1504,-1568],"id":"38cf7ff8-8c03-4ba1-bb88-b72c60b17bb5","name":"Call 'contador_aparições'"},{"parameters":{"workflowId":{"__rl":true,"value":"bphbpiPPgMm5Mhsb","mode":"list","cachedResultUrl":"/workflow/bphbpiPPgMm5Mhsb","cachedResultName":"query_manager"},"workflowInputs":{"mappingMode":"defineBelow","value":{"consulta":"={{ $json.descricao }}"},"matchingColumns":["consulta"],"schema":[{"id":"consulta","displayName":"consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-2576,-1872],"id":"49c1d710-0011-480d-97e3-995b6ac68a95","name":"Call 'query_manager'"},{"parameters":{"content":"## Banco de dados:\n- Soma 1 ao contador de aparições dos cnpjs listados\n- Insere os cnpjs listados na tabela de aparições","height":320,"width":656,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1056,-1712],"id":"5c191a9a-4d5d-40c7-b519-ffca7f4dfe09","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"67239d33-a6aa-4f1c-9f96-984e97694c0d","name":"descricao","value":"={{ $('Webhook').item.json.body.parametros.descricao }}","type":"string"},{"id":"fa440477-dce1-4238-aefb-1de688ba2398","name":"modelo_negocio","value":"={{ $json.body.parametros.modelo_negocio }}","type":"string"},{"id":"86485711-eb18-481b-9098-3f7f50f527ab","name":"ufs_selecionadas","value":"={{ $('Webhook').item.json.body.parametros.ufs_selecionadas || $json.ufs_unicas }}","type":"array"},{"id":"62dac054-7a4b-4b88-bb34-55c4e6a1c04f","name":"consultaId","value":"={{ $('Webhook').item.json.body.consultaId }}","type":"string"},{"id":"e8d9155c-f07e-49cc-9b2d-5e56cd44e33d","name":"lista_municipio","value":"={{ $json.descricao || [] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2752,-1872],"id":"d01353ce-5e17-459e-9bf3-6e21c86cc7a2","name":"set_data_busca"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search?rerank=1","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"servico\":[{{ $json.servico }}],\n    \"produto\":[{{ $json.produto }}],\n    \"descricao\":[{{ $json.descricao }}],\n    \"publico\":[{{ $json.publico }}],\n    \"cliente\":[{{ $json.cliente }}]\n  },\n  \"weights\": {\n    \"servico\": {{ $json.output.peso_servicos }},\n    \"descricao\": {{ $json.output.peso_descricao }},\n    \"publico\": {{ $json.output.peso_publico }},\n    \"cliente\": {{ $json.output.peso_clientes }},\n    \"produto\": {{ $json.output.peso_produtos }},\n    \"bm25\": {{ $json.output.peso_bm25 }}\n\n  },\n  \"filter\": {\n    \"modelo_negocio\": \"\",\n    \"cidade\":\"{{ $('set_data_busca').item.json.lista_municipio || \" \" }}\",\n    \"uf\":\"{{ $('set_data_busca').item.json.ufs_selecionadas || \" \" }}\"\n  },\n  \"filter_not\": {\n    \"descricao\": \"\"\n  },\n  \"limit_per_vector\": 20,\n  \"final_limit\": 10,\n  \"bm25_query\": \"{{ $json.bm25\n  .replace(/[^\\w\\s\\-.,]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n}}\",\n  \"rerank\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2304,-1760],"id":"48f09c9b-6c93-4f8b-b260-957aa3a07cd4","name":"Busca_Vetorial","retryOnFail":true,"maxTries":5},{"parameters":{"jsCode":"function safe(v) {\n  if (v === null || v === undefined) return \"\";\n  return String(v);\n}\n\nconst total = items.length;\n\nreturn items.map((item, index) => {\n  const j = item.json;\n  const payload = j.payload || {};\n\n  let nota = 100;\n\n  if (total > 1) {\n    nota = 100 - (25 * index) / (total - 1);\n  }\n\n  // Arredondamento + clamp\n  nota = Math.round(nota);\n  nota = Math.max(75, Math.min(100, nota));\n\n  return {\n    json: {\n      id: j.id || null,\n      score_final: j.score_final || 0,\n      nota: parseInt(nota),\n\n      cnpj: safe(payload.cnpj),\n      n_exibicoes: j.n_exibicoes || 0,\n      plano_categoria: j.plano_categoria || null,\n\n      full_profile: {\n        identidade: {\n          nome_empresa: safe(payload.nome_empresa),\n          modelo_negocio: safe(payload.modelo_negocio)\n        },\n        contato: {\n          url_site: safe(payload.site),\n          telefones: safe(payload.telefone),\n          emails: safe(payload.email)\n        }\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1872,-1760],"id":"09d80811-3585-410a-9cc4-4910890a172a","name":"Process_Profile"},{"parameters":{"content":"## Em caso de poucos resultados chama o cenário de fallback","height":320,"width":512,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1344,-2048],"id":"4e08c0a9-75bf-4e84-a97f-5837687b91be","name":"Sticky Note26"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search?rerank=1","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"servico\":[{{ $json.servico }}],\n    \"produto\":[{{ $json.produto }}],\n    \"descricao\":[{{ $json.descricao }}],\n    \"publico\":[{{ $json.publico }}],\n    \"cliente\":[{{ $json.cliente }}]\n  },\n  \"weights\": {\n    \"servico\": {{ $json.output.peso_servicos }},\n    \"descricao\": {{ $json.output.peso_descricao }},\n    \"publico\": {{ $json.output.peso_publico }},\n    \"cliente\": {{ $json.output.peso_clientes }},\n    \"produto\": {{ $json.output.peso_produtos }},\n    \"bm25\": {{ $json.output.peso_bm25 }}\n\n  },\n  \"filter\": {\n    \"modelo_negocio\": \"\",\n    \"cidade\":\"\",\n    \"uf\":\"\"\n  },\n  \"filter_not\": {\n    \"descricao\": \"\"\n  },\n  \"limit_per_vector\": 20,\n  \"final_limit\": 2,\n  \"bm25_query\": \"{{ $json.bm25\n  .replace(/[^\\w\\s\\-.,]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n}}\",\n  \"rerank\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2304,-2000],"id":"0dcbfc54-4c24-4806-93da-36c0c80337c5","name":"Busca_Vetorial1","retryOnFail":true,"maxTries":5},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2080,-2000],"id":"ca7c9812-fd76-4ac8-8b4d-671709cabd2e","name":"Split Out","alwaysOutputData":true},{"parameters":{"content":"## Busca Nacional","height":224,"width":1040},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2352,-2064],"id":"87ed31f0-404d-4e4a-b05f-d846f2e7915a","name":"Sticky Note1"},{"parameters":{"jsCode":"function safe(v) {\n  if (v === null || v === undefined) return \"\";\n  return String(v);\n}\n\n// 1. Ordenar resultados pelo score final (descendente)\nconst sorted = [...items].sort(\n  (a, b) => (b.json.score_final || 0) - (a.json.score_final || 0)\n);\n\n// 2. Identificar os extremos para a normalização (Min-Max)\nconst maxScore = sorted[0]?.json?.score_final || 0;\nconst minScore = sorted[sorted.length - 1]?.json?.score_final || 0;\n\nreturn sorted.map(item => {\n  const j = item.json;\n  const payload = j.payload || {};\n  const score = j.score_final || 0;\n\n  let nota = 75; // Piso padrão\n\n  // 3. Lógica de Interpolação Linear para o intervalo [75, 100]\n  if (maxScore > minScore) {\n    nota = 75 + (25 * (score - minScore)) / (maxScore - minScore);\n  } else if (maxScore > 0) {\n    nota = 100;\n  }\n\n  // 4. Conversão para INTEIRO e trava de segurança\n  nota = Math.round(nota); \n  nota = Math.max(75, Math.min(100, nota));\n\n  return {\n    json: {\n      id: j.id || null,\n      score_final: score,\n      nota: parseInt(nota),\n\n      cnpj: safe(payload.cnpj),\n      n_exibicoes: j.n_exibicoes || 0,\n      plano_categoria: j.plano_categoria || null,\n\n      full_profile: {\n        identidade: {\n          nome_empresa: safe(payload.nome_empresa),\n          modelo_negocio: safe(payload.modelo_negocio) // incluído aqui\n        },\n        contato: {\n          url_site: safe(payload.site),\n          telefones: safe(payload.telefone),\n          emails: safe(payload.email)\n        }\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1872,-2000],"id":"723ab066-e935-4444-8925-6efac79d327f","name":"Process_Profile1"},{"parameters":{"assignments":{"assignments":[{"id":"37b79ebe-4d88-4286-ad8f-71f98605e4ad","name":"result.item","value":"={{ $json.item }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1456,-2000],"id":"d113de89-3964-425f-b60a-06275c164fee","name":"set_result1"},{"parameters":{"assignments":{"assignments":[{"id":"8c8e6e64-cc6b-4e81-b261-650dc9498ac5","name":"item.fornecedor_id","value":"={{ $json.id || null}}","type":"string"},{"id":"e885457b-46bf-4c87-bd33-8c40ffd2805d","name":"item.n_listagens","value":"={{ $json.n_exibicoes || 0 }}","type":"number"},{"id":"665347f5-2639-4bb0-b692-0531f600359b","name":"item.plano_categoria","value":"={{ $json.plano_categoria || null }}","type":"string"},{"id":"244003cf-9cb2-437b-bb1b-e89a4cfb661d","name":"item.razao_social","value":"={{ $json.full_profile.identidade.nome_empresa }}","type":"string"},{"id":"c123260f-217e-4549-8c69-7c6cae477cff","name":"item.site","value":"={{ $json.full_profile.contato.url_site }}","type":"string"},{"id":"7a6d26fa-9e0e-415f-8d22-b7cf1bce103f","name":"item.telefone","value":"={{ $json.full_profile.contato.telefones }}","type":"string"},{"id":"1b92249f-71a1-48dd-9158-622d960b7794","name":"item.email","value":"={{ $json.full_profile.contato.emails }}","type":"string"},{"id":"76e17746-f60a-4628-9b58-0199f219e612","name":"item.nota","value":"=100","type":"number"},{"id":"3ebb5849-177b-4fba-bf29-572446fba50e","name":"item.limite_listagens ","value":"={{    $json.plano_categoria      ? (         $json.plano_categoria.toLowerCase() === 'standard' ? 10 :         $json.plano_categoria.toLowerCase() === 'essencial' ? 25 :         $json.plano_categoria.toLowerCase() === 'profissional' ? 1000 :         $json.plano_categoria.toLowerCase() === 'elite' ? 1000000 :         10       )     : 10 }}","type":"string"},{"id":"bd7599ed-40ac-4859-a39d-b99209bd89e1","name":"item.consulta_id","value":"={{ $('Webhook').item.json.body.consultaId }}","type":"string"},{"id":"0c2092b3-9f01-4b46-ba92-ba0c123babaa","name":"item.cnpj_basico","value":"={{ $json.cnpj }}","type":"string"},{"id":"40c24aed-1a3e-4f4d-85eb-90a167a7fa4c","name":"item.escopo","value":"nacional","type":"string"},{"id":"ce339f5b-313b-4b91-8c17-453ed2adbcac","name":"item.modelo_negocio","value":"={{ $json.full_profile.identidade.modelo_negocio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1664,-2000],"id":"b74a7850-f964-4c64-86a6-87369646ee2c","name":"set_national_result1"},{"parameters":{"assignments":{"assignments":[{"id":"8c8e6e64-cc6b-4e81-b261-650dc9498ac5","name":"item.fornecedor_id","value":"={{ $json.id || null}}","type":"string"},{"id":"e885457b-46bf-4c87-bd33-8c40ffd2805d","name":"item.n_listagens","value":"={{ $json.n_exibicoes || 0 }}","type":"number"},{"id":"665347f5-2639-4bb0-b692-0531f600359b","name":"item.plano_categoria","value":"={{ $json.plano_categoria || null }}","type":"string"},{"id":"244003cf-9cb2-437b-bb1b-e89a4cfb661d","name":"item.razao_social","value":"={{ $json.full_profile.identidade.nome_empresa }}","type":"string"},{"id":"c123260f-217e-4549-8c69-7c6cae477cff","name":"item.site","value":"={{ $json.full_profile.contato.url_site }}","type":"string"},{"id":"7a6d26fa-9e0e-415f-8d22-b7cf1bce103f","name":"item.telefone","value":"={{ $json.full_profile.contato.telefones }}","type":"string"},{"id":"1b92249f-71a1-48dd-9158-622d960b7794","name":"item.email","value":"={{ $json.full_profile.contato.emails }}","type":"string"},{"id":"76e17746-f60a-4628-9b58-0199f219e612","name":"item.nota","value":"={{ $json.nota }}","type":"number"},{"id":"3ebb5849-177b-4fba-bf29-572446fba50e","name":"item.limite_listagens ","value":"={{    $json.plano_categoria      ? (         $json.plano_categoria.toLowerCase() === 'standard' ? 10 :         $json.plano_categoria.toLowerCase() === 'essencial' ? 25 :         $json.plano_categoria.toLowerCase() === 'profissional' ? 1000 :         $json.plano_categoria.toLowerCase() === 'elite' ? 1000000 :         10       )     : 10 }}","type":"string"},{"id":"bd7599ed-40ac-4859-a39d-b99209bd89e1","name":"item.consulta_id","value":"={{ $('Webhook').item.json.body.consultaId }}","type":"string"},{"id":"0c2092b3-9f01-4b46-ba92-ba0c123babaa","name":"item.cnpj_basico","value":"={{ $json.cnpj }}","type":"string"},{"id":"a7b9e24b-b13d-4cbc-942f-fd358def7fff","name":"item.escopo","value":"local","type":"string"},{"id":"cf901bef-8ec4-421b-88de-b5d9fcbf0ed8","name":"item.modelo_negocio","value":"={{ $json.full_profile.identidade.modelo_negocio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1664,-1760],"id":"0b15a200-2a86-42ba-9baa-9a4984c620b5","name":"set_local_result"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1264,-1888],"id":"e862f7a5-13dc-472b-adc2-2b0a7fc54877","name":"Merge1"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"result.item.cnpj_basico","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[448,-1904],"id":"a8079956-78e4-4fce-b445-36a6df1ca69b","name":"Remove Duplicates"},{"parameters":{"fieldToSplitOut":"result","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1104,-1568],"id":"17b1d93f-9b72-423a-9aa9-451af456564a","name":"Split Out1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"item.cnpj_basico"},{"fieldToAggregate":"item.nota"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1312,-1568],"id":"d5200a4a-1b1e-4194-afad-2589c77f7378","name":"Aggregate"},{"parameters":{"content":"## Banco de dados:\n- Insere os resultados no banco\n- Não insere resultados duplicados","height":320,"width":980,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[352,-2048],"id":"f750bee1-aa08-4af5-aeec-61c9cb017c7a","name":"Sticky Note2"},{"parameters":{"assignments":{"assignments":[{"id":"9f189585-b83b-4a73-9e00-809f462362d7","name":"cnpj_basico","value":"={{ $json.result.item.cnpj_basico }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-992,-2016],"id":"000c6793-9f92-4f6c-bae8-72b3f3a39c95","name":"Edit Fields","alwaysOutputData":true},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"contador_aparicoes","mode":"list","cachedResultName":"contador_aparicoes"},"returnAll":true,"where":{"values":[{"column":"cnpj","value":"={{ $json.cnpj_basico }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-784,-2016],"id":"2d87d77e-2a78-4537-aeac-9e3fc273e37b","name":"Select rows from a table1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.n_aparicoes.toNumber() }}","rightValue":"={{ $json.limite_aparicoes.toNumber() }}","operator":{"type":"number","operation":"gte"},"id":"004e984c-6051-43fa-ad61-08bc36bb095d"}],"combinator":"and"},"renameOutput":true,"outputKey":"Limite Atingido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"50075b48-4326-4758-b9a1-f8ead5138dba","leftValue":"={{ $json.n_aparicoes.toNumber() }}","rightValue":"={{ $json.limite_aparicoes.toNumber() }}","operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pode ser Exibido"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-576,-2016],"id":"bd53e356-edd8-4571-8537-68bc68ffdbaf","name":"Switch","alwaysOutputData":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"cnpj"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-288,-2032],"id":"360e9bf8-83c0-4dbc-845f-328533f79b15","name":"Aggregate1","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-16,-1904],"id":"b7fee494-ea79-4bc3-9aa2-014308872f82","name":"Merge2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ae73dffc-2514-4418-8376-6529ffe767cb","leftValue":"={{ $('Aggregate1').item.json.cnpj }}","rightValue":"={{ $json.result.item.cnpj_basico }}","operator":{"type":"array","operation":"notContains","rightType":"any"}},{"id":"79c4522f-dccb-4715-840f-63aa00e08fc1","leftValue":"={{ $json.result.item.cnpj_basico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[176,-1904],"id":"79e5c980-c47b-4008-8cde-b4c4f7d36060","name":"Filter"},{"parameters":{"content":"## Faz a contagem de aparições e filtra empresas que já atingiram seu limite","height":400,"width":1632,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1296,-2128],"id":"e35f70a8-3977-4291-b018-c1f63d14892a","name":"Sticky Note27"}],"connections":{"Webhook":{"main":[[{"node":"tipo_busca1","type":"main","index":0}]]},"get_result":{"main":[[{"node":"Mostra resultado intermediário1","type":"main","index":0}]]},"set_result":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Aggregate2":{"main":[[{"node":"get_result","type":"main","index":0},{"node":"Split Out1","type":"main","index":0}]]},"tipo_busca1":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"acha_cidade1","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"lista_cidades1":{"main":[[{"node":"Get_codes1","type":"main","index":0}]]},"Get_codes1":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"set_ufs_unicas1":{"main":[[{"node":"Merge6","type":"main","index":1}]]},"acha_cidade1":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Mostra resultado intermediário1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Split Out4":{"main":[[{"node":"Process_Profile","type":"main","index":0}]]},"If1":{"main":[[{"node":"Call 'fallback-vetor'","type":"main","index":0}],[]]},"Merge":{"main":[[{"node":"set_data_busca","type":"main","index":0}]]},"Limit":{"main":[[{"node":"lista_cidades1","type":"main","index":0},{"node":"set_ufs_unicas1","type":"main","index":0}]]},"Call 'contador_aparições'":{"main":[[]]},"Call 'query_manager'":{"main":[[{"node":"Busca_Vetorial","type":"main","index":0},{"node":"Busca_Vetorial1","type":"main","index":0}]]},"set_data_busca":{"main":[[{"node":"Call 'query_manager'","type":"main","index":0}]]},"Busca_Vetorial":{"main":[[{"node":"Split Out4","type":"main","index":0}]]},"Process_Profile":{"main":[[{"node":"set_local_result","type":"main","index":0}]]},"Busca_Vetorial1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Process_Profile1","type":"main","index":0}]]},"Process_Profile1":{"main":[[{"node":"set_national_result1","type":"main","index":0}]]},"set_national_result1":{"main":[[{"node":"set_result1","type":"main","index":0}]]},"set_local_result":{"main":[[{"node":"set_result","type":"main","index":0}]]},"set_result1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"Remove Duplicates":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Call 'contador_aparições'","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Select rows from a table1","type":"main","index":0}]]},"Select rows from a table1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Aggregate1","type":"main","index":0}],[]]},"Aggregate1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]}},"authors":"ABC  advise","name":"Version 9f46bc50","description":"","autosaved":true},"tags":[]}