main-pr0gjsUvGW8PLnoE.json
{"updatedAt":"2026-03-15T22:09:50.667Z","createdAt":"2025-10-02T13:42:57.638Z","id":"pr0gjsUvGW8PLnoE","name":"Main","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"production","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-5280,-1568],"id":"333411dd-cda0-4774-a7f8-499f86c2d459","name":"Webhook","webhookId":"a45e5681-9cef-4e53-a3e1-0ccfec86480a"},{"parameters":{"content":"## Banco de dados:\n- Busca um consulta no banco de dados\n- Atualiza a coluna de resultados com o que foi encontrado\n- Adiciona +1 nas exibições das empresas encontradas\n- Salva um histórico da busca evitando repetições em exibições futuras.","height":336,"width":880,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1392,-1856],"id":"aa7e14ee-4578-46ce-b0e1-4bde1edfa674","name":"Sticky Note25"},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"get","tableId":"consultas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Webhook').item.json.body.consultaId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-912,-1696],"id":"dd8cbeda-a580-464d-8804-a721440b3cb3","name":"get_result","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"update","tableId":"consultas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.consultaId }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resultados","fieldValue":"={{ $('Aggregate2').item.json.result }}"},{"fieldId":"status","fieldValue":"concluida"},{"fieldId":"uf","fieldValue":"={{ $json.parametros.ufs_selecionadas }}"},{"fieldId":"municipio","fieldValue":"={{ $('Edit Fields8').item.json.lista_municipio }}"},{"fieldId":"modelo_negocio","fieldValue":"={{ $json.parametros.modelo_negocio }}"},{"fieldId":"=execution_id","fieldValue":"={{ $execution.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-736,-1696],"id":"0860959c-9934-4f96-987f-5b6173ee6cdb","name":"Mostra resultado intermediário1","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"37b79ebe-4d88-4286-ad8f-71f98605e4ad","name":"result.item","value":"={{ $json.item }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1360,-1696],"id":"8dd828e8-e080-4988-be51-a26d5e39712f","name":"set_result"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"result"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1120,-1696],"id":"86187a51-c364-4d40-a080-bc8d59033f6f","name":"Aggregate2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.parametros.tipo_busca }}","rightValue":"=uf","operator":{"type":"string","operation":"equals"},"id":"5ae05424-95d0-4255-9143-db06a0b77429"}],"combinator":"and"},"renameOutput":true,"outputKey":"busca_uf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"df4e5915-07cc-4afb-99a3-2ff13636335c","leftValue":"={{ $json.body.parametros.tipo_busca }}","rightValue":"city","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"busca_cidade"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-4976,-1568],"id":"a3a172a0-317c-4502-b261-5b0f1c133e25","name":"tipo_busca1"},{"parameters":{"fieldToSplitOut":"nearby_cities","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-4416,-1552],"id":"ca60ad11-6b98-4c83-9f99-592c1ed9205a","name":"Split Out3","alwaysOutputData":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"descricao"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3536,-1808],"id":"67ef449e-8692-4d16-86c2-cb2ecc1724d7","name":"Aggregate3","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"3b606833-d2df-4174-a8f3-8bd57c8fffcf","name":"cidades","value":"={{ $('Split Out3').item.json.name.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").replace(/~/g, \"\").toUpperCase() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3984,-1808],"id":"43d3c357-2f3f-419b-bf50-89a078d7eb3e","name":"lista_cidades1"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"get","tableId":"municipio","filters":{"conditions":[{"keyName":"descricao","keyValue":"={{ $json.cidades }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3760,-1808],"id":"c7da4dd3-9ee5-403f-ad0a-9e8d1d9047f8","name":"Get_codes1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-3296,-1680],"id":"28e76834-13ae-4043-9795-bd6d9e20ad6f","name":"Merge6"},{"parameters":{"jsCode":"// Pega todos os itens recebidos\nconst items = $input.all();\n\n// Extrai a UF (últimos 2 caracteres após o hífen)\nconst ufs = items\n  .map(item => {\n    const text = item.json.uf || item.json.cidade_origem || \"\";\n    const match = text.match(/([A-Z]{2})$/);\n    return match ? match[1] : null;\n  })\n  .filter(Boolean); // remove nulos\n\n// Remove duplicadas\nconst ufsUnicas = [...new Set(ufs)];\n\n// Retorna no formato original\nreturn [\n  {\n    json: {\n      ufs_unicas: ufsUnicas\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4032,-1488],"id":"13fbc362-0d7f-495a-be63-fa7ee33e1cb5","name":"set_ufs_unicas1"},{"parameters":{"content":"## Processamento: Encontra cidades dentro de um raio.\n- Atende busca por raio e busca por UF.\n### Busca por raio:\n- Leva em conta uma cidade como ponto de partida.\n- Consulta na api as cidades dentro daquele raio.\n- Lista cidades e UFs presente no raio.\n### Busca por UF:\n- Retorna a lista de UFs especificadas na consulta.","height":624,"width":1622,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4784,-1952],"id":"0b4ae983-1143-457c-a131-6a3b1637e59a","name":"Sticky Note42"},{"parameters":{"content":"## API própria:\n- Encontra cidades dentro de um raio pré-definido","height":256,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4704,-1664],"id":"a3f17b0f-ba1f-42d7-9f82-d8e2ab63b852","name":"Sticky Note43"},{"parameters":{"url":"https://api-busca-cidades-buscafornecedor.up.railway.app/api/cities/nearby","sendQuery":true,"queryParameters":{"parameters":[{"name":"city_name","value":"={{ $json.body.parametros.cidade_origem.replace(/\\s*-\\s*[A-Z]{2}$/, '') }}"},{"name":"radius_km","value":"={{ isNaN(Number($json.body.parametros.raio_km)) || !$json.body.parametros.raio_km? 1 : Number($json.body.parametros.raio_km) + 1}} "},{"name":"uf","value":"={{ $json.body.parametros.cidade_origem.match(/([A-Z]{2})$/)[1] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4640,-1552],"id":"e626d429-e061-4315-81a6-4f0cda496905","name":"acha_cidade1","alwaysOutputData":true},{"parameters":{"content":"## Busca códigos para as cidades no supabase:","height":272,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3840,-1920],"id":"ab9fd43c-d633-41bd-8d95-c8b47997a615","name":"Sticky Note44"},{"parameters":{"content":"## Mapeia Ufs Únicas.\n- Aplica uma função map().\n- Transforma código em Uf.\n- Mapeia Ufs únicas.","height":288},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4112,-1648],"id":"b4fea4e1-df39-417a-9177-b9f594144026","name":"Sticky Note45"},{"parameters":{"content":"## Fase 1: Preparação/Processamento da query do cliente.","height":720,"width":1910,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5056,-2032],"id":"a60bf2e9-3723-4a3f-9aec-facd6e647cc6","name":"Sticky Note47"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search?debug=1","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"servico\":[{{ $json.servico }}],\n    \"produto\":[{{ $json.produto }}],\n    \"descricao\":[{{ $json.descricao }}],\n    \"publico\":[{{ $json.publico }}],\n    \"cliente\":[{{ $json.cliente }}]\n  },\n  \"weights\": {\n    \"servico\": {{ $json.output.peso_servicos }},\n    \"descricao\": {{ $json.output.peso_descricao }},\n    \"publico\": {{ $json.output.peso_publico }},\n    \"cliente\": {{ $json.output.peso_clientes }},\n    \"produto\": {{ $json.output.peso_produtos }},\n    \"bm25\": {{ $json.output.peso_bm25 }}\n\n  },\n  \"filter\": {\n    \"modelo_negocio\": \"{{ $json.Modelo_Negocio }}\",\n    \"cidade\":\"{{ $('Edit Fields8').item.json.lista_municipio || \" \" }}\",\n    \"uf\":\"{{ $('Edit Fields8').item.json.ufs_selecionadas || \" \" }}\"\n  },\n  \"limit_per_vector\": 10,\n  \"final_limit\": 20,\n  \"bm25_query\": \"{{ $json.bm25\n  .replace(/[^\\w\\s\\-.,]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n}}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2496,-1712],"id":"48f09c9b-6c93-4f8b-b260-957aa3a07cd4","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"67239d33-a6aa-4f1c-9f96-984e97694c0d","name":"descricao","value":"={{ $('Webhook').item.json.body.parametros.descricao }}","type":"string"},{"id":"fa440477-dce1-4238-aefb-1de688ba2398","name":"modelo_negocio","value":"={{ $json.body.parametros.modelo_negocio }}","type":"string"},{"id":"86485711-eb18-481b-9098-3f7f50f527ab","name":"ufs_selecionadas","value":"={{ $('Webhook').item.json.body.parametros.ufs_selecionadas || $json.ufs_unicas }}","type":"array"},{"id":"62dac054-7a4b-4b88-bb34-55c4e6a1c04f","name":"consultaId","value":"={{ $('Webhook').item.json.body.consultaId }}","type":"string"},{"id":"e8d9155c-f07e-49cc-9b2d-5e56cd44e33d","name":"lista_municipio","value":"={{ $json.descricao || [] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2896,-1712],"id":"d01353ce-5e17-459e-9bf3-6e21c86cc7a2","name":"Edit Fields8"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2080,-1696],"id":"94f6dd56-a3d6-445d-a4df-593254ffc39e","name":"Split Out4","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"8c8e6e64-cc6b-4e81-b261-650dc9498ac5","name":"item.fornecedor_id","value":"={{ $json.id || null}}","type":"string"},{"id":"e885457b-46bf-4c87-bd33-8c40ffd2805d","name":"item.n_listagens","value":"={{ $json.n_exibicoes || 0 }}","type":"number"},{"id":"665347f5-2639-4bb0-b692-0531f600359b","name":"item.plano_categoria","value":"={{ $json.plano_categoria || null }}","type":"string"},{"id":"244003cf-9cb2-437b-bb1b-e89a4cfb661d","name":"item.razao_social","value":"={{ $json.full_profile.identidade.nome_empresa }}","type":"string"},{"id":"c123260f-217e-4549-8c69-7c6cae477cff","name":"item.site","value":"={{ $json.full_profile.contato.url_site }}","type":"string"},{"id":"7a6d26fa-9e0e-415f-8d22-b7cf1bce103f","name":"item.telefone","value":"={{ $json.full_profile.contato.telefones }}","type":"string"},{"id":"5448c6ef-51e9-4982-9929-ea760b632507","name":"item.instagram","value":"=\" \"","type":"string"},{"id":"1b92249f-71a1-48dd-9158-622d960b7794","name":"item.email","value":"={{ $json.full_profile.contato.emails }}","type":"string"},{"id":"76e17746-f60a-4628-9b58-0199f219e612","name":"item.nota","value":"={{ $json.nota }}","type":"number"},{"id":"3ebb5849-177b-4fba-bf29-572446fba50e","name":"item.limite_listagens ","value":"={{    $json.plano_categoria      ? (         $json.plano_categoria.toLowerCase() === 'standard' ? 10 :         $json.plano_categoria.toLowerCase() === 'essencial' ? 25 :         $json.plano_categoria.toLowerCase() === 'profissional' ? 1000 :         $json.plano_categoria.toLowerCase() === 'elite' ? 1000000 :         10       )     : 10 }}","type":"string"},{"id":"bd7599ed-40ac-4859-a39d-b99209bd89e1","name":"item.consulta_id","value":"={{ $('Webhook').item.json.body.consultaId }}","type":"string"},{"id":"0c2092b3-9f01-4b46-ba92-ba0c123babaa","name":"item.cnpj_basico","value":"={{ $json.cnpj }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1600,-1696],"id":"0b15a200-2a86-42ba-9baa-9a4984c620b5","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3034442b-d032-4908-bca5-c10d36945a1f","leftValue":"={{ $json.results.length }}","rightValue":4,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2288,-1712],"id":"d7b3e221-4876-4a49-bd10-923ba7159166","name":"If1"},{"parameters":{"jsCode":"function safe(v) {\n  if (v === null || v === undefined) return \"\";\n  return String(v);\n}\n\n// 1. Ordenar resultados pelo score final (descendente)\nconst sorted = [...items].sort(\n  (a, b) => (b.json.score_final || 0) - (a.json.score_final || 0)\n);\n\n// 2. Identificar os extremos para a normalização (Min-Max)\nconst maxScore = sorted[0]?.json?.score_final || 0;\nconst minScore = sorted[sorted.length - 1]?.json?.score_final || 0;\n\nreturn sorted.map(item => {\n  const j = item.json;\n  const payload = j.payload || {};\n  const score = j.score_final || 0;\n\n  let nota = 75; // Piso padrão\n\n  // 3. Lógica de Interpolação Linear para o intervalo [75, 100]\n  if (maxScore > minScore) {\n    // Cálculo: Base 75 + Proporção do Score (0 a 25)\n    nota = 75 + (25 * (score - minScore)) / (maxScore - minScore);\n  } else if (maxScore > 0) {\n    // Se todos os scores forem iguais, todos recebem a nota máxima\n    nota = 100;\n  }\n\n  // 4. Conversão para INTEIRO e trava de segurança\n  nota = Math.round(nota); \n  nota = Math.max(75, Math.min(100, nota));\n\n  return {\n    json: {\n      id: j.id || null,\n      score_final: score,\n      nota: parseInt(nota), // Garante que o output seja um Number Inteiro\n\n      cnpj: safe(payload.cnpj),\n      n_exibicoes: j.n_exibicoes || 0,\n      plano_categoria: j.plano_categoria || null,\n\n      full_profile: {\n        identidade: {\n          nome_empresa: safe(payload.nome_empresa)\n        },\n        contato: {\n          url_site: safe(payload.site),\n          telefones: safe(payload.telefone),\n          emails: safe(payload.email)\n        }\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1888,-1696],"id":"09d80811-3585-410a-9cc4-4910890a172a","name":"Code in JavaScript"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-3072,-1712],"id":"5dcf3bd1-47e7-4067-9b39-8c01542f009c","name":"Merge"},{"parameters":{"maxItems":10},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-4208,-1552],"id":"15ccba0d-3015-484b-9821-f18b3b94e09e","name":"Limit"},{"parameters":{"operation":"push","list":"={{ $('Edit Fields8').item.json.consultaId }}","messageData":"={{ $json.cnpj }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1456,-1312],"id":"611b7094-873c-43a4-8fd9-99fbf1b32eb7","name":"put","alwaysOutputData":true,"credentials":{"redis":{"id":"e8TEVWEpT7yUTHVI","name":"Redis account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"HJfvVSvFtu32bPhL","mode":"list","cachedResultUrl":"/workflow/HJfvVSvFtu32bPhL","cachedResultName":"fallback-vetor"},"workflowInputs":{"mappingMode":"defineBelow","value":{"consultaId":"={{ $('Webhook').item.json.body.consultaId }}"},"matchingColumns":["consultaId"],"schema":[{"id":"consultaId","displayName":"consultaId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-2064,-1936],"id":"984e4828-bd37-45ac-9a77-67f943560443","name":"Call 'fallback-vetor'"},{"parameters":{"workflowId":{"__rl":true,"value":"ALYdM6dEmJdCNNRA","mode":"list","cachedResultUrl":"/workflow/ALYdM6dEmJdCNNRA","cachedResultName":"contador_aparições"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cnpj":"={{ $json.cnpj }}","consultaId":"={{ $('Edit Fields8').item.json.consultaId }}","notas":"={{ $json.nota }}"},"matchingColumns":[],"schema":[{"id":"cnpj","displayName":"cnpj","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"consultaId","displayName":"consultaId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"notas","displayName":"notas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1456,-1488],"id":"38cf7ff8-8c03-4ba1-bb88-b72c60b17bb5","name":"Call 'contador_aparições'"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"cnpj"},{"fieldToAggregate":"nota"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1680,-1488],"id":"6049e938-5fd3-41fc-be16-f0a056fe9cbf","name":"Aggregate1"},{"parameters":{"workflowId":{"__rl":true,"value":"bphbpiPPgMm5Mhsb","mode":"list","cachedResultUrl":"/workflow/bphbpiPPgMm5Mhsb","cachedResultName":"query_manager"},"workflowInputs":{"mappingMode":"defineBelow","value":{"consulta":"={{ $json.descricao }}"},"matchingColumns":["consulta"],"schema":[{"id":"consulta","displayName":"consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-2720,-1712],"id":"49c1d710-0011-480d-97e3-995b6ac68a95","name":"Call 'query_manager'"}],"connections":{"Webhook":{"main":[[{"node":"tipo_busca1","type":"main","index":0}]]},"get_result":{"main":[[{"node":"Mostra resultado intermediário1","type":"main","index":0}]]},"set_result":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"get_result","type":"main","index":0}]]},"tipo_busca1":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"acha_cidade1","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"lista_cidades1":{"main":[[{"node":"Get_codes1","type":"main","index":0}]]},"Get_codes1":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"set_ufs_unicas1":{"main":[[{"node":"Merge6","type":"main","index":1}]]},"acha_cidade1":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Mostra resultado intermediário1":{"main":[[]]},"HTTP Request":{"main":[[{"node":"If1","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Call 'query_manager'","type":"main","index":0}]]},"Split Out4":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"set_result","type":"main","index":0}]]},"If1":{"main":[[{"node":"Call 'fallback-vetor'","type":"main","index":0}],[{"node":"Split Out4","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Aggregate1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Limit":{"main":[[{"node":"lista_cidades1","type":"main","index":0},{"node":"set_ufs_unicas1","type":"main","index":0}]]},"put":{"main":[[]]},"Aggregate1":{"main":[[{"node":"Call 'contador_aparições'","type":"main","index":0},{"node":"put","type":"main","index":0}]]},"Call 'contador_aparições'":{"main":[[]]},"Call 'query_manager'":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","errorWorkflow":"KFeveZkBafvIC5xECfmBs","callerPolicy":"workflowsFromSameOwner","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"acha_cidade1":[{"json":{"center_city":{"is_capital":false,"lat":-22.1177686714,"lon":-45.0533731031,"municipio_id":"3163706","name":"São Lourenço","population_2021":46539,"uf":"MG"},"nearby_cities":[{"distance_km":0,"is_capital":false,"lat":-22.1177686714,"lon":-45.0533731031,"municipio_id":"3163706","name":"São Lourenço","population_2021":46539,"uf":"MG"},{"distance_km":6.635,"is_capital":false,"lat":-22.0592064058,"lon":-45.041022642,"municipio_id":"3167806","name":"Soledade de Minas","population_2021":6226,"uf":"MG"},{"distance_km":8.178,"is_capital":false,"lat":-22.1181266346,"lon":-45.1327634856,"municipio_id":"3114105","name":"Carmo de Minas","population_2021":15031,"uf":"MG"},{"distance_km":11.436,"is_capital":false,"lat":-22.1909422926,"lon":-44.9753435743,"municipio_id":"3152600","name":"Pouso Alto","population_2021":5862,"uf":"MG"},{"distance_km":13.33,"is_capital":false,"lat":-22.2150562279,"lon":-44.9777360534,"municipio_id":"3164902","name":"São Sebastião do Rio Verde","population_2021":2259,"uf":"MG"},{"distance_km":18.629,"is_capital":false,"lat":-22.2536741087,"lon":-45.1591686739,"municipio_id":"3122801","name":"Dom Viçoso","population_2021":2992,"uf":"MG"},{"distance_km":19.87,"is_capital":false,"lat":-21.9793115398,"lon":-44.9314985914,"municipio_id":"3115508","name":"Caxambu","population_2021":21566,"uf":"MG"},{"distance_km":22.438,"is_capital":false,"lat":-22.0669598145,"lon":-45.2641356959,"municipio_id":"3145505","name":"Olímpio Noronha","population_2021":2829,"uf":"MG"},{"distance_km":23.128,"is_capital":false,"lat":-22.2950796549,"lon":-44.9359219047,"municipio_id":"3133105","name":"Itanhandu","population_2021":15511,"uf":"MG"},{"distance_km":23.802,"is_capital":false,"lat":-22.2083205227,"lon":-45.2628086074,"municipio_id":"3120508","name":"Cristina","population_2021":10211,"uf":"MG"},{"distance_km":24.483,"is_capital":false,"lat":-21.9576108079,"lon":-44.8903706628,"municipio_id":"3104908","name":"Baependi","population_2021":19249,"uf":"MG"},{"distance_km":24.756,"is_capital":false,"lat":-22.3369720668,"lon":-45.095425163,"municipio_id":"3171709","name":"Virgínia","population_2021":8652,"uf":"MG"},{"distance_km":26.634,"is_capital":false,"lat":-22.2851269734,"lon":-44.8682875036,"municipio_id":"3133006","name":"Itamonte","population_2021":15844,"uf":"MG"},{"distance_km":26.882,"is_capital":false,"lat":-21.8776655592,"lon":-45.0837688661,"municipio_id":"3117702","name":"Conceição do Rio Verde","population_2021":13729,"uf":"MG"},{"distance_km":27.842,"is_capital":false,"lat":-21.9984256961,"lon":-45.2908769704,"municipio_id":"3135902","name":"Jesuânia","population_2021":4774,"uf":"MG"},{"distance_km":31.452,"is_capital":false,"lat":-22.3897981316,"lon":-44.9696386731,"municipio_id":"3147600","name":"Passa Quatro","population_2021":16439,"uf":"MG"},{"distance_km":34.71,"is_capital":false,"lat":-21.9743155557,"lon":-45.3524788135,"municipio_id":"3137809","name":"Lambari","population_2021":20995,"uf":"MG"},{"distance_km":38.167,"is_capital":false,"lat":-22.4465170978,"lon":-45.1600478025,"municipio_id":"3140407","name":"Marmelópolis","population_2021":2701,"uf":"MG"},{"distance_km":38.198,"is_capital":false,"lat":-21.8554097676,"lon":-45.2925205085,"municipio_id":"3110707","name":"Cambuquira","population_2021":12810,"uf":"MG"},{"distance_km":38.901,"is_capital":false,"lat":-22.3072187776,"lon":-45.3710536908,"municipio_id":"3139904","name":"Maria da Fé","population_2021":14019,"uf":"MG"},{"distance_km":39.821,"is_capital":false,"lat":-21.8389511789,"lon":-44.8110234837,"municipio_id":"3120805","name":"Cruzília","population_2021":15529,"uf":"MG"},{"distance_km":41.512,"is_capital":false,"lat":-22.1611757088,"lon":-45.4536794627,"municipio_id":"3117207","name":"Conceição das Pedras","population_2021":2814,"uf":"MG"},{"distance_km":43.18,"is_capital":false,"lat":-22.1711356644,"lon":-44.6380988672,"municipio_id":"3101300","name":"Alagoa","population_2021":2657,"uf":"MG"},{"distance_km":44.677,"is_capital":false,"lat":-21.7207227802,"lon":-44.9870084546,"municipio_id":"3165206","name":"São Tomé das Letras","population_2021":7151,"uf":"MG"},{"distance_km":45.111,"is_capital":false,"lat":-22.2542260031,"lon":-45.4659715176,"municipio_id":"3149101","name":"Pedralva","population_2021":11098,"uf":"MG"},{"distance_km":47.458,"is_capital":false,"lat":-21.835356704,"lon":-45.3984486739,"municipio_id":"3110905","name":"Campanha","population_2021":16855,"uf":"MG"},{"distance_km":47.886,"is_capital":false,"lat":-22.1184737389,"lon":-45.5182345057,"municipio_id":"3144409","name":"Natércia","population_2021":4727,"uf":"MG"},{"distance_km":48.312,"is_capital":false,"lat":-22.502008746,"lon":-45.2725963577,"municipio_id":"3121100","name":"Delfim Moreira","population_2021":8007,"uf":"MG"},{"distance_km":49.042,"is_capital":false,"lat":-21.9758966559,"lon":-44.6028244646,"municipio_id":"3101201","name":"Aiuruoca","population_2021":5949,"uf":"MG"},{"distance_km":50.952,"is_capital":false,"lat":-22.0647444405,"lon":-45.5445766341,"municipio_id":"3129202","name":"Heliodora","population_2021":6623,"uf":"MG"},{"distance_km":51.305,"is_capital":false,"lat":-21.6959657769,"lon":-45.2549368732,"municipio_id":"3169307","name":"Três Corações","population_2021":80561,"uf":"MG"},{"distance_km":52.009,"is_capital":false,"lat":-22.5777498804,"lon":-44.9617319606,"municipio_id":"3513405","name":"Cruzeiro","population_2021":82895,"uf":"SP"},{"distance_km":52.928,"is_capital":false,"lat":-22.5700964742,"lon":-44.8931102794,"municipio_id":"3526605","name":"Lavrinhas","population_2021":7361,"uf":"SP"},{"distance_km":54.414,"is_capital":false,"lat":-22.3290552486,"lon":-45.5301876075,"municipio_id":"3163201","name":"São José do Alegre","population_2021":4222,"uf":"MG"},{"distance_km":54.776,"is_capital":false,"lat":-22.4306005745,"lon":-45.4645825045,"municipio_id":"3132404","name":"Itajubá","population_2021":97782,"uf":"MG"},{"distance_km":54.982,"is_capital":false,"lat":-22.5418444993,"lon":-44.7784773101,"municipio_id":"3541901","name":"Queluz","population_2021":13788,"uf":"SP"},{"distance_km":55.363,"is_capital":false,"lat":-22.5290130397,"lon":-45.3567739531,"municipio_id":"3172202","name":"Wenceslau Braz","population_2021":2543,"uf":"MG"},{"distance_km":56.473,"is_capital":false,"lat":-22.6111668852,"lon":-45.1835694245,"municipio_id":"3538501","name":"Piquete","population_2021":13495,"uf":"SP"},{"distance_km":59.356,"is_capital":false,"lat":-22.4118730678,"lon":-45.5347391786,"municipio_id":"3151008","name":"Piranguinho","population_2021":8683,"uf":"MG"},{"distance_km":59.445,"is_capital":false,"lat":-21.9113492777,"lon":-44.5214453518,"municipio_id":"3166402","name":"Seritinga","population_2021":1857,"uf":"MG"},{"distance_km":59.946,"is_capital":false,"lat":-21.5790480165,"lon":-45.0753606267,"municipio_id":"3160801","name":"São Bento Abade","population_2021":5411,"uf":"MG"},{"distance_km":60.981,"is_capital":false,"lat":-22.6647543761,"lon":-45.0106304149,"municipio_id":"3508603","name":"Cachoeira Paulista","population_2021":33827,"uf":"SP"},{"distance_km":61.193,"is_capital":false,"lat":-21.8919051421,"lon":-45.5946377949,"municipio_id":"3162005","name":"São Gonçalo do Sapucaí","population_2021":25670,"uf":"MG"},{"distance_km":61.839,"is_capital":false,"lat":-21.8887817979,"lon":-44.5067541647,"municipio_id":"3167004","name":"Serranos","population_2021":1949,"uf":"MG"},{"distance_km":62.01,"is_capital":false,"lat":-21.9967053816,"lon":-44.4660150728,"municipio_id":"3114808","name":"Carvalhos","population_2021":4445,"uf":"MG"},{"distance_km":63.181,"is_capital":false,"lat":-22.5821938859,"lon":-44.6994320051,"municipio_id":"3503505","name":"Areias","population_2021":3906,"uf":"SP"},{"distance_km":63.705,"is_capital":false,"lat":-22.690669066,"lon":-45.0569757405,"municipio_id":"3509957","name":"Canas","population_2021":5268,"uf":"SP"},{"distance_km":64,"is_capital":false,"lat":-22.6614243464,"lon":-44.8489961032,"municipio_id":"3552007","name":"Silveiras","population_2021":6375,"uf":"SP"},{"distance_km":64.133,"is_capital":false,"lat":-22.5264938454,"lon":-45.493271705,"municipio_id":"3150901","name":"Piranguçu","population_2021":5504,"uf":"MG"},{"distance_km":64.335,"is_capital":false,"lat":-21.7617721381,"lon":-45.5450741387,"municipio_id":"3142601","name":"Monsenhor Paulo","population_2021":8764,"uf":"MG"},{"distance_km":65.769,"is_capital":false,"lat":-22.4970145997,"lon":-44.5627719942,"municipio_id":"3302254","name":"Itatiaia","population_2021":32312,"uf":"RJ"},{"distance_km":65.957,"is_capital":false,"lat":-22.0380848512,"lon":-45.6876774051,"municipio_id":"3113602","name":"Careaçu","population_2021":6826,"uf":"MG"},{"distance_km":67.047,"is_capital":false,"lat":-21.6775434808,"lon":-44.6092928195,"municipio_id":"3141900","name":"Minduri","population_2021":3891,"uf":"MG"},{"distance_km":67.816,"is_capital":false,"lat":-22.1696084676,"lon":-44.3973057605,"municipio_id":"3107208","name":"Bocaina de Minas","population_2021":5088,"uf":"MG"},{"distance_km":68.653,"is_capital":false,"lat":-22.7316930326,"lon":-45.1242481442,"municipio_id":"3527207","name":"Lorena","population_2021":89532,"uf":"SP"},{"distance_km":68.664,"is_capital":false,"lat":-22.2533298264,"lon":-45.7039881925,"municipio_id":"3159605","name":"Santa Rita do Sapucaí","population_2021":44226,"uf":"MG"},{"distance_km":69.018,"is_capital":false,"lat":-21.5123199002,"lon":-44.9061064797,"municipio_id":"3138708","name":"Luminárias","population_2021":5431,"uf":"MG"},{"distance_km":70.027,"is_capital":false,"lat":-22.4731102415,"lon":-45.6153258183,"municipio_id":"3108909","name":"Brazópolis","population_2021":14364,"uf":"MG"},{"distance_km":72.364,"is_capital":false,"lat":-22.1550057868,"lon":-45.7547892089,"municipio_id":"3164407","name":"São Sebastião da Bela Vista","population_2021":5598,"uf":"MG"},{"distance_km":73.575,"is_capital":false,"lat":-21.5570800391,"lon":-45.4318861443,"municipio_id":"3170701","name":"Varginha","population_2021":137608,"uf":"MG"},{"distance_km":74.026,"is_capital":false,"lat":-22.4711835861,"lon":-44.4436134229,"municipio_id":"3304201","name":"Resende","population_2021":133244,"uf":"RJ"},{"distance_km":75.133,"is_capital":false,"lat":-21.4610604283,"lon":-45.2246230942,"municipio_id":"3113909","name":"Carmo da Cachoeira","population_2021":12193,"uf":"MG"},{"distance_km":75.981,"is_capital":false,"lat":-21.7912077552,"lon":-45.7005297277,"municipio_id":"3119005","name":"Cordislândia","population_2021":3546,"uf":"MG"},{"distance_km":76.432,"is_capital":false,"lat":-22.6464898966,"lon":-44.5783409613,"municipio_id":"3549607","name":"São José do Barreiro","population_2021":4141,"uf":"SP"},{"distance_km":76.778,"is_capital":false,"lat":-22.0243587048,"lon":-44.3151409364,"municipio_id":"3138500","name":"Liberdade","population_2021":4994,"uf":"MG"},{"distance_km":77.453,"is_capital":false,"lat":-21.6974718375,"lon":-44.4546835036,"municipio_id":"3165305","name":"São Vicente de Minas","population_2021":7876,"uf":"MG"},{"distance_km":77.459,"is_capital":false,"lat":-21.6093127849,"lon":-45.5664342008,"municipio_id":"3123601","name":"Elói Mendes","population_2021":28556,"uf":"MG"},{"distance_km":79.084,"is_capital":false,"lat":-22.8174250893,"lon":-45.1916001284,"municipio_id":"3518404","name":"Guaratinguetá","population_2021":123192,"uf":"SP"},{"distance_km":79.474,"is_capital":false,"lat":-22.3539840612,"lon":-45.7821375141,"municipio_id":"3109709","name":"Cachoeira de Minas","population_2021":11609,"uf":"MG"},{"distance_km":80.542,"is_capital":false,"lat":-21.4037168147,"lon":-44.9224226367,"municipio_id":"3130804","name":"Ingaí","population_2021":2785,"uf":"MG"},{"distance_km":80.898,"is_capital":false,"lat":-22.0279972639,"lon":-45.8324471456,"municipio_id":"3167400","name":"Silvianópolis","population_2021":6258,"uf":"MG"},{"distance_km":81.094,"is_capital":false,"lat":-21.8793890057,"lon":-45.7967357927,"municipio_id":"3169802","name":"Turvolândia","population_2021":5099,"uf":"MG"},{"distance_km":81.468,"is_capital":false,"lat":-21.4916256214,"lon":-44.6436090229,"municipio_id":"3114600","name":"Carrancas","population_2021":4052,"uf":"MG"},{"distance_km":83.029,"is_capital":false,"lat":-22.8406202063,"lon":-45.2559743129,"municipio_id":"3540754","name":"Potim","population_2021":25603,"uf":"SP"},{"distance_km":83.205,"is_capital":false,"lat":-22.848154,"lon":-45.2294293381,"municipio_id":"3502507","name":"Aparecida","population_2021":36211,"uf":"SP"},{"distance_km":83.399,"is_capital":false,"lat":-22.4174754897,"lon":-45.7963266585,"municipio_id":"3117801","name":"Conceição dos Ouros","population_2021":11852,"uf":"MG"},{"distance_km":85.287,"is_capital":false,"lat":-22.2089768784,"lon":-44.2310487921,"municipio_id":"3147808","name":"Passa-Vinte","population_2021":2024,"uf":"MG"},{"distance_km":85.364,"is_capital":false,"lat":-22.4329484238,"lon":-44.296900735,"municipio_id":"3304110","name":"Porto Real","population_2021":20254,"uf":"RJ"},{"distance_km":86.102,"is_capital":false,"lat":-21.9161042282,"lon":-44.2469542481,"municipio_id":"3103603","name":"Arantina","population_2021":2779,"uf":"MG"},{"distance_km":86.899,"is_capital":false,"lat":-21.7369681987,"lon":-44.3176990379,"municipio_id":"3102803","name":"Andrelândia","population_2021":12189,"uf":"MG"},{"distance_km":87.609,"is_capital":false,"lat":-22.4099186617,"lon":-44.2627113016,"municipio_id":"3304128","name":"Quatis","population_2021":14562,"uf":"RJ"},{"distance_km":87.798,"is_capital":false,"lat":-22.6747987233,"lon":-44.4481065568,"municipio_id":"3503158","name":"Arapeí","population_2021":2452,"uf":"SP"},{"distance_km":88.44,"is_capital":false,"lat":-22.7400919139,"lon":-45.5892017004,"municipio_id":"3509700","name":"Campos do Jordão","population_2021":52713,"uf":"SP"},{"distance_km":89.316,"is_capital":false,"lat":-22.5551927715,"lon":-45.781703528,"municipio_id":"3147303","name":"Paraisópolis","population_2021":21353,"uf":"MG"},{"distance_km":90.113,"is_capital":false,"lat":-21.7760729207,"lon":-45.845639185,"municipio_id":"3114709","name":"Carvalhópolis","population_2021":3614,"uf":"MG"},{"distance_km":90.53,"is_capital":false,"lat":-22.8968185475,"lon":-45.3093777871,"municipio_id":"3544301","name":"Roseira","population_2021":10888,"uf":"SP"},{"distance_km":91.084,"is_capital":false,"lat":-21.9458997849,"lon":-44.189374456,"municipio_id":"3107505","name":"Bom Jardim de Minas","population_2021":6444,"uf":"MG"},{"distance_km":91.261,"is_capital":false,"lat":-21.3137963381,"lon":-44.875787846,"municipio_id":"3134301","name":"Itumirim","population_2021":5978,"uf":"MG"},{"distance_km":91.859,"is_capital":false,"lat":-22.2303029952,"lon":-45.9371442758,"municipio_id":"3152501","name":"Pouso Alegre","population_2021":154293,"uf":"MG"},{"distance_km":92.274,"is_capital":false,"lat":-21.9348528245,"lon":-45.9265298076,"municipio_id":"3162302","name":"São João da Mata","population_2021":2743,"uf":"MG"},{"distance_km":93.128,"is_capital":false,"lat":-22.0475136418,"lon":-45.9540125199,"municipio_id":"3124401","name":"Espírito Santo do Dourado","population_2021":4728,"uf":"MG"},{"distance_km":94.464,"is_capital":false,"lat":-22.6852869533,"lon":-45.7371389869,"municipio_id":"3548609","name":"São Bento do Sapucaí","population_2021":10907,"uf":"SP"},{"distance_km":94.553,"is_capital":false,"lat":-21.5473160268,"lon":-45.7326954708,"municipio_id":"3147204","name":"Paraguaçu","population_2021":21693,"uf":"MG"},{"distance_km":95.991,"is_capital":false,"lat":-21.3687699217,"lon":-45.515474797,"municipio_id":"3169406","name":"Três Pontas","population_2021":57127,"uf":"MG"},{"distance_km":97.441,"is_capital":false,"lat":-21.2428702373,"lon":-44.9999311091,"municipio_id":"3138203","name":"Lavras","population_2021":105756,"uf":"MG"},{"distance_km":97.865,"is_capital":false,"lat":-22.6826159993,"lon":-44.323330129,"municipio_id":"3504909","name":"Bananal","population_2021":11039,"uf":"SP"},{"distance_km":98.212,"is_capital":false,"lat":-22.1484611222,"lon":-44.1004418544,"municipio_id":"3159308","name":"Santa Rita de Jacutinga","population_2021":4843,"uf":"MG"},{"distance_km":99.258,"is_capital":false,"lat":-22.9266687259,"lon":-45.4620488462,"municipio_id":"3538006","name":"Pindamonhangaba","population_2021":171885,"uf":"SP"},{"distance_km":99.804,"is_capital":false,"lat":-22.7515963809,"lon":-45.7409257376,"municipio_id":"3165404","name":"Sapucaí-Mirim","population_2021":7045,"uf":"MG"},{"distance_km":100.031,"is_capital":false,"lat":-21.234576935,"lon":-45.2374291198,"municipio_id":"3144607","name":"Nepomuceno","population_2021":26882,"uf":"MG"},{"distance_km":100.049,"is_capital":false,"lat":-21.2960563593,"lon":-44.6588381542,"municipio_id":"3134509","name":"Itutinga","population_2021":3749,"uf":"MG"},{"distance_km":101.048,"is_capital":false,"lat":-21.78469255,"lon":-45.9649695632,"municipio_id":"3151701","name":"Poço Fundo","population_2021":16900,"uf":"MG"},{"distance_km":101.496,"is_capital":false,"lat":-22.5504650358,"lon":-45.9222507202,"municipio_id":"3118502","name":"Consolação","population_2021":1786,"uf":"MG"},{"distance_km":102.051,"is_capital":false,"lat":-21.6783538965,"lon":-45.9217640832,"municipio_id":"3139003","name":"Machado","population_2021":42682,"uf":"MG"},{"distance_km":102.094,"is_capital":false,"lat":-22.6576191871,"lon":-45.8565920385,"municipio_id":"3127404","name":"Gonçalves","population_2021":4360,"uf":"MG"},{"distance_km":102.123,"is_capital":false,"lat":-22.8311934023,"lon":-45.6792788633,"municipio_id":"3548203","name":"Santo Antônio do Pinhal","population_2021":6843,"uf":"SP"},{"distance_km":102.323,"is_capital":false,"lat":-22.5453011339,"lon":-44.1724313737,"municipio_id":"3300407","name":"Barra Mansa","population_2021":185237,"uf":"RJ"},{"distance_km":102.384,"is_capital":false,"lat":-21.4773220689,"lon":-44.3408859115,"municipio_id":"3139102","name":"Madre de Deus de Minas","population_2021":5119,"uf":"MG"},{"distance_km":103.102,"is_capital":false,"lat":-22.1525607581,"lon":-46.0536623723,"municipio_id":"3117900","name":"Congonhal","population_2021":12209,"uf":"MG"},{"distance_km":103.124,"is_capital":false,"lat":-21.190414325,"lon":-45.0647821085,"municipio_id":"3154705","name":"Ribeirão Vermelho","population_2021":4061,"uf":"MG"},{"distance_km":105.943,"is_capital":false,"lat":-21.1720656159,"lon":-44.9287829737,"municipio_id":"3130408","name":"Ijaci","population_2021":6667,"uf":"MG"},{"distance_km":106.255,"is_capital":false,"lat":-22.4630450604,"lon":-46.0163518066,"municipio_id":"3124500","name":"Estiva","population_2021":11416,"uf":"MG"},{"distance_km":106.717,"is_capital":false,"lat":-22.9604152054,"lon":-45.5507468823,"municipio_id":"3554805","name":"Tremembé","population_2021":48228,"uf":"SP"},{"distance_km":106.861,"is_capital":false,"lat":-23.0747501474,"lon":-44.9580269035,"municipio_id":"3513603","name":"Cunha","population_2021":21373,"uf":"SP"},{"distance_km":107.382,"is_capital":false,"lat":-21.2489621802,"lon":-45.5071210487,"municipio_id":"3158300","name":"Santana da Vargem","population_2021":7047,"uf":"MG"},{"distance_km":107.94,"is_capital":false,"lat":-22.5099676008,"lon":-44.0935218847,"municipio_id":"3306305","name":"Volta Redonda","population_2021":274925,"uf":"RJ"},{"distance_km":108.685,"is_capital":false,"lat":-23.0869213515,"lon":-45.1908108204,"municipio_id":"3526308","name":"Lagoinha","population_2021":4882,"uf":"SP"},{"distance_km":109.763,"is_capital":false,"lat":-21.2176969672,"lon":-44.6172346644,"municipio_id":"3144508","name":"Nazareno","population_2021":8710,"uf":"MG"},{"distance_km":111.002,"is_capital":false,"lat":-22.3716455947,"lon":-46.0964468007,"municipio_id":"3169059","name":"Tocos do Moji","population_2021":4117,"uf":"MG"},{"distance_km":111.016,"is_capital":false,"lat":-21.1865745237,"lon":-45.4408055668,"municipio_id":"3118700","name":"Coqueiral","population_2021":9099,"uf":"MG"},{"distance_km":112.8,"is_capital":false,"lat":-21.1464850112,"lon":-44.7384635852,"municipio_id":"3130002","name":"Ibituruna","population_2021":3003,"uf":"MG"},{"distance_km":112.867,"is_capital":false,"lat":-21.405761529,"lon":-45.8323121024,"municipio_id":"3125200","name":"Fama","population_2021":2374,"uf":"MG"},{"distance_km":112.924,"is_capital":false,"lat":-21.6018318574,"lon":-44.11087343,"municipio_id":"3158706","name":"Santana do Garambéu","population_2021":2494,"uf":"MG"},{"distance_km":113.496,"is_capital":false,"lat":-23.0265555,"lon":-45.5566086967,"municipio_id":"3554102","name":"Taubaté","population_2021":320820,"uf":"SP"},{"distance_km":113.622,"is_capital":false,"lat":-21.4697328736,"lon":-44.2025017472,"municipio_id":"3150307","name":"Piedade do Rio Grande","population_2021":4436,"uf":"MG"},{"distance_km":113.854,"is_capital":false,"lat":-21.0945188676,"lon":-45.0930878294,"municipio_id":"3149903","name":"Perdões","population_2021":21577,"uf":"MG"},{"distance_km":114.365,"is_capital":false,"lat":-22.6299218874,"lon":-46.0179092076,"municipio_id":"3119906","name":"Córrego do Bom Jesus","population_2021":3685,"uf":"MG"},{"distance_km":115.953,"is_capital":false,"lat":-22.2724082578,"lon":-46.1671682395,"municipio_id":"3108305","name":"Borda da Mata","population_2021":19809,"uf":"MG"},{"distance_km":116.109,"is_capital":false,"lat":-22.1666066777,"lon":-46.1794726958,"municipio_id":"3165800","name":"Senador José Bento","population_2021":1422,"uf":"MG"},{"distance_km":116.129,"is_capital":false,"lat":-22.731726834,"lon":-44.1394056377,"municipio_id":"3304409","name":"Rio Claro","population_2021":18677,"uf":"RJ"},{"distance_km":116.969,"is_capital":false,"lat":-22.6110971634,"lon":-46.0580193633,"municipio_id":"3110608","name":"Cambuí","population_2021":30068,"uf":"MG"},{"distance_km":117.008,"is_capital":false,"lat":-22.5156739858,"lon":-44.000354557,"municipio_id":"3303955","name":"Pinheiral","population_2021":25563,"uf":"RJ"},{"distance_km":117.197,"is_capital":false,"lat":-22.0995205122,"lon":-46.1908292322,"municipio_id":"3131505","name":"Ipuiúna","population_2021":10156,"uf":"MG"},{"distance_km":119.099,"is_capital":false,"lat":-21.8647729424,"lon":-43.9309268802,"municipio_id":"3145406","name":"Olaria","population_2021":1694,"uf":"MG"},{"distance_km":119.472,"is_capital":false,"lat":-22.4768368285,"lon":-46.1478822021,"municipio_id":"3107901","name":"Bom Repouso","population_2021":10527,"uf":"MG"},{"distance_km":120.131,"is_capital":false,"lat":-21.4281781229,"lon":-45.9489181992,"municipio_id":"3101607","name":"Alfenas","population_2021":80973,"uf":"MG"},{"distance_km":120.291,"is_capital":false,"lat":-21.546680652,"lon":-46.0431449358,"municipio_id":"3166907","name":"Serrania","population_2021":7667,"uf":"MG"},{"distance_km":121.817,"is_capital":false,"lat":-21.2386979074,"lon":-45.7569073652,"municipio_id":"3111606","name":"Campos Gerais","population_2021":28908,"uf":"MG"},{"distance_km":122.452,"is_capital":false,"lat":-21.0234516664,"lon":-45.1859253147,"municipio_id":"3111903","name":"Cana Verde","population_2021":5585,"uf":"MG"},{"distance_km":123.814,"is_capital":false,"lat":-22.9550105792,"lon":-45.848151985,"municipio_id":"3531704","name":"Monteiro Lobato","population_2021":4739,"uf":"SP"},{"distance_km":124.499,"is_capital":false,"lat":-23.0091159353,"lon":-44.3196272623,"municipio_id":"3300100","name":"Angra dos Reis","population_2021":210171,"uf":"RJ"},{"distance_km":124.74,"is_capital":false,"lat":-21.1317693675,"lon":-44.4778082132,"municipio_id":"3115201","name":"Conceição da Barra de Minas","population_2021":3939,"uf":"MG"},{"distance_km":124.77,"is_capital":false,"lat":-21.0304160944,"lon":-44.7555027233,"municipio_id":"3108008","name":"Bom Sucesso","population_2021":17612,"uf":"MG"},{"distance_km":125.553,"is_capital":false,"lat":-23.2218715102,"lon":-45.3095445048,"municipio_id":"3550001","name":"São Luiz do Paraitinga","population_2021":10693,"uf":"SP"},{"distance_km":125.85,"is_capital":false,"lat":-21.0905310792,"lon":-45.5644089308,"municipio_id":"3107109","name":"Boa Esperança","population_2021":40308,"uf":"MG"},{"distance_km":126.138,"is_capital":false,"lat":-22.0869222525,"lon":-43.8294656656,"municipio_id":"3155900","name":"Rio Preto","population_2021":5493,"uf":"MG"},{"distance_km":127.168,"is_capital":false,"lat":-22.5887215666,"lon":-46.1802335938,"municipio_id":"3165578","name":"Senador Amaral","population_2021":5365,"uf":"MG"},{"distance_km":127.439,"is_capital":false,"lat":-23.2194136073,"lon":-44.710858502,"municipio_id":"3303807","name":"Paraty","population_2021":44175,"uf":"RJ"},{"distance_km":128.283,"is_capital":false,"lat":-23.1006637527,"lon":-45.7077303651,"municipio_id":"3508504","name":"Caçapava","population_2021":95752,"uf":"SP"},{"distance_km":131.01,"is_capital":false,"lat":-20.9462485658,"lon":-44.9186749352,"municipio_id":"3159902","name":"Santo Antônio do Amparo","population_2021":18697,"uf":"MG"},{"distance_km":131.273,"is_capital":false,"lat":-21.711454834,"lon":-46.2481585071,"municipio_id":"3111002","name":"Campestre","population_2021":21052,"uf":"MG"},{"distance_km":131.563,"is_capital":false,"lat":-22.6287569098,"lon":-43.8993511858,"municipio_id":"3304003","name":"Piraí","population_2021":29802,"uf":"RJ"},{"distance_km":131.956,"is_capital":false,"lat":-22.4695962921,"lon":-43.8284524538,"municipio_id":"3300308","name":"Barra do Piraí","population_2021":101139,"uf":"RJ"},{"distance_km":132.636,"is_capital":false,"lat":-21.5612300794,"lon":-43.9167605188,"municipio_id":"3159407","name":"Santa Rita de Ibitipoca","population_2021":3380,"uf":"MG"},{"distance_km":132.828,"is_capital":false,"lat":-22.0264354861,"lon":-46.3386257814,"municipio_id":"3159209","name":"Santa Rita de Caldas","population_2021":8900,"uf":"MG"},{"distance_km":132.961,"is_capital":false,"lat":-22.7567463578,"lon":-46.1468632893,"municipio_id":"3110509","name":"Camanducaia","population_2021":21831,"uf":"MG"},{"distance_km":133.213,"is_capital":false,"lat":-21.8410955181,"lon":-43.796383224,"municipio_id":"3138609","name":"Lima Duarte","population_2021":16749,"uf":"MG"},{"distance_km":133.736,"is_capital":false,"lat":-22.32148713,"lon":-46.3338013988,"municipio_id":"3130606","name":"Inconfidentes","population_2021":7387,"uf":"MG"},{"distance_km":135.444,"is_capital":false,"lat":-20.9016774924,"lon":-45.1280485696,"municipio_id":"3158805","name":"Santana do Jacaré","population_2021":4847,"uf":"MG"},{"distance_km":135.705,"is_capital":false,"lat":-21.429472482,"lon":-43.9681238351,"municipio_id":"3129400","name":"Ibertioga","population_2021":4999,"uf":"MG"},{"distance_km":135.774,"is_capital":false,"lat":-20.9374322025,"lon":-45.3894653435,"municipio_id":"3100807","name":"Aguanil","population_2021":4557,"uf":"MG"},{"distance_km":136.166,"is_capital":false,"lat":-21.5172644643,"lon":-46.2029411062,"municipio_id":"3122405","name":"Divisa Nova","population_2021":6039,"uf":"MG"},{"distance_km":136.522,"is_capital":false,"lat":-21.1355089743,"lon":-44.2609727347,"municipio_id":"3162500","name":"São João del-Rei","population_2021":90897,"uf":"MG"},{"distance_km":137.649,"is_capital":false,"lat":-23.2726554993,"lon":-45.5364956107,"municipio_id":"3542305","name":"Redenção da Serra","population_2021":3827,"uf":"SP"},{"distance_km":137.824,"is_capital":false,"lat":-22.2835244239,"lon":-46.3800808288,"municipio_id":"3146008","name":"Ouro Fino","population_2021":33938,"uf":"MG"},{"distance_km":137.866,"is_capital":false,"lat":-20.8953162458,"lon":-45.2758613611,"municipio_id":"3111200","name":"Campo Belo","population_2021":54338,"uf":"MG"},{"distance_km":137.957,"is_capital":false,"lat":-21.1093257176,"lon":-45.8307571405,"municipio_id":"3111309","name":"Campo do Meio","population_2021":11648,"uf":"MG"},{"distance_km":138.371,"is_capital":false,"lat":-22.4361670056,"lon":-46.3533880872,"municipio_id":"3109105","name":"Bueno Brandão","population_2021":10982,"uf":"MG"},{"distance_km":139.244,"is_capital":false,"lat":-21.9233359583,"lon":-46.3877891099,"municipio_id":"3110301","name":"Caldas","population_2021":14600,"uf":"MG"},{"distance_km":139.568,"is_capital":false,"lat":-22.2447194312,"lon":-43.7048436783,"municipio_id":"3306107","name":"Valença","population_2021":77202,"uf":"RJ"},{"distance_km":140.048,"is_capital":false,"lat":-22.9617119412,"lon":-44.0411265454,"municipio_id":"3302601","name":"Mangaratiba","population_2021":45941,"uf":"RJ"},{"distance_km":140.071,"is_capital":false,"lat":-22.7697403889,"lon":-46.2195568578,"municipio_id":"3133600","name":"Itapeva","population_2021":9976,"uf":"MG"},{"distance_km":140.306,"is_capital":false,"lat":-21.1194710322,"lon":-44.2232578484,"municipio_id":"3157336","name":"Santa Cruz de Minas","population_2021":8723,"uf":"MG"},{"distance_km":140.449,"is_capital":false,"lat":-21.9572670151,"lon":-43.7017741664,"municipio_id":"3157278","name":"Santa Bárbara do Monte Verde","population_2021":3212,"uf":"MG"},{"distance_km":140.993,"is_capital":false,"lat":-21.3583823575,"lon":-46.1465594661,"municipio_id":"3104304","name":"Areado","population_2021":15288,"uf":"MG"},{"distance_km":142.454,"is_capital":false,"lat":-21.7068071497,"lon":-43.7454590572,"municipio_id":"3149408","name":"Pedro Teixeira","population_2021":1804,"uf":"MG"},{"distance_km":142.652,"is_capital":false,"lat":-23.2565768668,"lon":-45.6936551246,"municipio_id":"3524907","name":"Jambeiro","population_2021":6828,"uf":"SP"},{"distance_km":142.783,"is_capital":false,"lat":-22.0570551562,"lon":-46.4376032821,"municipio_id":"3129905","name":"Ibitiúra de Minas","population_2021":3497,"uf":"MG"},{"distance_km":143.208,"is_capital":false,"lat":-21.0232532704,"lon":-44.3234775238,"municipio_id":"3156106","name":"Ritápolis","population_2021":4521,"uf":"MG"},{"distance_km":144.032,"is_capital":false,"lat":-22.5174226019,"lon":-43.7214868877,"municipio_id":"3302809","name":"Mendes","population_2021":18681,"uf":"RJ"},{"distance_km":144.17,"is_capital":false,"lat":-21.7248685443,"lon":-46.3852629849,"municipio_id":"3105301","name":"Bandeira do Sul","population_2021":5808,"uf":"MG"},{"distance_km":144.636,"is_capital":false,"lat":-21.1070434368,"lon":-44.1726923811,"municipio_id":"3168804","name":"Tiradentes","population_2021":8160,"uf":"MG"},{"distance_km":145.233,"is_capital":false,"lat":-22.612782689,"lon":-46.3603709348,"municipio_id":"3143807","name":"Munhoz","population_2021":5960,"uf":"MG"},{"distance_km":145.302,"is_capital":false,"lat":-21.6087474848,"lon":-43.7565748275,"municipio_id":"3106804","name":"Bias Fortes","population_2021":3282,"uf":"MG"},{"distance_km":145.575,"is_capital":false,"lat":-23.3757869834,"lon":-45.4464004707,"municipio_id":"3532306","name":"Natividade da Serra","population_2021":6624,"uf":"SP"},{"distance_km":146.035,"is_capital":false,"lat":-23.1840615,"lon":-45.8841754015,"municipio_id":"3549904","name":"São José dos Campos","population_2021":737310,"uf":"SP"},{"distance_km":146.304,"is_capital":false,"lat":-20.8752331535,"lon":-45.518503849,"municipio_id":"3120201","name":"Cristais","population_2021":13060,"uf":"MG"},{"distance_km":146.59,"is_capital":false,"lat":-23.4359649805,"lon":-45.0720914755,"municipio_id":"3555406","name":"Ubatuba","population_2021":92819,"uf":"SP"},{"distance_km":146.608,"is_capital":false,"lat":-22.409007573,"lon":-43.6638740245,"municipio_id":"3306206","name":"Vassouras","population_2021":37262,"uf":"RJ"},{"distance_km":146.756,"is_capital":false,"lat":-20.9009463499,"lon":-44.5039924427,"municipio_id":"3165008","name":"São Tiago","population_2021":10979,"uf":"MG"},{"distance_km":147.862,"is_capital":false,"lat":-21.6516638757,"lon":-46.3954931503,"municipio_id":"3108404","name":"Botelhos","population_2021":14927,"uf":"MG"},{"distance_km":148.034,"is_capital":false,"lat":-21.2558699519,"lon":-46.1453205615,"municipio_id":"3102001","name":"Alterosa","population_2021":14566,"uf":"MG"},{"distance_km":148.489,"is_capital":false,"lat":-21.0245950067,"lon":-44.2286242458,"municipio_id":"3119708","name":"Coronel Xavier Chaves","population_2021":3448,"uf":"MG"},{"distance_km":148.636,"is_capital":false,"lat":-22.6097271621,"lon":-43.709384563,"municipio_id":"3303609","name":"Paracambi","population_2021":53093,"uf":"RJ"},{"distance_km":149.038,"is_capital":false,"lat":-22.5436846647,"lon":-43.679476829,"municipio_id":"3301801","name":"Engenheiro Paulo de Frontin","population_2021":14138,"uf":"RJ"},{"distance_km":151.601,"is_capital":false,"lat":-20.7703500412,"lon":-45.2768566965,"municipio_id":"3112000","name":"Candeias","population_2021":14890,"uf":"MG"},{"distance_km":152.232,"is_capital":false,"lat":-22.1718622438,"lon":-43.5764329481,"municipio_id":"3304508","name":"Rio das Flores","population_2021":9401,"uf":"RJ"},{"distance_km":152.88,"is_capital":false,"lat":-21.176286999,"lon":-43.9753811243,"municipio_id":"3105905","name":"Barroso","population_2021":20981,"uf":"MG"},{"distance_km":152.979,"is_capital":false,"lat":-22.7433948081,"lon":-46.3789726565,"municipio_id":"3169109","name":"Toledo","population_2021":6336,"uf":"MG"},{"distance_km":153.516,"is_capital":false,"lat":-20.9403890168,"lon":-45.8284636231,"municipio_id":"3130507","name":"Ilicínea","population_2021":12511,"uf":"MG"},{"distance_km":154.177,"is_capital":false,"lat":-22.858190072,"lon":-46.3221617404,"municipio_id":"3125101","name":"Extrema","population_2021":37649,"uf":"MG"},{"distance_km":154.276,"is_capital":false,"lat":-23.3862615659,"lon":-45.6628640606,"municipio_id":"3535606","name":"Paraibuna","population_2021":18302,"uf":"SP"},{"distance_km":154.511,"is_capital":false,"lat":-22.9306782182,"lon":-46.2734166101,"municipio_id":"3525508","name":"Joanópolis","population_2021":13453,"uf":"SP"},{"distance_km":155.08,"is_capital":false,"lat":-21.10408756,"lon":-44.0230465709,"municipio_id":"3123007","name":"Dores de Campos","population_2021":10291,"uf":"MG"},{"distance_km":155.331,"is_capital":false,"lat":-22.743011068,"lon":-43.7019252212,"municipio_id":"3305554","name":"Seropédica","population_2021":83841,"uf":"RJ"},{"distance_km":155.379,"is_capital":false,"lat":-22.6448185711,"lon":-43.653785801,"municipio_id":"3302270","name":"Japeri","population_2021":106296,"uf":"RJ"},{"distance_km":155.587,"is_capital":false,"lat":-21.0560144581,"lon":-44.0732802772,"municipio_id":"3152709","name":"Prados","population_2021":9128,"uf":"MG"},{"distance_km":155.777,"is_capital":false,"lat":-22.8712507684,"lon":-43.7750406349,"municipio_id":"3302007","name":"Itaguaí","population_2021":136547,"uf":"RJ"},{"distance_km":156.316,"is_capital":false,"lat":-20.7135317999,"lon":-44.9826306199,"municipio_id":"3161205","name":"São Francisco de Paula","population_2021":6512,"uf":"MG"},{"distance_km":156.618,"is_capital":false,"lat":-21.4692919516,"lon":-46.3999705002,"municipio_id":"3109501","name":"Cabo Verde","population_2021":14074,"uf":"MG"},{"distance_km":156.911,"is_capital":false,"lat":-22.0728073441,"lon":-46.5755830009,"municipio_id":"3102605","name":"Andradas","population_2021":41704,"uf":"MG"},{"distance_km":157.816,"is_capital":false,"lat":-20.9173692443,"lon":-44.2394035043,"municipio_id":"3154200","name":"Resende Costa","population_2021":11578,"uf":"MG"},{"distance_km":159.663,"is_capital":false,"lat":-20.6975157762,"lon":-44.8264108665,"municipio_id":"3145604","name":"Oliveira","population_2021":41987,"uf":"MG"},{"distance_km":160.309,"is_capital":false,"lat":-21.7873635786,"lon":-46.566410045,"municipio_id":"3151800","name":"Poços de Caldas","population_2021":169838,"uf":"MG"},{"distance_km":160.328,"is_capital":false,"lat":-22.4335488212,"lon":-46.5737026934,"municipio_id":"3143401","name":"Monte Sião","population_2021":24247,"uf":"MG"},{"distance_km":160.672,"is_capital":false,"lat":-22.5920299519,"lon":-46.5292115918,"municipio_id":"3552106","name":"Socorro","population_2021":41690,"uf":"SP"},{"distance_km":160.728,"is_capital":false,"lat":-22.1997644819,"lon":-46.6116025734,"municipio_id":"3101409","name":"Albertina","population_2021":3015,"uf":"MG"},{"distance_km":160.836,"is_capital":false,"lat":-21.3185803699,"lon":-43.7556410098,"municipio_id":"3102902","name":"Antônio Carlos","population_2021":11471,"uf":"MG"},{"distance_km":161.166,"is_capital":false,"lat":-22.7913843519,"lon":-46.4420309473,"municipio_id":"3536802","name":"Pedra Bela","population_2021":6127,"uf":"SP"},{"distance_km":161.591,"is_capital":false,"lat":-22.2866380298,"lon":-46.6123411663,"municipio_id":"3134905","name":"Jacutinga","population_2021":26538,"uf":"MG"},{"distance_km":161.792,"is_capital":false,"lat":-21.3271458475,"lon":-46.3682455768,"municipio_id":"3143005","name":"Monte Belo","population_2021":13139,"uf":"MG"},{"distance_km":162.037,"is_capital":false,"lat":-23.3048804993,"lon":-45.9695932044,"municipio_id":"3524402","name":"Jacareí","population_2021":237119,"uf":"SP"},{"distance_km":163.536,"is_capital":false,"lat":-22.8848804238,"lon":-46.4116002331,"municipio_id":"3556354","name":"Vargem","population_2021":10842,"uf":"SP"},{"distance_km":164.38,"is_capital":false,"lat":-21.0966200708,"lon":-46.2031272496,"municipio_id":"3117108","name":"Conceição da Aparecida","population_2021":10351,"uf":"MG"},{"distance_km":165.149,"is_capital":false,"lat":-21.2249153847,"lon":-43.7761933161,"municipio_id":"3105608","name":"Barbacena","population_2021":139061,"uf":"MG"},{"distance_km":165.587,"is_capital":false,"lat":-23.204843,"lon":-46.1563144239,"municipio_id":"3520202","name":"Igaratá","population_2021":9631,"uf":"SP"},{"distance_km":165.867,"is_capital":false,"lat":-23.3957580349,"lon":-45.8876482871,"municipio_id":"3546009","name":"Santa Branca","population_2021":14925,"uf":"SP"},{"distance_km":166.134,"is_capital":false,"lat":-20.6269158528,"lon":-45.158792672,"municipio_id":"3110400","name":"Camacho","population_2021":2839,"uf":"MG"},{"distance_km":166.712,"is_capital":false,"lat":-22.4554266084,"lon":-43.4746761215,"municipio_id":"3302908","name":"Miguel Pereira","population_2021":25622,"uf":"RJ"},{"distance_km":167.145,"is_capital":false,"lat":-22.4738220362,"lon":-46.6317788359,"municipio_id":"3500501","name":"Águas de Lindóia","population_2021":18908,"uf":"SP"},{"distance_km":167.642,"is_capital":false,"lat":-20.918598617,"lon":-44.07111644,"municipio_id":"3137403","name":"Lagoa Dourada","population_2021":13115,"uf":"MG"},{"distance_km":167.77,"is_capital":false,"lat":-22.7174304901,"lon":-43.5556695471,"municipio_id":"3304144","name":"Queimados","population_2021":152311,"uf":"RJ"},{"distance_km":167.799,"is_capital":false,"lat":-22.1185234999,"lon":-46.6823066318,"municipio_id":"3548104","name":"Santo Antônio do Jardim","population_2021":5926,"uf":"SP"},{"distance_km":168.575,"is_capital":false,"lat":-20.9729965301,"lon":-46.1219647341,"municipio_id":"3114402","name":"Carmo do Rio Claro","population_2021":21310,"uf":"MG"},{"distance_km":169.463,"is_capital":false,"lat":-23.050499,"lon":-46.3587552005,"municipio_id":"3538600","name":"Piracaia","population_2021":27617,"uf":"SP"},{"distance_km":169.824,"is_capital":false,"lat":-21.950131302,"lon":-43.4157207679,"municipio_id":"3106101","name":"Belmiro Braga","population_2021":3422,"uf":"MG"},{"distance_km":171.071,"is_capital":false,"lat":-22.4274146332,"lon":-43.4248709167,"municipio_id":"3303856","name":"Paty do Alferes","population_2021":27942,"uf":"RJ"},{"distance_km":171.226,"is_capital":false,"lat":-23.6220065,"lon":-45.4108183822,"municipio_id":"3510500","name":"Caraguatatuba","population_2021":125194,"uf":"SP"},{"distance_km":171.247,"is_capital":false,"lat":-21.1394234648,"lon":-43.7738899527,"municipio_id":"3101631","name":"Alfredo Vasconcelos","population_2021":7052,"uf":"MG"},{"distance_km":171.36,"is_capital":false,"lat":-21.4575319947,"lon":-43.5537521653,"municipio_id":"3160702","name":"Santos Dumont","population_2021":46357,"uf":"MG"},{"distance_km":171.371,"is_capital":false,"lat":-22.5204881922,"lon":-46.6614836163,"municipio_id":"3527009","name":"Lindóia","population_2021":8201,"uf":"SP"},{"distance_km":171.937,"is_capital":false,"lat":-21.5416361511,"lon":-43.5075913951,"municipio_id":"3125002","name":"Ewbank da Câmara","population_2021":3932,"uf":"MG"},{"distance_km":172.663,"is_capital":false,"lat":-21.934829,"lon":-46.7167667096,"municipio_id":"3500402","name":"Águas da Prata","population_2021":8262,"uf":"SP"},{"distance_km":172.95,"is_capital":false,"lat":-20.6523877473,"lon":-44.493417199,"municipio_id":"3147709","name":"Passa Tempo","population_2021":8031,"uf":"MG"},{"distance_km":173.251,"is_capital":false,"lat":-21.3730127527,"lon":-46.5268046885,"municipio_id":"3144102","name":"Muzambinho","population_2021":20522,"uf":"MG"},{"distance_km":174.331,"is_capital":false,"lat":-22.7807960685,"lon":-46.5905773189,"municipio_id":"3538204","name":"Pinhalzinho","population_2021":15564,"uf":"SP"},{"distance_km":174.36,"is_capital":false,"lat":-20.559210002,"lon":-44.8683827333,"municipio_id":"3114006","name":"Carmo da Mata","population_2021":11546,"uf":"MG"},{"distance_km":174.484,"is_capital":false,"lat":-22.1970535,"lon":-46.7455142899,"municipio_id":"3515186","name":"Espírito Santo do Pinhal","population_2021":44607,"uf":"SP"},{"distance_km":175.839,"is_capital":false,"lat":-20.756724512,"lon":-45.9183838607,"municipio_id":"3128105","name":"Guapé","population_2021":14269,"uf":"MG"},{"distance_km":176.264,"is_capital":false,"lat":-23.4152330198,"lon":-46.0410534648,"municipio_id":"3518305","name":"Guararema","population_2021":30465,"uf":"SP"},{"distance_km":177.032,"is_capital":false,"lat":-23.5317929884,"lon":-45.8471769296,"municipio_id":"3545001","name":"Salesópolis","population_2021":17363,"uf":"SP"},{"distance_km":177.046,"is_capital":false,"lat":-21.5287380375,"lon":-46.646834879,"municipio_id":"3508702","name":"Caconde","population_2021":19031,"uf":"SP"},{"distance_km":178.216,"is_capital":false,"lat":-22.6126935219,"lon":-46.7017913807,"municipio_id":"3551603","name":"Serra Negra","population_2021":29669,"uf":"SP"},{"distance_km":178.517,"is_capital":false,"lat":-20.6546306804,"lon":-44.3436660059,"municipio_id":"3121407","name":"Desterro de Entre Rios","population_2021":7266,"uf":"MG"},{"distance_km":178.538,"is_capital":false,"lat":-21.055300917,"lon":-43.7587060939,"municipio_id":"3154408","name":"Ressaquinha","population_2021":4826,"uf":"MG"},{"distance_km":178.687,"is_capital":false,"lat":-22.6811286599,"lon":-46.6811943005,"municipio_id":"3531209","name":"Monte Alegre do Sul","population_2021":8181,"uf":"SP"},{"distance_km":178.928,"is_capital":false,"lat":-21.1266519126,"lon":-46.4170291046,"municipio_id":"3145109","name":"Nova Resende","population_2021":16937,"uf":"MG"},{"distance_km":179.137,"is_capital":false,"lat":-22.9568955,"lon":-46.542333374,"municipio_id":"3507605","name":"Bragança Paulista","population_2021":172346,"uf":"SP"},{"distance_km":179.555,"is_capital":false,"lat":-22.7598348263,"lon":-43.4503453299,"municipio_id":"3303500","name":"Nova Iguaçu","population_2021":825388,"uf":"RJ"},{"distance_km":179.734,"is_capital":false,"lat":-23.3180885,"lon":-46.2270128418,"municipio_id":"3546801","name":"Santa Isabel","population_2021":58529,"uf":"SP"},{"distance_km":179.979,"is_capital":false,"lat":-21.9648567892,"lon":-43.3149558126,"municipio_id":"3167509","name":"Simão Pereira","population_2021":2621,"uf":"MG"},{"distance_km":180.233,"is_capital":false,"lat":-21.7609243087,"lon":-43.3488172725,"municipio_id":"3136702","name":"Juiz de Fora","population_2021":577532,"uf":"MG"},{"distance_km":180.37,"is_capital":false,"lat":-21.972011,"lon":-46.7963507818,"municipio_id":"3549102","name":"São João da Boa Vista","population_2021":92315,"uf":"SP"},{"distance_km":180.813,"is_capital":false,"lat":-20.5396421743,"lon":-44.6325277075,"municipio_id":"3114501","name":"Carmópolis de Minas","population_2021":19756,"uf":"MG"},{"distance_km":180.92,"is_capital":false,"lat":-21.8694792711,"lon":-43.3191619888,"municipio_id":"3140803","name":"Matias Barbosa","population_2021":14626,"uf":"MG"},{"distance_km":180.953,"is_capital":false,"lat":-21.661621506,"lon":-46.7368697868,"municipio_id":"3513900","name":"Divinolândia","population_2021":11027,"uf":"SP"},{"distance_km":181.733,"is_capital":false,"lat":-22.1619815422,"lon":-43.2895444648,"municipio_id":"3303708","name":"Paraíba do Sul","population_2021":44741,"uf":"RJ"},{"distance_km":181.896,"is_capital":false,"lat":-23.178695811,"lon":-46.402590215,"municipio_id":"3532405","name":"Nazaré Paulista","population_2021":18866,"uf":"SP"},{"distance_km":181.907,"is_capital":false,"lat":-22.7680879226,"lon":-43.4292237631,"municipio_id":"3302858","name":"Mesquita","population_2021":177016,"uf":"RJ"},{"distance_km":182.306,"is_capital":false,"lat":-21.2462083895,"lon":-43.5589487843,"municipio_id":"3157302","name":"Santa Bárbara do Tugúrio","population_2021":4385,"uf":"MG"},{"distance_km":182.74,"is_capital":false,"lat":-20.9543694555,"lon":-43.8054753702,"municipio_id":"3113206","name":"Carandaí","population_2021":25831,"uf":"MG"},{"distance_km":183.052,"is_capital":false,"lat":-20.4728898996,"lon":-45.1246798889,"municipio_id":"3133501","name":"Itapecerica","population_2021":21760,"uf":"MG"},{"distance_km":183.644,"is_capital":false,"lat":-23.1308374287,"lon":-46.4664928426,"municipio_id":"3507100","name":"Bom Jesus dos Perdões","population_2021":26506,"uf":"SP"},{"distance_km":184.551,"is_capital":false,"lat":-22.7645559675,"lon":-43.3996249708,"municipio_id":"3300456","name":"Belford Roxo","population_2021":515239,"uf":"RJ"},{"distance_km":184.851,"is_capital":false,"lat":-22.8075142239,"lon":-43.4166099809,"municipio_id":"3303203","name":"Nilópolis","population_2021":162893,"uf":"RJ"},{"distance_km":185.001,"is_capital":false,"lat":-21.2493559381,"lon":-46.5805964847,"municipio_id":"3136900","name":"Juruaia","population_2021":10795,"uf":"MG"},{"distance_km":185.315,"is_capital":false,"lat":-22.4360054993,"lon":-46.8212480111,"municipio_id":"3522604","name":"Itapira","population_2021":75683,"uf":"SP"},{"distance_km":185.717,"is_capital":false,"lat":-21.3394932743,"lon":-43.4625438692,"municipio_id":"3145703","name":"Oliveira Fortes","population_2021":2128,"uf":"MG"},{"distance_km":185.826,"is_capital":false,"lat":-22.8147561552,"lon":-46.6970238595,"municipio_id":"3554953","name":"Tuiuti","population_2021":7058,"uf":"SP"},{"distance_km":187.468,"is_capital":false,"lat":-22.6993886263,"lon":-46.7650856905,"municipio_id":"3501905","name":"Amparo","population_2021":73145,"uf":"SP"},{"distance_km":187.522,"is_capital":false,"lat":-20.7934512868,"lon":-43.9314665941,"municipio_id":"3114907","name":"Casa Grande","population_2021":2251,"uf":"MG"},{"distance_km":187.812,"is_capital":false,"lat":-20.4648835525,"lon":-45.4264281831,"municipio_id":"3126109","name":"Formiga","population_2021":67956,"uf":"MG"},{"distance_km":188.257,"is_capital":false,"lat":-21.7084207919,"lon":-46.8241276258,"municipio_id":"3550803","name":"São Sebastião da Grama","population_2021":12137,"uf":"SP"},{"distance_km":188.327,"is_capital":false,"lat":-23.7886525,"lon":-45.3540566669,"municipio_id":"3520400","name":"Ilhabela","population_2021":36194,"uf":"SP"},{"distance_km":188.379,"is_capital":false,"lat":-20.444574655,"lon":-44.7684225279,"municipio_id":"3116605","name":"Cláudio","population_2021":29093,"uf":"MG"},{"distance_km":188.539,"is_capital":false,"lat":-20.5089958628,"lon":-44.478471775,"municipio_id":"3150604","name":"Piracema","population_2021":6386,"uf":"MG"},{"distance_km":188.812,"is_capital":false,"lat":-22.8023308086,"lon":-43.371884603,"municipio_id":"3305109","name":"São João de Meriti","population_2021":473385,"uf":"RJ"},{"distance_km":188.892,"is_capital":false,"lat":-21.4718854023,"lon":-46.7455152107,"municipio_id":"3553609","name":"Tapiratiba","population_2021":12940,"uf":"SP"},{"distance_km":189.434,"is_capital":false,"lat":-22.0333589384,"lon":-43.2172237156,"municipio_id":"3300951","name":"Comendador Levy Gasparian","population_2021":8590,"uf":"RJ"},{"distance_km":189.724,"is_capital":false,"lat":-22.117448001,"lon":-43.2116094443,"municipio_id":"3306008","name":"Três Rios","population_2021":82468,"uf":"RJ"},{"distance_km":189.963,"is_capital":false,"lat":-23.116308,"lon":-46.5550625007,"municipio_id":"3504107","name":"Atibaia","population_2021":145378,"uf":"SP"},{"distance_km":190.509,"is_capital":false,"lat":-20.6713572038,"lon":-44.0670816813,"municipio_id":"3123908","name":"Entre Rios de Minas","population_2021":15458,"uf":"MG"},{"distance_km":190.611,"is_capital":false,"lat":-21.5046175294,"lon":-43.3291251743,"municipio_id":"3150109","name":"Piau","population_2021":2719,"uf":"MG"},{"distance_km":190.681,"is_capital":false,"lat":-23.5710333875,"lon":-46.0412122248,"municipio_id":"3506607","name":"Biritiba-Mirim","population_2021":33265,"uf":"SP"},{"distance_km":191.174,"is_capital":false,"lat":-23.8066876521,"lon":-45.4026801405,"municipio_id":"3550704","name":"São Sebastião","population_2021":91637,"uf":"SP"},{"distance_km":191.782,"is_capital":false,"lat":-21.1471785182,"lon":-43.5196002212,"municipio_id":"3121506","name":"Desterro do Melo","population_2021":2867,"uf":"MG"},{"distance_km":191.956,"is_capital":false,"lat":-20.4555253223,"lon":-45.553395446,"municipio_id":"3119955","name":"Córrego Fundo","population_2021":6425,"uf":"MG"},{"distance_km":192.437,"is_capital":false,"lat":-21.2878522493,"lon":-43.4188333733,"municipio_id":"3146602","name":"Paiva","population_2021":1517,"uf":"MG"},{"distance_km":192.449,"is_capital":false,"lat":-20.8408523331,"lon":-43.7978363805,"municipio_id":"3120409","name":"Cristiano Otoni","population_2021":5161,"uf":"MG"},{"distance_km":192.53,"is_capital":false,"lat":-21.835866,"lon":-46.8956089148,"municipio_id":"3556404","name":"Vargem Grande do Sul","population_2021":43368,"uf":"SP"},{"distance_km":192.553,"is_capital":false,"lat":-23.395826741,"lon":-46.3204896001,"municipio_id":"3503901","name":"Arujá","population_2021":92453,"uf":"SP"},{"distance_km":193.169,"is_capital":false,"lat":-21.339268736,"lon":-43.3815562385,"municipio_id":"3103306","name":"Aracitaba","population_2021":2056,"uf":"MG"},{"distance_km":193.764,"is_capital":false,"lat":-21.5764151525,"lon":-43.2688579711,"municipio_id":"3119609","name":"Coronel Pacheco","population_2021":3095,"uf":"MG"},{"distance_km":193.796,"is_capital":false,"lat":-21.0330829642,"lon":-43.5863819522,"municipio_id":"3166204","name":"Senhora dos Remédios","population_2021":10474,"uf":"MG"},{"distance_km":193.923,"is_capital":false,"lat":-21.3037814647,"lon":-46.713537231,"municipio_id":"3128709","name":"Guaxupé","population_2021":52234,"uf":"MG"},{"distance_km":193.935,"is_capital":false,"lat":-22.7852532497,"lon":-43.3098880717,"municipio_id":"3301702","name":"Duque de Caxias","population_2021":929449,"uf":"RJ"},{"distance_km":194.222,"is_capital":false,"lat":-20.8702194156,"lon":-43.7394664789,"municipio_id":"3113107","name":"Caranaíba","population_2021":3150,"uf":"MG"},{"distance_km":194.785,"is_capital":false,"lat":-21.9496920444,"lon":-43.1723178337,"municipio_id":"3158607","name":"Santana do Deserto","population_2021":3985,"uf":"MG"},{"distance_km":195.157,"is_capital":false,"lat":-21.0172693112,"lon":-46.5235436139,"municipio_id":"3107604","name":"Bom Jesus da Penha","population_2021":4270,"uf":"MG"},{"distance_km":195.287,"is_capital":false,"lat":-23.5227065,"lon":-46.1967600843,"municipio_id":"3530607","name":"Mogi das Cruzes","population_2021":455587,"uf":"SP"},{"distance_km":195.291,"is_capital":false,"lat":-20.7423844777,"lon":-43.8800273028,"municipio_id":"3153806","name":"Queluzito","population_2021":1948,"uf":"MG"},{"distance_km":195.569,"is_capital":false,"lat":-21.1334584955,"lon":-46.6213268893,"municipio_id":"3163904","name":"São Pedro da União","population_2021":4563,"uf":"MG"},{"distance_km":195.639,"is_capital":false,"lat":-21.6729132233,"lon":-43.2187700295,"municipio_id":"3115904","name":"Chácara","population_2021":3216,"uf":"MG"},{"distance_km":196.412,"is_capital":false,"lat":-22.2745889131,"lon":-46.9536026904,"municipio_id":"3557303","name":"Estiva Gerbi","population_2021":11507,"uf":"SP"},{"distance_km":196.499,"is_capital":false,"lat":-20.8618546557,"lon":-46.3894825348,"municipio_id":"3101904","name":"Alpinópolis","population_2021":20059,"uf":"MG"},{"distance_km":196.577,"is_capital":false,"lat":-22.3657201895,"lon":-46.9444740881,"municipio_id":"3530706","name":"Mogi Guaçu","population_2021":154146,"uf":"SP"},{"distance_km":196.677,"is_capital":false,"lat":-20.6146635995,"lon":-46.0545138881,"municipio_id":"3112802","name":"Capitólio","population_2021":8693,"uf":"MG"},{"distance_km":197.492,"is_capital":false,"lat":-20.4831953924,"lon":-45.7990870292,"municipio_id":"3150505","name":"Pimenta","population_2021":8715,"uf":"MG"},{"distance_km":197.687,"is_capital":false,"lat":-22.8810309327,"lon":-46.7913443946,"municipio_id":"3532009","name":"Morungaba","population_2021":13936,"uf":"SP"},{"distance_km":197.865,"is_capital":false,"lat":-22.510598612,"lon":-43.1773365767,"municipio_id":"3303906","name":"Petrópolis","population_2021":307144,"uf":"RJ"},{"distance_km":198.048,"is_capital":false,"lat":-21.5961025,"lon":-46.8882658895,"municipio_id":"3549706","name":"São José do Rio Pardo","population_2021":55298,"uf":"SP"},{"distance_km":198.58,"is_capital":false,"lat":-22.059684,"lon":-46.9796931093,"municipio_id":"3500303","name":"Aguaí","population_2021":36981,"uf":"SP"},{"distance_km":198.917,"is_capital":false,"lat":-22.4326955,"lon":-46.9563671266,"municipio_id":"3530805","name":"Mogi Mirim","population_2021":94098,"uf":"SP"},{"distance_km":199.038,"is_capital":false,"lat":-22.6047968523,"lon":-46.9159099001,"municipio_id":"3548005","name":"Santo Antônio de Posse","population_2021":23742,"uf":"SP"},{"distance_km":200.137,"is_capital":false,"lat":-20.9166679077,"lon":-43.6124218664,"municipio_id":"3112208","name":"Capela Nova","population_2021":4616,"uf":"MG"},{"distance_km":200.819,"is_capital":false,"lat":-20.390678217,"lon":-44.4867779578,"municipio_id":"3132206","name":"Itaguara","population_2021":13510,"uf":"MG"}],"radius_km":201,"total_found":326},"pairedItem":{"item":0}}],"Get_codes1":[{"json":{"codigo":"5273","descricao":"SAO LOURENCO"},"pairedItem":{"item":0}},{"json":{"codigo":"5355","descricao":"SOLEDADE DE MINAS"},"pairedItem":{"item":1}},{"json":{"codigo":"4281","descricao":"CARMO DE MINAS"},"pairedItem":{"item":2}},{"json":{"codigo":"5051","descricao":"POUSO ALTO"},"pairedItem":{"item":3}},{"json":{"codigo":"5297","descricao":"SAO SEBASTIAO DO RIO VERDE"},"pairedItem":{"item":4}},{"json":{"codigo":"4455","descricao":"DOM VICOSO"},"pairedItem":{"item":5}},{"json":{"codigo":"4309","descricao":"CAXAMBU"},"pairedItem":{"item":6}},{"json":{"codigo":"4909","descricao":"OLIMPIO NORONHA"},"pairedItem":{"item":7}},{"json":{"codigo":"4661","descricao":"ITANHANDU"},"pairedItem":{"item":8}},{"json":{"codigo":"4409","descricao":"CRISTINA"},"pairedItem":{"item":9}}],"Webhook":[{"json":{"headers":{"host":"primary-kpc3-buscafornecedor.up.railway.app","user-agent":"Deno/2.1.4 (variant; SupabaseEdgeRuntime/1.71.1)","content-length":"489","accept":"application/json","accept-encoding":"gzip","accept-language":"*","backend_is_origin":"1","cdn-loop":"Fastly","content-type":"application/json","fastly-client-ip":"3.76.204.144","fastly-orig-accept-encoding":"gzip,br","fastly-ssl":"1","traceparent":"00-2bf91ce37602804d59f6767e3a3f5c5b-0a3fee787d77823e-01","x-edge-region":"EU-East","x-forwarded-for":"3.76.204.144, 140.248.75.64","x-forwarded-host":"primary-kpc3-buscafornecedor.up.railway.app","x-forwarded-proto":"https","x-forwarded-server":"cache-fra-etou8220064-FRA","x-railway-edge":"railway/europe-west4-drams3a","x-railway-request-id":"VEd9XYhrTX-5ZgGO5nX1uw","x-real-ip":"140.248.75.64","x-request-start":"1773612534836","x-timer":"S1773612535.831975,VS0","x-varnish":"306266189"},"params":{},"query":{},"body":{"consultaId":"4d19a896-147d-419d-a7d8-dad2f8853290","parametros":{"descricao":"Pino do coquilho para guindaste zulaine 75","modelo_negocio":"Prestador de Serviço","tipo_busca":"uf","ufs_selecionadas":["AC","AL","AP","AM","BA","CE","DF","ES","GO","MA","MT","MS","MG","PA","PB","PR","PE","PI","RJ","RN","RS","RO","RR","SC","SP","SE","TO"],"cnpjs_existentes":""},"userId":"affe21d6-87da-4ad5-85f0-119564b7461e","sessionId":null,"tierBusca":"especial","timestamp":"2026-03-15T22:08:54.806Z"},"webhookUrl":"https://primary-kpc3-buscafornecedor.up.railway.app/webhook/production","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"6c1c56a1-a8c5-40fe-a4c6-8f3da182bb68","activeVersionId":"6c1c56a1-a8c5-40fe-a4c6-8f3da182bb68","triggerCount":1,"shared":[{"updatedAt":"2025-10-02T13:42:57.638Z","createdAt":"2025-10-02T13:42:57.638Z","role":"workflow:owner","workflowId":"pr0gjsUvGW8PLnoE","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-03-15T19:11:26.312Z","createdAt":"2026-03-15T19:11:24.376Z","versionId":"6c1c56a1-a8c5-40fe-a4c6-8f3da182bb68","workflowId":"pr0gjsUvGW8PLnoE","nodes":[{"parameters":{"httpMethod":"POST","path":"production","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-5280,-1568],"id":"333411dd-cda0-4774-a7f8-499f86c2d459","name":"Webhook","webhookId":"a45e5681-9cef-4e53-a3e1-0ccfec86480a"},{"parameters":{"content":"## Banco de dados:\n- Busca um consulta no banco de dados\n- Atualiza a coluna de resultados com o que foi encontrado\n- Adiciona +1 nas exibições das empresas encontradas\n- Salva um histórico da busca evitando repetições em exibições futuras.","height":336,"width":880,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1392,-1856],"id":"aa7e14ee-4578-46ce-b0e1-4bde1edfa674","name":"Sticky Note25"},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"get","tableId":"consultas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Webhook').item.json.body.consultaId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-912,-1696],"id":"dd8cbeda-a580-464d-8804-a721440b3cb3","name":"get_result","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"update","tableId":"consultas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.consultaId }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resultados","fieldValue":"={{ $('Aggregate2').item.json.result }}"},{"fieldId":"status","fieldValue":"concluida"},{"fieldId":"uf","fieldValue":"={{ $json.parametros.ufs_selecionadas }}"},{"fieldId":"municipio","fieldValue":"={{ $('Edit Fields8').item.json.lista_municipio }}"},{"fieldId":"modelo_negocio","fieldValue":"={{ $json.parametros.modelo_negocio }}"},{"fieldId":"=execution_id","fieldValue":"={{ $execution.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-736,-1696],"id":"0860959c-9934-4f96-987f-5b6173ee6cdb","name":"Mostra resultado intermediário1","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"37b79ebe-4d88-4286-ad8f-71f98605e4ad","name":"result.item","value":"={{ $json.item }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1360,-1696],"id":"8dd828e8-e080-4988-be51-a26d5e39712f","name":"set_result"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"result"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1120,-1696],"id":"86187a51-c364-4d40-a080-bc8d59033f6f","name":"Aggregate2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.parametros.tipo_busca }}","rightValue":"=uf","operator":{"type":"string","operation":"equals"},"id":"5ae05424-95d0-4255-9143-db06a0b77429"}],"combinator":"and"},"renameOutput":true,"outputKey":"busca_uf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"df4e5915-07cc-4afb-99a3-2ff13636335c","leftValue":"={{ $json.body.parametros.tipo_busca }}","rightValue":"city","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"busca_cidade"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-4976,-1568],"id":"a3a172a0-317c-4502-b261-5b0f1c133e25","name":"tipo_busca1"},{"parameters":{"fieldToSplitOut":"nearby_cities","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-4416,-1552],"id":"ca60ad11-6b98-4c83-9f99-592c1ed9205a","name":"Split Out3","alwaysOutputData":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"descricao"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3536,-1808],"id":"67ef449e-8692-4d16-86c2-cb2ecc1724d7","name":"Aggregate3","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"3b606833-d2df-4174-a8f3-8bd57c8fffcf","name":"cidades","value":"={{ $('Split Out3').item.json.name.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").replace(/~/g, \"\").toUpperCase() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3984,-1808],"id":"43d3c357-2f3f-419b-bf50-89a078d7eb3e","name":"lista_cidades1"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"get","tableId":"municipio","filters":{"conditions":[{"keyName":"descricao","keyValue":"={{ $json.cidades }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3760,-1808],"id":"c7da4dd3-9ee5-403f-ad0a-9e8d1d9047f8","name":"Get_codes1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-3296,-1680],"id":"28e76834-13ae-4043-9795-bd6d9e20ad6f","name":"Merge6"},{"parameters":{"jsCode":"// Pega todos os itens recebidos\nconst items = $input.all();\n\n// Extrai a UF (últimos 2 caracteres após o hífen)\nconst ufs = items\n  .map(item => {\n    const text = item.json.uf || item.json.cidade_origem || \"\";\n    const match = text.match(/([A-Z]{2})$/);\n    return match ? match[1] : null;\n  })\n  .filter(Boolean); // remove nulos\n\n// Remove duplicadas\nconst ufsUnicas = [...new Set(ufs)];\n\n// Retorna no formato original\nreturn [\n  {\n    json: {\n      ufs_unicas: ufsUnicas\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4032,-1488],"id":"13fbc362-0d7f-495a-be63-fa7ee33e1cb5","name":"set_ufs_unicas1"},{"parameters":{"content":"## Processamento: Encontra cidades dentro de um raio.\n- Atende busca por raio e busca por UF.\n### Busca por raio:\n- Leva em conta uma cidade como ponto de partida.\n- Consulta na api as cidades dentro daquele raio.\n- Lista cidades e UFs presente no raio.\n### Busca por UF:\n- Retorna a lista de UFs especificadas na consulta.","height":624,"width":1622,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4784,-1952],"id":"0b4ae983-1143-457c-a131-6a3b1637e59a","name":"Sticky Note42"},{"parameters":{"content":"## API própria:\n- Encontra cidades dentro de um raio pré-definido","height":256,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4704,-1664],"id":"a3f17b0f-ba1f-42d7-9f82-d8e2ab63b852","name":"Sticky Note43"},{"parameters":{"url":"https://api-busca-cidades-buscafornecedor.up.railway.app/api/cities/nearby","sendQuery":true,"queryParameters":{"parameters":[{"name":"city_name","value":"={{ $json.body.parametros.cidade_origem.replace(/\\s*-\\s*[A-Z]{2}$/, '') }}"},{"name":"radius_km","value":"={{ isNaN(Number($json.body.parametros.raio_km)) || !$json.body.parametros.raio_km? 1 : Number($json.body.parametros.raio_km) + 1}} "},{"name":"uf","value":"={{ $json.body.parametros.cidade_origem.match(/([A-Z]{2})$/)[1] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4640,-1552],"id":"e626d429-e061-4315-81a6-4f0cda496905","name":"acha_cidade1","alwaysOutputData":true},{"parameters":{"content":"## Busca códigos para as cidades no supabase:","height":272,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3840,-1920],"id":"ab9fd43c-d633-41bd-8d95-c8b47997a615","name":"Sticky Note44"},{"parameters":{"content":"## Mapeia Ufs Únicas.\n- Aplica uma função map().\n- Transforma código em Uf.\n- Mapeia Ufs únicas.","height":288},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4112,-1648],"id":"b4fea4e1-df39-417a-9177-b9f594144026","name":"Sticky Note45"},{"parameters":{"content":"## Fase 1: Preparação/Processamento da query do cliente.","height":720,"width":1910,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5056,-2032],"id":"a60bf2e9-3723-4a3f-9aec-facd6e647cc6","name":"Sticky Note47"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search?debug=1","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"servico\":[{{ $json.servico }}],\n    \"produto\":[{{ $json.produto }}],\n    \"descricao\":[{{ $json.descricao }}],\n    \"publico\":[{{ $json.publico }}],\n    \"cliente\":[{{ $json.cliente }}]\n  },\n  \"weights\": {\n    \"servico\": {{ $json.output.peso_servicos }},\n    \"descricao\": {{ $json.output.peso_descricao }},\n    \"publico\": {{ $json.output.peso_publico }},\n    \"cliente\": {{ $json.output.peso_clientes }},\n    \"produto\": {{ $json.output.peso_produtos }},\n    \"bm25\": {{ $json.output.peso_bm25 }}\n\n  },\n  \"filter\": {\n    \"modelo_negocio\": \"{{ $json.Modelo_Negocio }}\",\n    \"cidade\":\"{{ $('Edit Fields8').item.json.lista_municipio || \" \" }}\",\n    \"uf\":\"{{ $('Edit Fields8').item.json.ufs_selecionadas || \" \" }}\"\n  },\n  \"limit_per_vector\": 10,\n  \"final_limit\": 20,\n  \"bm25_query\": \"{{ $json.bm25\n  .replace(/[^\\w\\s\\-.,]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n}}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2496,-1712],"id":"48f09c9b-6c93-4f8b-b260-957aa3a07cd4","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"67239d33-a6aa-4f1c-9f96-984e97694c0d","name":"descricao","value":"={{ $('Webhook').item.json.body.parametros.descricao }}","type":"string"},{"id":"fa440477-dce1-4238-aefb-1de688ba2398","name":"modelo_negocio","value":"={{ $json.body.parametros.modelo_negocio }}","type":"string"},{"id":"86485711-eb18-481b-9098-3f7f50f527ab","name":"ufs_selecionadas","value":"={{ $('Webhook').item.json.body.parametros.ufs_selecionadas || $json.ufs_unicas }}","type":"array"},{"id":"62dac054-7a4b-4b88-bb34-55c4e6a1c04f","name":"consultaId","value":"={{ $('Webhook').item.json.body.consultaId }}","type":"string"},{"id":"e8d9155c-f07e-49cc-9b2d-5e56cd44e33d","name":"lista_municipio","value":"={{ $json.descricao || [] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2896,-1712],"id":"d01353ce-5e17-459e-9bf3-6e21c86cc7a2","name":"Edit Fields8"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2080,-1696],"id":"94f6dd56-a3d6-445d-a4df-593254ffc39e","name":"Split Out4","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"8c8e6e64-cc6b-4e81-b261-650dc9498ac5","name":"item.fornecedor_id","value":"={{ $json.id || null}}","type":"string"},{"id":"e885457b-46bf-4c87-bd33-8c40ffd2805d","name":"item.n_listagens","value":"={{ $json.n_exibicoes || 0 }}","type":"number"},{"id":"665347f5-2639-4bb0-b692-0531f600359b","name":"item.plano_categoria","value":"={{ $json.plano_categoria || null }}","type":"string"},{"id":"244003cf-9cb2-437b-bb1b-e89a4cfb661d","name":"item.razao_social","value":"={{ $json.full_profile.identidade.nome_empresa }}","type":"string"},{"id":"c123260f-217e-4549-8c69-7c6cae477cff","name":"item.site","value":"={{ $json.full_profile.contato.url_site }}","type":"string"},{"id":"7a6d26fa-9e0e-415f-8d22-b7cf1bce103f","name":"item.telefone","value":"={{ $json.full_profile.contato.telefones }}","type":"string"},{"id":"5448c6ef-51e9-4982-9929-ea760b632507","name":"item.instagram","value":"=\" \"","type":"string"},{"id":"1b92249f-71a1-48dd-9158-622d960b7794","name":"item.email","value":"={{ $json.full_profile.contato.emails }}","type":"string"},{"id":"76e17746-f60a-4628-9b58-0199f219e612","name":"item.nota","value":"={{ $json.nota }}","type":"number"},{"id":"3ebb5849-177b-4fba-bf29-572446fba50e","name":"item.limite_listagens ","value":"={{    $json.plano_categoria      ? (         $json.plano_categoria.toLowerCase() === 'standard' ? 10 :         $json.plano_categoria.toLowerCase() === 'essencial' ? 25 :         $json.plano_categoria.toLowerCase() === 'profissional' ? 1000 :         $json.plano_categoria.toLowerCase() === 'elite' ? 1000000 :         10       )     : 10 }}","type":"string"},{"id":"bd7599ed-40ac-4859-a39d-b99209bd89e1","name":"item.consulta_id","value":"={{ $('Webhook').item.json.body.consultaId }}","type":"string"},{"id":"0c2092b3-9f01-4b46-ba92-ba0c123babaa","name":"item.cnpj_basico","value":"={{ $json.cnpj }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1600,-1696],"id":"0b15a200-2a86-42ba-9baa-9a4984c620b5","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3034442b-d032-4908-bca5-c10d36945a1f","leftValue":"={{ $json.results.length }}","rightValue":4,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2288,-1712],"id":"d7b3e221-4876-4a49-bd10-923ba7159166","name":"If1"},{"parameters":{"jsCode":"function safe(v) {\n  if (v === null || v === undefined) return \"\";\n  return String(v);\n}\n\n// 1. Ordenar resultados pelo score final (descendente)\nconst sorted = [...items].sort(\n  (a, b) => (b.json.score_final || 0) - (a.json.score_final || 0)\n);\n\n// 2. Identificar os extremos para a normalização (Min-Max)\nconst maxScore = sorted[0]?.json?.score_final || 0;\nconst minScore = sorted[sorted.length - 1]?.json?.score_final || 0;\n\nreturn sorted.map(item => {\n  const j = item.json;\n  const payload = j.payload || {};\n  const score = j.score_final || 0;\n\n  let nota = 75; // Piso padrão\n\n  // 3. Lógica de Interpolação Linear para o intervalo [75, 100]\n  if (maxScore > minScore) {\n    // Cálculo: Base 75 + Proporção do Score (0 a 25)\n    nota = 75 + (25 * (score - minScore)) / (maxScore - minScore);\n  } else if (maxScore > 0) {\n    // Se todos os scores forem iguais, todos recebem a nota máxima\n    nota = 100;\n  }\n\n  // 4. Conversão para INTEIRO e trava de segurança\n  nota = Math.round(nota); \n  nota = Math.max(75, Math.min(100, nota));\n\n  return {\n    json: {\n      id: j.id || null,\n      score_final: score,\n      nota: parseInt(nota), // Garante que o output seja um Number Inteiro\n\n      cnpj: safe(payload.cnpj),\n      n_exibicoes: j.n_exibicoes || 0,\n      plano_categoria: j.plano_categoria || null,\n\n      full_profile: {\n        identidade: {\n          nome_empresa: safe(payload.nome_empresa)\n        },\n        contato: {\n          url_site: safe(payload.site),\n          telefones: safe(payload.telefone),\n          emails: safe(payload.email)\n        }\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1888,-1696],"id":"09d80811-3585-410a-9cc4-4910890a172a","name":"Code in JavaScript"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-3072,-1712],"id":"5dcf3bd1-47e7-4067-9b39-8c01542f009c","name":"Merge"},{"parameters":{"maxItems":10},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-4208,-1552],"id":"15ccba0d-3015-484b-9821-f18b3b94e09e","name":"Limit"},{"parameters":{"operation":"push","list":"={{ $('Edit Fields8').item.json.consultaId }}","messageData":"={{ $json.cnpj }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1456,-1312],"id":"611b7094-873c-43a4-8fd9-99fbf1b32eb7","name":"put","alwaysOutputData":true,"credentials":{"redis":{"id":"e8TEVWEpT7yUTHVI","name":"Redis account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"HJfvVSvFtu32bPhL","mode":"list","cachedResultUrl":"/workflow/HJfvVSvFtu32bPhL","cachedResultName":"fallback-vetor"},"workflowInputs":{"mappingMode":"defineBelow","value":{"consultaId":"={{ $('Webhook').item.json.body.consultaId }}"},"matchingColumns":["consultaId"],"schema":[{"id":"consultaId","displayName":"consultaId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-2064,-1936],"id":"984e4828-bd37-45ac-9a77-67f943560443","name":"Call 'fallback-vetor'"},{"parameters":{"workflowId":{"__rl":true,"value":"ALYdM6dEmJdCNNRA","mode":"list","cachedResultUrl":"/workflow/ALYdM6dEmJdCNNRA","cachedResultName":"contador_aparições"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cnpj":"={{ $json.cnpj }}","consultaId":"={{ $('Edit Fields8').item.json.consultaId }}","notas":"={{ $json.nota }}"},"matchingColumns":[],"schema":[{"id":"cnpj","displayName":"cnpj","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"consultaId","displayName":"consultaId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"notas","displayName":"notas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1456,-1488],"id":"38cf7ff8-8c03-4ba1-bb88-b72c60b17bb5","name":"Call 'contador_aparições'"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"cnpj"},{"fieldToAggregate":"nota"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1680,-1488],"id":"6049e938-5fd3-41fc-be16-f0a056fe9cbf","name":"Aggregate1"},{"parameters":{"workflowId":{"__rl":true,"value":"bphbpiPPgMm5Mhsb","mode":"list","cachedResultUrl":"/workflow/bphbpiPPgMm5Mhsb","cachedResultName":"query_manager"},"workflowInputs":{"mappingMode":"defineBelow","value":{"consulta":"={{ $json.descricao }}"},"matchingColumns":["consulta"],"schema":[{"id":"consulta","displayName":"consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-2720,-1712],"id":"49c1d710-0011-480d-97e3-995b6ac68a95","name":"Call 'query_manager'"}],"connections":{"Webhook":{"main":[[{"node":"tipo_busca1","type":"main","index":0}]]},"get_result":{"main":[[{"node":"Mostra resultado intermediário1","type":"main","index":0}]]},"set_result":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"get_result","type":"main","index":0}]]},"tipo_busca1":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"acha_cidade1","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"lista_cidades1":{"main":[[{"node":"Get_codes1","type":"main","index":0}]]},"Get_codes1":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"set_ufs_unicas1":{"main":[[{"node":"Merge6","type":"main","index":1}]]},"acha_cidade1":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Mostra resultado intermediário1":{"main":[[]]},"HTTP Request":{"main":[[{"node":"If1","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Call 'query_manager'","type":"main","index":0}]]},"Split Out4":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"set_result","type":"main","index":0}]]},"If1":{"main":[[{"node":"Call 'fallback-vetor'","type":"main","index":0}],[{"node":"Split Out4","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Aggregate1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Limit":{"main":[[{"node":"lista_cidades1","type":"main","index":0},{"node":"set_ufs_unicas1","type":"main","index":0}]]},"put":{"main":[[]]},"Aggregate1":{"main":[[{"node":"Call 'contador_aparições'","type":"main","index":0},{"node":"put","type":"main","index":0}]]},"Call 'contador_aparições'":{"main":[[]]},"Call 'query_manager'":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"authors":"ABC  advise","name":"Version 6c1c56a1","description":"","autosaved":true},"tags":[]}