main-pr0gjsUvGW8PLnoE.json
{"updatedAt":"2026-03-11T20:13:32.731Z","createdAt":"2025-10-02T13:42:57.638Z","id":"pr0gjsUvGW8PLnoE","name":"Main","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"production","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-7712,-1424],"id":"333411dd-cda0-4774-a7f8-499f86c2d459","name":"Webhook","webhookId":"a45e5681-9cef-4e53-a3e1-0ccfec86480a"},{"parameters":{"promptType":"define","text":"=consulta_usuário: \n- Descrição: {{ $json.parametros.descricao }}  \n- Segmento: {{ $json.parametros.segmento }}\n- Categoria: {{ $json.parametros.categoria }}\n- Subcategoria: {{ $json.parametros.subcategoria }} \n","hasOutputParser":true,"options":{"systemMessage":"=Você é um Estruturador de Consulta para Busca Vetorial B2B.\n\nSua função é converter uma consulta em linguagem natural em parâmetros semânticos estruturados.\n\nVocê NÃO:\n\n* conversa\n* explica\n* executa busca\n* gera embeddings\n* gera filtros\n* retorna empresas\n* sugere ranking\n* calcula score\n\nVocê apenas retorna JSON estruturado.\n\n---\n\n## ESTRUTURA\n\nCada empresa possui 3 vetores independentes:\n\n* servicos → serviços e competências técnicas\n* produtos → produtos, tecnologias, equipamentos\n* clientes → perfil e tipo de cliente atendido\n\nOs embeddings são gerados externamente a partir dos textos produzidos.\n\n---\n\n## PAYLOADS OBRIGATÓRIOS\n\nVocê deve sempre gerar exatamente dois payloads:\n\n* Industria\n* Modelo_Negocio\n\nRegras:\n\n* Exatamente 1 valor por payload.\n* Não usar null.\n* Não usar array.\n* Não omitir nenhum dos dois.\n* Valores devem ser semanticamente coerentes com a consulta.\n* Se não houver indicação explícita, inferir o valor mais tecnicamente compatível.\n\n---\n\n## OBJETIVO\n\nConverter a consulta em:\n\n* Texto otimizado para cada vetor\n* Peso para cada vetor\n* Payloads obrigatórios\n\n---\n\n## REGRAS PARA AS QUERIES\n\nOs textos devem ser:\n\n* tecnicamente específicos\n* semanticamente densos\n* curtos e discriminativos\n* sem ambiguidade\n* conter termos relevantes e sinônimos técnicos quando aplicável\n\n---\n\n## REGRAS PARA OS PESOS\n\nVocê deve distribuir pesos entre:\n\n* peso_servicos\n* peso_produtos\n* peso_clientes\n\nRegras obrigatórias:\n\n* A soma deve ser exatamente 1.0\n* Pesos podem ser 0.0 quando não fizer sentido usar o vetor\n* É permitido concentrar 100% do peso em um único vetor\n\nExemplo válido:\n\n* Busca por produto específico → peso_produtos = 1.0 e os demais = 0.0\n* Busca puramente por mercado atendido → peso_clientes = 1.0\n\nOs pesos devem refletir a intenção dominante da consulta.\n\n---\n\n## FORMATO DE SAÍDA\n\nRetornar apenas JSON válido.\n\nRegras estruturais:\n\n* Objeto raiz único\n* Sem wrapper\n* Sem campos extras\n* Sem markdown\n* Sem explicação\n* Não usar \"action\", \"text\", \"output\"\n* Não retornar JSON como string\n* Deve começar com { e terminar com }\n\n---\n\n## SCHEMA OBRIGATÓRIO\n\n{\n\"query_original\": \"\",\n\n\"servicos\": \"\",\n\"produtos\": \"\",\n\"clientes\": \"\",\n\n\"peso_servicos\": 0.0,\n\"peso_produtos\": 0.0,\n\"peso_clientes\": 0.0,\n\n\"payload_values\": {\n\"Industria\": \"\",\n\"Modelo_Negocio\": \"\"\n}\n}\n\n---\n\n## VALIDAÇÕES OBRIGATÓRIAS\n\n* Todos os campos acima devem existir.\n* Nenhum campo adicional é permitido.\n* peso_servicos + peso_produtos + peso_clientes = exatamente 1.0\n* Industria deve existir.\n* Modelo_Negocio deve existir.\n* Nenhum payload pode conter array.\n* Nenhum campo pode estar vazio.\n\nSe qualquer regra for violada, corrija antes de responder.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-3568,224],"id":"7d5d2233-8681-4bf4-8d61-86fe259a8a06","name":"AI Agent","retryOnFail":true,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-3648,400],"id":"8d3eb5b1-689b-44bb-bccf-208b6df6644b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\"query_original\": \"\",\n\n\"servicos\": \"\",\n\"produtos\": \"\",\n\"clientes\": \"\",\n\n\"peso_servicos\": 0.0,\n\"peso_produtos\": 0.0,\n\"peso_clientes\": 0.0,\n\n\"payload_values\": {\n\"Industria\": \"\",\n\"Modelo_Negocio\": \"\"\n}\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-3440,416],"id":"c247f9e6-5123-4c1a-9572-ae289ce57a2c","name":"Structured Output Parser1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-3520,576],"id":"ec9ac164-76c3-49de-8acc-e94e98c400d2","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"7c995f70-75dd-4d43-a5bd-69dd62f4bef1","name":"output.vector_queries.segmento","value":"={{ $json.output.vector_queries.segmento }}","type":"string"},{"id":"285f1ad3-8ae4-4eff-be06-80fd759ab687","name":"output.vector_queries.produtos","value":"={{ $json.output.vector_queries.produtos }}","type":"string"},{"id":"6951b39d-7d4e-4072-b5ea-7b92d1c7600a","name":"output.vector_queries.clientes","value":"={{ $json.output.vector_queries.clientes }}","type":"string"},{"id":"0b042419-6985-4e86-9fcd-f63a781d6f80","name":"output.vector_weights","value":"={{ $json.output.vector_weights }}","type":"object"},{"id":"8aa981d5-3a3c-4ff6-a8d0-32dea74d9fc8","name":"output.payload_values","value":"={{ $json.output.payload_values }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3120,208],"id":"e51bc473-196b-4730-807f-ab76c0cf9524","name":"Edit Fields2"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"segmento\": {{ $json.vector_queries.segmento }},\n    \"produtos\": {{ $json.vector_queries.produtos }},\n    \"clientes\": {{ $json.vector_queries.clientes }}\n  },\n  \"weights\": {\n    \"segmento\": {{ $json.vector_weights.segmento }},\n    \"produtos\": {{ $json.vector_weights.produtos }},\n    \"clientes\": {{ $json.vector_weights.clientes }}\n  },\n  \"filter\": {\n    \"industria\": \"{{ $json.payload_values.Industria }}\",\n    \"modelo_negocio\": \"{{ $json.payload_values.Modelo_Negocio }}\"\n  },\n  \"filter\": {\n    \"industria\": \"{{ $json.payload_values.Industria }}\",\n    \"modelo_negocio\": \"{{ $json.payload_values.Modelo_Negocio }}\"\n  },\n  \"limit_per_vector\": 10,\n  \"final_limit\": 20\n}\n\n{\n  \"vectors\": {\n    \"segmento\": {{ $json.vector_queries.segmento }},\n    \"produtos\": {{ $json.vector_queries.produtos }},\n    \"clientes\": {{ $json.vector_queries.clientes }}\n  },\n  \"weights\": {\n    \"segmento\": {{ $json.vector_weights.segmento }},\n    \"produtos\": {{ $json.vector_weights.produtos }},\n    \"clientes\": {{ $json.vector_weights.clientes }}\n  },\n  \"filter\": {\n    \"industria\": \"{{ $json.payload_values.Industria }}\",\n    \"modelo_negocio\": \"{{ $json.payload_values.Modelo_Negocio }}\"\n  },\n  \"limit_per_vector\": 10,\n  \"final_limit\": 20,\n  \"bm25_query\": \"{{ $json.texto_busca }}\",\n  \"bm25_weight\": 0.3\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2896,208],"id":"9989df49-d0bd-4c22-8456-67a6bec83b9e","name":"HTTP Request1"},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"get","tableId":"usuario_fornecedor","filters":{"conditions":[{"keyName":"cnpj_basico","keyValue":"={{ $json.full_profile.identidade.cnpj }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1408,-2352],"id":"da6e1358-8045-4466-a1ee-06c25641a149","name":"get fornecedor","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ffa8682-f0b0-4564-86cd-1c3e3e59a4aa","leftValue":"={{ $json.item['limite_listagens '] - $json.item.n_listagens }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-544,-2576],"id":"21e2655d-e70a-4a05-8239-76e3b1278443","name":"pode mostrar"},{"parameters":{"workflowId":{"__rl":true,"value":"8wGQEu6ASkKw1oMS","mode":"list","cachedResultUrl":"/workflow/8wGQEu6ASkKw1oMS","cachedResultName":"Envia e-mail"},"workflowInputs":{"mappingMode":"defineBelow","value":{"data.email_fornecedor":"={{ $json.item.email }}","data.motivo":"nota_baixa","data.cnpj_basico":"={{ $json.item.cnpj_basico }}","data.cnpj_ordem":"={{ $json.item.cnpj_ordem }}","data.cnpj_dv":"={{ $json.item.cnpj_dv }}","data.id_consulta":"={{ $json.item.consulta_id }}","nota":"={{ $json.item.nota }}"},"matchingColumns":[],"schema":[{"id":"data.email_fornecedor","displayName":"data.email_fornecedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.motivo","displayName":"data.motivo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_basico","displayName":"data.cnpj_basico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_dv","displayName":"data.cnpj_dv","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_ordem","displayName":"data.cnpj_ordem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.id_consulta","displayName":"data.id_consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nota","displayName":"nota","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[160,-2480],"id":"b467e929-52eb-4873-a828-0dfbd0ddcfb4","name":"Call 'Envia e-mail'1"},{"parameters":{"workflowId":{"__rl":true,"value":"8wGQEu6ASkKw1oMS","mode":"list","cachedResultUrl":"/workflow/8wGQEu6ASkKw1oMS","cachedResultName":"Envia e-mail"},"workflowInputs":{"mappingMode":"defineBelow","value":{"data.email_fornecedor":"={{ $json.item.email }}","data.motivo":"sem_imite","data.cnpj_basico":"={{ $json.item.cnpj_basico }}","data.cnpj_dv":"={{ $json.item.cnpj_dv }}","data.cnpj_ordem":"={{ $json.item.cnpj_ordem }}","data.id_consulta":"={{ $json.item.consulta_id }}","nota":"={{ $json.item.nota }}"},"matchingColumns":[],"schema":[{"id":"data.email_fornecedor","displayName":"data.email_fornecedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.motivo","displayName":"data.motivo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_basico","displayName":"data.cnpj_basico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_dv","displayName":"data.cnpj_dv","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_ordem","displayName":"data.cnpj_ordem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.id_consulta","displayName":"data.id_consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nota","displayName":"nota","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[416,-2704],"id":"f391bf43-3531-4b5a-a859-cdb94f76b604","name":"Call 'Envia e-mail'"},{"parameters":{"workflowId":{"__rl":true,"value":"8wGQEu6ASkKw1oMS","mode":"list","cachedResultUrl":"/workflow/8wGQEu6ASkKw1oMS","cachedResultName":"Envia e-mail"},"workflowInputs":{"mappingMode":"defineBelow","value":{"data.motivo":"sem_cadastro","data.email_fornecedor":"={{ $json.item.email }}","data.cnpj_basico":"={{ $json.item.cnpj_basico }}","data.cnpj_ordem":"={{ $json.item.cnpj_ordem }}","data.cnpj_dv":"={{ $json.item.cnpj_dv }}","data.id_consulta":"={{ $json.item.consulta_id }}","nota":"={{ $json.item.nota }}"},"matchingColumns":[],"schema":[{"id":"data.email_fornecedor","displayName":"data.email_fornecedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.motivo","displayName":"data.motivo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_basico","displayName":"data.cnpj_basico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_dv","displayName":"data.cnpj_dv","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_ordem","displayName":"data.cnpj_ordem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.id_consulta","displayName":"data.id_consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nota","displayName":"nota","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[416,-2480],"id":"3ee2e0f1-ca0f-4ca3-9974-18066a00eaec","name":"Call 'Envia e-mail'2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bc41b5ed-dc2c-4086-a4ee-7ec6b9433500","leftValue":"={{ $json.item.fornecedor_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-544,-2352],"id":"1537eab6-6af5-425c-8bfa-3400dbb1a4ae","name":"cadastrado1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bc41b5ed-dc2c-4086-a4ee-7ec6b9433500","leftValue":"={{ $json.item.fornecedor_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-336,-2592],"id":"c4a40c12-d7c3-4700-a4dc-9121d9fbdecb","name":"cadastrado2"},{"parameters":{"workflowId":{"__rl":true,"value":"8wGQEu6ASkKw1oMS","mode":"list","cachedResultUrl":"/workflow/8wGQEu6ASkKw1oMS","cachedResultName":"Envia e-mail"},"workflowInputs":{"mappingMode":"defineBelow","value":{"data.email_fornecedor":"={{ $json.item.email }}","data.motivo":"sem_cadastro","data.cnpj_basico":"={{ $json.item.cnpj_basico }}","data.cnpj_dv":"={{ $json.item.cnpj_dv }}","data.cnpj_ordem":"={{ $json.item.cnpj_ordem }}","data.id_consulta":"={{ $json.item.consulta_id }}","nota":"={{ $json.item.nota }}"},"matchingColumns":[],"schema":[{"id":"data.email_fornecedor","displayName":"data.email_fornecedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.motivo","displayName":"data.motivo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_basico","displayName":"data.cnpj_basico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_dv","displayName":"data.cnpj_dv","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_ordem","displayName":"data.cnpj_ordem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.id_consulta","displayName":"data.id_consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nota","displayName":"nota","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[160,-2704],"id":"f0b2bf3d-d631-4cb6-8d4c-5684653e674b","name":"Call 'Envia e-mail'3"},{"parameters":{"content":"## Banco de dados:\n- Busca um consulta no banco de dados\n- Atualiza a coluna de resultados com o que foi encontrado\n- Adiciona +1 nas exibições das empresas encontradas\n- Salva um histórico da busca evitando repetições em exibições futuras.","height":336,"width":880,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1392,-1856],"id":"aa7e14ee-4578-46ce-b0e1-4bde1edfa674","name":"Sticky Note25"},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"get","tableId":"consultas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Webhook').item.json.body.consultaId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-912,-1696],"id":"dd8cbeda-a580-464d-8804-a721440b3cb3","name":"get_result","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"update","tableId":"consultas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.consultaId }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resultados","fieldValue":"={{ $('Aggregate2').item.json.result }}"},{"fieldId":"status","fieldValue":"concluida"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-736,-1696],"id":"0860959c-9934-4f96-987f-5b6173ee6cdb","name":"Mostra resultado intermediário1","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"37b79ebe-4d88-4286-ad8f-71f98605e4ad","name":"result.item","value":"={{ $json.item }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1360,-1696],"id":"8dd828e8-e080-4988-be51-a26d5e39712f","name":"set_result"},{"parameters":{"method":"POST","url":"https://hccolkrnyrxcbxuuajwq.supabase.co/rest/v1/rpc/incrementar_aparicoes_cnpjs","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"cnpjs","value":"={{ $json.cnpj }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1488,-1488],"id":"a1f6c884-d1f6-4778-972c-6731d6282731","name":"Soma_exibicoes","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"content":"## Cadastrado -30","height":208,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[96,-2528],"id":"35215883-b44c-44b0-aec2-19a4ce133e06","name":"Sticky Note10"},{"parameters":{"content":"## +30 sem limite","height":208,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[352,-2752],"id":"e73c47ad-88f5-47fb-8f18-804e5de90b1d","name":"Sticky Note11"},{"parameters":{"content":"## Sem cadastro -30","height":208,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[352,-2528],"id":"d2771cf2-8ec8-4165-bbbd-c530fd10ea15","name":"Sticky Note12"},{"parameters":{"content":"## Regra de negócio:\nManda e-mails de propaganda para:\n- Pessoas com limite de Exibições estourado.\n- Pessoas sem cadastro\n- Nota Baixa no site","height":528,"width":454,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-592,-2736],"id":"e2a35072-863e-4749-aceb-858619f8816f","name":"Sticky Note40"},{"parameters":{"content":"## +30 sem cadastro","height":208,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[96,-2752],"id":"d8c08b07-4f87-4ccc-8a25-b63ebbce716c","name":"Sticky Note13"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"result"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1120,-1696],"id":"86187a51-c364-4d40-a080-bc8d59033f6f","name":"Aggregate2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-288,-2432],"id":"cf1f7b2e-a7ed-4dce-b402-1cb43cfbb18b","name":"Merge5"},{"parameters":{"content":"## Busca Vetorial:\n- Realiza uma busca vetorial no Qdrant","height":272,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2960,96],"id":"159b530d-e2ea-41ca-8278-a0c96078288a","name":"Sticky Note14"},{"parameters":{"content":"## Agente estruturador de query:\n\n- Recebe a query do usuário e traduz em queries de vetores e payloads, essas queries são usadas no Qdrant, aplicando um filtro e uma busca com 3 vetores.","height":672,"width":496,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3648,32],"id":"b8325caf-b7b5-4a73-94eb-22f4c399f020","name":"Sticky Note15"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.parametros.tipo_busca }}","rightValue":"=uf","operator":{"type":"string","operation":"equals"},"id":"5ae05424-95d0-4255-9143-db06a0b77429"}],"combinator":"and"},"renameOutput":true,"outputKey":"busca_uf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"df4e5915-07cc-4afb-99a3-2ff13636335c","leftValue":"={{ $json.body.parametros.tipo_busca }}","rightValue":"city","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"busca_cidade"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-7216,-1440],"id":"a3a172a0-317c-4502-b261-5b0f1c133e25","name":"tipo_busca1"},{"parameters":{"fieldToSplitOut":"nearby_cities","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-6656,-1424],"id":"ca60ad11-6b98-4c83-9f99-592c1ed9205a","name":"Split Out3","alwaysOutputData":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"descricao"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-5776,-1680],"id":"67ef449e-8692-4d16-86c2-cb2ecc1724d7","name":"Aggregate3","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"3b606833-d2df-4174-a8f3-8bd57c8fffcf","name":"cidades","value":"={{ $('Split Out3').item.json.name.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").replace(/~/g, \"\").toUpperCase() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6416,-1680],"id":"43d3c357-2f3f-419b-bf50-89a078d7eb3e","name":"lista_cidades1"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"get","tableId":"municipio","filters":{"conditions":[{"keyName":"descricao","keyValue":"={{ $json.cidades }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6000,-1680],"id":"c7da4dd3-9ee5-403f-ad0a-9e8d1d9047f8","name":"Get_codes1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-5536,-1552],"id":"28e76834-13ae-4043-9795-bd6d9e20ad6f","name":"Merge6"},{"parameters":{"jsCode":"// Pega todos os itens recebidos\nconst items = $input.all();\n\n// Extrai a UF (últimos 2 caracteres após o hífen)\nconst ufs = items\n  .map(item => {\n    const text = item.json.uf || item.json.cidade_origem || \"\";\n    const match = text.match(/([A-Z]{2})$/);\n    return match ? match[1] : null;\n  })\n  .filter(Boolean); // remove nulos\n\n// Remove duplicadas\nconst ufsUnicas = [...new Set(ufs)];\n\n// Retorna no formato original\nreturn [\n  {\n    json: {\n      ufs_unicas: ufsUnicas\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6272,-1360],"id":"13fbc362-0d7f-495a-be63-fa7ee33e1cb5","name":"set_ufs_unicas1"},{"parameters":{"content":"## Processamento: Encontra cidades dentro de um raio.\n- Atende busca por raio e busca por UF.\n### Busca por raio:\n- Leva em conta uma cidade como ponto de partida.\n- Consulta na api as cidades dentro daquele raio.\n- Lista cidades e UFs presente no raio.\n### Busca por UF:\n- Retorna a lista de UFs especificadas na consulta.","height":624,"width":1622,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-7024,-1824],"id":"0b4ae983-1143-457c-a131-6a3b1637e59a","name":"Sticky Note42"},{"parameters":{"content":"## API própria:\n- Encontra cidades dentro de um raio pré-definido","height":256,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6944,-1536],"id":"a3f17b0f-ba1f-42d7-9f82-d8e2ab63b852","name":"Sticky Note43"},{"parameters":{"url":"https://api-busca-cidades-buscafornecedor.up.railway.app/api/cities/nearby","sendQuery":true,"queryParameters":{"parameters":[{"name":"city_name","value":"={{ $json.body.parametros.cidade_origem.replace(/\\s*-\\s*[A-Z]{2}$/, '') }}"},{"name":"radius_km","value":"={{ isNaN(Number($json.raio_km)) || !$json.raio_km ? 1 : Number($json.raio_km) + 1}} "},{"name":"uf","value":"={{ $json.body.parametros.cidade_origem.match(/([A-Z]{2})$/)[1] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6880,-1424],"id":"e626d429-e061-4315-81a6-4f0cda496905","name":"acha_cidade1","alwaysOutputData":true},{"parameters":{"content":"## Busca códigos para as cidades no supabase:","height":272,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6080,-1792],"id":"ab9fd43c-d633-41bd-8d95-c8b47997a615","name":"Sticky Note44"},{"parameters":{"maxItems":500},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-6224,-1680],"id":"d03dcbab-1724-4bff-b93e-00bb15133c4b","name":"Limit"},{"parameters":{"content":"## Mapeia Ufs Únicas.\n- Aplica uma função map().\n- Transforma código em Uf.\n- Mapeia Ufs únicas.","height":288},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6352,-1520],"id":"b4fea4e1-df39-417a-9177-b9f594144026","name":"Sticky Note45"},{"parameters":{"operation":"push","list":"={{ $('Webhook').item.json.body.consultaId }}","messageData":"={{ $json.empresa.razao_social }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1008,-2352],"id":"cdb370e0-1b06-47f4-a5cd-f5e654e8fb33","name":"put1","credentials":{"redis":{"id":"e8TEVWEpT7yUTHVI","name":"Redis account"}}},{"parameters":{"content":"## Fase 1: Preparação/Processamento da query do cliente.","height":720,"width":1910,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-7296,-1904],"id":"a60bf2e9-3723-4a3f-9aec-facd6e647cc6","name":"Sticky Note47"},{"parameters":{"content":"## Fase 2: Busca no Qdrant","height":416,"width":486},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3152,-16],"id":"e843a73b-f5c7-4a0f-af97-1d455777dbd8","name":"Sticky Note48"},{"parameters":{"assignments":{"assignments":[{"id":"0f1e54e0-8729-43ac-8e10-1ea5aec5e66b","name":"vetor.produto","value":"={{ $json.output.produtos }}","type":"string"},{"id":"8cf8786a-d8b2-4588-9cf4-1a2567afafbd","name":"vetor.servico","value":"={{ $json.output.servicos }}","type":"string"},{"id":"76359de1-9af2-4638-b0bb-1850eb938d0c","name":"vetor.descricao","value":"={{ $json.output.descricao }}","type":"string"},{"id":"f8ebf74f-d754-44f3-8b3f-37d5250998ed","name":"vetor.cliente","value":"={{ $json.output.clientes }}","type":"string"},{"id":"ffd79d82-df78-469a-a98a-f70bd76707e8","name":"vetor.publico","value":"={{ $json.output.publico }}","type":"string"},{"id":"da09cd49-5286-4edd-a05d-495aff9bfda4","name":"output.bm25","value":"={{ $json.output.bm25 }}","type":"string"},{"id":"1f9f6f5d-b8ee-4f87-9629-932d92f48edc","name":"payload.Modelo_Negocio","value":"={{ $json.output.Modelo_Negocio }}","type":"string"},{"id":"e72e5868-1d42-4007-b502-7c19e8a7b806","name":"payload.ufs_selecionadas","value":"={{ $('Edit Fields8').item.json.ufs_selecionadas }}","type":"array"},{"id":"166fd17c-1231-4867-b5c5-438116636454","name":"consultaId","value":"={{ $('Edit Fields8').item.json.consultaId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4416,-1600],"id":"9cadca92-fec5-4690-8870-5aa668833611","name":"set_profile_data"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.servico }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-3680,-2416],"id":"d316df3d-8abf-46a6-bb31-25b836b93da7","name":"serviço5","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.produto }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-3664,-2016],"id":"e1de4967-7ac5-4fed-9dcc-b96647287008","name":"produto1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.descricao }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-3632,-1664],"id":"7b677616-c240-488d-8054-b26bca47b51f","name":"descricao1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.publico }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-3616,-1344],"id":"eefe792a-d2e5-4697-be2b-148017402081","name":"publico1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.cliente }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-3616,-1008],"id":"8954918c-f8d8-464a-966c-79a79c79b554","name":"cliente","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.descricao }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3904,-1600],"id":"07608195-124c-4493-a614-016cabbd868d","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.publico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3888,-1264],"id":"03b73d29-86f3-42e7-88b7-f317379382d9","name":"If4"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3616,-848],"id":"4060cb55-0377-4c1a-bd47-c71ff4aec59b","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3408,-960],"id":"b7c1c4c5-b8f3-47a1-8041-725c7cd810e6","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_cliente","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3200,-960],"id":"3bbd8971-d978-476a-9e7c-8686180c9678","name":"Edit Fields5"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3392,-1280],"id":"a2f3fa51-bc93-448c-99f0-5c08f0aaedeb","name":"Edit Fields6"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_publico","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3200,-1280],"id":"7853eef9-4a07-4ab6-ac85-1627d388f45b","name":"Edit Fields7"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3616,-1184],"id":"549f1c25-4baf-428e-b9f0-b273fb62cfcf","name":"Edit Fields10"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3408,-1616],"id":"8e8f0d36-2706-47ce-9711-e751f85934d6","name":"Edit Fields11"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_descricao","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3216,-1616],"id":"648c1723-0488-4fc0-8e5b-80f2de80794e","name":"Edit Fields12"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3632,-1536],"id":"0ef29070-c1b0-4c30-8e74-263cea619a3e","name":"Edit Fields13"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3472,-1952],"id":"4ca81d62-61c8-4992-bb95-b4c028246f35","name":"Edit Fields14"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_produto","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3280,-1952],"id":"374f20be-4dda-4c09-87df-4ca59c0ed3db","name":"Edit Fields15"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3664,-1840],"id":"d9148541-8ee1-4ec4-9359-1d3b6940e543","name":"Edit Fields16"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3488,-2336],"id":"3fa3faeb-c8a3-4e4e-bb39-e7e78a9679b7","name":"Edit Fields17"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_servico","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3296,-2336],"id":"a6a26f1a-1c81-4552-8c47-41b83a16dcb7","name":"Edit Fields18"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3680,-2208],"id":"72a21bea-18fd-4425-868c-4816d686da3f","name":"Edit Fields19"},{"parameters":{"assignments":{"assignments":[{"id":"14eaa849-c51f-42a9-97fd-052df940f402","name":"payload.cnpj","value":"={{ $json.payload.cnpj || \"Sem Resultado\"}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1872,-1488],"id":"0b9115bf-a600-4043-a46e-d567bdb6fac3","name":"Edit Fields1"},{"parameters":{"promptType":"define","text":"=consulta_usuário: \nsegmento: {{ $json.segmento }}\ndescricao: {{ $json.descricao }}","hasOutputParser":true,"options":{"systemMessage":"=# ROLE\nEspecialista em Engenharia de Busca B2B e Hybrid Retrieval.\n\n# OBJETIVO\nTransformar consultas em JSON estruturado para busca híbrida, garantindo expansão semântica controlada e aderência matemática rigorosa.\n\n# TAREFA: DISTRIBUIÇÃO DE PESOS (REGRA OBRIGATÓRIA)\nA soma total deve ser sempre 1.0. \n1. **Núcleo (Produto + Serviço):** Soma de `peso_produtos` + `peso_servicos` = **0.65**.\n   - Identifique a predominância (venda de item ou execução de tarefa) e distribua os 0.65.\n2. **Precisão Lexical (BM25):** O `peso_bm25` deve ser SEMPRE **0.25**.\n3. **Contexto (Descrição + Público + Clientes):** Soma de `peso_descricao` + `peso_publico` + `peso_clientes` = **0.10**.\n   - Sugestão: Descrição (0.04), Público (0.03), Clientes (0.03).\n\n# DIRETRIZES DE CONTEÚDO E EXPANSÃO\n1. **Dilation Search (Sem mencionar níveis):** Gere uma expansão de termos começando do ultra-específico para o genérico, mas **MANTENHA O ESCOPO**. Se a busca é \"cortina\", o termo mais genérico deve ser \"decoração de janelas\" ou \"têxteis para interiores\", e NÃO \"mobiliário\" ou \"construção civil\".\n2. **Formatação:** Use APENAS vírgulas para separar termos. PROIBIDO usar barras (|), pontos e vírgula (;) ou prefixos como \"Nível 1:\".\n3. **BM25:** Foque em palavras-chave puras, siglas, marcas e termos técnicos sem conectivos.\n\n# REGRAS DE NEGÓCIO\n- Modelo_Negocio: Selecione EXATAMENTE um: [Fabricante, Distribuidor, Atacado, Varejo, Prestador de Serviço].\n- PROIBIDO: Explicar, conversar ou usar markdown. Retorne APENAS o JSON.\n\n# SCHEMA DE SAÍDA\n{\n  \"query_original\": \"string\",\n  \"produtos\": \"termo1, termo2, termo3, termo4\",\n  \"servicos\": \"termo1, termo2, termo3, termo4\",\n  \"descricao\": \"string\",\n  \"publico\": \"string\",\n  \"clientes\": \"string\",\n  \"bm25\": \"string\",\n  \"peso_produtos\": 0.0,\n  \"peso_servicos\": 0.0,\n  \"peso_descricao\": 0.0,\n  \"peso_publico\": 0.0,\n  \"peso_clientes\": 0.0,\n  \"peso_bm25\": 0.25,\n  \"Modelo_Negocio\": \"string\"\n}\n\n\n# Exemplo Output Esperado:\n\nJSON\n{\n  \"query_original\": \"compra de persianas de leito e persianas de escritório, atendimento todo o Brasil de preferencia\",\n  \"produtos\": \"persianas de leito, persianas de escritório, persiana rolô, persiana blackout, persianas motorizadas, cortinas técnicas, soluções para janelas\",\n  \"servicos\": \"venda de persianas, instalação de persianas, entrega nacional de cortinas, orçamento de persianas sob medida\",\n  \"descricao\": \"Fornecedor de persianas para ambientes residenciais e corporativos com capacidade de entrega e atendimento em território nacional.\",\n  \"publico\": \"escritórios, hospitais, residências, arquitetos, decoradores\",\n  \"clientes\": \"empresas, clínicas, compradores corporativos, proprietários de imóveis\",\n  \"bm25\": \"persiana leito escritório blackout motorizada entrega brasil sob medida\",\n  \"peso_produtos\": 0.55,\n  \"peso_servicos\": 0.10,\n  \"peso_descricao\": 0.04,\n  \"peso_publico\": 0.03,\n  \"peso_clientes\": 0.03,\n  \"peso_bm25\": 0.25,\n  \"Modelo_Negocio\": \"Varejo\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-4832,-1584],"id":"84fb8418-8d63-450d-a0ff-f9c5ef5ab800","name":"AI Agent1","retryOnFail":true,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"servico\":[{{ $json.vector_servico }}],\n    \"produto\":[{{ $json.vector_produto }}],\n    \"descricao\":[{{ $json.vector_descricao }}],\n    \"publico\":[{{ $json.vector_publico }}],\n    \"cliente\":[{{ $json.vector_cliente }}]\n  },\n  \"weights\": {\n    \"servico\": {{ $('AI Agent1').item.json.output.peso_servicos }},\n    \"descricao\": {{ $('AI Agent1').item.json.output.peso_descricao }},\n    \"publico\": {{ $('AI Agent1').item.json.output.peso_publico }},\n    \"cliente\": {{ $('AI Agent1').item.json.output.peso_clientes }},\n    \"produto\": {{ $('AI Agent1').item.json.output.peso_produtos }},\n    \"bm25\": {{ $('AI Agent1').item.json.output.peso_bm25 }}\n\n  },\n  \"filter\": {\n    \"modelo_negocio\": \"{{ $('set_profile_data').item.json.payload.Modelo_Negocio }}\",\n    \"cidade\":\"{{ $('Edit Fields8').item.json.lista_municipio || \" \" }}\",\n    \"uf\":\"{{ $('set_profile_data').item.json.payload.ufs_selecionadas || \" \" }}\"\n  },\n  \"limit_per_vector\": 10,\n  \"final_limit\": 20,\n  \"bm25_query\": \"{{ $('AI Agent1').item.json.output.bm25\n  .replace(/[^\\w\\s\\-.,]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n}}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2496,-1712],"id":"48f09c9b-6c93-4f8b-b260-957aa3a07cd4","name":"HTTP Request"},{"parameters":{"jsonSchemaExample":"{\n\"query_original\": \"string\",\n\n\"produtos\": \"string\",\n\"servicos\": \"string\",\n\"descricao\": \"string\",\n\"publico\": \"string\",\n\"clientes\": \"string\",\n\"bm25\": \"string\",\n\n\"peso_produtos\": 0.0,\n\"peso_servicos\": 0.0,\n\"peso_descricao\": 0.0,\n\"peso_publico\": 0.0,\n\"peso_clientes\": 0.0,\n\"peso_bm25\": 0.0,\n\n\"Modelo_Negocio\": \"string\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-4704,-1392],"id":"e1001eb0-4b15-48f7-8374-fd283f91b3cf","name":"Structured Output Parser3"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-4784,-1232],"id":"ed3c70bf-81a9-4fb6-8776-cf636c03f71a","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.servico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3920,-2336],"id":"d6ae2e42-d8a0-41a7-9b3b-8f9263239ff2","name":"If5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.produto }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3904,-1936],"id":"0dda9d33-b123-4b2b-a8f1-007412990210","name":"If6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.cliente }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3904,-928],"id":"7aea4e10-c1db-490d-9c55-11969362264e","name":"If7"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":5,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2688,-1760],"id":"8051eb23-13b7-4189-b0c0-dc1f065c25d8","name":"Merge3"},{"parameters":{"assignments":{"assignments":[{"id":"67239d33-a6aa-4f1c-9f96-984e97694c0d","name":"descricao","value":"={{ $('Webhook').item.json.body.parametros.descricao }}","type":"string"},{"id":"fa440477-dce1-4238-aefb-1de688ba2398","name":"segmento","value":"={{ $('Webhook').item.json.body.parametros.segmento }}","type":"string"},{"id":"86485711-eb18-481b-9098-3f7f50f527ab","name":"ufs_selecionadas","value":"={{ $('Webhook').item.json.body.parametros.ufs_selecionadas || [] }}","type":"array"},{"id":"62dac054-7a4b-4b88-bb34-55c4e6a1c04f","name":"consultaId","value":"={{ $('Webhook').item.json.body.consultaId }}","type":"string"},{"id":"e8d9155c-f07e-49cc-9b2d-5e56cd44e33d","name":"lista_municipio","value":"={{ $json.descricao || [] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5136,-1584],"id":"d01353ce-5e17-459e-9bf3-6e21c86cc7a2","name":"Edit Fields8"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2080,-1696],"id":"94f6dd56-a3d6-445d-a4df-593254ffc39e","name":"Split Out4","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"4926cf8a-9d25-4aff-b7a6-05bd5f1918a7","name":"full_profile.contato","value":"={{ $json.full_profile.contato }}","type":"object"},{"id":"0c5cffba-c38e-4007-b799-da9b77f14b2f","name":"full_profile.identidade","value":"={{ $json.full_profile.identidade }}","type":"object"},{"id":"f10e511d-8f9c-4ecd-8619-f7e711cf311f","name":"full_profile.ofertas","value":"={{ $json.full_profile.ofertas }}","type":"object"},{"id":"81a93085-a88d-4030-84c0-6bf809dd9972","name":"full_profile.classificacao","value":"={{ $json.full_profile.classificacao }}","type":"object"},{"id":"c65c31ad-63fc-4935-891b-e1e1069032c0","name":"full_profile.reputacao","value":"={{ $json.full_profile.reputacao }}","type":"object"},{"id":"f331e332-70cc-4767-bdfc-a14e28ad4515","name":"municipio","value":"={{ $json.municipio }}","type":"string"},{"id":"8872735c-9b14-4f48-b2cd-15a98fb6442a","name":"uf","value":"={{ $json.uf }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1616,-2336],"id":"75223078-7d1d-4c64-affe-ed21addc6497","name":"set_data_empresa"},{"parameters":{"assignments":{"assignments":[{"id":"8c8e6e64-cc6b-4e81-b261-650dc9498ac5","name":"item.fornecedor_id","value":"={{ $json.id || null}}","type":"string"},{"id":"e885457b-46bf-4c87-bd33-8c40ffd2805d","name":"item.n_listagens","value":"={{ $json.n_exibicoes || 0 }}","type":"number"},{"id":"665347f5-2639-4bb0-b692-0531f600359b","name":"item.plano_categoria","value":"={{ $json.plano_categoria || null }}","type":"string"},{"id":"244003cf-9cb2-437b-bb1b-e89a4cfb661d","name":"item.razao_social","value":"={{ $json.full_profile.identidade.nome_empresa }}","type":"string"},{"id":"c123260f-217e-4549-8c69-7c6cae477cff","name":"item.site","value":"={{ $json.full_profile.contato.url_site }}","type":"string"},{"id":"7a6d26fa-9e0e-415f-8d22-b7cf1bce103f","name":"item.telefone","value":"={{ $json.full_profile.contato.telefones }}","type":"string"},{"id":"5448c6ef-51e9-4982-9929-ea760b632507","name":"item.instagram","value":"=\" \"","type":"string"},{"id":"1b92249f-71a1-48dd-9158-622d960b7794","name":"item.email","value":"={{ $json.full_profile.contato.emails }}","type":"string"},{"id":"76e17746-f60a-4628-9b58-0199f219e612","name":"item.nota","value":"={{ $json.nota }}","type":"number"},{"id":"3ebb5849-177b-4fba-bf29-572446fba50e","name":"item.limite_listagens ","value":"={{    $json.plano_categoria      ? (         $json.plano_categoria.toLowerCase() === 'standard' ? 10 :         $json.plano_categoria.toLowerCase() === 'essencial' ? 25 :         $json.plano_categoria.toLowerCase() === 'profissional' ? 1000 :         $json.plano_categoria.toLowerCase() === 'elite' ? 1000000 :         10       )     : 10 }}","type":"string"},{"id":"bd7599ed-40ac-4859-a39d-b99209bd89e1","name":"item.consulta_id","value":"={{ $('set_profile_data').item.json.consultaId }}","type":"string"},{"id":"0c2092b3-9f01-4b46-ba92-ba0c123babaa","name":"item.cnpj_basico","value":"={{ $json.cnpj }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1648,-1696],"id":"0b15a200-2a86-42ba-9baa-9a4984c620b5","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"74d5d730-d516-4e44-8c8c-84ee69a50a99","leftValue":"={{ $json.body.userId }}","rightValue":"41f1e113-5beb-4de9-860b-1b14375cfdf9","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-7520,-1424],"id":"c413d550-7098-40f7-8831-43f5265dbb77","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3034442b-d032-4908-bca5-c10d36945a1f","leftValue":"={{ $json.results }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2288,-1712],"id":"d7b3e221-4876-4a49-bd10-923ba7159166","name":"If1"},{"parameters":{"chatId":"7975856170","text":"BUSCA VAZIA","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2032,-1904],"id":"be9e0b95-5155-4d7a-b610-f0726b6b27d6","name":"Send a text message","webhookId":"7033c05d-7b17-4de3-b5e3-16c810559ce8","credentials":{"telegramApi":{"id":"ca8xxX5A84aox0Rt","name":"Telegram Felipe"}}},{"parameters":{"jsCode":"function safe(v) {\n  if (v === null || v === undefined) return \"\";\n  return String(v);\n}\n\n// 1. Ordenar resultados pelo score final (descendente)\nconst sorted = [...items].sort(\n  (a, b) => (b.json.score_final || 0) - (a.json.score_final || 0)\n);\n\n// 2. Identificar os extremos para a normalização (Min-Max)\nconst maxScore = sorted[0]?.json?.score_final || 0;\nconst minScore = sorted[sorted.length - 1]?.json?.score_final || 0;\n\nreturn sorted.map(item => {\n  const j = item.json;\n  const payload = j.payload || {};\n  const score = j.score_final || 0;\n\n  let nota = 75; // Piso padrão\n\n  // 3. Lógica de Interpolação Linear para o intervalo [75, 100]\n  if (maxScore > minScore) {\n    // Cálculo: Base 75 + Proporção do Score (0 a 25)\n    nota = 75 + (25 * (score - minScore)) / (maxScore - minScore);\n  } else if (maxScore > 0) {\n    // Se todos os scores forem iguais, todos recebem a nota máxima\n    nota = 100;\n  }\n\n  // 4. Conversão para INTEIRO e trava de segurança\n  nota = Math.round(nota); \n  nota = Math.max(75, Math.min(100, nota));\n\n  return {\n    json: {\n      id: j.id || null,\n      score_final: score,\n      nota: parseInt(nota), // Garante que o output seja um Number Inteiro\n\n      cnpj: safe(payload.cnpj),\n      n_exibicoes: j.n_exibicoes || 0,\n      plano_categoria: j.plano_categoria || null,\n\n      full_profile: {\n        identidade: {\n          nome_empresa: safe(payload.nome_empresa)\n        },\n        contato: {\n          url_site: safe(payload.site),\n          telefones: safe(payload.telefone),\n          emails: safe(payload.email)\n        }\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1888,-1696],"id":"09d80811-3585-410a-9cc4-4910890a172a","name":"Code in JavaScript"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"numero_aparicoes","mode":"list","cachedResultName":"numero_aparicoes"},"columns":{"mappingMode":"defineBelow","value":{"n_aparicoes":1,"id":"={{ $json.payload.cnpj }}","created_at":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"n_aparicoes","displayName":"n_aparicoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1152,-1504],"id":"87b690aa-f884-473d-b8da-956d9a74547e","name":"Insert or update rows in a table","credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"payload.cnpj"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1696,-1488],"id":"c747d7f1-71d8-486e-8b91-bf1548889016","name":"Aggregate"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-5312,-1584],"id":"5dcf3bd1-47e7-4067-9b39-8c01542f009c","name":"Merge"},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-4976,-1376],"id":"b281988e-f9ce-40ec-9f43-157f2d59a584","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Structured Output Parser1","type":"ai_languageModel","index":0}]]},"Edit Fields2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"get fornecedor":{"main":[[]]},"pode mostrar":{"main":[[{"node":"cadastrado2","type":"main","index":0}],[]]},"cadastrado1":{"main":[[{"node":"Call 'Envia e-mail'1","type":"main","index":0}],[{"node":"Call 'Envia e-mail'2","type":"main","index":0}]]},"cadastrado2":{"main":[[{"node":"Merge5","type":"main","index":0}],[]]},"Call 'Envia e-mail'3":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"get_result":{"main":[[{"node":"Mostra resultado intermediário1","type":"main","index":0}]]},"set_result":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Soma_exibicoes":{"main":[[]]},"Aggregate2":{"main":[[{"node":"get_result","type":"main","index":0}]]},"Merge5":{"main":[[]]},"tipo_busca1":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"acha_cidade1","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"lista_cidades1","type":"main","index":0},{"node":"set_ufs_unicas1","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"lista_cidades1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Get_codes1":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"set_ufs_unicas1":{"main":[[{"node":"Merge6","type":"main","index":1}]]},"acha_cidade1":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Get_codes1","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Mostra resultado intermediário1":{"main":[[]]},"HTTP Request1":{"main":[[]]},"set_profile_data":{"main":[[{"node":"If5","type":"main","index":0},{"node":"If6","type":"main","index":0},{"node":"If3","type":"main","index":0},{"node":"If4","type":"main","index":0},{"node":"If7","type":"main","index":0}]]},"serviço5":{"main":[[{"node":"Edit Fields17","type":"main","index":0}]]},"produto1":{"main":[[{"node":"Edit Fields14","type":"main","index":0}]]},"descricao1":{"main":[[{"node":"Edit Fields11","type":"main","index":0}]]},"publico1":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"cliente":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"If3":{"main":[[{"node":"descricao1","type":"main","index":0}],[{"node":"Edit Fields13","type":"main","index":0}]]},"If4":{"main":[[{"node":"publico1","type":"main","index":0}],[{"node":"Edit Fields10","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Merge3","type":"main","index":4}]]},"Edit Fields6":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Merge3","type":"main","index":3}]]},"Edit Fields10":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Edit Fields11":{"main":[[{"node":"Edit Fields12","type":"main","index":0}]]},"Edit Fields12":{"main":[[{"node":"Merge3","type":"main","index":2}]]},"Edit Fields13":{"main":[[{"node":"Edit Fields12","type":"main","index":0}]]},"Edit Fields14":{"main":[[{"node":"Edit Fields15","type":"main","index":0}]]},"Edit Fields15":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Edit Fields16":{"main":[[{"node":"Edit Fields15","type":"main","index":0}]]},"Edit Fields17":{"main":[[{"node":"Edit Fields18","type":"main","index":0}]]},"Edit Fields18":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Edit Fields19":{"main":[[{"node":"Edit Fields18","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"set_profile_data","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If1","type":"main","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Structured Output Parser3","type":"ai_languageModel","index":0}]]},"If5":{"main":[[{"node":"serviço5","type":"main","index":0}],[{"node":"Edit Fields19","type":"main","index":0}]]},"If6":{"main":[[{"node":"produto1","type":"main","index":0}],[{"node":"Edit Fields16","type":"main","index":0}]]},"If7":{"main":[[{"node":"cliente","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Split Out4":{"main":[[{"node":"Code in JavaScript","type":"main","index":0},{"node":"Edit Fields1","type":"main","index":0}]]},"set_data_empresa":{"main":[[]]},"Edit Fields":{"main":[[{"node":"set_result","type":"main","index":0}]]},"If":{"main":[[{"node":"tipo_busca1","type":"main","index":0}],[]]},"If1":{"main":[[{"node":"Send a text message","type":"main","index":0}],[{"node":"Split Out4","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Insert or update rows in a table":{"main":[[]]},"Aggregate":{"main":[[{"node":"Soma_exibicoes","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","errorWorkflow":"KFeveZkBafvIC5xECfmBs","callerPolicy":"workflowsFromSameOwner","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-kpc3-buscafornecedor.up.railway.app","user-agent":"Deno/2.1.4 (variant; SupabaseEdgeRuntime/1.71.0)","content-length":"412","accept":"application/json","accept-encoding":"gzip,br","accept-language":"*","content-type":"application/json","traceparent":"00-d94f09ad1766dfc8e0250130671ed52d-91f19f0d31f7ed54-01","x-forwarded-for":"3.71.96.62","x-forwarded-host":"primary-kpc3-buscafornecedor.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/europe-west4-drams3a","x-railway-request-id":"ORe8CUZMS7mQpDbHjUJq2g","x-real-ip":"3.71.96.62","x-request-start":"1773259932030"},"params":{},"query":{},"body":{"consultaId":"21cfc0ae-bf94-420c-9f8f-260d0af2aa9d","parametros":{"descricao":"DISTRIBUIDOR DA FGS PARA TUBOS EM PEAD P/ LINHA DE COMBUSTÍVEL ","segmento":"Não especificado","tipo_busca":"uf","ufs_selecionadas":["SP"],"cnpjs_existentes":"","tempo_minimo_empresa":"Não especificado"},"userId":"41f1e113-5beb-4de9-860b-1b14375cfdf9","sessionId":null,"tierBusca":"normal","timestamp":"2026-03-11T20:12:11.984Z"},"webhookUrl":"https://primary-kpc3-buscafornecedor.up.railway.app/webhook/production","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"b9e11fff-76d4-4f3f-aec3-85d4fff59d3c","activeVersionId":"b9e11fff-76d4-4f3f-aec3-85d4fff59d3c","triggerCount":1,"shared":[{"updatedAt":"2025-10-02T13:42:57.638Z","createdAt":"2025-10-02T13:42:57.638Z","role":"workflow:owner","workflowId":"pr0gjsUvGW8PLnoE","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-03-11T15:34:49.109Z","createdAt":"2026-03-11T15:34:01.655Z","versionId":"b9e11fff-76d4-4f3f-aec3-85d4fff59d3c","workflowId":"pr0gjsUvGW8PLnoE","nodes":[{"parameters":{"httpMethod":"POST","path":"production","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-7712,-1424],"id":"333411dd-cda0-4774-a7f8-499f86c2d459","name":"Webhook","webhookId":"a45e5681-9cef-4e53-a3e1-0ccfec86480a"},{"parameters":{"promptType":"define","text":"=consulta_usuário: \n- Descrição: {{ $json.parametros.descricao }}  \n- Segmento: {{ $json.parametros.segmento }}\n- Categoria: {{ $json.parametros.categoria }}\n- Subcategoria: {{ $json.parametros.subcategoria }} \n","hasOutputParser":true,"options":{"systemMessage":"=Você é um Estruturador de Consulta para Busca Vetorial B2B.\n\nSua função é converter uma consulta em linguagem natural em parâmetros semânticos estruturados.\n\nVocê NÃO:\n\n* conversa\n* explica\n* executa busca\n* gera embeddings\n* gera filtros\n* retorna empresas\n* sugere ranking\n* calcula score\n\nVocê apenas retorna JSON estruturado.\n\n---\n\n## ESTRUTURA\n\nCada empresa possui 3 vetores independentes:\n\n* servicos → serviços e competências técnicas\n* produtos → produtos, tecnologias, equipamentos\n* clientes → perfil e tipo de cliente atendido\n\nOs embeddings são gerados externamente a partir dos textos produzidos.\n\n---\n\n## PAYLOADS OBRIGATÓRIOS\n\nVocê deve sempre gerar exatamente dois payloads:\n\n* Industria\n* Modelo_Negocio\n\nRegras:\n\n* Exatamente 1 valor por payload.\n* Não usar null.\n* Não usar array.\n* Não omitir nenhum dos dois.\n* Valores devem ser semanticamente coerentes com a consulta.\n* Se não houver indicação explícita, inferir o valor mais tecnicamente compatível.\n\n---\n\n## OBJETIVO\n\nConverter a consulta em:\n\n* Texto otimizado para cada vetor\n* Peso para cada vetor\n* Payloads obrigatórios\n\n---\n\n## REGRAS PARA AS QUERIES\n\nOs textos devem ser:\n\n* tecnicamente específicos\n* semanticamente densos\n* curtos e discriminativos\n* sem ambiguidade\n* conter termos relevantes e sinônimos técnicos quando aplicável\n\n---\n\n## REGRAS PARA OS PESOS\n\nVocê deve distribuir pesos entre:\n\n* peso_servicos\n* peso_produtos\n* peso_clientes\n\nRegras obrigatórias:\n\n* A soma deve ser exatamente 1.0\n* Pesos podem ser 0.0 quando não fizer sentido usar o vetor\n* É permitido concentrar 100% do peso em um único vetor\n\nExemplo válido:\n\n* Busca por produto específico → peso_produtos = 1.0 e os demais = 0.0\n* Busca puramente por mercado atendido → peso_clientes = 1.0\n\nOs pesos devem refletir a intenção dominante da consulta.\n\n---\n\n## FORMATO DE SAÍDA\n\nRetornar apenas JSON válido.\n\nRegras estruturais:\n\n* Objeto raiz único\n* Sem wrapper\n* Sem campos extras\n* Sem markdown\n* Sem explicação\n* Não usar \"action\", \"text\", \"output\"\n* Não retornar JSON como string\n* Deve começar com { e terminar com }\n\n---\n\n## SCHEMA OBRIGATÓRIO\n\n{\n\"query_original\": \"\",\n\n\"servicos\": \"\",\n\"produtos\": \"\",\n\"clientes\": \"\",\n\n\"peso_servicos\": 0.0,\n\"peso_produtos\": 0.0,\n\"peso_clientes\": 0.0,\n\n\"payload_values\": {\n\"Industria\": \"\",\n\"Modelo_Negocio\": \"\"\n}\n}\n\n---\n\n## VALIDAÇÕES OBRIGATÓRIAS\n\n* Todos os campos acima devem existir.\n* Nenhum campo adicional é permitido.\n* peso_servicos + peso_produtos + peso_clientes = exatamente 1.0\n* Industria deve existir.\n* Modelo_Negocio deve existir.\n* Nenhum payload pode conter array.\n* Nenhum campo pode estar vazio.\n\nSe qualquer regra for violada, corrija antes de responder.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-3568,224],"id":"7d5d2233-8681-4bf4-8d61-86fe259a8a06","name":"AI Agent","retryOnFail":true,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-3648,400],"id":"8d3eb5b1-689b-44bb-bccf-208b6df6644b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\"query_original\": \"\",\n\n\"servicos\": \"\",\n\"produtos\": \"\",\n\"clientes\": \"\",\n\n\"peso_servicos\": 0.0,\n\"peso_produtos\": 0.0,\n\"peso_clientes\": 0.0,\n\n\"payload_values\": {\n\"Industria\": \"\",\n\"Modelo_Negocio\": \"\"\n}\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-3440,416],"id":"c247f9e6-5123-4c1a-9572-ae289ce57a2c","name":"Structured Output Parser1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-3520,576],"id":"ec9ac164-76c3-49de-8acc-e94e98c400d2","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"7c995f70-75dd-4d43-a5bd-69dd62f4bef1","name":"output.vector_queries.segmento","value":"={{ $json.output.vector_queries.segmento }}","type":"string"},{"id":"285f1ad3-8ae4-4eff-be06-80fd759ab687","name":"output.vector_queries.produtos","value":"={{ $json.output.vector_queries.produtos }}","type":"string"},{"id":"6951b39d-7d4e-4072-b5ea-7b92d1c7600a","name":"output.vector_queries.clientes","value":"={{ $json.output.vector_queries.clientes }}","type":"string"},{"id":"0b042419-6985-4e86-9fcd-f63a781d6f80","name":"output.vector_weights","value":"={{ $json.output.vector_weights }}","type":"object"},{"id":"8aa981d5-3a3c-4ff6-a8d0-32dea74d9fc8","name":"output.payload_values","value":"={{ $json.output.payload_values }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3120,208],"id":"e51bc473-196b-4730-807f-ab76c0cf9524","name":"Edit Fields2"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"segmento\": {{ $json.vector_queries.segmento }},\n    \"produtos\": {{ $json.vector_queries.produtos }},\n    \"clientes\": {{ $json.vector_queries.clientes }}\n  },\n  \"weights\": {\n    \"segmento\": {{ $json.vector_weights.segmento }},\n    \"produtos\": {{ $json.vector_weights.produtos }},\n    \"clientes\": {{ $json.vector_weights.clientes }}\n  },\n  \"filter\": {\n    \"industria\": \"{{ $json.payload_values.Industria }}\",\n    \"modelo_negocio\": \"{{ $json.payload_values.Modelo_Negocio }}\"\n  },\n  \"filter\": {\n    \"industria\": \"{{ $json.payload_values.Industria }}\",\n    \"modelo_negocio\": \"{{ $json.payload_values.Modelo_Negocio }}\"\n  },\n  \"limit_per_vector\": 10,\n  \"final_limit\": 20\n}\n\n{\n  \"vectors\": {\n    \"segmento\": {{ $json.vector_queries.segmento }},\n    \"produtos\": {{ $json.vector_queries.produtos }},\n    \"clientes\": {{ $json.vector_queries.clientes }}\n  },\n  \"weights\": {\n    \"segmento\": {{ $json.vector_weights.segmento }},\n    \"produtos\": {{ $json.vector_weights.produtos }},\n    \"clientes\": {{ $json.vector_weights.clientes }}\n  },\n  \"filter\": {\n    \"industria\": \"{{ $json.payload_values.Industria }}\",\n    \"modelo_negocio\": \"{{ $json.payload_values.Modelo_Negocio }}\"\n  },\n  \"limit_per_vector\": 10,\n  \"final_limit\": 20,\n  \"bm25_query\": \"{{ $json.texto_busca }}\",\n  \"bm25_weight\": 0.3\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2896,208],"id":"9989df49-d0bd-4c22-8456-67a6bec83b9e","name":"HTTP Request1"},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"get","tableId":"usuario_fornecedor","filters":{"conditions":[{"keyName":"cnpj_basico","keyValue":"={{ $json.full_profile.identidade.cnpj }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1408,-2352],"id":"da6e1358-8045-4466-a1ee-06c25641a149","name":"get fornecedor","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ffa8682-f0b0-4564-86cd-1c3e3e59a4aa","leftValue":"={{ $json.item['limite_listagens '] - $json.item.n_listagens }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-544,-2576],"id":"21e2655d-e70a-4a05-8239-76e3b1278443","name":"pode mostrar"},{"parameters":{"workflowId":{"__rl":true,"value":"8wGQEu6ASkKw1oMS","mode":"list","cachedResultUrl":"/workflow/8wGQEu6ASkKw1oMS","cachedResultName":"Envia e-mail"},"workflowInputs":{"mappingMode":"defineBelow","value":{"data.email_fornecedor":"={{ $json.item.email }}","data.motivo":"nota_baixa","data.cnpj_basico":"={{ $json.item.cnpj_basico }}","data.cnpj_ordem":"={{ $json.item.cnpj_ordem }}","data.cnpj_dv":"={{ $json.item.cnpj_dv }}","data.id_consulta":"={{ $json.item.consulta_id }}","nota":"={{ $json.item.nota }}"},"matchingColumns":[],"schema":[{"id":"data.email_fornecedor","displayName":"data.email_fornecedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.motivo","displayName":"data.motivo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_basico","displayName":"data.cnpj_basico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_dv","displayName":"data.cnpj_dv","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_ordem","displayName":"data.cnpj_ordem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.id_consulta","displayName":"data.id_consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nota","displayName":"nota","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[160,-2480],"id":"b467e929-52eb-4873-a828-0dfbd0ddcfb4","name":"Call 'Envia e-mail'1"},{"parameters":{"workflowId":{"__rl":true,"value":"8wGQEu6ASkKw1oMS","mode":"list","cachedResultUrl":"/workflow/8wGQEu6ASkKw1oMS","cachedResultName":"Envia e-mail"},"workflowInputs":{"mappingMode":"defineBelow","value":{"data.email_fornecedor":"={{ $json.item.email }}","data.motivo":"sem_imite","data.cnpj_basico":"={{ $json.item.cnpj_basico }}","data.cnpj_dv":"={{ $json.item.cnpj_dv }}","data.cnpj_ordem":"={{ $json.item.cnpj_ordem }}","data.id_consulta":"={{ $json.item.consulta_id }}","nota":"={{ $json.item.nota }}"},"matchingColumns":[],"schema":[{"id":"data.email_fornecedor","displayName":"data.email_fornecedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.motivo","displayName":"data.motivo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_basico","displayName":"data.cnpj_basico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_dv","displayName":"data.cnpj_dv","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_ordem","displayName":"data.cnpj_ordem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.id_consulta","displayName":"data.id_consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nota","displayName":"nota","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[416,-2704],"id":"f391bf43-3531-4b5a-a859-cdb94f76b604","name":"Call 'Envia e-mail'"},{"parameters":{"workflowId":{"__rl":true,"value":"8wGQEu6ASkKw1oMS","mode":"list","cachedResultUrl":"/workflow/8wGQEu6ASkKw1oMS","cachedResultName":"Envia e-mail"},"workflowInputs":{"mappingMode":"defineBelow","value":{"data.motivo":"sem_cadastro","data.email_fornecedor":"={{ $json.item.email }}","data.cnpj_basico":"={{ $json.item.cnpj_basico }}","data.cnpj_ordem":"={{ $json.item.cnpj_ordem }}","data.cnpj_dv":"={{ $json.item.cnpj_dv }}","data.id_consulta":"={{ $json.item.consulta_id }}","nota":"={{ $json.item.nota }}"},"matchingColumns":[],"schema":[{"id":"data.email_fornecedor","displayName":"data.email_fornecedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.motivo","displayName":"data.motivo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_basico","displayName":"data.cnpj_basico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_dv","displayName":"data.cnpj_dv","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_ordem","displayName":"data.cnpj_ordem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.id_consulta","displayName":"data.id_consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nota","displayName":"nota","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[416,-2480],"id":"3ee2e0f1-ca0f-4ca3-9974-18066a00eaec","name":"Call 'Envia e-mail'2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bc41b5ed-dc2c-4086-a4ee-7ec6b9433500","leftValue":"={{ $json.item.fornecedor_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-544,-2352],"id":"1537eab6-6af5-425c-8bfa-3400dbb1a4ae","name":"cadastrado1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bc41b5ed-dc2c-4086-a4ee-7ec6b9433500","leftValue":"={{ $json.item.fornecedor_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-336,-2592],"id":"c4a40c12-d7c3-4700-a4dc-9121d9fbdecb","name":"cadastrado2"},{"parameters":{"workflowId":{"__rl":true,"value":"8wGQEu6ASkKw1oMS","mode":"list","cachedResultUrl":"/workflow/8wGQEu6ASkKw1oMS","cachedResultName":"Envia e-mail"},"workflowInputs":{"mappingMode":"defineBelow","value":{"data.email_fornecedor":"={{ $json.item.email }}","data.motivo":"sem_cadastro","data.cnpj_basico":"={{ $json.item.cnpj_basico }}","data.cnpj_dv":"={{ $json.item.cnpj_dv }}","data.cnpj_ordem":"={{ $json.item.cnpj_ordem }}","data.id_consulta":"={{ $json.item.consulta_id }}","nota":"={{ $json.item.nota }}"},"matchingColumns":[],"schema":[{"id":"data.email_fornecedor","displayName":"data.email_fornecedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.motivo","displayName":"data.motivo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_basico","displayName":"data.cnpj_basico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_dv","displayName":"data.cnpj_dv","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_ordem","displayName":"data.cnpj_ordem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.id_consulta","displayName":"data.id_consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nota","displayName":"nota","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[160,-2704],"id":"f0b2bf3d-d631-4cb6-8d4c-5684653e674b","name":"Call 'Envia e-mail'3"},{"parameters":{"content":"## Banco de dados:\n- Busca um consulta no banco de dados\n- Atualiza a coluna de resultados com o que foi encontrado\n- Adiciona +1 nas exibições das empresas encontradas\n- Salva um histórico da busca evitando repetições em exibições futuras.","height":336,"width":880,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1392,-1856],"id":"aa7e14ee-4578-46ce-b0e1-4bde1edfa674","name":"Sticky Note25"},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"get","tableId":"consultas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Webhook').item.json.body.consultaId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-912,-1696],"id":"dd8cbeda-a580-464d-8804-a721440b3cb3","name":"get_result","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"update","tableId":"consultas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.consultaId }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resultados","fieldValue":"={{ $('Aggregate2').item.json.result }}"},{"fieldId":"status","fieldValue":"concluida"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-736,-1696],"id":"0860959c-9934-4f96-987f-5b6173ee6cdb","name":"Mostra resultado intermediário1","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"37b79ebe-4d88-4286-ad8f-71f98605e4ad","name":"result.item","value":"={{ $json.item }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1360,-1696],"id":"8dd828e8-e080-4988-be51-a26d5e39712f","name":"set_result"},{"parameters":{"method":"POST","url":"https://hccolkrnyrxcbxuuajwq.supabase.co/rest/v1/rpc/incrementar_aparicoes_cnpjs","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"cnpjs","value":"={{ $json.cnpj }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1488,-1488],"id":"a1f6c884-d1f6-4778-972c-6731d6282731","name":"Soma_exibicoes","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"content":"## Cadastrado -30","height":208,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[96,-2528],"id":"35215883-b44c-44b0-aec2-19a4ce133e06","name":"Sticky Note10"},{"parameters":{"content":"## +30 sem limite","height":208,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[352,-2752],"id":"e73c47ad-88f5-47fb-8f18-804e5de90b1d","name":"Sticky Note11"},{"parameters":{"content":"## Sem cadastro -30","height":208,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[352,-2528],"id":"d2771cf2-8ec8-4165-bbbd-c530fd10ea15","name":"Sticky Note12"},{"parameters":{"content":"## Regra de negócio:\nManda e-mails de propaganda para:\n- Pessoas com limite de Exibições estourado.\n- Pessoas sem cadastro\n- Nota Baixa no site","height":528,"width":454,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-592,-2736],"id":"e2a35072-863e-4749-aceb-858619f8816f","name":"Sticky Note40"},{"parameters":{"content":"## +30 sem cadastro","height":208,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[96,-2752],"id":"d8c08b07-4f87-4ccc-8a25-b63ebbce716c","name":"Sticky Note13"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"result"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1120,-1696],"id":"86187a51-c364-4d40-a080-bc8d59033f6f","name":"Aggregate2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-288,-2432],"id":"cf1f7b2e-a7ed-4dce-b402-1cb43cfbb18b","name":"Merge5"},{"parameters":{"content":"## Busca Vetorial:\n- Realiza uma busca vetorial no Qdrant","height":272,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2960,96],"id":"159b530d-e2ea-41ca-8278-a0c96078288a","name":"Sticky Note14"},{"parameters":{"content":"## Agente estruturador de query:\n\n- Recebe a query do usuário e traduz em queries de vetores e payloads, essas queries são usadas no Qdrant, aplicando um filtro e uma busca com 3 vetores.","height":672,"width":496,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3648,32],"id":"b8325caf-b7b5-4a73-94eb-22f4c399f020","name":"Sticky Note15"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.parametros.tipo_busca }}","rightValue":"=uf","operator":{"type":"string","operation":"equals"},"id":"5ae05424-95d0-4255-9143-db06a0b77429"}],"combinator":"and"},"renameOutput":true,"outputKey":"busca_uf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"df4e5915-07cc-4afb-99a3-2ff13636335c","leftValue":"={{ $json.body.parametros.tipo_busca }}","rightValue":"city","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"busca_cidade"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-7216,-1440],"id":"a3a172a0-317c-4502-b261-5b0f1c133e25","name":"tipo_busca1"},{"parameters":{"fieldToSplitOut":"nearby_cities","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-6656,-1424],"id":"ca60ad11-6b98-4c83-9f99-592c1ed9205a","name":"Split Out3","alwaysOutputData":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"descricao"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-5776,-1680],"id":"67ef449e-8692-4d16-86c2-cb2ecc1724d7","name":"Aggregate3","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"3b606833-d2df-4174-a8f3-8bd57c8fffcf","name":"cidades","value":"={{ $('Split Out3').item.json.name.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").replace(/~/g, \"\").toUpperCase() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6416,-1680],"id":"43d3c357-2f3f-419b-bf50-89a078d7eb3e","name":"lista_cidades1"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"get","tableId":"municipio","filters":{"conditions":[{"keyName":"descricao","keyValue":"={{ $json.cidades }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6000,-1680],"id":"c7da4dd3-9ee5-403f-ad0a-9e8d1d9047f8","name":"Get_codes1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-5536,-1552],"id":"28e76834-13ae-4043-9795-bd6d9e20ad6f","name":"Merge6"},{"parameters":{"jsCode":"// Pega todos os itens recebidos\nconst items = $input.all();\n\n// Extrai a UF (últimos 2 caracteres após o hífen)\nconst ufs = items\n  .map(item => {\n    const text = item.json.uf || item.json.cidade_origem || \"\";\n    const match = text.match(/([A-Z]{2})$/);\n    return match ? match[1] : null;\n  })\n  .filter(Boolean); // remove nulos\n\n// Remove duplicadas\nconst ufsUnicas = [...new Set(ufs)];\n\n// Retorna no formato original\nreturn [\n  {\n    json: {\n      ufs_unicas: ufsUnicas\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6272,-1360],"id":"13fbc362-0d7f-495a-be63-fa7ee33e1cb5","name":"set_ufs_unicas1"},{"parameters":{"content":"## Processamento: Encontra cidades dentro de um raio.\n- Atende busca por raio e busca por UF.\n### Busca por raio:\n- Leva em conta uma cidade como ponto de partida.\n- Consulta na api as cidades dentro daquele raio.\n- Lista cidades e UFs presente no raio.\n### Busca por UF:\n- Retorna a lista de UFs especificadas na consulta.","height":624,"width":1622,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-7024,-1824],"id":"0b4ae983-1143-457c-a131-6a3b1637e59a","name":"Sticky Note42"},{"parameters":{"content":"## API própria:\n- Encontra cidades dentro de um raio pré-definido","height":256,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6944,-1536],"id":"a3f17b0f-ba1f-42d7-9f82-d8e2ab63b852","name":"Sticky Note43"},{"parameters":{"url":"https://api-busca-cidades-buscafornecedor.up.railway.app/api/cities/nearby","sendQuery":true,"queryParameters":{"parameters":[{"name":"city_name","value":"={{ $json.body.parametros.cidade_origem.replace(/\\s*-\\s*[A-Z]{2}$/, '') }}"},{"name":"radius_km","value":"={{ isNaN(Number($json.raio_km)) || !$json.raio_km ? 1 : Number($json.raio_km) + 1}} "},{"name":"uf","value":"={{ $json.body.parametros.cidade_origem.match(/([A-Z]{2})$/)[1] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6880,-1424],"id":"e626d429-e061-4315-81a6-4f0cda496905","name":"acha_cidade1","alwaysOutputData":true},{"parameters":{"content":"## Busca códigos para as cidades no supabase:","height":272,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6080,-1792],"id":"ab9fd43c-d633-41bd-8d95-c8b47997a615","name":"Sticky Note44"},{"parameters":{"maxItems":500},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-6224,-1680],"id":"d03dcbab-1724-4bff-b93e-00bb15133c4b","name":"Limit"},{"parameters":{"content":"## Mapeia Ufs Únicas.\n- Aplica uma função map().\n- Transforma código em Uf.\n- Mapeia Ufs únicas.","height":288},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6352,-1520],"id":"b4fea4e1-df39-417a-9177-b9f594144026","name":"Sticky Note45"},{"parameters":{"operation":"push","list":"={{ $('Webhook').item.json.body.consultaId }}","messageData":"={{ $json.empresa.razao_social }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1008,-2352],"id":"cdb370e0-1b06-47f4-a5cd-f5e654e8fb33","name":"put1","credentials":{"redis":{"id":"e8TEVWEpT7yUTHVI","name":"Redis account"}}},{"parameters":{"content":"## Fase 1: Preparação/Processamento da query do cliente.","height":720,"width":1910,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-7296,-1904],"id":"a60bf2e9-3723-4a3f-9aec-facd6e647cc6","name":"Sticky Note47"},{"parameters":{"content":"## Fase 2: Busca no Qdrant","height":416,"width":486},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3152,-16],"id":"e843a73b-f5c7-4a0f-af97-1d455777dbd8","name":"Sticky Note48"},{"parameters":{"assignments":{"assignments":[{"id":"0f1e54e0-8729-43ac-8e10-1ea5aec5e66b","name":"vetor.produto","value":"={{ $json.output.produtos }}","type":"string"},{"id":"8cf8786a-d8b2-4588-9cf4-1a2567afafbd","name":"vetor.servico","value":"={{ $json.output.servicos }}","type":"string"},{"id":"76359de1-9af2-4638-b0bb-1850eb938d0c","name":"vetor.descricao","value":"={{ $json.output.descricao }}","type":"string"},{"id":"f8ebf74f-d754-44f3-8b3f-37d5250998ed","name":"vetor.cliente","value":"={{ $json.output.clientes }}","type":"string"},{"id":"ffd79d82-df78-469a-a98a-f70bd76707e8","name":"vetor.publico","value":"={{ $json.output.publico }}","type":"string"},{"id":"da09cd49-5286-4edd-a05d-495aff9bfda4","name":"output.bm25","value":"={{ $json.output.bm25 }}","type":"string"},{"id":"1f9f6f5d-b8ee-4f87-9629-932d92f48edc","name":"payload.Modelo_Negocio","value":"={{ $json.output.Modelo_Negocio }}","type":"string"},{"id":"e72e5868-1d42-4007-b502-7c19e8a7b806","name":"payload.ufs_selecionadas","value":"={{ $('Edit Fields8').item.json.ufs_selecionadas }}","type":"array"},{"id":"166fd17c-1231-4867-b5c5-438116636454","name":"consultaId","value":"={{ $('Edit Fields8').item.json.consultaId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4416,-1600],"id":"9cadca92-fec5-4690-8870-5aa668833611","name":"set_profile_data"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.servico }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-3680,-2416],"id":"d316df3d-8abf-46a6-bb31-25b836b93da7","name":"serviço5","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.produto }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-3664,-2016],"id":"e1de4967-7ac5-4fed-9dcc-b96647287008","name":"produto1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.descricao }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-3632,-1664],"id":"7b677616-c240-488d-8054-b26bca47b51f","name":"descricao1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.publico }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-3616,-1344],"id":"eefe792a-d2e5-4697-be2b-148017402081","name":"publico1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.cliente }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-3616,-1008],"id":"8954918c-f8d8-464a-966c-79a79c79b554","name":"cliente","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.descricao }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3904,-1600],"id":"07608195-124c-4493-a614-016cabbd868d","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.publico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3888,-1264],"id":"03b73d29-86f3-42e7-88b7-f317379382d9","name":"If4"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3616,-848],"id":"4060cb55-0377-4c1a-bd47-c71ff4aec59b","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3408,-960],"id":"b7c1c4c5-b8f3-47a1-8041-725c7cd810e6","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_cliente","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3200,-960],"id":"3bbd8971-d978-476a-9e7c-8686180c9678","name":"Edit Fields5"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3392,-1280],"id":"a2f3fa51-bc93-448c-99f0-5c08f0aaedeb","name":"Edit Fields6"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_publico","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3200,-1280],"id":"7853eef9-4a07-4ab6-ac85-1627d388f45b","name":"Edit Fields7"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3616,-1184],"id":"549f1c25-4baf-428e-b9f0-b273fb62cfcf","name":"Edit Fields10"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3408,-1616],"id":"8e8f0d36-2706-47ce-9711-e751f85934d6","name":"Edit Fields11"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_descricao","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3216,-1616],"id":"648c1723-0488-4fc0-8e5b-80f2de80794e","name":"Edit Fields12"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3632,-1536],"id":"0ef29070-c1b0-4c30-8e74-263cea619a3e","name":"Edit Fields13"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3472,-1952],"id":"4ca81d62-61c8-4992-bb95-b4c028246f35","name":"Edit Fields14"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_produto","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3280,-1952],"id":"374f20be-4dda-4c09-87df-4ca59c0ed3db","name":"Edit Fields15"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3664,-1840],"id":"d9148541-8ee1-4ec4-9359-1d3b6940e543","name":"Edit Fields16"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3488,-2336],"id":"3fa3faeb-c8a3-4e4e-bb39-e7e78a9679b7","name":"Edit Fields17"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_servico","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3296,-2336],"id":"a6a26f1a-1c81-4552-8c47-41b83a16dcb7","name":"Edit Fields18"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3680,-2208],"id":"72a21bea-18fd-4425-868c-4816d686da3f","name":"Edit Fields19"},{"parameters":{"assignments":{"assignments":[{"id":"14eaa849-c51f-42a9-97fd-052df940f402","name":"payload.cnpj","value":"={{ $json.payload.cnpj || \"Sem Resultado\"}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1872,-1488],"id":"0b9115bf-a600-4043-a46e-d567bdb6fac3","name":"Edit Fields1"},{"parameters":{"promptType":"define","text":"=consulta_usuário: \nsegmento: {{ $json.segmento }}\ndescricao: {{ $json.descricao }}","hasOutputParser":true,"options":{"systemMessage":"=# ROLE\nEspecialista em Engenharia de Busca B2B e Hybrid Retrieval.\n\n# OBJETIVO\nTransformar consultas em JSON estruturado para busca híbrida, garantindo expansão semântica controlada e aderência matemática rigorosa.\n\n# TAREFA: DISTRIBUIÇÃO DE PESOS (REGRA OBRIGATÓRIA)\nA soma total deve ser sempre 1.0. \n1. **Núcleo (Produto + Serviço):** Soma de `peso_produtos` + `peso_servicos` = **0.65**.\n   - Identifique a predominância (venda de item ou execução de tarefa) e distribua os 0.65.\n2. **Precisão Lexical (BM25):** O `peso_bm25` deve ser SEMPRE **0.25**.\n3. **Contexto (Descrição + Público + Clientes):** Soma de `peso_descricao` + `peso_publico` + `peso_clientes` = **0.10**.\n   - Sugestão: Descrição (0.04), Público (0.03), Clientes (0.03).\n\n# DIRETRIZES DE CONTEÚDO E EXPANSÃO\n1. **Dilation Search (Sem mencionar níveis):** Gere uma expansão de termos começando do ultra-específico para o genérico, mas **MANTENHA O ESCOPO**. Se a busca é \"cortina\", o termo mais genérico deve ser \"decoração de janelas\" ou \"têxteis para interiores\", e NÃO \"mobiliário\" ou \"construção civil\".\n2. **Formatação:** Use APENAS vírgulas para separar termos. PROIBIDO usar barras (|), pontos e vírgula (;) ou prefixos como \"Nível 1:\".\n3. **BM25:** Foque em palavras-chave puras, siglas, marcas e termos técnicos sem conectivos.\n\n# REGRAS DE NEGÓCIO\n- Modelo_Negocio: Selecione EXATAMENTE um: [Fabricante, Distribuidor, Atacado, Varejo, Prestador de Serviço].\n- PROIBIDO: Explicar, conversar ou usar markdown. Retorne APENAS o JSON.\n\n# SCHEMA DE SAÍDA\n{\n  \"query_original\": \"string\",\n  \"produtos\": \"termo1, termo2, termo3, termo4\",\n  \"servicos\": \"termo1, termo2, termo3, termo4\",\n  \"descricao\": \"string\",\n  \"publico\": \"string\",\n  \"clientes\": \"string\",\n  \"bm25\": \"string\",\n  \"peso_produtos\": 0.0,\n  \"peso_servicos\": 0.0,\n  \"peso_descricao\": 0.0,\n  \"peso_publico\": 0.0,\n  \"peso_clientes\": 0.0,\n  \"peso_bm25\": 0.25,\n  \"Modelo_Negocio\": \"string\"\n}\n\n\n# Exemplo Output Esperado:\n\nJSON\n{\n  \"query_original\": \"compra de persianas de leito e persianas de escritório, atendimento todo o Brasil de preferencia\",\n  \"produtos\": \"persianas de leito, persianas de escritório, persiana rolô, persiana blackout, persianas motorizadas, cortinas técnicas, soluções para janelas\",\n  \"servicos\": \"venda de persianas, instalação de persianas, entrega nacional de cortinas, orçamento de persianas sob medida\",\n  \"descricao\": \"Fornecedor de persianas para ambientes residenciais e corporativos com capacidade de entrega e atendimento em território nacional.\",\n  \"publico\": \"escritórios, hospitais, residências, arquitetos, decoradores\",\n  \"clientes\": \"empresas, clínicas, compradores corporativos, proprietários de imóveis\",\n  \"bm25\": \"persiana leito escritório blackout motorizada entrega brasil sob medida\",\n  \"peso_produtos\": 0.55,\n  \"peso_servicos\": 0.10,\n  \"peso_descricao\": 0.04,\n  \"peso_publico\": 0.03,\n  \"peso_clientes\": 0.03,\n  \"peso_bm25\": 0.25,\n  \"Modelo_Negocio\": \"Varejo\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-4832,-1584],"id":"84fb8418-8d63-450d-a0ff-f9c5ef5ab800","name":"AI Agent1","retryOnFail":true,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"servico\":[{{ $json.vector_servico }}],\n    \"produto\":[{{ $json.vector_produto }}],\n    \"descricao\":[{{ $json.vector_descricao }}],\n    \"publico\":[{{ $json.vector_publico }}],\n    \"cliente\":[{{ $json.vector_cliente }}]\n  },\n  \"weights\": {\n    \"servico\": {{ $('AI Agent1').item.json.output.peso_servicos }},\n    \"descricao\": {{ $('AI Agent1').item.json.output.peso_descricao }},\n    \"publico\": {{ $('AI Agent1').item.json.output.peso_publico }},\n    \"cliente\": {{ $('AI Agent1').item.json.output.peso_clientes }},\n    \"produto\": {{ $('AI Agent1').item.json.output.peso_produtos }},\n    \"bm25\": {{ $('AI Agent1').item.json.output.peso_bm25 }}\n\n  },\n  \"filter\": {\n    \"modelo_negocio\": \"{{ $('set_profile_data').item.json.payload.Modelo_Negocio }}\",\n    \"cidade\":\"{{ $('Edit Fields8').item.json.lista_municipio || \" \" }}\",\n    \"uf\":\"{{ $('set_profile_data').item.json.payload.ufs_selecionadas || \" \" }}\"\n  },\n  \"limit_per_vector\": 10,\n  \"final_limit\": 20,\n  \"bm25_query\": \"{{ $('AI Agent1').item.json.output.bm25\n  .replace(/[^\\w\\s\\-.,]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n}}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2496,-1712],"id":"48f09c9b-6c93-4f8b-b260-957aa3a07cd4","name":"HTTP Request"},{"parameters":{"jsonSchemaExample":"{\n\"query_original\": \"string\",\n\n\"produtos\": \"string\",\n\"servicos\": \"string\",\n\"descricao\": \"string\",\n\"publico\": \"string\",\n\"clientes\": \"string\",\n\"bm25\": \"string\",\n\n\"peso_produtos\": 0.0,\n\"peso_servicos\": 0.0,\n\"peso_descricao\": 0.0,\n\"peso_publico\": 0.0,\n\"peso_clientes\": 0.0,\n\"peso_bm25\": 0.0,\n\n\"Modelo_Negocio\": \"string\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-4704,-1392],"id":"e1001eb0-4b15-48f7-8374-fd283f91b3cf","name":"Structured Output Parser3"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-4784,-1232],"id":"ed3c70bf-81a9-4fb6-8776-cf636c03f71a","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.servico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3920,-2336],"id":"d6ae2e42-d8a0-41a7-9b3b-8f9263239ff2","name":"If5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.produto }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3904,-1936],"id":"0dda9d33-b123-4b2b-a8f1-007412990210","name":"If6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.cliente }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3904,-928],"id":"7aea4e10-c1db-490d-9c55-11969362264e","name":"If7"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":5,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2688,-1760],"id":"8051eb23-13b7-4189-b0c0-dc1f065c25d8","name":"Merge3"},{"parameters":{"assignments":{"assignments":[{"id":"67239d33-a6aa-4f1c-9f96-984e97694c0d","name":"descricao","value":"={{ $('Webhook').item.json.body.parametros.descricao }}","type":"string"},{"id":"fa440477-dce1-4238-aefb-1de688ba2398","name":"segmento","value":"={{ $('Webhook').item.json.body.parametros.segmento }}","type":"string"},{"id":"86485711-eb18-481b-9098-3f7f50f527ab","name":"ufs_selecionadas","value":"={{ $('Webhook').item.json.body.parametros.ufs_selecionadas || [] }}","type":"array"},{"id":"62dac054-7a4b-4b88-bb34-55c4e6a1c04f","name":"consultaId","value":"={{ $('Webhook').item.json.body.consultaId }}","type":"string"},{"id":"e8d9155c-f07e-49cc-9b2d-5e56cd44e33d","name":"lista_municipio","value":"={{ $json.descricao || [] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5136,-1584],"id":"d01353ce-5e17-459e-9bf3-6e21c86cc7a2","name":"Edit Fields8"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2080,-1696],"id":"94f6dd56-a3d6-445d-a4df-593254ffc39e","name":"Split Out4","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"4926cf8a-9d25-4aff-b7a6-05bd5f1918a7","name":"full_profile.contato","value":"={{ $json.full_profile.contato }}","type":"object"},{"id":"0c5cffba-c38e-4007-b799-da9b77f14b2f","name":"full_profile.identidade","value":"={{ $json.full_profile.identidade }}","type":"object"},{"id":"f10e511d-8f9c-4ecd-8619-f7e711cf311f","name":"full_profile.ofertas","value":"={{ $json.full_profile.ofertas }}","type":"object"},{"id":"81a93085-a88d-4030-84c0-6bf809dd9972","name":"full_profile.classificacao","value":"={{ $json.full_profile.classificacao }}","type":"object"},{"id":"c65c31ad-63fc-4935-891b-e1e1069032c0","name":"full_profile.reputacao","value":"={{ $json.full_profile.reputacao }}","type":"object"},{"id":"f331e332-70cc-4767-bdfc-a14e28ad4515","name":"municipio","value":"={{ $json.municipio }}","type":"string"},{"id":"8872735c-9b14-4f48-b2cd-15a98fb6442a","name":"uf","value":"={{ $json.uf }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1616,-2336],"id":"75223078-7d1d-4c64-affe-ed21addc6497","name":"set_data_empresa"},{"parameters":{"assignments":{"assignments":[{"id":"8c8e6e64-cc6b-4e81-b261-650dc9498ac5","name":"item.fornecedor_id","value":"={{ $json.id || null}}","type":"string"},{"id":"e885457b-46bf-4c87-bd33-8c40ffd2805d","name":"item.n_listagens","value":"={{ $json.n_exibicoes || 0 }}","type":"number"},{"id":"665347f5-2639-4bb0-b692-0531f600359b","name":"item.plano_categoria","value":"={{ $json.plano_categoria || null }}","type":"string"},{"id":"244003cf-9cb2-437b-bb1b-e89a4cfb661d","name":"item.razao_social","value":"={{ $json.full_profile.identidade.nome_empresa }}","type":"string"},{"id":"c123260f-217e-4549-8c69-7c6cae477cff","name":"item.site","value":"={{ $json.full_profile.contato.url_site }}","type":"string"},{"id":"7a6d26fa-9e0e-415f-8d22-b7cf1bce103f","name":"item.telefone","value":"={{ $json.full_profile.contato.telefones }}","type":"string"},{"id":"5448c6ef-51e9-4982-9929-ea760b632507","name":"item.instagram","value":"=\" \"","type":"string"},{"id":"1b92249f-71a1-48dd-9158-622d960b7794","name":"item.email","value":"={{ $json.full_profile.contato.emails }}","type":"string"},{"id":"76e17746-f60a-4628-9b58-0199f219e612","name":"item.nota","value":"={{ $json.nota }}","type":"number"},{"id":"3ebb5849-177b-4fba-bf29-572446fba50e","name":"item.limite_listagens ","value":"={{    $json.plano_categoria      ? (         $json.plano_categoria.toLowerCase() === 'standard' ? 10 :         $json.plano_categoria.toLowerCase() === 'essencial' ? 25 :         $json.plano_categoria.toLowerCase() === 'profissional' ? 1000 :         $json.plano_categoria.toLowerCase() === 'elite' ? 1000000 :         10       )     : 10 }}","type":"string"},{"id":"bd7599ed-40ac-4859-a39d-b99209bd89e1","name":"item.consulta_id","value":"={{ $('set_profile_data').item.json.consultaId }}","type":"string"},{"id":"0c2092b3-9f01-4b46-ba92-ba0c123babaa","name":"item.cnpj_basico","value":"={{ $json.cnpj }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1648,-1696],"id":"0b15a200-2a86-42ba-9baa-9a4984c620b5","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"74d5d730-d516-4e44-8c8c-84ee69a50a99","leftValue":"={{ $json.body.userId }}","rightValue":"41f1e113-5beb-4de9-860b-1b14375cfdf9","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-7520,-1424],"id":"c413d550-7098-40f7-8831-43f5265dbb77","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3034442b-d032-4908-bca5-c10d36945a1f","leftValue":"={{ $json.results }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2288,-1712],"id":"d7b3e221-4876-4a49-bd10-923ba7159166","name":"If1"},{"parameters":{"chatId":"7975856170","text":"BUSCA VAZIA","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2032,-1904],"id":"be9e0b95-5155-4d7a-b610-f0726b6b27d6","name":"Send a text message","webhookId":"7033c05d-7b17-4de3-b5e3-16c810559ce8","credentials":{"telegramApi":{"id":"ca8xxX5A84aox0Rt","name":"Telegram Felipe"}}},{"parameters":{"jsCode":"function safe(v) {\n  if (v === null || v === undefined) return \"\";\n  return String(v);\n}\n\n// 1. Ordenar resultados pelo score final (descendente)\nconst sorted = [...items].sort(\n  (a, b) => (b.json.score_final || 0) - (a.json.score_final || 0)\n);\n\n// 2. Identificar os extremos para a normalização (Min-Max)\nconst maxScore = sorted[0]?.json?.score_final || 0;\nconst minScore = sorted[sorted.length - 1]?.json?.score_final || 0;\n\nreturn sorted.map(item => {\n  const j = item.json;\n  const payload = j.payload || {};\n  const score = j.score_final || 0;\n\n  let nota = 75; // Piso padrão\n\n  // 3. Lógica de Interpolação Linear para o intervalo [75, 100]\n  if (maxScore > minScore) {\n    // Cálculo: Base 75 + Proporção do Score (0 a 25)\n    nota = 75 + (25 * (score - minScore)) / (maxScore - minScore);\n  } else if (maxScore > 0) {\n    // Se todos os scores forem iguais, todos recebem a nota máxima\n    nota = 100;\n  }\n\n  // 4. Conversão para INTEIRO e trava de segurança\n  nota = Math.round(nota); \n  nota = Math.max(75, Math.min(100, nota));\n\n  return {\n    json: {\n      id: j.id || null,\n      score_final: score,\n      nota: parseInt(nota), // Garante que o output seja um Number Inteiro\n\n      cnpj: safe(payload.cnpj),\n      n_exibicoes: j.n_exibicoes || 0,\n      plano_categoria: j.plano_categoria || null,\n\n      full_profile: {\n        identidade: {\n          nome_empresa: safe(payload.nome_empresa)\n        },\n        contato: {\n          url_site: safe(payload.site),\n          telefones: safe(payload.telefone),\n          emails: safe(payload.email)\n        }\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1888,-1696],"id":"09d80811-3585-410a-9cc4-4910890a172a","name":"Code in JavaScript"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"numero_aparicoes","mode":"list","cachedResultName":"numero_aparicoes"},"columns":{"mappingMode":"defineBelow","value":{"n_aparicoes":1,"id":"={{ $json.payload.cnpj }}","created_at":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"n_aparicoes","displayName":"n_aparicoes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1152,-1504],"id":"87b690aa-f884-473d-b8da-956d9a74547e","name":"Insert or update rows in a table","credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"payload.cnpj"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1696,-1488],"id":"c747d7f1-71d8-486e-8b91-bf1548889016","name":"Aggregate"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-5312,-1584],"id":"5dcf3bd1-47e7-4067-9b39-8c01542f009c","name":"Merge"},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-4976,-1376],"id":"b281988e-f9ce-40ec-9f43-157f2d59a584","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Structured Output Parser1","type":"ai_languageModel","index":0}]]},"Edit Fields2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"get fornecedor":{"main":[[]]},"pode mostrar":{"main":[[{"node":"cadastrado2","type":"main","index":0}],[]]},"cadastrado1":{"main":[[{"node":"Call 'Envia e-mail'1","type":"main","index":0}],[{"node":"Call 'Envia e-mail'2","type":"main","index":0}]]},"cadastrado2":{"main":[[{"node":"Merge5","type":"main","index":0}],[]]},"Call 'Envia e-mail'3":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"get_result":{"main":[[{"node":"Mostra resultado intermediário1","type":"main","index":0}]]},"set_result":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Soma_exibicoes":{"main":[[]]},"Aggregate2":{"main":[[{"node":"get_result","type":"main","index":0}]]},"Merge5":{"main":[[]]},"tipo_busca1":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"acha_cidade1","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"lista_cidades1","type":"main","index":0},{"node":"set_ufs_unicas1","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"lista_cidades1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Get_codes1":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"set_ufs_unicas1":{"main":[[{"node":"Merge6","type":"main","index":1}]]},"acha_cidade1":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Get_codes1","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Mostra resultado intermediário1":{"main":[[]]},"HTTP Request1":{"main":[[]]},"set_profile_data":{"main":[[{"node":"If5","type":"main","index":0},{"node":"If6","type":"main","index":0},{"node":"If3","type":"main","index":0},{"node":"If4","type":"main","index":0},{"node":"If7","type":"main","index":0}]]},"serviço5":{"main":[[{"node":"Edit Fields17","type":"main","index":0}]]},"produto1":{"main":[[{"node":"Edit Fields14","type":"main","index":0}]]},"descricao1":{"main":[[{"node":"Edit Fields11","type":"main","index":0}]]},"publico1":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"cliente":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"If3":{"main":[[{"node":"descricao1","type":"main","index":0}],[{"node":"Edit Fields13","type":"main","index":0}]]},"If4":{"main":[[{"node":"publico1","type":"main","index":0}],[{"node":"Edit Fields10","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Merge3","type":"main","index":4}]]},"Edit Fields6":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Merge3","type":"main","index":3}]]},"Edit Fields10":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Edit Fields11":{"main":[[{"node":"Edit Fields12","type":"main","index":0}]]},"Edit Fields12":{"main":[[{"node":"Merge3","type":"main","index":2}]]},"Edit Fields13":{"main":[[{"node":"Edit Fields12","type":"main","index":0}]]},"Edit Fields14":{"main":[[{"node":"Edit Fields15","type":"main","index":0}]]},"Edit Fields15":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Edit Fields16":{"main":[[{"node":"Edit Fields15","type":"main","index":0}]]},"Edit Fields17":{"main":[[{"node":"Edit Fields18","type":"main","index":0}]]},"Edit Fields18":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Edit Fields19":{"main":[[{"node":"Edit Fields18","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"set_profile_data","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If1","type":"main","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Structured Output Parser3","type":"ai_languageModel","index":0}]]},"If5":{"main":[[{"node":"serviço5","type":"main","index":0}],[{"node":"Edit Fields19","type":"main","index":0}]]},"If6":{"main":[[{"node":"produto1","type":"main","index":0}],[{"node":"Edit Fields16","type":"main","index":0}]]},"If7":{"main":[[{"node":"cliente","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Split Out4":{"main":[[{"node":"Code in JavaScript","type":"main","index":0},{"node":"Edit Fields1","type":"main","index":0}]]},"set_data_empresa":{"main":[[]]},"Edit Fields":{"main":[[{"node":"set_result","type":"main","index":0}]]},"If":{"main":[[{"node":"tipo_busca1","type":"main","index":0}],[]]},"If1":{"main":[[{"node":"Send a text message","type":"main","index":0}],[{"node":"Split Out4","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Insert or update rows in a table":{"main":[[]]},"Aggregate":{"main":[[{"node":"Soma_exibicoes","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]}},"authors":"ABC  advise","name":"Version b9e11fff","description":"","autosaved":true},"tags":[]}