my-workflow-6-WsqzicMGUHCHOkJQ.json
{"updatedAt":"2026-05-08T17:48:31.812Z","createdAt":"2026-05-08T16:46:11.374Z","id":"WsqzicMGUHCHOkJQ","name":"My workflow 6","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"notificar-consulta","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"8145b4d5-7713-4bf7-b795-6403afb7458f","name":"Webhook","webhookId":"7ae7c008-708a-48fa-8549-27c282179c08","credentials":{"httpHeaderAuth":{"id":"5uRqVhRMVlmEJYvJ","name":"Header Auth account 2"}}},{"parameters":{"fieldToSplitOut":"body.resultados","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[160,0],"id":"210fc7c3-b52f-4a80-aff3-aa29f26832dc","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"2a8a31d9-289c-40da-98f0-3f7915b96f9a","name":"id_consulta","value":"={{ $item(0).$node[\"Webhook\"].json.body.id }}","type":"string"},{"id":"77321e2c-2b46-422d-9610-ecf6fa9be75a","name":"cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"},{"id":"1f243761-af69-485d-ac20-f1db05af046f","name":"nome_fantasia","value":"={{ $json.razao_social }}","type":"string"},{"id":"5331da20-feec-4877-bf92-6fe4d484f44b","name":"uf","value":"={{ $item(0).$node[\"Webhook\"].json.body.parametros.ufs_selecionadas.length === 1 ? $item(0).$node[\"Webhook\"].json.body.parametros.ufs_selecionadas[0] : \"\" }}","type":"string"},{"id":"1288c4da-c453-4592-8dba-654b37a134a4","name":"segmento","value":"={{ $item(0).$node[\"Webhook\"].json.body.parametros.segmento }}","type":"string"},{"id":"978d95ef-2b8f-478e-99bd-0928748b26e7","name":"email_fornecedor","value":"={{ $json.email }}","type":"string"},{"id":"7897efd1-fe33-4a7e-9637-2beac4ce5676","name":"telefone_fornecedor","value":"={{ $json.telefone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,0],"id":"5882b9ad-57a4-44f4-b585-b5f9fb04e793","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://notificacao-clientes-buscafornecedor.up.railway.app/v1/interno/orquestracao/recebe-consulta","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[480,0],"id":"9bb2e2ce-7f7d-42f3-969b-abbc51c6f8c3","name":"HTTP Request","credentials":{"httpBearerAuth":{"id":"yRsLy0Vq1FnbV49X","name":"Bearer Auth account"}}},{"parameters":{"content":"## Recebe Consulta\nPara cada consulta, analisa todos os fornecedores encontrados e chama a API para adicionar a fila a ser enviado.","height":304,"width":688,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-48,-128],"typeVersion":1,"id":"311e74a0-ad5c-4ac5-a465-46cf968b10e9","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,320],"id":"6cf63768-7888-4ab3-b421-34c9187e8b10","name":"Schedule Trigger"}],"connections":{"Webhook":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9ced0094-1cf8-4f9e-8cfc-ad97de607e24","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-08T16:46:11.374Z","createdAt":"2026-05-08T16:46:11.374Z","role":"workflow:owner","workflowId":"WsqzicMGUHCHOkJQ","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":null,"tags":[]}