processa_empresa-copy-9eECybbs7EvlGEra.json
{"updatedAt":"2025-12-05T19:15:18.744Z","createdAt":"2025-10-14T19:48:48.173Z","id":"9eECybbs7EvlGEra","name":"Processa_Empresa copy","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{"temperature":0.1,"topP":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-976,208],"id":"646d2e37-7ec2-4940-ac71-c6d8193b0df5","name":"Google Gemini Chat Model9","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"empresas\": [\n    {\n      \"razao_social\": \"string\",\n      \"cnpj_basico\": \"string\",\n      \"instagram\": \"string\",\n      \"email\": \"string\",\n      \"telefone\": \"string\",\n      \"site\": \"string\",\n      \"nota\": 0,\n      \"justificativa\": {\n        \"resumo_parecer\": \"string\",\n        \"analise_especificidade\": \"string\",\n        \"analise_segmento\": \"string\",\n        \"analise_tipo_fornecedor\": \"string\",\n        \"analise_resumo_suporte\": \"string\"\n      }\n    }\n  ]\n}\n\n","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-784,208],"id":"04ea6ca7-f0e9-4927-a094-84de78d1b108","name":"Structured Output Parser8"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-880,368],"id":"8c7a402f-86e8-4652-bc1d-9effe441e8eb","name":"Google Gemini Chat Model12","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"path":"processa-empresa-copy","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1504,-128],"id":"07db4b61-92de-49f3-b65d-6c101ab73ead","name":"Webhook","webhookId":"0599b614-bbf0-42ad-a931-eba064d44dff"},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"get","tableId":"consultas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.result[0].item.consulta_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2368,-208],"id":"896514a6-8a21-4d2f-b494-3dc0f06aa2ea","name":"get_result","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"content":"## Banco de dados:\n- Busca um consulta no banco de dados\n- Atualiza a coluna de resultados com o que foi encontrado\n- Adiciona +1 nas exibições das empresas encontradas","height":336,"width":928,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1760,-368],"id":"42a1ce34-2717-41ed-ab93-2a487dadb5af","name":"Sticky Note23"},{"parameters":{"fieldToSplitOut":"output.empresas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-528,-16],"id":"0e5637ef-9a4a-48c9-8949-998c14171814","name":"Split Out"},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"update","tableId":"consultas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resultados","fieldValue":"={{ $json.resultados.concat($('Aggregate').item.json.result) }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2544,-208],"id":"39550265-d41d-4346-8565-23c9f1c297d1","name":"Mostra resultado intermediário1","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"result"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2176,-208],"id":"71df3375-4a60-407a-96a0-dc0127f29da4","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"9942feee-4620-4f2c-83ba-0cc6922a5f6c","name":"result.razao_social","value":"={{ $json.razao_social }}","type":"string"},{"id":"ff12d0e0-79a1-4d33-9bd2-b2f44d549522","name":"result.instagram","value":"={{ $json.instagram }}","type":"string"},{"id":"9a45c073-73a4-4109-ad7b-9ac30327b6af","name":"result.email","value":"={{ $json.email }}","type":"string"},{"id":"ba5721c8-e299-4bdc-95e5-af3868b238d4","name":"result.telefone","value":"={{ $json.telefone }}","type":"string"},{"id":"5e7888af-8e92-4b26-85fb-56db8856f5f2","name":"result.site","value":"={{ $json.site }}","type":"string"},{"id":"aeb43ce7-e717-45bb-af8f-c9784cd7b3a6","name":"result.nota","value":"={{ $json.nota }}","type":"number"},{"id":"84b1f110-1d06-4d84-9fc0-954bf5cbdd9f","name":"result.justificativa","value":"={{ $json.justificativa }}","type":"object"},{"id":"1c7a601f-24fc-4759-8bc7-7f29c93de49d","name":"result.cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,-16],"id":"7be94bac-7e0d-448c-ad8d-41edce9f5118","name":"set_data"},{"parameters":{"content":"## IA: Avalia Empresas\n- Avalia a compatibilidade da empresa com o escopo.\n- A análise é baseada no resumo da empresa.\n- Da uma nova de 0-100 baseada em critérios descritos no prompt.\n\n\n```json\n{\n  \"empresas\": [\n    {\n      \"razao_social\": \"Soluções Industriais Integradas Ltda.\",\n      \"instagram\": \"https://www.instagram.com/solucoesindustriais\",\n      \"email\": \"contato@solucoesindustriais.com.br\",\n      \"telefone\": \"+55 31 3333-4444\",\n      \"site\": \"https://www.solucoesindustriais.com.br\",\n      \"nota\": 90,\n      \"justificativa\": {\n        \"resumo_parecer\": \"Aderência muito alta. O fornecedor demonstra especialização direta no serviço e no segmento de mercado solicitados.\",\n        \"analise_especificidade\": \"Pontuação: 50/50. Evidência: O campo 'exemplo_servico' cita explicitamente 'Manutenção Industrial' e 'Manutenção Preditiva'.\",\n        \"analise_segmento\": \"Pontuação: 30/30. Evidência: O campo 'especialidades' destaca o atendimento a 'Mineração e Siderurgia', que corresponde ao escopo.\",\n        \"analise_tipo_fornecedor\": \"Pontuação: 10/10. Evidência: O 'tipo_fornecedor' como 'servico' está correto.\",\n        \"analise_resumo_suporte\": \"Pontuação: 10/10. Evidência: O 'resumo_empresa' reforça o foco em 'manutenção para indústrias de base'.\"\n      }\n    }\n```","height":1056,"width":832,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1024,-496],"id":"32d72af2-0478-487a-abac-e3b0f4007fb8","name":"Sticky Note24"},{"parameters":{"promptType":"define","text":"=Escopo: {{ $json.body.filtro_supabase }}\nEmpresas: {{ $json.body.data.toJsonString() }}","hasOutputParser":true,"options":{"systemMessage":"=ROLE (Papel):\nVocê é um Agente de IA Analista de Suprimentos (AI Sourcing Analyst), especializado em qualificação técnica e seleção de fornecedores. Sua função é avaliar a compatibilidade de uma lista de empresas com um escopo de contratação específico, de forma objetiva, metódica e estritamente baseada nas evidências textuais fornecidas. Sua maior diretriz é a aversão ao risco, evitando fazer suposições ou inferências que não possam ser comprovadas pelos dados.\n\nACTION (Ação):\nVocê irá analisar um escopo_contratacao e uma lista_fornecedores fornecida. Para cada fornecedor na lista, você irá gerar um objeto JSON contendo a razão social, uma nota (de 0 a 100) e uma justificativa estruturada para essa nota, consolidando toda a análise em uma única estrutura JSON final.\n\nCONTEXT (Contexto):\nO escopo_contratacao descreve o serviço ou material necessário, incluindo o segmento de mercado onde a demanda se aplica. A lista_fornecedores é um array de objetos JSON, onde cada objeto representa uma empresa com dados estruturados (incluindo razao_social, resumo_empresa, especialidades, etc.).\n\nRegra de Ouro: Sua análise deve ser rigorosa e cética. NÃO FAÇA SUPOSIÇÕES. A ausência de informação explícita significa que a capacidade não pode ser confirmada.\n\nExemplo 1: Se o escopo é \"fornecimento de refeições corporativas\" e o fornecedor é um \"restaurante\", você não pode assumir que ele possui a logística para entregas corporativas, a menos que os campos especialidades ou exemplo_servico mencionem explicitamente \"refeições para empresas\", \"catering corporativo\" ou similar.\n\nExemplo 2: Se o escopo é \"serviços de fundação para obras\" e a empresa se descreve como \"construtora\", você não pode assumir que ela executa fundações, a menos que \"fundações\" ou \"geotecnia\" estejam listados em especialidades.\n\nEXECUTE (Execução):\nPara cada fornecedor na lista_fornecedores, execute os seguintes passos para gerar a resposta:\n\nAnálise do Escopo: Identifique as palavras-chave principais do escopo_contratacao, incluindo:\n\nServiço/Material Principal: (ex: \"manutenção industrial\").\n\nSegmento de Mercado Alvo: (ex: \"indústria farmacêutica\").\n\nTipo de Demanda: (Serviço ou Material).\n\nCálculo da nota (0-100): A nota será a soma ponderada dos seguintes critérios:\n\nCritério 1: Especificidade Direta (Peso 65%)\n\nAnalise especialidades e exemplo_servico.\n\n65 pontos: Menção explícita do serviço/material principal.\n\n30 pontos: Menção de termos correlatos.\n\n0 pontos: Nenhuma menção.\n\nCritério 2: Alinhamento com Segmento de Mercado (Peso 15%)\n\nAnalise segmentos_industriais e especialidades.\n\n15 pontos: Menção explícita do segmento alvo.\n\n10 pontos: Menção de segmento correlato.\n\n0 pontos: Nenhuma menção.\n\nCritério 3: Compatibilidade do Tipo de Fornecedor (Peso 10%)\n\nAnalise tipo_fornecedor.\n\n10 pontos: Compatibilidade total.\n\n0 pontos: Incompatibilidade.\n\nCritério 4: Evidência de Suporte no Resumo (Peso 10%)\n\nAnalise resumo_empresa.\n\n10 pontos: Reforça a capacidade.\n\n5 pontos: Genérico, mas não contradiz.\n\n0 pontos: Foco em atividades distintas.\n\nElaboração da justificativa:\n\nCrie um objeto JSON para a justificativa.\n\nEste objeto deve conter um resumo_parecer e uma análise detalhada para cada critério, informando a pontuação e a evidência textual (ou a falta dela) que baseou a decisão.\n\nFormatação da Resposta:\n\nA resposta final deve ser um único objeto JSON com a chave empresas. O valor dessa chave será um array de objetos, onde cada objeto representa um fornecedor e segue estritamente o formato aprimorado abaixo:\n\nJSON\n\n{\n  \"empresas\": [\n    {\n      \"razao_social\": \"Soluções Industriais Integradas Ltda.\",\n      \"cnpj_basico\": \"12345678\",\n      \"instagram\": \"https://www.instagram.com/solucoesindustriais\",\n      \"email\": \"contato@solucoesindustriais.com.br\",\n      \"telefone\": \"+55 31 3333-4444\",\n      \"site\": \"https://www.solucoesindustriais.com.br\",\n      \"nota\": 90,\n      \"justificativa\": {\n        \"resumo_parecer\": \"Aderência muito alta. O fornecedor demonstra especialização direta no serviço e no segmento de mercado solicitados.\",\n        \"analise_especificidade\": \"Pontuação: 50/50. Evidência: O campo 'exemplo_servico' cita explicitamente 'Manutenção Industrial' e 'Manutenção Preditiva'.\",\n        \"analise_segmento\": \"Pontuação: 30/30. Evidência: O campo 'especialidades' destaca o atendimento a 'Mineração e Siderurgia', que corresponde ao escopo.\",\n        \"analise_tipo_fornecedor\": \"Pontuação: 10/10. Evidência: O 'tipo_fornecedor' como 'servico' está correto.\",\n        \"analise_resumo_suporte\": \"Pontuação: 10/10. Evidência: O 'resumo_empresa' reforça o foco em 'manutenção para indústrias de base'.\"\n      }\n    },\n    {\n      \"razao_social\": \"Construções e Reformas Prediais S.A.\",\n      \"cnpj_basico\": \"87654321\",\n      \"instagram\": \"https://www.instagram.com/construcoesereformas\",\n      \"email\": \"contato@construcoesereformas.com.br\",\n      \"telefone\": \"+55 11 2222-5555\",\n      \"site\": \"https://www.construcoesereformas.com.br\",\n      \"nota\": 15,\n      \"justificativa\": {\n        \"resumo_parecer\": \"Aderência muito baixa. O foco da empresa é em um escopo diferente e não há evidências de atuação no segmento de mercado desejado.\",\n        \"analise_especificidade\": \"Pontuação: 0/50. Evidência: Nenhuma menção a 'manutenção industrial'. Os serviços listados são 'reformas de fachada' e 'gestão de condomínios'.\",\n        \"analise_segmento\": \"Pontuação: 0/30. Evidência: O segmento de mercado não é mencionado.\",\n        \"analise_tipo_fornecedor\": \"Pontuação: 10/10. Evidência: O 'tipo_fornecedor' como 'servico' está correto.\",\n        \"analise_resumo_suporte\": \"Pontuação: 5/10. Evidência: O resumo é genérico, citando 'soluções de engenharia', o que não contradiz, mas também não adiciona pontos.\"\n      }\n    }\n  ]\n}\n\n\n\nIMPORTANTE: Sua resposta deve conter APENAS o código JSON válido, sem nenhum texto introdutório, comentários ou explicações adicionais. O início da sua resposta deve ser { e o final deve ser }."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-912,-16],"id":"d5e7e183-ddfd-4b5e-85ad-40eb2bda0dae","name":"avalia_empresa","retryOnFail":true},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"get","tableId":"empresas","filters":{"conditions":[{"keyName":"razao_social","keyValue":"={{ $json.result.razao_social }}"},{"keyName":"cnpj_basico","keyValue":"={{ $json.result.cnpj_basico }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-128,-16],"id":"b45c587f-3082-4c8d-b26c-913ff1558ca1","name":"get cnpj_basico","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"get","tableId":"estabelecimento","filters":{"conditions":[{"keyName":"cnpj_basico","keyValue":"={{ $json.cnpj_basico }}"},{"keyName":"matriz_filial","keyValue":"1"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[32,-16],"id":"1acb65ed-1a87-40b5-b5a5-f8a3066fa87b","name":"get matriz","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"get","tableId":"usuario_fornecedor","filters":{"conditions":[{"keyName":"cnpj_basico","keyValue":"={{ $json.cnpj_basico }}"},{"keyName":"cnpj_ordem","keyValue":"={{ $json.cnpj_ordem }}"},{"keyName":"cnpj_dv","keyValue":"={{ $json.cnpj_dv }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[384,0],"id":"99198918-d52a-494d-90bd-ce9da0585c2c","name":"get fornecedor","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[208,-16],"id":"d0661b56-04da-4ab8-a526-2227cf961cd3","name":"Remove Duplicates"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe4d6fc1-9268-4525-bd17-e68b043b23e2","leftValue":"={{ $json.item.nota }}","rightValue":-1,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[944,-16],"id":"720348a7-b95f-42aa-b8ac-bb1fa0d8ac02","name":"30+"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ffa8682-f0b0-4564-86cd-1c3e3e59a4aa","leftValue":"={{ $json.item['limite_listagens '] - $json.item.n_listagens }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1152,-128],"id":"0c6bcc1b-3b6e-4210-aa77-3c0814f1ea12","name":"pode mostrar"},{"parameters":{"content":"## Banco de dados:\n- Busca um fornecedor no banco","height":288,"width":1088,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-176,-128],"id":"1f7d8172-fc31-4a2f-a121-aa59d7d64138","name":"Sticky Note"},{"parameters":{"content":"## Cadastrado -30","height":208,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1504,304],"id":"fd5ab0ef-cad6-4b53-87cf-b8f4665bab35","name":"Sticky Note3"},{"parameters":{"workflowId":{"__rl":true,"value":"8wGQEu6ASkKw1oMS","mode":"list","cachedResultUrl":"/workflow/8wGQEu6ASkKw1oMS","cachedResultName":"Envia e-mail"},"workflowInputs":{"mappingMode":"defineBelow","value":{"data.email_fornecedor":"={{ $json.item.email }}","data.motivo":"nota_baixa","data.cnpj_basico":"={{ $json.item.cnpj_basico }}","data.cnpj_ordem":"={{ $json.item.cnpj_ordem }}","data.cnpj_dv":"={{ $json.item.cnpj_dv }}","data.id_consulta":"={{ $json.item.consulta_id }}"},"matchingColumns":[],"schema":[{"id":"data.email_fornecedor","displayName":"data.email_fornecedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.motivo","displayName":"data.motivo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_basico","displayName":"data.cnpj_basico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_dv","displayName":"data.cnpj_dv","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_ordem","displayName":"data.cnpj_ordem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.id_consulta","displayName":"data.id_consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1568,352],"id":"e905410a-bdd5-4880-8ab1-7bf6a78727ba","name":"Call 'Envia e-mail'1"},{"parameters":{"content":"## +30 sem limite","height":208,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1504,80],"id":"ccd66134-eba7-4b75-bf1f-d77e905523e4","name":"Sticky Note4"},{"parameters":{"workflowId":{"__rl":true,"value":"8wGQEu6ASkKw1oMS","mode":"list","cachedResultUrl":"/workflow/8wGQEu6ASkKw1oMS","cachedResultName":"Envia e-mail"},"workflowInputs":{"mappingMode":"defineBelow","value":{"data.email_fornecedor":"={{ $json.item.email }}","data.motivo":"sem_imite","data.cnpj_basico":"={{ $json.item.cnpj_basico }}","data.cnpj_dv":"={{ $json.item.cnpj_dv }}","data.cnpj_ordem":"={{ $json.item.cnpj_ordem }}","data.id_consulta":"={{ $json.item.consulta_id }}"},"matchingColumns":[],"schema":[{"id":"data.email_fornecedor","displayName":"data.email_fornecedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.motivo","displayName":"data.motivo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_basico","displayName":"data.cnpj_basico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_dv","displayName":"data.cnpj_dv","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_ordem","displayName":"data.cnpj_ordem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.id_consulta","displayName":"data.id_consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1568,128],"id":"7ed0fc9e-9afa-4a9d-8c55-6ab2ee6412cb","name":"Call 'Envia e-mail'"},{"parameters":{"content":"## Sem cadastro -30","height":208,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1504,528],"id":"08afecf8-8954-43e2-b7ca-42f305cf7aa2","name":"Sticky Note5"},{"parameters":{"workflowId":{"__rl":true,"value":"8wGQEu6ASkKw1oMS","mode":"list","cachedResultUrl":"/workflow/8wGQEu6ASkKw1oMS","cachedResultName":"Insere_fila_emails"},"workflowInputs":{"mappingMode":"defineBelow","value":{"data.motivo":"sem_cadastro","data.email_fornecedor":"={{ $json.item.email }}","data.cnpj_basico":"={{ $json.item.cnpj_basico }}","data.cnpj_ordem":"={{ $json.item.cnpj_ordem }}","data.cnpj_dv":"={{ $json.item.cnpj_dv }}","data.id_consulta":"={{ $json.item.consulta_id }}"},"matchingColumns":[],"schema":[{"id":"data.email_fornecedor","displayName":"data.email_fornecedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.motivo","displayName":"data.motivo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_basico","displayName":"data.cnpj_basico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_dv","displayName":"data.cnpj_dv","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_ordem","displayName":"data.cnpj_ordem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.id_consulta","displayName":"data.id_consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1568,576],"id":"19d75eb3-b3cc-4823-b671-377d8c32b448","name":"Call 'Envia e-mail'2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bc41b5ed-dc2c-4086-a4ee-7ec6b9433500","leftValue":"={{ $json.item.fornecedor_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1152,96],"id":"a7c1d2b3-56d3-4399-aaca-7532f077cdf8","name":"cadastrado1"},{"parameters":{"content":"## Regra de negócio:\nManda e-mails de propaganda para:\n- Pessoas com limite de Exibições estourado.\n- Pessoas sem cadastro\n- Nota Baixa no site","height":528,"width":566,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[928,-272],"id":"63725bbf-4b0e-4093-9de9-043d2fa46f6c","name":"Sticky Note30"},{"parameters":{"assignments":{"assignments":[{"id":"8c8e6e64-cc6b-4e81-b261-650dc9498ac5","name":"item.fornecedor_id","value":"={{ $json.id || null}}","type":"string"},{"id":"e885457b-46bf-4c87-bd33-8c40ffd2805d","name":"item.n_listagens","value":"={{ $json.n_exibicoes || 0 }}","type":"number"},{"id":"665347f5-2639-4bb0-b692-0531f600359b","name":"item.plano_categoria","value":"={{ $json.plano_categoria || null }}","type":"string"},{"id":"244003cf-9cb2-437b-bb1b-e89a4cfb661d","name":"item.razao_social","value":"={{ $('set_data').item.json.result.razao_social }}","type":"string"},{"id":"c123260f-217e-4549-8c69-7c6cae477cff","name":"item.site","value":"={{ $('set_data').item.json.result.site }}","type":"string"},{"id":"7a6d26fa-9e0e-415f-8d22-b7cf1bce103f","name":"item.telefone","value":"={{ $('set_data').item.json.result.telefone }}","type":"string"},{"id":"5448c6ef-51e9-4982-9929-ea760b632507","name":"item.instagram","value":"={{ $('set_data').item.json.result.instagram }}","type":"string"},{"id":"1b92249f-71a1-48dd-9158-622d960b7794","name":"item.email","value":"={{ $('set_data').item.json.result.email }}","type":"string"},{"id":"bdad5f98-ba0e-4d06-9c57-2f325b2ec4cc","name":"item.justificativa","value":"={{ $('set_data').item.json.result.justificativa }}","type":"object"},{"id":"76e17746-f60a-4628-9b58-0199f219e612","name":"item.nota","value":"={{ $('set_data').item.json.result.nota }}","type":"number"},{"id":"3ebb5849-177b-4fba-bf29-572446fba50e","name":"item.limite_listagens ","value":"={{    $json.plano_categoria      ? (         $json.plano_categoria.toLowerCase() === 'standard' ? 5 :         $json.plano_categoria.toLowerCase() === 'essencial' ? 20 :         $json.plano_categoria.toLowerCase() === 'profissional' ? 200 :         $json.plano_categoria.toLowerCase() === 'elite' ? 1000 :         5       )     : 5 }}","type":"string"},{"id":"bd7599ed-40ac-4859-a39d-b99209bd89e1","name":"item.consulta_id","value":"={{ $('Webhook').item.json.body.consulta_id }}","type":"string"},{"id":"0c2092b3-9f01-4b46-ba92-ba0c123babaa","name":"item.cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"},{"id":"684bb1ae-d55a-4837-96a2-7902369e039c","name":"item.cnpj_ordem","value":"={{ $json.cnpj_ordem }}","type":"string"},{"id":"2086c1a1-621c-488e-bc27-8ff7d027e779","name":"item.cnpj_dv","value":"={{ $json.cnpj_dv }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,-16],"id":"db75d8c4-2bd1-4676-ae47-0965e3c4be7e","name":"Edit Fields"},{"parameters":{"mode":"combine","fieldsToMatchString":"cnpj_basico, cnpj_ordem, cnpj_dv","joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[576,-16],"id":"35cebbd4-7d0a-4cf2-9c49-3756c8dda544","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bc41b5ed-dc2c-4086-a4ee-7ec6b9433500","leftValue":"={{ $json.item.fornecedor_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1344,-208],"id":"b5a890ea-a36f-48eb-9050-2309fa153e0f","name":"cadastrado2"},{"parameters":{"content":"## +30 sem cadastro","height":208,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1504,-144],"id":"ad20ba38-65ae-4c6c-b8ed-d29433303150","name":"Sticky Note6"},{"parameters":{"workflowId":{"__rl":true,"value":"8wGQEu6ASkKw1oMS","mode":"list","cachedResultUrl":"/workflow/8wGQEu6ASkKw1oMS","cachedResultName":"Envia e-mail"},"workflowInputs":{"mappingMode":"defineBelow","value":{"data.email_fornecedor":"={{ $json.item.email }}","data.motivo":"sem_cadastro","data.cnpj_basico":"={{ $json.item.cnpj_basico }}","data.cnpj_dv":"={{ $json.item.cnpj_dv }}","data.cnpj_ordem":"={{ $json.item.cnpj_ordem }}","data.id_consulta":"={{ $json.item.consulta_id }}"},"matchingColumns":[],"schema":[{"id":"data.email_fornecedor","displayName":"data.email_fornecedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.motivo","displayName":"data.motivo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_basico","displayName":"data.cnpj_basico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_dv","displayName":"data.cnpj_dv","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_ordem","displayName":"data.cnpj_ordem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.id_consulta","displayName":"data.id_consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1568,-96],"id":"f8b253af-7bee-4de9-88e6-6b554546b37d","name":"Call 'Envia e-mail'3"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1824,-208],"id":"89d539b3-df15-4043-9a2a-46157c614683","name":"Merge1"},{"parameters":{"assignments":{"assignments":[{"id":"37b79ebe-4d88-4286-ad8f-71f98605e4ad","name":"result.item","value":"={{ $json.item }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2016,-208],"id":"bed3a376-7a31-40b6-b3be-d8facd491f7d","name":"Edit Fields1"},{"parameters":{"fieldToSplitOut":"body.data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2416,-704],"id":"d36d4d46-6011-44d2-8e0c-c2a47b92a418","name":"Split Out3"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"usuario_fornecedor","mode":"list","cachedResultName":"usuario_fornecedor"},"returnAll":true,"where":{"values":[{"column":"cnpj_basico","value":"={{ $json.cnpj_basico }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1888,-672],"id":"82c9ca9f-c605-4b10-a54c-1cdcc9dc27f1","name":"get_fornecedor","alwaysOutputData":true,"credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"supplier_documents","mode":"list","cachedResultName":"supplier_documents"},"returnAll":true,"where":{"values":[{"column":"supplier_id","value":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1712,-672],"id":"a7b2fef2-6be6-4377-9880-e86071db8a2c","name":"get_documents","alwaysOutputData":true,"credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2080,-688],"id":"0af565ee-b03e-455b-9b58-c1a1afe92291","name":"Loop Over Items2"},{"parameters":{"assignments":{"assignments":[{"id":"ca7c6742-5935-458d-8a95-188864173eff","name":"documentos_presentes","value":"={{ $json.document_type }}","type":"array"},{"id":"ca8d8355-486d-4ccf-b477-fffbd80c42c0","name":"id","value":"={{ $('get_fornecedor').item.json.id }}","type":"string"},{"id":"e2defe56-c315-4b6a-ac5f-f808ef9db8ae","name":"cnpj_basico","value":"={{ $('Loop Over Items2').item.json.cnpj_basico }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1328,-672],"id":"be19fa48-b1d0-49ed-b374-bbe88e1ab6e4","name":"Edit Fields3"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"document_type"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1504,-672],"id":"18bf339d-42c2-4843-9c1e-49511d6c3205","name":"Aggregate2"},{"parameters":{"content":"## TO-DO: Rodar o fluxo e encaixar os dados.","height":288,"width":976},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2144,-768],"id":"a604df99-c57d-4430-b2ed-25c03a2d9994","name":"Sticky Note1"},{"parameters":{"content":"## TO-DO: Mudar Prompt para avaliação com documentos e descrições\n","height":304,"width":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-960,-160],"id":"d9deae1a-101c-42dd-b568-20d52e9025ba","name":"Sticky Note2"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"body\": {\n    \"data\": [\n      {\n        \"razao_social\": \"\",\n        \"nome_fantasia\": \"\",\n        \"site\": \"\",\n        \"cnpj_basico\": \"\",\n        \"cnpj_ordem\": \"\",\n        \"clientes\": \"\",\n        \"resumo_empresa\": \"\",\n        \"segmentos_industriais\": \"\",\n        \"tipo_fornecedor\": \"\",\n        \"especialidades\": \"\",\n        \"exemplo_servico\": \"\",\n        \"categorias_materais\": \"\",\n        \"telefone\": \"\",\n        \"instagram\": \"\",\n        \"email\": \"\"\n      }\n    ],\n    \"filtro_supabase\": \"\",\n    \"consulta_id\": \"\"\n  }\n}\n"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1520,80],"id":"1e499fea-419c-40dc-aaa0-abd9c1ad0eb8","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"0b9bb17a-ad76-404e-a9b3-a708b068c3ad","name":"body.data","value":"={{ $json.body.data }}","type":"array"},{"id":"01107418-9fe4-4324-a18b-d9a5d3477223","name":"body.filtro_supabase","value":"={{ $json.body.filtro_supabase }}","type":"string"},{"id":"7920be39-8c35-4bd2-9eca-67b2aa9f3220","name":"body.consulta_id","value":"={{ $json.body.consulta_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1232,-16],"id":"0ef8cc42-9fba-459b-b2ee-dd5d34579aa8","name":"Edit Fields2"},{"parameters":{"method":"POST","url":"https://hccolkrnyrxcbxuuajwq.supabase.co/rest/v1/rpc/incrementa_exibicoes","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"_basico\": \"{{ $json.item.cnpj_basico }}\",\n  \"_ordem\": \"{{ $json.item.cnpj_ordem }}\",\n  \"_dv\": \"{{ $json.item.cnpj_dv }}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2752,80],"id":"2403dc74-b62f-43d7-a7a6-8b4d11c68432","name":"Soma_exibicoes","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2544,80],"id":"7a797c46-89b6-434f-a21c-f77facbb2475","name":"Loop Over Items"},{"parameters":{"content":"## Banco de dados:\n- Adiciona +1 nas exibições das empresas encontradas","height":288,"width":640,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2272,-16],"id":"d9f7808f-0ed5-4984-814f-332f9dfaa1f7","name":"Sticky Note26"},{"parameters":{"fieldToSplitOut":"result","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2320,80],"id":"8359c7cd-621e-4247-8900-f936d2652038","name":"Split Out1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9cfd503a-d6fe-47a9-80f9-9da528338ebe","leftValue":"={{ $json.nota.length }}","rightValue":4,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3216,-288],"id":"839c2d6f-d924-4ea4-812e-f794d25dea4d","name":"resultados+70>4"},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"update","tableId":"consultas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('get_result').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"concluida"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3392,-368],"id":"9b5d0ee9-6276-4d06-97cb-3cf67111387c","name":"concluído","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc20e47d-3914-48ba-824e-b88ef182ac5d","leftValue":"={{ $json.item.nota }}","rightValue":70,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2896,-288],"id":"316f6bf2-f7a0-4993-be0e-aab5531fe1ff","name":"nota é 70+"},{"parameters":{"workflowId":{"__rl":true,"value":"5RAAO9O35SiHZKx6","mode":"list","cachedResultUrl":"/workflow/5RAAO9O35SiHZKx6","cachedResultName":"Busca-Ampla copy"},"workflowInputs":{"mappingMode":"defineBelow","value":{"_cnaes":"={{ $('filtros_supabase').item.json._cnaes }}","_uf_filtro":"={{ $('filtros_supabase').item.json._uf_filtro }}","_data_limite":"={{ $('filtros_supabase').item.json._data_limite }}","_termos":"={{ $('filtros_supabase').item.json._termos }}","_porte_empresa":"={{ $('filtros_supabase').item.json._porte_empresa }}","_natureza_juridica":"={{ $('filtros_supabase').item.json._natureza_juridica }}","_codigo_municipio":"={{ $('filtros_supabase').item.json._codigo_municipio }}","escopo_segmento":"={{ $('filtros_supabase').item.json.escopo_segmento }}","tipo_busca":"={{ $('filtros_supabase').item.json.tipo_busca }}","id_consulta":"={{ $('filtros_supabase').item.json.consulta_id }}","n_cnaes_buscados":"={{ $('filtros_supabase').item.json.n_cnaes_buscados }}"},"matchingColumns":[],"schema":[{"id":"_cnaes","displayName":"_cnaes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array"},{"id":"_uf_filtro","displayName":"_uf_filtro","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array"},{"id":"_data_limite","displayName":"_data_limite","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"_termos","displayName":"_termos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array"},{"id":"_porte_empresa","displayName":"_porte_empresa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array"},{"id":"_natureza_juridica","displayName":"_natureza_juridica","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array"},{"id":"_codigo_municipio","displayName":"_codigo_municipio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array"},{"id":"escopo_segmento","displayName":"escopo_segmento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tipo_busca","displayName":"tipo_busca","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_consulta","displayName":"id_consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"n_cnaes_buscados","displayName":"n_cnaes_buscados","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3872,-112],"id":"5bf108f1-6b17-4958-a5a8-6ab6255e8d33","name":"sub_busca_ampla1"},{"parameters":{"fieldToSplitOut":"resultados","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2736,-288],"id":"a0de4888-2799-4f8c-92d1-446a9388ffce","name":"Split Out2"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"item.nota"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3056,-288],"id":"b44a16bb-d198-4a00-9335-e6b965e2abed","name":"Aggregate3"},{"parameters":{"content":"## Regra de Negócio:\n- Caso a consulta já tenha pelo menos 4 resultados 70+, ela é marcada como concluída.\n- Caso contrário, uma busca mais ampla é iniciada.\n\n","height":384,"width":864,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2720,-416],"id":"08ceec09-5a0a-4539-9188-12c2224f4885","name":"Sticky Note7"}],"connections":{"Google Gemini Chat Model9":{"ai_languageModel":[[{"node":"avalia_empresa","type":"ai_languageModel","index":0}]]},"Structured Output Parser8":{"ai_outputParser":[[{"node":"avalia_empresa","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model12":{"ai_languageModel":[[{"node":"Structured Output Parser8","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"get_result":{"main":[[{"node":"Mostra resultado intermediário1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"set_data","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"get_result","type":"main","index":0},{"node":"Split Out1","type":"main","index":0}]]},"set_data":{"main":[[{"node":"get cnpj_basico","type":"main","index":0}]]},"avalia_empresa":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Mostra resultado intermediário1":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"get cnpj_basico":{"main":[[{"node":"get matriz","type":"main","index":0}]]},"get matriz":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"get fornecedor":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Remove Duplicates":{"main":[[{"node":"get fornecedor","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"30+":{"main":[[{"node":"pode mostrar","type":"main","index":0}],[{"node":"cadastrado1","type":"main","index":0}]]},"pode mostrar":{"main":[[{"node":"cadastrado2","type":"main","index":0}],[]]},"cadastrado1":{"main":[[],[]]},"Edit Fields":{"main":[[{"node":"30+","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"cadastrado2":{"main":[[{"node":"Merge1","type":"main","index":0}],[{"node":"Merge1","type":"main","index":0}]]},"Call 'Envia e-mail'3":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"get_fornecedor":{"main":[[{"node":"get_documents","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"get_fornecedor","type":"main","index":0}]]},"get_documents":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"avalia_empresa","type":"main","index":0}]]},"Soma_exibicoes":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Soma_exibicoes","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"resultados+70>4":{"main":[[{"node":"concluído","type":"main","index":0}],[]]},"nota é 70+":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"nota é 70+","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"resultados+70>4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-kpc3-buscafornecedor.up.railway.app","user-agent":"axios/1.12.0","content-length":"978","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"162.220.234.54","x-forwarded-host":"primary-kpc3-buscafornecedor.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-east4-eqdc4a","x-railway-request-id":"lQV-XuSNSR-qOPzjozsQ6Q","x-real-ip":"162.220.234.54","x-request-start":"1764946969032"},"params":{},"query":{},"body":{"data":[{"razao_social":"ACQUALIMP PRODUTOS QUIMICOS LTDA","nome_fantasia":"ACQUALIMP","site":"https://acqualimp.com/","cnpj_basico":"34704593","cnpj_ordem":"0001","clientes":"nao_encontrado","resumo_empresa":"Fabricante de caixas d'água, filtros, fossas sépticas e soluções sustentáveis para armazenamento, saneamento e purificação de água.","segmentos_industriais":"","tipo_fornecedor":"material","especialidades":"Fabricação e comercialização de produtos para armazenamento, tratamento e purificação de água, incluindo sistemas de saneamento e soluções ecológicas (+green).","exemplo_servico":"nao_encontrado","categorias_materais":"Caixas d'água, filtros, fossas sépticas, biodigestores, cisternas, tanques, purificadores de água, acessórios hídricos e silos agroindustriais.","telefone":"5511997989021","instagram":"@acqualimp_oficial","email":"nao_encontrado"}],"filtro_supabase":"TESTE, TESTE","consulta_id":"1bb65b62-c58d-4941-99e8-c0f37a9d675b"},"webhookUrl":"https://primary-kpc3-buscafornecedor.up.railway.app/webhook/processa-empresa-copy","executionMode":"production"}}],"When Executed by Another Workflow":[{"json":{"body":{"data":[{"razao_social":"","nome_fantasia":"5 ESTRELAS DISTRIBUIDORA DE CARNES","site":"nao_encontrado","cnpj_basico":"29980827","cnpj_ordem":"0001","clientes":"nao_encontrado","resumo_empresa":"nao_encontrado","segmentos_industriais":"nao_encontrado","tipo_fornecedor":"nao_encontrado","especialidades":"nao_encontrado","exemplo_servico":"nao_encontrado","categorias_materais":"nao_encontrado","telefone":"nao_encontrado","instagram":"nao_encontrado","email":"nao_encontrado"}],"filtro_supabase":"Alimentício, Compra de carne de frango em grandes quantidades para restaurante","consulta_id":"7db111a9-6fb3-4cc4-8b3c-049d09e051c3"}}}]},"versionId":"5a54e761-3193-4d76-91ef-c441d34b3b25","triggerCount":1,"shared":[{"updatedAt":"2025-10-14T19:48:48.173Z","createdAt":"2025-10-14T19:48:48.173Z","role":"workflow:owner","workflowId":"9eECybbs7EvlGEra","projectId":"jk0yZKautC5L7CBp"}],"tags":[{"updatedAt":"2025-10-15T14:40:29.163Z","createdAt":"2025-10-15T14:40:29.163Z","id":"nbbzLv39fl1JNnUB","name":"webhook"},{"updatedAt":"2025-10-14T19:47:01.394Z","createdAt":"2025-10-14T19:47:01.394Z","id":"cuEnFeSTWYUSoPc7","name":"test"},{"updatedAt":"2025-10-02T13:53:47.318Z","createdAt":"2025-10-02T13:53:47.318Z","id":"El7C2Bp08WUbNazn","name":"Subworkflow"}]}