processa_empresa-GuxmCkYs5gkLsfjL.json
{"updatedAt":"2025-11-27T16:40:59.719Z","createdAt":"2025-10-10T16:36:25.521Z","id":"GuxmCkYs5gkLsfjL","name":"Processa_Empresa","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"74b8dbdb-2fdd-44b5-a71e-88750862316f","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1360,1264],"id":"5a4d3b0a-f965-4fa8-94c6-5f6a786eda0a","name":"Webhook","webhookId":"74b8dbdb-2fdd-44b5-a71e-88750862316f"},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"get","tableId":"empresas","filters":{"conditions":[{"keyName":"razao_social","keyValue":"={{ $json.result.razao_social }}"},{"keyName":"cnpj_basico","keyValue":"={{ $json.result.cnpj_basico }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-144,1328],"id":"b2998509-30cb-487c-8062-08cabe4727ef","name":"get cnpj_basico","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"cnpj_db","operation":"get","tableId":"estabelecimento","filters":{"conditions":[{"keyName":"cnpj_basico","keyValue":"={{ $json.cnpj_basico }}"},{"keyName":"matriz_filial","keyValue":"1"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[16,1328],"id":"aefa925d-498f-451c-8a2d-a8dc553a3cae","name":"get matriz","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"get","tableId":"usuario_fornecedor","filters":{"conditions":[{"keyName":"cnpj_basico","keyValue":"={{ $json.cnpj_basico }}"},{"keyName":"cnpj_ordem","keyValue":"={{ $json.cnpj_ordem }}"},{"keyName":"cnpj_dv","keyValue":"={{ $json.cnpj_dv }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[384,1328],"id":"b0205ac6-678d-4454-8138-7720157f9f86","name":"get fornecedor","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[192,1328],"id":"6998d512-0763-4ca0-8e0a-0372b0a4b1d2","name":"Remove Duplicates"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe4d6fc1-9268-4525-bd17-e68b043b23e2","leftValue":"={{ $json.item.nota }}","rightValue":30,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[896,1328],"id":"62682bf4-c577-4d97-a280-7dd114955895","name":"30+"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ffa8682-f0b0-4564-86cd-1c3e3e59a4aa","leftValue":"={{ $json.item['limite_listagens '] - $json.item.n_listagens }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1104,1216],"id":"36901c54-2353-4a26-b20b-4103870a4bf3","name":"pode mostrar"},{"parameters":{"content":"## Banco de dados:\n- Busca um fornecedor no banco","height":288,"width":1040,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-176,1216],"id":"51a55549-7330-431e-be26-2d95dd6ded80","name":"Sticky Note"},{"parameters":{"content":"## Cadastrado -30","height":208,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1456,1552],"id":"e84780bd-c8f8-4a5c-a7bd-0e5b52f96f7d","name":"Sticky Note3"},{"parameters":{"workflowId":{"__rl":true,"value":"8wGQEu6ASkKw1oMS","mode":"list","cachedResultUrl":"/workflow/8wGQEu6ASkKw1oMS","cachedResultName":"Envia e-mail"},"workflowInputs":{"mappingMode":"defineBelow","value":{"data.email_fornecedor":"={{ $json.item.email }}","data.motivo":"nota_baixa","data.cnpj_basico":"={{ $json.item.cnpj_basico }}","data.cnpj_ordem":"={{ $json.item.cnpj_ordem }}","data.cnpj_dv":"={{ $json.item.cnpj_dv }}","data.id_consulta":"={{ $json.item.consulta_id }}","nota":"={{ $json.item.nota }}"},"matchingColumns":[],"schema":[{"id":"data.email_fornecedor","displayName":"data.email_fornecedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.motivo","displayName":"data.motivo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_basico","displayName":"data.cnpj_basico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_dv","displayName":"data.cnpj_dv","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_ordem","displayName":"data.cnpj_ordem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.id_consulta","displayName":"data.id_consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nota","displayName":"nota","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1520,1600],"id":"af6c0325-bbef-4222-978c-44a907195abd","name":"Call 'Envia e-mail'1"},{"parameters":{"content":"## +30 sem limite","height":208,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1712,1328],"id":"f343ec33-0ec1-4ed1-92c0-a0e3e3cab629","name":"Sticky Note4"},{"parameters":{"workflowId":{"__rl":true,"value":"8wGQEu6ASkKw1oMS","mode":"list","cachedResultUrl":"/workflow/8wGQEu6ASkKw1oMS","cachedResultName":"Envia e-mail"},"workflowInputs":{"mappingMode":"defineBelow","value":{"data.email_fornecedor":"={{ $json.item.email }}","data.motivo":"sem_imite","data.cnpj_basico":"={{ $json.item.cnpj_basico }}","data.cnpj_dv":"={{ $json.item.cnpj_dv }}","data.cnpj_ordem":"={{ $json.item.cnpj_ordem }}","data.id_consulta":"={{ $json.item.consulta_id }}","nota":"={{ $json.item.nota }}"},"matchingColumns":[],"schema":[{"id":"data.email_fornecedor","displayName":"data.email_fornecedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.motivo","displayName":"data.motivo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_basico","displayName":"data.cnpj_basico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_dv","displayName":"data.cnpj_dv","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_ordem","displayName":"data.cnpj_ordem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.id_consulta","displayName":"data.id_consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nota","displayName":"nota","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1776,1376],"id":"f2ff65b9-04db-48d9-bf0b-4ebb6cce809e","name":"Call 'Envia e-mail'"},{"parameters":{"content":"## Sem cadastro -30","height":208,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1712,1552],"id":"75f3ad1a-8a01-46fd-b15c-3ab04e0ac90c","name":"Sticky Note5"},{"parameters":{"workflowId":{"__rl":true,"value":"8wGQEu6ASkKw1oMS","mode":"list","cachedResultUrl":"/workflow/8wGQEu6ASkKw1oMS","cachedResultName":"Envia e-mail"},"workflowInputs":{"mappingMode":"defineBelow","value":{"data.motivo":"sem_cadastro","data.email_fornecedor":"={{ $json.item.email }}","data.cnpj_basico":"={{ $json.item.cnpj_basico }}","data.cnpj_ordem":"={{ $json.item.cnpj_ordem }}","data.cnpj_dv":"={{ $json.item.cnpj_dv }}","data.id_consulta":"={{ $json.item.consulta_id }}","nota":"={{ $json.item.nota }}"},"matchingColumns":[],"schema":[{"id":"data.email_fornecedor","displayName":"data.email_fornecedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.motivo","displayName":"data.motivo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_basico","displayName":"data.cnpj_basico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_dv","displayName":"data.cnpj_dv","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_ordem","displayName":"data.cnpj_ordem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.id_consulta","displayName":"data.id_consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nota","displayName":"nota","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1776,1600],"id":"f35bed38-9253-4048-ae3b-b40cda8b4f10","name":"Call 'Envia e-mail'2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bc41b5ed-dc2c-4086-a4ee-7ec6b9433500","leftValue":"={{ $json.item.fornecedor_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1104,1440],"id":"fe474194-2323-41bf-89ce-3df5a8bd002c","name":"cadastrado1"},{"parameters":{"content":"## Regra de negócio:\nManda e-mails de propaganda para:\n- Pessoas com limite de Exibições estourado.\n- Pessoas sem cadastro\n- Nota Baixa no site","height":528,"width":566,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,1072],"id":"70843ac4-a7d1-4729-be41-3b8203012dc1","name":"Sticky Note30"},{"parameters":{"assignments":{"assignments":[{"id":"8c8e6e64-cc6b-4e81-b261-650dc9498ac5","name":"item.fornecedor_id","value":"={{ $json.id || null}}","type":"string"},{"id":"e885457b-46bf-4c87-bd33-8c40ffd2805d","name":"item.n_listagens","value":"={{ $json.n_exibicoes || 0 }}","type":"number"},{"id":"665347f5-2639-4bb0-b692-0531f600359b","name":"item.plano_categoria","value":"={{ $json.plano_categoria || null }}","type":"string"},{"id":"244003cf-9cb2-437b-bb1b-e89a4cfb661d","name":"item.razao_social","value":"={{ $('set_data1').item.json.result.razao_social }}","type":"string"},{"id":"c123260f-217e-4549-8c69-7c6cae477cff","name":"item.site","value":"={{ $('set_data1').item.json.result.site }}","type":"string"},{"id":"7a6d26fa-9e0e-415f-8d22-b7cf1bce103f","name":"item.telefone","value":"={{ $('set_data1').item.json.result.telefone }}","type":"string"},{"id":"5448c6ef-51e9-4982-9929-ea760b632507","name":"item.instagram","value":"={{ $('set_data1').item.json.result.instagram }}","type":"string"},{"id":"1b92249f-71a1-48dd-9158-622d960b7794","name":"item.email","value":"={{ $('set_data1').item.json.result.email }}","type":"string"},{"id":"bdad5f98-ba0e-4d06-9c57-2f325b2ec4cc","name":"item.justificativa","value":"={{ $('set_data1').item.json.result.justificativa }}","type":"object"},{"id":"76e17746-f60a-4628-9b58-0199f219e612","name":"item.nota","value":"={{ $('set_data1').item.json.result.nota }}","type":"number"},{"id":"3ebb5849-177b-4fba-bf29-572446fba50e","name":"item.limite_listagens ","value":"={{    $json.plano_categoria      ? (         $json.plano_categoria.toLowerCase() === 'standard' ? 5 :         $json.plano_categoria.toLowerCase() === 'essencial' ? 25 :         $json.plano_categoria.toLowerCase() === 'profissional' ? 1000 :         $json.plano_categoria.toLowerCase() === 'elite' ? 100000 :         5       )     : 5 }}","type":"string"},{"id":"bd7599ed-40ac-4859-a39d-b99209bd89e1","name":"item.consulta_id","value":"={{ $('Webhook').item.json.body.consulta_id }}","type":"string"},{"id":"0c2092b3-9f01-4b46-ba92-ba0c123babaa","name":"item.cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"},{"id":"684bb1ae-d55a-4837-96a2-7902369e039c","name":"item.cnpj_ordem","value":"={{ $json.cnpj_ordem }}","type":"string"},{"id":"2086c1a1-621c-488e-bc27-8ff7d027e779","name":"item.cnpj_dv","value":"={{ $json.cnpj_dv }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,1328],"id":"8986ecd1-c422-4520-8d95-e3b0de0de23e","name":"Edit Fields"},{"parameters":{"mode":"combine","fieldsToMatchString":"cnpj_basico, cnpj_ordem, cnpj_dv","joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[576,1328],"id":"6fd5e169-4274-4155-a310-21d3680bfc31","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bc41b5ed-dc2c-4086-a4ee-7ec6b9433500","leftValue":"={{ $json.item.fornecedor_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1296,1136],"id":"b79b1fbb-ee5b-4a9f-8b39-fed2ed3651e4","name":"cadastrado2"},{"parameters":{"content":"## +30 sem cadastro","height":208,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1456,1328],"id":"29a14670-5fd7-4d2f-9efc-262c66f1de34","name":"Sticky Note6"},{"parameters":{"workflowId":{"__rl":true,"value":"8wGQEu6ASkKw1oMS","mode":"list","cachedResultUrl":"/workflow/8wGQEu6ASkKw1oMS","cachedResultName":"Envia e-mail"},"workflowInputs":{"mappingMode":"defineBelow","value":{"data.email_fornecedor":"={{ $json.item.email }}","data.motivo":"sem_cadastro","data.cnpj_basico":"={{ $json.item.cnpj_basico }}","data.cnpj_dv":"={{ $json.item.cnpj_dv }}","data.cnpj_ordem":"={{ $json.item.cnpj_ordem }}","data.id_consulta":"={{ $json.item.consulta_id }}","nota":"={{ $json.item.nota }}"},"matchingColumns":[],"schema":[{"id":"data.email_fornecedor","displayName":"data.email_fornecedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.motivo","displayName":"data.motivo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_basico","displayName":"data.cnpj_basico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_dv","displayName":"data.cnpj_dv","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_ordem","displayName":"data.cnpj_ordem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.id_consulta","displayName":"data.id_consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nota","displayName":"nota","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1520,1376],"id":"6f8e673d-c367-4bb6-a3a6-f038ae3568d9","name":"Call 'Envia e-mail'3"},{"parameters":{"content":"## Banco de dados:\n- Busca um consulta no banco de dados\n- Atualiza a coluna de resultados com o que foi encontrado\n- Adiciona +1 nas exibições das empresas encontradas","height":320,"width":1008,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1456,992],"id":"86c45e77-eec1-4cef-a15e-e244580ee80b","name":"Sticky Note25"},{"parameters":{"fieldToSplitOut":"output.empresas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-480,1328],"id":"d2c5efbe-d4e5-4585-9864-d7c6923e0e88","name":"Split Out2"},{"parameters":{"assignments":{"assignments":[{"id":"9942feee-4620-4f2c-83ba-0cc6922a5f6c","name":"result.razao_social","value":"={{ $json.razao_social }}","type":"string"},{"id":"ff12d0e0-79a1-4d33-9bd2-b2f44d549522","name":"result.instagram","value":"={{ $json.instagram }}","type":"string"},{"id":"9a45c073-73a4-4109-ad7b-9ac30327b6af","name":"result.email","value":"={{ $json.email }}","type":"string"},{"id":"ba5721c8-e299-4bdc-95e5-af3868b238d4","name":"result.telefone","value":"={{ $json.telefone }}","type":"string"},{"id":"5e7888af-8e92-4b26-85fb-56db8856f5f2","name":"result.site","value":"={{ $json.site }}","type":"string"},{"id":"aeb43ce7-e717-45bb-af8f-c9784cd7b3a6","name":"result.nota","value":"={{ $json.nota }}","type":"number"},{"id":"84b1f110-1d06-4d84-9fc0-954bf5cbdd9f","name":"result.justificativa","value":"={{ $json.justificativa }}","type":"object"},{"id":"1c7a601f-24fc-4759-8bc7-7f29c93de49d","name":"result.cnpj_basico","value":"={{ $json.cnpj_basico }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,1328],"id":"8d4fa5ac-356a-4f85-a8f1-7ec3c66fb515","name":"set_data1"},{"parameters":{"jsonSchemaExample":"{\n  \"empresas\": [\n    {\n      \"razao_social\": \"string\",\n      \"cnpj_basico\": \"string\",\n      \"instagram\": \"string\",\n      \"email\": \"string\",\n      \"telefone\": \"string\",\n      \"site\": \"string\",\n      \"nota\": 0,\n      \"justificativa\": {\n        \"resumo_parecer\": \"string\",\n        \"analise_especificidade\": \"string\",\n        \"analise_segmento\": \"string\",\n        \"analise_tipo_fornecedor\": \"string\",\n        \"analise_resumo_suporte\": \"string\"\n      }\n    }\n  ]\n}\n\n","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1088,1488],"id":"e7352273-f95d-4060-9dd1-a915f7fcbcf1","name":"Structured Output Parser10"},{"parameters":{"content":"## IA: Avalia Empresas\n- Avalia a compatibilidade da empresa com o escopo.\n- A análise é baseada no resumo da empresa.\n- Da uma nova de 0-100 baseada em critérios descritos no prompt.\n\n\n```json\n{\n  \"empresas\": [\n    {\n      \"razao_social\": \"Soluções Industriais Integradas Ltda.\",\n      \"instagram\": \"https://www.instagram.com/solucoesindustriais\",\n      \"email\": \"contato@solucoesindustriais.com.br\",\n      \"telefone\": \"+55 31 3333-4444\",\n      \"site\": \"https://www.solucoesindustriais.com.br\",\n      \"nota\": 90,\n      \"justificativa\": {\n        \"resumo_parecer\": \"Aderência muito alta. O fornecedor demonstra especialização direta no serviço e no segmento de mercado solicitados.\",\n        \"analise_especificidade\": \"Pontuação: 50/50. Evidência: O campo 'exemplo_servico' cita explicitamente 'Manutenção Industrial' e 'Manutenção Preditiva'.\",\n        \"analise_segmento\": \"Pontuação: 30/30. Evidência: O campo 'especialidades' destaca o atendimento a 'Mineração e Siderurgia', que corresponde ao escopo.\",\n        \"analise_tipo_fornecedor\": \"Pontuação: 10/10. Evidência: O 'tipo_fornecedor' como 'servico' está correto.\",\n        \"analise_resumo_suporte\": \"Pontuação: 10/10. Evidência: O 'resumo_empresa' reforça o foco em 'manutenção para indústrias de base'.\"\n      }\n    }\n```","height":1216,"width":1040,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1232,768],"id":"0e68e376-a04d-4d93-9adb-341eeaecd764","name":"Sticky Note27"},{"parameters":{"promptType":"define","text":"=Escopo: {{ $json.body.filtro_supabase }}\nEmpresas: {{ $json.body.data.toJsonString() }}","hasOutputParser":true,"options":{"systemMessage":"=ROLE (Papel):\nVocê é um Agente de IA Analista de Suprimentos (AI Sourcing Analyst), especializado em qualificação técnica e seleção de fornecedores. Sua função é avaliar a compatibilidade de uma lista de empresas com um escopo de contratação específico, de forma objetiva, metódica e estritamente baseada nas evidências textuais fornecidas. Sua maior diretriz é a aversão ao risco, evitando fazer suposições ou inferências que não possam ser comprovadas pelos dados.\n\nACTION (Ação):\nVocê irá analisar um escopo_contratacao e uma lista_fornecedores fornecida. Para cada fornecedor na lista, você irá gerar um objeto JSON contendo a razão social, uma nota (de 0 a 100) e uma justificativa estruturada para essa nota, consolidando toda a análise em uma única estrutura JSON final.\n\nCONTEXT (Contexto):\nO escopo_contratacao descreve o serviço ou material necessário, incluindo o segmento de mercado onde a demanda se aplica. A lista_fornecedores é um array de objetos JSON, onde cada objeto representa uma empresa com dados estruturados (incluindo razao_social, resumo_empresa, especialidades, etc.).\n\nRegra de Ouro: Sua análise deve ser rigorosa e cética. NÃO FAÇA SUPOSIÇÕES. A ausência de informação explícita significa que a capacidade não pode ser confirmada.\n\nExemplo 1: Se o escopo é \"fornecimento de refeições corporativas\" e o fornecedor é um \"restaurante\", você não pode assumir que ele possui a logística para entregas corporativas, a menos que os campos especialidades ou exemplo_servico mencionem explicitamente \"refeições para empresas\", \"catering corporativo\" ou similar.\n\nExemplo 2: Se o escopo é \"serviços de fundação para obras\" e a empresa se descreve como \"construtora\", você não pode assumir que ela executa fundações, a menos que \"fundações\" ou \"geotecnia\" estejam listados em especialidades.\n\nEXECUTE (Execução):\nPara cada fornecedor na lista_fornecedores, execute os seguintes passos para gerar a resposta:\n\nAnálise do Escopo: Identifique as palavras-chave principais do escopo_contratacao, incluindo:\n\nServiço/Material Principal: (ex: \"manutenção industrial\").\n\nSegmento de Mercado Alvo: (ex: \"indústria farmacêutica\").\n\nTipo de Demanda: (Serviço ou Material).\n\nCálculo da nota (0-100): A nota será a soma ponderada dos seguintes critérios:\n\nCritério 1: Especificidade Direta (Peso 65%)\n\nAnalise especialidades e exemplo_servico.\n\n65 pontos: Menção explícita do serviço/material principal.\n\n30 pontos: Menção de termos correlatos.\n\n0 pontos: Nenhuma menção.\n\nCritério 2: Alinhamento com Segmento de Mercado (Peso 15%)\n\nAnalise segmentos_industriais e especialidades.\n\n15 pontos: Menção explícita do segmento alvo.\n\n10 pontos: Menção de segmento correlato.\n\n0 pontos: Nenhuma menção.\n\nCritério 3: Compatibilidade do Tipo de Fornecedor (Peso 10%)\n\nAnalise tipo_fornecedor.\n\n10 pontos: Compatibilidade total.\n\n0 pontos: Incompatibilidade.\n\nCritério 4: Evidência de Suporte no Resumo (Peso 10%)\n\nAnalise resumo_empresa.\n\n10 pontos: Reforça a capacidade.\n\n5 pontos: Genérico, mas não contradiz.\n\n0 pontos: Foco em atividades distintas.\n\nElaboração da justificativa:\n\nCrie um objeto JSON para a justificativa.\n\nEste objeto deve conter um resumo_parecer e uma análise detalhada para cada critério, informando a pontuação e a evidência textual (ou a falta dela) que baseou a decisão.\n\nFormatação da Resposta:\n\nA resposta final deve ser um único objeto JSON com a chave empresas. O valor dessa chave será um array de objetos, onde cada objeto representa um fornecedor e segue estritamente o formato aprimorado abaixo:\n\nJSON\n{\n  \"empresas\": [\n    {\n      \"razao_social\": \"Soluções Industriais Integradas Ltda.\",\n      \"cnpj_basico\": \"12345678\",\n      \"instagram\": \"https://www.instagram.com/solucoesindustriais\",\n      \"email\": \"contato@solucoesindustriais.com.br\",\n      \"telefone\": \"+55 31 3333-4444\",\n      \"site\": \"https://www.solucoesindustriais.com.br\",\n      \"nota\": 90,\n      \"justificativa\": {\n        \"resumo_parecer\": \"Aderência muito alta. O fornecedor demonstra especialização direta no serviço e no segmento de mercado solicitados.\",\n        \"analise_especificidade\": \"Pontuação: 50/50. Evidência: O campo 'exemplo_servico' cita explicitamente 'Manutenção Industrial' e 'Manutenção Preditiva'.\",\n        \"analise_segmento\": \"Pontuação: 30/30. Evidência: O campo 'especialidades' destaca o atendimento a 'Mineração e Siderurgia', que corresponde ao escopo.\",\n        \"analise_tipo_fornecedor\": \"Pontuação: 10/10. Evidência: O 'tipo_fornecedor' como 'servico' está correto.\",\n        \"analise_resumo_suporte\": \"Pontuação: 10/10. Evidência: O 'resumo_empresa' reforça o foco em 'manutenção para indústrias de base'.\"\n      }\n    },\n    {\n      \"razao_social\": \"Construções e Reformas Prediais S.A.\",\n      \"cnpj_basico\": \"87654321\",\n      \"instagram\": \"https://www.instagram.com/construcoesereformas\",\n      \"email\": \"contato@construcoesereformas.com.br\",\n      \"telefone\": \"+55 11 2222-5555\",\n      \"site\": \"https://www.construcoesereformas.com.br\",\n      \"nota\": 15,\n      \"justificativa\": {\n        \"resumo_parecer\": \"Aderência muito baixa. O foco da empresa é em um escopo diferente e não há evidências de atuação no segmento de mercado desejado.\",\n        \"analise_especificidade\": \"Pontuação: 0/50. Evidência: Nenhuma menção a 'manutenção industrial'. Os serviços listados são 'reformas de fachada' e 'gestão de condomínios'.\",\n        \"analise_segmento\": \"Pontuação: 0/30. Evidência: O segmento de mercado não é mencionado.\",\n        \"analise_tipo_fornecedor\": \"Pontuação: 10/10. Evidência: O 'tipo_fornecedor' como 'servico' está correto.\",\n        \"analise_resumo_suporte\": \"Pontuação: 5/10. Evidência: O resumo é genérico, citando 'soluções de engenharia', o que não contradiz, mas também não adiciona pontos.\"\n      }\n    }\n  ]\n}\n\n\nIMPORTANTE: Sua resposta deve conter APENAS o código JSON válido, sem nenhum texto introdutório, comentários ou explicações adicionais. O início da sua resposta deve ser { e o final deve ser }."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1184,1264],"id":"08032af6-985a-4caa-8395-5fdf8aeeb408","name":"avalia_empresa3","retryOnFail":false,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"model":"grok-4-fast-non-reasoning","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatXAiGrok","typeVersion":1,"position":[-1216,1488],"id":"bf7adab6-9385-4deb-ad42-ae7bd4073c1f","name":"xAI Grok Chat Model2","credentials":{"xAiApi":{"id":"zcxLRMJuj2WFdlT7","name":"xAi account"}}},{"parameters":{"model":"grok-4-fast-non-reasoning","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatXAiGrok","typeVersion":1,"position":[-1008,1696],"id":"465aad0b-069f-40c0-abfe-c5ae65264cf1","name":"xAI Grok Chat Model3","credentials":{"xAiApi":{"id":"zcxLRMJuj2WFdlT7","name":"xAi account"}}},{"parameters":{"promptType":"define","text":"=Escopo: {{ $json.body.filtro_supabase }}\nEmpresas: {{ $json.body.data.toJsonString() }}","hasOutputParser":true,"options":{"systemMessage":"=ROLE (Papel):\nVocê é um Agente de IA Analista de Suprimentos (AI Sourcing Analyst), especializado em qualificação técnica e seleção de fornecedores. Sua função é avaliar a compatibilidade de uma lista de empresas com um escopo de contratação específico, de forma objetiva, metódica e estritamente baseada nas evidências textuais fornecidas. Sua maior diretriz é a aversão ao risco, evitando fazer suposições ou inferências que não possam ser comprovadas pelos dados.\n\nACTION (Ação):\nVocê irá analisar um escopo_contratacao e uma lista_fornecedores fornecida. Para cada fornecedor na lista, você irá gerar um objeto JSON contendo a razão social, uma nota (de 0 a 100) e uma justificativa estruturada para essa nota, consolidando toda a análise em uma única estrutura JSON final.\n\nCONTEXT (Contexto):\nO escopo_contratacao descreve o serviço ou material necessário, incluindo o segmento de mercado onde a demanda se aplica. A lista_fornecedores é um array de objetos JSON, onde cada objeto representa uma empresa com dados estruturados (incluindo razao_social, resumo_empresa, especialidades, etc.).\n\nRegra de Ouro: Sua análise deve ser rigorosa e cética. NÃO FAÇA SUPOSIÇÕES. A ausência de informação explícita significa que a capacidade não pode ser confirmada.\n\nExemplo 1: Se o escopo é \"fornecimento de refeições corporativas\" e o fornecedor é um \"restaurante\", você não pode assumir que ele possui a logística para entregas corporativas, a menos que os campos especialidades ou exemplo_servico mencionem explicitamente \"refeições para empresas\", \"catering corporativo\" ou similar.\n\nExemplo 2: Se o escopo é \"serviços de fundação para obras\" e a empresa se descreve como \"construtora\", você não pode assumir que ela executa fundações, a menos que \"fundações\" ou \"geotecnia\" estejam listados em especialidades.\n\nEXECUTE (Execução):\nPara cada fornecedor na lista_fornecedores, execute os seguintes passos para gerar a resposta:\n\nAnálise do Escopo: Identifique as palavras-chave principais do escopo_contratacao, incluindo:\n\nServiço/Material Principal: (ex: \"manutenção industrial\").\n\nSegmento de Mercado Alvo: (ex: \"indústria farmacêutica\").\n\nTipo de Demanda: (Serviço ou Material).\n\nCálculo da nota (0-100): A nota será a soma ponderada dos seguintes critérios:\n\nCritério 1: Especificidade Direta (Peso 65%)\n\nAnalise especialidades e exemplo_servico.\n\n65 pontos: Menção explícita do serviço/material principal.\n\n30 pontos: Menção de termos correlatos.\n\n0 pontos: Nenhuma menção.\n\nCritério 2: Alinhamento com Segmento de Mercado (Peso 15%)\n\nAnalise segmentos_industriais e especialidades.\n\n15 pontos: Menção explícita do segmento alvo.\n\n10 pontos: Menção de segmento correlato.\n\n0 pontos: Nenhuma menção.\n\nCritério 3: Compatibilidade do Tipo de Fornecedor (Peso 10%)\n\nAnalise tipo_fornecedor.\n\n10 pontos: Compatibilidade total.\n\n0 pontos: Incompatibilidade.\n\nCritério 4: Evidência de Suporte no Resumo (Peso 10%)\n\nAnalise resumo_empresa.\n\n10 pontos: Reforça a capacidade.\n\n5 pontos: Genérico, mas não contradiz.\n\n0 pontos: Foco em atividades distintas.\n\nElaboração da justificativa:\n\nCrie um objeto JSON para a justificativa.\n\nEste objeto deve conter um resumo_parecer e uma análise detalhada para cada critério, informando a pontuação e a evidência textual (ou a falta dela) que baseou a decisão.\n\nFormatação da Resposta:\n\nA resposta final deve ser um único objeto JSON com a chave empresas. O valor dessa chave será um array de objetos, onde cada objeto representa um fornecedor e segue estritamente o formato aprimorado abaixo:\n\nJSON\n\n{\n  \"empresas\": [\n    {\n      \"razao_social\": \"Soluções Industriais Integradas Ltda.\",\n      \"cnpj_basico\": \"12345678\",\n      \"instagram\": \"https://www.instagram.com/solucoesindustriais\",\n      \"email\": \"contato@solucoesindustriais.com.br\",\n      \"telefone\": \"+55 31 3333-4444\",\n      \"site\": \"https://www.solucoesindustriais.com.br\",\n      \"nota\": 90,\n      \"justificativa\": {\n        \"resumo_parecer\": \"Aderência muito alta. O fornecedor demonstra especialização direta no serviço e no segmento de mercado solicitados.\",\n        \"analise_especificidade\": \"Pontuação: 50/50. Evidência: O campo 'exemplo_servico' cita explicitamente 'Manutenção Industrial' e 'Manutenção Preditiva'.\",\n        \"analise_segmento\": \"Pontuação: 30/30. Evidência: O campo 'especialidades' destaca o atendimento a 'Mineração e Siderurgia', que corresponde ao escopo.\",\n        \"analise_tipo_fornecedor\": \"Pontuação: 10/10. Evidência: O 'tipo_fornecedor' como 'servico' está correto.\",\n        \"analise_resumo_suporte\": \"Pontuação: 10/10. Evidência: O 'resumo_empresa' reforça o foco em 'manutenção para indústrias de base'.\"\n      }\n    },\n    {\n      \"razao_social\": \"Construções e Reformas Prediais S.A.\",\n      \"cnpj_basico\": \"87654321\",\n      \"instagram\": \"https://www.instagram.com/construcoesereformas\",\n      \"email\": \"contato@construcoesereformas.com.br\",\n      \"telefone\": \"+55 11 2222-5555\",\n      \"site\": \"https://www.construcoesereformas.com.br\",\n      \"nota\": 15,\n      \"justificativa\": {\n        \"resumo_parecer\": \"Aderência muito baixa. O foco da empresa é em um escopo diferente e não há evidências de atuação no segmento de mercado desejado.\",\n        \"analise_especificidade\": \"Pontuação: 0/50. Evidência: Nenhuma menção a 'manutenção industrial'. Os serviços listados são 'reformas de fachada' e 'gestão de condomínios'.\",\n        \"analise_segmento\": \"Pontuação: 0/30. Evidência: O segmento de mercado não é mencionado.\",\n        \"analise_tipo_fornecedor\": \"Pontuação: 10/10. Evidência: O 'tipo_fornecedor' como 'servico' está correto.\",\n        \"analise_resumo_suporte\": \"Pontuação: 5/10. Evidência: O resumo é genérico, citando 'soluções de engenharia', o que não contradiz, mas também não adiciona pontos.\"\n      }\n    }\n  ]\n}\n\nIMPORTANTE: Sua resposta deve conter APENAS o código JSON válido, sem nenhum texto introdutório, comentários ou explicações adicionais. O início da sua resposta deve ser { e o final deve ser }."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-800,1360],"id":"06f04b61-86ee-43af-971c-5a5a6d47bd2b","name":"avalia_empresa4","retryOnFail":true,"waitBetweenTries":2000},{"parameters":{"jsonSchemaExample":"{\n  \"empresas\": [\n    {\n      \"razao_social\": \"string\",\n      \"cnpj_basico\": \"string\",\n      \"instagram\": \"string\",\n      \"email\": \"string\",\n      \"telefone\": \"string\",\n      \"site\": \"string\",\n      \"nota\": 0,\n      \"justificativa\": {\n        \"resumo_parecer\": \"string\",\n        \"analise_especificidade\": \"string\",\n        \"analise_segmento\": \"string\",\n        \"analise_tipo_fornecedor\": \"string\",\n        \"analise_resumo_suporte\": \"string\"\n      }\n    }\n  ]\n}\n\n","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-720,1584],"id":"c04c7f26-e557-440a-9fff-d4cbc5998c18","name":"Structured Output Parser1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-800,1568],"id":"07b4bf7a-de45-4f1e-a9fe-7d49822bc363","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-848,1840],"id":"fd91d088-b981-4d6c-8ced-2dbfa0d8216e","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"902938dd-cacf-410e-a695-c6fd3416f6d8","leftValue":"={{ $json.item.plano_categoria }}","rightValue":"essencial","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c856a34a-9a06-4787-9866-30df16df43b6","leftValue":"={{ $json.item.plano_categoria }}","rightValue":"profissional","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"f42f3659-e387-4832-8018-c2c308473e71","leftValue":"={{ $json.item.plano_categoria }}","rightValue":"elite","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1312,592],"id":"1e5c4870-5edb-4d08-8488-e76b5fba3d46","name":"Plano pago?"},{"parameters":{"content":"## +30 sem cadastro","height":208,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1440,560],"id":"ec312b38-6593-4166-a994-f4e6f51da6ae","name":"Sticky Note7"},{"parameters":{"workflowId":{"__rl":true,"value":"8wGQEu6ASkKw1oMS","mode":"list","cachedResultUrl":"/workflow/8wGQEu6ASkKw1oMS","cachedResultName":"Envia e-mail"},"workflowInputs":{"mappingMode":"defineBelow","value":{"data.email_fornecedor":"={{ $json.item.email }}","data.cnpj_basico":"={{ $json.item.cnpj_basico }}","data.cnpj_dv":"={{ $json.item.cnpj_dv }}","data.cnpj_ordem":"={{ $json.item.cnpj_ordem }}","data.id_consulta":"={{ $json.item.consulta_id }}","data.motivo":"nova_aparicao"},"matchingColumns":[],"schema":[{"id":"data.email_fornecedor","displayName":"data.email_fornecedor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.motivo","displayName":"data.motivo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_basico","displayName":"data.cnpj_basico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_dv","displayName":"data.cnpj_dv","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.cnpj_ordem","displayName":"data.cnpj_ordem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data.id_consulta","displayName":"data.id_consulta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1504,608],"id":"eaac94f3-0780-4c07-8bd3-0b3a3f4c7800","name":"Call 'Envia e-mail'4"},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"get","tableId":"consultas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.result[0].item.consulta_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2096,1136],"id":"0095303d-c29c-4365-a15b-dafa6746d6dc","name":"get_result","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"useCustomSchema":true,"schema":"busca_fornecedor","operation":"update","tableId":"consultas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"resultados","fieldValue":"={{ $json.resultados.concat($('Aggregate').item.json.result) }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2272,1136],"id":"41a626fc-0cb8-438c-99c5-5fd998863300","name":"Mostra resultado intermediário1","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"result"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1904,1136],"id":"bf0791c9-bbc9-4efb-a416-8dad72072827","name":"Aggregate"},{"parameters":{"fieldToSplitOut":"result","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2016,1424],"id":"9c6b83d1-dc8e-43cb-a143-218803abd924","name":"Split Out"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1552,1136],"id":"214e4bf9-a560-4210-9199-b794bfe661b7","name":"Merge1"},{"parameters":{"assignments":{"assignments":[{"id":"37b79ebe-4d88-4286-ad8f-71f98605e4ad","name":"result.item","value":"={{ $json.item }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1744,1136],"id":"062ce2c8-8142-43f2-a6fc-0786a1220950","name":"set_result"},{"parameters":{"method":"POST","url":"https://hccolkrnyrxcbxuuajwq.supabase.co/rest/v1/rpc/incrementa_exibicoes","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"_basico\": \"{{ $json.item.cnpj_basico }}\",\n  \"_ordem\": \"{{ $json.item.cnpj_ordem }}\",\n  \"_dv\": \"{{ $json.item.cnpj_dv }}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2448,1424],"id":"3145f9c2-477b-4866-92a6-a6893e76849b","name":"Soma_exibicoes","credentials":{"supabaseApi":{"id":"iSQjasVk6wzJgBch","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2240,1424],"id":"96b82593-9dd0-462d-8601-faf6a815f507","name":"Loop Over Items"},{"parameters":{"content":"## Banco de dados:\n- Adiciona +1 nas exibições das empresas encontradas","height":288,"width":640,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1968,1328],"id":"4f56f590-53ee-4a84-b46a-87fb8395f80c","name":"Sticky Note26"}],"connections":{"Webhook":{"main":[[{"node":"avalia_empresa3","type":"main","index":0}]]},"get cnpj_basico":{"main":[[{"node":"get matriz","type":"main","index":0}]]},"get matriz":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"get fornecedor":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Remove Duplicates":{"main":[[{"node":"get fornecedor","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"30+":{"main":[[{"node":"pode mostrar","type":"main","index":0}],[{"node":"cadastrado1","type":"main","index":0}]]},"pode mostrar":{"main":[[{"node":"cadastrado2","type":"main","index":0}],[{"node":"Call 'Envia e-mail'","type":"main","index":0}]]},"cadastrado1":{"main":[[{"node":"Call 'Envia e-mail'1","type":"main","index":0}],[{"node":"Call 'Envia e-mail'2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"30+","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"cadastrado2":{"main":[[{"node":"Merge1","type":"main","index":0}],[{"node":"Call 'Envia e-mail'3","type":"main","index":0}]]},"Call 'Envia e-mail'3":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Split Out2":{"main":[[{"node":"set_data1","type":"main","index":0}]]},"set_data1":{"main":[[{"node":"get cnpj_basico","type":"main","index":0}]]},"Structured Output Parser10":{"ai_outputParser":[[{"node":"avalia_empresa3","type":"ai_outputParser","index":0}]]},"avalia_empresa3":{"main":[[{"node":"Split Out2","type":"main","index":0}],[{"node":"avalia_empresa4","type":"main","index":0}]]},"xAI Grok Chat Model2":{"ai_languageModel":[[{"node":"avalia_empresa3","type":"ai_languageModel","index":0}]]},"xAI Grok Chat Model3":{"ai_languageModel":[[{"node":"Structured Output Parser10","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"avalia_empresa4","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"avalia_empresa4","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"Structured Output Parser1","type":"ai_languageModel","index":0}]]},"avalia_empresa4":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Plano pago?":{"main":[[{"node":"Call 'Envia e-mail'4","type":"main","index":0}],[]]},"Call 'Envia e-mail'4":{"main":[[]]},"get_result":{"main":[[{"node":"Mostra resultado intermediário1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"get_result","type":"main","index":0},{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"set_result","type":"main","index":0}]]},"set_result":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Soma_exibicoes":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Soma_exibicoes","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-kpc3-buscafornecedor.up.railway.app","user-agent":"axios/1.12.0","content-length":"1990","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"162.220.234.84","x-forwarded-host":"primary-kpc3-buscafornecedor.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-east4-eqdc4a","x-railway-request-id":"WLNI1kw8RSyC3keFwoOzXw","x-real-ip":"162.220.234.84","x-request-start":"1762882077477"},"params":{},"query":{},"body":{"data":[{"cnpj_basico":"03699365","razao_social":"VERSATIL MADEIRAS E SERVICOS LTDA","cnpj_ordem":"0001","nome_fantasia":"GRUPO VERSATIL","site":"https://versatilmadeiras.com/","clientes":"nao_encontrado","resumo_empresa":"Fabricação e venda de móveis modulados para quartos, closets e cozinhas, com projetos 3D grátis e entrega rápida.","segmentos_industriais":"","tipo_fornecedor":"material","especialidades":"Móveis modulados para ambientes como quartos, closets e cozinhas, incluindo módulos e fechamentos superiores.","exemplo_servico":"Criação de projetos 3D gratuitos e consultoria para personalização de móveis via WhatsApp.","categorias_materais":"Móveis para quarto, móveis para cozinha, móveis para closet, módulos avulsos, fechamentos superiores, tampos em MDF.","telefone":"11 95683-7200","instagram":"@versatilmadeiras","email":"nao_encontrado"},{"cnpj_basico":"46384362","razao_social":"S G COMERCIO DE PALETES E EMBALAGENS LTDA","cnpj_ordem":"0001","nome_fantasia":"S G PALETES","site":"https://www.sgembalagens.com.br/","clientes":"nao_encontrado","resumo_empresa":"Fabricação e distribuição de embalagens plásticas flexíveis, incluindo sacos zip-lock e embalagens laminadas para indústria alimentícia, pet food e congelados.","segmentos_industriais":"","tipo_fornecedor":"material","especialidades":"Fabricação de sacos plásticos com zíper, sacos zip-lock, embalagens flexíveis e laminadas para alimentos, pet food e congelados.","exemplo_servico":"nao_encontrado","categorias_materais":"Sacos plásticos com zíper, sacos zip-lock, embalagens laminadas, embalagens metalizadas, embalagens flexíveis, embalagens para alimentos, embalagens para ração animal, embalagens para congelados, embalagens tipo stand-up pouch.","telefone":"nao_encontrado","instagram":"nao_encontrado","email":"nao_encontrado"}],"filtro_supabase":"reforma de palete de madeira, reformadora de palete de madeira","consulta_id":"08a2ab48-7f47-4592-b77f-f9c41043b773"},"webhookUrl":"https://primary-kpc3-buscafornecedor.up.railway.app/webhook/74b8dbdb-2fdd-44b5-a71e-88750862316f","executionMode":"production"}}]},"versionId":"29eede1b-1db5-4141-a8ad-98391fad8145","triggerCount":1,"shared":[{"updatedAt":"2025-10-10T16:36:25.521Z","createdAt":"2025-10-10T16:36:25.521Z","role":"workflow:owner","workflowId":"GuxmCkYs5gkLsfjL","projectId":"jk0yZKautC5L7CBp"}],"tags":[{"updatedAt":"2025-10-02T13:53:47.318Z","createdAt":"2025-10-02T13:53:47.318Z","id":"El7C2Bp08WUbNazn","name":"Subworkflow"},{"updatedAt":"2025-10-15T14:40:29.163Z","createdAt":"2025-10-15T14:40:29.163Z","id":"nbbzLv39fl1JNnUB","name":"webhook"}]}