processa_envia_msg_renata-FYmEWvSb9HwlMkEh.json
{"updatedAt":"2026-03-15T18:39:53.459Z","createdAt":"2026-03-12T09:26:13.776Z","id":"FYmEWvSb9HwlMkEh","name":"processa_envia_msg_renata","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=msg_to_valuate: {{ $json.concatenated_conversation }}","hasOutputParser":true,"options":{"systemMessage":"Papel: Classificador Semântico de Compras B2B.\n\nTarefa: Analise se a mensagem é uma busca ativa por EMPRESAS FORNECEDORAS de produtos ou serviços.\n\nCritérios de Exclusão (Marcar como FALSE se):\n1. For anúncio de vagas de emprego ou indicação de profissionais.\n2. For compartilhamento de links de redes sociais (LinkedIn) sem pedido explícito de cotação.\n3. For busca por um contato individual/específico em uma empresa já conhecida (ex: \"contato da Dell\").\n\nCritérios de Inclusão (Marcar como TRUE se):\n1. O usuário busca por \"quem faz\", \"onde compro\", \"indicação de fabricante/distribuidor\" de um item ou serviço.\n\nSaída esperada: JSON puro.\n\n{\n    \"solicitacao_fornecedor\": boolean,\n    \"descricao_consulta\": \"O que está sendo buscado (ex: Tubos de aço)\",\n    \"UF\": [\"Sigla\"] ou []\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-2192,1312],"id":"d1fdda7a-4d20-4663-ad11-371274da62f8","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2256,1488],"id":"31f1a08a-63c7-425d-84d5-26520959b52a","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"solicitacao_fornecedor\": true,\n    \"descricao_consulta\":\"descricao da consulta\",\n    \"UF\":[\"SP\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2000,1520],"id":"fe7fc6fb-0805-40e8-9164-de2ee89c3c3f","name":"Structured Output Parser"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5d904c4a-c983-427b-855b-d671eca5ef72","leftValue":"={{ $json.output.solicitacao_fornecedor }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1840,1312],"id":"4b0afca4-2cae-4140-a999-15af5ae00495","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"0f1e54e0-8729-43ac-8e10-1ea5aec5e66b","name":"vetor.produto","value":"={{ $json.output.produtos }}","type":"string"},{"id":"8cf8786a-d8b2-4588-9cf4-1a2567afafbd","name":"vetor.servico","value":"={{ $json.output.servicos }}","type":"string"},{"id":"76359de1-9af2-4638-b0bb-1850eb938d0c","name":"vetor.descricao","value":"={{ $json.output.descricao }}","type":"string"},{"id":"f8ebf74f-d754-44f3-8b3f-37d5250998ed","name":"vetor.cliente","value":"={{ $json.output.clientes }}","type":"string"},{"id":"ffd79d82-df78-469a-a98a-f70bd76707e8","name":"vetor.publico","value":"={{ $json.output.publico }}","type":"string"},{"id":"da09cd49-5286-4edd-a05d-495aff9bfda4","name":"output.bm25","value":"={{ $json.output.bm25 }}","type":"string"},{"id":"1f9f6f5d-b8ee-4f87-9629-932d92f48edc","name":"payload.Modelo_Negocio","value":"={{ $json.output.Modelo_Negocio }}","type":"string"},{"id":"e72e5868-1d42-4007-b502-7c19e8a7b806","name":"payload.ufs_selecionadas","value":"={{ $('Edit Fields8').item.json.ufs_selecionadas }}","type":"array"},{"id":"166fd17c-1231-4867-b5c5-438116636454","name":"consultaId","value":"={{ $('Edit Fields8').item.json.consultaId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,816],"id":"6bcb6c1e-8d88-4da7-a3fb-c57ed182e939","name":"set_profile_data"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.servico }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[416,0],"id":"258dcb61-bf19-4a22-80f9-6cf7560a4658","name":"serviço5","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.produto }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[432,400],"id":"1e09c6e3-f7c5-4b87-98d2-dbc9af9606b8","name":"produto1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.descricao }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[464,752],"id":"1c813366-0fbe-48f0-863b-d0ba42d18c93","name":"descricao1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.publico }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[480,1072],"id":"97ee1817-08c0-494b-ae7f-0d3fe27d30fb","name":"publico1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.cliente }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[688,1424],"id":"79a6e7a4-284f-4780-b5f8-e3cd00b14253","name":"cliente","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.descricao }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[192,816],"id":"23c6aa7a-a740-4bab-8c19-f02b8e017d9b","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.publico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[208,1152],"id":"3dc9cccb-0720-40fd-a054-c6e08e5484d7","name":"If4"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,1584],"id":"f258d574-a86e-4256-8af6-e13d66084fcc","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,1472],"id":"7be0873c-be00-401b-85d8-37133d0da2ee","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_cliente","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,1472],"id":"0a6e291d-a5e4-49f4-b731-ea3db65d6c31","name":"Edit Fields5"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,1136],"id":"2340efbc-4c55-4705-9f4c-8ffdb2c3ed56","name":"Edit Fields6"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_publico","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,1136],"id":"c951fa88-acc8-43ec-8302-df6a6eaef9fd","name":"Edit Fields7"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,1232],"id":"658b5e0d-9f42-4ed4-ba25-000edf4058fc","name":"Edit Fields10"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,800],"id":"fcfc1cf5-fd4f-4d44-8138-f96adf57a6d3","name":"Edit Fields11"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_descricao","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,800],"id":"c1ee89bc-da2d-4b4a-a76d-a53e728c5b99","name":"Edit Fields12"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,880],"id":"d7331938-41ef-458c-b938-f19b00715520","name":"Edit Fields13"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,464],"id":"6eb2c73b-d791-4e64-b0ba-c6c3c10728dd","name":"Edit Fields14"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_produto","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,464],"id":"399005f0-2fe2-4a3d-82b9-456eb717c1df","name":"Edit Fields15"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,576],"id":"5b18c22a-1588-4dc8-b413-889dbe311ab9","name":"Edit Fields16"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,80],"id":"098a49af-16c9-496e-9f03-259f53632e7c","name":"Edit Fields17"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_servico","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,80],"id":"b933c59b-66a6-4b21-a944-b1ff3b148a6a","name":"Edit Fields18"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,208],"id":"ffde0a60-e41d-4ae2-98cb-a7ed1cf71a99","name":"Edit Fields19"},{"parameters":{"promptType":"define","text":"=consulta_usuário: \nsegmento: {{ $json.segmento }}\ndescricao: {{ $json.descricao }}","hasOutputParser":true,"options":{"systemMessage":"=# ROLE\nVocê é um Especialista em Engenharia de Busca B2B e Hybrid Retrieval. Sua função é transformar consultas de usuários em um JSON técnico otimizado para bancos de dados vetoriais e busca lexical (BM25).\n\n# OBJETIVO\nGerar uma expansão de termos técnica, precisa e matemática, garantindo que o motor de busca encontre o fornecedor ideal sem perder a essência da necessidade original.\n\n# TAREFA: DISTRIBUIÇÃO DE PESOS (REGRA OBRIGATÓRIA)\nA soma total de todos os pesos deve ser EXATAMENTE 1.0.\n\nNúcleo (Produto + Serviço): A soma de peso_produtos + peso_servicos deve ser sempre 0.65.\n\nIdentifique se o foco é compra de item ou contratação de serviço e distribua os 0.65 proporcionalmente.\n\nPrecisão Lexical (BM25): O peso_bm25 deve ser FIXO em 0.25.\n\nContexto (Descrição + Público + Clientes): A soma de peso_descricao + peso_publico + peso_clientes deve ser sempre 0.10.\n\nDistribuição padrão: peso_descricao: 0.04, peso_publico: 0.03, peso_clientes: 0.03.\n\n# DIRETRIZES DE CONTEÚDO E ANTI-DERIVA SEMÂNTICA\nTrava de Entidade (CRÍTICO): Todos os termos gerados nos campos produtos e servicos DEVEM conter a palavra-chave principal da consulta ou um sinônimo indissociável que preserve a matéria-prima/item original.\n\nExemplo Proibido: Se a busca é \"casca de açaí\", NÃO use \"subproduto agrícola\" sozinho.\n\nExemplo Obrigatório: Use \"subproduto de açaí\", \"biomassa de açaí\", \"resíduo de açaí para caldeira\".\n\nDilation Search Controlada: Expanda do específico para o genérico (ex: do modelo para a categoria), mas NUNCA saia do escopo. Se a busca é \"cortina\", o limite genérico é \"decoração de janelas\" e jamais \"mobiliário\" ou \"construção\".\n\nFormatação Rígida: * Use APENAS vírgulas para separar termos.\n\nPROIBIDO usar barras (|), pontos e vírgula (;) ou prefixos como \"Nível 1:\".\n\nBM25: Foque em palavras-chave puras, siglas e termos técnicos. Repita a entidade principal para garantir ancoragem lexical.\n\n# REGRAS DE NEGÓCIO\nModelo_Negocio: Selecione EXATAMENTE um deste vocabulário: [Fabricante, Distribuidor, Atacado, Varejo, Prestador de Serviço].\n\nRestrições: PROIBIDO explicar, conversar ou usar blocos de markdown no output. Retorne APENAS o JSON puro.\n\n# SCHEMA DE SAÍDA (JSON)\nJSON\n{\n  \"query_original\": \"string\",\n  \"produtos\": \"termo1, termo2, termo3, termo4\",\n  \"servicos\": \"termo1, termo2, termo3, termo4\",\n  \"descricao\": \"string\",\n  \"publico\": \"string\",\n  \"clientes\": \"string\",\n  \"bm25\": \"string\",\n  \"peso_produtos\": 0.00,\n  \"peso_servicos\": 0.00,\n  \"peso_descricao\": 0.04,\n  \"peso_publico\": 0.03,\n  \"peso_clientes\": 0.03,\n  \"peso_bm25\": 0.25,\n  \"Modelo_Negocio\": \"string\"\n}\n# EXEMPLO DE REFERÊNCIA\nInput: \"fornecedor de casca de açai para caldeira\"\nOutput:\n\nJSON\n{\n  \"query_original\": \"fornecedor de casca de açai para caldeira\",\n  \"produtos\": \"casca de açaí, biomassa de açaí, resíduo de açaí, caroço de açaí para queima, subproduto de açaí industrial\",\n  \"servicos\": \"fornecimento de casca de açaí, venda de biomassa de açaí, transporte de resíduos de açaí\",\n  \"descricao\": \"Fornecedores de resíduos e subprodutos derivados do processamento de açaí utilizados como combustível de biomassa para caldeiras industriais.\",\n  \"publico\": \"indústrias com caldeiras, usinas de energia, fábricas de papel e celulose, cerâmicas\",\n  \"clientes\": \"gerentes de suprimentos industriais, compradores de biomassa, usinas\",\n  \"bm25\": \"açaí casca caldeira biomassa resíduo combustível\",\n  \"peso_produtos\": 0.60,\n  \"peso_servicos\": 0.05,\n  \"peso_descricao\": 0.04,\n  \"peso_publico\": 0.03,\n  \"peso_clientes\": 0.03,\n  \"peso_bm25\": 0.25,\n  \"Modelo_Negocio\": \"Distribuidor\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-736,832],"id":"394d2f4b-34e6-4ba0-91cf-a1c8b97215d5","name":"AI Agent1","retryOnFail":true,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"servico\":[{{ $json.vector_servico }}],\n    \"produto\":[{{ $json.vector_produto }}],\n    \"descricao\":[{{ $json.vector_descricao }}],\n    \"publico\":[{{ $json.vector_publico }}],\n    \"cliente\":[{{ $json.vector_cliente }}]\n  },\n  \"weights\": {\n    \"servico\": {{ $('AI Agent1').item.json.output.peso_servicos }},\n    \"descricao\": {{ $('AI Agent1').item.json.output.peso_descricao }},\n    \"publico\": {{ $('AI Agent1').item.json.output.peso_publico }},\n    \"cliente\": {{ $('AI Agent1').item.json.output.peso_clientes }},\n    \"produto\": {{ $('AI Agent1').item.json.output.peso_produtos }},\n    \"bm25\": {{ $('AI Agent1').item.json.output.peso_bm25 }}\n\n  },\n  \"filter\": {\n    \"modelo_negocio\": \"{{ $('set_profile_data').item.json.payload.Modelo_Negocio }}\",\n    \"cidade\":\"{{ $('Edit Fields8').item.json.lista_municipio || \" \" }}\",\n    \"uf\":\"{{ $('set_profile_data').item.json.payload.ufs_selecionadas || \" \" }}\"\n  },\n  \"limit_per_vector\": 10,\n  \"final_limit\": 20,\n  \"bm25_query\": \"{{ $('AI Agent1').item.json.output.bm25\n  .replace(/[^\\w\\s\\-.,]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n}}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1792,1312],"id":"aa89f756-d32f-47b9-b3cc-c2cd55fd5c1d","name":"HTTP Request"},{"parameters":{"jsonSchemaExample":"{\n\"query_original\": \"string\",\n\n\"produtos\": \"string\",\n\"servicos\": \"string\",\n\"descricao\": \"string\",\n\"publico\": \"string\",\n\"clientes\": \"string\",\n\"bm25\": \"string\",\n\n\"peso_produtos\": 0.0,\n\"peso_servicos\": 0.0,\n\"peso_descricao\": 0.0,\n\"peso_publico\": 0.0,\n\"peso_clientes\": 0.0,\n\"peso_bm25\": 0.0,\n\n\"Modelo_Negocio\": \"string\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-608,1024],"id":"2d0df803-69eb-4b05-bf21-a5096c6c9436","name":"Structured Output Parser3"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-688,1184],"id":"04034d48-0373-4cef-bf3a-93f180042109","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.servico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[176,80],"id":"b477cd94-c461-4ac8-ae86-0931d592db68","name":"If5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.produto }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[192,480],"id":"fabff03e-cded-4892-a0a4-2d0203d49b45","name":"If6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.cliente }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[400,1504],"id":"0d43fd3b-e8a9-4206-accf-09cefefad6de","name":"If7"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":5,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1584,1264],"id":"8e770903-e449-47b5-9f21-9ab5628c2a4b","name":"Merge3"},{"parameters":{"assignments":{"assignments":[{"id":"67239d33-a6aa-4f1c-9f96-984e97694c0d","name":"descricao","value":"={{ $json.output.descricao_consulta }}","type":"string"},{"id":"86485711-eb18-481b-9098-3f7f50f527ab","name":"ufs_selecionadas","value":"={{ $json.output.UF }}","type":"array"},{"id":"e8d9155c-f07e-49cc-9b2d-5e56cd44e33d","name":"lista_municipio","value":"={{ $json.descricao || [] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1040,832],"id":"b5ef7cb6-ad01-4adf-b3bb-22de397124dc","name":"Edit Fields8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3034442b-d032-4908-bca5-c10d36945a1f","leftValue":"={{ $json.results }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2000,1312],"id":"540b5d45-1851-40c2-a7be-9823bddd5e1a","name":"If8"},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-880,1040],"id":"8cc90c7c-f21e-4019-adf4-d8bb4f292f0e","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f6b9f211-6134-4f2e-ac67-b4bb9f394e9d","leftValue":"={{ $json.results[0].payload.nome_empresa }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"6f9bb5ed-af0d-450e-975d-814748e8b0eb","leftValue":"={{ $json.results[1].payload.nome_empresa }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2208,1408],"id":"0a864cbf-b89f-4436-a1a1-f563cd44aed3","name":"If2"},{"parameters":{"assignments":{"assignments":[{"id":"b4e9bc98-39f6-4f44-a4aa-f1031ad36c72","name":"msg_to_send_v1","value":"=Oiiiii, da uma olhada nesses aqui: {{ $json.results[0].payload.nome_empresa }} [{{ $json.results[0].payload.site }}] e {{ $json.results[1].payload.nome_empresa }} [{{ $json.results[1].payload.site }}]. \nLa no BuscaFornecedor saiu {{ $json.results.length }} fornecedores para essa busca, da uma olhada em www.buscafornecedor.com.br, blz?","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2448,1264],"id":"bba6fd4e-f155-420c-b57b-495d221ef16e","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://evolution-api-production-f93a.up.railway.app/message/sendText/busca_fornecedor_cel1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"94753B94CF88-48F7-B354-B278BDA421DD"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Webhook').item.json.body.data.key.participant }}\",\n  \"text\": \"{{ $json.msg_to_send_v1.replaceAll('\\n',\"\")}}\",\n  \"delay\": 1200,\n  \"linkPreview\": false,\n  \"quoted\": {\n    \"key\": {\n      \"remoteJid\": \"120363406333603362@g.us\",\n      \"fromMe\": false,\n      \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n    },\n    \"message\": {\n      \"conversation\": \"{{ $('Webhook').item.json.body.data.message.conversation }}\"\n    }\n  }\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2752,1264],"id":"6b11d648-2c8f-478e-b6a5-22ed18219645","name":"HTTP Request1"},{"parameters":{"amount":35},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3632,1184],"id":"b65b44a0-2df5-4819-8b3b-47a5eec8134c","name":"Wait1","webhookId":"05e595a9-1f6b-4568-9f83-cd2e4be993d8"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"SBAVpWPaD6hzQjOK","mode":"list","cachedResultName":"renata_whatsapp_messages","cachedResultUrl":"/projects/jk0yZKautC5L7CBp/datatables/SBAVpWPaD6hzQjOK"},"filters":{"conditions":[{"keyValue":"={{ $json.id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"status_process":"processando"},"matchingColumns":[],"schema":[{"id":"event","displayName":"event","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"remoteJid","displayName":"remoteJid","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"fromMe","displayName":"fromMe","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"participant","displayName":"participant","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"participantAlt","displayName":"participantAlt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"pushName","displayName":"pushName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"conversation","displayName":"conversation","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"perguntou_sobre_fornecedor","displayName":"perguntou_sobre_fornecedor","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"status_process","displayName":"status_process","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-2736,1008],"id":"69189b65-12e1-4680-9632-e4aee4e04a29","name":"update_status_processamento"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"SBAVpWPaD6hzQjOK","mode":"list","cachedResultName":"renata_whatsapp_messages","cachedResultUrl":"/projects/jk0yZKautC5L7CBp/datatables/SBAVpWPaD6hzQjOK"},"filters":{"conditions":[{"keyValue":"={{ $json.id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"perguntou_sobre_fornecedor":true},"matchingColumns":[],"schema":[{"id":"event","displayName":"event","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"remoteJid","displayName":"remoteJid","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"fromMe","displayName":"fromMe","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"participant","displayName":"participant","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"participantAlt","displayName":"participantAlt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"pushName","displayName":"pushName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"conversation","displayName":"conversation","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"perguntou_sobre_fornecedor","displayName":"perguntou_sobre_fornecedor","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"status_process","displayName":"status_process","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1472,928],"id":"cab112af-a01c-419c-add0-db28e9f8b06a","name":"marca_true_pergunta_fornecedor"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"SBAVpWPaD6hzQjOK","mode":"list","cachedResultName":"renata_whatsapp_messages","cachedResultUrl":"/projects/jk0yZKautC5L7CBp/datatables/SBAVpWPaD6hzQjOK"},"filters":{"conditions":[{"keyValue":"={{ $json.id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"perguntou_sobre_fornecedor":false},"matchingColumns":[],"schema":[{"id":"event","displayName":"event","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"remoteJid","displayName":"remoteJid","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"fromMe","displayName":"fromMe","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"participant","displayName":"participant","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"participantAlt","displayName":"participantAlt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"pushName","displayName":"pushName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"conversation","displayName":"conversation","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"perguntou_sobre_fornecedor","displayName":"perguntou_sobre_fornecedor","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"status_process","displayName":"status_process","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1056,1344],"id":"629cb9e2-0d03-408a-a202-4c2c51a7c6c3","name":"marca_false_pergunta_fornecedor"},{"parameters":{"path":"d1f747a4-0f05-43e1-a1bb-5056f5adeb74","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-3824,1184],"id":"f9a23934-d4a4-4d8b-b272-2da2ffea1229","name":"Webhook","webhookId":"d1f747a4-0f05-43e1-a1bb-5056f5adeb74"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1936,976],"id":"739e67c0-c563-46b3-b2a0-29fb22c8c375","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f9092b3c-bd25-4f50-94b7-ea80e17f99c8","leftValue":"={{ $json.id }}","rightValue":0,"operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-1728,976],"id":"f1203964-62cf-4caf-ad77-627fcc736dfb","name":"Filter"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1520,1376],"id":"49cd3cb2-a1b4-4544-ad3b-543ac5601825","name":"Merge1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f9092b3c-bd25-4f50-94b7-ea80e17f99c8","leftValue":"={{ $json.id }}","rightValue":0,"operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-1264,1376],"id":"37de3b64-082c-4989-9e7c-3abad9d7925b","name":"Filter2"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"SBAVpWPaD6hzQjOK","mode":"list","cachedResultName":"renata_whatsapp_messages","cachedResultUrl":"/projects/jk0yZKautC5L7CBp/datatables/SBAVpWPaD6hzQjOK"},"filters":{"conditions":[{"keyValue":"={{ $('get_last_message').item.json.id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"result":"={{ $json.results.toJsonString()}}"},"matchingColumns":[],"schema":[{"id":"event","displayName":"event","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"remoteJid","displayName":"remoteJid","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"fromMe","displayName":"fromMe","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"participant","displayName":"participant","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"participantAlt","displayName":"participantAlt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"pushName","displayName":"pushName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"conversation","displayName":"conversation","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"perguntou_sobre_fornecedor","displayName":"perguntou_sobre_fornecedor","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"status_process","displayName":"status_process","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"result","displayName":"result","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[2208,1168],"id":"73996d6a-b1cc-4137-8bcc-4cb31d179d07","name":"Update row(s)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"28d6f40b-c877-4677-a092-30bf694837e3","leftValue":"={{ $json.conversation }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3248,1168],"id":"0fa3dea1-044d-4cd7-bad4-09d4d188512c","name":"if_conversation_is_empty"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"SBAVpWPaD6hzQjOK","mode":"list","cachedResultName":"renata_whatsapp_messages","cachedResultUrl":"/projects/jk0yZKautC5L7CBp/datatables/SBAVpWPaD6hzQjOK"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"event","keyValue":"messages.upsert"},{"keyName":"status_process","condition":"neq","keyValue":"processando"}]},"limit":1},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-3456,1184],"id":"bd01ff1c-acff-4f47-93f2-705b72bff1a9","name":"get_last_message"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"SBAVpWPaD6hzQjOK","mode":"list","cachedResultName":"renata_whatsapp_messages","cachedResultUrl":"/projects/jk0yZKautC5L7CBp/datatables/SBAVpWPaD6hzQjOK"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"event","keyValue":"messages.upsert"},{"keyName":"status_process","condition":"neq","keyValue":"processando"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-3040,1216],"id":"9cdca1eb-c4ca-4c95-a665-574ff9991317","name":"get_all_unprocessed_messages"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2196ca36-5804-4b0f-b5d0-c3b567c2297b","leftValue":"={{ $json.participant }}","rightValue":"={{ $('get_last_message').item.json.participant }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-2864,1184],"id":"16cca6bc-0da5-453a-a07f-a0cbb58afe92","name":"filtra_usuario_que_mandou_msg"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"conversation"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-2400,1312],"id":"23940faf-2f60-4a52-b0de-ea3b2c647031","name":"resume_conversa"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3216,544],"id":"ba049dde-7248-40a2-8dc9-fdc092903254","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"SBAVpWPaD6hzQjOK","mode":"list","cachedResultName":"renata_whatsapp_messages","cachedResultUrl":"/projects/jk0yZKautC5L7CBp/datatables/SBAVpWPaD6hzQjOK"},"filters":{"conditions":[{"keyName":"result","condition":"isNotEmpty"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-3008,544],"id":"6f19a2dc-1644-4993-8489-78283387785c","name":"Get row(s)"}],"connections":{"AI Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"If1":{"main":[[{"node":"Edit Fields8","type":"main","index":0},{"node":"Merge","type":"main","index":1}],[{"node":"Merge1","type":"main","index":0}]]},"set_profile_data":{"main":[[{"node":"If5","type":"main","index":0},{"node":"If6","type":"main","index":0},{"node":"If3","type":"main","index":0},{"node":"If4","type":"main","index":0},{"node":"If7","type":"main","index":0}]]},"serviço5":{"main":[[{"node":"Edit Fields17","type":"main","index":0}]]},"produto1":{"main":[[{"node":"Edit Fields14","type":"main","index":0}]]},"descricao1":{"main":[[{"node":"Edit Fields11","type":"main","index":0}]]},"publico1":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"cliente":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"If3":{"main":[[{"node":"descricao1","type":"main","index":0}],[{"node":"Edit Fields13","type":"main","index":0}]]},"If4":{"main":[[{"node":"publico1","type":"main","index":0}],[{"node":"Edit Fields10","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Merge3","type":"main","index":4}]]},"Edit Fields6":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Merge3","type":"main","index":3}]]},"Edit Fields10":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Edit Fields11":{"main":[[{"node":"Edit Fields12","type":"main","index":0}]]},"Edit Fields12":{"main":[[{"node":"Merge3","type":"main","index":2}]]},"Edit Fields13":{"main":[[{"node":"Edit Fields12","type":"main","index":0}]]},"Edit Fields14":{"main":[[{"node":"Edit Fields15","type":"main","index":0}]]},"Edit Fields15":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Edit Fields16":{"main":[[{"node":"Edit Fields15","type":"main","index":0}]]},"Edit Fields17":{"main":[[{"node":"Edit Fields18","type":"main","index":0}]]},"Edit Fields18":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Edit Fields19":{"main":[[{"node":"Edit Fields18","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"set_profile_data","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If8","type":"main","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Structured Output Parser3","type":"ai_languageModel","index":0}]]},"If5":{"main":[[{"node":"serviço5","type":"main","index":0}],[{"node":"Edit Fields19","type":"main","index":0}]]},"If6":{"main":[[{"node":"produto1","type":"main","index":0}],[{"node":"Edit Fields16","type":"main","index":0}]]},"If7":{"main":[[{"node":"cliente","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"If8":{"main":[[],[{"node":"If2","type":"main","index":0},{"node":"Update row(s)","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"If2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"get_last_message","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"update_status_processamento":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"marca_true_pergunta_fornecedor","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Filter2","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"marca_false_pergunta_fornecedor","type":"main","index":0}]]},"if_conversation_is_empty":{"main":[[],[{"node":"get_all_unprocessed_messages","type":"main","index":0}]]},"get_last_message":{"main":[[{"node":"if_conversation_is_empty","type":"main","index":0}]]},"get_all_unprocessed_messages":{"main":[[{"node":"filtra_usuario_que_mandou_msg","type":"main","index":0}]]},"filtra_usuario_que_mandou_msg":{"main":[[{"node":"resume_conversa","type":"main","index":0},{"node":"update_status_processamento","type":"main","index":0}]]},"resume_conversa":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"primary-kpc3-buscafornecedor.up.railway.app","user-agent":"axios/1.12.0","content-length":"15","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"34.48.178.250","x-forwarded-host":"primary-kpc3-buscafornecedor.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-east4-eqdc4a","x-railway-request-id":"WiA3Mv_0TKmSSgOyo3UVLg","x-real-ip":"34.48.178.250","x-request-start":"1773430423395"},"params":{},"query":{},"body":{"null":"null"},"webhookUrl":"https://primary-kpc3-buscafornecedor.up.railway.app/webhook/d1f747a4-0f05-43e1-a1bb-5056f5adeb74","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"963bd1e9-bccb-47cb-bfdf-4ad6a74156ad","activeVersionId":"0b05c7ba-3ddc-4223-9218-f55c26cfabf2","triggerCount":1,"shared":[{"updatedAt":"2026-03-12T09:26:13.776Z","createdAt":"2026-03-12T09:26:13.776Z","role":"workflow:owner","workflowId":"FYmEWvSb9HwlMkEh","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-03-15T18:38:56.886Z","createdAt":"2026-03-15T18:38:42.498Z","versionId":"0b05c7ba-3ddc-4223-9218-f55c26cfabf2","workflowId":"FYmEWvSb9HwlMkEh","nodes":[{"parameters":{"promptType":"define","text":"=msg_to_valuate: {{ $json.concatenated_conversation }}","hasOutputParser":true,"options":{"systemMessage":"Papel: Classificador Semântico de Compras B2B.\n\nTarefa: Analise se a mensagem é uma busca ativa por EMPRESAS FORNECEDORAS de produtos ou serviços.\n\nCritérios de Exclusão (Marcar como FALSE se):\n1. For anúncio de vagas de emprego ou indicação de profissionais.\n2. For compartilhamento de links de redes sociais (LinkedIn) sem pedido explícito de cotação.\n3. For busca por um contato individual/específico em uma empresa já conhecida (ex: \"contato da Dell\").\n\nCritérios de Inclusão (Marcar como TRUE se):\n1. O usuário busca por \"quem faz\", \"onde compro\", \"indicação de fabricante/distribuidor\" de um item ou serviço.\n\nSaída esperada: JSON puro.\n\n{\n    \"solicitacao_fornecedor\": boolean,\n    \"descricao_consulta\": \"O que está sendo buscado (ex: Tubos de aço)\",\n    \"UF\": [\"Sigla\"] ou []\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-2192,1312],"id":"d1fdda7a-4d20-4663-ad11-371274da62f8","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2256,1488],"id":"31f1a08a-63c7-425d-84d5-26520959b52a","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"solicitacao_fornecedor\": true,\n    \"descricao_consulta\":\"descricao da consulta\",\n    \"UF\":[\"SP\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2000,1520],"id":"fe7fc6fb-0805-40e8-9164-de2ee89c3c3f","name":"Structured Output Parser"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5d904c4a-c983-427b-855b-d671eca5ef72","leftValue":"={{ $json.output.solicitacao_fornecedor }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1840,1312],"id":"4b0afca4-2cae-4140-a999-15af5ae00495","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"0f1e54e0-8729-43ac-8e10-1ea5aec5e66b","name":"vetor.produto","value":"={{ $json.output.produtos }}","type":"string"},{"id":"8cf8786a-d8b2-4588-9cf4-1a2567afafbd","name":"vetor.servico","value":"={{ $json.output.servicos }}","type":"string"},{"id":"76359de1-9af2-4638-b0bb-1850eb938d0c","name":"vetor.descricao","value":"={{ $json.output.descricao }}","type":"string"},{"id":"f8ebf74f-d754-44f3-8b3f-37d5250998ed","name":"vetor.cliente","value":"={{ $json.output.clientes }}","type":"string"},{"id":"ffd79d82-df78-469a-a98a-f70bd76707e8","name":"vetor.publico","value":"={{ $json.output.publico }}","type":"string"},{"id":"da09cd49-5286-4edd-a05d-495aff9bfda4","name":"output.bm25","value":"={{ $json.output.bm25 }}","type":"string"},{"id":"1f9f6f5d-b8ee-4f87-9629-932d92f48edc","name":"payload.Modelo_Negocio","value":"={{ $json.output.Modelo_Negocio }}","type":"string"},{"id":"e72e5868-1d42-4007-b502-7c19e8a7b806","name":"payload.ufs_selecionadas","value":"={{ $('Edit Fields8').item.json.ufs_selecionadas }}","type":"array"},{"id":"166fd17c-1231-4867-b5c5-438116636454","name":"consultaId","value":"={{ $('Edit Fields8').item.json.consultaId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,816],"id":"6bcb6c1e-8d88-4da7-a3fb-c57ed182e939","name":"set_profile_data"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.servico }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[416,0],"id":"258dcb61-bf19-4a22-80f9-6cf7560a4658","name":"serviço5","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.produto }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[432,400],"id":"1e09c6e3-f7c5-4b87-98d2-dbc9af9606b8","name":"produto1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.descricao }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[464,752],"id":"1c813366-0fbe-48f0-863b-d0ba42d18c93","name":"descricao1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.publico }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[480,1072],"id":"97ee1817-08c0-494b-ae7f-0d3fe27d30fb","name":"publico1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.cliente }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[688,1424],"id":"79a6e7a4-284f-4780-b5f8-e3cd00b14253","name":"cliente","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.descricao }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[192,816],"id":"23c6aa7a-a740-4bab-8c19-f02b8e017d9b","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.publico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[208,1152],"id":"3dc9cccb-0720-40fd-a054-c6e08e5484d7","name":"If4"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,1584],"id":"f258d574-a86e-4256-8af6-e13d66084fcc","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,1472],"id":"7be0873c-be00-401b-85d8-37133d0da2ee","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_cliente","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,1472],"id":"0a6e291d-a5e4-49f4-b731-ea3db65d6c31","name":"Edit Fields5"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,1136],"id":"2340efbc-4c55-4705-9f4c-8ffdb2c3ed56","name":"Edit Fields6"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_publico","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,1136],"id":"c951fa88-acc8-43ec-8302-df6a6eaef9fd","name":"Edit Fields7"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,1232],"id":"658b5e0d-9f42-4ed4-ba25-000edf4058fc","name":"Edit Fields10"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,800],"id":"fcfc1cf5-fd4f-4d44-8138-f96adf57a6d3","name":"Edit Fields11"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_descricao","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,800],"id":"c1ee89bc-da2d-4b4a-a76d-a53e728c5b99","name":"Edit Fields12"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,880],"id":"d7331938-41ef-458c-b938-f19b00715520","name":"Edit Fields13"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,464],"id":"6eb2c73b-d791-4e64-b0ba-c6c3c10728dd","name":"Edit Fields14"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_produto","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,464],"id":"399005f0-2fe2-4a3d-82b9-456eb717c1df","name":"Edit Fields15"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,576],"id":"5b18c22a-1588-4dc8-b413-889dbe311ab9","name":"Edit Fields16"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,80],"id":"098a49af-16c9-496e-9f03-259f53632e7c","name":"Edit Fields17"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_servico","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,80],"id":"b933c59b-66a6-4b21-a944-b1ff3b148a6a","name":"Edit Fields18"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,208],"id":"ffde0a60-e41d-4ae2-98cb-a7ed1cf71a99","name":"Edit Fields19"},{"parameters":{"promptType":"define","text":"=consulta_usuário: \nsegmento: {{ $json.segmento }}\ndescricao: {{ $json.descricao }}","hasOutputParser":true,"options":{"systemMessage":"=# ROLE\nVocê é um Especialista em Engenharia de Busca B2B e Hybrid Retrieval. Sua função é transformar consultas de usuários em um JSON técnico otimizado para bancos de dados vetoriais e busca lexical (BM25).\n\n# OBJETIVO\nGerar uma expansão de termos técnica, precisa e matemática, garantindo que o motor de busca encontre o fornecedor ideal sem perder a essência da necessidade original.\n\n# TAREFA: DISTRIBUIÇÃO DE PESOS (REGRA OBRIGATÓRIA)\nA soma total de todos os pesos deve ser EXATAMENTE 1.0.\n\nNúcleo (Produto + Serviço): A soma de peso_produtos + peso_servicos deve ser sempre 0.65.\n\nIdentifique se o foco é compra de item ou contratação de serviço e distribua os 0.65 proporcionalmente.\n\nPrecisão Lexical (BM25): O peso_bm25 deve ser FIXO em 0.25.\n\nContexto (Descrição + Público + Clientes): A soma de peso_descricao + peso_publico + peso_clientes deve ser sempre 0.10.\n\nDistribuição padrão: peso_descricao: 0.04, peso_publico: 0.03, peso_clientes: 0.03.\n\n# DIRETRIZES DE CONTEÚDO E ANTI-DERIVA SEMÂNTICA\nTrava de Entidade (CRÍTICO): Todos os termos gerados nos campos produtos e servicos DEVEM conter a palavra-chave principal da consulta ou um sinônimo indissociável que preserve a matéria-prima/item original.\n\nExemplo Proibido: Se a busca é \"casca de açaí\", NÃO use \"subproduto agrícola\" sozinho.\n\nExemplo Obrigatório: Use \"subproduto de açaí\", \"biomassa de açaí\", \"resíduo de açaí para caldeira\".\n\nDilation Search Controlada: Expanda do específico para o genérico (ex: do modelo para a categoria), mas NUNCA saia do escopo. Se a busca é \"cortina\", o limite genérico é \"decoração de janelas\" e jamais \"mobiliário\" ou \"construção\".\n\nFormatação Rígida: * Use APENAS vírgulas para separar termos.\n\nPROIBIDO usar barras (|), pontos e vírgula (;) ou prefixos como \"Nível 1:\".\n\nBM25: Foque em palavras-chave puras, siglas e termos técnicos. Repita a entidade principal para garantir ancoragem lexical.\n\n# REGRAS DE NEGÓCIO\nModelo_Negocio: Selecione EXATAMENTE um deste vocabulário: [Fabricante, Distribuidor, Atacado, Varejo, Prestador de Serviço].\n\nRestrições: PROIBIDO explicar, conversar ou usar blocos de markdown no output. Retorne APENAS o JSON puro.\n\n# SCHEMA DE SAÍDA (JSON)\nJSON\n{\n  \"query_original\": \"string\",\n  \"produtos\": \"termo1, termo2, termo3, termo4\",\n  \"servicos\": \"termo1, termo2, termo3, termo4\",\n  \"descricao\": \"string\",\n  \"publico\": \"string\",\n  \"clientes\": \"string\",\n  \"bm25\": \"string\",\n  \"peso_produtos\": 0.00,\n  \"peso_servicos\": 0.00,\n  \"peso_descricao\": 0.04,\n  \"peso_publico\": 0.03,\n  \"peso_clientes\": 0.03,\n  \"peso_bm25\": 0.25,\n  \"Modelo_Negocio\": \"string\"\n}\n# EXEMPLO DE REFERÊNCIA\nInput: \"fornecedor de casca de açai para caldeira\"\nOutput:\n\nJSON\n{\n  \"query_original\": \"fornecedor de casca de açai para caldeira\",\n  \"produtos\": \"casca de açaí, biomassa de açaí, resíduo de açaí, caroço de açaí para queima, subproduto de açaí industrial\",\n  \"servicos\": \"fornecimento de casca de açaí, venda de biomassa de açaí, transporte de resíduos de açaí\",\n  \"descricao\": \"Fornecedores de resíduos e subprodutos derivados do processamento de açaí utilizados como combustível de biomassa para caldeiras industriais.\",\n  \"publico\": \"indústrias com caldeiras, usinas de energia, fábricas de papel e celulose, cerâmicas\",\n  \"clientes\": \"gerentes de suprimentos industriais, compradores de biomassa, usinas\",\n  \"bm25\": \"açaí casca caldeira biomassa resíduo combustível\",\n  \"peso_produtos\": 0.60,\n  \"peso_servicos\": 0.05,\n  \"peso_descricao\": 0.04,\n  \"peso_publico\": 0.03,\n  \"peso_clientes\": 0.03,\n  \"peso_bm25\": 0.25,\n  \"Modelo_Negocio\": \"Distribuidor\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-736,832],"id":"394d2f4b-34e6-4ba0-91cf-a1c8b97215d5","name":"AI Agent1","retryOnFail":true,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"servico\":[{{ $json.vector_servico }}],\n    \"produto\":[{{ $json.vector_produto }}],\n    \"descricao\":[{{ $json.vector_descricao }}],\n    \"publico\":[{{ $json.vector_publico }}],\n    \"cliente\":[{{ $json.vector_cliente }}]\n  },\n  \"weights\": {\n    \"servico\": {{ $('AI Agent1').item.json.output.peso_servicos }},\n    \"descricao\": {{ $('AI Agent1').item.json.output.peso_descricao }},\n    \"publico\": {{ $('AI Agent1').item.json.output.peso_publico }},\n    \"cliente\": {{ $('AI Agent1').item.json.output.peso_clientes }},\n    \"produto\": {{ $('AI Agent1').item.json.output.peso_produtos }},\n    \"bm25\": {{ $('AI Agent1').item.json.output.peso_bm25 }}\n\n  },\n  \"filter\": {\n    \"modelo_negocio\": \"{{ $('set_profile_data').item.json.payload.Modelo_Negocio }}\",\n    \"cidade\":\"{{ $('Edit Fields8').item.json.lista_municipio || \" \" }}\",\n    \"uf\":\"{{ $('set_profile_data').item.json.payload.ufs_selecionadas || \" \" }}\"\n  },\n  \"limit_per_vector\": 10,\n  \"final_limit\": 20,\n  \"bm25_query\": \"{{ $('AI Agent1').item.json.output.bm25\n  .replace(/[^\\w\\s\\-.,]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n}}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1792,1312],"id":"aa89f756-d32f-47b9-b3cc-c2cd55fd5c1d","name":"HTTP Request"},{"parameters":{"jsonSchemaExample":"{\n\"query_original\": \"string\",\n\n\"produtos\": \"string\",\n\"servicos\": \"string\",\n\"descricao\": \"string\",\n\"publico\": \"string\",\n\"clientes\": \"string\",\n\"bm25\": \"string\",\n\n\"peso_produtos\": 0.0,\n\"peso_servicos\": 0.0,\n\"peso_descricao\": 0.0,\n\"peso_publico\": 0.0,\n\"peso_clientes\": 0.0,\n\"peso_bm25\": 0.0,\n\n\"Modelo_Negocio\": \"string\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-608,1024],"id":"2d0df803-69eb-4b05-bf21-a5096c6c9436","name":"Structured Output Parser3"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-688,1184],"id":"04034d48-0373-4cef-bf3a-93f180042109","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.servico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[176,80],"id":"b477cd94-c461-4ac8-ae86-0931d592db68","name":"If5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.produto }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[192,480],"id":"fabff03e-cded-4892-a0a4-2d0203d49b45","name":"If6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.cliente }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[400,1504],"id":"0d43fd3b-e8a9-4206-accf-09cefefad6de","name":"If7"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":5,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1584,1264],"id":"8e770903-e449-47b5-9f21-9ab5628c2a4b","name":"Merge3"},{"parameters":{"assignments":{"assignments":[{"id":"67239d33-a6aa-4f1c-9f96-984e97694c0d","name":"descricao","value":"={{ $json.output.descricao_consulta }}","type":"string"},{"id":"86485711-eb18-481b-9098-3f7f50f527ab","name":"ufs_selecionadas","value":"={{ $json.output.UF }}","type":"array"},{"id":"e8d9155c-f07e-49cc-9b2d-5e56cd44e33d","name":"lista_municipio","value":"={{ $json.descricao || [] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1040,832],"id":"b5ef7cb6-ad01-4adf-b3bb-22de397124dc","name":"Edit Fields8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3034442b-d032-4908-bca5-c10d36945a1f","leftValue":"={{ $json.results }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2000,1312],"id":"540b5d45-1851-40c2-a7be-9823bddd5e1a","name":"If8"},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-880,1040],"id":"8cc90c7c-f21e-4019-adf4-d8bb4f292f0e","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f6b9f211-6134-4f2e-ac67-b4bb9f394e9d","leftValue":"={{ $json.results[0].payload.nome_empresa }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"6f9bb5ed-af0d-450e-975d-814748e8b0eb","leftValue":"={{ $json.results[1].payload.nome_empresa }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2208,1408],"id":"0a864cbf-b89f-4436-a1a1-f563cd44aed3","name":"If2"},{"parameters":{"assignments":{"assignments":[{"id":"b4e9bc98-39f6-4f44-a4aa-f1031ad36c72","name":"msg_to_send_v1","value":"=Oiiiii, da uma olhada nesses aqui: {{ $json.results[0].payload.nome_empresa }} [{{ $json.results[0].payload.site }}] e {{ $json.results[1].payload.nome_empresa }} [{{ $json.results[1].payload.site }}]. \nLa no BuscaFornecedor saiu {{ $json.results.length }} fornecedores para essa busca, da uma olhada em www.buscafornecedor.com.br, blz?","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2448,1264],"id":"bba6fd4e-f155-420c-b57b-495d221ef16e","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://evolution-api-production-f93a.up.railway.app/message/sendText/busca_fornecedor_cel1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"94753B94CF88-48F7-B354-B278BDA421DD"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Webhook').item.json.body.data.key.participant }}\",\n  \"text\": \"{{ $json.msg_to_send_v1.replaceAll('\\n',\"\")}}\",\n  \"delay\": 1200,\n  \"linkPreview\": false,\n  \"quoted\": {\n    \"key\": {\n      \"remoteJid\": \"120363406333603362@g.us\",\n      \"fromMe\": false,\n      \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n    },\n    \"message\": {\n      \"conversation\": \"{{ $('Webhook').item.json.body.data.message.conversation }}\"\n    }\n  }\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2752,1264],"id":"6b11d648-2c8f-478e-b6a5-22ed18219645","name":"HTTP Request1"},{"parameters":{"amount":35},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3632,1184],"id":"b65b44a0-2df5-4819-8b3b-47a5eec8134c","name":"Wait1","webhookId":"05e595a9-1f6b-4568-9f83-cd2e4be993d8"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"SBAVpWPaD6hzQjOK","mode":"list","cachedResultName":"renata_whatsapp_messages","cachedResultUrl":"/projects/jk0yZKautC5L7CBp/datatables/SBAVpWPaD6hzQjOK"},"filters":{"conditions":[{"keyValue":"={{ $json.id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"status_process":"processando"},"matchingColumns":[],"schema":[{"id":"event","displayName":"event","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"remoteJid","displayName":"remoteJid","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"fromMe","displayName":"fromMe","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"participant","displayName":"participant","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"participantAlt","displayName":"participantAlt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"pushName","displayName":"pushName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"conversation","displayName":"conversation","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"perguntou_sobre_fornecedor","displayName":"perguntou_sobre_fornecedor","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"status_process","displayName":"status_process","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-2736,1008],"id":"69189b65-12e1-4680-9632-e4aee4e04a29","name":"update_status_processamento"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"SBAVpWPaD6hzQjOK","mode":"list","cachedResultName":"renata_whatsapp_messages","cachedResultUrl":"/projects/jk0yZKautC5L7CBp/datatables/SBAVpWPaD6hzQjOK"},"filters":{"conditions":[{"keyValue":"={{ $json.id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"perguntou_sobre_fornecedor":true},"matchingColumns":[],"schema":[{"id":"event","displayName":"event","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"remoteJid","displayName":"remoteJid","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"fromMe","displayName":"fromMe","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"participant","displayName":"participant","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"participantAlt","displayName":"participantAlt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"pushName","displayName":"pushName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"conversation","displayName":"conversation","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"perguntou_sobre_fornecedor","displayName":"perguntou_sobre_fornecedor","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"status_process","displayName":"status_process","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1472,928],"id":"cab112af-a01c-419c-add0-db28e9f8b06a","name":"marca_true_pergunta_fornecedor"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"SBAVpWPaD6hzQjOK","mode":"list","cachedResultName":"renata_whatsapp_messages","cachedResultUrl":"/projects/jk0yZKautC5L7CBp/datatables/SBAVpWPaD6hzQjOK"},"filters":{"conditions":[{"keyValue":"={{ $json.id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"perguntou_sobre_fornecedor":false},"matchingColumns":[],"schema":[{"id":"event","displayName":"event","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"remoteJid","displayName":"remoteJid","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"fromMe","displayName":"fromMe","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"participant","displayName":"participant","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"participantAlt","displayName":"participantAlt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"pushName","displayName":"pushName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"conversation","displayName":"conversation","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"perguntou_sobre_fornecedor","displayName":"perguntou_sobre_fornecedor","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"status_process","displayName":"status_process","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1056,1344],"id":"629cb9e2-0d03-408a-a202-4c2c51a7c6c3","name":"marca_false_pergunta_fornecedor"},{"parameters":{"path":"d1f747a4-0f05-43e1-a1bb-5056f5adeb74","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-3824,1184],"id":"f9a23934-d4a4-4d8b-b272-2da2ffea1229","name":"Webhook","webhookId":"d1f747a4-0f05-43e1-a1bb-5056f5adeb74"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1936,976],"id":"739e67c0-c563-46b3-b2a0-29fb22c8c375","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f9092b3c-bd25-4f50-94b7-ea80e17f99c8","leftValue":"={{ $json.id }}","rightValue":0,"operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-1728,976],"id":"f1203964-62cf-4caf-ad77-627fcc736dfb","name":"Filter"},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1520,1376],"id":"49cd3cb2-a1b4-4544-ad3b-543ac5601825","name":"Merge1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f9092b3c-bd25-4f50-94b7-ea80e17f99c8","leftValue":"={{ $json.id }}","rightValue":0,"operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-1264,1376],"id":"37de3b64-082c-4989-9e7c-3abad9d7925b","name":"Filter2"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"SBAVpWPaD6hzQjOK","mode":"list","cachedResultName":"renata_whatsapp_messages","cachedResultUrl":"/projects/jk0yZKautC5L7CBp/datatables/SBAVpWPaD6hzQjOK"},"filters":{"conditions":[{"keyValue":"={{ $('get_last_message').item.json.id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"result":"={{ $json.results.toJsonString()}}"},"matchingColumns":[],"schema":[{"id":"event","displayName":"event","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"remoteJid","displayName":"remoteJid","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"fromMe","displayName":"fromMe","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"participant","displayName":"participant","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"participantAlt","displayName":"participantAlt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"pushName","displayName":"pushName","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"conversation","displayName":"conversation","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"perguntou_sobre_fornecedor","displayName":"perguntou_sobre_fornecedor","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"status_process","displayName":"status_process","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"result","displayName":"result","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[2208,1168],"id":"73996d6a-b1cc-4137-8bcc-4cb31d179d07","name":"Update row(s)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"28d6f40b-c877-4677-a092-30bf694837e3","leftValue":"={{ $json.conversation }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3248,1168],"id":"0fa3dea1-044d-4cd7-bad4-09d4d188512c","name":"if_conversation_is_empty"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"SBAVpWPaD6hzQjOK","mode":"list","cachedResultName":"renata_whatsapp_messages","cachedResultUrl":"/projects/jk0yZKautC5L7CBp/datatables/SBAVpWPaD6hzQjOK"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"event","keyValue":"messages.upsert"},{"keyName":"status_process","condition":"neq","keyValue":"processando"}]},"limit":1},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-3456,1184],"id":"bd01ff1c-acff-4f47-93f2-705b72bff1a9","name":"get_last_message"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"SBAVpWPaD6hzQjOK","mode":"list","cachedResultName":"renata_whatsapp_messages","cachedResultUrl":"/projects/jk0yZKautC5L7CBp/datatables/SBAVpWPaD6hzQjOK"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"event","keyValue":"messages.upsert"},{"keyName":"status_process","condition":"neq","keyValue":"processando"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-3040,1216],"id":"9cdca1eb-c4ca-4c95-a665-574ff9991317","name":"get_all_unprocessed_messages"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2196ca36-5804-4b0f-b5d0-c3b567c2297b","leftValue":"={{ $json.participant }}","rightValue":"={{ $('get_last_message').item.json.participant }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-2864,1184],"id":"16cca6bc-0da5-453a-a07f-a0cbb58afe92","name":"filtra_usuario_que_mandou_msg"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"conversation"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-2400,1312],"id":"23940faf-2f60-4a52-b0de-ea3b2c647031","name":"resume_conversa"}],"connections":{"AI Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"If1":{"main":[[{"node":"Edit Fields8","type":"main","index":0},{"node":"Merge","type":"main","index":1}],[{"node":"Merge1","type":"main","index":0}]]},"set_profile_data":{"main":[[{"node":"If5","type":"main","index":0},{"node":"If6","type":"main","index":0},{"node":"If3","type":"main","index":0},{"node":"If4","type":"main","index":0},{"node":"If7","type":"main","index":0}]]},"serviço5":{"main":[[{"node":"Edit Fields17","type":"main","index":0}]]},"produto1":{"main":[[{"node":"Edit Fields14","type":"main","index":0}]]},"descricao1":{"main":[[{"node":"Edit Fields11","type":"main","index":0}]]},"publico1":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"cliente":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"If3":{"main":[[{"node":"descricao1","type":"main","index":0}],[{"node":"Edit Fields13","type":"main","index":0}]]},"If4":{"main":[[{"node":"publico1","type":"main","index":0}],[{"node":"Edit Fields10","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Merge3","type":"main","index":4}]]},"Edit Fields6":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Merge3","type":"main","index":3}]]},"Edit Fields10":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Edit Fields11":{"main":[[{"node":"Edit Fields12","type":"main","index":0}]]},"Edit Fields12":{"main":[[{"node":"Merge3","type":"main","index":2}]]},"Edit Fields13":{"main":[[{"node":"Edit Fields12","type":"main","index":0}]]},"Edit Fields14":{"main":[[{"node":"Edit Fields15","type":"main","index":0}]]},"Edit Fields15":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Edit Fields16":{"main":[[{"node":"Edit Fields15","type":"main","index":0}]]},"Edit Fields17":{"main":[[{"node":"Edit Fields18","type":"main","index":0}]]},"Edit Fields18":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Edit Fields19":{"main":[[{"node":"Edit Fields18","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"set_profile_data","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If8","type":"main","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Structured Output Parser3","type":"ai_languageModel","index":0}]]},"If5":{"main":[[{"node":"serviço5","type":"main","index":0}],[{"node":"Edit Fields19","type":"main","index":0}]]},"If6":{"main":[[{"node":"produto1","type":"main","index":0}],[{"node":"Edit Fields16","type":"main","index":0}]]},"If7":{"main":[[{"node":"cliente","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"If8":{"main":[[],[{"node":"If2","type":"main","index":0},{"node":"Update row(s)","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"If2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"get_last_message","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"update_status_processamento":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"marca_true_pergunta_fornecedor","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Filter2","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"marca_false_pergunta_fornecedor","type":"main","index":0}]]},"if_conversation_is_empty":{"main":[[],[{"node":"get_all_unprocessed_messages","type":"main","index":0}]]},"get_last_message":{"main":[[{"node":"if_conversation_is_empty","type":"main","index":0}]]},"get_all_unprocessed_messages":{"main":[[{"node":"filtra_usuario_que_mandou_msg","type":"main","index":0}]]},"filtra_usuario_que_mandou_msg":{"main":[[{"node":"resume_conversa","type":"main","index":0},{"node":"update_status_processamento","type":"main","index":0}]]},"resume_conversa":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"authors":"ABC  advise","name":"Version 0b05c7ba","description":"","autosaved":true},"tags":[]}