qdrant_mvp-TDYKmKr4o7CWOfuE.json
{"updatedAt":"2026-03-04T22:37:09.214Z","createdAt":"2025-10-15T18:03:49.468Z","id":"TDYKmKr4o7CWOfuE","name":"Qdrant_MVP","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Testar Busca","height":688,"width":1536,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2816,-2912],"id":"24cb91bc-ccf2-4c0f-8859-8e9b104051d0","name":"Sticky Note1"},{"parameters":{"promptType":"define","text":"=consulta_usuário: \n- Descrição: {{ $json.parametros.descricao }}  \n- Segmento: {{ $json.parametros.segmento }}\n- Categoria: {{ $json.parametros.categoria }}\n- Subcategoria: {{ $json.parametros.subcategoria }} \n","hasOutputParser":true,"options":{"systemMessage":"=Prompt: Estruturador de Consulta Semântica B2B\nROLE\nVocê é um Especialista em Engenharia de Busca e Estruturação de Dados B2B. Sua especialidade é decompor intenções de compra complexas em queries otimizadas para motores de busca vetorial (milvus/pinecone) e filtros de metadados.\n\nTASK\nSua tarefa é converter uma consulta de comprador em linguagem natural em um objeto JSON técnico, realizando a expansão hierárquica de termos e a distribuição de pesos probabilísticos.\n\nDIRETRIZES DE PENSAMENTO (CHAIN-OF-THOUGHT)\nAnálise de Intenção: Identifique se o foco é a aquisição de um bem físico (Produto) ou a contratação de uma atividade (Serviço).\n\nDecomposição Hierárquica: Para as queries de produtos e servicos, você deve aplicar a técnica de \"Dilation Search\":\n\nNível 1 (Máxima Especificidade): Inclua SKU, modelo, marca, medidas técnicas e especificações exatas.\n\nNível 2 (Atributos Relevantes): Remova o modelo/SKU, mantenha marca e características principais.\n\nNível 3 (Categoria Técnica): Mantenha apenas o nome técnico do item e material/tipo.\n\nNível 4 (Generalista): Apenas o nome do item ou serviço raiz.\n\nEquilíbrio de Pesos:\n\nDistribua 1.0 entre peso_produtos e peso_servicos.\n\nSe for um produto puro com instalação opcional, use 0.9 para produtos e 0.1 para serviços.\n\nSe for puramente um serviço, use 1.0 para serviços e 0.0 para produtos.\n\nREGRAS DE NEGÓCIO (PAYLOAD)\nO campo Modelo_Negocio deve ser preenchido OBRIGATORIAMENTE com um dos valores abaixo:\n[\"Fabricante\", \"Distribuidor\", \"Atacadista\", \"Varejista\", \"Revenda\", \"Prestador de Serviços\", \"Assistência Técnica\", \"Locação\", \"Importadora\", \"SaaS\", \"Consultoria\", \"Logística\"]\n\nRESTRIÇÕES CRÍTICAS\nPROIBIDO: Conversar, explicar, sugerir empresas ou usar Markdown fora do JSON.\n\nSAÍDA: Retorne estritamente um objeto JSON puro.\n\nSTRINGS: As queries hierárquicas devem ser uma única string separada por vírgulas.\n\nNULL: Nunca utilize valores nulos. Se um vetor não for aplicável, a query deve ser uma string vazia e o peso 0.0.\n\nSCHEMA DE SAÍDA OBRIGATÓRIO\nJSON\n{\n  \"query_original\": \"string\",\n  \"produtos\": \"string (Hierarquia: Específico -> Geral)\",\n  \"servicos\": \"string (Hierarquia: Específico -> Geral)\",\n  \"peso_produtos\": 0.0,\n  \"peso_servicos\": 0.0,\n  \"Modelo_Negocio\": \"string\"\n}\nEXEMPLOS DE REFERÊNCIA\nInput: \"Pé Emborrachado Preto 12,7 x 3,6 x 7,9 mm Tipo F1 Heyco G2024\"\nOutput:\n{\n\"query_original\": \"Pé Emborrachado Preto 12,7 x 3,6 x 7,9 mm Tipo F1 Heyco G2024\",\n\"produtos\": \"Pé Emborrachado Preto 12,7 x 3,6 x 7,9 mm Tipo F1 Heyco G2024, Pé Emborrachado Preto 12,7 x 3,6 x 7,9 mm Tipo F1, Pé Emborrachado Heyco G2024, Pé Emborrachado Heyco, Pé Emborrachado\",\n\"servicos\": \"\",\n\"peso_produtos\": 1.0,\n\"peso_servicos\": 0.0,\n\"Modelo_Negocio\": \"Fabricante\"\n}\n\nInput: \"Manutenção de geradores a diesel Stemac 500kVA com fornecimento de peças\"\nOutput:\n{\n\"query_original\": \"Manutenção de geradores a diesel Stemac 500kVA com fornecimento de peças\",\n\"produtos\": \"Peças para gerador a diesel Stemac 500kVA, filtros e correias gerador Stemac, componentes para gerador a diesel\",\n\"servicos\": \"Manutenção de geradores a diesel Stemac 500kVA, Manutenção preventiva de geradores a diesel, Manutenção de geradores\",\n\"peso_produtos\": 0.3,\n\"peso_servicos\": 0.7,\n\"Modelo_Negocio\": \"Assistência Técnica\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-2032,-2720],"id":"f424952b-391e-4cca-8c08-a153bf78b634","name":"AI Agent","retryOnFail":true,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-2112,-2544],"id":"49abbad0-8999-42f9-b5db-68ffb3e418a5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"93e05596-ef99-405a-84d7-569dedc5a48d","name":"output.response.output.query_original","value":"={{ $json.output.response.output.query_original }}","type":"string"},{"id":"1b241d3e-c5f8-4d29-8ddc-1a450a5b4be2","name":"output.response.output.produtos","value":"={{ $json.output.response.output.produtos }}","type":"string"},{"id":"b5d62468-db4b-4c93-aaf0-5d06a071c79a","name":"output.response.output.servicos","value":"={{ $json.output.response.output.servicos }}","type":"string"},{"id":"e709ee64-3dcf-4cf9-acf2-3fa36036e2b1","name":"output.response.output.peso_produtos","value":"={{ $json.output.response.output.peso_produtos }}","type":"number"},{"id":"ee1f971e-c776-4e64-96cb-c181d7dfc998","name":"output.response.output.peso_servicos","value":"={{ $json.output.response.output.peso_servicos }}","type":"number"},{"id":"ef8b3ebc-0906-40d8-9996-ccb56f7a8017","name":"output.response.output.Modelo_Negocio","value":"={{ $json.output.response.output.Modelo_Negocio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1648,-2736],"id":"7c8f2a23-b24c-49ab-9ff0-06a58a0fbf26","name":"Edit Fields2"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"v_servico\": {{ $json.vector_queries.segmento }},\n    \"v_produtos\": {{ $json.vector_queries.produtos }}\n  },\n  \"weights\": {\n    \"servico\": {{ $json.vector_weights.servico }},\n    \"produtos\": {{ $json.vector_weights.produtos }}\n  },\n  \"filter\": {\n    \"modelo_negocio\": \"{{ $json.payload_values.Modelo_Negocio }}\"\n  },\n  \"limit_per_vector\": 10,\n  \"final_limit\": 20\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1472,-2736],"id":"1f2c5b19-a351-42e9-89ad-3810b5dc36db","name":"HTTP Request1"},{"parameters":{"jsCode":"const VECTOR_SIZE = 1536;\n\nfunction neutralVector() {\n  return new Array(VECTOR_SIZE).fill(0);\n}\n\nfunction clean(value) {\n  if (!value) return \"\";\n\n  if (typeof value === \"string\") {\n    return value.trim();\n  }\n\n  if (Array.isArray(value)) {\n    return value\n      .flatMap(v => {\n        if (!v) return [];\n        if (typeof v === \"string\") return v;\n        if (typeof v === \"object\") return Object.values(v);\n        return [];\n      })\n      .filter(Boolean)\n      .join(\" \")\n      .trim();\n  }\n\n  if (typeof value === \"object\") {\n    return Object.values(value)\n      .flat()\n      .filter(Boolean)\n      .join(\" \")\n      .trim();\n  }\n\n  return \"\";\n}\n\n// Se texto estiver vazio → retorna vetor neutro\nfunction safeVector(text) {\n  if (!text || typeof text !== \"string\" || text.trim().length === 0) {\n    return neutralVector();\n  }\n  return text; // mantém texto para embedding posterior\n}\n\nreturn items.map(item => {\n  const fp = item.json.full_profile || {};\n\n  const produtosRaw = fp.ofertas?.produtos || [];\n  const servicosRaw = fp.ofertas?.servicos || [];\n  const descricao = fp.identidade?.descricao || \"\";\n  const publico = fp.classificacao?.publico_alvo || \"\";\n  const clientes = fp.reputacao?.lista_clientes || [];\n  const certificacoes = fp.reputacao?.certificacoes || [];\n\n  const produtosClean = clean(produtosRaw);\n  const servicosClean = clean(servicosRaw);\n  const descricaoClean = clean(descricao);\n  const publicoClean = clean(publico);\n  const clientesClean = clean(clientes);\n\n  return {\n    json: {\n\n      // =====================\n      // VETORES\n      // =====================\n\n      \"vetor.servicos\": safeVector(servicosClean),\n      \"vetor.produtos\": safeVector(produtosClean),\n      \"vetor.descricao\": safeVector(descricaoClean),\n      \"vetor.publico\": safeVector(publicoClean),\n      \"vetor.clientes\": safeVector(clientesClean),\n\n      // =====================\n      // PAYLOAD\n      // =====================\n\n      \"payload.produtos\": produtosClean,\n      \"payload.servicos\": servicosClean,\n      \"payload.descricao\": descricaoClean,\n      \"payload.publico\": publicoClean,\n      \"payload.clientes\": clientesClean,\n      \"payload.certificacoes\": clean(certificacoes),\n      \"payload.uf\": clean(fp.identidade?.uf),\n      \"payload.cnpj\": clean(fp.identidade?.cnpj),\n      \"payload.cidade\": clean(fp.identidade?.municipio),\n      \"payload.nome_empresa\": clean(fp.identidade?.nome_empresa),\n      \"payload.modelo_negocio\": clean(fp.classificacao?.modelo_negocio),\n      \"payload.industria\": clean(fp.classificacao?.industria)\n\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3776,-1456],"id":"f23c1f42-9c9e-419c-bc98-e46e1b3643fa","name":"Code in JavaScript1"},{"parameters":{"resource":"point","operation":"upsertPoints","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-7-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-7-BM25"},"points":"=[\n  {\n    \"id\": {{ Math.floor(Math.random() * 1000000000000) }},\n    \"payload\": {\n      \"modelo_negocio\": \"{{ $('set_profile_data').item.json.payload.modelo_negocio }}\",\n      \"nome_empresa\": \"{{ $('set_profile_data').item.json.payload.nome_empresa }}\",\n      \"cnpj\": \"{{ $('set_profile_data').item.json.payload.cnpj }}\",\n      \"complete_profile\": \"descricao:{{ $('set_profile_data').item.json.payload.descricao }} produtos:{{ $('set_profile_data').item.json.payload.produto }} servicos:{{ $('set_profile_data').item.json.payload.servico }} publico_alvo:{{ $('set_profile_data').item.json.payload.publico }} clientes:{{ $('set_profile_data').item.json.payload.cliente }} certificacoes:{{ $('set_profile_data').item.json.payload.certificacoes }}\",\n      \"cidade\": \"{{ $('set_profile_data').item.json.payload.cidade }}\",\n      \"uf\": \"{{ $('set_profile_data').item.json.payload.uf }}\"\n    },\n    \"vectors\": {\n      \"v_produto\":[{{ $json.vector_produto }}],\n      \"v_servico\":[{{ $json.vector_servico }}],\n      \"v_descricao\":[{{ $json.vector_descricao }}],\n      \"v_cliente\":[{{ $json.vector_cliente }}],\n      \"v_publico\":[{{ $json.vector_publico }}]\n    }\n  }\n]\n","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-576,-1008],"id":"5f16b00a-ae13-44cb-82ba-faaed5dd6697","name":"Upsert Points1","executeOnce":false,"credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"createCollection","collectionName":"mvp_busca_fornecedor-7-BM25","vectors":"{\n  \"v_produto\": { \"size\": 1536, \"distance\": \"Cosine\" },\n  \"v_servico\": { \"size\": 1536, \"distance\": \"Cosine\" },\n  \"v_descricao\": { \"size\": 1536, \"distance\": \"Cosine\" },\n  \"v_publico\": { \"size\": 1536, \"distance\": \"Cosine\" },\n  \"v_cliente\": { \"size\": 1536, \"distance\": \"Cosine\" }\n  \n}\n\n\n\n\n\n","shardNumber":{},"replicationFactor":{},"writeConsistencyFactor":{},"onDiskPayload":true,"requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-864,-2800],"id":"208a995a-56e3-4e68-8351-21eeffdca28b","name":"Create Collection","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"operation":"deleteCollection","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-6-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-6-BM25"},"requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-640,-2800],"id":"f221314d-4a2b-4e38-bafd-b31ea2f35709","name":"Delete Collection","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"action\": \"parse\",\n  \"response\": {\n    \"output\": {\n      \"query_original\": \"Pé Emborrachado Preto 12,7 x 3,6 x 7,9 mm Tipo F1 Heyco G2024\",\n      \"produtos\": \"Pé Emborrachado Preto 12,7 x 3,6 x 7,9 mm Tipo F1 Heyco G2024, Pé Emborrachado Preto 12,7 x 3,6 x 7,9 mm Tipo F1 Heyco, Pé Emborrachado Heyco G2024, Pé Emborrachado Heyco, Pé Emborrachado\",\n      \"servicos\": \"\",\n      \"peso_produtos\": 1,\n      \"peso_servicos\": 0,\n      \"Modelo_Negocio\": \"Fabricante\"\n    }\n  }\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1904,-2528],"id":"bed377be-a42d-4847-8b91-27520061a96f","name":"Structured Output Parser1"},{"parameters":{"assignments":{"assignments":[{"id":"9411ab04-64c4-450e-b8b2-967ea3cac249","name":"industria_enum","value":"=[\n    \"Administração de Condomínios\",\n    \"Saúde\",\n    \"Contabilidade\",\n    \"Construção Civil\",\n    \"Logística Internacional\",\n    \"Cosméticos\",\n    \"Segurança Eletrônica\",\n    \"Reciclagem Industrial\",\n    \"Indústria de Ferragens\",\n    \"Locação para Eventos\",\n    \"Serviços Elétricos\",\n    \"Manutenção Predial e Facilities\" ]","type":"array"},{"id":"ab88ba59-95f8-43a7-a81f-1d6b85eb200e","name":"modelo_negocio_enum","value":"[     \"Prestador de Serviços\",     \"Fabricante\",     \"B2B\",     \"B2C\",     \"Locação\",     \"Indústria\",     \"Distribuidor\",     \"Comércio\",     \"Plataforma Digital\"   ]","type":"array"},{"id":"4d3a7847-eac5-4de8-a8c4-6ce9a98baff1","name":"parametros.descricao","value":"={{ $json.parametros.descricao || \"Não especificado\" }}","type":"string"},{"id":"f58515be-e1c4-4f0b-9e6e-f693904d0b95","name":"parametros.subcategoria","value":"={{ $json.parametros.subcategoria || \"Não especificado\"}}","type":"string"},{"id":"aaed70ce-4a03-4dc1-acc7-c208f04b2592","name":"parametros.segmento","value":"={{ $json.parametros.segmento || \"Não especificado\"}}","type":"string"},{"id":"002d6448-ec59-4bbb-9deb-fefb0f5756fc","name":"parametros.categoria","value":"={{ $json.parametros.categoria || \"Não especificado\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2736,-2720],"id":"02a0e8eb-b4ff-42ac-a355-471dc94d707d","name":"Edit Fields"},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-7-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-7-BM25"},"fieldName":"modelo_negocio","fieldSchema":"{\n  \"type\": \"keyword\"\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-672,-2416],"id":"9d21cd7a-a73a-4ec8-91a6-0e377a68f15d","name":"modelo_negocio","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-6-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-6-BM25"},"fieldName":"produtos","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-896,-2144],"id":"82191e7f-4c29-43b8-9053-fbab0403fa72","name":"produtos","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-6-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-6-BM25"},"fieldName":"servicos","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-720,-2144],"id":"ade1e36f-2f02-40c6-9eb8-09330cd20d18","name":"servicos","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-7-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-7-BM25"},"fieldName":"cnpj","fieldSchema":"{\n  \"type\": \"keyword\"\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-848,-2416],"id":"30b6f57c-c48e-4f20-bffd-a0231170fe69","name":"cnpj","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-7-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-7-BM25"},"fieldName":"nome_empresa","fieldSchema":"{\n  \"type\": \"keyword\"\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-128,-2416],"id":"bcfd5a30-650d-4748-a216-85d877752bd5","name":"nome_empresa","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-6-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-6-BM25"},"fieldName":"descricao","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-544,-2144],"id":"a3e428a4-4f87-4787-aa46-3947dfe12e48","name":"descricao","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"content":"## Criar/Deletar Colection\n","height":272,"width":560,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-976,-2896],"id":"c0ea6235-d7a5-4ce0-9384-b1563c00d205","name":"Sticky Note2"},{"parameters":{"content":"## Criar Indices para cada payload\n","height":928,"width":1360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-976,-2560],"id":"1fe3e427-a5ef-4a59-896a-07e5b04d1019","name":"Sticky Note3"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1984,-2368],"id":"3e95cbba-b112-4f94-8b27-8b32128695d5","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2352,-2720],"id":"cfaf0cc1-fecb-4f1a-b9ad-59c24a50ceb5","name":"Loop Over Items"},{"parameters":{"maxItems":50},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2544,-2720],"id":"359b48ba-251e-4a07-ae57-2636a7258439","name":"Limit"},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-7-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-7-BM25"},"fieldName":"uf","fieldSchema":"{\n  \"type\": \"keyword\"\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-496,-2416],"id":"e2d67342-d2d4-4cc0-8397-a20b234ed8e9","name":"UF","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-7-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-7-BM25"},"fieldName":"cidade","fieldSchema":"{\n  \"type\": \"keyword\"\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-304,-2416],"id":"310a79bc-dfd0-4782-bd0c-c8c4389c1fb2","name":"Cidade","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-6-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-6-BM25"},"fieldName":"clientes","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-368,-2144],"id":"d0c22541-7777-4dff-b576-e66ff4009e7d","name":"clientes","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-6-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-6-BM25"},"fieldName":"publico","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-176,-2144],"id":"317f84c0-d5d4-421d-9cbf-e6cf0eb1d91f","name":"publico","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-6-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-6-BM25"},"fieldName":"certificacoes","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[16,-2144],"id":"ce55b0e3-e783-4c8d-b9eb-4ad5941e865a","name":"certificacoes","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"content":"## Keyword (Match)\n","height":224,"width":976,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-912,-2480],"id":"01f37df9-fa96-4c95-bc77-94706faa53ff","name":"Sticky Note4"},{"parameters":{"content":"## Text (BM25)\n","height":480,"width":1120,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-928,-2208],"id":"fcda1875-7b86-440c-92de-debd7706427b","name":"Sticky Note5"},{"parameters":{"assignments":{"assignments":[{"id":"fdb55e4d-a58d-4534-9ecd-bbc76f84f33e","name":"vetor.produto","value":"={{ $json['vetor.produtos'] }}","type":"string"},{"id":"cbe20fe5-5b5d-4ffe-bfa1-e3bb62909cb7","name":"vetor.servico","value":"={{ $json['vetor.servicos'] }}","type":"string"},{"id":"aff3e246-8fd2-4404-926b-3c5b2470bd69","name":"vetor.descricao","value":"={{ $json['vetor.descricao'] }}","type":"string"},{"id":"8682c717-51a8-43df-a0b8-1344823e7075","name":"vetor.publico","value":"={{ $json['vetor.publico'] }}","type":"string"},{"id":"dce200a5-69d1-4252-a278-9c38fd4ebffb","name":"vetor.cliente","value":"={{ $json['vetor.clientes'] }}","type":"string"},{"id":"ae200dd8-cb69-4b6e-9fcb-d0642493166a","name":"payload.produto","value":"={{ $json['payload.produtos'] }}","type":"string"},{"id":"6b0d0558-4132-4cf4-a437-080a060d7a9e","name":"payload.servico","value":"={{ $json['payload.servicos'] }}","type":"string"},{"id":"06dcf5ea-cb4f-4053-88d8-312275c83842","name":"payload.descricao","value":"={{ $json['payload.descricao'] }}","type":"string"},{"id":"bb8762d2-e215-4ef1-9da3-0a26274511cb","name":"payload.publico","value":"={{ $json['payload.publico'] }}","type":"string"},{"id":"ea92bac7-2110-4d78-8cb2-a621cb762c64","name":"payload.cliente","value":"={{ $json['payload.clientes'] }}","type":"string"},{"id":"544dbd2b-ce6d-4da2-ad1a-0bd4a26ab97c","name":"payload.certificacoes","value":"={{ $json['payload.certificacoes'] }}","type":"string"},{"id":"40f8fe7d-ee08-41a3-beef-1483d8ad4fee","name":"payload.uf","value":"={{ $json['payload.uf'] }}","type":"string"},{"id":"1a18c338-0bdf-4357-825b-1105a75a0b01","name":"payload.cnpj","value":"={{ $json['payload.cnpj'] }}","type":"string"},{"id":"0fa5ac0a-d1f0-4571-b1f0-b905cf62b9b7","name":"payload.descricao","value":"={{ $json['payload.descricao'] }}","type":"string"},{"id":"7c4fd9c6-4dc1-46ae-95ac-b7a2eed0f932","name":"payload.cidade","value":"={{ $json['payload.cidade'] }}","type":"string"},{"id":"b79a60ee-a387-4cb9-8fc5-dac2be35d87c","name":"payload.nome_empresa","value":"={{ $json['payload.nome_empresa'] }}","type":"string"},{"id":"3985d39b-3968-4a94-9777-1e6de0acf3aa","name":"payload.modelo_negocio","value":"={{ $json['payload.modelo_negocio'] }}","type":"string"},{"id":"294495f1-5df4-405f-8de4-e73f119152d5","name":"payload.publico","value":"={{ $json['payload.publico'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2880,-896],"id":"eea3ae57-0a73-4184-90a9-a6fb14ee0deb","name":"set_payload+Vector"},{"parameters":{"assignments":{"assignments":[{"id":"5134eb61-4da6-46d4-b4d2-20e4671a9cea","name":"vetor","value":"={{ $json.vetor }}","type":"object"},{"id":"e20b8d29-205a-4d30-b7b3-33c83c9b93f0","name":"payload","value":"={{ $json.payload }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2656,-896],"id":"8408f79e-9ed4-4c3c-9d8b-971601dc2c80","name":"set_profile_data"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"1bc0fff2-40ca-460e-abca-4ca790103948","leftValue":"={{ $json.vetor.produto }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"9d4f8a13-39f1-47dd-b47d-b3c1e95324f5","leftValue":"={{ $json.vetor.servico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"5f4e6285-accd-4fd1-988e-5b1d837103c1","leftValue":"={{ $json.vetor.descricao }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"b4e66d0a-bb87-4983-a761-84b382e4f444","leftValue":"={{ $json.vetor.publico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"23eb328f-a455-439d-8c10-5a83f00f8a34","leftValue":"={{ $json.vetor.cliente }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"looseTypeValidation":true,"options":{"ignoreCase":false}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-3360,-1456],"id":"691fe488-74f7-40f0-9557-4c3ae6361f59","name":"Filter"},{"parameters":{"operation":"executeQuery","query":"WITH tokens_por_perfil AS (\n  SELECT sc.cnpj_basico,\n         SUM(sc.token_count) AS total_tokens\n  FROM \"busca_fornecedor\".\"scraped_chunks\" sc\n  WHERE sc.perfil_processado = true\n  GROUP BY sc.cnpj_basico\n), top_perfis AS (\n  SELECT cnpj_basico, total_tokens\n  FROM tokens_por_perfil\n  ORDER BY total_tokens DESC\n  LIMIT 5000\n)\nSELECT tp.cnpj_basico,\n       tp.total_tokens,\n       cp.id AS company_profile_id,\n       cp.nome_empresa,\n       cp.uf,\n       cp.municipio\nFROM top_perfis tp\nLEFT JOIN \"busca_fornecedor\".\"company_profile\" cp\n  ON cp.cnpj = tp.cnpj_basico;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4144,-1456],"id":"d310934c-e98d-4643-be60-c22ab1204fa5","name":"Execute a SQL query","credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"company_profile","mode":"list","cachedResultName":"company_profile"},"returnAll":true,"where":{"values":[{"column":"id","value":"={{ $json.company_profile_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3952,-1456],"id":"c5656459-c2a9-4eeb-aca3-c0273dc0a6c1","name":"Select rows from a table","credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"1bc0fff2-40ca-460e-abca-4ca790103948","leftValue":"={{ $json.payload.modelo_negocio }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"looseTypeValidation":true,"options":{"ignoreCase":false}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-3168,-1456],"id":"e83ba60f-3a40-4b5b-95cd-daba5e7d060d","name":"Filter1"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.servico }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1920,-1712],"id":"6245ed12-2486-46b0-a94b-9642b05f6445","name":"serviço5","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.produto }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1904,-1312],"id":"b4f13942-ed9e-433f-9e3e-956d09e625af","name":"produto1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.descricao }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1872,-960],"id":"175f9635-521a-483d-a5d9-d9bcc914f3c1","name":"descricao1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.publico }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1856,-640],"id":"d300df7a-dba3-4071-a1ee-651acbc94b01","name":"publico1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.cliente }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1856,-304],"id":"7da9547c-ded1-4904-817a-668729018c0f","name":"cliente","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":5,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-832,-1056],"id":"3b3704c4-72b5-4313-a185-853522841b87","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.servico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2160,-1632],"id":"26a9a796-cc73-49e7-b656-c459c45bd586","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.payload.produto }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2144,-1232],"id":"a33ea9d8-c893-4fb4-bf55-9d1607f763fb","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.payload.descricao }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2144,-896],"id":"033fd3e5-1e0f-47f1-ba26-acf1c1acd8fe","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.payload.publico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2128,-560],"id":"f5f0d4d7-9f42-4374-a5d7-070fe31ca6ed","name":"If4"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.vetor.cliente }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1856,-144],"id":"41ab7fb8-1633-462a-80be-458b4ce176f6","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1648,-256],"id":"4e8263ee-9649-479a-8d66-c8ba03f5ce2d","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_cliente","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1440,-256],"id":"7874bb21-61c9-4cc8-94de-f2c6e54f8efb","name":"Edit Fields5"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1632,-576],"id":"fb04fcdb-e315-4f0f-a2f8-bf048ac363ca","name":"Edit Fields6"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_publico","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1440,-576],"id":"36df5891-52a0-4ddb-8182-cdb7264c0261","name":"Edit Fields7"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.vetor.publico }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1856,-480],"id":"71fc161e-afc7-4365-ae0e-b9909e0b652a","name":"Edit Fields10"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1648,-912],"id":"ccf9e47a-1943-476f-85f2-a1dd839d49ea","name":"Edit Fields11"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_descricao","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1456,-912],"id":"1e938964-c4bf-43e7-93e4-65e9ed4100f2","name":"Edit Fields12"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.vetor.descricao }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1872,-832],"id":"7f562375-3920-4340-bca9-62c8f30aced0","name":"Edit Fields13"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.payload.cliente }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2144,-224],"id":"d2a15189-702f-4084-96f5-4bc8bc2bb27d","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1712,-1248],"id":"f765c3d3-f737-4a55-b755-de0510ed395e","name":"Edit Fields14"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_produto","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1520,-1248],"id":"5b1cf525-003e-4721-9ec0-566c57dc500d","name":"Edit Fields15"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.vetor.produto }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1904,-1136],"id":"705d212f-9b25-4d7a-8a1c-1d6dfa87460d","name":"Edit Fields16"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1696,-1648],"id":"72dfe10b-2e93-45a9-91e2-345d0b1f1211","name":"Edit Fields17"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_servico","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1504,-1648],"id":"8a415121-f025-43c2-8143-c5b307d93476","name":"Edit Fields18"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.vetor.servico }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1920,-1504],"id":"39afd9bf-df7d-41f0-9cf1-dcb32384fc59","name":"Edit Fields19"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-4096,-1024],"id":"80f1abc9-0dda-4d61-a155-8ce0602536ab","name":"When Executed by Another Workflow"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1152,-2288],"id":"43415002-f13b-4ae7-9f4d-af6f2ee7b937","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"const VECTOR_SIZE = 1536;\n\nfunction neutralVector() {\n  return new Array(VECTOR_SIZE).fill(0);\n}\n\nfunction clean(value) {\n  if (!value) return \"\";\n\n  if (typeof value === \"string\") {\n    return value.trim();\n  }\n\n  if (Array.isArray(value)) {\n    return value\n      .flatMap(v => {\n        if (!v) return [];\n        if (typeof v === \"string\") return v;\n        if (typeof v === \"object\") return Object.values(v);\n        return [];\n      })\n      .filter(Boolean)\n      .join(\" \")\n      .trim();\n  }\n\n  if (typeof value === \"object\") {\n    return Object.values(value)\n      .flat()\n      .filter(Boolean)\n      .join(\" \")\n      .trim();\n  }\n\n  return \"\";\n}\n\n// Se texto estiver vazio → retorna vetor neutro\nfunction safeVector(text) {\n  if (!text || typeof text !== \"string\" || text.trim().length === 0) {\n    return neutralVector();\n  }\n  return text; // mantém texto para embedding posterior\n}\n\nreturn items.map(item => {\n  const fp = item.json.full_profile || {};\n\n  const produtosRaw = fp.ofertas?.produtos || [];\n  const servicosRaw = fp.ofertas?.servicos || [];\n  const descricao = fp.identidade?.descricao || \"\";\n  const publico = fp.classificacao?.publico_alvo || \"\";\n  const clientes = fp.reputacao?.lista_clientes || [];\n  const certificacoes = fp.reputacao?.certificacoes || [];\n\n  const produtosClean = clean(produtosRaw);\n  const servicosClean = clean(servicosRaw);\n  const descricaoClean = clean(descricao);\n  const publicoClean = clean(publico);\n  const clientesClean = clean(clientes);\n\n  return {\n    json: {\n\n      // =====================\n      // VETORES\n      // =====================\n\n      \"vetor.servicos\": safeVector(servicosClean),\n      \"vetor.produtos\": safeVector(produtosClean),\n      \"vetor.descricao\": safeVector(descricaoClean),\n      \"vetor.publico\": safeVector(publicoClean),\n      \"vetor.clientes\": safeVector(clientesClean),\n\n      // =====================\n      // PAYLOAD\n      // =====================\n\n      \"payload.produtos\": produtosClean,\n      \"payload.servicos\": servicosClean,\n      \"payload.descricao\": descricaoClean,\n      \"payload.publico\": publicoClean,\n      \"payload.clientes\": clientesClean,\n      \"payload.certificacoes\": clean(certificacoes),\n      \"payload.uf\": clean(fp.identidade?.uf),\n      \"payload.cnpj\": clean(fp.identidade?.cnpj),\n      \"payload.cidade\": clean(fp.identidade?.municipio),\n      \"payload.nome_empresa\": clean(fp.identidade?.nome_empresa),\n      \"payload.modelo_negocio\": clean(fp.classificacao?.modelo_negocio),\n      \"payload.industria\": clean(fp.classificacao?.industria)\n\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3680,-1024],"id":"ad2331c2-6d0c-4329-b071-f0000a4f503b","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"1bc0fff2-40ca-460e-abca-4ca790103948","leftValue":"={{ $json['payload.produtos'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"9d4f8a13-39f1-47dd-b47d-b3c1e95324f5","leftValue":"={{ $json['payload.servicos'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"5f4e6285-accd-4fd1-988e-5b1d837103c1","leftValue":"={{ $json['payload.descricao'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"b4e66d0a-bb87-4983-a761-84b382e4f444","leftValue":"={{ $json['payload.publico'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"23eb328f-a455-439d-8c10-5a83f00f8a34","leftValue":"={{ $json['payload.clientes'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"looseTypeValidation":true,"options":{"ignoreCase":false}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-3472,-1024],"id":"95f20ed9-d716-4a38-a906-03fb9266032e","name":"Filter2"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"company_profile","mode":"list","cachedResultName":"company_profile"},"returnAll":true,"where":{"values":[{"column":"id","value":"={{ $json.company_profile_id }}"},{"column":"error","condition":"IS NULL"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3872,-1024],"id":"2d1f8b42-be67-4d31-8871-e9580cb7c7af","name":"Select rows from a table1","credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"1bc0fff2-40ca-460e-abca-4ca790103948","leftValue":"={{ $json['payload.modelo_negocio'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"looseTypeValidation":true,"options":{"ignoreCase":false}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-3296,-1024],"id":"8201a0af-c33c-43d3-b38f-d484e704cec8","name":"Filter3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-3088,-1024],"id":"3d09d9b7-e71c-4047-abf6-9720242d8c05","name":"Loop Over Items1"},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-7-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-7-BM25"},"fieldName":"complete_profile","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-880,-1904],"id":"fb2bf322-1741-4502-ace6-402ae8b2bcc9","name":"complete_profile","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[]]},"Upsert Points1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Create Collection":{"main":[[]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Edit Fields":{"main":[[{"node":"Limit","type":"main","index":0}]]},"modelo_negocio":{"main":[[{"node":"UF","type":"main","index":0}]]},"produtos":{"main":[[{"node":"servicos","type":"main","index":0}]]},"servicos":{"main":[[{"node":"descricao","type":"main","index":0}]]},"cnpj":{"main":[[{"node":"modelo_negocio","type":"main","index":0}]]},"nome_empresa":{"main":[[]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Structured Output Parser1","type":"ai_languageModel","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"AI Agent","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"UF":{"main":[[{"node":"Cidade","type":"main","index":0}]]},"Cidade":{"main":[[{"node":"nome_empresa","type":"main","index":0}]]},"descricao":{"main":[[{"node":"clientes","type":"main","index":0}]]},"clientes":{"main":[[{"node":"publico","type":"main","index":0}]]},"publico":{"main":[[{"node":"certificacoes","type":"main","index":0}]]},"set_payload+Vector":{"main":[[{"node":"set_profile_data","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[]]},"serviço5":{"main":[[{"node":"Edit Fields17","type":"main","index":0}],[]]},"set_profile_data":{"main":[[{"node":"If","type":"main","index":0},{"node":"If2","type":"main","index":0},{"node":"If3","type":"main","index":0},{"node":"If4","type":"main","index":0},{"node":"If1","type":"main","index":0}]]},"cliente":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"descricao1":{"main":[[{"node":"Edit Fields11","type":"main","index":0}]]},"produto1":{"main":[[{"node":"Edit Fields14","type":"main","index":0}]]},"publico1":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Upsert Points1","type":"main","index":0}]]},"If":{"main":[[{"node":"serviço5","type":"main","index":0}],[{"node":"Edit Fields19","type":"main","index":0}]]},"If2":{"main":[[{"node":"produto1","type":"main","index":0}],[{"node":"Edit Fields16","type":"main","index":0}]]},"If3":{"main":[[{"node":"descricao1","type":"main","index":0}],[{"node":"Edit Fields13","type":"main","index":0}]]},"If4":{"main":[[{"node":"publico1","type":"main","index":0}],[{"node":"Edit Fields10","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Edit Fields6":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Edit Fields10":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Edit Fields11":{"main":[[{"node":"Edit Fields12","type":"main","index":0}]]},"Edit Fields13":{"main":[[{"node":"Edit Fields12","type":"main","index":0}]]},"If1":{"main":[[{"node":"cliente","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Edit Fields12":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Edit Fields14":{"main":[[{"node":"Edit Fields15","type":"main","index":0}]]},"Edit Fields16":{"main":[[{"node":"Edit Fields15","type":"main","index":0}]]},"Edit Fields17":{"main":[[{"node":"Edit Fields18","type":"main","index":0}]]},"Edit Fields19":{"main":[[{"node":"Edit Fields18","type":"main","index":0}]]},"Edit Fields15":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Edit Fields18":{"main":[[{"node":"Merge","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Select rows from a table1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[]]},"Code in JavaScript":{"main":[[{"node":"Filter2","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"Filter3","type":"main","index":0}]]},"Select rows from a table1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Filter3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"set_payload+Vector","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"company_profile_id":203008},"pairedItem":{"item":0}},{"json":{"company_profile_id":139444},"pairedItem":{"item":1}},{"json":{"company_profile_id":152061},"pairedItem":{"item":2}},{"json":{"company_profile_id":212374},"pairedItem":{"item":3}},{"json":{"company_profile_id":109355},"pairedItem":{"item":4}},{"json":{"company_profile_id":45385},"pairedItem":{"item":5}},{"json":{"company_profile_id":105309},"pairedItem":{"item":6}},{"json":{"company_profile_id":156296},"pairedItem":{"item":7}},{"json":{"company_profile_id":28911},"pairedItem":{"item":8}},{"json":{"company_profile_id":96698},"pairedItem":{"item":9}}]},"versionId":"e746a0c4-f448-46bf-a962-56f4512a3996","activeVersionId":"e746a0c4-f448-46bf-a962-56f4512a3996","triggerCount":0,"shared":[{"updatedAt":"2025-10-15T18:03:49.468Z","createdAt":"2025-10-15T18:03:49.468Z","role":"workflow:owner","workflowId":"TDYKmKr4o7CWOfuE","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-03-04T22:38:48.543Z","createdAt":"2026-03-04T22:37:09.207Z","versionId":"e746a0c4-f448-46bf-a962-56f4512a3996","workflowId":"TDYKmKr4o7CWOfuE","nodes":[{"parameters":{"content":"## Testar Busca","height":688,"width":1536,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2816,-2912],"id":"24cb91bc-ccf2-4c0f-8859-8e9b104051d0","name":"Sticky Note1"},{"parameters":{"promptType":"define","text":"=consulta_usuário: \n- Descrição: {{ $json.parametros.descricao }}  \n- Segmento: {{ $json.parametros.segmento }}\n- Categoria: {{ $json.parametros.categoria }}\n- Subcategoria: {{ $json.parametros.subcategoria }} \n","hasOutputParser":true,"options":{"systemMessage":"=Prompt: Estruturador de Consulta Semântica B2B\nROLE\nVocê é um Especialista em Engenharia de Busca e Estruturação de Dados B2B. Sua especialidade é decompor intenções de compra complexas em queries otimizadas para motores de busca vetorial (milvus/pinecone) e filtros de metadados.\n\nTASK\nSua tarefa é converter uma consulta de comprador em linguagem natural em um objeto JSON técnico, realizando a expansão hierárquica de termos e a distribuição de pesos probabilísticos.\n\nDIRETRIZES DE PENSAMENTO (CHAIN-OF-THOUGHT)\nAnálise de Intenção: Identifique se o foco é a aquisição de um bem físico (Produto) ou a contratação de uma atividade (Serviço).\n\nDecomposição Hierárquica: Para as queries de produtos e servicos, você deve aplicar a técnica de \"Dilation Search\":\n\nNível 1 (Máxima Especificidade): Inclua SKU, modelo, marca, medidas técnicas e especificações exatas.\n\nNível 2 (Atributos Relevantes): Remova o modelo/SKU, mantenha marca e características principais.\n\nNível 3 (Categoria Técnica): Mantenha apenas o nome técnico do item e material/tipo.\n\nNível 4 (Generalista): Apenas o nome do item ou serviço raiz.\n\nEquilíbrio de Pesos:\n\nDistribua 1.0 entre peso_produtos e peso_servicos.\n\nSe for um produto puro com instalação opcional, use 0.9 para produtos e 0.1 para serviços.\n\nSe for puramente um serviço, use 1.0 para serviços e 0.0 para produtos.\n\nREGRAS DE NEGÓCIO (PAYLOAD)\nO campo Modelo_Negocio deve ser preenchido OBRIGATORIAMENTE com um dos valores abaixo:\n[\"Fabricante\", \"Distribuidor\", \"Atacadista\", \"Varejista\", \"Revenda\", \"Prestador de Serviços\", \"Assistência Técnica\", \"Locação\", \"Importadora\", \"SaaS\", \"Consultoria\", \"Logística\"]\n\nRESTRIÇÕES CRÍTICAS\nPROIBIDO: Conversar, explicar, sugerir empresas ou usar Markdown fora do JSON.\n\nSAÍDA: Retorne estritamente um objeto JSON puro.\n\nSTRINGS: As queries hierárquicas devem ser uma única string separada por vírgulas.\n\nNULL: Nunca utilize valores nulos. Se um vetor não for aplicável, a query deve ser uma string vazia e o peso 0.0.\n\nSCHEMA DE SAÍDA OBRIGATÓRIO\nJSON\n{\n  \"query_original\": \"string\",\n  \"produtos\": \"string (Hierarquia: Específico -> Geral)\",\n  \"servicos\": \"string (Hierarquia: Específico -> Geral)\",\n  \"peso_produtos\": 0.0,\n  \"peso_servicos\": 0.0,\n  \"Modelo_Negocio\": \"string\"\n}\nEXEMPLOS DE REFERÊNCIA\nInput: \"Pé Emborrachado Preto 12,7 x 3,6 x 7,9 mm Tipo F1 Heyco G2024\"\nOutput:\n{\n\"query_original\": \"Pé Emborrachado Preto 12,7 x 3,6 x 7,9 mm Tipo F1 Heyco G2024\",\n\"produtos\": \"Pé Emborrachado Preto 12,7 x 3,6 x 7,9 mm Tipo F1 Heyco G2024, Pé Emborrachado Preto 12,7 x 3,6 x 7,9 mm Tipo F1, Pé Emborrachado Heyco G2024, Pé Emborrachado Heyco, Pé Emborrachado\",\n\"servicos\": \"\",\n\"peso_produtos\": 1.0,\n\"peso_servicos\": 0.0,\n\"Modelo_Negocio\": \"Fabricante\"\n}\n\nInput: \"Manutenção de geradores a diesel Stemac 500kVA com fornecimento de peças\"\nOutput:\n{\n\"query_original\": \"Manutenção de geradores a diesel Stemac 500kVA com fornecimento de peças\",\n\"produtos\": \"Peças para gerador a diesel Stemac 500kVA, filtros e correias gerador Stemac, componentes para gerador a diesel\",\n\"servicos\": \"Manutenção de geradores a diesel Stemac 500kVA, Manutenção preventiva de geradores a diesel, Manutenção de geradores\",\n\"peso_produtos\": 0.3,\n\"peso_servicos\": 0.7,\n\"Modelo_Negocio\": \"Assistência Técnica\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-2032,-2720],"id":"f424952b-391e-4cca-8c08-a153bf78b634","name":"AI Agent","retryOnFail":true,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-2112,-2544],"id":"49abbad0-8999-42f9-b5db-68ffb3e418a5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"93e05596-ef99-405a-84d7-569dedc5a48d","name":"output.response.output.query_original","value":"={{ $json.output.response.output.query_original }}","type":"string"},{"id":"1b241d3e-c5f8-4d29-8ddc-1a450a5b4be2","name":"output.response.output.produtos","value":"={{ $json.output.response.output.produtos }}","type":"string"},{"id":"b5d62468-db4b-4c93-aaf0-5d06a071c79a","name":"output.response.output.servicos","value":"={{ $json.output.response.output.servicos }}","type":"string"},{"id":"e709ee64-3dcf-4cf9-acf2-3fa36036e2b1","name":"output.response.output.peso_produtos","value":"={{ $json.output.response.output.peso_produtos }}","type":"number"},{"id":"ee1f971e-c776-4e64-96cb-c181d7dfc998","name":"output.response.output.peso_servicos","value":"={{ $json.output.response.output.peso_servicos }}","type":"number"},{"id":"ef8b3ebc-0906-40d8-9996-ccb56f7a8017","name":"output.response.output.Modelo_Negocio","value":"={{ $json.output.response.output.Modelo_Negocio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1648,-2736],"id":"7c8f2a23-b24c-49ab-9ff0-06a58a0fbf26","name":"Edit Fields2"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"v_servico\": {{ $json.vector_queries.segmento }},\n    \"v_produtos\": {{ $json.vector_queries.produtos }}\n  },\n  \"weights\": {\n    \"servico\": {{ $json.vector_weights.servico }},\n    \"produtos\": {{ $json.vector_weights.produtos }}\n  },\n  \"filter\": {\n    \"modelo_negocio\": \"{{ $json.payload_values.Modelo_Negocio }}\"\n  },\n  \"limit_per_vector\": 10,\n  \"final_limit\": 20\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1472,-2736],"id":"1f2c5b19-a351-42e9-89ad-3810b5dc36db","name":"HTTP Request1"},{"parameters":{"jsCode":"const VECTOR_SIZE = 1536;\n\nfunction neutralVector() {\n  return new Array(VECTOR_SIZE).fill(0);\n}\n\nfunction clean(value) {\n  if (!value) return \"\";\n\n  if (typeof value === \"string\") {\n    return value.trim();\n  }\n\n  if (Array.isArray(value)) {\n    return value\n      .flatMap(v => {\n        if (!v) return [];\n        if (typeof v === \"string\") return v;\n        if (typeof v === \"object\") return Object.values(v);\n        return [];\n      })\n      .filter(Boolean)\n      .join(\" \")\n      .trim();\n  }\n\n  if (typeof value === \"object\") {\n    return Object.values(value)\n      .flat()\n      .filter(Boolean)\n      .join(\" \")\n      .trim();\n  }\n\n  return \"\";\n}\n\n// Se texto estiver vazio → retorna vetor neutro\nfunction safeVector(text) {\n  if (!text || typeof text !== \"string\" || text.trim().length === 0) {\n    return neutralVector();\n  }\n  return text; // mantém texto para embedding posterior\n}\n\nreturn items.map(item => {\n  const fp = item.json.full_profile || {};\n\n  const produtosRaw = fp.ofertas?.produtos || [];\n  const servicosRaw = fp.ofertas?.servicos || [];\n  const descricao = fp.identidade?.descricao || \"\";\n  const publico = fp.classificacao?.publico_alvo || \"\";\n  const clientes = fp.reputacao?.lista_clientes || [];\n  const certificacoes = fp.reputacao?.certificacoes || [];\n\n  const produtosClean = clean(produtosRaw);\n  const servicosClean = clean(servicosRaw);\n  const descricaoClean = clean(descricao);\n  const publicoClean = clean(publico);\n  const clientesClean = clean(clientes);\n\n  return {\n    json: {\n\n      // =====================\n      // VETORES\n      // =====================\n\n      \"vetor.servicos\": safeVector(servicosClean),\n      \"vetor.produtos\": safeVector(produtosClean),\n      \"vetor.descricao\": safeVector(descricaoClean),\n      \"vetor.publico\": safeVector(publicoClean),\n      \"vetor.clientes\": safeVector(clientesClean),\n\n      // =====================\n      // PAYLOAD\n      // =====================\n\n      \"payload.produtos\": produtosClean,\n      \"payload.servicos\": servicosClean,\n      \"payload.descricao\": descricaoClean,\n      \"payload.publico\": publicoClean,\n      \"payload.clientes\": clientesClean,\n      \"payload.certificacoes\": clean(certificacoes),\n      \"payload.uf\": clean(fp.identidade?.uf),\n      \"payload.cnpj\": clean(fp.identidade?.cnpj),\n      \"payload.cidade\": clean(fp.identidade?.municipio),\n      \"payload.nome_empresa\": clean(fp.identidade?.nome_empresa),\n      \"payload.modelo_negocio\": clean(fp.classificacao?.modelo_negocio),\n      \"payload.industria\": clean(fp.classificacao?.industria)\n\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3776,-1456],"id":"f23c1f42-9c9e-419c-bc98-e46e1b3643fa","name":"Code in JavaScript1"},{"parameters":{"resource":"point","operation":"upsertPoints","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-7-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-7-BM25"},"points":"=[\n  {\n    \"id\": {{ Math.floor(Math.random() * 1000000000000) }},\n    \"payload\": {\n      \"modelo_negocio\": \"{{ $('set_profile_data').item.json.payload.modelo_negocio }}\",\n      \"nome_empresa\": \"{{ $('set_profile_data').item.json.payload.nome_empresa }}\",\n      \"cnpj\": \"{{ $('set_profile_data').item.json.payload.cnpj }}\",\n      \"complete_profile\": \"descricao:{{ $('set_profile_data').item.json.payload.descricao }} produtos:{{ $('set_profile_data').item.json.payload.produto }} servicos:{{ $('set_profile_data').item.json.payload.servico }} publico_alvo:{{ $('set_profile_data').item.json.payload.publico }} clientes:{{ $('set_profile_data').item.json.payload.cliente }} certificacoes:{{ $('set_profile_data').item.json.payload.certificacoes }}\",\n      \"cidade\": \"{{ $('set_profile_data').item.json.payload.cidade }}\",\n      \"uf\": \"{{ $('set_profile_data').item.json.payload.uf }}\"\n    },\n    \"vectors\": {\n      \"v_produto\":[{{ $json.vector_produto }}],\n      \"v_servico\":[{{ $json.vector_servico }}],\n      \"v_descricao\":[{{ $json.vector_descricao }}],\n      \"v_cliente\":[{{ $json.vector_cliente }}],\n      \"v_publico\":[{{ $json.vector_publico }}]\n    }\n  }\n]\n","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-576,-1008],"id":"5f16b00a-ae13-44cb-82ba-faaed5dd6697","name":"Upsert Points1","executeOnce":false,"credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"createCollection","collectionName":"mvp_busca_fornecedor-7-BM25","vectors":"{\n  \"v_produto\": { \"size\": 1536, \"distance\": \"Cosine\" },\n  \"v_servico\": { \"size\": 1536, \"distance\": \"Cosine\" },\n  \"v_descricao\": { \"size\": 1536, \"distance\": \"Cosine\" },\n  \"v_publico\": { \"size\": 1536, \"distance\": \"Cosine\" },\n  \"v_cliente\": { \"size\": 1536, \"distance\": \"Cosine\" }\n  \n}\n\n\n\n\n\n","shardNumber":{},"replicationFactor":{},"writeConsistencyFactor":{},"onDiskPayload":true,"requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-864,-2800],"id":"208a995a-56e3-4e68-8351-21eeffdca28b","name":"Create Collection","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"operation":"deleteCollection","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-6-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-6-BM25"},"requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-640,-2800],"id":"f221314d-4a2b-4e38-bafd-b31ea2f35709","name":"Delete Collection","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"action\": \"parse\",\n  \"response\": {\n    \"output\": {\n      \"query_original\": \"Pé Emborrachado Preto 12,7 x 3,6 x 7,9 mm Tipo F1 Heyco G2024\",\n      \"produtos\": \"Pé Emborrachado Preto 12,7 x 3,6 x 7,9 mm Tipo F1 Heyco G2024, Pé Emborrachado Preto 12,7 x 3,6 x 7,9 mm Tipo F1 Heyco, Pé Emborrachado Heyco G2024, Pé Emborrachado Heyco, Pé Emborrachado\",\n      \"servicos\": \"\",\n      \"peso_produtos\": 1,\n      \"peso_servicos\": 0,\n      \"Modelo_Negocio\": \"Fabricante\"\n    }\n  }\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1904,-2528],"id":"bed377be-a42d-4847-8b91-27520061a96f","name":"Structured Output Parser1"},{"parameters":{"assignments":{"assignments":[{"id":"9411ab04-64c4-450e-b8b2-967ea3cac249","name":"industria_enum","value":"=[\n    \"Administração de Condomínios\",\n    \"Saúde\",\n    \"Contabilidade\",\n    \"Construção Civil\",\n    \"Logística Internacional\",\n    \"Cosméticos\",\n    \"Segurança Eletrônica\",\n    \"Reciclagem Industrial\",\n    \"Indústria de Ferragens\",\n    \"Locação para Eventos\",\n    \"Serviços Elétricos\",\n    \"Manutenção Predial e Facilities\" ]","type":"array"},{"id":"ab88ba59-95f8-43a7-a81f-1d6b85eb200e","name":"modelo_negocio_enum","value":"[     \"Prestador de Serviços\",     \"Fabricante\",     \"B2B\",     \"B2C\",     \"Locação\",     \"Indústria\",     \"Distribuidor\",     \"Comércio\",     \"Plataforma Digital\"   ]","type":"array"},{"id":"4d3a7847-eac5-4de8-a8c4-6ce9a98baff1","name":"parametros.descricao","value":"={{ $json.parametros.descricao || \"Não especificado\" }}","type":"string"},{"id":"f58515be-e1c4-4f0b-9e6e-f693904d0b95","name":"parametros.subcategoria","value":"={{ $json.parametros.subcategoria || \"Não especificado\"}}","type":"string"},{"id":"aaed70ce-4a03-4dc1-acc7-c208f04b2592","name":"parametros.segmento","value":"={{ $json.parametros.segmento || \"Não especificado\"}}","type":"string"},{"id":"002d6448-ec59-4bbb-9deb-fefb0f5756fc","name":"parametros.categoria","value":"={{ $json.parametros.categoria || \"Não especificado\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2736,-2720],"id":"02a0e8eb-b4ff-42ac-a355-471dc94d707d","name":"Edit Fields"},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-7-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-7-BM25"},"fieldName":"modelo_negocio","fieldSchema":"{\n  \"type\": \"keyword\"\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-672,-2416],"id":"9d21cd7a-a73a-4ec8-91a6-0e377a68f15d","name":"modelo_negocio","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-6-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-6-BM25"},"fieldName":"produtos","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-896,-2144],"id":"82191e7f-4c29-43b8-9053-fbab0403fa72","name":"produtos","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-6-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-6-BM25"},"fieldName":"servicos","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-720,-2144],"id":"ade1e36f-2f02-40c6-9eb8-09330cd20d18","name":"servicos","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-7-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-7-BM25"},"fieldName":"cnpj","fieldSchema":"{\n  \"type\": \"keyword\"\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-848,-2416],"id":"30b6f57c-c48e-4f20-bffd-a0231170fe69","name":"cnpj","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-7-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-7-BM25"},"fieldName":"nome_empresa","fieldSchema":"{\n  \"type\": \"keyword\"\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-128,-2416],"id":"bcfd5a30-650d-4748-a216-85d877752bd5","name":"nome_empresa","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-6-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-6-BM25"},"fieldName":"descricao","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-544,-2144],"id":"a3e428a4-4f87-4787-aa46-3947dfe12e48","name":"descricao","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"content":"## Criar/Deletar Colection\n","height":272,"width":560,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-976,-2896],"id":"c0ea6235-d7a5-4ce0-9384-b1563c00d205","name":"Sticky Note2"},{"parameters":{"content":"## Criar Indices para cada payload\n","height":928,"width":1360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-976,-2560],"id":"1fe3e427-a5ef-4a59-896a-07e5b04d1019","name":"Sticky Note3"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1984,-2368],"id":"3e95cbba-b112-4f94-8b27-8b32128695d5","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2352,-2720],"id":"cfaf0cc1-fecb-4f1a-b9ad-59c24a50ceb5","name":"Loop Over Items"},{"parameters":{"maxItems":50},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2544,-2720],"id":"359b48ba-251e-4a07-ae57-2636a7258439","name":"Limit"},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-7-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-7-BM25"},"fieldName":"uf","fieldSchema":"{\n  \"type\": \"keyword\"\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-496,-2416],"id":"e2d67342-d2d4-4cc0-8397-a20b234ed8e9","name":"UF","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-7-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-7-BM25"},"fieldName":"cidade","fieldSchema":"{\n  \"type\": \"keyword\"\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-304,-2416],"id":"310a79bc-dfd0-4782-bd0c-c8c4389c1fb2","name":"Cidade","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-6-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-6-BM25"},"fieldName":"clientes","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-368,-2144],"id":"d0c22541-7777-4dff-b576-e66ff4009e7d","name":"clientes","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-6-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-6-BM25"},"fieldName":"publico","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-176,-2144],"id":"317f84c0-d5d4-421d-9cbf-e6cf0eb1d91f","name":"publico","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-6-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-6-BM25"},"fieldName":"certificacoes","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[16,-2144],"id":"ce55b0e3-e783-4c8d-b9eb-4ad5941e865a","name":"certificacoes","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"content":"## Keyword (Match)\n","height":224,"width":976,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-912,-2480],"id":"01f37df9-fa96-4c95-bc77-94706faa53ff","name":"Sticky Note4"},{"parameters":{"content":"## Text (BM25)\n","height":480,"width":1120,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-928,-2208],"id":"fcda1875-7b86-440c-92de-debd7706427b","name":"Sticky Note5"},{"parameters":{"assignments":{"assignments":[{"id":"fdb55e4d-a58d-4534-9ecd-bbc76f84f33e","name":"vetor.produto","value":"={{ $json['vetor.produtos'] }}","type":"string"},{"id":"cbe20fe5-5b5d-4ffe-bfa1-e3bb62909cb7","name":"vetor.servico","value":"={{ $json['vetor.servicos'] }}","type":"string"},{"id":"aff3e246-8fd2-4404-926b-3c5b2470bd69","name":"vetor.descricao","value":"={{ $json['vetor.descricao'] }}","type":"string"},{"id":"8682c717-51a8-43df-a0b8-1344823e7075","name":"vetor.publico","value":"={{ $json['vetor.publico'] }}","type":"string"},{"id":"dce200a5-69d1-4252-a278-9c38fd4ebffb","name":"vetor.cliente","value":"={{ $json['vetor.clientes'] }}","type":"string"},{"id":"ae200dd8-cb69-4b6e-9fcb-d0642493166a","name":"payload.produto","value":"={{ $json['payload.produtos'] }}","type":"string"},{"id":"6b0d0558-4132-4cf4-a437-080a060d7a9e","name":"payload.servico","value":"={{ $json['payload.servicos'] }}","type":"string"},{"id":"06dcf5ea-cb4f-4053-88d8-312275c83842","name":"payload.descricao","value":"={{ $json['payload.descricao'] }}","type":"string"},{"id":"bb8762d2-e215-4ef1-9da3-0a26274511cb","name":"payload.publico","value":"={{ $json['payload.publico'] }}","type":"string"},{"id":"ea92bac7-2110-4d78-8cb2-a621cb762c64","name":"payload.cliente","value":"={{ $json['payload.clientes'] }}","type":"string"},{"id":"544dbd2b-ce6d-4da2-ad1a-0bd4a26ab97c","name":"payload.certificacoes","value":"={{ $json['payload.certificacoes'] }}","type":"string"},{"id":"40f8fe7d-ee08-41a3-beef-1483d8ad4fee","name":"payload.uf","value":"={{ $json['payload.uf'] }}","type":"string"},{"id":"1a18c338-0bdf-4357-825b-1105a75a0b01","name":"payload.cnpj","value":"={{ $json['payload.cnpj'] }}","type":"string"},{"id":"0fa5ac0a-d1f0-4571-b1f0-b905cf62b9b7","name":"payload.descricao","value":"={{ $json['payload.descricao'] }}","type":"string"},{"id":"7c4fd9c6-4dc1-46ae-95ac-b7a2eed0f932","name":"payload.cidade","value":"={{ $json['payload.cidade'] }}","type":"string"},{"id":"b79a60ee-a387-4cb9-8fc5-dac2be35d87c","name":"payload.nome_empresa","value":"={{ $json['payload.nome_empresa'] }}","type":"string"},{"id":"3985d39b-3968-4a94-9777-1e6de0acf3aa","name":"payload.modelo_negocio","value":"={{ $json['payload.modelo_negocio'] }}","type":"string"},{"id":"294495f1-5df4-405f-8de4-e73f119152d5","name":"payload.publico","value":"={{ $json['payload.publico'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2880,-896],"id":"eea3ae57-0a73-4184-90a9-a6fb14ee0deb","name":"set_payload+Vector"},{"parameters":{"assignments":{"assignments":[{"id":"5134eb61-4da6-46d4-b4d2-20e4671a9cea","name":"vetor","value":"={{ $json.vetor }}","type":"object"},{"id":"e20b8d29-205a-4d30-b7b3-33c83c9b93f0","name":"payload","value":"={{ $json.payload }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2656,-896],"id":"8408f79e-9ed4-4c3c-9d8b-971601dc2c80","name":"set_profile_data"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"1bc0fff2-40ca-460e-abca-4ca790103948","leftValue":"={{ $json.vetor.produto }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"9d4f8a13-39f1-47dd-b47d-b3c1e95324f5","leftValue":"={{ $json.vetor.servico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"5f4e6285-accd-4fd1-988e-5b1d837103c1","leftValue":"={{ $json.vetor.descricao }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"b4e66d0a-bb87-4983-a761-84b382e4f444","leftValue":"={{ $json.vetor.publico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"23eb328f-a455-439d-8c10-5a83f00f8a34","leftValue":"={{ $json.vetor.cliente }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"looseTypeValidation":true,"options":{"ignoreCase":false}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-3360,-1456],"id":"691fe488-74f7-40f0-9557-4c3ae6361f59","name":"Filter"},{"parameters":{"operation":"executeQuery","query":"WITH tokens_por_perfil AS (\n  SELECT sc.cnpj_basico,\n         SUM(sc.token_count) AS total_tokens\n  FROM \"busca_fornecedor\".\"scraped_chunks\" sc\n  WHERE sc.perfil_processado = true\n  GROUP BY sc.cnpj_basico\n), top_perfis AS (\n  SELECT cnpj_basico, total_tokens\n  FROM tokens_por_perfil\n  ORDER BY total_tokens DESC\n  LIMIT 5000\n)\nSELECT tp.cnpj_basico,\n       tp.total_tokens,\n       cp.id AS company_profile_id,\n       cp.nome_empresa,\n       cp.uf,\n       cp.municipio\nFROM top_perfis tp\nLEFT JOIN \"busca_fornecedor\".\"company_profile\" cp\n  ON cp.cnpj = tp.cnpj_basico;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4144,-1456],"id":"d310934c-e98d-4643-be60-c22ab1204fa5","name":"Execute a SQL query","credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"company_profile","mode":"list","cachedResultName":"company_profile"},"returnAll":true,"where":{"values":[{"column":"id","value":"={{ $json.company_profile_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3952,-1456],"id":"c5656459-c2a9-4eeb-aca3-c0273dc0a6c1","name":"Select rows from a table","credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"1bc0fff2-40ca-460e-abca-4ca790103948","leftValue":"={{ $json.payload.modelo_negocio }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"looseTypeValidation":true,"options":{"ignoreCase":false}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-3168,-1456],"id":"e83ba60f-3a40-4b5b-95cd-daba5e7d060d","name":"Filter1"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.servico }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1920,-1712],"id":"6245ed12-2486-46b0-a94b-9642b05f6445","name":"serviço5","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.produto }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1904,-1312],"id":"b4f13942-ed9e-433f-9e3e-956d09e625af","name":"produto1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.descricao }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1872,-960],"id":"175f9635-521a-483d-a5d9-d9bcc914f3c1","name":"descricao1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.publico }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1856,-640],"id":"d300df7a-dba3-4071-a1ee-651acbc94b01","name":"publico1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.cliente }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1856,-304],"id":"7da9547c-ded1-4904-817a-668729018c0f","name":"cliente","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":5,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-832,-1056],"id":"3b3704c4-72b5-4313-a185-853522841b87","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.servico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2160,-1632],"id":"26a9a796-cc73-49e7-b656-c459c45bd586","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.payload.produto }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2144,-1232],"id":"a33ea9d8-c893-4fb4-bf55-9d1607f763fb","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.payload.descricao }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2144,-896],"id":"033fd3e5-1e0f-47f1-ba26-acf1c1acd8fe","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.payload.publico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2128,-560],"id":"f5f0d4d7-9f42-4374-a5d7-070fe31ca6ed","name":"If4"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.vetor.cliente }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1856,-144],"id":"41ab7fb8-1633-462a-80be-458b4ce176f6","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1648,-256],"id":"4e8263ee-9649-479a-8d66-c8ba03f5ce2d","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_cliente","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1440,-256],"id":"7874bb21-61c9-4cc8-94de-f2c6e54f8efb","name":"Edit Fields5"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1632,-576],"id":"fb04fcdb-e315-4f0f-a2f8-bf048ac363ca","name":"Edit Fields6"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_publico","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1440,-576],"id":"36df5891-52a0-4ddb-8182-cdb7264c0261","name":"Edit Fields7"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.vetor.publico }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1856,-480],"id":"71fc161e-afc7-4365-ae0e-b9909e0b652a","name":"Edit Fields10"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1648,-912],"id":"ccf9e47a-1943-476f-85f2-a1dd839d49ea","name":"Edit Fields11"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_descricao","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1456,-912],"id":"1e938964-c4bf-43e7-93e4-65e9ed4100f2","name":"Edit Fields12"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.vetor.descricao }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1872,-832],"id":"7f562375-3920-4340-bca9-62c8f30aced0","name":"Edit Fields13"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.payload.cliente }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2144,-224],"id":"d2a15189-702f-4084-96f5-4bc8bc2bb27d","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1712,-1248],"id":"f765c3d3-f737-4a55-b755-de0510ed395e","name":"Edit Fields14"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_produto","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1520,-1248],"id":"5b1cf525-003e-4721-9ec0-566c57dc500d","name":"Edit Fields15"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.vetor.produto }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1904,-1136],"id":"705d212f-9b25-4d7a-8a1c-1d6dfa87460d","name":"Edit Fields16"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1696,-1648],"id":"72dfe10b-2e93-45a9-91e2-345d0b1f1211","name":"Edit Fields17"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_servico","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1504,-1648],"id":"8a415121-f025-43c2-8143-c5b307d93476","name":"Edit Fields18"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.vetor.servico }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1920,-1504],"id":"39afd9bf-df7d-41f0-9cf1-dcb32384fc59","name":"Edit Fields19"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-4096,-1024],"id":"80f1abc9-0dda-4d61-a155-8ce0602536ab","name":"When Executed by Another Workflow"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1152,-2288],"id":"43415002-f13b-4ae7-9f4d-af6f2ee7b937","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"const VECTOR_SIZE = 1536;\n\nfunction neutralVector() {\n  return new Array(VECTOR_SIZE).fill(0);\n}\n\nfunction clean(value) {\n  if (!value) return \"\";\n\n  if (typeof value === \"string\") {\n    return value.trim();\n  }\n\n  if (Array.isArray(value)) {\n    return value\n      .flatMap(v => {\n        if (!v) return [];\n        if (typeof v === \"string\") return v;\n        if (typeof v === \"object\") return Object.values(v);\n        return [];\n      })\n      .filter(Boolean)\n      .join(\" \")\n      .trim();\n  }\n\n  if (typeof value === \"object\") {\n    return Object.values(value)\n      .flat()\n      .filter(Boolean)\n      .join(\" \")\n      .trim();\n  }\n\n  return \"\";\n}\n\n// Se texto estiver vazio → retorna vetor neutro\nfunction safeVector(text) {\n  if (!text || typeof text !== \"string\" || text.trim().length === 0) {\n    return neutralVector();\n  }\n  return text; // mantém texto para embedding posterior\n}\n\nreturn items.map(item => {\n  const fp = item.json.full_profile || {};\n\n  const produtosRaw = fp.ofertas?.produtos || [];\n  const servicosRaw = fp.ofertas?.servicos || [];\n  const descricao = fp.identidade?.descricao || \"\";\n  const publico = fp.classificacao?.publico_alvo || \"\";\n  const clientes = fp.reputacao?.lista_clientes || [];\n  const certificacoes = fp.reputacao?.certificacoes || [];\n\n  const produtosClean = clean(produtosRaw);\n  const servicosClean = clean(servicosRaw);\n  const descricaoClean = clean(descricao);\n  const publicoClean = clean(publico);\n  const clientesClean = clean(clientes);\n\n  return {\n    json: {\n\n      // =====================\n      // VETORES\n      // =====================\n\n      \"vetor.servicos\": safeVector(servicosClean),\n      \"vetor.produtos\": safeVector(produtosClean),\n      \"vetor.descricao\": safeVector(descricaoClean),\n      \"vetor.publico\": safeVector(publicoClean),\n      \"vetor.clientes\": safeVector(clientesClean),\n\n      // =====================\n      // PAYLOAD\n      // =====================\n\n      \"payload.produtos\": produtosClean,\n      \"payload.servicos\": servicosClean,\n      \"payload.descricao\": descricaoClean,\n      \"payload.publico\": publicoClean,\n      \"payload.clientes\": clientesClean,\n      \"payload.certificacoes\": clean(certificacoes),\n      \"payload.uf\": clean(fp.identidade?.uf),\n      \"payload.cnpj\": clean(fp.identidade?.cnpj),\n      \"payload.cidade\": clean(fp.identidade?.municipio),\n      \"payload.nome_empresa\": clean(fp.identidade?.nome_empresa),\n      \"payload.modelo_negocio\": clean(fp.classificacao?.modelo_negocio),\n      \"payload.industria\": clean(fp.classificacao?.industria)\n\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3680,-1024],"id":"ad2331c2-6d0c-4329-b071-f0000a4f503b","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"1bc0fff2-40ca-460e-abca-4ca790103948","leftValue":"={{ $json['payload.produtos'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"9d4f8a13-39f1-47dd-b47d-b3c1e95324f5","leftValue":"={{ $json['payload.servicos'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"5f4e6285-accd-4fd1-988e-5b1d837103c1","leftValue":"={{ $json['payload.descricao'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"b4e66d0a-bb87-4983-a761-84b382e4f444","leftValue":"={{ $json['payload.publico'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"23eb328f-a455-439d-8c10-5a83f00f8a34","leftValue":"={{ $json['payload.clientes'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"looseTypeValidation":true,"options":{"ignoreCase":false}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-3472,-1024],"id":"95f20ed9-d716-4a38-a906-03fb9266032e","name":"Filter2"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"company_profile","mode":"list","cachedResultName":"company_profile"},"returnAll":true,"where":{"values":[{"column":"id","value":"={{ $json.company_profile_id }}"},{"column":"error","condition":"IS NULL"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3872,-1024],"id":"2d1f8b42-be67-4d31-8871-e9580cb7c7af","name":"Select rows from a table1","credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"1bc0fff2-40ca-460e-abca-4ca790103948","leftValue":"={{ $json['payload.modelo_negocio'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"looseTypeValidation":true,"options":{"ignoreCase":false}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-3296,-1024],"id":"8201a0af-c33c-43d3-b38f-d484e704cec8","name":"Filter3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-3088,-1024],"id":"3d09d9b7-e71c-4047-abf6-9720242d8c05","name":"Loop Over Items1"},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-7-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-7-BM25"},"fieldName":"complete_profile","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-880,-1904],"id":"fb2bf322-1741-4502-ace6-402ae8b2bcc9","name":"complete_profile","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[]]},"Upsert Points1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Create Collection":{"main":[[]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Edit Fields":{"main":[[{"node":"Limit","type":"main","index":0}]]},"modelo_negocio":{"main":[[{"node":"UF","type":"main","index":0}]]},"produtos":{"main":[[{"node":"servicos","type":"main","index":0}]]},"servicos":{"main":[[{"node":"descricao","type":"main","index":0}]]},"cnpj":{"main":[[{"node":"modelo_negocio","type":"main","index":0}]]},"nome_empresa":{"main":[[]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Structured Output Parser1","type":"ai_languageModel","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"AI Agent","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"UF":{"main":[[{"node":"Cidade","type":"main","index":0}]]},"Cidade":{"main":[[{"node":"nome_empresa","type":"main","index":0}]]},"descricao":{"main":[[{"node":"clientes","type":"main","index":0}]]},"clientes":{"main":[[{"node":"publico","type":"main","index":0}]]},"publico":{"main":[[{"node":"certificacoes","type":"main","index":0}]]},"set_payload+Vector":{"main":[[{"node":"set_profile_data","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[]]},"serviço5":{"main":[[{"node":"Edit Fields17","type":"main","index":0}],[]]},"set_profile_data":{"main":[[{"node":"If","type":"main","index":0},{"node":"If2","type":"main","index":0},{"node":"If3","type":"main","index":0},{"node":"If4","type":"main","index":0},{"node":"If1","type":"main","index":0}]]},"cliente":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"descricao1":{"main":[[{"node":"Edit Fields11","type":"main","index":0}]]},"produto1":{"main":[[{"node":"Edit Fields14","type":"main","index":0}]]},"publico1":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Upsert Points1","type":"main","index":0}]]},"If":{"main":[[{"node":"serviço5","type":"main","index":0}],[{"node":"Edit Fields19","type":"main","index":0}]]},"If2":{"main":[[{"node":"produto1","type":"main","index":0}],[{"node":"Edit Fields16","type":"main","index":0}]]},"If3":{"main":[[{"node":"descricao1","type":"main","index":0}],[{"node":"Edit Fields13","type":"main","index":0}]]},"If4":{"main":[[{"node":"publico1","type":"main","index":0}],[{"node":"Edit Fields10","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Edit Fields6":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Edit Fields10":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Edit Fields11":{"main":[[{"node":"Edit Fields12","type":"main","index":0}]]},"Edit Fields13":{"main":[[{"node":"Edit Fields12","type":"main","index":0}]]},"If1":{"main":[[{"node":"cliente","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Edit Fields12":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Edit Fields14":{"main":[[{"node":"Edit Fields15","type":"main","index":0}]]},"Edit Fields16":{"main":[[{"node":"Edit Fields15","type":"main","index":0}]]},"Edit Fields17":{"main":[[{"node":"Edit Fields18","type":"main","index":0}]]},"Edit Fields19":{"main":[[{"node":"Edit Fields18","type":"main","index":0}]]},"Edit Fields15":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Edit Fields18":{"main":[[{"node":"Merge","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Select rows from a table1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[]]},"Code in JavaScript":{"main":[[{"node":"Filter2","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"Filter3","type":"main","index":0}]]},"Select rows from a table1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Filter3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"set_payload+Vector","type":"main","index":0}]]}},"authors":"ABC  advise","name":"Version e746a0c4","description":"","autosaved":true},"tags":[]}