qdrant_mvp-TDYKmKr4o7CWOfuE.json
{"updatedAt":"2026-03-09T21:37:52.184Z","createdAt":"2025-10-15T18:03:49.468Z","id":"TDYKmKr4o7CWOfuE","name":"Qdrant_MVP","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"createCollection","collectionName":"mvp_busca_fornecedor-8-BM25","vectors":"{\n  \"v_produto\": { \"size\": 1536, \"distance\": \"Cosine\" },\n  \"v_servico\": { \"size\": 1536, \"distance\": \"Cosine\" },\n  \"v_descricao\": { \"size\": 1536, \"distance\": \"Cosine\" },\n  \"v_publico\": { \"size\": 1536, \"distance\": \"Cosine\" },\n  \"v_cliente\": { \"size\": 1536, \"distance\": \"Cosine\" }\n  \n}\n\n\n\n\n\n","onDiskPayload":true,"sparseVectors":"{\n  \"bm25_complete_profile\": {\n    \"index\": {\n      \"on_disk\": false\n    }\n  }\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-4224,-2928],"id":"208a995a-56e3-4e68-8351-21eeffdca28b","name":"Create Collection","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"operation":"deleteCollection","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-6-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-6-BM25"},"requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-4000,-2928],"id":"f221314d-4a2b-4e38-bafd-b31ea2f35709","name":"Delete Collection","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"modelo_negocio","fieldSchema":"{\n  \"type\": \"keyword\"\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-4032,-2544],"id":"9d21cd7a-a73a-4ec8-91a6-0e377a68f15d","name":"modelo_negocio","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"produtos","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-4256,-2272],"id":"82191e7f-4c29-43b8-9053-fbab0403fa72","name":"produtos","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"servicos","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-4080,-2272],"id":"ade1e36f-2f02-40c6-9eb8-09330cd20d18","name":"servicos","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"cnpj","fieldSchema":"{\n  \"type\": \"keyword\"\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-4208,-2544],"id":"30b6f57c-c48e-4f20-bffd-a0231170fe69","name":"cnpj","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"nome_empresa","fieldSchema":"{\n  \"type\": \"keyword\"\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-3488,-2544],"id":"bcfd5a30-650d-4748-a216-85d877752bd5","name":"nome_empresa","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"descricao","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-3904,-2272],"id":"a3e428a4-4f87-4787-aa46-3947dfe12e48","name":"descricao","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"content":"## Criar/Deletar Colection\n","height":272,"width":560,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4336,-3024],"id":"c0ea6235-d7a5-4ce0-9384-b1563c00d205","name":"Sticky Note2"},{"parameters":{"content":"## Criar Indices para cada payload\n","height":864,"width":1200,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4336,-2688],"id":"1fe3e427-a5ef-4a59-896a-07e5b04d1019","name":"Sticky Note3"},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"uf","fieldSchema":"{\n  \"type\": \"keyword\"\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-3856,-2544],"id":"e2d67342-d2d4-4cc0-8397-a20b234ed8e9","name":"UF","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"cidade","fieldSchema":"{\n  \"type\": \"keyword\"\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-3664,-2544],"id":"310a79bc-dfd0-4782-bd0c-c8c4389c1fb2","name":"Cidade","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"clientes","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-3728,-2272],"id":"d0c22541-7777-4dff-b576-e66ff4009e7d","name":"clientes","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"publico","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-3536,-2272],"id":"317f84c0-d5d4-421d-9cbf-e6cf0eb1d91f","name":"publico","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"certificacoes","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-3344,-2272],"id":"ce55b0e3-e783-4c8d-b9eb-4ad5941e865a","name":"certificacoes","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"content":"## Keyword (Match)\n","height":224,"width":976,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4272,-2608],"id":"01f37df9-fa96-4c95-bc77-94706faa53ff","name":"Sticky Note4"},{"parameters":{"content":"## Text (BM25)\n","height":480,"width":1120,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4288,-2336],"id":"fcda1875-7b86-440c-92de-debd7706427b","name":"Sticky Note5"},{"parameters":{"assignments":{"assignments":[{"id":"fdb55e4d-a58d-4534-9ecd-bbc76f84f33e","name":"vetor.produto.item","value":"={{ $json['vetor.produtos'] }}","type":"string"},{"id":"cbe20fe5-5b5d-4ffe-bfa1-e3bb62909cb7","name":"vetor.servico.item","value":"={{ $json['vetor.servicos'] }}","type":"string"},{"id":"aff3e246-8fd2-4404-926b-3c5b2470bd69","name":"vetor.descricao.item","value":"={{ $json['vetor.descricao'] }}","type":"string"},{"id":"8682c717-51a8-43df-a0b8-1344823e7075","name":"vetor.publico.item","value":"={{ $json['vetor.publico'] }}","type":"string"},{"id":"dce200a5-69d1-4252-a278-9c38fd4ebffb","name":"vetor.cliente.item","value":"={{ $json['vetor.clientes'] }}","type":"string"},{"id":"ae200dd8-cb69-4b6e-9fcb-d0642493166a","name":"payload.produto","value":"={{ $json['payload.produtos'] }}","type":"string"},{"id":"6b0d0558-4132-4cf4-a437-080a060d7a9e","name":"payload.servico","value":"={{ $json['payload.servicos'] }}","type":"string"},{"id":"06dcf5ea-cb4f-4053-88d8-312275c83842","name":"payload.descricao","value":"={{ $json['payload.descricao'] }}","type":"string"},{"id":"bb8762d2-e215-4ef1-9da3-0a26274511cb","name":"payload.publico","value":"={{ $json['payload.publico'] }}","type":"string"},{"id":"ea92bac7-2110-4d78-8cb2-a621cb762c64","name":"payload.cliente","value":"={{ $json['payload.clientes'] }}","type":"string"},{"id":"544dbd2b-ce6d-4da2-ad1a-0bd4a26ab97c","name":"payload.certificacoes","value":"={{ $json['payload.certificacoes'] }}","type":"string"},{"id":"40f8fe7d-ee08-41a3-beef-1483d8ad4fee","name":"payload.uf","value":"={{ $json['payload.uf'] }}","type":"string"},{"id":"1a18c338-0bdf-4357-825b-1105a75a0b01","name":"payload.cnpj","value":"={{ $json['payload.cnpj'] }}","type":"string"},{"id":"0fa5ac0a-d1f0-4571-b1f0-b905cf62b9b7","name":"payload.descricao","value":"={{ $json['payload.descricao'] }}","type":"string"},{"id":"7c4fd9c6-4dc1-46ae-95ac-b7a2eed0f932","name":"payload.cidade","value":"={{ $json['payload.cidade'] }}","type":"string"},{"id":"b79a60ee-a387-4cb9-8fc5-dac2be35d87c","name":"payload.nome_empresa","value":"={{ $json['payload.nome_empresa'] }}","type":"string"},{"id":"3985d39b-3968-4a94-9777-1e6de0acf3aa","name":"payload.modelo_negocio","value":"={{ $json['payload.modelo_negocio'] }}","type":"string"},{"id":"294495f1-5df4-405f-8de4-e73f119152d5","name":"payload.publico","value":"={{ $json['payload.publico'] }}","type":"string"},{"id":"3794c574-b99e-498d-8c2a-2b87b1915772","name":"payload.telefone","value":"={{ $json[\"payload.telefone\"] }}","type":"string"},{"id":"c6db81a6-920a-4ade-b468-74e0b2bbc41d","name":"payload.site","value":"={{ $json[\"payload.site\"] }}","type":"string"},{"id":"d667fc10-8c23-4255-ad58-092eda7f5cb5","name":"payload.endereco","value":"={{ $json[\"payload.endereco\"] }}","type":"string"},{"id":"fab0db81-a3d4-47d9-9952-f31b104b1532","name":"payload.email","value":"={{ $json[\"payload.email\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3232,-880],"id":"eea3ae57-0a73-4184-90a9-a6fb14ee0deb","name":"set_payload+Vector"},{"parameters":{"assignments":{"assignments":[{"id":"b7665341-021d-4412-8e6c-c81fa26e0e94","name":"produto","value":"={{ $json.vetor.produto.item || \" \"  }}","type":"string"},{"id":"bf3ed8d2-6e18-4b72-9db5-f6e2ad913402","name":"servico","value":"={{ $json.vetor.servico.item || \" \" }}","type":"string"},{"id":"b557729a-a2f1-450c-8fc4-3281342fbee1","name":"descricao","value":"={{ $json.vetor.descricao.item || \" \"  }}","type":"string"},{"id":"7f75b2f3-7c1b-485a-8496-efd2f92ee643","name":"publico","value":"={{ $json.vetor.publico.item || \" \"  }}","type":"string"},{"id":"4edca508-d651-44ab-b4d4-0f44457edcc8","name":"cliente","value":"={{ $json.vetor.cliente.item || \" \" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3008,-880],"id":"8408f79e-9ed4-4c3c-9d8b-971601dc2c80","name":"set_profile_data"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.servico }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2416,-1232],"id":"6245ed12-2486-46b0-a94b-9642b05f6445","name":"serviço5","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.produto }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2416,-1056],"id":"b4f13942-ed9e-433f-9e3e-956d09e625af","name":"produto1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.descricao }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2416,-880],"id":"175f9635-521a-483d-a5d9-d9bcc914f3c1","name":"descricao1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.publico }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2416,-704],"id":"d300df7a-dba3-4071-a1ee-651acbc94b01","name":"publico1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.cliente }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2416,-528],"id":"7da9547c-ded1-4904-817a-668729018c0f","name":"cliente","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.servico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2160,-1632],"id":"26a9a796-cc73-49e7-b656-c459c45bd586","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.payload.produto }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[48,-976],"id":"a33ea9d8-c893-4fb4-bf55-9d1607f763fb","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.payload.descricao }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-32,-816],"id":"033fd3e5-1e0f-47f1-ba26-acf1c1acd8fe","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.payload.publico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-224,-480],"id":"f5f0d4d7-9f42-4374-a5d7-070fe31ca6ed","name":"If4"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,-64],"id":"41ab7fb8-1633-462a-80be-458b4ce176f6","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,-176],"id":"4e8263ee-9649-479a-8d66-c8ba03f5ce2d","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_cliente","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,-176],"id":"7874bb21-61c9-4cc8-94de-f2c6e54f8efb","name":"Edit Fields5"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,-496],"id":"fb04fcdb-e315-4f0f-a2f8-bf048ac363ca","name":"Edit Fields6"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_publico","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,-496],"id":"36df5891-52a0-4ddb-8182-cdb7264c0261","name":"Edit Fields7"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,-400],"id":"71fc161e-afc7-4365-ae0e-b9909e0b652a","name":"Edit Fields10"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,-832],"id":"ccf9e47a-1943-476f-85f2-a1dd839d49ea","name":"Edit Fields11"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_descricao","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,-832],"id":"1e938964-c4bf-43e7-93e4-65e9ed4100f2","name":"Edit Fields12"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,-752],"id":"7f562375-3920-4340-bca9-62c8f30aced0","name":"Edit Fields13"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.payload.cliente }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-240,-144],"id":"d2a15189-702f-4084-96f5-4bc8bc2bb27d","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,-1168],"id":"f765c3d3-f737-4a55-b755-de0510ed395e","name":"Edit Fields14"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_produto","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,-1168],"id":"5b1cf525-003e-4721-9ec0-566c57dc500d","name":"Edit Fields15"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,-1056],"id":"705d212f-9b25-4d7a-8a1c-1d6dfa87460d","name":"Edit Fields16"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,-1360],"id":"72dfe10b-2e93-45a9-91e2-345d0b1f1211","name":"Edit Fields17"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_servico","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,-1392],"id":"8a415121-f025-43c2-8143-c5b307d93476","name":"Edit Fields18"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-4144,-880],"id":"80f1abc9-0dda-4d61-a155-8ce0602536ab","name":"When Executed by Another Workflow"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-4528,-2272],"id":"43415002-f13b-4ae7-9f4d-af6f2ee7b937","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"function clean(value) {\n  if (!value) return \"\";\n\n  if (typeof value === \"string\") {\n    return value.trim();\n  }\n\n  if (Array.isArray(value)) {\n    return value\n      .flatMap(v => {\n        if (!v) return [];\n        if (typeof v === \"string\") return v;\n        if (typeof v === \"object\") return Object.values(v);\n        return [];\n      })\n      .flat()\n      .filter(Boolean)\n      .join(\" \")\n      .trim();\n  }\n\n  if (typeof value === \"object\") {\n    return Object.values(value)\n      .flat()\n      .filter(Boolean)\n      .join(\" \")\n      .trim();\n  }\n\n  return \"\";\n}\n\nreturn items.map(item => {\n\n  const fp = item.json.full_profile || {};\n\n  const identidade = fp.identidade || {};\n  const ofertas = fp.ofertas || {};\n  const classificacao = fp.classificacao || {};\n  const reputacao = fp.reputacao || {};\n  const contato = fp.contato || {};\n\n  const produtos = clean(ofertas.produtos);\n  const servicos = clean(ofertas.servicos);\n  const descricao = clean(identidade.descricao);\n  const publico = clean(classificacao.publico_alvo);\n  const clientes = clean(reputacao.lista_clientes);\n  const certificacoes = clean(reputacao.certificacoes);\n\n  const premios = clean(reputacao.premios);\n  const parcerias = clean(reputacao.parcerias);\n  const estudosCaso = clean(reputacao.estudos_caso);\n\n  const emails = clean(contato.emails);\n  const telefones = clean(contato.telefones);\n  const site = clean(contato.url_site);\n  const linkedin = clean(contato.url_linkedin);\n  const endereco = clean(contato.endereco_matriz);\n\n  const nomeEmpresa = clean(identidade.nome_empresa);\n  const municipio = clean(identidade.municipio || item.json.municipio);\n  const uf = clean(identidade.uf || item.json.uf);\n\n  const industria = clean(classificacao.industria);\n  const modeloNegocio = clean(classificacao.modelo_negocio);\n  const cobertura = clean(classificacao.cobertura_geografica);\n\n  const perfilCompleto = clean([\n    nomeEmpresa,\n    descricao,\n    produtos,\n    servicos,\n    publico,\n    clientes,\n    certificacoes,\n    premios,\n    parcerias,\n    estudosCaso,\n    industria,\n    modeloNegocio,\n    cobertura\n  ]);\n\n  return {\n    json: {\n\n      // =====================\n      // CAMPOS PARA VETORIZAÇÃO\n      // =====================\n\n      \"vetor.produtos\": produtos,\n      \"vetor.servicos\": servicos,\n      \"vetor.descricao\": descricao,\n      \"vetor.publico\": publico,\n      \"vetor.clientes\": clientes,\n      \"vetor.perfil_completo\": perfilCompleto,\n\n      // =====================\n      // PAYLOAD COMPLETO\n      // =====================\n\n      \"payload.nome_empresa\": nomeEmpresa,\n      \"payload.descricao\": descricao,\n      \"payload.produtos\": produtos,\n      \"payload.servicos\": servicos,\n      \"payload.publico\": publico,\n      \"payload.clientes\": clientes,\n      \"payload.certificacoes\": certificacoes,\n      \"payload.premios\": premios,\n      \"payload.parcerias\": parcerias,\n      \"payload.estudos_caso\": estudosCaso,\n\n      \"payload.industria\": industria,\n      \"payload.modelo_negocio\": modeloNegocio,\n      \"payload.cobertura_geografica\": cobertura,\n\n      \"payload.email\": emails,\n      \"payload.telefone\": telefones,\n      \"payload.site\": site,\n      \"payload.linkedin\": linkedin,\n      \"payload.endereco\": endereco,\n\n      \"payload.cidade\": municipio,\n      \"payload.uf\": uf,\n      \"payload.cnpj\": clean(identidade.cnpj),\n\n      \"payload.created_at\": item.json.created_at,\n      \"payload.updated_at\": item.json.updated_at\n    }\n  };\n\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3856,-880],"id":"ad2331c2-6d0c-4329-b071-f0000a4f503b","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"1bc0fff2-40ca-460e-abca-4ca790103948","leftValue":"={{ $json['payload.produtos'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"9d4f8a13-39f1-47dd-b47d-b3c1e95324f5","leftValue":"={{ $json['payload.servicos'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"5f4e6285-accd-4fd1-988e-5b1d837103c1","leftValue":"={{ $json['payload.descricao'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"b4e66d0a-bb87-4983-a761-84b382e4f444","leftValue":"={{ $json['payload.publico'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"23eb328f-a455-439d-8c10-5a83f00f8a34","leftValue":"={{ $json['payload.clientes'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"looseTypeValidation":true,"options":{"ignoreCase":false}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-3648,-880],"id":"95f20ed9-d716-4a38-a906-03fb9266032e","name":"Filter2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"1bc0fff2-40ca-460e-abca-4ca790103948","leftValue":"={{ $json['payload.modelo_negocio'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"looseTypeValidation":true,"options":{"ignoreCase":false}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-3472,-880],"id":"8201a0af-c33c-43d3-b38f-d484e704cec8","name":"Filter3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2496,-1552],"id":"3d09d9b7-e71c-4047-abf6-9720242d8c05","name":"Loop Over Items1"},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"complete_profile","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-4240,-2032],"id":"fb2bf322-1741-4502-ace6-402ae8b2bcc9","name":"complete_profile","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":6,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1856,-944],"id":"96877aeb-abd5-4e38-8816-f2851354d5bd","name":"Merge"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"produto"},{"fieldToAggregate":"servico"},{"fieldToAggregate":"descricao"},{"fieldToAggregate":"publico"},{"fieldToAggregate":"cliente"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2800,-880],"id":"157208ca-9b88-4007-a1f6-7e6fadd72660","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"350c326c-9357-4d9b-8da7-d876b89c876c","name":"point.id","value":"={{ Math.floor(Math.random() * 1000000000000) }}","type":"number"},{"id":"736790c0-6bb5-4813-8cc3-c689766a216e","name":"point.payload.modelo_negocio","value":"={{ $json.payload.modelo_negocio }}","type":"string"},{"id":"e0c66083-f877-45f7-8e00-6ff3db420741","name":"point.payload.nome_empresa","value":"={{ $json.payload.nome_empresa }}","type":"string"},{"id":"11403584-ad36-494b-978d-992251b22d1a","name":"point.payload.cnpj","value":"={{ $json.payload.cnpj }}","type":"string"},{"id":"78c0320b-6097-4786-9fc6-2d194a094878","name":"point.payload.cidade","value":"={{ $json.payload.cidade }}","type":"string"},{"id":"afe97d7b-02ed-4e98-a41c-c1fc4e00a17a","name":"point.payload.telefone","value":"={{ $json.payload.telefone }}","type":"string"},{"id":"7477ef44-510c-4600-bbc0-22b9ef1081b8","name":"point.payload.site","value":"={{ $json.payload.site }}","type":"string"},{"id":"4db781e8-2ed5-4cb4-86cf-df2e1d2805a3","name":"point.payload.endereco","value":"={{ $json.payload.endereco }}","type":"string"},{"id":"db0139d6-ffbd-4ba1-9ae5-492829f95f98","name":"point.payload.email","value":"={{ $json.payload.email }}","type":"string"},{"id":"38e60b1c-9fcb-41b3-a897-93bb7f38326e","name":"point.payload.produto","value":"={{ $json.payload.produto }}","type":"string"},{"id":"a29a3be3-8cb1-4ef0-b24a-7a945e9129bb","name":"point.payload.servico","value":"={{ $json.payload.servico }}","type":"string"},{"id":"440bea49-eba0-4a41-8d8f-543fa2213cc0","name":"point.payload.descricao","value":"={{ $json.payload.descricao }}","type":"string"},{"id":"25214201-ffae-422f-ba32-c6f2388fc36a","name":"point.payload.publico","value":"={{ $json.payload.publico }}","type":"string"},{"id":"d2634882-f010-42e9-ab3f-f83010122129","name":"point.payload.cliente","value":"={{ $json.payload.cliente }}","type":"string"},{"id":"155d2f09-d304-4d58-9b77-44b927d47cac","name":"point.payload.uf","value":"={{ $json.payload.uf }}","type":"string"},{"id":"7a5cc220-4fee-44fa-a538-e91605113f4f","name":"point.vectors.v_produto","value":"={{ $('Produto').item.json.embedding }}","type":"array"},{"id":"ae5c937e-79df-4cd0-9682-52a3cf77e233","name":"point.vectors.v_servico","value":"={{ $('Serviço').item.json.embedding }}","type":"array"},{"id":"866d6b01-9b2e-4a10-a51d-742a09a425db","name":"point.vectors.v_descricao","value":"={{ $('Descrição').item.json.embedding }}","type":"array"},{"id":"4bb25b88-b010-4ed4-8c05-f0a20ac5d656","name":"point.vectors.v_cliente","value":"={{ $('Cliente').item.json.embedding }}","type":"array"},{"id":"a0555391-dd44-4edb-a22c-5e218a99d361","name":"point.vectors.v_publico","value":"={{ $('Público').item.json.embedding }}","type":"array"},{"id":"d06d890e-24c8-46f3-937e-a0627b56d730","name":"point.vectors.bm25_complete_profile.text","value":"={{ $json.vetor.produto.item }} {{ $json.vetor.servico.item }} {{ $json.vetor.descricao.item }} {{ $json.vetor.publico.item }} {{ $json.vetor.cliente.item }}","type":"string"},{"id":"70ffa60f-6355-4b72-98a2-10f3d4cecfc9","name":"point.vectors.bm25_complete_profile.model","value":"qdrant/bm25","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1584,-880],"id":"5943909f-05b7-4ba6-bf8d-af5aa468a00d","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2192,-1232],"id":"87f238ac-9cdb-40a9-9262-70f5b18204da","name":"Serviço"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2192,-1056],"id":"5da56d41-9ed4-4624-87a5-bfa4c5b9bbb9","name":"Produto"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2192,-880],"id":"b40491f4-1cc1-4042-a7c4-b54551bd8c36","name":"Descrição"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2192,-704],"id":"eb697de6-18a4-4612-9261-ca1debdb0093","name":"Público"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2192,-528],"id":"b5b5d522-5de0-4d21-8f71-a080130b9898","name":"Cliente"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"point"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1376,-880],"id":"8c069067-fdfb-484d-a270-1d554145e393","name":"Aggregate1"},{"parameters":{"resource":"point","operation":"upsertPoints","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-9-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-9-BM25"},"points":"={{ $json.point }}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-784,-880],"id":"5f16b00a-ae13-44cb-82ba-faaed5dd6697","name":"Upsert Points","executeOnce":false,"retryOnFail":true,"credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"8040272a-8362-4059-b8c1-e86eeb9fe0be","name":"point","value":"={{ $json.point }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-688,-672],"id":"8851e6cf-6caf-448a-9161-23497d5a5445","name":"Edit Fields1"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/points/upsert","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.point }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1184,-880],"id":"7b748339-5eb9-4806-b8e6-f635736608a5","name":"HTTP Request1","retryOnFail":true},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"fundacao","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-3152,-2272],"id":"2e2ddfc2-cc3b-4f8e-b727-ba62bcd81c45","name":"fundacao","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"email","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-2944,-2272],"id":"965e01a8-3db1-468f-b0fc-2710c943c624","name":"email","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"telefone","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-2752,-2272],"id":"39c6df0a-4b4e-4fbb-8253-2fa8a375db89","name":"telefone","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"site","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-2560,-2272],"id":"2495f68b-0585-4fed-8e5d-1ba1535338e9","name":"site","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"endereco","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-2400,-2272],"id":"e88a007a-8138-4060-bda7-d5829092ad17","name":"endereco","credentials":{"qdrantRestApi":{"id":"RaDj0BKANI6qan8K","name":"Qdrant account ABC"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"cnpj"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3952,-688],"id":"48cb3d43-3571-499e-9fc5-71dd320cb6e3","name":"Aggregate2"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/pipeline/run","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"limit","value":"5000"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-3728,-432],"id":"953763f9-8f73-4a8a-8fb2-0cb48b6aeb2b","name":"HTTP Request","retryOnFail":true}],"connections":{"Create Collection":{"main":[[]]},"modelo_negocio":{"main":[[{"node":"UF","type":"main","index":0}]]},"produtos":{"main":[[{"node":"servicos","type":"main","index":0}]]},"servicos":{"main":[[{"node":"descricao","type":"main","index":0}]]},"cnpj":{"main":[[{"node":"modelo_negocio","type":"main","index":0}]]},"nome_empresa":{"main":[[]]},"UF":{"main":[[{"node":"Cidade","type":"main","index":0}]]},"Cidade":{"main":[[{"node":"nome_empresa","type":"main","index":0}]]},"descricao":{"main":[[{"node":"clientes","type":"main","index":0}]]},"clientes":{"main":[[{"node":"publico","type":"main","index":0}]]},"publico":{"main":[[{"node":"certificacoes","type":"main","index":0}]]},"set_payload+Vector":{"main":[[{"node":"set_profile_data","type":"main","index":0},{"node":"Merge","type":"main","index":5}]]},"serviço5":{"main":[[{"node":"Serviço","type":"main","index":0}],[]]},"set_profile_data":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"cliente":{"main":[[{"node":"Cliente","type":"main","index":0}]]},"descricao1":{"main":[[{"node":"Descrição","type":"main","index":0}]]},"produto1":{"main":[[{"node":"Produto","type":"main","index":0}]]},"publico1":{"main":[[{"node":"Público","type":"main","index":0}]]},"If":{"main":[[],[]]},"If2":{"main":[[],[]]},"If3":{"main":[[],[]]},"If4":{"main":[[],[]]},"Edit Fields4":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields5":{"main":[[]]},"Edit Fields6":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Edit Fields10":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Edit Fields11":{"main":[[{"node":"Edit Fields12","type":"main","index":0}]]},"Edit Fields13":{"main":[[{"node":"Edit Fields12","type":"main","index":0}]]},"If1":{"main":[[],[]]},"Edit Fields7":{"main":[[]]},"Edit Fields12":{"main":[[]]},"Edit Fields14":{"main":[[{"node":"Edit Fields15","type":"main","index":0}]]},"Edit Fields16":{"main":[[{"node":"Edit Fields15","type":"main","index":0}]]},"Edit Fields17":{"main":[[{"node":"Edit Fields18","type":"main","index":0}]]},"Edit Fields15":{"main":[[]]},"Edit Fields18":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"Code in JavaScript","type":"main","index":0},{"node":"Aggregate2","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"produtos","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Filter2","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"Filter3","type":"main","index":0}]]},"Filter3":{"main":[[{"node":"set_payload+Vector","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"certificacoes":{"main":[[{"node":"fundacao","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"serviço5","type":"main","index":0},{"node":"produto1","type":"main","index":0},{"node":"descricao1","type":"main","index":0},{"node":"publico1","type":"main","index":0},{"node":"cliente","type":"main","index":0}]]},"Serviço":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Produto":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Descrição":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Público":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Cliente":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Edit Fields":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Upsert Points":{"main":[[],[]]},"Edit Fields1":{"main":[[]]},"fundacao":{"main":[[{"node":"email","type":"main","index":0}]]},"email":{"main":[[{"node":"telefone","type":"main","index":0}]]},"telefone":{"main":[[{"node":"site","type":"main","index":0}]]},"site":{"main":[[{"node":"endereco","type":"main","index":0}]]},"Aggregate2":{"main":[[]]},"HTTP Request1":{"main":[[]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","errorWorkflow":"KFeveZkBafvIC5xECfmBs","callerPolicy":"workflowsFromSameOwner","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bddbfa75-fa30-4f2c-8f09-add49fba7852","activeVersionId":"0b960ec5-1e1b-49ff-91be-8dedc5702454","triggerCount":0,"shared":[{"updatedAt":"2025-10-15T18:03:49.468Z","createdAt":"2025-10-15T18:03:49.468Z","role":"workflow:owner","workflowId":"TDYKmKr4o7CWOfuE","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-03-09T20:21:48.696Z","createdAt":"2026-03-09T20:21:40.621Z","versionId":"0b960ec5-1e1b-49ff-91be-8dedc5702454","workflowId":"TDYKmKr4o7CWOfuE","nodes":[{"parameters":{"operation":"createCollection","collectionName":"mvp_busca_fornecedor-8-BM25","vectors":"{\n  \"v_produto\": { \"size\": 1536, \"distance\": \"Cosine\" },\n  \"v_servico\": { \"size\": 1536, \"distance\": \"Cosine\" },\n  \"v_descricao\": { \"size\": 1536, \"distance\": \"Cosine\" },\n  \"v_publico\": { \"size\": 1536, \"distance\": \"Cosine\" },\n  \"v_cliente\": { \"size\": 1536, \"distance\": \"Cosine\" }\n  \n}\n\n\n\n\n\n","onDiskPayload":true,"sparseVectors":"{\n  \"bm25_complete_profile\": {\n    \"index\": {\n      \"on_disk\": false\n    }\n  }\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-4224,-2928],"id":"208a995a-56e3-4e68-8351-21eeffdca28b","name":"Create Collection","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"operation":"deleteCollection","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-6-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-6-BM25"},"requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-4000,-2928],"id":"f221314d-4a2b-4e38-bafd-b31ea2f35709","name":"Delete Collection","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"modelo_negocio","fieldSchema":"{\n  \"type\": \"keyword\"\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-4032,-2544],"id":"9d21cd7a-a73a-4ec8-91a6-0e377a68f15d","name":"modelo_negocio","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"produtos","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-4256,-2272],"id":"82191e7f-4c29-43b8-9053-fbab0403fa72","name":"produtos","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"servicos","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-4080,-2272],"id":"ade1e36f-2f02-40c6-9eb8-09330cd20d18","name":"servicos","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"cnpj","fieldSchema":"{\n  \"type\": \"keyword\"\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-4208,-2544],"id":"30b6f57c-c48e-4f20-bffd-a0231170fe69","name":"cnpj","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"nome_empresa","fieldSchema":"{\n  \"type\": \"keyword\"\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-3488,-2544],"id":"bcfd5a30-650d-4748-a216-85d877752bd5","name":"nome_empresa","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"descricao","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-3904,-2272],"id":"a3e428a4-4f87-4787-aa46-3947dfe12e48","name":"descricao","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"content":"## Criar/Deletar Colection\n","height":272,"width":560,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4336,-3024],"id":"c0ea6235-d7a5-4ce0-9384-b1563c00d205","name":"Sticky Note2"},{"parameters":{"content":"## Criar Indices para cada payload\n","height":864,"width":1200,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4336,-2688],"id":"1fe3e427-a5ef-4a59-896a-07e5b04d1019","name":"Sticky Note3"},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"uf","fieldSchema":"{\n  \"type\": \"keyword\"\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-3856,-2544],"id":"e2d67342-d2d4-4cc0-8397-a20b234ed8e9","name":"UF","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"cidade","fieldSchema":"{\n  \"type\": \"keyword\"\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-3664,-2544],"id":"310a79bc-dfd0-4782-bd0c-c8c4389c1fb2","name":"Cidade","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"clientes","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-3728,-2272],"id":"d0c22541-7777-4dff-b576-e66ff4009e7d","name":"clientes","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"publico","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-3536,-2272],"id":"317f84c0-d5d4-421d-9cbf-e6cf0eb1d91f","name":"publico","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"certificacoes","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-3344,-2272],"id":"ce55b0e3-e783-4c8d-b9eb-4ad5941e865a","name":"certificacoes","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"content":"## Keyword (Match)\n","height":224,"width":976,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4272,-2608],"id":"01f37df9-fa96-4c95-bc77-94706faa53ff","name":"Sticky Note4"},{"parameters":{"content":"## Text (BM25)\n","height":480,"width":1120,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4288,-2336],"id":"fcda1875-7b86-440c-92de-debd7706427b","name":"Sticky Note5"},{"parameters":{"assignments":{"assignments":[{"id":"fdb55e4d-a58d-4534-9ecd-bbc76f84f33e","name":"vetor.produto.item","value":"={{ $json['vetor.produtos'] }}","type":"string"},{"id":"cbe20fe5-5b5d-4ffe-bfa1-e3bb62909cb7","name":"vetor.servico.item","value":"={{ $json['vetor.servicos'] }}","type":"string"},{"id":"aff3e246-8fd2-4404-926b-3c5b2470bd69","name":"vetor.descricao.item","value":"={{ $json['vetor.descricao'] }}","type":"string"},{"id":"8682c717-51a8-43df-a0b8-1344823e7075","name":"vetor.publico.item","value":"={{ $json['vetor.publico'] }}","type":"string"},{"id":"dce200a5-69d1-4252-a278-9c38fd4ebffb","name":"vetor.cliente.item","value":"={{ $json['vetor.clientes'] }}","type":"string"},{"id":"ae200dd8-cb69-4b6e-9fcb-d0642493166a","name":"payload.produto","value":"={{ $json['payload.produtos'] }}","type":"string"},{"id":"6b0d0558-4132-4cf4-a437-080a060d7a9e","name":"payload.servico","value":"={{ $json['payload.servicos'] }}","type":"string"},{"id":"06dcf5ea-cb4f-4053-88d8-312275c83842","name":"payload.descricao","value":"={{ $json['payload.descricao'] }}","type":"string"},{"id":"bb8762d2-e215-4ef1-9da3-0a26274511cb","name":"payload.publico","value":"={{ $json['payload.publico'] }}","type":"string"},{"id":"ea92bac7-2110-4d78-8cb2-a621cb762c64","name":"payload.cliente","value":"={{ $json['payload.clientes'] }}","type":"string"},{"id":"544dbd2b-ce6d-4da2-ad1a-0bd4a26ab97c","name":"payload.certificacoes","value":"={{ $json['payload.certificacoes'] }}","type":"string"},{"id":"40f8fe7d-ee08-41a3-beef-1483d8ad4fee","name":"payload.uf","value":"={{ $json['payload.uf'] }}","type":"string"},{"id":"1a18c338-0bdf-4357-825b-1105a75a0b01","name":"payload.cnpj","value":"={{ $json['payload.cnpj'] }}","type":"string"},{"id":"0fa5ac0a-d1f0-4571-b1f0-b905cf62b9b7","name":"payload.descricao","value":"={{ $json['payload.descricao'] }}","type":"string"},{"id":"7c4fd9c6-4dc1-46ae-95ac-b7a2eed0f932","name":"payload.cidade","value":"={{ $json['payload.cidade'] }}","type":"string"},{"id":"b79a60ee-a387-4cb9-8fc5-dac2be35d87c","name":"payload.nome_empresa","value":"={{ $json['payload.nome_empresa'] }}","type":"string"},{"id":"3985d39b-3968-4a94-9777-1e6de0acf3aa","name":"payload.modelo_negocio","value":"={{ $json['payload.modelo_negocio'] }}","type":"string"},{"id":"294495f1-5df4-405f-8de4-e73f119152d5","name":"payload.publico","value":"={{ $json['payload.publico'] }}","type":"string"},{"id":"3794c574-b99e-498d-8c2a-2b87b1915772","name":"payload.telefone","value":"={{ $json[\"payload.telefone\"] }}","type":"string"},{"id":"c6db81a6-920a-4ade-b468-74e0b2bbc41d","name":"payload.site","value":"={{ $json[\"payload.site\"] }}","type":"string"},{"id":"d667fc10-8c23-4255-ad58-092eda7f5cb5","name":"payload.endereco","value":"={{ $json[\"payload.endereco\"] }}","type":"string"},{"id":"fab0db81-a3d4-47d9-9952-f31b104b1532","name":"payload.email","value":"={{ $json[\"payload.email\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3232,-880],"id":"eea3ae57-0a73-4184-90a9-a6fb14ee0deb","name":"set_payload+Vector"},{"parameters":{"assignments":{"assignments":[{"id":"b7665341-021d-4412-8e6c-c81fa26e0e94","name":"produto","value":"={{ $json.vetor.produto.item || \" \"  }}","type":"string"},{"id":"bf3ed8d2-6e18-4b72-9db5-f6e2ad913402","name":"servico","value":"={{ $json.vetor.servico.item || \" \" }}","type":"string"},{"id":"b557729a-a2f1-450c-8fc4-3281342fbee1","name":"descricao","value":"={{ $json.vetor.descricao.item || \" \"  }}","type":"string"},{"id":"7f75b2f3-7c1b-485a-8496-efd2f92ee643","name":"publico","value":"={{ $json.vetor.publico.item || \" \"  }}","type":"string"},{"id":"4edca508-d651-44ab-b4d4-0f44457edcc8","name":"cliente","value":"={{ $json.vetor.cliente.item || \" \" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3008,-880],"id":"8408f79e-9ed4-4c3c-9d8b-971601dc2c80","name":"set_profile_data"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.servico }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2416,-1232],"id":"6245ed12-2486-46b0-a94b-9642b05f6445","name":"serviço5","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.produto }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2416,-1056],"id":"b4f13942-ed9e-433f-9e3e-956d09e625af","name":"produto1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.descricao }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2416,-880],"id":"175f9635-521a-483d-a5d9-d9bcc914f3c1","name":"descricao1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.publico }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2416,-704],"id":"d300df7a-dba3-4071-a1ee-651acbc94b01","name":"publico1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.cliente }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2416,-528],"id":"7da9547c-ded1-4904-817a-668729018c0f","name":"cliente","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.vetor.servico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2160,-1632],"id":"26a9a796-cc73-49e7-b656-c459c45bd586","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.payload.produto }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[48,-976],"id":"a33ea9d8-c893-4fb4-bf55-9d1607f763fb","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.payload.descricao }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-32,-816],"id":"033fd3e5-1e0f-47f1-ba26-acf1c1acd8fe","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.payload.publico }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-224,-480],"id":"f5f0d4d7-9f42-4374-a5d7-070fe31ca6ed","name":"If4"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,-64],"id":"41ab7fb8-1633-462a-80be-458b4ce176f6","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,-176],"id":"4e8263ee-9649-479a-8d66-c8ba03f5ce2d","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_cliente","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,-176],"id":"7874bb21-61c9-4cc8-94de-f2c6e54f8efb","name":"Edit Fields5"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,-496],"id":"fb04fcdb-e315-4f0f-a2f8-bf048ac363ca","name":"Edit Fields6"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_publico","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,-496],"id":"36df5891-52a0-4ddb-8182-cdb7264c0261","name":"Edit Fields7"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,-400],"id":"71fc161e-afc7-4365-ae0e-b9909e0b652a","name":"Edit Fields10"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,-832],"id":"ccf9e47a-1943-476f-85f2-a1dd839d49ea","name":"Edit Fields11"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_descricao","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,-832],"id":"1e938964-c4bf-43e7-93e4-65e9ed4100f2","name":"Edit Fields12"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,-752],"id":"7f562375-3920-4340-bca9-62c8f30aced0","name":"Edit Fields13"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5a85eeb4-ec1c-4201-bf50-21e01761233d","leftValue":"={{ $json.payload.cliente }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-240,-144],"id":"d2a15189-702f-4084-96f5-4bc8bc2bb27d","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,-1168],"id":"f765c3d3-f737-4a55-b755-de0510ed395e","name":"Edit Fields14"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_produto","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,-1168],"id":"5b1cf525-003e-4721-9ec0-566c57dc500d","name":"Edit Fields15"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,-1056],"id":"705d212f-9b25-4d7a-8a1c-1d6dfa87460d","name":"Edit Fields16"},{"parameters":{"assignments":{"assignments":[{"id":"452c39ba-1e37-412c-bd20-96fabc08daed","name":"vector","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,-1360],"id":"72dfe10b-2e93-45a9-91e2-345d0b1f1211","name":"Edit Fields17"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_servico","value":"={{ $json.vector }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,-1392],"id":"8a415121-f025-43c2-8143-c5b307d93476","name":"Edit Fields18"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-4144,-880],"id":"80f1abc9-0dda-4d61-a155-8ce0602536ab","name":"When Executed by Another Workflow"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-4528,-2272],"id":"43415002-f13b-4ae7-9f4d-af6f2ee7b937","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"function clean(value) {\n  if (!value) return \"\";\n\n  if (typeof value === \"string\") {\n    return value.trim();\n  }\n\n  if (Array.isArray(value)) {\n    return value\n      .flatMap(v => {\n        if (!v) return [];\n        if (typeof v === \"string\") return v;\n        if (typeof v === \"object\") return Object.values(v);\n        return [];\n      })\n      .flat()\n      .filter(Boolean)\n      .join(\" \")\n      .trim();\n  }\n\n  if (typeof value === \"object\") {\n    return Object.values(value)\n      .flat()\n      .filter(Boolean)\n      .join(\" \")\n      .trim();\n  }\n\n  return \"\";\n}\n\nreturn items.map(item => {\n\n  const fp = item.json.full_profile || {};\n\n  const identidade = fp.identidade || {};\n  const ofertas = fp.ofertas || {};\n  const classificacao = fp.classificacao || {};\n  const reputacao = fp.reputacao || {};\n  const contato = fp.contato || {};\n\n  const produtos = clean(ofertas.produtos);\n  const servicos = clean(ofertas.servicos);\n  const descricao = clean(identidade.descricao);\n  const publico = clean(classificacao.publico_alvo);\n  const clientes = clean(reputacao.lista_clientes);\n  const certificacoes = clean(reputacao.certificacoes);\n\n  const premios = clean(reputacao.premios);\n  const parcerias = clean(reputacao.parcerias);\n  const estudosCaso = clean(reputacao.estudos_caso);\n\n  const emails = clean(contato.emails);\n  const telefones = clean(contato.telefones);\n  const site = clean(contato.url_site);\n  const linkedin = clean(contato.url_linkedin);\n  const endereco = clean(contato.endereco_matriz);\n\n  const nomeEmpresa = clean(identidade.nome_empresa);\n  const municipio = clean(identidade.municipio || item.json.municipio);\n  const uf = clean(identidade.uf || item.json.uf);\n\n  const industria = clean(classificacao.industria);\n  const modeloNegocio = clean(classificacao.modelo_negocio);\n  const cobertura = clean(classificacao.cobertura_geografica);\n\n  const perfilCompleto = clean([\n    nomeEmpresa,\n    descricao,\n    produtos,\n    servicos,\n    publico,\n    clientes,\n    certificacoes,\n    premios,\n    parcerias,\n    estudosCaso,\n    industria,\n    modeloNegocio,\n    cobertura\n  ]);\n\n  return {\n    json: {\n\n      // =====================\n      // CAMPOS PARA VETORIZAÇÃO\n      // =====================\n\n      \"vetor.produtos\": produtos,\n      \"vetor.servicos\": servicos,\n      \"vetor.descricao\": descricao,\n      \"vetor.publico\": publico,\n      \"vetor.clientes\": clientes,\n      \"vetor.perfil_completo\": perfilCompleto,\n\n      // =====================\n      // PAYLOAD COMPLETO\n      // =====================\n\n      \"payload.nome_empresa\": nomeEmpresa,\n      \"payload.descricao\": descricao,\n      \"payload.produtos\": produtos,\n      \"payload.servicos\": servicos,\n      \"payload.publico\": publico,\n      \"payload.clientes\": clientes,\n      \"payload.certificacoes\": certificacoes,\n      \"payload.premios\": premios,\n      \"payload.parcerias\": parcerias,\n      \"payload.estudos_caso\": estudosCaso,\n\n      \"payload.industria\": industria,\n      \"payload.modelo_negocio\": modeloNegocio,\n      \"payload.cobertura_geografica\": cobertura,\n\n      \"payload.email\": emails,\n      \"payload.telefone\": telefones,\n      \"payload.site\": site,\n      \"payload.linkedin\": linkedin,\n      \"payload.endereco\": endereco,\n\n      \"payload.cidade\": municipio,\n      \"payload.uf\": uf,\n      \"payload.cnpj\": clean(identidade.cnpj),\n\n      \"payload.created_at\": item.json.created_at,\n      \"payload.updated_at\": item.json.updated_at\n    }\n  };\n\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3856,-880],"id":"ad2331c2-6d0c-4329-b071-f0000a4f503b","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"1bc0fff2-40ca-460e-abca-4ca790103948","leftValue":"={{ $json['payload.produtos'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"9d4f8a13-39f1-47dd-b47d-b3c1e95324f5","leftValue":"={{ $json['payload.servicos'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"5f4e6285-accd-4fd1-988e-5b1d837103c1","leftValue":"={{ $json['payload.descricao'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"b4e66d0a-bb87-4983-a761-84b382e4f444","leftValue":"={{ $json['payload.publico'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"23eb328f-a455-439d-8c10-5a83f00f8a34","leftValue":"={{ $json['payload.clientes'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"looseTypeValidation":true,"options":{"ignoreCase":false}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-3648,-880],"id":"95f20ed9-d716-4a38-a906-03fb9266032e","name":"Filter2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"1bc0fff2-40ca-460e-abca-4ca790103948","leftValue":"={{ $json['payload.modelo_negocio'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"looseTypeValidation":true,"options":{"ignoreCase":false}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-3472,-880],"id":"8201a0af-c33c-43d3-b38f-d484e704cec8","name":"Filter3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2496,-1552],"id":"3d09d9b7-e71c-4047-abf6-9720242d8c05","name":"Loop Over Items1"},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"complete_profile","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-4240,-2032],"id":"fb2bf322-1741-4502-ace6-402ae8b2bcc9","name":"complete_profile","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":6,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1856,-944],"id":"96877aeb-abd5-4e38-8816-f2851354d5bd","name":"Merge"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"produto"},{"fieldToAggregate":"servico"},{"fieldToAggregate":"descricao"},{"fieldToAggregate":"publico"},{"fieldToAggregate":"cliente"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2800,-880],"id":"157208ca-9b88-4007-a1f6-7e6fadd72660","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"350c326c-9357-4d9b-8da7-d876b89c876c","name":"point.id","value":"={{ Math.floor(Math.random() * 1000000000000) }}","type":"number"},{"id":"736790c0-6bb5-4813-8cc3-c689766a216e","name":"point.payload.modelo_negocio","value":"={{ $json.payload.modelo_negocio }}","type":"string"},{"id":"e0c66083-f877-45f7-8e00-6ff3db420741","name":"point.payload.nome_empresa","value":"={{ $json.payload.nome_empresa }}","type":"string"},{"id":"11403584-ad36-494b-978d-992251b22d1a","name":"point.payload.cnpj","value":"={{ $json.payload.cnpj }}","type":"string"},{"id":"78c0320b-6097-4786-9fc6-2d194a094878","name":"point.payload.cidade","value":"={{ $json.payload.cidade }}","type":"string"},{"id":"afe97d7b-02ed-4e98-a41c-c1fc4e00a17a","name":"point.payload.telefone","value":"={{ $json.payload.telefone }}","type":"string"},{"id":"7477ef44-510c-4600-bbc0-22b9ef1081b8","name":"point.payload.site","value":"={{ $json.payload.site }}","type":"string"},{"id":"4db781e8-2ed5-4cb4-86cf-df2e1d2805a3","name":"point.payload.endereco","value":"={{ $json.payload.endereco }}","type":"string"},{"id":"db0139d6-ffbd-4ba1-9ae5-492829f95f98","name":"point.payload.email","value":"={{ $json.payload.email }}","type":"string"},{"id":"38e60b1c-9fcb-41b3-a897-93bb7f38326e","name":"point.payload.produto","value":"={{ $json.payload.produto }}","type":"string"},{"id":"a29a3be3-8cb1-4ef0-b24a-7a945e9129bb","name":"point.payload.servico","value":"={{ $json.payload.servico }}","type":"string"},{"id":"440bea49-eba0-4a41-8d8f-543fa2213cc0","name":"point.payload.descricao","value":"={{ $json.payload.descricao }}","type":"string"},{"id":"25214201-ffae-422f-ba32-c6f2388fc36a","name":"point.payload.publico","value":"={{ $json.payload.publico }}","type":"string"},{"id":"d2634882-f010-42e9-ab3f-f83010122129","name":"point.payload.cliente","value":"={{ $json.payload.cliente }}","type":"string"},{"id":"155d2f09-d304-4d58-9b77-44b927d47cac","name":"point.payload.uf","value":"={{ $json.payload.uf }}","type":"string"},{"id":"7a5cc220-4fee-44fa-a538-e91605113f4f","name":"point.vectors.v_produto","value":"={{ $('Produto').item.json.embedding }}","type":"array"},{"id":"ae5c937e-79df-4cd0-9682-52a3cf77e233","name":"point.vectors.v_servico","value":"={{ $('Serviço').item.json.embedding }}","type":"array"},{"id":"866d6b01-9b2e-4a10-a51d-742a09a425db","name":"point.vectors.v_descricao","value":"={{ $('Descrição').item.json.embedding }}","type":"array"},{"id":"4bb25b88-b010-4ed4-8c05-f0a20ac5d656","name":"point.vectors.v_cliente","value":"={{ $('Cliente').item.json.embedding }}","type":"array"},{"id":"a0555391-dd44-4edb-a22c-5e218a99d361","name":"point.vectors.v_publico","value":"={{ $('Público').item.json.embedding }}","type":"array"},{"id":"d06d890e-24c8-46f3-937e-a0627b56d730","name":"point.vectors.bm25_complete_profile.text","value":"={{ $json.vetor.produto.item }} {{ $json.vetor.servico.item }} {{ $json.vetor.descricao.item }} {{ $json.vetor.publico.item }} {{ $json.vetor.cliente.item }}","type":"string"},{"id":"70ffa60f-6355-4b72-98a2-10f3d4cecfc9","name":"point.vectors.bm25_complete_profile.model","value":"qdrant/bm25","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1584,-880],"id":"5943909f-05b7-4ba6-bf8d-af5aa468a00d","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2192,-1232],"id":"87f238ac-9cdb-40a9-9262-70f5b18204da","name":"Serviço"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2192,-1056],"id":"5da56d41-9ed4-4624-87a5-bfa4c5b9bbb9","name":"Produto"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2192,-880],"id":"b40491f4-1cc1-4042-a7c4-b54551bd8c36","name":"Descrição"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2192,-704],"id":"eb697de6-18a4-4612-9261-ca1debdb0093","name":"Público"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2192,-528],"id":"b5b5d522-5de0-4d21-8f71-a080130b9898","name":"Cliente"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"point"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1376,-880],"id":"8c069067-fdfb-484d-a270-1d554145e393","name":"Aggregate1"},{"parameters":{"resource":"point","operation":"upsertPoints","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-9-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-9-BM25"},"points":"={{ $json.point }}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-784,-880],"id":"5f16b00a-ae13-44cb-82ba-faaed5dd6697","name":"Upsert Points","executeOnce":false,"retryOnFail":true,"credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"8040272a-8362-4059-b8c1-e86eeb9fe0be","name":"point","value":"={{ $json.point }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-688,-672],"id":"8851e6cf-6caf-448a-9161-23497d5a5445","name":"Edit Fields1"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/points/upsert","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.point }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1184,-880],"id":"7b748339-5eb9-4806-b8e6-f635736608a5","name":"HTTP Request1","retryOnFail":true},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"fundacao","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-3152,-2272],"id":"2e2ddfc2-cc3b-4f8e-b727-ba62bcd81c45","name":"fundacao","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"email","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-2944,-2272],"id":"965e01a8-3db1-468f-b0fc-2710c943c624","name":"email","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"telefone","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-2752,-2272],"id":"39c6df0a-4b4e-4fbb-8253-2fa8a375db89","name":"telefone","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"site","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-2560,-2272],"id":"2495f68b-0585-4fed-8e5d-1ba1535338e9","name":"site","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"resource":"payload","operation":"createPayloadIndex","collectionName":{"__rl":true,"value":"mvp_busca_fornecedor-8-BM25","mode":"list","cachedResultName":"mvp_busca_fornecedor-8-BM25"},"fieldName":"endereco","fieldSchema":"{\n  \"type\": \"text\",\n  \"tokenizer\": \"multilingual\",\n  \"lowercase\": true,\n  \"on_disk\": true\n}","requestOptions":{}},"type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[-2400,-2272],"id":"e88a007a-8138-4060-bda7-d5829092ad17","name":"endereco","credentials":{"qdrantRestApi":{"id":"sZ0D5qtiHEJoBAuu","name":"Qdrant account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"cnpj"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3952,-688],"id":"48cb3d43-3571-499e-9fc5-71dd320cb6e3","name":"Aggregate2"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/pipeline/run","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"limit","value":"5000"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-3728,-432],"id":"953763f9-8f73-4a8a-8fb2-0cb48b6aeb2b","name":"HTTP Request","retryOnFail":true}],"connections":{"Create Collection":{"main":[[]]},"modelo_negocio":{"main":[[{"node":"UF","type":"main","index":0}]]},"produtos":{"main":[[{"node":"servicos","type":"main","index":0}]]},"servicos":{"main":[[{"node":"descricao","type":"main","index":0}]]},"cnpj":{"main":[[{"node":"modelo_negocio","type":"main","index":0}]]},"nome_empresa":{"main":[[]]},"UF":{"main":[[{"node":"Cidade","type":"main","index":0}]]},"Cidade":{"main":[[{"node":"nome_empresa","type":"main","index":0}]]},"descricao":{"main":[[{"node":"clientes","type":"main","index":0}]]},"clientes":{"main":[[{"node":"publico","type":"main","index":0}]]},"publico":{"main":[[{"node":"certificacoes","type":"main","index":0}]]},"set_payload+Vector":{"main":[[{"node":"set_profile_data","type":"main","index":0},{"node":"Merge","type":"main","index":5}]]},"serviço5":{"main":[[{"node":"Serviço","type":"main","index":0}],[]]},"set_profile_data":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"cliente":{"main":[[{"node":"Cliente","type":"main","index":0}]]},"descricao1":{"main":[[{"node":"Descrição","type":"main","index":0}]]},"produto1":{"main":[[{"node":"Produto","type":"main","index":0}]]},"publico1":{"main":[[{"node":"Público","type":"main","index":0}]]},"If":{"main":[[],[]]},"If2":{"main":[[],[]]},"If3":{"main":[[],[]]},"If4":{"main":[[],[]]},"Edit Fields4":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields5":{"main":[[]]},"Edit Fields6":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Edit Fields10":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Edit Fields11":{"main":[[{"node":"Edit Fields12","type":"main","index":0}]]},"Edit Fields13":{"main":[[{"node":"Edit Fields12","type":"main","index":0}]]},"If1":{"main":[[],[]]},"Edit Fields7":{"main":[[]]},"Edit Fields12":{"main":[[]]},"Edit Fields14":{"main":[[{"node":"Edit Fields15","type":"main","index":0}]]},"Edit Fields16":{"main":[[{"node":"Edit Fields15","type":"main","index":0}]]},"Edit Fields17":{"main":[[{"node":"Edit Fields18","type":"main","index":0}]]},"Edit Fields15":{"main":[[]]},"Edit Fields18":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"Code in JavaScript","type":"main","index":0},{"node":"Aggregate2","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"produtos","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Filter2","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"Filter3","type":"main","index":0}]]},"Filter3":{"main":[[{"node":"set_payload+Vector","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"certificacoes":{"main":[[{"node":"fundacao","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"serviço5","type":"main","index":0},{"node":"produto1","type":"main","index":0},{"node":"descricao1","type":"main","index":0},{"node":"publico1","type":"main","index":0},{"node":"cliente","type":"main","index":0}]]},"Serviço":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Produto":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Descrição":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Público":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Cliente":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Edit Fields":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Upsert Points":{"main":[[],[]]},"Edit Fields1":{"main":[[]]},"fundacao":{"main":[[{"node":"email","type":"main","index":0}]]},"email":{"main":[[{"node":"telefone","type":"main","index":0}]]},"telefone":{"main":[[{"node":"site","type":"main","index":0}]]},"site":{"main":[[{"node":"endereco","type":"main","index":0}]]},"Aggregate2":{"main":[[]]},"HTTP Request1":{"main":[[]]}},"authors":"ABC  advise","name":"Version 0b960ec5","description":"","autosaved":true},"tags":[]}