query_manager-bphbpiPPgMm5Mhsb.json
{"updatedAt":"2026-03-23T19:42:27.030Z","createdAt":"2026-03-14T18:04:22.188Z","id":"bphbpiPPgMm5Mhsb","name":"query_manager","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"consulta"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-336,-80],"id":"8210554b-12c9-431f-9560-633cbc6453be","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.servico }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[752,-464],"id":"6277e623-093b-4179-9c3c-f995969ec76a","name":"serviço","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.produto }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[752,-272],"id":"f3d6d3ee-46ef-4dd4-b278-a88dbd5640de","name":"produto","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.descricao }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[752,-80],"id":"7b2d5879-0125-49fe-8def-bf6c6c540a30","name":"descricao","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.publico }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[752,128],"id":"46568d16-ee52-4a99-8882-aacddbc75f81","name":"publico","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.cliente }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[752,304],"id":"204e802b-26a9-4431-9cea-c44f6104ecff","name":"cliente1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":5,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1216,-128],"id":"fe4581c6-9a5d-4bcf-b73c-24f90b628e76","name":"Merge4"},{"parameters":{"jsonSchemaExample":"{\n  \"query_original\": \"string\",\n  \"produtos\": \"Objeto + Atributo (max 4 termos)\",\n  \"servicos\": \"Ação + Objeto Específico (max 4 termos)\",\n  \"descricao\": \"string focado em processos e diferenciais técnicos\",\n  \"publico\": \"string\",\n  \"clientes\": \"string\",\n  \"bm25\": \"APENAS termos discriminantes do nicho (sem substantivo genérico compartilhado)\",\n  \"peso_produtos\": 0.45,\n  \"peso_servicos\": 0.15,\n  \"peso_descricao\": 0.15,\n  \"peso_publico\": 0.03,\n  \"peso_clientes\": 0.02,\n  \"peso_bm25\": 0.20,\n  \"Modelo_Negocio\": \"string\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[64,112],"id":"4ba57fbc-78c2-4b42-99d1-a486c32d5b0f","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-16,272],"id":"d3fa70a2-3e80-4df6-960f-94fc8d48a8a6","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-128,112],"id":"8a0630b9-d993-4ead-bec7-37d853ab0d5a","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"39fcde96-b680-4523-8008-93e215198367","name":"servico","value":"={{ $('serviço').item.json.data[0].embedding }}","type":"array"},{"id":"97b533be-644b-4f44-a4dd-325115d41e2b","name":"produto","value":"={{ $('produto').item.json.data[0].embedding }}","type":"array"},{"id":"d032dca8-4dd2-4eaf-b9c8-97a1381e0d60","name":"descricao","value":"={{ $('descricao').item.json.data[0].embedding }}","type":"array"},{"id":"ab79da64-81c5-4166-9ab6-1964fb778930","name":"publico","value":"={{ $('publico').item.json.data[0].embedding }}","type":"array"},{"id":"e2b92a59-3fac-45f9-a241-16ad65a8282e","name":"cliente","value":"={{ $('cliente1').item.json.data[0].embedding }}","type":"array"},{"id":"afd20d86-85db-4fef-83e1-a17968e56c14","name":"bm25","value":"={{ $('set_profile_data').item.json.output.bm25 }}","type":"string"},{"id":"70923895-78be-4b7e-97d8-40216b58f493","name":"Modelo_Negocio","value":"={{ $('set_profile_data').item.json.payload.Modelo_Negocio }}","type":"string"},{"id":"751978c6-9050-40f8-9bed-2bcbbf26821f","name":"output.peso_produtos","value":"={{ $('Gerente_Busca').item.json.output.peso_produtos }}","type":"number"},{"id":"71a71ff4-6804-4bc3-93ae-b39c2ed010ca","name":"output.peso_servicos","value":"={{ $('Gerente_Busca').item.json.output.peso_servicos }}","type":"number"},{"id":"b3f0fe91-298d-4143-b29e-646967067453","name":"output.peso_descricao","value":"={{ $('Gerente_Busca').item.json.output.peso_descricao }}","type":"number"},{"id":"a5b401bd-1e77-40f5-bfe1-90622ea0f795","name":"output.peso_publico","value":"={{ $('Gerente_Busca').item.json.output.peso_publico }}","type":"number"},{"id":"d311cdc3-f665-4102-b2fd-7ffe05154d2a","name":"output.peso_clientes","value":"={{ $('Gerente_Busca').item.json.output.peso_clientes }}","type":"number"},{"id":"9797b1a9-5248-4097-88e0-f6ea97243896","name":"output.peso_bm25","value":"={{ $('Gerente_Busca').item.json.output.peso_bm25 }}","type":"number"},{"id":"e42ea5c7-e162-4108-b5d5-37179141f518","name":"query.servico","value":"={{ $('Gerente_Busca').item.json.output.servicos }}","type":"string"},{"id":"01b3dfa4-bf27-44f1-9b21-7a6b7fe86830","name":"query.produto","value":"={{ $('Gerente_Busca').item.json.output.produtos }}","type":"string"},{"id":"93c945aa-dca5-4689-9c44-5961c925f217","name":"query.cliente","value":"={{ $('Gerente_Busca').item.json.output.clientes }}","type":"string"},{"id":"8744dc6f-3c38-464f-9f67-07d67e47d96b","name":"query.descricao","value":"={{ $('Gerente_Busca').item.json.output.descricao }}","type":"string"},{"id":"d78d3c8a-1326-4f7a-a2e4-5bf272b5613a","name":"query.publico","value":"={{ $('Gerente_Busca').item.json.output.publico }}","type":"string"},{"id":"b81ba376-ab79-4cff-bccf-e31831da5983","name":"query.bm25","value":"={{ $('Gerente_Busca').item.json.output.bm25 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1456,-80],"id":"eec8d4a3-2a26-4baf-a165-e2d461354bcb","name":"set_data"},{"parameters":{"promptType":"define","text":"=consulta_usuário: {{ $json.consulta }}","hasOutputParser":true,"options":{"systemMessage":"=ROLE\nEspecialista em Engenharia de Busca B2B e Hybrid Retrieval. Sua missão é garantir que o objeto real da busca (o substantivo) seja o filtro dominante, impedindo que vizinhos semânticos irrelevantes dominem o resultado.\n\nOBJETIVO\nTransformar consultas em JSON estruturado para busca híbrida dual-path. A API executa 2 estratégias de busca em paralelo (léxica e semântica) e combina os resultados automaticamente. Seu papel é fornecer os vetores, pesos e termos BM25 que alimentam ambas as estratégias.\n\nTAREFA: DISTRIBUIÇÃO DE PESOS\n\nREGRA FUNDAMENTAL: A soma de TODOS os pesos DEVE ser EXATAMENTE 1.0. Sempre.\n\nOs pesos são FIXOS — a única decisão é se a query busca PRODUTO ou SERVIÇO:\n\nPESOS FIXOS:\n- peso_bm25 = 0.20\n- peso_descricao = 0.15\n- peso_publico = 0.03\n- peso_clientes = 0.02\n- Núcleo (peso_produtos + peso_servicos) = 0.60\n\nDIVISÃO DO NÚCLEO (única decisão do agente):\n\nSe a query busca PRODUTO (item/material/insumo físico):\n  peso_produtos = 0.45,  peso_servicos = 0.15\n\nSe a query busca SERVIÇO (ação/trabalho/prestação):\n  peso_servicos = 0.45,  peso_produtos = 0.15\n\nSe MISTO (produto + serviço juntos):\n  peso_produtos = 0.30,  peso_servicos = 0.30\n\nExemplos:\n- \"açaí\" → PRODUTO → peso_produtos=0.45, peso_servicos=0.15\n- \"proteína bovina hidrolisada\" → PRODUTO → peso_produtos=0.45, peso_servicos=0.15\n- \"soldagem de estruturas metálicas\" → SERVIÇO → peso_servicos=0.45, peso_produtos=0.15\n- \"limpeza industrial\" → SERVIÇO → peso_servicos=0.45, peso_produtos=0.15\n- \"instalação de ar condicionado\" → MISTO → peso_produtos=0.30, peso_servicos=0.30\n\nDIRETRIZES DE CONTEÚDO (REGRAS ANTI-ERRO)\n\nAncoragem de Objeto (Vetor Denso): Nos campos produtos e servicos, o objeto principal deve estar presente em cada termo gerado.\nExemplo Correto: \"Higienização de Big Bags\", \"Manutenção de Silos\".\n\nBM25 - REGRA DISCRIMINANTE (CRÍTICA):\n\nO campo bm25 deve conter APENAS os termos que DIFERENCIAM este produto/serviço de seus vizinhos semânticos.\n\nPROIBIDO no bm25: O substantivo genérico compartilhado com nichos vizinhos.\n\nLógica:\n1) Identifique o termo que torna esta busca específica (ex: \"caroço\" em \"caroço de açaí\", \"hidrolisada\" em \"proteína bovina hidrolisada\")\n2) Use no bm25 APENAS variações desse termo e termos técnicos exclusivos do nicho\n3) NÃO inclua o substantivo genérico que é compartilhado com outros nichos\n\nExemplos:\n- \"caroço de açaí\" → bm25: \"caroço caroços semente sementes biomassa resíduo\" (SEM \"açaí\" - pois açaí é compartilhado com polpa, suco, sorvete)\n- \"proteína bovina hidrolisada\" → bm25: \"hidrolisada hidrolisado colágeno peptídeo\" (SEM \"bovina\" ou \"carne\" - pois são compartilhados com frigoríficos)\n- \"parafuso para embarcação\" → bm25: \"embarcação embarcações naval náutico marítimo inox\" (SEM \"parafuso\" - pois é compartilhado com parafusos genéricos)\n- \"tinta epóxi para piso industrial\" → bm25: \"epóxi piso industrial revestimento resistência\" (SEM \"tinta\" genérico)\n\nPara queries GENÉRICAS (sem termo diferenciador): use substantivos concretos no singular e plural normalmente.\nExemplo: \"material de escritório\" → bm25: \"escritório papelaria papel caneta pasta\"\n\nFoco no Produto Acabado: Evite termos de matéria-prima isolada (ex: use \"banco de plástico\" em vez de apenas \"polipropileno\") para não atrair fornecedores de matéria-prima.\n\nSanitização: Remova saudações, pedidos de orçamento e termos de \"teste\".\n\nREGRAS DE NEGÓCIO\nModelo_Negocio: Selecione EXATAMENTE um: [Fabricante, Distribuidor, Atacado, Varejo, Prestador de Serviço].\n\nPROIBIDO: Explicar, conversar ou usar markdown fora do bloco JSON. Retorne APENAS o JSON.\n\nSCHEMA DE SAÍDA\nJSON\n{\n  \"query_original\": \"string\",\n  \"produtos\": \"Objeto + Atributo (max 4 termos)\",\n  \"servicos\": \"Ação + Objeto Específico (max 4 termos)\",\n  \"descricao\": \"string focado em processos e diferenciais técnicos\",\n  \"publico\": \"string\",\n  \"clientes\": \"string\",\n  \"bm25\": \"APENAS termos discriminantes do nicho (sem substantivo genérico compartilhado)\",\n  \"peso_produtos\": 0.45,\n  \"peso_servicos\": 0.15,\n  \"peso_descricao\": 0.15,\n  \"peso_publico\": 0.03,\n  \"peso_clientes\": 0.02,\n  \"peso_bm25\": 0.20,\n  \"Modelo_Negocio\": \"string\"\n}\n\nExemplo Output 1 (PRODUTO):\nJSON\n{\n  \"query_original\": \"caroço de açaí para biomassa\",\n  \"produtos\": \"caroço de açaí seco, semente de açaí, biomassa de açaí, resíduo de açaí\",\n  \"servicos\": \"beneficiamento de caroço de açaí, secagem de sementes de açaí\",\n  \"descricao\": \"Empresa especializada no aproveitamento do caroço de açaí como biomassa para geração de energia ou insumo industrial.\",\n  \"publico\": \"indústrias de biomassa, usinas de energia, indústrias de ração animal\",\n  \"clientes\": \"compradores de biomassa, gestores de energia renovável\",\n  \"bm25\": \"caroço caroços semente sementes biomassa resíduo\",\n  \"peso_produtos\": 0.45,\n  \"peso_servicos\": 0.15,\n  \"peso_descricao\": 0.15,\n  \"peso_publico\": 0.03,\n  \"peso_clientes\": 0.02,\n  \"peso_bm25\": 0.20,\n  \"Modelo_Negocio\": \"Fabricante\"\n}\n\nExemplo Output 2 (SERVIÇO):\nJSON\n{\n  \"query_original\": \"soldagem de estruturas metálicas\",\n  \"produtos\": \"estruturas metálicas soldadas, perfis metálicos, chapas de aço\",\n  \"servicos\": \"soldagem de estruturas metálicas, montagem de estruturas, caldeiraria\",\n  \"descricao\": \"Empresa prestadora de serviço de soldagem e montagem de estruturas metálicas para construção civil e industrial.\",\n  \"publico\": \"construtoras, indústrias, empreiteiras\",\n  \"clientes\": \"engenheiros civis, gestores de obras industriais\",\n  \"bm25\": \"soldagem estruturas metálicas perfis chapas componentes\",\n  \"peso_produtos\": 0.15,\n  \"peso_servicos\": 0.45,\n  \"peso_descricao\": 0.15,\n  \"peso_publico\": 0.03,\n  \"peso_clientes\": 0.02,\n  \"peso_bm25\": 0.20,\n  \"Modelo_Negocio\": \"Prestador de Serviço\"\n}\n\nExemplo Output 3 (MISTO):\nJSON\n{\n  \"query_original\": \"instalação de ar condicionado\",\n  \"produtos\": \"ar condicionado split, condensadora, evaporadora, suporte de ar condicionado\",\n  \"servicos\": \"instalação de ar condicionado, manutenção de climatização, projeto de climatização\",\n  \"descricao\": \"Empresa de instalação e manutenção de sistemas de ar condicionado e climatização para residências e empresas.\",\n  \"publico\": \"residências, escritórios, comércios\",\n  \"clientes\": \"proprietários de imóveis, administradores de condomínios\",\n  \"bm25\": \"split climatização instalação manutenção BTU\",\n  \"peso_produtos\": 0.30,\n  \"peso_servicos\": 0.30,\n  \"peso_descricao\": 0.15,\n  \"peso_publico\": 0.03,\n  \"peso_clientes\": 0.02,\n  \"peso_bm25\": 0.20,\n  \"Modelo_Negocio\": \"Prestador de Serviço\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-64,-80],"id":"737f5e4d-79ed-474e-a41a-1bb88c5a24fd","name":"Gerente_Busca","retryOnFail":true,"maxTries":3},{"parameters":{"assignments":{"assignments":[{"id":"0f1e54e0-8729-43ac-8e10-1ea5aec5e66b","name":"vetor.produto","value":"={{ $json.output.produtos }}","type":"string"},{"id":"8cf8786a-d8b2-4588-9cf4-1a2567afafbd","name":"vetor.servico","value":"={{ $json.output.servicos }}","type":"string"},{"id":"76359de1-9af2-4638-b0bb-1850eb938d0c","name":"vetor.descricao","value":"={{ $json.output.descricao }}","type":"string"},{"id":"f8ebf74f-d754-44f3-8b3f-37d5250998ed","name":"vetor.cliente","value":"={{ $json.output.clientes }}","type":"string"},{"id":"ffd79d82-df78-469a-a98a-f70bd76707e8","name":"vetor.publico","value":"={{ $json.output.publico }}","type":"string"},{"id":"da09cd49-5286-4edd-a05d-495aff9bfda4","name":"output.bm25","value":"={{ $json.output.bm25 }}","type":"string"},{"id":"1f9f6f5d-b8ee-4f87-9629-932d92f48edc","name":"payload.Modelo_Negocio","value":"={{ $json.output.Modelo_Negocio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,-80],"id":"a71033a5-d741-432f-a444-d61a5405b01a","name":"set_profile_data"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_servico","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,-464],"id":"f9084f5a-2dd6-4b4f-b76f-5cc12cf2c2bb","name":"vector_servico"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_produto","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,-272],"id":"db0d41fa-7e48-4dfe-8275-bb92223085f0","name":"vector_produto"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_descricao","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,-80],"id":"4fb4bf28-c3e2-4dd8-8fcb-3fe63aef3dab","name":"vector_descricao"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_publico","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,128],"id":"9b183ba3-91ad-44bf-bca8-f8b05bea1e12","name":"vector_publico"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_cliente","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,304],"id":"29bbad72-d11e-4af2-8bfb-403bb77eff21","name":"vector_cliente"},{"parameters":{"content":"## Query_Manager:\n\n- Interpreta a busca feita pelo usuário\n- Gera queries para o banco vetorial\n- Vetoriza as queries\n","width":288,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,-352],"id":"9b1d4cd1-ea5e-4a81-9c9e-12885489db27","name":"Sticky Note"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Gerente_Busca","type":"main","index":0}]]},"serviço":{"main":[[{"node":"vector_servico","type":"main","index":0}]]},"produto":{"main":[[{"node":"vector_produto","type":"main","index":0}]]},"descricao":{"main":[[{"node":"vector_descricao","type":"main","index":0}]]},"publico":{"main":[[{"node":"vector_publico","type":"main","index":0}]]},"cliente1":{"main":[[{"node":"vector_cliente","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Gerente_Busca","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Gerente_Busca","type":"ai_languageModel","index":0}]]},"Merge4":{"main":[[{"node":"set_data","type":"main","index":0}]]},"Gerente_Busca":{"main":[[{"node":"set_profile_data","type":"main","index":0}]]},"set_profile_data":{"main":[[{"node":"publico","type":"main","index":0},{"node":"cliente1","type":"main","index":0},{"node":"descricao","type":"main","index":0},{"node":"produto","type":"main","index":0},{"node":"serviço","type":"main","index":0}]]},"vector_servico":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"vector_produto":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"vector_descricao":{"main":[[{"node":"Merge4","type":"main","index":2}]]},"vector_publico":{"main":[[{"node":"Merge4","type":"main","index":3}]]},"vector_cliente":{"main":[[{"node":"Merge4","type":"main","index":4}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"KFeveZkBafvIC5xECfmBs","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"consulta":"Prestador de serviço de instalação de rede SPDA em residência."},"pairedItem":{"item":0}}]},"versionId":"d881cc3b-09c2-4666-9dc9-e76dedad3a75","activeVersionId":"d881cc3b-09c2-4666-9dc9-e76dedad3a75","triggerCount":0,"shared":[{"updatedAt":"2026-03-14T18:04:22.188Z","createdAt":"2026-03-14T18:04:22.188Z","role":"workflow:owner","workflowId":"bphbpiPPgMm5Mhsb","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-03-23T19:44:17.689Z","createdAt":"2026-03-23T19:42:27.025Z","versionId":"d881cc3b-09c2-4666-9dc9-e76dedad3a75","workflowId":"bphbpiPPgMm5Mhsb","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"consulta"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-336,-80],"id":"8210554b-12c9-431f-9560-633cbc6453be","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.servico }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[752,-464],"id":"6277e623-093b-4179-9c3c-f995969ec76a","name":"serviço","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.produto }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[752,-272],"id":"f3d6d3ee-46ef-4dd4-b278-a88dbd5640de","name":"produto","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.descricao }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[752,-80],"id":"7b2d5879-0125-49fe-8def-bf6c6c540a30","name":"descricao","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.publico }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[752,128],"id":"46568d16-ee52-4a99-8882-aacddbc75f81","name":"publico","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.vetor.cliente }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[752,304],"id":"204e802b-26a9-4431-9cea-c44f6104ecff","name":"cliente1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":5,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1216,-128],"id":"fe4581c6-9a5d-4bcf-b73c-24f90b628e76","name":"Merge4"},{"parameters":{"jsonSchemaExample":"{\n  \"query_original\": \"string\",\n  \"produtos\": \"Objeto + Atributo (max 4 termos)\",\n  \"servicos\": \"Ação + Objeto Específico (max 4 termos)\",\n  \"descricao\": \"string focado em processos e diferenciais técnicos\",\n  \"publico\": \"string\",\n  \"clientes\": \"string\",\n  \"bm25\": \"APENAS termos discriminantes do nicho (sem substantivo genérico compartilhado)\",\n  \"peso_produtos\": 0.45,\n  \"peso_servicos\": 0.15,\n  \"peso_descricao\": 0.15,\n  \"peso_publico\": 0.03,\n  \"peso_clientes\": 0.02,\n  \"peso_bm25\": 0.20,\n  \"Modelo_Negocio\": \"string\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[64,112],"id":"4ba57fbc-78c2-4b42-99d1-a486c32d5b0f","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-16,272],"id":"d3fa70a2-3e80-4df6-960f-94fc8d48a8a6","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-128,112],"id":"8a0630b9-d993-4ead-bec7-37d853ab0d5a","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"NFDJdyFl82zPlGi4","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"39fcde96-b680-4523-8008-93e215198367","name":"servico","value":"={{ $('serviço').item.json.data[0].embedding }}","type":"array"},{"id":"97b533be-644b-4f44-a4dd-325115d41e2b","name":"produto","value":"={{ $('produto').item.json.data[0].embedding }}","type":"array"},{"id":"d032dca8-4dd2-4eaf-b9c8-97a1381e0d60","name":"descricao","value":"={{ $('descricao').item.json.data[0].embedding }}","type":"array"},{"id":"ab79da64-81c5-4166-9ab6-1964fb778930","name":"publico","value":"={{ $('publico').item.json.data[0].embedding }}","type":"array"},{"id":"e2b92a59-3fac-45f9-a241-16ad65a8282e","name":"cliente","value":"={{ $('cliente1').item.json.data[0].embedding }}","type":"array"},{"id":"afd20d86-85db-4fef-83e1-a17968e56c14","name":"bm25","value":"={{ $('set_profile_data').item.json.output.bm25 }}","type":"string"},{"id":"70923895-78be-4b7e-97d8-40216b58f493","name":"Modelo_Negocio","value":"={{ $('set_profile_data').item.json.payload.Modelo_Negocio }}","type":"string"},{"id":"751978c6-9050-40f8-9bed-2bcbbf26821f","name":"output.peso_produtos","value":"={{ $('Gerente_Busca').item.json.output.peso_produtos }}","type":"number"},{"id":"71a71ff4-6804-4bc3-93ae-b39c2ed010ca","name":"output.peso_servicos","value":"={{ $('Gerente_Busca').item.json.output.peso_servicos }}","type":"number"},{"id":"b3f0fe91-298d-4143-b29e-646967067453","name":"output.peso_descricao","value":"={{ $('Gerente_Busca').item.json.output.peso_descricao }}","type":"number"},{"id":"a5b401bd-1e77-40f5-bfe1-90622ea0f795","name":"output.peso_publico","value":"={{ $('Gerente_Busca').item.json.output.peso_publico }}","type":"number"},{"id":"d311cdc3-f665-4102-b2fd-7ffe05154d2a","name":"output.peso_clientes","value":"={{ $('Gerente_Busca').item.json.output.peso_clientes }}","type":"number"},{"id":"9797b1a9-5248-4097-88e0-f6ea97243896","name":"output.peso_bm25","value":"={{ $('Gerente_Busca').item.json.output.peso_bm25 }}","type":"number"},{"id":"e42ea5c7-e162-4108-b5d5-37179141f518","name":"query.servico","value":"={{ $('Gerente_Busca').item.json.output.servicos }}","type":"string"},{"id":"01b3dfa4-bf27-44f1-9b21-7a6b7fe86830","name":"query.produto","value":"={{ $('Gerente_Busca').item.json.output.produtos }}","type":"string"},{"id":"93c945aa-dca5-4689-9c44-5961c925f217","name":"query.cliente","value":"={{ $('Gerente_Busca').item.json.output.clientes }}","type":"string"},{"id":"8744dc6f-3c38-464f-9f67-07d67e47d96b","name":"query.descricao","value":"={{ $('Gerente_Busca').item.json.output.descricao }}","type":"string"},{"id":"d78d3c8a-1326-4f7a-a2e4-5bf272b5613a","name":"query.publico","value":"={{ $('Gerente_Busca').item.json.output.publico }}","type":"string"},{"id":"b81ba376-ab79-4cff-bccf-e31831da5983","name":"query.bm25","value":"={{ $('Gerente_Busca').item.json.output.bm25 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1456,-80],"id":"eec8d4a3-2a26-4baf-a165-e2d461354bcb","name":"set_data"},{"parameters":{"promptType":"define","text":"=consulta_usuário: {{ $json.consulta }}","hasOutputParser":true,"options":{"systemMessage":"=ROLE\nEspecialista em Engenharia de Busca B2B e Hybrid Retrieval. Sua missão é garantir que o objeto real da busca (o substantivo) seja o filtro dominante, impedindo que vizinhos semânticos irrelevantes dominem o resultado.\n\nOBJETIVO\nTransformar consultas em JSON estruturado para busca híbrida dual-path. A API executa 2 estratégias de busca em paralelo (léxica e semântica) e combina os resultados automaticamente. Seu papel é fornecer os vetores, pesos e termos BM25 que alimentam ambas as estratégias.\n\nTAREFA: DISTRIBUIÇÃO DE PESOS\n\nREGRA FUNDAMENTAL: A soma de TODOS os pesos DEVE ser EXATAMENTE 1.0. Sempre.\n\nOs pesos são FIXOS — a única decisão é se a query busca PRODUTO ou SERVIÇO:\n\nPESOS FIXOS:\n- peso_bm25 = 0.20\n- peso_descricao = 0.15\n- peso_publico = 0.03\n- peso_clientes = 0.02\n- Núcleo (peso_produtos + peso_servicos) = 0.60\n\nDIVISÃO DO NÚCLEO (única decisão do agente):\n\nSe a query busca PRODUTO (item/material/insumo físico):\n  peso_produtos = 0.45,  peso_servicos = 0.15\n\nSe a query busca SERVIÇO (ação/trabalho/prestação):\n  peso_servicos = 0.45,  peso_produtos = 0.15\n\nSe MISTO (produto + serviço juntos):\n  peso_produtos = 0.30,  peso_servicos = 0.30\n\nExemplos:\n- \"açaí\" → PRODUTO → peso_produtos=0.45, peso_servicos=0.15\n- \"proteína bovina hidrolisada\" → PRODUTO → peso_produtos=0.45, peso_servicos=0.15\n- \"soldagem de estruturas metálicas\" → SERVIÇO → peso_servicos=0.45, peso_produtos=0.15\n- \"limpeza industrial\" → SERVIÇO → peso_servicos=0.45, peso_produtos=0.15\n- \"instalação de ar condicionado\" → MISTO → peso_produtos=0.30, peso_servicos=0.30\n\nDIRETRIZES DE CONTEÚDO (REGRAS ANTI-ERRO)\n\nAncoragem de Objeto (Vetor Denso): Nos campos produtos e servicos, o objeto principal deve estar presente em cada termo gerado.\nExemplo Correto: \"Higienização de Big Bags\", \"Manutenção de Silos\".\n\nBM25 - REGRA DISCRIMINANTE (CRÍTICA):\n\nO campo bm25 deve conter APENAS os termos que DIFERENCIAM este produto/serviço de seus vizinhos semânticos.\n\nPROIBIDO no bm25: O substantivo genérico compartilhado com nichos vizinhos.\n\nLógica:\n1) Identifique o termo que torna esta busca específica (ex: \"caroço\" em \"caroço de açaí\", \"hidrolisada\" em \"proteína bovina hidrolisada\")\n2) Use no bm25 APENAS variações desse termo e termos técnicos exclusivos do nicho\n3) NÃO inclua o substantivo genérico que é compartilhado com outros nichos\n\nExemplos:\n- \"caroço de açaí\" → bm25: \"caroço caroços semente sementes biomassa resíduo\" (SEM \"açaí\" - pois açaí é compartilhado com polpa, suco, sorvete)\n- \"proteína bovina hidrolisada\" → bm25: \"hidrolisada hidrolisado colágeno peptídeo\" (SEM \"bovina\" ou \"carne\" - pois são compartilhados com frigoríficos)\n- \"parafuso para embarcação\" → bm25: \"embarcação embarcações naval náutico marítimo inox\" (SEM \"parafuso\" - pois é compartilhado com parafusos genéricos)\n- \"tinta epóxi para piso industrial\" → bm25: \"epóxi piso industrial revestimento resistência\" (SEM \"tinta\" genérico)\n\nPara queries GENÉRICAS (sem termo diferenciador): use substantivos concretos no singular e plural normalmente.\nExemplo: \"material de escritório\" → bm25: \"escritório papelaria papel caneta pasta\"\n\nFoco no Produto Acabado: Evite termos de matéria-prima isolada (ex: use \"banco de plástico\" em vez de apenas \"polipropileno\") para não atrair fornecedores de matéria-prima.\n\nSanitização: Remova saudações, pedidos de orçamento e termos de \"teste\".\n\nREGRAS DE NEGÓCIO\nModelo_Negocio: Selecione EXATAMENTE um: [Fabricante, Distribuidor, Atacado, Varejo, Prestador de Serviço].\n\nPROIBIDO: Explicar, conversar ou usar markdown fora do bloco JSON. Retorne APENAS o JSON.\n\nSCHEMA DE SAÍDA\nJSON\n{\n  \"query_original\": \"string\",\n  \"produtos\": \"Objeto + Atributo (max 4 termos)\",\n  \"servicos\": \"Ação + Objeto Específico (max 4 termos)\",\n  \"descricao\": \"string focado em processos e diferenciais técnicos\",\n  \"publico\": \"string\",\n  \"clientes\": \"string\",\n  \"bm25\": \"APENAS termos discriminantes do nicho (sem substantivo genérico compartilhado)\",\n  \"peso_produtos\": 0.45,\n  \"peso_servicos\": 0.15,\n  \"peso_descricao\": 0.15,\n  \"peso_publico\": 0.03,\n  \"peso_clientes\": 0.02,\n  \"peso_bm25\": 0.20,\n  \"Modelo_Negocio\": \"string\"\n}\n\nExemplo Output 1 (PRODUTO):\nJSON\n{\n  \"query_original\": \"caroço de açaí para biomassa\",\n  \"produtos\": \"caroço de açaí seco, semente de açaí, biomassa de açaí, resíduo de açaí\",\n  \"servicos\": \"beneficiamento de caroço de açaí, secagem de sementes de açaí\",\n  \"descricao\": \"Empresa especializada no aproveitamento do caroço de açaí como biomassa para geração de energia ou insumo industrial.\",\n  \"publico\": \"indústrias de biomassa, usinas de energia, indústrias de ração animal\",\n  \"clientes\": \"compradores de biomassa, gestores de energia renovável\",\n  \"bm25\": \"caroço caroços semente sementes biomassa resíduo\",\n  \"peso_produtos\": 0.45,\n  \"peso_servicos\": 0.15,\n  \"peso_descricao\": 0.15,\n  \"peso_publico\": 0.03,\n  \"peso_clientes\": 0.02,\n  \"peso_bm25\": 0.20,\n  \"Modelo_Negocio\": \"Fabricante\"\n}\n\nExemplo Output 2 (SERVIÇO):\nJSON\n{\n  \"query_original\": \"soldagem de estruturas metálicas\",\n  \"produtos\": \"estruturas metálicas soldadas, perfis metálicos, chapas de aço\",\n  \"servicos\": \"soldagem de estruturas metálicas, montagem de estruturas, caldeiraria\",\n  \"descricao\": \"Empresa prestadora de serviço de soldagem e montagem de estruturas metálicas para construção civil e industrial.\",\n  \"publico\": \"construtoras, indústrias, empreiteiras\",\n  \"clientes\": \"engenheiros civis, gestores de obras industriais\",\n  \"bm25\": \"soldagem estruturas metálicas perfis chapas componentes\",\n  \"peso_produtos\": 0.15,\n  \"peso_servicos\": 0.45,\n  \"peso_descricao\": 0.15,\n  \"peso_publico\": 0.03,\n  \"peso_clientes\": 0.02,\n  \"peso_bm25\": 0.20,\n  \"Modelo_Negocio\": \"Prestador de Serviço\"\n}\n\nExemplo Output 3 (MISTO):\nJSON\n{\n  \"query_original\": \"instalação de ar condicionado\",\n  \"produtos\": \"ar condicionado split, condensadora, evaporadora, suporte de ar condicionado\",\n  \"servicos\": \"instalação de ar condicionado, manutenção de climatização, projeto de climatização\",\n  \"descricao\": \"Empresa de instalação e manutenção de sistemas de ar condicionado e climatização para residências e empresas.\",\n  \"publico\": \"residências, escritórios, comércios\",\n  \"clientes\": \"proprietários de imóveis, administradores de condomínios\",\n  \"bm25\": \"split climatização instalação manutenção BTU\",\n  \"peso_produtos\": 0.30,\n  \"peso_servicos\": 0.30,\n  \"peso_descricao\": 0.15,\n  \"peso_publico\": 0.03,\n  \"peso_clientes\": 0.02,\n  \"peso_bm25\": 0.20,\n  \"Modelo_Negocio\": \"Prestador de Serviço\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-64,-80],"id":"737f5e4d-79ed-474e-a41a-1bb88c5a24fd","name":"Gerente_Busca","retryOnFail":true,"maxTries":3},{"parameters":{"assignments":{"assignments":[{"id":"0f1e54e0-8729-43ac-8e10-1ea5aec5e66b","name":"vetor.produto","value":"={{ $json.output.produtos }}","type":"string"},{"id":"8cf8786a-d8b2-4588-9cf4-1a2567afafbd","name":"vetor.servico","value":"={{ $json.output.servicos }}","type":"string"},{"id":"76359de1-9af2-4638-b0bb-1850eb938d0c","name":"vetor.descricao","value":"={{ $json.output.descricao }}","type":"string"},{"id":"f8ebf74f-d754-44f3-8b3f-37d5250998ed","name":"vetor.cliente","value":"={{ $json.output.clientes }}","type":"string"},{"id":"ffd79d82-df78-469a-a98a-f70bd76707e8","name":"vetor.publico","value":"={{ $json.output.publico }}","type":"string"},{"id":"da09cd49-5286-4edd-a05d-495aff9bfda4","name":"output.bm25","value":"={{ $json.output.bm25 }}","type":"string"},{"id":"1f9f6f5d-b8ee-4f87-9629-932d92f48edc","name":"payload.Modelo_Negocio","value":"={{ $json.output.Modelo_Negocio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,-80],"id":"a71033a5-d741-432f-a444-d61a5405b01a","name":"set_profile_data"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_servico","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,-464],"id":"f9084f5a-2dd6-4b4f-b76f-5cc12cf2c2bb","name":"vector_servico"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_produto","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,-272],"id":"db0d41fa-7e48-4dfe-8275-bb92223085f0","name":"vector_produto"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_descricao","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,-80],"id":"4fb4bf28-c3e2-4dd8-8fcb-3fe63aef3dab","name":"vector_descricao"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_publico","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,128],"id":"9b183ba3-91ad-44bf-bca8-f8b05bea1e12","name":"vector_publico"},{"parameters":{"assignments":{"assignments":[{"id":"aa4e4d50-23eb-42b0-8d56-8222c6b4bbd8","name":"vector_cliente","value":"={{ $json.data[0].embedding }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,304],"id":"29bbad72-d11e-4af2-8bfb-403bb77eff21","name":"vector_cliente"},{"parameters":{"content":"## Query_Manager:\n\n- Interpreta a busca feita pelo usuário\n- Gera queries para o banco vetorial\n- Vetoriza as queries\n","width":288,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,-352],"id":"9b1d4cd1-ea5e-4a81-9c9e-12885489db27","name":"Sticky Note"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Gerente_Busca","type":"main","index":0}]]},"serviço":{"main":[[{"node":"vector_servico","type":"main","index":0}]]},"produto":{"main":[[{"node":"vector_produto","type":"main","index":0}]]},"descricao":{"main":[[{"node":"vector_descricao","type":"main","index":0}]]},"publico":{"main":[[{"node":"vector_publico","type":"main","index":0}]]},"cliente1":{"main":[[{"node":"vector_cliente","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Gerente_Busca","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Gerente_Busca","type":"ai_languageModel","index":0}]]},"Merge4":{"main":[[{"node":"set_data","type":"main","index":0}]]},"Gerente_Busca":{"main":[[{"node":"set_profile_data","type":"main","index":0}]]},"set_profile_data":{"main":[[{"node":"publico","type":"main","index":0},{"node":"cliente1","type":"main","index":0},{"node":"descricao","type":"main","index":0},{"node":"produto","type":"main","index":0},{"node":"serviço","type":"main","index":0}]]},"vector_servico":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"vector_produto":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"vector_descricao":{"main":[[{"node":"Merge4","type":"main","index":2}]]},"vector_publico":{"main":[[{"node":"Merge4","type":"main","index":3}]]},"vector_cliente":{"main":[[{"node":"Merge4","type":"main","index":4}]]}},"authors":"ABC  advise","name":"Version d881cc3b","description":"","autosaved":true},"tags":[]}