registrar-conta-whatsapp-dfzSiOV2FBfv6ZFs.json
{"updatedAt":"2026-05-04T16:41:54.505Z","createdAt":"2026-04-20T17:58:18.180Z","id":"dfzSiOV2FBfv6ZFs","name":"Registrar Conta Whatsapp","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Perfil:\n- Telefone\n- Nome\n- Empresa\n- Fonte","height":144,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-688,-304],"id":"bfde081d-b317-4e07-9123-37fa9cec2adc","name":"Sticky Note"},{"parameters":{"workflowInputs":{"values":[{"name":"numero"},{"name":"nome"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-944,64],"id":"0bbaca39-7817-43bf-b587-d6c8524bb6cd","name":"When Executed by Another Workflow"},{"parameters":{"content":"### (Tool) Registrar Conta Whatsapp\n- Cria uma conta de comprador para um usuário caso o mesmo ainda não tenha.\n\n","height":96,"width":304,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1008,-256],"id":"d379a1cb-da5b-41fb-bab6-ca11329fcd88","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"eab5e01f-1945-4ce3-ab6a-167af2d952ce","name":"Telefone","value":"={{ $json.numero }}","type":"string"},{"id":"f58a9247-fef6-49ae-acb0-69f2c94456e1","name":"Nome","value":"={{ $json.nome }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-736,64],"id":"5d238b1b-3fb1-4334-a16d-0b9e533c24ed","name":"set_info"},{"parameters":{"method":"POST","url":"https://hccolkrnyrxcbxuuajwq.supabase.co/functions/v1/criar-usuario-whatsapp","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjY29sa3JueXJ4Y2J4dXVhandxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYzODc2OTUsImV4cCI6MjA2MTk2MzY5NX0.qYkop3Qkpk7moRwiS4afwhIG7HBepJN8R5peqSIJHOU"},{"name":"x-n8n-secret","value":"whattsN8nSecret"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('set_info').item.json.Telefone }}"},{"name":"nome","value":"={{ $('set_info').item.json.Nome }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-32,160],"id":"d0a54807-d17f-42b6-9b6b-d76a04548e63","name":"cria-usuario-whatsapp"},{"parameters":{"content":"## Criação de conta:\n- Recebe e estrutura a informação do usuário.\n- Identifica se o usuário já possui uma conta na plataforma.\n- Caso não possua, chama uma função no Supabase para criar uma conta incompleta para o usuário: https://hccolkrnyrxcbxuuajwq.supabase.co/functions/v1/criar-usuario-whatsapp\n\n","height":464,"width":1414,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1008,-144],"id":"aa58ba2e-744a-44d6-9897-73d0e1ec9094","name":"Sticky Note1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"55d895b8-4e8f-4050-8a92-ff724f92fc37"}],"combinator":"and"},"renameOutput":true,"outputKey":"Já tem Conta"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f18faaba-060e-4365-af86-50716bb48931","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Nova Conta"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-320,64],"id":"eeaf8ae2-0153-4953-b06e-824c2725ef92","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"bbedb97d-213d-4c0a-9cc9-302ef686d5b0","name":"nome","value":"={{ $json.nome }}","type":"string"},{"id":"f0464120-e925-4896-8cd0-e46feb383109","name":"telefone","value":"={{ $json.telefone }}","type":"string"},{"id":"9acb1b46-7f1f-4996-9f87-51c2c13eb305","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,-16],"id":"0489bb3d-86a5-47af-ada5-fd3a14f29eed","name":"conta_existente_info"},{"parameters":{"assignments":{"assignments":[{"id":"88b8e9c5-92df-4c03-97be-63be855a2440","name":"id","value":"={{ $json.user_id }}","type":"string"},{"id":"a1bf2379-2977-4ba4-ac1f-f94b9a46a12f","name":"telefone","value":"={{ $json.phone }}","type":"string"},{"id":"6fdb3a03-66d9-42f4-a7cc-738e9c6f8dc4","name":"completar_cadastro_url","value":"={{ $json.completar_cadastro_url }}","type":"string"},{"id":"00c6b3fc-865a-4006-844f-da8dd59b63ee","name":"otp_code","value":"={{ $json.otp_code }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,160],"id":"02f3f0a9-846f-420c-9a9e-89bf6c6aa547","name":"conta_nova_info"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"usuario_comprador","mode":"list","cachedResultName":"usuario_comprador"},"limit":1,"where":{"values":[{"column":"telefone","value":"={{ $json.Telefone }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-528,64],"id":"8bb83541-3cab-42c8-b601-efadff746c74","name":"get_user","alwaysOutputData":true,"credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"set_info","type":"main","index":0}]]},"set_info":{"main":[[{"node":"get_user","type":"main","index":0}]]},"Switch":{"main":[[{"node":"conta_existente_info","type":"main","index":0}],[{"node":"cria-usuario-whatsapp","type":"main","index":0}]]},"cria-usuario-whatsapp":{"main":[[{"node":"conta_nova_info","type":"main","index":0}]]},"get_user":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"numero":"553599195960","nome":"Felipe"},"pairedItem":{"item":0}}]},"versionId":"01f2cb44-3553-4508-bf60-8e2d66d31b23","activeVersionId":"01f2cb44-3553-4508-bf60-8e2d66d31b23","triggerCount":0,"shared":[{"updatedAt":"2026-04-20T17:58:18.180Z","createdAt":"2026-04-20T17:58:18.180Z","role":"workflow:owner","workflowId":"dfzSiOV2FBfv6ZFs","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-05-04T16:41:57.922Z","createdAt":"2026-05-04T16:41:54.511Z","versionId":"01f2cb44-3553-4508-bf60-8e2d66d31b23","workflowId":"dfzSiOV2FBfv6ZFs","nodes":[{"parameters":{"content":"## Perfil:\n- Telefone\n- Nome\n- Empresa\n- Fonte","height":144,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-688,-304],"id":"bfde081d-b317-4e07-9123-37fa9cec2adc","name":"Sticky Note"},{"parameters":{"workflowInputs":{"values":[{"name":"numero"},{"name":"nome"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-944,64],"id":"0bbaca39-7817-43bf-b587-d6c8524bb6cd","name":"When Executed by Another Workflow"},{"parameters":{"content":"### (Tool) Registrar Conta Whatsapp\n- Cria uma conta de comprador para um usuário caso o mesmo ainda não tenha.\n\n","height":96,"width":304,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1008,-256],"id":"d379a1cb-da5b-41fb-bab6-ca11329fcd88","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"eab5e01f-1945-4ce3-ab6a-167af2d952ce","name":"Telefone","value":"={{ $json.numero }}","type":"string"},{"id":"f58a9247-fef6-49ae-acb0-69f2c94456e1","name":"Nome","value":"={{ $json.nome }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-736,64],"id":"5d238b1b-3fb1-4334-a16d-0b9e533c24ed","name":"set_info"},{"parameters":{"method":"POST","url":"https://hccolkrnyrxcbxuuajwq.supabase.co/functions/v1/criar-usuario-whatsapp","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjY29sa3JueXJ4Y2J4dXVhandxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYzODc2OTUsImV4cCI6MjA2MTk2MzY5NX0.qYkop3Qkpk7moRwiS4afwhIG7HBepJN8R5peqSIJHOU"},{"name":"x-n8n-secret","value":"whattsN8nSecret"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('set_info').item.json.Telefone }}"},{"name":"nome","value":"={{ $('set_info').item.json.Nome }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-32,160],"id":"d0a54807-d17f-42b6-9b6b-d76a04548e63","name":"cria-usuario-whatsapp"},{"parameters":{"content":"## Criação de conta:\n- Recebe e estrutura a informação do usuário.\n- Identifica se o usuário já possui uma conta na plataforma.\n- Caso não possua, chama uma função no Supabase para criar uma conta incompleta para o usuário: https://hccolkrnyrxcbxuuajwq.supabase.co/functions/v1/criar-usuario-whatsapp\n\n","height":464,"width":1414,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1008,-144],"id":"aa58ba2e-744a-44d6-9897-73d0e1ec9094","name":"Sticky Note1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"55d895b8-4e8f-4050-8a92-ff724f92fc37"}],"combinator":"and"},"renameOutput":true,"outputKey":"Já tem Conta"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f18faaba-060e-4365-af86-50716bb48931","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Nova Conta"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-320,64],"id":"eeaf8ae2-0153-4953-b06e-824c2725ef92","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"bbedb97d-213d-4c0a-9cc9-302ef686d5b0","name":"nome","value":"={{ $json.nome }}","type":"string"},{"id":"f0464120-e925-4896-8cd0-e46feb383109","name":"telefone","value":"={{ $json.telefone }}","type":"string"},{"id":"9acb1b46-7f1f-4996-9f87-51c2c13eb305","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,-16],"id":"0489bb3d-86a5-47af-ada5-fd3a14f29eed","name":"conta_existente_info"},{"parameters":{"assignments":{"assignments":[{"id":"88b8e9c5-92df-4c03-97be-63be855a2440","name":"id","value":"={{ $json.user_id }}","type":"string"},{"id":"a1bf2379-2977-4ba4-ac1f-f94b9a46a12f","name":"telefone","value":"={{ $json.phone }}","type":"string"},{"id":"6fdb3a03-66d9-42f4-a7cc-738e9c6f8dc4","name":"completar_cadastro_url","value":"={{ $json.completar_cadastro_url }}","type":"string"},{"id":"00c6b3fc-865a-4006-844f-da8dd59b63ee","name":"otp_code","value":"={{ $json.otp_code }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,160],"id":"02f3f0a9-846f-420c-9a9e-89bf6c6aa547","name":"conta_nova_info"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"usuario_comprador","mode":"list","cachedResultName":"usuario_comprador"},"limit":1,"where":{"values":[{"column":"telefone","value":"={{ $json.Telefone }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-528,64],"id":"8bb83541-3cab-42c8-b601-efadff746c74","name":"get_user","alwaysOutputData":true,"credentials":{"postgres":{"id":"8MXZ6U3UVpvutTEe","name":"Supabase"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"set_info","type":"main","index":0}]]},"set_info":{"main":[[{"node":"get_user","type":"main","index":0}]]},"Switch":{"main":[[{"node":"conta_existente_info","type":"main","index":0}],[{"node":"cria-usuario-whatsapp","type":"main","index":0}]]},"cria-usuario-whatsapp":{"main":[[{"node":"conta_nova_info","type":"main","index":0}]]},"get_user":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"authors":"ABC  advise","name":"Version 01f2cb44","description":"","autosaved":true},"tags":[]}