registra-ponto-kB_N3_R481djBqzc1fjOt.json
{"updatedAt":"2026-05-04T15:03:01.680Z","createdAt":"2026-02-04T18:03:19.298Z","id":"kB_N3_R481djBqzc1fjOt","name":"Registra Ponto","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Ponto","formFields":{"values":[{"fieldName":"Tipo de Ponto","fieldLabel":"Qual o ponto?","fieldType":"checkbox","fieldOptions":{"values":[{"option":"Entrada"},{"option":"Almoço (Início)"},{"option":"Almoço (Fim)"},{"option":"Saída"}]},"limitSelection":"range","minSelections":1,"requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.4,"position":[-336,944],"id":"ae467417-979f-4483-b13d-6d331f1cd0b5","name":"On form submission","webhookId":"f8defdbc-49b3-4b90-bd99-6b39f2d1eeb0"},{"parameters":{"dataTableId":{"__rl":true,"value":"yxUrkdU7ty9BHc0t","mode":"list","cachedResultName":"Ponto Felipe","cachedResultUrl":"/projects/jk0yZKautC5L7CBp/datatables/yxUrkdU7ty9BHc0t"},"columns":{"mappingMode":"defineBelow","value":{"Dia":"={{ $json.dia }}","Hora":"={{ $json.horario }}","Tipo_ponto":"={{ $json.tipo }}"},"matchingColumns":[],"schema":[{"id":"Dia","displayName":"Dia","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Tipo_ponto","displayName":"Tipo_ponto","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[480,528],"id":"63527d4a-e62a-4246-a8bf-3fe0377210ba","name":"Ponto_Felipe"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 10 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-336,320],"id":"f68a5d84-324c-4446-a7fa-04e5eb0b9bb5","name":"Entrada"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 18 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-336,752],"id":"dde42aff-5fa6-4b17-b5b9-0a9ba7752bfd","name":"Saída"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 13 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-336,608],"id":"241a0576-1f3a-4859-9631-903bc447eb3e","name":"Almoço (Fim)"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 12 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-336,464],"id":"226c11f9-d7d8-4313-a4e2-837d642acb82","name":"Almoço (Início)"},{"parameters":{"assignments":{"assignments":[{"id":"fd7ca90e-6b0b-4829-a55e-2a4f678bb4cd","name":"Tipo de Ponto","value":"=Entrada","type":"string"},{"id":"d2121a79-9cd9-4d42-99d9-867333032f82","name":"Dia","value":"={{ $now.toDateTime().format('dd-MM') }}","type":"string"},{"id":"a754afba-02b0-4846-ad20-66fb5c909a52","name":"Horário","value":"={{ $now.plus({ hours: 1 }).toDateTime().format('HH:mm') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,320],"id":"ee0f68b1-4c09-4a27-ac39-d8017b9592d9","name":"set_entrada"},{"parameters":{"assignments":{"assignments":[{"id":"fd7ca90e-6b0b-4829-a55e-2a4f678bb4cd","name":"Tipo de Ponto","value":"=Almoco (Início)","type":"string"},{"id":"d2121a79-9cd9-4d42-99d9-867333032f82","name":"Dia","value":"={{ $now.toDateTime().format('dd-MM') }}","type":"string"},{"id":"a754afba-02b0-4846-ad20-66fb5c909a52","name":"Horário","value":"={{ $now.plus({ hours: 1 }).toDateTime().format('HH:mm') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,464],"id":"0f9360e3-b1c6-49bb-8a07-7761f0a4be89","name":"set_almoco_inicio"},{"parameters":{"assignments":{"assignments":[{"id":"fd7ca90e-6b0b-4829-a55e-2a4f678bb4cd","name":"Tipo de Ponto","value":"=Almoco (Fim)","type":"string"},{"id":"d2121a79-9cd9-4d42-99d9-867333032f82","name":"Dia","value":"={{ $now.toDateTime().format('dd-MM') }}","type":"string"},{"id":"a754afba-02b0-4846-ad20-66fb5c909a52","name":"Horário","value":"={{ $now.plus({ hours: 1 }).toDateTime().format('HH:mm') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,608],"id":"ff95fdfd-8b56-4c8b-bf0b-95d64b6bf5db","name":"set_almoco_fim"},{"parameters":{"assignments":{"assignments":[{"id":"fd7ca90e-6b0b-4829-a55e-2a4f678bb4cd","name":"Tipo de Ponto","value":"=Saída","type":"string"},{"id":"d2121a79-9cd9-4d42-99d9-867333032f82","name":"Dia","value":"={{ $now.toDateTime().format('dd-MM') }}","type":"string"},{"id":"a754afba-02b0-4846-ad20-66fb5c909a52","name":"Horário","value":"={{ $now.plus({ hours: 1 }).toDateTime().format('HH:mm') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,752],"id":"8b4a81db-143b-493f-8c28-ef630e80489a","name":"set_saida"},{"parameters":{"assignments":{"assignments":[{"id":"540a0fe5-f476-4f36-91c5-a48b07477efb","name":"Tipo de Ponto","value":"={{ $json['Tipo de Ponto'] }}","type":"string"},{"id":"6abce749-dc37-473d-b51c-c54ee17ed48c","name":"Dia","value":"={{ $json.Dia }}","type":"string"},{"id":"76093633-34c3-4503-a120-300cebd58afe","name":"Horário","value":"={{ $json['Horário'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[96,528],"id":"14d4468c-37ac-4a25-b38c-c945456b8474","name":"set_data"},{"parameters":{"operation":"sendAndWait","chatId":"7975856170","message":"=Registro de {{ $json['Tipo de Ponto'] }}.\n\n{{ $json.Dia }} às {{ $json['Horário'] }}.","options":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[288,528],"id":"7f2db056-4f9e-4f97-91e1-26b33946d17a","name":"Send message and wait for approve","webhookId":"ebd1b843-f8af-49b0-9e8b-b3695a252257","credentials":{"telegramApi":{"id":"ca8xxX5A84aox0Rt","name":"Telegram Felipe"}}}],"connections":{"On form submission":{"main":[[]]},"Ponto_Felipe":{"main":[[]]},"Entrada":{"main":[[{"node":"set_entrada","type":"main","index":0}]]},"Almoço (Início)":{"main":[[{"node":"set_almoco_inicio","type":"main","index":0}]]},"Almoço (Fim)":{"main":[[{"node":"set_almoco_fim","type":"main","index":0}]]},"Saída":{"main":[[{"node":"set_saida","type":"main","index":0}]]},"set_entrada":{"main":[[{"node":"set_data","type":"main","index":0}]]},"set_almoco_inicio":{"main":[[{"node":"set_data","type":"main","index":0}]]},"set_almoco_fim":{"main":[[{"node":"set_data","type":"main","index":0}]]},"set_saida":{"main":[[{"node":"set_data","type":"main","index":0}]]},"set_data":{"main":[[{"node":"Send message and wait for approve","type":"main","index":0}]]},"Send message and wait for approve":{"main":[[{"node":"Ponto_Felipe","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"KFeveZkBafvIC5xECfmBs"},"staticData":{"node:Entrada":{"recurrenceRules":[]},"node:Saída":{"recurrenceRules":[]},"node:Almoço (Fim)":{"recurrenceRules":[]},"node:Almoço (Início)":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3455ce15-0ac9-4e03-96c7-1c1599c5a1b6","activeVersionId":"3455ce15-0ac9-4e03-96c7-1c1599c5a1b6","triggerCount":5,"shared":[{"updatedAt":"2026-02-04T18:03:19.298Z","createdAt":"2026-02-04T18:03:19.298Z","role":"workflow:owner","workflowId":"kB_N3_R481djBqzc1fjOt","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-05-04T16:00:49.554Z","createdAt":"2026-05-04T15:03:01.685Z","versionId":"3455ce15-0ac9-4e03-96c7-1c1599c5a1b6","workflowId":"kB_N3_R481djBqzc1fjOt","nodes":[{"parameters":{"formTitle":"Ponto","formFields":{"values":[{"fieldName":"Tipo de Ponto","fieldLabel":"Qual o ponto?","fieldType":"checkbox","fieldOptions":{"values":[{"option":"Entrada"},{"option":"Almoço (Início)"},{"option":"Almoço (Fim)"},{"option":"Saída"}]},"limitSelection":"range","minSelections":1,"requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.4,"position":[-336,944],"id":"ae467417-979f-4483-b13d-6d331f1cd0b5","name":"On form submission","webhookId":"f8defdbc-49b3-4b90-bd99-6b39f2d1eeb0"},{"parameters":{"dataTableId":{"__rl":true,"value":"yxUrkdU7ty9BHc0t","mode":"list","cachedResultName":"Ponto Felipe","cachedResultUrl":"/projects/jk0yZKautC5L7CBp/datatables/yxUrkdU7ty9BHc0t"},"columns":{"mappingMode":"defineBelow","value":{"Dia":"={{ $json.dia }}","Hora":"={{ $json.horario }}","Tipo_ponto":"={{ $json.tipo }}"},"matchingColumns":[],"schema":[{"id":"Dia","displayName":"Dia","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Tipo_ponto","displayName":"Tipo_ponto","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[480,528],"id":"63527d4a-e62a-4246-a8bf-3fe0377210ba","name":"Ponto_Felipe"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 10 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-336,320],"id":"f68a5d84-324c-4446-a7fa-04e5eb0b9bb5","name":"Entrada"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 18 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-336,752],"id":"dde42aff-5fa6-4b17-b5b9-0a9ba7752bfd","name":"Saída"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 13 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-336,608],"id":"241a0576-1f3a-4859-9631-903bc447eb3e","name":"Almoço (Fim)"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 12 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-336,464],"id":"226c11f9-d7d8-4313-a4e2-837d642acb82","name":"Almoço (Início)"},{"parameters":{"assignments":{"assignments":[{"id":"fd7ca90e-6b0b-4829-a55e-2a4f678bb4cd","name":"Tipo de Ponto","value":"=Entrada","type":"string"},{"id":"d2121a79-9cd9-4d42-99d9-867333032f82","name":"Dia","value":"={{ $now.toDateTime().format('dd-MM') }}","type":"string"},{"id":"a754afba-02b0-4846-ad20-66fb5c909a52","name":"Horário","value":"={{ $now.plus({ hours: 1 }).toDateTime().format('HH:mm') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,320],"id":"ee0f68b1-4c09-4a27-ac39-d8017b9592d9","name":"set_entrada"},{"parameters":{"assignments":{"assignments":[{"id":"fd7ca90e-6b0b-4829-a55e-2a4f678bb4cd","name":"Tipo de Ponto","value":"=Almoco (Início)","type":"string"},{"id":"d2121a79-9cd9-4d42-99d9-867333032f82","name":"Dia","value":"={{ $now.toDateTime().format('dd-MM') }}","type":"string"},{"id":"a754afba-02b0-4846-ad20-66fb5c909a52","name":"Horário","value":"={{ $now.plus({ hours: 1 }).toDateTime().format('HH:mm') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,464],"id":"0f9360e3-b1c6-49bb-8a07-7761f0a4be89","name":"set_almoco_inicio"},{"parameters":{"assignments":{"assignments":[{"id":"fd7ca90e-6b0b-4829-a55e-2a4f678bb4cd","name":"Tipo de Ponto","value":"=Almoco (Fim)","type":"string"},{"id":"d2121a79-9cd9-4d42-99d9-867333032f82","name":"Dia","value":"={{ $now.toDateTime().format('dd-MM') }}","type":"string"},{"id":"a754afba-02b0-4846-ad20-66fb5c909a52","name":"Horário","value":"={{ $now.plus({ hours: 1 }).toDateTime().format('HH:mm') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,608],"id":"ff95fdfd-8b56-4c8b-bf0b-95d64b6bf5db","name":"set_almoco_fim"},{"parameters":{"assignments":{"assignments":[{"id":"fd7ca90e-6b0b-4829-a55e-2a4f678bb4cd","name":"Tipo de Ponto","value":"=Saída","type":"string"},{"id":"d2121a79-9cd9-4d42-99d9-867333032f82","name":"Dia","value":"={{ $now.toDateTime().format('dd-MM') }}","type":"string"},{"id":"a754afba-02b0-4846-ad20-66fb5c909a52","name":"Horário","value":"={{ $now.plus({ hours: 1 }).toDateTime().format('HH:mm') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,752],"id":"8b4a81db-143b-493f-8c28-ef630e80489a","name":"set_saida"},{"parameters":{"assignments":{"assignments":[{"id":"540a0fe5-f476-4f36-91c5-a48b07477efb","name":"Tipo de Ponto","value":"={{ $json['Tipo de Ponto'] }}","type":"string"},{"id":"6abce749-dc37-473d-b51c-c54ee17ed48c","name":"Dia","value":"={{ $json.Dia }}","type":"string"},{"id":"76093633-34c3-4503-a120-300cebd58afe","name":"Horário","value":"={{ $json['Horário'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[96,528],"id":"14d4468c-37ac-4a25-b38c-c945456b8474","name":"set_data"},{"parameters":{"operation":"sendAndWait","chatId":"7975856170","message":"=Registro de {{ $json['Tipo de Ponto'] }}.\n\n{{ $json.Dia }} às {{ $json['Horário'] }}.","options":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[288,528],"id":"7f2db056-4f9e-4f97-91e1-26b33946d17a","name":"Send message and wait for approve","webhookId":"ebd1b843-f8af-49b0-9e8b-b3695a252257","credentials":{"telegramApi":{"id":"ca8xxX5A84aox0Rt","name":"Telegram Felipe"}}}],"connections":{"On form submission":{"main":[[]]},"Ponto_Felipe":{"main":[[]]},"Entrada":{"main":[[{"node":"set_entrada","type":"main","index":0}]]},"Almoço (Início)":{"main":[[{"node":"set_almoco_inicio","type":"main","index":0}]]},"Almoço (Fim)":{"main":[[{"node":"set_almoco_fim","type":"main","index":0}]]},"Saída":{"main":[[{"node":"set_saida","type":"main","index":0}]]},"set_entrada":{"main":[[{"node":"set_data","type":"main","index":0}]]},"set_almoco_inicio":{"main":[[{"node":"set_data","type":"main","index":0}]]},"set_almoco_fim":{"main":[[{"node":"set_data","type":"main","index":0}]]},"set_saida":{"main":[[{"node":"set_data","type":"main","index":0}]]},"set_data":{"main":[[{"node":"Send message and wait for approve","type":"main","index":0}]]},"Send message and wait for approve":{"main":[[{"node":"Ponto_Felipe","type":"main","index":0}]]}},"authors":"ABC  advise","name":"Version 3455ce15","description":"","autosaved":true},"tags":[]}