registrar-conta-whatsapp-dfzSiOV2FBfv6ZFs.json
{"updatedAt":"2026-04-28T17:52:23.908Z","createdAt":"2026-04-20T17:58:18.180Z","id":"dfzSiOV2FBfv6ZFs","name":"Registrar Conta Whatsapp","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Perfil:\n- Telefone\n- Nome\n- Empresa\n- Fonte","height":144,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-688,-384],"id":"bfde081d-b317-4e07-9123-37fa9cec2adc","name":"Sticky Note"},{"parameters":{"workflowInputs":{"values":[{"name":"numero"},{"name":"nome"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-944,-64],"id":"0bbaca39-7817-43bf-b587-d6c8524bb6cd","name":"When Executed by Another Workflow"},{"parameters":{"content":"### (Tool) Registrar Conta Whatsapp\n- Cria uma conta de comprador para um usuário.\n\n","height":80,"width":304,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1008,-320],"id":"d379a1cb-da5b-41fb-bab6-ca11329fcd88","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"eab5e01f-1945-4ce3-ab6a-167af2d952ce","name":"Telefone","value":"={{ $json.numero }}","type":"string"},{"id":"f58a9247-fef6-49ae-acb0-69f2c94456e1","name":"Nome","value":"={{ $json.nome }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-736,-64],"id":"5d238b1b-3fb1-4334-a16d-0b9e533c24ed","name":"set_info"},{"parameters":{"method":"POST","url":"https://hccolkrnyrxcbxuuajwq.supabase.co/functions/v1/criar-usuario-whatsapp","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjY29sa3JueXJ4Y2J4dXVhandxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYzODc2OTUsImV4cCI6MjA2MTk2MzY5NX0.qYkop3Qkpk7moRwiS4afwhIG7HBepJN8R5peqSIJHOU"},{"name":"x-n8n-secret","value":"whattsN8nSecret"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $json.Telefone }}"},{"name":"nome","value":"={{ $json.Nome }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-528,-64],"id":"d0a54807-d17f-42b6-9b6b-d76a04548e63","name":"cria-usuario-whatsapp"},{"parameters":{"content":"## Criação de conta:\n- Recebe e estrutura a informação do usuário.\n- Chama uma função no Supabase para criar uma conta incompleta para o usuário: https://hccolkrnyrxcbxuuajwq.supabase.co/functions/v1/criar-usuario-whatsapp\n\n","height":320,"width":678,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1008,-224],"id":"aa58ba2e-744a-44d6-9897-73d0e1ec9094","name":"Sticky Note1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"set_info","type":"main","index":0}]]},"set_info":{"main":[[{"node":"cria-usuario-whatsapp","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"numero":"553599195960","nome":"Felipe"},"pairedItem":{"item":0}}]},"versionId":"2f8954cb-214f-470f-81e4-e9ebd05ae637","activeVersionId":"2f8954cb-214f-470f-81e4-e9ebd05ae637","triggerCount":0,"shared":[{"updatedAt":"2026-04-20T17:58:18.180Z","createdAt":"2026-04-20T17:58:18.180Z","role":"workflow:owner","workflowId":"dfzSiOV2FBfv6ZFs","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-04-29T14:25:27.368Z","createdAt":"2026-04-28T17:52:23.915Z","versionId":"2f8954cb-214f-470f-81e4-e9ebd05ae637","workflowId":"dfzSiOV2FBfv6ZFs","nodes":[{"parameters":{"content":"## Perfil:\n- Telefone\n- Nome\n- Empresa\n- Fonte","height":144,"width":150},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-688,-384],"id":"bfde081d-b317-4e07-9123-37fa9cec2adc","name":"Sticky Note"},{"parameters":{"workflowInputs":{"values":[{"name":"numero"},{"name":"nome"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-944,-64],"id":"0bbaca39-7817-43bf-b587-d6c8524bb6cd","name":"When Executed by Another Workflow"},{"parameters":{"content":"### (Tool) Registrar Conta Whatsapp\n- Cria uma conta de comprador para um usuário.\n\n","height":80,"width":304,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1008,-320],"id":"d379a1cb-da5b-41fb-bab6-ca11329fcd88","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"eab5e01f-1945-4ce3-ab6a-167af2d952ce","name":"Telefone","value":"={{ $json.numero }}","type":"string"},{"id":"f58a9247-fef6-49ae-acb0-69f2c94456e1","name":"Nome","value":"={{ $json.nome }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-736,-64],"id":"5d238b1b-3fb1-4334-a16d-0b9e533c24ed","name":"set_info"},{"parameters":{"method":"POST","url":"https://hccolkrnyrxcbxuuajwq.supabase.co/functions/v1/criar-usuario-whatsapp","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjY29sa3JueXJ4Y2J4dXVhandxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYzODc2OTUsImV4cCI6MjA2MTk2MzY5NX0.qYkop3Qkpk7moRwiS4afwhIG7HBepJN8R5peqSIJHOU"},{"name":"x-n8n-secret","value":"whattsN8nSecret"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $json.Telefone }}"},{"name":"nome","value":"={{ $json.Nome }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-528,-64],"id":"d0a54807-d17f-42b6-9b6b-d76a04548e63","name":"cria-usuario-whatsapp"},{"parameters":{"content":"## Criação de conta:\n- Recebe e estrutura a informação do usuário.\n- Chama uma função no Supabase para criar uma conta incompleta para o usuário: https://hccolkrnyrxcbxuuajwq.supabase.co/functions/v1/criar-usuario-whatsapp\n\n","height":320,"width":678,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1008,-224],"id":"aa58ba2e-744a-44d6-9897-73d0e1ec9094","name":"Sticky Note1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"set_info","type":"main","index":0}]]},"set_info":{"main":[[{"node":"cria-usuario-whatsapp","type":"main","index":0}]]}},"authors":"ABC  advise","name":"Version 2f8954cb","description":"","autosaved":true},"tags":[]}