restore-backup-IUVV7nSbZs6aeZNB.json
{"updatedAt":"2025-12-01T16:38:59.264Z","createdAt":"2025-10-02T13:57:22.839Z","id":"IUVV7nSbZs6aeZNB","name":"Restore-Backup","active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"https://github.com/ABC-Advise-git/n8n-Railway-Backup/commits?author=ABC-Advise-githttps://github.com/ABC-Advise-git/n8n-Railway-Backup/commits?author=ABC-Advise-git","mode":"url"},"repository":{"__rl":true,"value":"n8n-Stakeholder-Backup","mode":"list","cachedResultName":"n8n-Stakeholder-Backup","cachedResultUrl":"https://github.com/ABC-Advise-git/n8n-Stakeholder-Backup"},"filePath":"={{ $json.path }}","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[432,448],"id":"3cb01e1e-1186-4499-a62d-077f99b84feb","name":"Get a file","webhookId":"1415add2-41d8-4cc6-9b20-c15799c0d117","credentials":{"githubOAuth2Api":{"id":"Z77uSeGokx5RR0m6","name":"GitHub account"}}},{"parameters":{"operation":"create","workflowObject":"={{ $json.data }}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1456,448],"id":"80ea64c3-6084-4aaa-8adc-d48f63a72ece","name":"Create a workflow1","credentials":{"n8nApi":{"id":"H2kCepk503DcNSvW","name":"n8n account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[640,448],"id":"f30b6063-593e-4a72-aec7-b97d1970cb91","name":"Extract from File1"},{"parameters":{"assignments":{"assignments":[{"id":"210260d1-27b4-48f8-b187-436954c781cd","name":"data","value":"={{ $json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,448],"id":"b66420fd-1e8a-4903-acf1-496b8146e3cb","name":"Edit Fields1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,272],"id":"f64fad30-f2f4-4d84-90d5-96dff98edc43","name":"Loop Over Items1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bdd1019-4663-46a6-a2e0-cb12c8262599","leftValue":"={{ $json.name }}","rightValue":"README.md","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-96,288],"id":"a4ba0612-223b-4a39-b820-fec7a68d5278","name":"If1"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1696,432],"id":"281bdf00-2026-4307-bccb-b23068f365c6","name":"Wait1","webhookId":"b4f53c05-5a41-4c78-9255-9466d1c47428"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/ABC-Advise-git/n8n-Railway-Backup/commits?author=ABC-Advise-githttps://github.com/ABC-Advise-git/n8n-Railway-Backup/commits?author=ABC-Advise-git","mode":"url"},"repository":{"__rl":true,"value":"n8n-Stakeholder-Backup","mode":"list","cachedResultName":"n8n-Stakeholder-Backup","cachedResultUrl":"https://github.com/ABC-Advise-git/n8n-Stakeholder-Backup"},"filePath":"="},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-320,288],"id":"2e589e93-416a-4f1d-8232-eb7c99b44db2","name":"List files2","webhookId":"aaf8ad3a-c615-4873-9dc0-635814b6de97","credentials":{"githubOAuth2Api":{"id":"Z77uSeGokx5RR0m6","name":"GitHub account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-544,288],"id":"7809135b-3d0c-48c2-b5fc-07dd02b6d9d0","name":"When clicking ‘Execute workflow’"},{"parameters":{"content":"## Deleta todos os workflows","height":304,"width":928,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-304,-272],"id":"0fc5273d-ff42-4031-8617-4de685b2ce96","name":"Sticky Note"},{"parameters":{"content":"## Adiciona todos os workflows presentes no github","height":608,"width":2544,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-656,144],"id":"ca33c506-05c7-4bc3-a898-8c9a495d8a9a","name":"Sticky Note1"},{"parameters":{"operation":"delete","workflowId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[272,-160],"id":"74bb0059-9dde-4cc6-8db5-cf37b85af94a","name":"Delete a workflow1","credentials":{"n8nApi":{"id":"H2kCepk503DcNSvW","name":"n8n account"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-144,-160],"id":"69d9f083-e9ec-4fd0-8a29-4c11be95dbb8","name":"Get many workflows1","credentials":{"n8nApi":{"id":"H2kCepk503DcNSvW","name":"n8n account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60d87a7e-b127-46e7-84c5-245cc010443e","leftValue":"={{ $json.name }}","rightValue":"Restore_Backup","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[64,-160],"id":"3f028488-7b2b-45c7-9385-40fa67d925fe","name":"Filter"}],"connections":{"Get a file":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Create a workflow1":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Create a workflow1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Get a file","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"List files2":{"main":[[{"node":"If1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"List files2","type":"main","index":0}]]},"Get many workflows1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Delete a workflow1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"95cfdfaa-affd-4675-9f14-3a50fb1bc385","triggerCount":0,"shared":[{"updatedAt":"2025-10-02T13:57:22.839Z","createdAt":"2025-10-02T13:57:22.839Z","role":"workflow:owner","workflowId":"IUVV7nSbZs6aeZNB","projectId":"jk0yZKautC5L7CBp"}],"tags":[]}