send_user_message-R7tS2Bx9EA1YgW0o.json
{"updatedAt":"2026-05-13T16:42:21.470Z","createdAt":"2026-05-12T14:44:39.527Z","id":"R7tS2Bx9EA1YgW0o","name":"send_user_message","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"contexto"},{"name":"resultados","type":"array"},{"name":"nome"},{"name":"url"},{"name":"telefone"},{"name":"message_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[32,0],"id":"129dcce0-8447-4aff-a435-c599b953bd3a","name":"When Executed by Another Workflow"},{"parameters":{"resource":"messages-api","instanceName":"busca_fornecedor_cel1","remoteJid":"={{ $json.number }}","messageText":"={{ $json.text }}","options_message":{"quoted":{"messageQuoted":{"messageId":"={{ $('When Executed by Another Workflow').item.json.message_id }}"}},"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[720,0],"id":"8e8b20e7-8a79-4593-a8fd-3a303a12c202","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.completar_cadastro_url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"9027485f-7f4c-4642-a50f-cf67abad473b"}],"combinator":"and"},"renameOutput":true,"outputKey":"Conta Nova"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e4a98343-a7ae-44a1-8d3b-d20cbe6504a7","leftValue":"={{ $json.codigo }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Conta Existente"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[224,0],"id":"8c48739f-831c-45d3-a2d3-1639bc57e469","name":"Switch1"},{"parameters":{"operation":"push","list":"={{ $json.data.key.remoteJid }}","messageData":"=Agent:{{ $json.data.message.conversation }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[912,0],"id":"95e3c722-3d97-466b-99ec-fded4402e0f4","name":"Insere-Memoria1","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"jsCode":"const data = items[0].json;\n\n// 🔹 Dados básicos\nconst resultados = data.resultados || [];\nconst completarCadastroUrl = data.completar_cadastro_url || \"\";\nconst numero = data.telefone || data.numero;\n\n// 🔹 Normalizador\nconst getItem = (r) => r.item || r;\n\n// 🔹 Separar\nconst nacionais = resultados.filter(r => getItem(r).escopo === \"nacional\");\nconst locais = resultados.filter(r => getItem(r).escopo === \"local\");\n\n// 🔹 Ordenar\nconst ordenarPorNota = (arr) =>\n  [...arr].sort((a, b) => (getItem(b).nota ?? 0) - (getItem(a).nota ?? 0));\n\n// 🔹 Quantidades aleatórias\nconst qtdNacionais = Math.floor(Math.random() * 2) + 1;\nconst qtdLocais = Math.floor(Math.random() * 3) + 1;\n\n// 🔹 Seleção\nconst topNacionais = ordenarPorNota(nacionais).slice(0, qtdNacionais);\nconst topLocais = ordenarPorNota(locais).slice(0, qtdLocais);\n\n// 🔹 Junta tudo\nlet fornecedores = [...topNacionais, ...topLocais];\n\n// 🔹 Embaralhar\nfornecedores = fornecedores.sort(() => Math.random() - 0.5);\n\n// 🔹 Formatter\nconst formatarLista = (lista) => {\n  return lista\n    .map((r) => {\n      const item = getItem(r);\n\n      const nome = item.razao_social || \"Fornecedor\";\n      const site = item.site || \"\";\n\n      return `- ${nome}\\n${site}`;\n    })\n    .join(\"\\n\\n\");\n};\n\nconst listaFormatada = formatarLista(fornecedores);\n\n// 🔹 Templates\nconst templates = [\n\n`Achei alguns aqui que talvez ajudem:\n\n${listaFormatada}\n\nTem mais resultados nessa busca:\n${completarCadastroUrl}\n\nTomara que ajude 👍`,\n\n`Dei uma olhada rápida aqui e apareceram esses:\n\n${listaFormatada}\n\nTem mais opções nesse link:\n${completarCadastroUrl}`,\n\n`Já usei essa busca pra encontrar fornecedor uma vez e achei esses agora:\n\n${listaFormatada}\n\nO restante apareceu aqui:\n${completarCadastroUrl}`,\n\n`Achei esses aqui:\n\n${listaFormatada}\n\nNessa busca apareceram mais alguns também:\n${completarCadastroUrl}\n\nÀs vezes os menores respondem mais rápido.`\n];\n\n// 🔹 Escolha aleatória\nconst mensagem =\n  templates[Math.floor(Math.random() * templates.length)];\n\n// 🔹 Retorno\nreturn [\n  {\n    json: {\n      number: numero,\n      text: mensagem\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-80],"id":"3e93fabd-3da8-44dc-a392-4de7cbc40d1b","name":"usuarios_nao_cadastrados"},{"parameters":{"jsCode":"const data = items[0].json;\n\n// 🔹 Dados básicos\nconst contexto = data.contexto || \"\";\nconst resultados = data.resultados || [];\nconst numero = data.telefone || data.numero;\nconst url = data.url || \"https://buscafornecedor.com.br\";\n\n// 🔹 Normalizador\nconst getItem = (r) => r.item || r;\n\n// 🔹 Separar\nconst nacionais = resultados.filter(r => getItem(r).escopo === \"nacional\");\nconst locais = resultados.filter(r => getItem(r).escopo === \"local\");\n\n// 🔹 Ordenar\nconst ordenarPorNota = (arr) =>\n  [...arr].sort((a, b) => (getItem(b).nota ?? 0) - (getItem(a).nota ?? 0));\n\n// 🔹 Quantidades variáveis\nconst qtdNacionais = Math.floor(Math.random() * 2) + 1;\nconst qtdLocais = Math.floor(Math.random() * 4) + 1;\n\n// 🔹 Seleção\nconst topNacionais = ordenarPorNota(nacionais).slice(0, qtdNacionais);\nconst topLocais = ordenarPorNota(locais).slice(0, qtdLocais);\n\n// 🔹 Junta tudo\nlet fornecedores = [...topNacionais, ...topLocais];\n\n// 🔹 Embaralhar\nfornecedores = fornecedores.sort(() => Math.random() - 0.5);\n\n// 🔹 Formatter\nconst formatarLista = (lista) => {\n  return lista\n    .map((r) => {\n      const item = getItem(r);\n\n      const nome = item.razao_social || \"Fornecedor\";\n      const site = item.site || \"\";\n\n      return `- ${nome}\\n${site}`;\n    })\n    .join(\"\\n\\n\");\n};\n\nconst listaFormatada = formatarLista(fornecedores);\n\n// 🔹 Contexto\nconst contextoTexto = contexto\n  ? `\"${contexto}\"`\n  : \"o que você procura\";\n\n// 🔹 Templates\nconst templates = [\n\n`Separei alguns fornecedores pra ${contextoTexto}:\n\n${listaFormatada}\n\nTem mais resultados disponíveis aqui:\n${url}`,\n\n`Esses foram os que apareceram melhor ranqueados pra ${contextoTexto}:\n\n${listaFormatada}\n\nA busca completa:\n${url}`,\n\n`Achei alguns fornecedores que parecem encaixar bem no que você procura:\n\n${listaFormatada}\n\nTem mais opções aqui:\n${url}`,\n\n`Dei uma filtrada aqui e esses pareceram os mais relevantes:\n\n${listaFormatada}\n\nO restante apareceu nessa busca:\n${url}`\n];\n\n// 🔹 Escolha aleatória\nconst mensagem =\n  templates[Math.floor(Math.random() * templates.length)];\n\n// 🔹 Retorno\nreturn [\n  {\n    json: {\n      number: numero,\n      text: mensagem\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,80],"id":"f790da57-837a-43fe-a52e-53ce04616549","name":"usuarios_cadastrados"}],"connections":{"Enviar texto1":{"main":[[{"node":"Insere-Memoria1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"usuarios_nao_cadastrados","type":"main","index":0}],[{"node":"usuarios_cadastrados","type":"main","index":0}]]},"usuarios_nao_cadastrados":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"usuarios_cadastrados":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Switch1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"contexto":"Locação/ Instalações de equipamento de Audio/visual para a copa do mundo.","resultados":[{"nota":100,"site":"https://megamaxsp.com.br/","email":"vendas@megamaxsp.com.br","escopo":"nacional","telefone":"(11) 5071-5484","cnpj_basico":"21978385","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"MegamaxSp","fornecedor_id":"831414699","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":100,"site":"https://luminance.com.br","email":"comercial@luminance.com.br","escopo":"nacional","telefone":"(21) 98814-3822 (21) 3872-3245","cnpj_basico":"58710489","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"Grupo Luminance","fornecedor_id":"1956570690","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":96,"site":"https://commac.com.br","email":"contato@commac.com.br","escopo":"local","telefone":"(41) 3338-4025 (41) 99857-8118","cnpj_basico":"09370141","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"COMMAC EQUIPAMENTOS AUDIOVISUAIS","fornecedor_id":"1683988501","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":95,"site":"http://capitalaudiovisual.com.br","email":"comercial@capitalaudiovisual.com.br","escopo":"local","telefone":"","cnpj_basico":"17452488","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"Capital Audiovisual","fornecedor_id":"1689340823","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":93,"site":"https://www.rizzierieventos.com.br","email":"comercial@rizzierieventos.com.br","escopo":"local","telefone":"(13) 3252-3871","cnpj_basico":"03570407","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"Rizzieri Tecnologias Audiovisuais","fornecedor_id":"1638185072","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":91,"site":"https://www.tpseventos.com.br","email":"[email protected]","escopo":"local","telefone":"(11) 41722176 (11) 3673-1127 (11) 99224-6607","cnpj_basico":"59999640","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"TPS Eventos","fornecedor_id":"1385976547","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":89,"site":"https://playaudiovisual.com.br/","email":"comercial@playaudiovisual.com.br","escopo":"local","telefone":"(11) 94031-1598 (11) 3803-8686","cnpj_basico":"07895500","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"PLAY AUDIOVISUAL","fornecedor_id":"981116904","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":88,"site":"https://www.h3eventos.com","email":"comercial@h3eventos.com gerencia@h3eventos.com","escopo":"local","telefone":"(62) 3642-9888 (62) 3642-5220 (63) 98481-2928 (63) 98111-2268 (63) 99253-1607","cnpj_basico":"15277873","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"H3 Eventos","fornecedor_id":"775360614","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":86,"site":"https://allternativaloc.com.br","email":"eventos@allternativaloc.com.br","escopo":"local","telefone":"(11) 94723-2700 (11) 94728-8860","cnpj_basico":"09268623","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"Allternativa Eventos e Locações","fornecedor_id":"1713298100","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":84,"site":"https://www.dvpsomeluz.com.br","email":"","escopo":"local","telefone":"(66) 99957-3453","cnpj_basico":"07645318","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"DVP Som e Luz","fornecedor_id":"919239114","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":82,"site":"https://www.contactusequipamentos.com.br","email":"comercial@contactusequipamentos.com.br","escopo":"local","telefone":"(21) 2221-0058 (21) 98234-0781","cnpj_basico":"03993798","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"Contactus Equipamentos","fornecedor_id":"1754641254","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":80,"site":"https://www.toprent.com.br/pt/","email":"toprent@toprent.com.br","escopo":"local","telefone":"(47) 3029-2688 (47) 3029-2788 (47) 9984-7207","cnpj_basico":"03837715","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"TopRent","fornecedor_id":"1720589890","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":79,"site":"https://soundgroup.com.br","email":"contato@soundgroup.com.br","escopo":"local","telefone":"(11) 94446-1494","cnpj_basico":"44942090","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"Sound Group","fornecedor_id":"1018797552","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":77,"site":"https://www.b3audiovisual.com.br","email":"contato@b3audiovisual.com.br","escopo":"local","telefone":"(11) 5070-5080","cnpj_basico":"10629703","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"B3 Audiovisual","fornecedor_id":"742766908","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":75,"site":"https://www.gsmi4.com.br","email":"","escopo":"local","telefone":"(87) 3873-1558 (87) 99141.4001 (87) 99141.4000 (87) 98122-7718","cnpj_basico":"13604035","consulta_id":"c6b109af-79cd-46d4-a461-d94db39f14cf","n_listagens":0,"razao_social":"GSMI-4 – Locações e Eventos","fornecedor_id":"891691974","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"}],"nome":"Doglas Polvere","telefone":"5519989224933","message_id":"AC00E54CC064536738C63089F00CAF1B"},"binary":{},"pairedItem":{"item":0}}]},"versionId":"8adaedba-1c71-420b-bf1b-70aa43e16113","activeVersionId":"8adaedba-1c71-420b-bf1b-70aa43e16113","triggerCount":0,"shared":[{"updatedAt":"2026-05-12T14:44:39.527Z","createdAt":"2026-05-12T14:44:39.527Z","role":"workflow:owner","workflowId":"R7tS2Bx9EA1YgW0o","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-05-13T16:42:23.149Z","createdAt":"2026-05-13T16:42:21.477Z","versionId":"8adaedba-1c71-420b-bf1b-70aa43e16113","workflowId":"R7tS2Bx9EA1YgW0o","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"contexto"},{"name":"resultados","type":"array"},{"name":"nome"},{"name":"url"},{"name":"telefone"},{"name":"message_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[32,0],"id":"129dcce0-8447-4aff-a435-c599b953bd3a","name":"When Executed by Another Workflow"},{"parameters":{"resource":"messages-api","instanceName":"busca_fornecedor_cel1","remoteJid":"={{ $json.number }}","messageText":"={{ $json.text }}","options_message":{"quoted":{"messageQuoted":{"messageId":"={{ $('When Executed by Another Workflow').item.json.message_id }}"}},"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[720,0],"id":"8e8b20e7-8a79-4593-a8fd-3a303a12c202","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.completar_cadastro_url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"9027485f-7f4c-4642-a50f-cf67abad473b"}],"combinator":"and"},"renameOutput":true,"outputKey":"Conta Nova"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e4a98343-a7ae-44a1-8d3b-d20cbe6504a7","leftValue":"={{ $json.codigo }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Conta Existente"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[224,0],"id":"8c48739f-831c-45d3-a2d3-1639bc57e469","name":"Switch1"},{"parameters":{"operation":"push","list":"={{ $json.data.key.remoteJid }}","messageData":"=Agent:{{ $json.data.message.conversation }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[912,0],"id":"95e3c722-3d97-466b-99ec-fded4402e0f4","name":"Insere-Memoria1","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"jsCode":"const data = items[0].json;\n\n// 🔹 Dados básicos\nconst resultados = data.resultados || [];\nconst completarCadastroUrl = data.completar_cadastro_url || \"\";\nconst numero = data.telefone || data.numero;\n\n// 🔹 Normalizador\nconst getItem = (r) => r.item || r;\n\n// 🔹 Separar\nconst nacionais = resultados.filter(r => getItem(r).escopo === \"nacional\");\nconst locais = resultados.filter(r => getItem(r).escopo === \"local\");\n\n// 🔹 Ordenar\nconst ordenarPorNota = (arr) =>\n  [...arr].sort((a, b) => (getItem(b).nota ?? 0) - (getItem(a).nota ?? 0));\n\n// 🔹 Quantidades aleatórias\nconst qtdNacionais = Math.floor(Math.random() * 2) + 1;\nconst qtdLocais = Math.floor(Math.random() * 3) + 1;\n\n// 🔹 Seleção\nconst topNacionais = ordenarPorNota(nacionais).slice(0, qtdNacionais);\nconst topLocais = ordenarPorNota(locais).slice(0, qtdLocais);\n\n// 🔹 Junta tudo\nlet fornecedores = [...topNacionais, ...topLocais];\n\n// 🔹 Embaralhar\nfornecedores = fornecedores.sort(() => Math.random() - 0.5);\n\n// 🔹 Formatter\nconst formatarLista = (lista) => {\n  return lista\n    .map((r) => {\n      const item = getItem(r);\n\n      const nome = item.razao_social || \"Fornecedor\";\n      const site = item.site || \"\";\n\n      return `- ${nome}\\n${site}`;\n    })\n    .join(\"\\n\\n\");\n};\n\nconst listaFormatada = formatarLista(fornecedores);\n\n// 🔹 Templates\nconst templates = [\n\n`Achei alguns aqui que talvez ajudem:\n\n${listaFormatada}\n\nTem mais resultados nessa busca:\n${completarCadastroUrl}\n\nTomara que ajude 👍`,\n\n`Dei uma olhada rápida aqui e apareceram esses:\n\n${listaFormatada}\n\nTem mais opções nesse link:\n${completarCadastroUrl}`,\n\n`Já usei essa busca pra encontrar fornecedor uma vez e achei esses agora:\n\n${listaFormatada}\n\nO restante apareceu aqui:\n${completarCadastroUrl}`,\n\n`Achei esses aqui:\n\n${listaFormatada}\n\nNessa busca apareceram mais alguns também:\n${completarCadastroUrl}\n\nÀs vezes os menores respondem mais rápido.`\n];\n\n// 🔹 Escolha aleatória\nconst mensagem =\n  templates[Math.floor(Math.random() * templates.length)];\n\n// 🔹 Retorno\nreturn [\n  {\n    json: {\n      number: numero,\n      text: mensagem\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-80],"id":"3e93fabd-3da8-44dc-a392-4de7cbc40d1b","name":"usuarios_nao_cadastrados"},{"parameters":{"jsCode":"const data = items[0].json;\n\n// 🔹 Dados básicos\nconst contexto = data.contexto || \"\";\nconst resultados = data.resultados || [];\nconst numero = data.telefone || data.numero;\nconst url = data.url || \"https://buscafornecedor.com.br\";\n\n// 🔹 Normalizador\nconst getItem = (r) => r.item || r;\n\n// 🔹 Separar\nconst nacionais = resultados.filter(r => getItem(r).escopo === \"nacional\");\nconst locais = resultados.filter(r => getItem(r).escopo === \"local\");\n\n// 🔹 Ordenar\nconst ordenarPorNota = (arr) =>\n  [...arr].sort((a, b) => (getItem(b).nota ?? 0) - (getItem(a).nota ?? 0));\n\n// 🔹 Quantidades variáveis\nconst qtdNacionais = Math.floor(Math.random() * 2) + 1;\nconst qtdLocais = Math.floor(Math.random() * 4) + 1;\n\n// 🔹 Seleção\nconst topNacionais = ordenarPorNota(nacionais).slice(0, qtdNacionais);\nconst topLocais = ordenarPorNota(locais).slice(0, qtdLocais);\n\n// 🔹 Junta tudo\nlet fornecedores = [...topNacionais, ...topLocais];\n\n// 🔹 Embaralhar\nfornecedores = fornecedores.sort(() => Math.random() - 0.5);\n\n// 🔹 Formatter\nconst formatarLista = (lista) => {\n  return lista\n    .map((r) => {\n      const item = getItem(r);\n\n      const nome = item.razao_social || \"Fornecedor\";\n      const site = item.site || \"\";\n\n      return `- ${nome}\\n${site}`;\n    })\n    .join(\"\\n\\n\");\n};\n\nconst listaFormatada = formatarLista(fornecedores);\n\n// 🔹 Contexto\nconst contextoTexto = contexto\n  ? `\"${contexto}\"`\n  : \"o que você procura\";\n\n// 🔹 Templates\nconst templates = [\n\n`Separei alguns fornecedores pra ${contextoTexto}:\n\n${listaFormatada}\n\nTem mais resultados disponíveis aqui:\n${url}`,\n\n`Esses foram os que apareceram melhor ranqueados pra ${contextoTexto}:\n\n${listaFormatada}\n\nA busca completa:\n${url}`,\n\n`Achei alguns fornecedores que parecem encaixar bem no que você procura:\n\n${listaFormatada}\n\nTem mais opções aqui:\n${url}`,\n\n`Dei uma filtrada aqui e esses pareceram os mais relevantes:\n\n${listaFormatada}\n\nO restante apareceu nessa busca:\n${url}`\n];\n\n// 🔹 Escolha aleatória\nconst mensagem =\n  templates[Math.floor(Math.random() * templates.length)];\n\n// 🔹 Retorno\nreturn [\n  {\n    json: {\n      number: numero,\n      text: mensagem\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,80],"id":"f790da57-837a-43fe-a52e-53ce04616549","name":"usuarios_cadastrados"}],"connections":{"Enviar texto1":{"main":[[{"node":"Insere-Memoria1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"usuarios_nao_cadastrados","type":"main","index":0}],[{"node":"usuarios_cadastrados","type":"main","index":0}]]},"usuarios_nao_cadastrados":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"usuarios_cadastrados":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Switch1","type":"main","index":0}]]}},"authors":"ABC  advise","name":"Version 8adaedba","description":"","autosaved":true},"tags":[]}