send_user_message-R7tS2Bx9EA1YgW0o.json
{"updatedAt":"2026-05-21T19:40:45.984Z","createdAt":"2026-05-12T14:44:39.527Z","id":"R7tS2Bx9EA1YgW0o","name":"send_user_message","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"contexto"},{"name":"resultados","type":"array"},{"name":"nome"},{"name":"url"},{"name":"telefone"},{"name":"message_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-256,0],"id":"129dcce0-8447-4aff-a435-c599b953bd3a","name":"When Executed by Another Workflow"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.completar_cadastro_url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"9027485f-7f4c-4642-a50f-cf67abad473b"}],"combinator":"and"},"renameOutput":true,"outputKey":"Conta Nova"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e4a98343-a7ae-44a1-8d3b-d20cbe6504a7","leftValue":"={{ $json.codigo }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Conta Existente"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-64,0],"id":"8c48739f-831c-45d3-a2d3-1639bc57e469","name":"Switch1"},{"parameters":{"operation":"delete","key":"={{ $json.data.key.remoteJid }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1104,-16],"id":"95e3c722-3d97-466b-99ec-fded4402e0f4","name":"Insere-Memoria1","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"jsCode":"const data = items[0].json;\n\n// 🔹 Dados básicos\nconst resultados = data.resultados || [];\nconst completarCadastroUrl = data.completar_cadastro_url || \"\";\nconst numero = data.telefone || data.numero;\n\n// 🔹 Normalizador\nconst getItem = (r) => r.item || r;\n\n// 🔹 Separar\nconst nacionais = resultados.filter(r => getItem(r).escopo === \"nacional\");\nconst locais = resultados.filter(r => getItem(r).escopo === \"local\");\n\n// 🔹 Ordenar\nconst ordenarPorNota = (arr) =>\n  [...arr].sort((a, b) => (getItem(b).nota ?? 0) - (getItem(a).nota ?? 0));\n\n// 🔹 Quantidades aleatórias\nconst qtdNacionais = Math.floor(Math.random() * 2) + 1;\nconst qtdLocais = Math.floor(Math.random() * 3) + 1;\n\n// 🔹 Seleção\nconst topNacionais = ordenarPorNota(nacionais).slice(0, qtdNacionais);\nconst topLocais = ordenarPorNota(locais).slice(0, qtdLocais);\n\n// 🔹 Junta tudo\nlet fornecedores = [...topNacionais, ...topLocais];\n\n// 🔹 Embaralhar\nfornecedores = fornecedores.sort(() => Math.random() - 0.5);\n\n// 🔹 Formatter\nconst formatarLista = (lista) => {\n  return lista\n    .map((r) => {\n      const item = getItem(r);\n\n      const nome = item.razao_social || \"Fornecedor\";\n      const site = item.site || \"\";\n\n      return `- ${nome}\\n${site}`;\n    })\n    .join(\"\\n\\n\");\n};\n\nconst listaFormatada = formatarLista(fornecedores);\n\n// 🔹 Templates\nconst templates = [\n\n`Achei alguns aqui que talvez ajudem:\n\n${listaFormatada}\n\nTem mais resultados nessa busca:\n${completarCadastroUrl}\n\nTomara que ajude 👍`,\n\n`Dei uma olhada rápida aqui e apareceram esses:\n\n${listaFormatada}\n\nTem mais opções nesse link:\n${completarCadastroUrl}`,\n\n`Já usei essa busca pra encontrar fornecedor uma vez e achei esses agora:\n\n${listaFormatada}\n\nO restante apareceu aqui:\n${completarCadastroUrl}`,\n\n`Achei esses aqui:\n\n${listaFormatada}\n\nNessa busca apareceram mais alguns também:\n${completarCadastroUrl}\n\nÀs vezes os menores respondem mais rápido.`\n];\n\n// 🔹 Escolha aleatória\nconst mensagem =\n  templates[Math.floor(Math.random() * templates.length)];\n\n// 🔹 Retorno\nreturn [\n  {\n    json: {\n      number: numero,\n      text: mensagem\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,-80],"id":"3e93fabd-3da8-44dc-a392-4de7cbc40d1b","name":"usuarios_nao_cadastrados"},{"parameters":{"jsCode":"const data = items[0].json;\n\n// 🔹 Dados básicos\nconst contexto = data.contexto || \"\";\nconst resultados = data.resultados || [];\nconst numero = data.telefone || data.numero;\nconst url = data.url || \"https://buscafornecedor.com.br\";\n\n// 🔹 Normalizador\nconst getItem = (r) => r.item || r;\n\n// 🔹 Separar\nconst nacionais = resultados.filter(r => getItem(r).escopo === \"nacional\");\nconst locais = resultados.filter(r => getItem(r).escopo === \"local\");\n\n// 🔹 Ordenar\nconst ordenarPorNota = (arr) =>\n  [...arr].sort((a, b) => (getItem(b).nota ?? 0) - (getItem(a).nota ?? 0));\n\n// 🔹 Quantidades variáveis\nconst qtdNacionais = Math.floor(Math.random() * 2) + 1;\nconst qtdLocais = Math.floor(Math.random() * 4) + 1;\n\n// 🔹 Seleção\nconst topNacionais = ordenarPorNota(nacionais).slice(0, qtdNacionais);\nconst topLocais = ordenarPorNota(locais).slice(0, qtdLocais);\n\n// 🔹 Junta tudo\nlet fornecedores = [...topNacionais, ...topLocais];\n\n// 🔹 Embaralhar\nfornecedores = fornecedores.sort(() => Math.random() - 0.5);\n\n// 🔹 Formatter\nconst formatarLista = (lista) => {\n  return lista\n    .map((r) => {\n      const item = getItem(r);\n\n      const nome = item.razao_social || \"Fornecedor\";\n      const site = item.site || \"\";\n\n      return `- ${nome}\\n${site}`;\n    })\n    .join(\"\\n\\n\");\n};\n\nconst listaFormatada = formatarLista(fornecedores);\n\n// 🔹 Contexto\nconst contextoTexto = contexto\n  ? `\"${contexto}\"`\n  : \"o que você procura\";\n\n// 🔹 Templates\nconst templates = [\n\n`Separei alguns fornecedores pra ${contextoTexto}:\n\n${listaFormatada}\n\nTem mais resultados disponíveis aqui:\n${url}`,\n\n`Esses foram os que apareceram melhor ranqueados pra ${contextoTexto}:\n\n${listaFormatada}\n\nA busca completa:\n${url}`,\n\n`Achei alguns fornecedores que parecem encaixar bem no que você procura:\n\n${listaFormatada}\n\nTem mais opções aqui:\n${url}`,\n\n`Dei uma filtrada aqui e esses pareceram os mais relevantes:\n\n${listaFormatada}\n\nO restante apareceu nessa busca:\n${url}`\n];\n\n// 🔹 Escolha aleatória\nconst mensagem =\n  templates[Math.floor(Math.random() * templates.length)];\n\n// 🔹 Retorno\nreturn [\n  {\n    json: {\n      number: numero,\n      text: mensagem\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,80],"id":"f790da57-837a-43fe-a52e-53ce04616549","name":"usuarios_cadastrados"},{"parameters":{"assignments":{"assignments":[{"id":"34424adf-c118-4052-a0bb-8eb8efc3fa41","name":"number","value":"={{ $json.number }}","type":"string"},{"id":"49c1143e-c0f0-4c5b-b4a8-d246b04d8d4c","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,0],"id":"d576a2b9-b85f-4904-ac46-493a7c129611","name":"Edit Fields"},{"parameters":{"resource":"messages-api","instanceName":"BuscaFornecedor","remoteJid":"={{ $json.number }}","messageText":"={{ $json.text }}","options_message":{"quoted":{"messageQuoted":{"messageId":"={{ $('When Executed by Another Workflow').item.json.message_id }}"}},"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[608,0],"id":"c20d0da8-33ef-444d-acb7-1c9b8454d00f","name":"Envia Reposta","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"messages-api","instanceName":"BuscaFornecedor","remoteJid":"={{ $('Edit Fields').item.json.number }}","messageText":"={{ $('Edit Fields').item.json.text }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[832,96],"id":"64ee398e-40ca-45ab-b4a9-30830134b640","name":"Envia Texto","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}},"onError":"continueErrorOutput"}],"connections":{"Switch1":{"main":[[{"node":"usuarios_nao_cadastrados","type":"main","index":0}],[{"node":"usuarios_cadastrados","type":"main","index":0}]]},"usuarios_nao_cadastrados":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"usuarios_cadastrados":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Envia Reposta","type":"main","index":0}]]},"Envia Reposta":{"main":[[{"node":"Insere-Memoria1","type":"main","index":0}],[{"node":"Envia Texto","type":"main","index":0}]]},"Envia Texto":{"main":[[{"node":"Insere-Memoria1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"contexto":"Fornecedor de substrato, grama e plantas","resultados":[{"nota":100,"site":"https://www.floriculturabraganca.com.br","email":"","escopo":"nacional","telefone":"(011) 4034-0523","cnpj_basico":"52324787","consulta_id":"129b626a-572d-4c98-8e7c-e596207ed290","n_listagens":0,"razao_social":"FLORICULTURA BRAGANÇA","fornecedor_id":"813044862","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":100,"site":"https://www.jardinsromeromelo.com.br","email":"jardinsromeromelo@hotmail.com","escopo":"nacional","telefone":"(61) 3383-2249 (61) 9265-8845","cnpj_basico":"08222771","consulta_id":"129b626a-572d-4c98-8e7c-e596207ed290","n_listagens":0,"razao_social":"Jardins Romero Melo","fornecedor_id":"1690293799","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":98,"site":"https://villaverdemogi.com.br","email":"Contato@villaverdemogi.com.br","escopo":"local","telefone":"(11) 93398-6164","cnpj_basico":"34799792","consulta_id":"129b626a-572d-4c98-8e7c-e596207ed290","n_listagens":0,"razao_social":"Villa Verde Mogi","fornecedor_id":"776438214","modelo_negocio":"Varejo","plano_categoria":null,"limite_listagens ":"10"},{"nota":96,"site":"https://paineiragarden.com.br","email":"paineira.jardinagem@terra.com.br","escopo":"local","telefone":"(11) 4996-4416 (11) 9 6318-2011","cnpj_basico":"05145268","consulta_id":"129b626a-572d-4c98-8e7c-e596207ed290","n_listagens":0,"razao_social":"PAINEIRA GARDEN","fornecedor_id":"998914809","modelo_negocio":"Varejo","plano_categoria":null,"limite_listagens ":"10"},{"nota":95,"site":"https://www.floresprimavera.com.br","email":"flores_primavera12@hotmail.com","escopo":"local","telefone":"(19) 3397-9040 (19) 97417-6505","cnpj_basico":"00450175","consulta_id":"129b626a-572d-4c98-8e7c-e596207ed290","n_listagens":0,"razao_social":"Flores Primavera - Jardinagem e Paisagismo","fornecedor_id":"1054804832","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":93,"site":"https://www.edenflorapaisagismo.com.br","email":"[email protected]","escopo":"local","telefone":"(11) 4652-2726 (11) 97259-7127","cnpj_basico":"14270982","consulta_id":"129b626a-572d-4c98-8e7c-e596207ed290","n_listagens":0,"razao_social":"EDEN FLORA PAISAGISMO","fornecedor_id":"112350613","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":91,"site":"https://www.amaryllis.com.br/","email":"amaryllispaisagismo@terra.com.br","escopo":"local","telefone":"(11) 4184-3855","cnpj_basico":"42312031","consulta_id":"129b626a-572d-4c98-8e7c-e596207ed290","n_listagens":0,"razao_social":"Amaryllis Paisagismo","fornecedor_id":"930755464","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":89,"site":"https://floreseplantasgabi.com.br","email":"Contato@floreseplantasgabi.com.br","escopo":"local","telefone":"(11) 93535-9192","cnpj_basico":"58757360","consulta_id":"129b626a-572d-4c98-8e7c-e596207ed290","n_listagens":0,"razao_social":"Gabi Plantas","fornecedor_id":"1960472279","modelo_negocio":"Varejo","plano_categoria":null,"limite_listagens ":"10"},{"nota":88,"site":"https://paineiragarden.com.br","email":"paineira.jardinagem@terra.com.br","escopo":"local","telefone":"(11) 4996-4416 (11) 9 6318-2011","cnpj_basico":"51767291","consulta_id":"129b626a-572d-4c98-8e7c-e596207ed290","n_listagens":0,"razao_social":"PAINEIRA GARDEN","fornecedor_id":"43836462","modelo_negocio":"Varejo","plano_categoria":null,"limite_listagens ":"10"},{"nota":86,"site":"http://www.equilibrioverde.com.br","email":"contato@equilibrioverde.com.br","escopo":"local","telefone":"(11) 4713-3881","cnpj_basico":"02289876","consulta_id":"129b626a-572d-4c98-8e7c-e596207ed290","n_listagens":0,"razao_social":"Equilíbrio Verde","fornecedor_id":"665989638","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":84,"site":"https://amaroverdepaisagismo.com.br","email":"atendimento@amaroverdepaisagismo.com.br","escopo":"local","telefone":"(12) 3643-2491 (12) 9.9665-3001","cnpj_basico":"45063499","consulta_id":"129b626a-572d-4c98-8e7c-e596207ed290","n_listagens":0,"razao_social":"Amar o Verde – Paisagismo","fornecedor_id":"1650519560","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":82,"site":"https://floramorumby.com.br","email":"","escopo":"local","telefone":"(15) 9 9181-6857","cnpj_basico":"33106384","consulta_id":"129b626a-572d-4c98-8e7c-e596207ed290","n_listagens":0,"razao_social":"Flora Morumby","fornecedor_id":"1844121736","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":80,"site":"http://florajcn.com.br/novo/","email":"florajcn@florajcn.com.br","escopo":"local","telefone":"(15) 3232-7932","cnpj_basico":"41937453","consulta_id":"129b626a-572d-4c98-8e7c-e596207ed290","n_listagens":0,"razao_social":"Flora JCN","fornecedor_id":"1644484334","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"},{"nota":79,"site":"https://www.gramasrampim.com.br","email":"contato@gramasrampim.com.br","escopo":"local","telefone":"(11) 4486-2015 (11) 4486-3803","cnpj_basico":"17624741","consulta_id":"129b626a-572d-4c98-8e7c-e596207ed290","n_listagens":0,"razao_social":"Gramas Rampim","fornecedor_id":"1634790750","modelo_negocio":"Varejo","plano_categoria":null,"limite_listagens ":"10"},{"nota":77,"site":"https://www.multijardim.com.br/","email":"multijardimg@gmail.com","escopo":"local","telefone":"(18) 3609-1144 (18) 99769-9209","cnpj_basico":"32020699","consulta_id":"129b626a-572d-4c98-8e7c-e596207ed290","n_listagens":0,"razao_social":"Multi Jardim Garden Center","fornecedor_id":"1536383943","modelo_negocio":"Varejo","plano_categoria":null,"limite_listagens ":"10"},{"nota":75,"site":"https://viotosa.com.br","email":"atendimento@viotosa.com.br","escopo":"local","telefone":"(15) 3451-4632 (15) 99684-0202","cnpj_basico":"10833927","consulta_id":"129b626a-572d-4c98-8e7c-e596207ed290","n_listagens":0,"razao_social":"Vioto Soluções Ambientais","fornecedor_id":"800771973","modelo_negocio":"Prestador de Serviço","plano_categoria":null,"limite_listagens ":"10"}],"nome":"Arthur Leal","telefone":"5511940849781","message_id":"3EB064111D4E50C4402A15"},"binary":{},"pairedItem":{"item":0}}]},"versionId":"32907a5a-8ba2-4d5a-8a03-29b305465b56","activeVersionId":"32907a5a-8ba2-4d5a-8a03-29b305465b56","triggerCount":0,"shared":[{"updatedAt":"2026-05-12T14:44:39.527Z","createdAt":"2026-05-12T14:44:39.527Z","role":"workflow:owner","workflowId":"R7tS2Bx9EA1YgW0o","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":{"updatedAt":"2026-05-21T19:46:04.057Z","createdAt":"2026-05-21T19:40:45.989Z","versionId":"32907a5a-8ba2-4d5a-8a03-29b305465b56","workflowId":"R7tS2Bx9EA1YgW0o","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"contexto"},{"name":"resultados","type":"array"},{"name":"nome"},{"name":"url"},{"name":"telefone"},{"name":"message_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-256,0],"id":"129dcce0-8447-4aff-a435-c599b953bd3a","name":"When Executed by Another Workflow"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.completar_cadastro_url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"9027485f-7f4c-4642-a50f-cf67abad473b"}],"combinator":"and"},"renameOutput":true,"outputKey":"Conta Nova"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e4a98343-a7ae-44a1-8d3b-d20cbe6504a7","leftValue":"={{ $json.codigo }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Conta Existente"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-64,0],"id":"8c48739f-831c-45d3-a2d3-1639bc57e469","name":"Switch1"},{"parameters":{"operation":"delete","key":"={{ $json.data.key.remoteJid }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1104,-16],"id":"95e3c722-3d97-466b-99ec-fded4402e0f4","name":"Insere-Memoria1","credentials":{"redis":{"id":"WagOtbeuP5fEIhyd","name":"Redis-railway-separado"}}},{"parameters":{"jsCode":"const data = items[0].json;\n\n// 🔹 Dados básicos\nconst resultados = data.resultados || [];\nconst completarCadastroUrl = data.completar_cadastro_url || \"\";\nconst numero = data.telefone || data.numero;\n\n// 🔹 Normalizador\nconst getItem = (r) => r.item || r;\n\n// 🔹 Separar\nconst nacionais = resultados.filter(r => getItem(r).escopo === \"nacional\");\nconst locais = resultados.filter(r => getItem(r).escopo === \"local\");\n\n// 🔹 Ordenar\nconst ordenarPorNota = (arr) =>\n  [...arr].sort((a, b) => (getItem(b).nota ?? 0) - (getItem(a).nota ?? 0));\n\n// 🔹 Quantidades aleatórias\nconst qtdNacionais = Math.floor(Math.random() * 2) + 1;\nconst qtdLocais = Math.floor(Math.random() * 3) + 1;\n\n// 🔹 Seleção\nconst topNacionais = ordenarPorNota(nacionais).slice(0, qtdNacionais);\nconst topLocais = ordenarPorNota(locais).slice(0, qtdLocais);\n\n// 🔹 Junta tudo\nlet fornecedores = [...topNacionais, ...topLocais];\n\n// 🔹 Embaralhar\nfornecedores = fornecedores.sort(() => Math.random() - 0.5);\n\n// 🔹 Formatter\nconst formatarLista = (lista) => {\n  return lista\n    .map((r) => {\n      const item = getItem(r);\n\n      const nome = item.razao_social || \"Fornecedor\";\n      const site = item.site || \"\";\n\n      return `- ${nome}\\n${site}`;\n    })\n    .join(\"\\n\\n\");\n};\n\nconst listaFormatada = formatarLista(fornecedores);\n\n// 🔹 Templates\nconst templates = [\n\n`Achei alguns aqui que talvez ajudem:\n\n${listaFormatada}\n\nTem mais resultados nessa busca:\n${completarCadastroUrl}\n\nTomara que ajude 👍`,\n\n`Dei uma olhada rápida aqui e apareceram esses:\n\n${listaFormatada}\n\nTem mais opções nesse link:\n${completarCadastroUrl}`,\n\n`Já usei essa busca pra encontrar fornecedor uma vez e achei esses agora:\n\n${listaFormatada}\n\nO restante apareceu aqui:\n${completarCadastroUrl}`,\n\n`Achei esses aqui:\n\n${listaFormatada}\n\nNessa busca apareceram mais alguns também:\n${completarCadastroUrl}\n\nÀs vezes os menores respondem mais rápido.`\n];\n\n// 🔹 Escolha aleatória\nconst mensagem =\n  templates[Math.floor(Math.random() * templates.length)];\n\n// 🔹 Retorno\nreturn [\n  {\n    json: {\n      number: numero,\n      text: mensagem\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,-80],"id":"3e93fabd-3da8-44dc-a392-4de7cbc40d1b","name":"usuarios_nao_cadastrados"},{"parameters":{"jsCode":"const data = items[0].json;\n\n// 🔹 Dados básicos\nconst contexto = data.contexto || \"\";\nconst resultados = data.resultados || [];\nconst numero = data.telefone || data.numero;\nconst url = data.url || \"https://buscafornecedor.com.br\";\n\n// 🔹 Normalizador\nconst getItem = (r) => r.item || r;\n\n// 🔹 Separar\nconst nacionais = resultados.filter(r => getItem(r).escopo === \"nacional\");\nconst locais = resultados.filter(r => getItem(r).escopo === \"local\");\n\n// 🔹 Ordenar\nconst ordenarPorNota = (arr) =>\n  [...arr].sort((a, b) => (getItem(b).nota ?? 0) - (getItem(a).nota ?? 0));\n\n// 🔹 Quantidades variáveis\nconst qtdNacionais = Math.floor(Math.random() * 2) + 1;\nconst qtdLocais = Math.floor(Math.random() * 4) + 1;\n\n// 🔹 Seleção\nconst topNacionais = ordenarPorNota(nacionais).slice(0, qtdNacionais);\nconst topLocais = ordenarPorNota(locais).slice(0, qtdLocais);\n\n// 🔹 Junta tudo\nlet fornecedores = [...topNacionais, ...topLocais];\n\n// 🔹 Embaralhar\nfornecedores = fornecedores.sort(() => Math.random() - 0.5);\n\n// 🔹 Formatter\nconst formatarLista = (lista) => {\n  return lista\n    .map((r) => {\n      const item = getItem(r);\n\n      const nome = item.razao_social || \"Fornecedor\";\n      const site = item.site || \"\";\n\n      return `- ${nome}\\n${site}`;\n    })\n    .join(\"\\n\\n\");\n};\n\nconst listaFormatada = formatarLista(fornecedores);\n\n// 🔹 Contexto\nconst contextoTexto = contexto\n  ? `\"${contexto}\"`\n  : \"o que você procura\";\n\n// 🔹 Templates\nconst templates = [\n\n`Separei alguns fornecedores pra ${contextoTexto}:\n\n${listaFormatada}\n\nTem mais resultados disponíveis aqui:\n${url}`,\n\n`Esses foram os que apareceram melhor ranqueados pra ${contextoTexto}:\n\n${listaFormatada}\n\nA busca completa:\n${url}`,\n\n`Achei alguns fornecedores que parecem encaixar bem no que você procura:\n\n${listaFormatada}\n\nTem mais opções aqui:\n${url}`,\n\n`Dei uma filtrada aqui e esses pareceram os mais relevantes:\n\n${listaFormatada}\n\nO restante apareceu nessa busca:\n${url}`\n];\n\n// 🔹 Escolha aleatória\nconst mensagem =\n  templates[Math.floor(Math.random() * templates.length)];\n\n// 🔹 Retorno\nreturn [\n  {\n    json: {\n      number: numero,\n      text: mensagem\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,80],"id":"f790da57-837a-43fe-a52e-53ce04616549","name":"usuarios_cadastrados"},{"parameters":{"assignments":{"assignments":[{"id":"34424adf-c118-4052-a0bb-8eb8efc3fa41","name":"number","value":"={{ $json.number }}","type":"string"},{"id":"49c1143e-c0f0-4c5b-b4a8-d246b04d8d4c","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,0],"id":"d576a2b9-b85f-4904-ac46-493a7c129611","name":"Edit Fields"},{"parameters":{"resource":"messages-api","instanceName":"BuscaFornecedor","remoteJid":"={{ $json.number }}","messageText":"={{ $json.text }}","options_message":{"quoted":{"messageQuoted":{"messageId":"={{ $('When Executed by Another Workflow').item.json.message_id }}"}},"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[608,0],"id":"c20d0da8-33ef-444d-acb7-1c9b8454d00f","name":"Envia Reposta","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"messages-api","instanceName":"BuscaFornecedor","remoteJid":"={{ $('Edit Fields').item.json.number }}","messageText":"={{ $('Edit Fields').item.json.text }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[832,96],"id":"64ee398e-40ca-45ab-b4a9-30830134b640","name":"Envia Texto","credentials":{"evolutionApi":{"id":"wU24oNExsIRQZI6Y","name":"Evolution account"}},"onError":"continueErrorOutput"}],"connections":{"Switch1":{"main":[[{"node":"usuarios_nao_cadastrados","type":"main","index":0}],[{"node":"usuarios_cadastrados","type":"main","index":0}]]},"usuarios_nao_cadastrados":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"usuarios_cadastrados":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Envia Reposta","type":"main","index":0}]]},"Envia Reposta":{"main":[[{"node":"Insere-Memoria1","type":"main","index":0}],[{"node":"Envia Texto","type":"main","index":0}]]},"Envia Texto":{"main":[[{"node":"Insere-Memoria1","type":"main","index":0}]]}},"authors":"ABC  advise","name":"Version 32907a5a","description":"","autosaved":true},"tags":[]}