teste-wait-FmzfIqFJGzIS28p3.json
{"updatedAt":"2025-10-15T18:16:46.579Z","createdAt":"2025-10-15T18:01:03.306Z","id":"FmzfIqFJGzIS28p3","name":"teste-wait","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"79f064c5-34a1-4983-aec6-c4a9b2dfdcab","name":"When Executed by Another Workflow"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[416,0],"id":"0e5fd902-f566-46f5-a22f-8dec07a87bf5","name":"Wait","webhookId":"32523c03-db91-456d-a636-9da5179b61b0"},{"parameters":{"jsCode":"// Pega todos os itens de entrada\nconst items = $input.all();\n\n// Para cada item, calcula o tamanho da palavra em \"name\"\nfor (const item of items) {\n  const nome = item.json.name || \"\"; // Garante que exista algo\n  const letras = nome.replace(/[^A-Za-zÀ-ÿ]/g, \"\"); // Remove caracteres que não são letras\n  item.json.name_length = letras.length; // Adiciona o campo com a contagem\n}\n\n// Retorna todos os itens modificados\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"ced10254-1618-436b-a384-d1698b629f0c","name":"Code in JavaScript"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"name":"Second item","code":2}}]},"versionId":"408c95c5-9570-4619-93ad-716f758458b6","triggerCount":0,"shared":[{"updatedAt":"2025-10-15T18:01:03.306Z","createdAt":"2025-10-15T18:01:03.306Z","role":"workflow:owner","workflowId":"FmzfIqFJGzIS28p3","projectId":"jk0yZKautC5L7CBp"}],"tags":[]}