teste_banco_qdrant-ge23XFKfJF46PJfO.json
{"updatedAt":"2026-03-04T21:08:55.939Z","createdAt":"2026-03-04T20:54:04.560Z","id":"ge23XFKfJF46PJfO","name":"teste_banco_qdrant","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Testar Busca","height":688,"width":1536,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,-208],"id":"b12b01e3-8487-47a5-a29d-67192dda6121","name":"Sticky Note1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[112,-16],"id":"b9b889cd-07cb-4437-a50a-bc69e7ecbffc","name":"When chat message received","webhookId":"05efe268-f846-46eb-8883-cd4fce0b8e80"},{"parameters":{"promptType":"define","text":"=consulta_usuário: \n- Descrição: {{ $json.parametros.descricao }}  \n- Segmento: {{ $json.parametros.segmento }}\n- Categoria: {{ $json.parametros.categoria }}\n- Subcategoria: {{ $json.parametros.subcategoria }} \n","hasOutputParser":true,"options":{"systemMessage":"=Prompt: Estruturador de Consulta Semântica B2B\nROLE\nVocê é um Especialista em Engenharia de Busca e Estruturação de Dados B2B. Sua especialidade é decompor intenções de compra complexas em queries otimizadas para motores de busca vetorial (milvus/pinecone) e filtros de metadados.\n\nTASK\nSua tarefa é converter uma consulta de comprador em linguagem natural em um objeto JSON técnico, realizando a expansão hierárquica de termos e a distribuição de pesos probabilísticos.\n\nDIRETRIZES DE PENSAMENTO (CHAIN-OF-THOUGHT)\nAnálise de Intenção: Identifique se o foco é a aquisição de um bem físico (Produto) ou a contratação de uma atividade (Serviço).\n\nDecomposição Hierárquica: Para as queries de produtos e servicos, você deve aplicar a técnica de \"Dilation Search\":\n\nNível 1 (Máxima Especificidade): Inclua SKU, modelo, marca, medidas técnicas e especificações exatas.\n\nNível 2 (Atributos Relevantes): Remova o modelo/SKU, mantenha marca e características principais.\n\nNível 3 (Categoria Técnica): Mantenha apenas o nome técnico do item e material/tipo.\n\nNível 4 (Generalista): Apenas o nome do item ou serviço raiz.\n\nEquilíbrio de Pesos:\n\nDistribua 1.0 entre peso_produtos e peso_servicos.\n\nSe for um produto puro com instalação opcional, use 0.9 para produtos e 0.1 para serviços.\n\nSe for puramente um serviço, use 1.0 para serviços e 0.0 para produtos.\n\nREGRAS DE NEGÓCIO (PAYLOAD)\nO campo Modelo_Negocio deve ser preenchido OBRIGATORIAMENTE com um dos valores abaixo:\n[\"Fabricante\", \"Distribuidor\", \"Atacadista\", \"Varejista\", \"Revenda\", \"Prestador de Serviços\", \"Assistência Técnica\", \"Locação\", \"Importadora\", \"SaaS\", \"Consultoria\", \"Logística\"]\n\nRESTRIÇÕES CRÍTICAS\nPROIBIDO: Conversar, explicar, sugerir empresas ou usar Markdown fora do JSON.\n\nSAÍDA: Retorne estritamente um objeto JSON puro.\n\nSTRINGS: As queries hierárquicas devem ser uma única string separada por vírgulas.\n\nNULL: Nunca utilize valores nulos. Se um vetor não for aplicável, a query deve ser uma string vazia e o peso 0.0.\n\nSCHEMA DE SAÍDA OBRIGATÓRIO\nJSON\n{\n  \"query_original\": \"string\",\n  \"produtos\": \"string (Hierarquia: Específico -> Geral)\",\n  \"servicos\": \"string (Hierarquia: Específico -> Geral)\",\n  \"peso_produtos\": 0.0,\n  \"peso_servicos\": 0.0,\n  \"Modelo_Negocio\": \"string\"\n}\nEXEMPLOS DE REFERÊNCIA\nInput: \"Pé Emborrachado Preto 12,7 x 3,6 x 7,9 mm Tipo F1 Heyco G2024\"\nOutput:\n{\n\"query_original\": \"Pé Emborrachado Preto 12,7 x 3,6 x 7,9 mm Tipo F1 Heyco G2024\",\n\"produtos\": \"Pé Emborrachado Preto 12,7 x 3,6 x 7,9 mm Tipo F1 Heyco G2024, Pé Emborrachado Preto 12,7 x 3,6 x 7,9 mm Tipo F1, Pé Emborrachado Heyco G2024, Pé Emborrachado Heyco, Pé Emborrachado\",\n\"servicos\": \"\",\n\"peso_produtos\": 1.0,\n\"peso_servicos\": 0.0,\n\"Modelo_Negocio\": \"Fabricante\"\n}\n\nInput: \"Manutenção de geradores a diesel Stemac 500kVA com fornecimento de peças\"\nOutput:\n{\n\"query_original\": \"Manutenção de geradores a diesel Stemac 500kVA com fornecimento de peças\",\n\"produtos\": \"Peças para gerador a diesel Stemac 500kVA, filtros e correias gerador Stemac, componentes para gerador a diesel\",\n\"servicos\": \"Manutenção de geradores a diesel Stemac 500kVA, Manutenção preventiva de geradores a diesel, Manutenção de geradores\",\n\"peso_produtos\": 0.3,\n\"peso_servicos\": 0.7,\n\"Modelo_Negocio\": \"Assistência Técnica\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[336,-16],"id":"2e7aafa4-cf0a-47a2-87d4-c2930125cded","name":"AI Agent","retryOnFail":true,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[256,160],"id":"96b70264-a1e0-4c44-8dd2-9c5c199fce17","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"93e05596-ef99-405a-84d7-569dedc5a48d","name":"output.response.output.query_original","value":"={{ $json.output.response.output.query_original }}","type":"string"},{"id":"1b241d3e-c5f8-4d29-8ddc-1a450a5b4be2","name":"output.response.output.produtos","value":"={{ $json.output.response.output.produtos }}","type":"string"},{"id":"b5d62468-db4b-4c93-aaf0-5d06a071c79a","name":"output.response.output.servicos","value":"={{ $json.output.response.output.servicos }}","type":"string"},{"id":"e709ee64-3dcf-4cf9-acf2-3fa36036e2b1","name":"output.response.output.peso_produtos","value":"={{ $json.output.response.output.peso_produtos }}","type":"number"},{"id":"ee1f971e-c776-4e64-96cb-c181d7dfc998","name":"output.response.output.peso_servicos","value":"={{ $json.output.response.output.peso_servicos }}","type":"number"},{"id":"ef8b3ebc-0906-40d8-9996-ccb56f7a8017","name":"output.response.output.Modelo_Negocio","value":"={{ $json.output.response.output.Modelo_Negocio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,-32],"id":"cca53bcc-8f35-4000-a217-02c0f4b87c85","name":"Edit Fields2"},{"parameters":{"method":"POST","url":"https://qdrantrequestapi-buscafornecedor.up.railway.app/search","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vectors\": {\n    \"v_servico\": {{ $json.vector_queries.segmento }},\n    \"v_produtos\": {{ $json.vector_queries.produtos }}\n  },\n  \"weights\": {\n    \"servico\": {{ $json.vector_weights.servico }},\n    \"produtos\": {{ $json.vector_weights.produtos }}\n  },\n  \"filter\": {\n    \"modelo_negocio\": \"{{ $json.payload_values.Modelo_Negocio }}\"\n  },\n  \"limit_per_vector\": 10,\n  \"final_limit\": 20\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[896,-32],"id":"7d144688-7d72-4bf5-8877-7843f7bc41de","name":"HTTP Request1"},{"parameters":{"jsonSchemaExample":"{\n  \"action\": \"parse\",\n  \"response\": {\n    \"output\": {\n      \"query_original\": \"Pé Emborrachado Preto 12,7 x 3,6 x 7,9 mm Tipo F1 Heyco G2024\",\n      \"produtos\": \"Pé Emborrachado Preto 12,7 x 3,6 x 7,9 mm Tipo F1 Heyco G2024, Pé Emborrachado Preto 12,7 x 3,6 x 7,9 mm Tipo F1 Heyco, Pé Emborrachado Heyco G2024, Pé Emborrachado Heyco, Pé Emborrachado\",\n      \"servicos\": \"\",\n      \"peso_produtos\": 1,\n      \"peso_servicos\": 0,\n      \"Modelo_Negocio\": \"Fabricante\"\n    }\n  }\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[464,176],"id":"dceb0e7a-bd36-499d-8aca-366e0eea4c38","name":"Structured Output Parser1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{"maxRetries":5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[384,336],"id":"fefa6df2-985b-4c40-b0a2-1b766a2554cd","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"g2eqCZ5ZlxiAjjhU","name":"OpenAi account"}}}],"connections":{"AI Agent":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Edit Fields2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Structured Output Parser1","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"a92f5384-c05b-4f4a-9c89-440f70029538","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-04T20:54:04.560Z","createdAt":"2026-03-04T20:54:04.560Z","role":"workflow:owner","workflowId":"ge23XFKfJF46PJfO","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":null,"tags":[]}