teste-api-WoZ3QndmvnHKqaUyWyiVQ.json
{"updatedAt":"2026-01-20T17:16:08.039Z","createdAt":"2026-01-16T02:29:09.758Z","id":"WoZ3QndmvnHKqaUyWyiVQ","name":"teste-api","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1488,320],"id":"3e78ccee-f1d3-46a9-82da-c279eb921843","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://scraperapi-buscafornecedor-d46e.up.railway.app/v2/serper","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"cnpj_basico","value":"67189571"},{"name":"razao_social","value":"INFORMOV LTDA"},{"name":"municipio","value":"Sao Paulo"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-224,-16],"id":"576d301a-8ba1-476e-a9e1-fedc696f064e","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"ckMG59sowdqPuZhS","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"https://scraperapi-buscafornecedor-d46e.up.railway.app/v2/encontrar_site","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"cnpj_basico","value":"67189571"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-224,128],"id":"a2710e32-55d7-4598-ab48-a17eed9d29b6","name":"HTTP Request1","credentials":{"httpHeaderAuth":{"id":"ckMG59sowdqPuZhS","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"https://scraperapi-buscafornecedor.up.railway.app/v2/montagem_perfil","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"cnpj_basico","value":"04225816"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-192,-176],"id":"b4ec4642-02a9-41de-81f7-66bd60cf1fe6","name":"HTTP Request2","credentials":{"httpHeaderAuth":{"id":"ckMG59sowdqPuZhS","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"https://scraperapi-buscafornecedor-d46e.up.railway.app/v2/scrape","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"cnpj_basico","value":"67189571"},{"name":"website_url","value":"https://itsinformov.com.br/pt_br/"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[192,272],"id":"4e61ebd9-9b8e-4ab5-8631-8ce79436344a","name":"HTTP Request3","credentials":{"httpHeaderAuth":{"id":"ckMG59sowdqPuZhS","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"https://scraperapi-buscafornecedor-d46e.up.railway.app/v2/montagem_perfil","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"cnpj_basico","value":"={{ $json.cnpj_basico }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[192,400],"id":"18ce4c9f-79cf-4700-9f04-05690c33111a","name":"HTTP Request4","credentials":{"httpHeaderAuth":{"id":"ckMG59sowdqPuZhS","name":"Header Auth account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"busca_fornecedor","mode":"list","cachedResultName":"busca_fornecedor"},"table":{"__rl":true,"value":"scraped_chunks","mode":"list","cachedResultName":"scraped_chunks"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1232,112],"id":"5b93817f-bbe2-479c-9eda-47b0c91e9984","name":"Select rows from a table","credentials":{"postgres":{"id":"8y4EOdnXxZpc7R18","name":"railway-profiles"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-256,400],"id":"a2a2e42b-4058-4b28-811d-3fb4ca8d80b3","name":"Loop Over Items"},{"parameters":{"maxItems":20},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-592,112],"id":"d8a228bf-e2ea-4936-8c7f-8b5120753bff","name":"Limit"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-16,400],"id":"a1a9aeb5-b968-4ec0-8d82-fc9231a68ca6","name":"Wait","webhookId":"0ded9521-3a55-478c-81a2-b3dea1e82d18"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e62b6aac-da19-4b86-9b08-d1b21472f591","leftValue":"={{ $json.cnpj_basico }}","rightValue":"37806463","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-992,128],"id":"b1dce6ca-6209-45cc-a316-e6cfad16c66b","name":"Filter"},{"parameters":{"method":"POST","url":"http://caaq7gtvxaksfa:30000/v1/chat/completions","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"ministral-3b\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Olá! Como você está?\"\n    }\n  ],\n  \"max_tokens\": 256,\n  \"temperature\": 0.7\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-992,704],"id":"4aaaad56-4b40-4a77-abb1-b082bf8eb5d9","name":"HTTP Request6"},{"parameters":{"method":"POST","url":"https://c8yt5qwbwz4oeh-8000.proxy.runpod.net/v1/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"neuralmagic/Meta-Llama-3.1-8B-Instruct-FP8"},{"name":"prompt","value":"Brasilia é a capital de?"},{"name":"max_token","value":"50"},{"name":"temperature","value":"0"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-928,336],"id":"67f5ae21-2f8b-4232-b88d-d2c21bb83a59","name":"request-llm-sglang-template"},{"parameters":{"method":"POST","url":"https://c8yt5qwbwz4oeh-8000.proxy.runpod.net/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"Qwen/Qwen2.5-3B-Instruct\",\n    \"messages\": [\n       {\n         \"role\": \"system\", \n         \"content\": {{ $json.prompt.toJsonString() }}\n       },\n       {\n         \"role\": \"user\", \n         \"content\": {{ $json.input.toJsonString() }}\n       }\n    ],\n    \"max_tokens\": 2500,\n    \"temperature\": 0.1\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1168,560],"id":"320eb22f-b7a1-431d-a166-fa03e9632974","name":"HTTP Request5"},{"parameters":{"assignments":{"assignments":[{"id":"436cf694-b581-4dee-86fd-b8908c6066c3","name":"prompt","value":"Você é um extrator de dados B2B especializado. Gere estritamente um JSON válido correspondente ao schema abaixo. Extraia dados do texto Markdown e PDF fornecido.  INSTRUÇÕES CRÍTICAS: 1. IDIOMA DE SAÍDA: PORTUGUÊS (BRASIL). Todo o conteúdo extraído deve estar em Português. Traduza descrições, cargos e categorias. Mantenha em inglês apenas termos técnicos globais (ex: \"SaaS\", \"Big Data\", \"Machine Learning\") ou nomes próprios de produtos não traduzíveis. 2. PRODUTOS vs SERVIÇOS: Distinga claramente entre produtos físicos e serviços intangíveis. 3. DETALHES DO SERVIÇO: Para os principais serviços, tente extrair 'metodologia' (como eles fazem) e 'entregáveis' (o que o cliente recebe). 4. LISTAGEM DE PRODUTOS EXAUSTIVA - CRÍTICO E OBRIGATÓRIO:     - Ao extrair 'product_categories', você DEVE preencher o campo 'items' de CADA categoria com TODOS os produtos individuais encontrados.    - NUNCA deixe 'items' vazio ou como array vazio []. Se uma categoria é mencionada, você DEVE encontrar e listar os produtos específicos.    - O QUE SÃO ITEMS: Items são PRODUTOS ESPECÍFICOS (nomes de produtos, modelos, referências, SKUs). NÃO são nomes de categorias, NÃO são marcas isoladas, NÃO são descrições genéricas de categorias.    - EXEMPLO CORRETO: Se o texto menciona \"Fios e Cabos\" e lista \"Cabo 1KV HEPR\", \"Cabo 1KV LSZH\", \"Cabo Flex 750V\", então 'items' DEVE ser [\"Cabo 1KV HEPR\", \"Cabo 1KV LSZH\", \"Cabo Flex 750V\"].    - EXEMPLO INCORRETO: NÃO faça {\"category_name\": \"Fios e Cabos\", \"items\": [\"Fios e Cabos\", \"Automação\"]} - esses são nomes de categorias, não produtos.    - EXEMPLO INCORRETO: NÃO faça {\"category_name\": \"Marcas\", \"items\": [\"Philips\", \"Siemens\"]} - marcas isoladas não são produtos. Se houver \"Luminária Philips XYZ\", extraia \"Luminária Philips XYZ\" como item.    - PROCURE no texto: nomes de produtos, modelos, referências, SKUs, códigos de produto, listas de itens, catálogos, especificações técnicas.    - Se você criar uma categoria, você DEVE preencher seus items com produtos encontrados no texto. Se não encontrar produtos específicos, NÃO crie a categoria.    - NÃO crie categorias genéricas como \"Outras Categorias\", \"Marcas\", \"Geral\" - apenas categorias específicas mencionadas no conteúdo.    - Extraia TUDO que encontrar: nomes completos de produtos, modelos, marcas quando parte do nome do produto, referências. NÃO resuma, NÃO filtre por \"qualidade\". 5. PROVA SOCIAL: Extraia Estudos de Caso específicos, Nomes de Clientes e Certificações. Estes são de alta prioridade. 6. ENGAJAMENTO: Procure como eles vendem (Mensalidade? Por Projeto? Alocação de equipe?). 7. CONSOLIDAÇÃO: Se receber múltiplos fragmentos de conteúdo, consolide as informações sem duplicar. Priorize informações mais detalhadas e completas.  Se um campo não for encontrado, use null ou lista vazia. NÃO gere blocos de código markdown (```json). Gere APENAS a string JSON bruta.  Schema (Mantenha as chaves em inglês, valores em Português): {   \"identity\": {      \"company_name\": \"string\",      \"cnpj\": \"string\",     \"tagline\": \"string\",      \"description\": \"string\",      \"founding_year\": \"string\",     \"employee_count_range\": \"string\"   },   \"classification\": {      \"industry\": \"string\",      \"business_model\": \"string\",      \"target_audience\": \"string\",     \"geographic_coverage\": \"string\"   },   \"team\": {     \"size_range\": \"string\",     \"key_roles\": [\"string\"],     \"team_certifications\": [\"string\"]   },   \"offerings\": {      \"products\": [\"string\"],     \"product_categories\": [         { \"category_name\": \"string\", \"items\": [\"string\"] }     ],     \"services\": [\"string\"],      \"service_details\": [         {            \"name\": \"string\",            \"description\": \"string\",            \"methodology\": \"string\",            \"deliverables\": [\"string\"],           \"ideal_client_profile\": \"string\"         }     ],     \"engagement_models\": [\"string\"],     \"key_differentiators\": [\"string\"]    },   \"reputation\": {     \"certifications\": [\"string\"],     \"awards\": [\"string\"],     \"partnerships\": [\"string\"],     \"client_list\": [\"string\"],     \"case_studies\": [         {           \"title\": \"string\",           \"client_name\": \"string\",           \"industry\": \"string\",           \"challenge\": \"string\",           \"solution\": \"string\",           \"outcome\": \"string\"         }     ]   },   \"contact\": {      \"emails\": [\"string\"],      \"phones\": [\"string\"],      \"linkedin_url\": \"string\",      \"website_url\": \"string\",     \"headquarters_address\": \"string\",     \"locations\": [\"string\"]   } }","type":"string"},{"id":"c557d905-c2ac-46e7-9cc4-e83d13ce09ee","name":"input","value":"--- PAGE START: https://www.apronengenharia.com/ ---\\nPágina inicial | APRON Engenharia\\ntop of page\\nPágina inicial\\nServiços\\nA Empresa\\nContato\\nMore\\nUse tab to navigate through the menu items.\\nProcura a solução para os seus problemas construtivos?\\nA APRON Engenharia possui experiência em vistorias em geral, perícias, acompanhamento técnico em recebimento de imóveis, avaliações de imóveis, assessoria e consultoria técnica. Garanta sua primeira visita técnica totalmente GRATUITA!\\nQUERO GARANTIR MINHA VISITA TÉCNICA GRATUITA!\\nNOSSOS SERVIÇOS\\nConheça as nossas especialidades\\nVISTORIA CAUTELAR DE VIZINHANÇA\\nRegistro fotográfico das condições físicas dos imóveis próximos à obra e elaboração de laudo técnico para resguardo jurídico ou possíveis cobranças indevidas realizadas posteriormente.\\nSaiba mais\\nAVALIAÇÃO DE IMÓVEIS\\nO Laudo de Avaliação por Inferência Estatística é baseado na NBR 14653-2:2011 (ABNT), e tem como finalidade estimar o valor de venda de um imóvel. Não sabe o valor de venda do seu imóvel? Contrate nosso serviço de avaliação!\\nFISCALIZAÇÃO DE OBRAS\\nDeseja saber se a obra está seguindo as boas formas construtivas com base nas Normas Técnicas da ABNT? Faça uma consulta!\\nPERÍCIA\\nDeterminação da origem ou causa de um evento (trincas, fissuras, colapsos estruturais, etc.). Possui também o objetivo de instruir ações judiciais para instituir responsabilidades por eventuais irregularidades construtivas.\\nINSPEÇÃO PREDIAL\\nA Inspeção Predial é um procedimento que tem como objetivo avaliar as condições de uma edificação ou do conjunto de instalações. Infiltrações? Fissuras, trincas ou rachaduras? Problemas no sistema elétrico ou hidráulico? Contate-nos para mais informações!\\nRECUPERAÇÃO ESTRUTURAL\\nPrecisa de uma avaliação estrutural da sua construção? Quer saber como proceder quanto à recuperação dessa estrutura? Fale com a gente!\\nENTREGA DE CHAVES - IMÓVEL NOVO\\nGarantia da entrega do imóvel  nas melhores condições possíveis, como contratado na compra. Irregularidades apontadas na fase da vistoria devem ser reparadas pela construtora, por isso aposte em um acompanhamento técnico.\\nINSPEÇÃO DE FACHADAS\\nDiversos fatores, desde a luz solar até o vandalismo, podem gerar desgastes à estrutura que, quando não reparados, podem comprometer a vida útil da construção (infiltrações, desplacamento de elementos cerâmicos, etc.).\\nREGULARIZAÇÃO E AVERBAÇÃO DE IMÓVEIS\\nA regularização imobiliária é entendida como a legalização envolvendo algum aspecto do imóvel, seja em relação à documentação, realização de reforma que mude as características e medidas do imóvel, como também a sua construção. Faça uma cotação!\\nVISTORIA IMOBILIÁRIA - IMÓVEL USADO\\nConheça com profundidade o imóvel que você está interessado e garanta pagar um preço justo na hora de fechar negócio!\\nLAUDO TÉCNICO DE REFORMA\\nO Laudo Técnico de Reforma tem como finalidade o embasamento normativo e o detalhamento do serviço a ser realizado no apartamento, com base na NBR 16280:2020 (ABNT).\\nLAUDOS TÉCNICOS EM GERAL\\nElaboração de Laudos de Engenharia diversos, estudo individual do seu caso e solução do seu problema.\\nSobre o profissional\\nCassiano Rodrigues Alves\\nGraduado em Engenharia Civil pelo Centro Universitário Moura Lacerda (Ribeirão Preto/SP) e Especialista em Patologias das Construções pelo IPOG, possui experiência nas mais diversas áreas da Engenharia Diagnóstica. Membro nº. 489 da ADPAT (networking e compartilhamento de conhecimento - grupo de engenheiros com mais de 500 profissionais associados), permanece constantemente em atualização em cursos de capacitação  em Patologias das Construções e Engenharia Diagnóstica. Também possui experiência em execução de obras, análise de projetos, regularizações de obras e avaliações de imóveis.\\nSatisfação dos nossos clientes\\nsegundo o Google Avaliações\\nPEÇA UM ORÇAMENTO\\n(16) 99300-8299\\napronengenharia@gmail.com\\nEnviar\\nObrigado!\\n©2022 por APRON Engenharia\\nbottom of page\\n--- PAGE END ---\\n\\n\\n\\n--- PAGE START: https://www.apronengenharia.com/contato ---\\nContato | APRON Engenharia\\nMore\\nENTRE EM CONTATO\\nNome\\nSobrenome\\nE-mail\\nMensagem\\nGrato!\\n\\n\\n\\n--- PAGE START: https://www.apronengenharia.com/empresa ---\\nA Empresa | APRON Engenharia\\nMore\\nA EMPRESA\\nA APRON Engenharia oferece recursos abrangentes e conhecimento sobre a boa engenharia, necessários para ajudar você a resolver os problemas mais complexos do seu imóvel. Desde a nossa abertura em 2020, temos orgulho de dizer que nossa lista de clientes satisfeitos aumenta a cada ano.\\nQuer ter a sua própria experiência com a APRON Engenharia? Ligue para nós hoje mesmo e veja o que podemos fazer por você.\\n\\n\\n\\n--- PAGE START: https://www.apronengenharia.com/servi%C3%A7os ---\\nServiços | APRON Engenharia\\nMore\\nSuperando as suas expectativas\\nNosso atendimento\\nPrezamos por atender nossos clientes com eficiência e rapidez.\\nOtimização\\nConte com a solução do problema da sua edificação\\nPontualidade\\nRespeitamos os prazos estipulados em contrato.\\nVistoria Cautelar de Vizinhança\\nÉ  a vistoria com a finalidade de resguardar judicialmente os imóveis circunvizinhos à obra a ser realizada. Também tem como objetivo a PAP - Produção Antecipada de Prova em caso de perícia. Tem como base a NBR 12722 (ABNT - 1992), subitem 4.1.10.1: “Toda vez que for necessário resguardar interesses às propriedades vizinhas à obra (ou ao logradouro público) a ser executada, seja em virtude do tipo das fundações a executar, das escavações, aterros, sistemas de escoramento e estabilização, rebaixamento de lençol d’água, serviços provisórios ou definitivos a realizar, deve ser feita por profissional especializado habilitado uma vistoria.\"\\nGarantimos o registro da situação real dos imóveis, evitando conflitos e prezando pela boa relação entre a obra e a vizinhança.\\n​\\nPalavras-chave: laudo cautelar; vistoria cautelar; vistoria de vizinhança.\\nPerícias\\nPerícia é o exame técnico de caráter especializado, ou seja, é a observação, investigação, análise, inspeção ou pesquisa minuciosa de um fato, condição ou direito, realizado por um especialista.\\nE a definição de perícia de Engenharia pela resolução 345 do Confea, de 27 de julho de 1990, segue no foco da especialidade, determinando que é a atividade que envolve a apuração das causas que motivaram determinado evento ou da asserção de direitos.\\nNessa perícia de Engenharia na Construção Civil o exame especializado incide no planejamento, projeto, obra em execução ou concluída, visando apurar, principalmente, a causa do evento em estudo.\\n​\\nPalavras-chave: laudo pericial; perícia.\\nVistoria de Recebimento de Chaves - Imóvel Novo\\nDevido ao crescente número de obras sendo executadas, a demanda por profissionais da construção civil aumentou e a qualificação diminuiu, trazendo uma série de prejuízo relacionados à qualidade das construções. A APRON Engenharia garante a entrega do imóvel  nas melhores condições possíveis, checando mais de 100 itens do seu imóvel a ser recebido, garantindo a qualidade afirmada na compra do empreendimento.\\nVocê sabia?\\nIrregularidades apontadas na fase da vistoria devem ser reparadas pela construtora, direito assegurado pelo Artigo 26 da Lei nº 8.078 de 11 de Setembro de 1990 do Código de Defesa do Consumidor. Por isso, aposte em um acompanhamento técnico antes de receber as chaves do seu imóvel!\\n​\\nPalavras-chave: vistoria de recebimento de chaves; vistoria de recebimento; vistoria de entrada.\\nVistoria Imobiliária - Imóvel Usado\\nPor que quando as pessoas pretendem adquirir um automóvel seminovo, costumam levar em uma mecânica para ser atestado a boa qualidade do veículo mas no caso de um imóvel (que na maioria das vezes apresenta valor superior), o mesmo cuidado não acontece?\\n​\\nGaranta a qualidade do imóvel que você está comprando, e não permita que seu sonho se torne um verdadeiro pesadelo!\\nAlém de atestar o bom desempenho do imóvel, há a possibilidade de redução do valor a ser pago junto ao vendedor ou até possível desistência de um \"bom negócio\". Aposte na economia e na qualidade do seu lar!\\n​\\nPalavras-chave: vistoria de avaliação; laudo imobiliário.\\nAvaliação de Imóveis\\nO Laudo de Avaliação por Inferência Estatística é baseado na NBR 14653-2:2011 (ABNT), e tem como finalidade estimar o valor de venda de um imóvel. Este laudo é o mesmo utilizado no âmbito jurídico para fins de direito imobiliário e, principalmente, pelos bancos que financiam imóveis (CAIXA, Banco do Brasil, BNDES, Itaú, Bradesco, etc.).\\nNão sabe o valor de venda do seu imóvel? Cada corretor estima um valor e você não sabe como proceder? Aposte em uma avaliação com embasamento matemático e estatístico, contrate nosso serviço de avaliação!\\nInspeção Predial\\nA inspeção predial tem por finalidade identificar o estado geral da edificação e de seus sistemas construtivos, analisando os aspectos de desempenho, segurança, vida útil, funcionalidade, estado de conservação, manutenção, utilização e operação.\\nTendo como base a norma NBR 16747 (ABNT), a Inspeção Predial “tem por objetivo constatar o estado de conservação e funcionamento da edificação, seus sistemas e subsistemas, de forma a permitir um acompanhamento sistêmico do comportamento em uso ao longo da vida útil, para que sejam mantidas as condições necessárias à segurança, habitabilidade e durabilidade da edificação”.\\nA partir da inspeção, é realizado um\\ncheck-list\\npara que o síndico visualize a urgência de cada reparo a ser realizado, contribuindo para um melhor direcionamento dos investimentos nos condomínios e\\ndiminuindo o risco de acidentes prediais.\\n​\\nPalavras-chave: laudo de inspeção; inspeção em garantia; inspeção predial.\\nInspeção de Fachadas\\nAs fachadas proporcionam a primeira impressão sobre os proprietários que ali vivem ou empresas situadas no imóvel.\\n​\\nAlém do desgaste natural do tempo (incidência de sol, chuva, etc.), podem existir vícios construtivos que resultam em infiltrações e acabam comprometendo a estrutura e a estética da fachada. Para evitar o surgimento de problemas mais críticos, é recomendado a realização de inspeções nas fachadas.\\n​\\nO Laudo de Inspeção de Fachada aponta todas as ações corretivas e preventivas necessárias para evitar prejuízos aos proprietários e ao condomínio.\\n​\\nPalavras-chave: laudo de fachada; vistoria de fachada.\\nLaudo Técnico de Reforma\\nO Laudo de Reforma é um documento realizado nos moldes da NBR 16280 (ABNT) - \"\\nReforma em edificações - Sistema de gestão de reformas - Requisitos\"\\n. Neste laudo consta o Plano de Reforma, onde é demonstrado e embasado em normas técnicas todos o serviços a serem realizados, além de atestar a segurança e ausência de impacto estrutural no imóvel.\\nPor isso, antes de começar a sua reforma/obra é importante contratar um profissional legalmente habilitado para apresentar um laudo contendo o Plano de Reforma e garantindo a sua segurança e de seu condomínio.\\n​\\nAos síndicos\\n: nossa empresa também trabalha com a análise de Planos de Reforma apresentados pelos condôminos, garantindo a sua segurança e tranquilidade quanto aos aspectos técnicos envolvidos.\\n​\\nPalavras-chave: laudo de reforma; plano de reforma; laudo NBR 16280.\\n​\\nFiscalização de Obras\\nA fiscalização de obras acontece em todas as etapas da construção, desde o projeto até a execução. O objetivo deste serviço é garantir a qualidade com base nas Normas Técnicas (ABNT) condizentes, além do cumprimento dos prazos e custos previstos.\\n​\\nO retrabalho é um dos grandes vilões da construção, impactando negativamente os prazos e gastos além de prejudicar a imagem da construtora. Para evitar contratempos e otimizar a sua obra, contrate o nosso serviço de fiscalização de obra!\\n​\\nPalavras-chave: fiscalização de execução de obras; laudo de conformidade.\\nRecuperação Estrutural\\nA recuperação estrutural tem como objetivo a recuperação dos componentes estruturais, restituindo a vida útil da estrutura. Os componentes estruturais podem apresentar problemas em ao menos três fases: projeto, execução e manutenção.\\nIndependente da origem do problema, a terapia proposta tem como foco a recuperação da integridade dos elementos estruturais. Com base na NBR 6118 -\\nProjeto de estruturas de concreto — Procedimento (ABNT), f\\natores que podem causar a degradação na estrutura podem ser internos ou externos, tais como a exposição maior a umidade como ambientes litorâneos ou pela VU (vida útil - mínimo previsto para estruturas de concreto: 50 anos), porém antes desse prazo podem ocorrer manifestações patológicas (como trincas, fissuras, eflorescências, etc.) que devem ser sanadas.\\n​\\nPalavras-chave: revitalização estrutural, laudo de estruturas.\\nRegularização e/ ou Averbação de Imóveis\\nA regularização de imóveis genericamente pode ser resumida como a adequação necessária para que um imóvel esteja em conformidade com as leis locais, seja sobre sua matrícula, sobre a propriedade, a posse, o habite-se ou documentos diversos. A regularização de imóveis engloba vários procedimentos com o objetivo de obter a legalidade de um imóvel.\\n​\\nA averbação do imóvel pode ser definida como o ato de formalizar todas as alterações feitas na propriedade, ou seja, alterar o que está registrado no Cartório de Imóveis. Qualquer construção ou demolição realizada em sua residência deve constar na documentação (matrícula do imóvel) — que é o seu documento de identificação do seu imóvel.\\n​\\nPalavras-chave: conformidade legal; regularização; averbação.\\nLaudos Técnicos em Geral\\nCom o auxílio de equipamentos tecnológicos, realizamos o diagnóstico e propomos medidas a serem executadas a partir da análise de eventuais problemas provenientes de manifestações patológicas que possam ocorrer nos diversos tipos de estruturas. Em conformidade com as Normas Vigentes, elaboração de Laudos Técnicos de Engenharia Civil, tais como:\\n​\\nLaudo de Conformidade: constatamos se o serviço realizado está de acordo com o que foi contratado.\\n​\\nLaudo \"Ad Perpetuam Rei Memoriam\": registramos o atual estado da edificação para \"perpetuar a memória\" das anomalias ou falhas existentes. Este tipo de laudo é bastante requisitado no âmbito judicial.\\n​\\nEntre em contato com a APRON Engenharia, estamos à disposição para solucionar o seu problema!\\n​\\nPalavras-chave: Ad Perpetuam Rei Memoriam; laudo de conformidade; laudo de constatação.\\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1232,352],"id":"fd9671ce-2d6a-4ca5-9790-7c9581091318","name":"Edit Fields"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"Select rows from a table":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Filter":[{"json":{"id":"100","cnpj_basico":"37806463","discovery_id":"153","website_url":"https://www.apronengenharia.com/","chunk_index":1,"total_chunks":1,"chunk_content":"--- PAGE START: https://www.apronengenharia.com/ ---\nPágina inicial | APRON Engenharia\ntop of page\nPágina inicial\nServiços\nA Empresa\nContato\nMore\nUse tab to navigate through the menu items.\nProcura a solução para os seus problemas construtivos?\nA APRON Engenharia possui experiência em vistorias em geral, perícias, acompanhamento técnico em recebimento de imóveis, avaliações de imóveis, assessoria e consultoria técnica. Garanta sua primeira visita técnica totalmente GRATUITA!\nQUERO GARANTIR MINHA VISITA TÉCNICA GRATUITA!\nNOSSOS SERVIÇOS\nConheça as nossas especialidades\nVISTORIA CAUTELAR DE VIZINHANÇA\nRegistro fotográfico das condições físicas dos imóveis próximos à obra e elaboração de laudo técnico para resguardo jurídico ou possíveis cobranças indevidas realizadas posteriormente.\nSaiba mais\nAVALIAÇÃO DE IMÓVEIS\nO Laudo de Avaliação por Inferência Estatística é baseado na NBR 14653-2:2011 (ABNT), e tem como finalidade estimar o valor de venda de um imóvel. Não sabe o valor de venda do seu imóvel? Contrate nosso serviço de avaliação!\nFISCALIZAÇÃO DE OBRAS\nDeseja saber se a obra está seguindo as boas formas construtivas com base nas Normas Técnicas da ABNT? Faça uma consulta!\nPERÍCIA\nDeterminação da origem ou causa de um evento (trincas, fissuras, colapsos estruturais, etc.). Possui também o objetivo de instruir ações judiciais para instituir responsabilidades por eventuais irregularidades construtivas.\nINSPEÇÃO PREDIAL\nA Inspeção Predial é um procedimento que tem como objetivo avaliar as condições de uma edificação ou do conjunto de instalações. Infiltrações? Fissuras, trincas ou rachaduras? Problemas no sistema elétrico ou hidráulico? Contate-nos para mais informações!\nRECUPERAÇÃO ESTRUTURAL\nPrecisa de uma avaliação estrutural da sua construção? Quer saber como proceder quanto à recuperação dessa estrutura? Fale com a gente!\nENTREGA DE CHAVES - IMÓVEL NOVO\nGarantia da entrega do imóvel  nas melhores condições possíveis, como contratado na compra. Irregularidades apontadas na fase da vistoria devem ser reparadas pela construtora, por isso aposte em um acompanhamento técnico.\nINSPEÇÃO DE FACHADAS\nDiversos fatores, desde a luz solar até o vandalismo, podem gerar desgastes à estrutura que, quando não reparados, podem comprometer a vida útil da construção (infiltrações, desplacamento de elementos cerâmicos, etc.).\nREGULARIZAÇÃO E AVERBAÇÃO DE IMÓVEIS\nA regularização imobiliária é entendida como a legalização envolvendo algum aspecto do imóvel, seja em relação à documentação, realização de reforma que mude as características e medidas do imóvel, como também a sua construção. Faça uma cotação!\nVISTORIA IMOBILIÁRIA - IMÓVEL USADO\nConheça com profundidade o imóvel que você está interessado e garanta pagar um preço justo na hora de fechar negócio!\nLAUDO TÉCNICO DE REFORMA\nO Laudo Técnico de Reforma tem como finalidade o embasamento normativo e o detalhamento do serviço a ser realizado no apartamento, com base na NBR 16280:2020 (ABNT).\nLAUDOS TÉCNICOS EM GERAL\nElaboração de Laudos de Engenharia diversos, estudo individual do seu caso e solução do seu problema.\nSobre o profissional\nCassiano Rodrigues Alves\nGraduado em Engenharia Civil pelo Centro Universitário Moura Lacerda (Ribeirão Preto/SP) e Especialista em Patologias das Construções pelo IPOG, possui experiência nas mais diversas áreas da Engenharia Diagnóstica. Membro nº. 489 da ADPAT (networking e compartilhamento de conhecimento - grupo de engenheiros com mais de 500 profissionais associados), permanece constantemente em atualização em cursos de capacitação  em Patologias das Construções e Engenharia Diagnóstica. Também possui experiência em execução de obras, análise de projetos, regularizações de obras e avaliações de imóveis.\nSatisfação dos nossos clientes\nsegundo o Google Avaliações\nPEÇA UM ORÇAMENTO\n(16) 99300-8299\napronengenharia@gmail.com\nEnviar\nObrigado!\n©2022 por APRON Engenharia\nbottom of page\n--- PAGE END ---\n\n\n\n--- PAGE START: https://www.apronengenharia.com/contato ---\nContato | APRON Engenharia\nMore\nENTRE EM CONTATO\nNome\nSobrenome\nE-mail\nMensagem\nGrato!\n\n\n\n--- PAGE START: https://www.apronengenharia.com/empresa ---\nA Empresa | APRON Engenharia\nMore\nA EMPRESA\nA APRON Engenharia oferece recursos abrangentes e conhecimento sobre a boa engenharia, necessários para ajudar você a resolver os problemas mais complexos do seu imóvel. Desde a nossa abertura em 2020, temos orgulho de dizer que nossa lista de clientes satisfeitos aumenta a cada ano.\nQuer ter a sua própria experiência com a APRON Engenharia? Ligue para nós hoje mesmo e veja o que podemos fazer por você.\n\n\n\n--- PAGE START: https://www.apronengenharia.com/servi%C3%A7os ---\nServiços | APRON Engenharia\nMore\nSuperando as suas expectativas\nNosso atendimento\nPrezamos por atender nossos clientes com eficiência e rapidez.\nOtimização\nConte com a solução do problema da sua edificação\nPontualidade\nRespeitamos os prazos estipulados em contrato.\nVistoria Cautelar de Vizinhança\nÉ  a vistoria com a finalidade de resguardar judicialmente os imóveis circunvizinhos à obra a ser realizada. Também tem como objetivo a PAP - Produção Antecipada de Prova em caso de perícia. Tem como base a NBR 12722 (ABNT - 1992), subitem 4.1.10.1: “Toda vez que for necessário resguardar interesses às propriedades vizinhas à obra (ou ao logradouro público) a ser executada, seja em virtude do tipo das fundações a executar, das escavações, aterros, sistemas de escoramento e estabilização, rebaixamento de lençol d’água, serviços provisórios ou definitivos a realizar, deve ser feita por profissional especializado habilitado uma vistoria.\"\nGarantimos o registro da situação real dos imóveis, evitando conflitos e prezando pela boa relação entre a obra e a vizinhança.\n​\nPalavras-chave: laudo cautelar; vistoria cautelar; vistoria de vizinhança.\nPerícias\nPerícia é o exame técnico de caráter especializado, ou seja, é a observação, investigação, análise, inspeção ou pesquisa minuciosa de um fato, condição ou direito, realizado por um especialista.\nE a definição de perícia de Engenharia pela resolução 345 do Confea, de 27 de julho de 1990, segue no foco da especialidade, determinando que é a atividade que envolve a apuração das causas que motivaram determinado evento ou da asserção de direitos.\nNessa perícia de Engenharia na Construção Civil o exame especializado incide no planejamento, projeto, obra em execução ou concluída, visando apurar, principalmente, a causa do evento em estudo.\n​\nPalavras-chave: laudo pericial; perícia.\nVistoria de Recebimento de Chaves - Imóvel Novo\nDevido ao crescente número de obras sendo executadas, a demanda por profissionais da construção civil aumentou e a qualificação diminuiu, trazendo uma série de prejuízo relacionados à qualidade das construções. A APRON Engenharia garante a entrega do imóvel  nas melhores condições possíveis, checando mais de 100 itens do seu imóvel a ser recebido, garantindo a qualidade afirmada na compra do empreendimento.\nVocê sabia?\nIrregularidades apontadas na fase da vistoria devem ser reparadas pela construtora, direito assegurado pelo Artigo 26 da Lei nº 8.078 de 11 de Setembro de 1990 do Código de Defesa do Consumidor. Por isso, aposte em um acompanhamento técnico antes de receber as chaves do seu imóvel!\n​\nPalavras-chave: vistoria de recebimento de chaves; vistoria de recebimento; vistoria de entrada.\nVistoria Imobiliária - Imóvel Usado\nPor que quando as pessoas pretendem adquirir um automóvel seminovo, costumam levar em uma mecânica para ser atestado a boa qualidade do veículo mas no caso de um imóvel (que na maioria das vezes apresenta valor superior), o mesmo cuidado não acontece?\n​\nGaranta a qualidade do imóvel que você está comprando, e não permita que seu sonho se torne um verdadeiro pesadelo!\nAlém de atestar o bom desempenho do imóvel, há a possibilidade de redução do valor a ser pago junto ao vendedor ou até possível desistência de um \"bom negócio\". Aposte na economia e na qualidade do seu lar!\n​\nPalavras-chave: vistoria de avaliação; laudo imobiliário.\nAvaliação de Imóveis\nO Laudo de Avaliação por Inferência Estatística é baseado na NBR 14653-2:2011 (ABNT), e tem como finalidade estimar o valor de venda de um imóvel. Este laudo é o mesmo utilizado no âmbito jurídico para fins de direito imobiliário e, principalmente, pelos bancos que financiam imóveis (CAIXA, Banco do Brasil, BNDES, Itaú, Bradesco, etc.).\nNão sabe o valor de venda do seu imóvel? Cada corretor estima um valor e você não sabe como proceder? Aposte em uma avaliação com embasamento matemático e estatístico, contrate nosso serviço de avaliação!\nInspeção Predial\nA inspeção predial tem por finalidade identificar o estado geral da edificação e de seus sistemas construtivos, analisando os aspectos de desempenho, segurança, vida útil, funcionalidade, estado de conservação, manutenção, utilização e operação.\nTendo como base a norma NBR 16747 (ABNT), a Inspeção Predial “tem por objetivo constatar o estado de conservação e funcionamento da edificação, seus sistemas e subsistemas, de forma a permitir um acompanhamento sistêmico do comportamento em uso ao longo da vida útil, para que sejam mantidas as condições necessárias à segurança, habitabilidade e durabilidade da edificação”.\nA partir da inspeção, é realizado um\ncheck-list\npara que o síndico visualize a urgência de cada reparo a ser realizado, contribuindo para um melhor direcionamento dos investimentos nos condomínios e\ndiminuindo o risco de acidentes prediais.\n​\nPalavras-chave: laudo de inspeção; inspeção em garantia; inspeção predial.\nInspeção de Fachadas\nAs fachadas proporcionam a primeira impressão sobre os proprietários que ali vivem ou empresas situadas no imóvel.\n​\nAlém do desgaste natural do tempo (incidência de sol, chuva, etc.), podem existir vícios construtivos que resultam em infiltrações e acabam comprometendo a estrutura e a estética da fachada. Para evitar o surgimento de problemas mais críticos, é recomendado a realização de inspeções nas fachadas.\n​\nO Laudo de Inspeção de Fachada aponta todas as ações corretivas e preventivas necessárias para evitar prejuízos aos proprietários e ao condomínio.\n​\nPalavras-chave: laudo de fachada; vistoria de fachada.\nLaudo Técnico de Reforma\nO Laudo de Reforma é um documento realizado nos moldes da NBR 16280 (ABNT) - \"\nReforma em edificações - Sistema de gestão de reformas - Requisitos\"\n. Neste laudo consta o Plano de Reforma, onde é demonstrado e embasado em normas técnicas todos o serviços a serem realizados, além de atestar a segurança e ausência de impacto estrutural no imóvel.\nPor isso, antes de começar a sua reforma/obra é importante contratar um profissional legalmente habilitado para apresentar um laudo contendo o Plano de Reforma e garantindo a sua segurança e de seu condomínio.\n​\nAos síndicos\n: nossa empresa também trabalha com a análise de Planos de Reforma apresentados pelos condôminos, garantindo a sua segurança e tranquilidade quanto aos aspectos técnicos envolvidos.\n​\nPalavras-chave: laudo de reforma; plano de reforma; laudo NBR 16280.\n​\nFiscalização de Obras\nA fiscalização de obras acontece em todas as etapas da construção, desde o projeto até a execução. O objetivo deste serviço é garantir a qualidade com base nas Normas Técnicas (ABNT) condizentes, além do cumprimento dos prazos e custos previstos.\n​\nO retrabalho é um dos grandes vilões da construção, impactando negativamente os prazos e gastos além de prejudicar a imagem da construtora. Para evitar contratempos e otimizar a sua obra, contrate o nosso serviço de fiscalização de obra!\n​\nPalavras-chave: fiscalização de execução de obras; laudo de conformidade.\nRecuperação Estrutural\nA recuperação estrutural tem como objetivo a recuperação dos componentes estruturais, restituindo a vida útil da estrutura. Os componentes estruturais podem apresentar problemas em ao menos três fases: projeto, execução e manutenção.\nIndependente da origem do problema, a terapia proposta tem como foco a recuperação da integridade dos elementos estruturais. Com base na NBR 6118 -\nProjeto de estruturas de concreto — Procedimento (ABNT), f\natores que podem causar a degradação na estrutura podem ser internos ou externos, tais como a exposição maior a umidade como ambientes litorâneos ou pela VU (vida útil - mínimo previsto para estruturas de concreto: 50 anos), porém antes desse prazo podem ocorrer manifestações patológicas (como trincas, fissuras, eflorescências, etc.) que devem ser sanadas.\n​\nPalavras-chave: revitalização estrutural, laudo de estruturas.\nRegularização e/ ou Averbação de Imóveis\nA regularização de imóveis genericamente pode ser resumida como a adequação necessária para que um imóvel esteja em conformidade com as leis locais, seja sobre sua matrícula, sobre a propriedade, a posse, o habite-se ou documentos diversos. A regularização de imóveis engloba vários procedimentos com o objetivo de obter a legalidade de um imóvel.\n​\nA averbação do imóvel pode ser definida como o ato de formalizar todas as alterações feitas na propriedade, ou seja, alterar o que está registrado no Cartório de Imóveis. Qualquer construção ou demolição realizada em sua residência deve constar na documentação (matrícula do imóvel) — que é o seu documento de identificação do seu imóvel.\n​\nPalavras-chave: conformidade legal; regularização; averbação.\nLaudos Técnicos em Geral\nCom o auxílio de equipamentos tecnológicos, realizamos o diagnóstico e propomos medidas a serem executadas a partir da análise de eventuais problemas provenientes de manifestações patológicas que possam ocorrer nos diversos tipos de estruturas. Em conformidade com as Normas Vigentes, elaboração de Laudos Técnicos de Engenharia Civil, tais como:\n​\nLaudo de Conformidade: constatamos se o serviço realizado está de acordo com o que foi contratado.\n​\nLaudo \"Ad Perpetuam Rei Memoriam\": registramos o atual estado da edificação para \"perpetuar a memória\" das anomalias ou falhas existentes. Este tipo de laudo é bastante requisitado no âmbito judicial.\n​\nEntre em contato com a APRON Engenharia, estamos à disposição para solucionar o seu problema!\n​\nPalavras-chave: Ad Perpetuam Rei Memoriam; laudo de conformidade; laudo de constatação.\n","token_count":3822,"page_source":"https://www.apronengenharia.com/ ---,https://www.apronengenharia.com/contato ---,https://www.apronengenharia.com/empresa ---,https://www.apronengenharia.com/servi%C3%A7os ---","created_at":"2026-01-16T21:53:16.196Z"},"pairedItem":{"item":3}}]},"versionId":"313b2df2-0b6b-4090-8c22-a4ffc6edcc48","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-16T02:29:09.758Z","createdAt":"2026-01-16T02:29:09.758Z","role":"workflow:owner","workflowId":"WoZ3QndmvnHKqaUyWyiVQ","projectId":"jk0yZKautC5L7CBp"}],"activeVersion":null,"tags":[]}